#sortable, #sortable_hidden {
    list-style-type: none;
    padding: 0;
    min-width: 350px;
    margin: auto;
    text-align: center;
    overflow: hidden;
}

#sortable.placeholder {
    background-color: #F3F7FB;
    border: 1px solid #C9D2DF;
    border-radius: 10px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
    padding: 8px;
}

#sortable li, #sortable_hidden li {
    margin: 4px 4px 2px 0;
    float: left;
    display: inline-block;
    font-size: 4em;
    text-align: center;
}

#sortable li.preview-grid {
    margin: 0;
}

.viewEditor {
    margin: 1em 0 0 1em;
}

.field-container.edit {
    border: thin solid #aeb8c4;
    background: rgba(255, 255, 255, 0.8);
    border-radius: 2px;
    box-shadow: 0 2px 19px rgba(0, 0, 0, 0.10);
}

.field-wrapper {
    font-size: 13px;
}

.field-header {
    position: relative;
    background-color: #d8e2f0;
    color: #222222;
    font-weight: bold;
    cursor: move;
}

.field-header .field-name {
    display: inline-block;
}

.field-name.truncate {
    width: 60px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.field-header .field-options, .hidden .field-options {
    float: right;
    cursor: pointer;
    opacity: 0;
    padding: 2px;
}

.field-options .options {
    background: url(../../images/wf-service.png) no-repeat;
    height: 16px;
    width: 16px;
    display: inline-block;
}

.field-options .delete {
    background: url(../../images/wf-delete.png) no-repeat;
    height: 16px;
    width: 16px;
    display: inline-block;
}

.field-placeholder {
    background-color: #d8e2f0;
    border: thin dashed #036899;
    margin: 0 1em 1em 0;
    height: 100px;
}

.field-action-button {
    margin-right: 0;
    margin-left: -20px;
    margin-bottom: -5px;
    position: relative;
}

table.field {
    width: 100%;
}

.field {
    border-collapse: collapse;
}

.field td.label {
    color: #000000;
    padding-top: 4px;
}

.field td.label:not(.no-align) {
    text-align: right;
}

.field td.content {
    text-align: left;
    padding-left: 4px;
    padding-top: 4px;
}

.field td {
    vertical-align: top;
}

.drag {
    background-color: #d8e2f0;
    /*border: 1px solid #D3D3D3;*/
    list-style-type: none;

}

.drag.hidden {
    margin: 2px;
}

.drag-ui {
    list-style-type: none;
    z-index: 10;
    text-align: center;
}

/* hidden fields */
.draggable-hidden {
    list-style-type: none;
    background: #eee;
    padding: 5px;
}

.draggable-hidden li {
    border: 1px solid #D3D3D3;
    cursor: move;
}

.ui-sortable-disabled li {
    background-image: none;
    opacity: 0.35;
    cursor: default !important;
}

.preview-grid {
    border-style: solid;
    border-color: #D8E2F0;
    border-width: 26px 1px 0px 1px;
    padding-left: 4px;
    height: 40px !important;
    color: #000000;
    font-size: 13px;
    font-style: italic;
}

.sortOrderPanel {
    list-style-type: none;
    padding: 0;
    margin: auto;
    text-align: center;
}

.sortOrderPanel li{
    margin: 4px 4px 2px 0;
    text-align: center;
}

.sortOrderPanel table {
    width: 100%;
}

.sortOrderPanel th {
    text-align: center;
    font-style: italic;
    font-size: 14px;
}