<div class="nav-pages" id="PreventiveMaintenance">
    <div class="page">
        <div class="page-row full-height" >
            <h3 class="application-title" data-activityId="AbBldgOpsPM">Preventive Maintenance</h3>
            <hr class="application-horizontal-rule">
            <div id="appProcFavoritesBucket" class="bucket-application bucket-background-light " data-activityId="" data-processId="" oncontextmenu="return false;">
                <h2 class="applications-process-title" data-processId="" title="Most often used tasks and reports.">My Favorites</h2>
                <div class="bucket-wrapper" id="wrapper_a363bae8-eb4c-4779-86ab-4acc3abdf0e1">
                    <div class="favorites-drop-target">
                        <span class="favorites-add-target"></span>
                        <span class="favorites-delete-target">&nbsp;</span>
                    </div>
                    <div class="favorites" onMouseUp="openPtask(this,event);">
                        <ol class="favorites-items">
                        </ol>
                    </div>
                </div>
            </div>
            <div class="bucket-application " data-productId="AbBldgOps" data-activityId="AbBldgOpsPM" data-processId="Operational Reports" data-productTitle="Building Operations" data-activityTitle="Preventive Maintenance" data-processTitle="Operational Reports" data-subfolder="\ab-products\bldgops\prevmaint" data-helpLink="/Subsystems/webc/Content/web_user/pm/reports/operational_reports.htm" data-helpSystem="END USER" data-dashboardLayout="" data-dashboardView="" title="" oncontextmenu="return false;" onMouseUp="openPtask(this,event);">
                <h2 class="applications-process-title" title="">
                    <span class="process-title-text">Operational Reports</span>
                </h2>
                <div class="bucket-wrapper" id="wrapper_abbldgopspm_operationalReports">
                        <ol class="ptask-labels">
                            <li>Equipment Information</li>
                            <ol class="process-tasks">
                                <li><a href="ab-bldgops-report-eq-info.axvw" rel="pTask" data-taskId="Current Equipment" data-taskIcon="ab-icon-task.gif">Current Equipment</a></li>
                                <li><a href="ab-bldgops-report-eq-pt.axvw" rel="pTask" data-taskId="Equipment Parts" data-taskIcon="ab-icon-task.gif">Equipment Parts</a></li>
                                <li><a href="ab-bldgops-report-eq-warr-servcont.axvw" rel="pTask" data-taskId="Equipment Warranties and Service Contracts" data-taskIcon="ab-icon-task.gif">Equipment Warranties and Service Contracts</a></li>
                            </ol>
                            <li>Labor Information</li>
                            <ol class="process-tasks">
                                <li><a href="ab-bldgops-report-labor-info.axvw" rel="pTask" data-taskId="Current Labor" data-taskIcon="ab-icon-task.gif">Current Labor</a></li>
                            </ol>
                            <li>Resource Information</li>
                            <ol class="process-tasks">
                                <li><a href="ab-parts-in-store-loc-crosstab.axvw" rel="pTask" data-taskId="Current Parts Inventory" data-taskIcon="ab-icon-task.gif">Current Parts Inventory</a></li>
                                <li><a href="ab-bldgops-report-tool-info.axvw" rel="pTask" data-taskId="Current Tools" data-taskIcon="ab-icon-task.gif">Current Tools</a></li>
                            </ol>
                            <li>Equipment Analysis</li>
                            <ol class="process-tasks">
                                <li><a href="ab-bldgops-report-eq-schedules.axvw" rel="pTask" data-taskId="Equipment Schedules" data-taskIcon="ab-icon-task.gif">Equipment Schedules</a></li>
                            </ol>
                            <li>Labor Analysis</li>
                            <ol class="process-tasks">
                                <li><a href="ab-bldgops-report-workload.axvw" rel="pTask" data-taskId="Trade and Craftsperson Workload" data-taskIcon="ab-icon-task.gif">Trade and Craftsperson Workload</a></li>
                                <li><a href="ab-bldgops-report-tr-avail.axvw" rel="pTask" data-taskId="Trades Availability" data-taskIcon="ab-icon-task.gif">Trades Availability</a></li>
                                <li><a href="ab-bldgops-report-cf-avail.axvw" rel="pTask" data-taskId="Craftsperson Availability" data-taskIcon="ab-icon-task.gif">Craftsperson Availability</a></li>
                            </ol>
                            <li>Resource Analysis</li>
                            <ol class="process-tasks">
                                <li><a href="ab-bldgops-report-reserved-pt-mpsl.axvw" rel="pTask" data-taskId="Reserved Parts" data-taskIcon="ab-icon-task.gif">Reserved Parts</a></li>
                                <li><a href="ab-bldgops-report-inv-variance-mpsl.axvw" rel="pTask" data-taskId="Physical Inventory Variance" data-taskIcon="ab-icon-task.gif">Physical Inventory Variance</a></li>
                                <li><a href="ab-bldgops-report-tl-avail.axvw" rel="pTask" data-taskId="Tools Availability" data-taskIcon="ab-icon-task.gif">Tools Availability</a></li>
                                <li><a href="ab-bldgops-report-tt-avail.axvw" rel="pTask" data-taskId="Tool Types Availability" data-taskIcon="ab-icon-task.gif">Tool Types Availability</a></li>
                                <li><a href="ab-bldgops-report-tl-status.axvw" rel="pTask" data-taskId="Status of Tools" data-taskIcon="ab-icon-task.gif">Status of Tools</a></li>
                            </ol>
                            <li>PM Schedules</li>
                            <ol class="process-tasks">
                                <li><a href="ab-pm-rpt-overdue-sched.axvw" rel="pTask" data-taskId="Overdue PM Schedules" data-taskIcon="ab-icon-task.gif">Overdue PM Schedules</a></li>
                            </ol>
                            <li>Statistics</li>
                            <ol class="process-tasks">
                                <li><a href="ab-bldgops-report-wr-loc.axvw" rel="pTask" data-taskId="Location of Work Requests" data-taskIcon="ab-icon-task.gif">Location of Work Requests</a></li>
                                <li><a href="ab-bldgops-report-wr-same-eq-loc.axvw" rel="pTask" data-taskId="Work Request for Same Equipment or Location" data-taskIcon="ab-icon-task.gif">Work Request for Same Equipment or Location</a></li>
                            </ol>
                            <li>Equipment  Analysis</li>
                            <ol class="process-tasks">
                                <li><a href="ab-pm-rpt-eq-fail-anls.axvw" rel="pTask" data-taskId="Equipment Failure Analysis" data-taskIcon="ab-icon-task.gif">Equipment Failure Analysis</a></li>
                                <li><a href="ab-pm-rpt-eq-repl-anls.axvw" rel="pTask" data-taskId="Equipment Replacement Analysis" data-taskIcon="ab-icon-task.gif">Equipment Replacement Analysis</a></li>
                            </ol>
                            <li>Labor  Analysis</li>
                            <ol class="process-tasks">
                                <li><a href="ab-pm-rpt-tr-pfm.axvw" rel="pTask" data-taskId="Trades Performance" data-taskIcon="ab-icon-task.gif">Trades Performance</a></li>
                                <li><a href="ab-pm-rpt-cf-pfm.axvw" rel="pTask" data-taskId="Craftsperson Performance" data-taskIcon="ab-icon-task.gif">Craftsperson Performance</a></li>
                                <li><a href="ab-pm-rpt-cf-wt.axvw" rel="pTask" data-taskId="Craftsperson Time Usage by Work Type" data-taskIcon="ab-icon-task.gif">Craftsperson Time Usage by Work Type</a></li>
                                <li><a href="ab-pm-rpt-cf-dt.axvw" rel="pTask" data-taskId="Craftsperson Time Usage by Date and Time" data-taskIcon="ab-icon-task.gif">Craftsperson Time Usage by Date and Time</a></li>
                            </ol>
                            <li>Resource  Analysis</li>
                            <ol class="process-tasks">
                                <li><a href="ab-bldgops-report-pt-hist-mpsl.axvw" rel="pTask" data-taskId="Parts Usage History" data-taskIcon="ab-icon-task.gif">Parts Usage History</a></li>
                                <li><a href="ab-bldgops-report-tl-hist.axvw" rel="pTask" data-taskId="Tool Usage History" data-taskIcon="ab-icon-task.gif">Tool Usage History</a></li>
                            </ol>
                            <li>Work Statistics</li>
                            <ol class="process-tasks">
                                <li><a href="ab-bldgops-report-hwr-resources.axvw" rel="pTask" data-taskId="Archived Work Requests and Resources" data-taskIcon="ab-icon-task.gif">Archived Work Requests and Resources</a></li>
                            </ol>
                        </ol>
                </div>
            </div>
            <div class="bucket-application " data-productId="AbBldgOps" data-activityId="AbBldgOpsPM" data-processId="Management Reports" data-productTitle="Building Operations" data-activityTitle="Preventive Maintenance" data-processTitle="Management Reports" data-subfolder="\ab-products\bldgops\prevmaint" data-helpLink="/Subsystems/webc/Content/web_user/pm/reports/management_reports.htm" data-helpSystem="END USER" data-dashboardLayout="" data-dashboardView="" title="" oncontextmenu="return false;" onMouseUp="openPtask(this,event);">
                <h2 class="applications-process-title" title="">
                    <span class="process-title-text">Management Reports</span>
                </h2>
                <div class="bucket-wrapper" id="wrapper_abbldgopspm_managementReports">
                        <ol class="ptask-labels">
                            <li>Cost Analysis</li>
                            <ol class="process-tasks">
                                <li><a href="ab-bldgops-report-wr-budget-cost.axvw" rel="pTask" data-taskId="Work Request Budgets and Costs" data-taskIcon="ab-icon-task.gif">Work Request Budgets and Costs</a></li>
                                <li><a href="ab-bldgops-report-wr-schedule-cost.axvw" rel="pTask" data-taskId="Work Request Schedules and Costs" data-taskIcon="ab-icon-task.gif">Work Request Schedules and Costs</a></li>
                            </ol>
                            <li>Statistics</li>
                            <ol class="process-tasks">
                                <li><a href="ab-bldgops-report-open-wr.axvw" rel="pTask" data-taskId="Open Work Requests" data-taskIcon="ab-icon-task.gif">Open Work Requests</a></li>
                                <li><a href="ab-pm-rpt-overdue-wr.axvw" rel="pTask" data-taskId="Overdue Work Requests" data-taskIcon="ab-icon-task.gif">Overdue Work Requests</a></li>
                            </ol>
                            <li>Cost  Analysis</li>
                            <ol class="process-tasks">
                                <li><a href="ab-bldgops-report-compl-wr-budget-cost.axvw" rel="pTask" data-taskId="Completed Work Request Budgets and Costs" data-taskIcon="ab-icon-task.gif">Completed Work Request Budgets and Costs</a></li>
                                <li><a href="ab-ondemand-report-cost-tabs.axvw" rel="pTask" data-taskId="Costs of Completed Work Requests" data-taskIcon="ab-icon-task.gif">Costs of Completed Work Requests</a></li>
                                <li><a href="ab-bldgops-report-bl-cost-by-area-occ.axvw" rel="pTask" data-taskId="Building Costs by Area and Occupancy" data-taskIcon="ab-icon-task.gif">Building Costs by Area and Occupancy</a></li>
                            </ol>
                            <li>Equipment Analysis</li>
                            <ol class="process-tasks">
                                <li><a href="ab-pm-rpt-eq-maint-hist.axvw" rel="pTask" data-taskId="Equipment Maintenance History" data-taskIcon="ab-icon-task.gif">Equipment Maintenance History</a></li>
                            </ol>
                            <li>Labor Analysis</li>
                            <ol class="process-tasks">
                                <li><a href="ab-ondemand-workteam-all-report.axvw" rel="pTask" data-taskId="Work Team Performance" data-taskIcon="ab-icon-task.gif">Work Team Performance</a></li>
                                <li><a href="ab-bldgops-report-labor-anal.axvw" rel="pTask" data-taskId="Labor  Analysis" data-taskIcon="ab-icon-task.gif">Labor  Analysis</a></li>
                            </ol>
                            <li>Work Statistics</li>
                            <ol class="process-tasks">
                                <li><a href="ab-ondemand-report-tabs.axvw" rel="pTask" data-taskId="Archived Work Requests" data-taskIcon="ab-icon-task.gif">Archived Work Requests</a></li>
                                <li><a href="ab-bldgops-report-wr-aging.axvw" rel="pTask" data-taskId="Work Request Aging" data-taskIcon="ab-icon-task.gif">Work Request Aging</a></li>
                            </ol>
                            <li>DASHBOARDS</li>
                            <ol class="process-tasks">
                                <li><a href="ab-bldgops-rpt-dash-budget-analysis.axvw" rel="pTask" data-taskId="Budget Analysis" data-taskIcon="ab-icon-task.gif">Budget Analysis</a></li>
                                <li><a href="ab-bldgops-rpt-dash-cost-analysis.axvw" rel="pTask" data-taskId="-Cost Analysis" data-taskIcon="ab-icon-task.gif">-Cost Analysis</a></li>
                                <li><a href="ab-bldgops-rpt-dash-labor-analysis.axvw" rel="pTask" data-taskId="-Labor Analysis" data-taskIcon="ab-icon-task.gif">-Labor Analysis</a></li>
                            </ol>
                        </ol>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
$(document).ready(function() {
    $('#navigationTabs').find('a').click(function() {return false;});
    initDandDFavorites();
    setPageDimensions();
    bindTaskContextMenu();
    localizeFavoritesDisplayText();
    loadFavoritesBuckets();
    modifyProcessTitleDisplay();
    pageTallPTaskBuckets();
});
</script>