<div class="nav-pages" id="ServiceDesk">
    <div class="page">
        <div class="page-row full-height" >
            <h3 class="application-title" data-activityId="AbBldgOpsHelpDesk">Service Desk</h3>
            <hr class="application-horizontal-rule">
            <div id="appProcFavoritesBucket" class="bucket-application bucket-background-light " data-activityId="" data-processId="" oncontextmenu="return false;">
                <h2 class="applications-process-title" data-processId="" title="Most often used tasks and reports.">My Favorites</h2>
                <div class="bucket-wrapper" id="wrapper_f763114f-f1a8-4d29-ad44-330997e86ac4">
                    <div class="favorites-drop-target">
                        <span class="favorites-add-target"></span>
                        <span class="favorites-delete-target">&nbsp;</span>
                    </div>
                    <div class="favorites" onMouseUp="openPtask(this,event);">
                        <ol class="favorites-items">
                        </ol>
                    </div>
                </div>
            </div>
            <div class="bucket-application " data-productId="AbWorkplaceServices" data-activityId="AbBldgOpsHelpDesk" data-processId="Client" data-productTitle="Workplace Services" data-activityTitle="Service Desk" data-processTitle="Client" data-subfolder="\ab-products\bldgops\helpdesk" data-helpLink="\Subsystems\webc\Content\web_user\service_desk\requestor\entering_request.htm" data-helpSystem="END USER" data-dashboardLayout="" data-dashboardView="" title="" oncontextmenu="return false;" onMouseUp="openPtask(this,event);">
                <h2 class="applications-process-title" title="">
                    <span class="process-title-text">Client</span>
                </h2>
                <div class="bucket-wrapper" id="wrapper_abbldgopshelpdesk_client">
                        <ol class="ptask-labels">
                            <li></li>
                            <ol class="process-tasks">
                                <li><a href="ab-helpdesk-request-create.axvw" rel="pTask" data-taskId="Create Service Request" data-taskIcon="ab-icon-task.gif">Create Service Request</a></li>
                                <li><a href="ab-helpdesk-request-view-tabs.axvw" rel="pTask" data-taskId="View Service Requests" data-taskIcon="ab-icon-task.gif">View Service Requests</a></li>
                                <li><a href="ab-helpdesk-request-create-mng.axvw" rel="pTask" data-taskId="Manage Un-submitted Service Requests" data-taskIcon="ab-icon-task.gif">Manage Un-submitted Service Requests</a></li>
                            </ol>
                            <li class="empty-taskgroup-title">&nbsp;</li>
                            <ol class="process-tasks">
                                <li><a href="ab-floorsonly-drawing-redlines.axvw" rel="pTask" data-taskId="Create Redlines by Location" data-taskIcon="ab-icon-task.gif">Create Redlines by Location</a></li>
                            </ol>
                        </ol>
                </div>
            </div>
            <div class="bucket-application " data-productId="AbWorkplaceServices" data-activityId="AbBldgOpsHelpDesk" data-processId="Reports" data-productTitle="Workplace Services" data-activityTitle="Service Desk" data-processTitle="Reports" data-subfolder="\ab-products\bldgops\helpdesk" data-helpLink="\Subsystems\webc\Content\web_user\service_desk\reports\service_desk_rpts.htm" data-helpSystem="END USER" data-dashboardLayout="" data-dashboardView="" title="" oncontextmenu="return false;" onMouseUp="openPtask(this,event);">
                <h2 class="applications-process-title" title="">
                    <span class="process-title-text">Reports</span>
                </h2>
                <div class="bucket-wrapper" id="wrapper_abbldgopshelpdesk_reports">
                        <ol class="ptask-labels">
                            <li></li>
                            <ol class="process-tasks">
                                <li><a href="ab-helpdesk-report-requesttypes.axvw" rel="pTask" data-taskId="Open Service Requests by Request Type and Status" data-taskIcon="ab-icon-task.gif">Open Service Requests by Request Type and Status</a></li>
                                <li><a href="ab-helpdesk-cost-report-tabs.axvw" rel="pTask" data-taskId="Costs of Open Service Requests" data-taskIcon="ab-icon-task.gif">Costs of Open Service Requests</a></li>
                            </ol>
                            <li class="empty-taskgroup-title">&nbsp;</li>
                            <ol class="process-tasks">
                                <li><a href="ab-helpdesk-report-tabs.axvw" rel="pTask" data-taskId="Archived Service Requests" data-taskIcon="ab-icon-task.gif">Archived Service Requests</a></li>
                                <li><a href="ab-helpdesk-report-requesttype-tabs.axvw" rel="pTask" data-taskId="Archived Service Request Types" data-taskIcon="ab-icon-task.gif">Archived Service Request Types</a></li>
                                <li><a href="ab-helpdesk-report-cost-tabs.axvw" rel="pTask" data-taskId="Costs of Archived Service Requests" data-taskIcon="ab-icon-task.gif">Costs of Archived Service Requests</a></li>
                            </ol>
                            <li class="empty-taskgroup-title">&nbsp;</li>
                            <ol class="process-tasks">
                                <li><a href="ab-helpdesk-report-sla-tabs.axvw" rel="pTask" data-taskId="Archived Escalated Service Requests" data-taskIcon="ab-icon-task.gif">Archived Escalated Service Requests</a></li>
                                <li><a href="ab-helpdesk-report-satisfaction-tabs.axvw" rel="pTask" data-taskId="Satisfaction Survey Results of Archived Service Requests" data-taskIcon="ab-icon-task.gif">Satisfaction Survey Results of Archived Service Requests</a></li>
                            </ol>
                            <li class="empty-taskgroup-title">&nbsp;</li>
                            <ol class="process-tasks">
                                <li><a href="ab-review-redlines-architect.axvw" rel="pTask" data-taskId="Review Redlines by Location" data-taskIcon="ab-icon-task.gif">Review Redlines by Location</a></li>
                            </ol>
                        </ol>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
$(document).ready(function() {
    $('#navigationTabs').find('a').click(function() {return false;});
    initDandDFavorites();
    setPageDimensions();
    bindTaskContextMenu();
    localizeFavoritesDisplayText();
    loadFavoritesBuckets();
    modifyProcessTitleDisplay();
    pageTallPTaskBuckets();
});
</script>