<div class="nav-pages" id="CleanBuilding">
    <div class="page">
        <div class="page-row full-height" >
            <h3 class="application-title" data-activityId="AbRiskCleanBuilding">Clean Building</h3>
            <hr class="application-horizontal-rule">
            <div id="appProcFavoritesBucket" class="bucket-application bucket-background-light " data-activityId="" data-processId="" oncontextmenu="return false;">
                <h2 class="applications-process-title" data-processId="" title="Most often used tasks and reports.">My Favorites</h2>
                <div class="bucket-wrapper" id="wrapper_0de0e974-1c5a-400b-805a-93805f02d1a7">
                    <div class="favorites-drop-target">
                        <span class="favorites-add-target"></span>
                        <span class="favorites-delete-target">&nbsp;</span>
                    </div>
                    <div class="favorites" onMouseUp="openPtask(this,event);">
                        <ol class="favorites-items">
                        </ol>
                    </div>
                </div>
            </div>
            <div class="bucket-application " data-productId="AbRisk" data-activityId="AbRiskCleanBuilding" data-processId="Field Assessor" data-productTitle="Environmental & Risk Management" data-activityTitle="Clean Building" data-processTitle="Field Assessor" data-subfolder="\ab-products\risk\clean" data-helpLink="\Subsystems\webc\Content\clean\field\overview.htm" data-helpSystem="END USER" data-dashboardLayout="" data-dashboardView="" title="" oncontextmenu="return false;" onMouseUp="openPtask(this,event);">
                <h2 class="applications-process-title" title="">
                    <span class="process-title-text">Field Assessor</span>
                </h2>
                <div class="bucket-wrapper" id="wrapper_abriskcleanbuilding_fieldAssessor">
                        <ol class="ptask-labels">
                            <li></li>
                            <ol class="process-tasks">
                                <li><a href="ab-cb-my-activity-items.axvw" rel="pTask" data-taskId="Manage My Project Activity Items" data-taskIcon="ab-icon-task.gif">Manage My Project Activity Items</a></li>
                                <li><a href="ab-cb-my-assess-items.axvw" rel="pTask" data-taskId="Manage My Hazard Assessment Items" data-taskIcon="ab-icon-task.gif">Manage My Hazard Assessment Items</a></li>
                            </ol>
                            <li class="empty-taskgroup-title">&nbsp;</li>
                            <ol class="process-tasks">
                                <li><a href="ab-cb-rpt-my-loc.axvw" rel="pTask" data-taskId="View Locations" data-taskIcon="ab-icon-task.gif">View Locations</a></li>
                                <li><a href="ab-cb-rpt-my-locs.axvw" rel="pTask" data-taskId="View Locations Drill-down" data-taskIcon="ab-icon-task.gif">View Locations Drill-down</a></li>
                                <li><a href="ab-cb-rpt-assess-loc.axvw" rel="pTask" data-taskId="View Assessment Items by Location" data-taskIcon="ab-icon-task.gif">View Assessment Items by Location</a></li>
                                <li><a href="ab-cb-rpt-hl-haz.axvw" rel="pTask" data-taskId="Hazard Areas and Assessment Items" data-taskIcon="ab-icon-task.gif">Hazard Areas and Assessment Items</a></li>
                            </ol>
                        </ol>
                </div>
            </div>
            <div class="bucket-application " data-productId="AbRisk" data-activityId="AbRiskCleanBuilding" data-processId="Abatement Worker" data-productTitle="Environmental & Risk Management" data-activityTitle="Clean Building" data-processTitle="Abatement Worker" data-subfolder="\ab-products\risk\clean" data-helpLink="\Subsystems\webc\Content\clean\abatement\overview.htm" data-helpSystem="END USER" data-dashboardLayout="" data-dashboardView="" title="" oncontextmenu="return false;" onMouseUp="openPtask(this,event);">
                <h2 class="applications-process-title" title="">
                    <span class="process-title-text">Abatement Worker</span>
                </h2>
                <div class="bucket-wrapper" id="wrapper_abriskcleanbuilding_abatementWorker">
                        <ol class="ptask-labels">
                            <li></li>
                            <ol class="process-tasks">
                                <li><a href="ab-cb-my-abate-reqs.axvw" rel="pTask" data-taskId="Manage My Abatement Activity Items" data-taskIcon="ab-icon-task.gif">Manage My Abatement Activity Items</a></li>
                                <li><a href="ab-cb-my-abate-items.axvw" rel="pTask" data-taskId="Manage My Hazard Abatement Items" data-taskIcon="ab-icon-task.gif">Manage My Hazard Abatement Items</a></li>
                            </ol>
                            <li class="empty-taskgroup-title">&nbsp;</li>
                            <ol class="process-tasks">
                                <li><a href="ab-cb-rpt-my-loc.axvw" rel="pTask" data-taskId="View Locations" data-taskIcon="ab-icon-task.gif">View Locations</a></li>
                                <li><a href="ab-cb-rpt-my-locs.axvw" rel="pTask" data-taskId="View Locations Drill-down" data-taskIcon="ab-icon-task.gif">View Locations Drill-down</a></li>
                                <li><a href="ab-cb-rpt-assess-loc.axvw" rel="pTask" data-taskId="View Assessment Items by Location" data-taskIcon="ab-icon-task.gif">View Assessment Items by Location</a></li>
                                <li><a href="ab-cb-rpt-hl-haz.axvw" rel="pTask" data-taskId="Hazard Areas and Assessment Items" data-taskIcon="ab-icon-task.gif">Hazard Areas and Assessment Items</a></li>
                            </ol>
                        </ol>
                </div>
            </div>
            <div class="bucket-application " data-productId="AbRisk" data-activityId="AbRiskCleanBuilding" data-processId="Operational Reports" data-productTitle="Environmental & Risk Management" data-activityTitle="Clean Building" data-processTitle="Operational Reports" data-subfolder="\ab-products\risk\clean" data-helpLink="\Subsystems\webc\Content\clean\operational_reports\overview.htm" data-helpSystem="END USER" data-dashboardLayout="" data-dashboardView="" title="" oncontextmenu="return false;" onMouseUp="openPtask(this,event);">
                <h2 class="applications-process-title" title="">
                    <span class="process-title-text">Operational Reports</span>
                </h2>
                <div class="bucket-wrapper" id="wrapper_abriskcleanbuilding_operationalReports">
                        <ol class="ptask-labels">
                            <li></li>
                            <ol class="process-tasks">
                                <li><a href="ab-cb-rpt-summary.axvw" rel="pTask" data-taskId="Hazard Assessment Items Summary" data-taskIcon="ab-icon-task.gif">Hazard Assessment Items Summary</a></li>
                                <li><a href="ab-cb-rpt-scoreboard.axvw" rel="pTask" data-taskId="Hazard Assessment Scoreboard" data-taskIcon="ab-icon-task.gif">Hazard Assessment Scoreboard</a></li>
                                <li><a href="ab-cb-rpt-assess-loc.axvw" rel="pTask" data-taskId="Hazard Assessment Items by Location" data-taskIcon="ab-icon-task.gif">Hazard Assessment Items by Location</a></li>
                                <li><a href="ab-cb-rpt-drilldown.axvw" rel="pTask" data-taskId="Hazard Assessments by Location Drill-down" data-taskIcon="ab-icon-task.gif">Hazard Assessments by Location Drill-down</a></li>
                                <li><a href="ab-cb-rpt-assess-all.axvw" rel="pTask" data-taskId="All Hazard Assessment Items" data-taskIcon="ab-icon-task.gif">All Hazard Assessment Items</a></li>
                                <li><a href="ab-cb-rpt-act-summary.axvw" rel="pTask" data-taskId="Project Activity Summary" data-taskIcon="ab-icon-task.gif">Project Activity Summary</a></li>
                                <li><a href="ab-cb-rpt-comm-log.axvw" rel="pTask" data-taskId="Communications Log" data-taskIcon="ab-icon-task.gif">Communications Log</a></li>
                            </ol>
                            <li>Drawings</li>
                            <ol class="process-tasks">
                                <li><a href="ab-cb-rpt-hl-bl-rm-prj.axvw" rel="pTask" data-taskId="Buildings and Rooms by Project" data-taskIcon="ab-icon-task.gif">Buildings and Rooms by Project</a></li>
                                <li><a href="ab-cb-rpt-hl-bl-rm.axvw" rel="pTask" data-taskId="Buildings and Rooms with Assessments" data-taskIcon="ab-icon-task.gif">Buildings and Rooms with Assessments</a></li>
                                <li><a href="ab-cb-rpt-hl-fl.axvw" rel="pTask" data-taskId="Floor Plans with Hazard Assessments" data-taskIcon="ab-icon-task.gif">Floor Plans with Hazard Assessments</a></li>
                                <li><a href="ab-cb-rpt-hl-haz.axvw" rel="pTask" data-taskId="Hazard Areas and Assessment Items" data-taskIcon="ab-icon-task.gif">Hazard Areas and Assessment Items</a></li>
                                <li><a href="ab-cb-rpt-haz-bl-map.axvw" rel="pTask" data-taskId="Hazard Assessments by Building Map" data-taskIcon="ab-icon-task.gif">Hazard Assessments by Building Map</a></li>
                            </ol>
                        </ol>
                </div>
            </div>
            <div class="bucket-application " data-productId="AbRisk" data-activityId="AbRiskCleanBuilding" data-processId="Management Reports" data-productTitle="Environmental & Risk Management" data-activityTitle="Clean Building" data-processTitle="Management Reports" data-subfolder="\ab-products\risk\clean" data-helpLink="\Subsystems\webc\Content\clean\management_reports\overview.htm" data-helpSystem="END USER" data-dashboardLayout="" data-dashboardView="" title="" oncontextmenu="return false;" onMouseUp="openPtask(this,event);">
                <h2 class="applications-process-title" title="">
                    <span class="process-title-text">Management Reports</span>
                </h2>
                <div class="bucket-wrapper" id="wrapper_abriskcleanbuilding_managementReports">
                        <ol class="ptask-labels">
                            <li></li>
                            <ol class="process-tasks">
                                <li><a href="ab-cb-rpt-summary-chart.axvw" rel="pTask" data-taskId="Hazard Assessment Summary Chart" data-taskIcon="ab-icon-task.gif">Hazard Assessment Summary Chart</a></li>
                                <li><a href="ab-cb-rpt-scoreboard.axvw" rel="pTask" data-taskId="Hazard Assessment Scoreboard" data-taskIcon="ab-icon-task.gif">Hazard Assessment Scoreboard</a></li>
                                <li><a href="ab-cb-rpt-summary.axvw" rel="pTask" data-taskId="Hazard Assessment Items Summary" data-taskIcon="ab-icon-task.gif">Hazard Assessment Items Summary</a></li>
                                <li><a href="ab-cb-rpt-drilldown.axvw" rel="pTask" data-taskId="Hazard Assessments by Location Drill-down" data-taskIcon="ab-icon-task.gif">Hazard Assessments by Location Drill-down</a></li>
                                <li><a href="ab-cb-rpt-tot-compare.axvw" rel="pTask" data-taskId="Hazard Assessment Count by Location" data-taskIcon="ab-icon-task.gif">Hazard Assessment Count by Location</a></li>
                                <li><a href="ab-cb-rpt-tot-by-year.axvw" rel="pTask" data-taskId="Hazard Assessment Count by Year" data-taskIcon="ab-icon-task.gif">Hazard Assessment Count by Year</a></li>
                                <li><a href="ab-cb-rpt-tot-by-year-compare.axvw" rel="pTask" data-taskId="Hazard Assessment Count by Location/Year" data-taskIcon="ab-icon-task.gif">Hazard Assessment Count by Location/Year</a></li>
                                <li><a href="ab-cb-rpt-cost-by-prj.axvw" rel="pTask" data-taskId="Hazard Assessment Costs by Project" data-taskIcon="ab-icon-task.gif">Hazard Assessment Costs by Project</a></li>
                            </ol>
                            <li>Drawings</li>
                            <ol class="process-tasks">
                                <li><a href="ab-cb-rpt-hl-bl-rm-prj.axvw" rel="pTask" data-taskId="Buildings and Rooms by Project" data-taskIcon="ab-icon-task.gif">Buildings and Rooms by Project</a></li>
                                <li><a href="ab-cb-rpt-hl-bl-rm.axvw" rel="pTask" data-taskId="Buildings and Rooms with Assessments" data-taskIcon="ab-icon-task.gif">Buildings and Rooms with Assessments</a></li>
                                <li><a href="ab-cb-rpt-hl-fl.axvw" rel="pTask" data-taskId="Floor Plans with Hazard Assessments" data-taskIcon="ab-icon-task.gif">Floor Plans with Hazard Assessments</a></li>
                                <li><a href="ab-cb-rpt-haz-bl-map.axvw" rel="pTask" data-taskId="Hazard Assessments by Building Map" data-taskIcon="ab-icon-task.gif">Hazard Assessments by Building Map</a></li>
                            </ol>
                        </ol>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
$(document).ready(function() {
    $('#navigationTabs').find('a').click(function() {return false;});
    initDandDFavorites();
    setPageDimensions();
    bindTaskContextMenu();
    localizeFavoritesDisplayText();
    loadFavoritesBuckets();
    modifyProcessTitleDisplay();
    pageTallPTaskBuckets();
});
</script>