<div class="nav-pages" id="EnergyManagement">
    <div class="page">
        <div class="page-row full-height" >
            <h3 class="application-title" data-activityId="AbRiskEnergyManagement">Energy Management</h3>
            <hr class="application-horizontal-rule">
            <div id="appProcFavoritesBucket" class="bucket-application bucket-background-light " data-activityId="" data-processId="" oncontextmenu="return false;">
                <h2 class="applications-process-title" data-processId="" title="Most often used tasks and reports.">My Favorites</h2>
                <div class="bucket-wrapper" id="wrapper_2e28f638-b61f-4e6d-ac90-3564c5ca6948">
                    <div class="favorites-drop-target">
                        <span class="favorites-add-target"></span>
                        <span class="favorites-delete-target">&nbsp;</span>
                    </div>
                    <div class="favorites" onMouseUp="openPtask(this,event);">
                        <ol class="favorites-items">
                        </ol>
                    </div>
                </div>
            </div>
            <div class="bucket-application " data-productId="AbRisk" data-activityId="AbRiskEnergyManagement" data-processId="Energy Manager" data-productTitle="Environmental & Risk Management" data-activityTitle="Energy Management" data-processTitle="Energy Manager / Facilities Director" data-subfolder="\ab-products\risk\energy" data-helpLink="\Subsystems\webc\Content\energy\energy_mgr\overview.htm" data-helpSystem="END USER" data-dashboardLayout="" data-dashboardView="" title="" oncontextmenu="return false;" onMouseUp="openPtask(this,event);">
                <h2 class="applications-process-title" title="">
                    <span class="process-title-text">Energy Manager / Facilities Director</span>
                </h2>
                <div class="bucket-wrapper" id="wrapper_abriskenergymanagement_energyManager">
                        <ol class="ptask-labels">
                            <li></li>
                            <ol class="process-tasks">
                                <li><a href="ab-energy-console.axvw" rel="pTask" data-taskId="Utility Analysis Console" data-taskIcon="ab-icon-task.gif">Utility Analysis Console</a></li>
                            </ol>
                            <li>Utility Reports</li>
                            <ol class="process-tasks">
                                <li><a href="ab-energy-bill-and-line-view.axvw" rel="pTask" data-taskId="View Bills and Line Items" data-taskIcon="ab-icon-task.gif">View Bills and Line Items</a></li>
                                <li><a href="ab-energy-archived-bill-and-line-view.axvw" rel="pTask" data-taskId="View Archived Bills and Line Items" data-taskIcon="ab-icon-task.gif">View Archived Bills and Line Items</a></li>
                                <li><a href="ab-energy-prorated-aggregated-bills.axvw" rel="pTask" data-taskId="View Prorated/Aggregated Bills" data-taskIcon="ab-icon-task.gif">View Prorated/Aggregated Bills</a></li>
                                <li><a href="ab-energy-utility-metrics.axvw" rel="pTask" data-taskId="Utility Bill Metrics" data-taskIcon="ab-icon-task.gif">Utility Bill Metrics</a></li>
                                <li><a href="ab-energy-cash-flow-rep.axvw" rel="pTask" data-taskId="Cash Flow Report" data-taskIcon="ab-icon-task.gif">Cash Flow Report</a></li>
                                <li><a href="ab-energy-cost-by-year.axvw" rel="pTask" data-taskId="Year-to-Year Cost Comparison" data-taskIcon="ab-icon-task.gif">Year-to-Year Cost Comparison</a></li>
                                <li><a href="ab-energy-cost-locations.axvw" rel="pTask" data-taskId="Cost per Area for Multiple Locations" data-taskIcon="ab-icon-task.gif">Cost per Area for Multiple Locations</a></li>
                                <li><a href="ab-energy-consumption-by-person.axvw" rel="pTask" data-taskId="Consumption per Person" data-taskIcon="ab-icon-task.gif">Consumption per Person</a></li>
                                <li><a href="ab-energy-consumption-compare-billed.axvw" rel="pTask" data-taskId="Compare Billed Usage: Current vs Previous" data-taskIcon="ab-icon-task.gif">Compare Billed Usage: Current vs Previous</a></li>
                                <li><a href="ab-energy-year-to-date-summary.axvw" rel="pTask" data-taskId="Year-to-Date Summary" data-taskIcon="ab-icon-task.gif">Year-to-Date Summary</a></li>
                                <li><a href="ab-energy-annual-summary.axvw" rel="pTask" data-taskId="Electric Annual Summary" data-taskIcon="ab-icon-task.gif">Electric Annual Summary</a></li>
                            </ol>
                            <li>Utility Analytics</li>
                            <ol class="process-tasks">
                                <li><a href="ab-energy-cost-usage.axvw" rel="pTask" data-taskId="Cost and Usage" data-taskIcon="ab-icon-task.gif">Cost and Usage</a></li>
                                <li><a href="ab-energy-bill-prorate.axvw" rel="pTask" data-taskId="Prorate Utility Bills" data-taskIcon="ab-icon-task.gif">Prorate Utility Bills</a></li>
                                <li><a href="ab-energy-scenarios.axvw" rel="pTask" data-taskId="What-if Scenarios" data-taskIcon="ab-icon-task.gif">What-if Scenarios</a></li>
                            </ol>
                            <li>Meter Analytics</li>
                            <ol class="process-tasks">
                                <li><a href="ab-energy-bas-time.axvw" rel="pTask" data-taskId="Meter Analytics Over Time" data-taskIcon="ab-icon-task.gif">Meter Analytics Over Time</a></li>
                                <li><a href="ab-energy-bas-loc.axvw" rel="pTask" data-taskId="Meter Analytics by Location" data-taskIcon="ab-icon-task.gif">Meter Analytics by Location</a></li>
                            </ol>
                            <li>Maps</li>
                            <ol class="process-tasks">
                                <li><a href="ab-energy-thematic-map-masterview.axvw" rel="pTask" data-taskId="Thematic Energy Map" data-taskIcon="ab-icon-task.gif">Thematic Energy Map</a></li>
                            </ol>
                            <li>Weather Model Regression Analysis</li>
                            <ol class="process-tasks">
                                <li><a href="ab-energy-jobs.axvw" rel="pTask" data-taskId="Update Calculations" data-taskIcon="ab-icon-task.gif">Update Calculations</a></li>
                                <li><a href="ab-energy-usage-weather.axvw" rel="pTask" data-taskId="Usage with Weather Model" data-taskIcon="ab-icon-task.gif">Usage with Weather Model</a></li>
                                <li><a href="ab-energy-bill-processing-exceptions.axvw" rel="pTask" data-taskId="Bill Processing Exceptions" data-taskIcon="ab-icon-task.gif">Bill Processing Exceptions</a></li>
                            </ol>
                        </ol>
                </div>
            </div>
            <div class="bucket-application " data-productId="AbRisk" data-activityId="AbRiskEnergyManagement" data-processId="Operations Manager" data-productTitle="Environmental & Risk Management" data-activityTitle="Energy Management" data-processTitle="Operations / Contracts Manager" data-subfolder="\ab-products\risk\energy" data-helpLink="\Subsystems\webc\Content\energy\operations\overview.htm" data-helpSystem="END USER" data-dashboardLayout="" data-dashboardView="" title="" oncontextmenu="return false;" onMouseUp="openPtask(this,event);">
                <h2 class="applications-process-title" title="">
                    <span class="process-title-text">Operations / Contracts Manager</span>
                </h2>
                <div class="bucket-wrapper" id="wrapper_abriskenergymanagement_operationsManager">
                        <ol class="ptask-labels">
                            <li>Portfolio Analytics</li>
                            <ol class="process-tasks">
                                <li><a href="ab-energy-utility-metrics.axvw" rel="pTask" data-taskId="Utility Metrics" data-taskIcon="ab-icon-task.gif">Utility Metrics</a></li>
                            </ol>
                        </ol>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
$(document).ready(function() {
    $('#navigationTabs').find('a').click(function() {return false;});
    initDandDFavorites();
    setPageDimensions();
    bindTaskContextMenu();
    localizeFavoritesDisplayText();
    loadFavoritesBuckets();
    modifyProcessTitleDisplay();
    pageTallPTaskBuckets();
});
</script>