<div class="nav-pages" id="WasteManagement">
    <div class="page">
        <div class="page-row full-height" >
            <h3 class="application-title" data-activityId="AbRiskWasteMgmt">Waste Management</h3>
            <hr class="application-horizontal-rule">
            <div id="appProcFavoritesBucket" class="bucket-application bucket-background-light " data-activityId="" data-processId="" oncontextmenu="return false;">
                <h2 class="applications-process-title" data-processId="" title="Most often used tasks and reports.">My Favorites</h2>
                <div class="bucket-wrapper" id="wrapper_c25dc523-8c98-4cdb-9795-902dd12aacb5">
                    <div class="favorites-drop-target">
                        <span class="favorites-add-target"></span>
                        <span class="favorites-delete-target">&nbsp;</span>
                    </div>
                    <div class="favorites" onMouseUp="openPtask(this,event);">
                        <ol class="favorites-items">
                        </ol>
                    </div>
                </div>
            </div>
            <div class="bucket-application " data-productId="AbRisk" data-activityId="AbRiskWasteMgmt" data-processId="Waste - Review" data-productTitle="Environmental & Risk Management" data-activityTitle="Waste Management" data-processTitle="Review" data-subfolder="\ab-products\risk\waste" data-helpLink="\Subsystems\webc\Content\waste\review\overview.htm" data-helpSystem="END USER" data-dashboardLayout="" data-dashboardView="" title="" oncontextmenu="return false;" onMouseUp="openPtask(this,event);">
                <h2 class="applications-process-title" title="">
                    <span class="process-title-text">Review</span>
                </h2>
                <div class="bucket-wrapper" id="wrapper_abriskwastemgmt_wasteReview">
                        <ol class="ptask-labels">
                            <li>Waste Accumulation</li>
                            <ol class="process-tasks">
                                <li><a href="ab-waste-rpt-accumulation-summary.axvw" rel="pTask" data-taskId="Waste Accumulation Summary" data-taskIcon="ab-icon-task.gif">Waste Accumulation Summary</a></li>
                                <li><a href="ab-waste-rpt-haz-accumulation.axvw" rel="pTask" data-taskId="Hazardous Waste Accumulation" data-taskIcon="ab-icon-task.gif">Hazardous Waste Accumulation</a></li>
                            </ol>
                            <li>Waste Storage</li>
                            <ol class="process-tasks">
                                <li><a href="ab-waste-rpt-storage-summary.axvw" rel="pTask" data-taskId="Waste Storage Summary" data-taskIcon="ab-icon-task.gif">Waste Storage Summary</a></li>
                                <li><a href="ab-waste-rpt-haz-storage.axvw" rel="pTask" data-taskId="Hazardous Waste Storage" data-taskIcon="ab-icon-task.gif">Hazardous Waste Storage</a></li>
                            </ol>
                            <li>Waste Dispositions</li>
                            <ol class="process-tasks">
                                <li><a href="ab-waste-rpt-shipments.axvw" rel="pTask" data-taskId="Waste Shipments" data-taskIcon="ab-icon-task.gif">Waste Shipments</a></li>
                                <li><a href="ab-waste-rpt-discharges.axvw" rel="pTask" data-taskId="Waste Discharges" data-taskIcon="ab-icon-task.gif">Waste Discharges</a></li>
                                <li><a href="ab-waste-rpt-recent-dispositions.axvw" rel="pTask" data-taskId="Recently Shipped/Discharged Waste" data-taskIcon="ab-icon-task.gif">Recently Shipped/Discharged Waste</a></li>
                                <li><a href="ab-waste-rpt-shipment-finder.axvw" rel="pTask" data-taskId="Waste Shipment Finder" data-taskIcon="ab-icon-task.gif">Waste Shipment Finder</a></li>
                            </ol>
                            <li>Waste Details</li>
                            <ol class="process-tasks">
                                <li><a href="ab-waste-rpt-profile-by-cat.axvw" rel="pTask" data-taskId="Waste Profiles by Category" data-taskIcon="ab-icon-task.gif">Waste Profiles by Category</a></li>
                                <li><a href="ab-waste-rpt-profile-by-regulated-code.axvw" rel="pTask" data-taskId="Waste Profiles by Regulated Code" data-taskIcon="ab-icon-task.gif">Waste Profiles by Regulated Code</a></li>
                                <li><a href="ab-waste-rpt-container-labels.axvw" rel="pTask" data-taskId="Waste Container Labels" data-taskIcon="ab-icon-task.gif">Waste Container Labels</a></li>
                            </ol>
                            <li>Waste Manifests</li>
                            <ol class="process-tasks">
                                <li><a href="ab-waste-rpt-manifests.axvw" rel="pTask" data-taskId="Waste Manifest" data-taskIcon="ab-icon-task.gif">Waste Manifest</a></li>
                            </ol>
                            <li>Management Reports</li>
                            <ol class="process-tasks">
                                <li><a href="ab-waste-rpt-amounts.axvw" rel="pTask" data-taskId="Waste Amounts in Date Range" data-taskIcon="ab-icon-task.gif">Waste Amounts in Date Range</a></li>
                                <li><a href="ab-waste-rpt-amounts-by-cat.axvw" rel="pTask" data-taskId="Waste Amounts by Category" data-taskIcon="ab-icon-task.gif">Waste Amounts by Category</a></li>
                                <li><a href="ab-waste-rpt-summary.axvw" rel="pTask" data-taskId="Waste Summary" data-taskIcon="ab-icon-task.gif">Waste Summary</a></li>
                                <li><a href="ab-waste-rpt-totals-by-cat.axvw" rel="pTask" data-taskId="Waste Totals by Category" data-taskIcon="ab-icon-task.gif">Waste Totals by Category</a></li>
                                <li><a href="ab-waste-rpt-totals-by-cat-handler.axvw" rel="pTask" data-taskId="Waste Totals by Category and Handler" data-taskIcon="ab-icon-task.gif">Waste Totals by Category and Handler</a></li>
                                <li><a href="ab-waste-rpt-map.axvw" rel="pTask" data-taskId="Waste Management Map" data-taskIcon="ab-icon-task.gif">Waste Management Map</a></li>
                            </ol>
                        </ol>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
$(document).ready(function() {
    $('#navigationTabs').find('a').click(function() {return false;});
    initDandDFavorites();
    setPageDimensions();
    bindTaskContextMenu();
    localizeFavoritesDisplayText();
    loadFavoritesBuckets();
    modifyProcessTitleDisplay();
    pageTallPTaskBuckets();
});
</script>