<div class="nav-pages" id="StrategicFinancialAnalysis">
    <div class="page">
        <div class="page-row full-height" >
            <h3 class="application-title" data-activityId="AbRPLMStrategicFinancialAnalysis">Strategic Financial Analysis</h3>
            <hr class="application-horizontal-rule">
            <div id="appProcFavoritesBucket" class="bucket-application bucket-background-light " data-activityId="" data-processId="" oncontextmenu="return false;">
                <h2 class="applications-process-title" data-processId="" title="Most often used tasks and reports.">My Favorites</h2>
                <div class="bucket-wrapper" id="wrapper_79000f67-ded1-4191-ab24-82b4b7c6dd50">
                    <div class="favorites-drop-target">
                        <span class="favorites-add-target"></span>
                        <span class="favorites-delete-target">&nbsp;</span>
                    </div>
                    <div class="favorites" onMouseUp="openPtask(this,event);">
                        <ol class="favorites-items">
                        </ol>
                    </div>
                </div>
            </div>
            <div class="bucket-application " data-productId="AbRPLM" data-activityId="AbRPLMStrategicFinancialAnalysis" data-processId="Financial Analysis" data-productTitle="Real Estate Portfolio Management" data-activityTitle="Strategic Financial Analysis" data-processTitle="Financial Analysis" data-subfolder="\ab-products\rplm\finanal\console" data-helpLink="/Subsystems/webc/Content/sfa/financial_anal/overview.htm" data-helpSystem="END USER" data-dashboardLayout="" data-dashboardView="" title="" oncontextmenu="return false;" onMouseUp="openPtask(this,event);">
                <h2 class="applications-process-title" title="">
                    <span class="process-title-text">Financial Analysis</span>
                </h2>
                <div class="bucket-wrapper" id="wrapper_abrplmstrategicfinancialanalysis_financialAnalysis">
                        <ol class="ptask-labels">
                            <li></li>
                            <ol class="process-tasks">
                                <li><a href="ab-finanal-console.axvw" rel="pTask" data-taskId="Financial Analysis Console" data-taskIcon="ab-icon-task.gif">Financial Analysis Console</a></li>
                            </ol>
                            <li class="empty-taskgroup-title">&nbsp;</li>
                            <ol class="process-tasks">
                                <li><a href="ab-rplm-cost-mgmt-cash-flow-rep.axvw" rel="pTask" data-taskId="Cash Flow Report" data-taskIcon="ab-icon-task.gif">Cash Flow Report</a></li>
                            </ol>
                            <li>Aggregate and Forecast Costs for…</li>
                            <ol class="process-tasks">
                                <li><a href="ab-finanal-aggregate-forecast-costs-bl.axvw" rel="pTask" data-taskId="… Buildings" data-taskIcon="ab-icon-task.gif">… Buildings</a></li>
                                <li><a href="ab-finanal-aggregate-forecast-costs-pr.axvw" rel="pTask" data-taskId="… Properties" data-taskIcon="ab-icon-task.gif">… Properties</a></li>
                                <li><a href="ab-finanal-aggregate-forecast-costs-proj.axvw" rel="pTask" data-taskId="… Projects" data-taskIcon="ab-icon-task.gif">… Projects</a></li>
                                <li><a href="ab-finanal-aggregate-forecast-costs-eq.axvw" rel="pTask" data-taskId="… Equipment" data-taskIcon="ab-icon-task.gif">… Equipment</a></li>
                            </ol>
                            <li>Cost Wizard for …</li>
                            <ol class="process-tasks">
                                <li><a href="ab-rplm-cost-mgmt-costs-wiz-ls-bl-pr.axvw" rel="pTask" data-taskId="... Leases, Buildings and Properties" data-taskIcon="ab-icon-task.gif">... Leases, Buildings and Properties</a></li>
                                <li><a href="ab-rplm-cost-mgmt-costs-wiz-ac.axvw" rel="pTask" data-taskId="...Accounts" data-taskIcon="ab-icon-task.gif">...Accounts</a></li>
                            </ol>
                        </ol>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
$(document).ready(function() {
    $('#navigationTabs').find('a').click(function() {return false;});
    initDandDFavorites();
    setPageDimensions();
    bindTaskContextMenu();
    localizeFavoritesDisplayText();
    loadFavoritesBuckets();
    modifyProcessTitleDisplay();
    pageTallPTaskBuckets();
});
</script>