<div class="nav-pages" id="Reservations">
    <div class="page">
        <div class="page-row full-height" >
            <h3 class="application-title" data-activityId="AbWorkplaceReservations">Reservations</h3>
            <hr class="application-horizontal-rule">
            <div id="appProcFavoritesBucket" class="bucket-application bucket-background-light " data-activityId="" data-processId="" oncontextmenu="return false;">
                <h2 class="applications-process-title" data-processId="" title="Most often used tasks and reports.">My Favorites</h2>
                <div class="bucket-wrapper" id="wrapper_ad763097-2681-4d07-bb12-da0bfe1ba58b">
                    <div class="favorites-drop-target">
                        <span class="favorites-add-target"></span>
                        <span class="favorites-delete-target">&nbsp;</span>
                    </div>
                    <div class="favorites" onMouseUp="openPtask(this,event);">
                        <ol class="favorites-items">
                        </ol>
                    </div>
                </div>
            </div>
            <div class="bucket-application " data-productId="AbWorkplaceServices" data-activityId="AbWorkplaceReservations" data-processId="Reports" data-productTitle="Workplace Services" data-activityTitle="Reservations" data-processTitle="Reports" data-subfolder="\ab-products\workplace\reservations" data-helpLink="\Subsystems\webc\Content\web_user\res\reports\res_reports.htm" data-helpSystem="END USER" data-dashboardLayout="" data-dashboardView="" title="" oncontextmenu="return false;" onMouseUp="openPtask(this,event);">
                <h2 class="applications-process-title" title="">
                    <span class="process-title-text">Reports</span>
                </h2>
                <div class="bucket-wrapper" id="wrapper_abworkplacereservations_reports">
                        <ol class="ptask-labels">
                            <li>Operational Reports</li>
                            <ol class="process-tasks">
                                <li><a href="ab-rr-rpt-day-roomres.axvw" rel="pTask" data-taskId="Room Reservations" data-taskIcon="ab-icon-task.gif">Room Reservations</a></li>
                                <li><a href="ab-rr-rpt-day-roomres-plus.axvw" rel="pTask" data-taskId="Room Reservations and Resources" data-taskIcon="ab-icon-task.gif">Room Reservations and Resources</a></li>
                                <li><a href="ab-rr-rpt-day-resourceres.axvw" rel="pTask" data-taskId="Resource Reservations" data-taskIcon="ab-icon-task.gif">Resource Reservations</a></li>
                                <li><a href="ab-rr-rpt-day-resourceres-plus.axvw" rel="pTask" data-taskId="Resource Reservations and Rooms" data-taskIcon="ab-icon-task.gif">Resource Reservations and Rooms</a></li>
                                <li><a href="ab-rr-rpt-wr-reservation-trade.axvw" rel="pTask" data-taskId="Reservations - Trades Work Requests" data-taskIcon="ab-icon-task.gif">Reservations - Trades Work Requests</a></li>
                                <li><a href="ab-rr-rpt-wr-reservation-vendor.axvw" rel="pTask" data-taskId="Reservations - Vendor Work Requests" data-taskIcon="ab-icon-task.gif">Reservations - Vendor Work Requests</a></li>
                                <li><a href="ab-rr-rpt-ressheet.axvw" rel="pTask" data-taskId="Confirmation Sheet" data-taskIcon="ab-icon-task.gif">Confirmation Sheet</a></li>
                                <li><a href="ab-rr-rpt-reservations-room-days.axvw" rel="pTask" data-taskId="Daily Room Reservations" data-taskIcon="ab-icon-task.gif">Daily Room Reservations</a></li>
                            </ol>
                            <li>Control Management Reports</li>
                            <ol class="process-tasks">
                                <li><a href="ab-rr-rpt-day-number-roomres.axvw" rel="pTask" data-taskId="Number of Room Reservations per Day" data-taskIcon="ab-icon-task.gif">Number of Room Reservations per Day</a></li>
                                <li><a href="ab-rr-rpt-day-number-resourceres.axvw" rel="pTask" data-taskId="Number of Resource Reservations per Day" data-taskIcon="ab-icon-task.gif">Number of Resource Reservations per Day</a></li>
                                <li><a href="ab-rr-rpt-day-room-occupation.axvw" rel="pTask" data-taskId="Room Occupation per Day" data-taskIcon="ab-icon-task.gif">Room Occupation per Day</a></li>
                                <li><a href="ab-rr-rpt-day-resource-occupation.axvw" rel="pTask" data-taskId="Resource Usage per Day" data-taskIcon="ab-icon-task.gif">Resource Usage per Day</a></li>
                                <li><a href="ab-rr-rpt-cost-detail.axvw" rel="pTask" data-taskId="Costs by Div. and Dept. - Details" data-taskIcon="ab-icon-task.gif">Costs by Div. and Dept. - Details</a></li>
                                <li><a href="ab-rr-rpt-approve-detail.axvw" rel="pTask" data-taskId="Checklist for Late Approvals" data-taskIcon="ab-icon-task.gif">Checklist for Late Approvals</a></li>
                                <li><a href="ab-rr-rpt-cancel-detail.axvw" rel="pTask" data-taskId="Cancelled Reservations - Details" data-taskIcon="ab-icon-task.gif">Cancelled Reservations - Details</a></li>
                                <li><a href="ab-rr-rpt-reject-detail.axvw" rel="pTask" data-taskId="Rejected Reservations - Details" data-taskIcon="ab-icon-task.gif">Rejected Reservations - Details</a></li>
                                <li><a href="ab-rr-rpt-not-verified-detail.axvw" rel="pTask" data-taskId="View Unverified Reservations" data-taskIcon="ab-icon-task.gif">View Unverified Reservations</a></li>
                            </ol>
                            <li>Strategic Management Reports</li>
                            <ol class="process-tasks">
                                <li><a href="ab-rr-rpt-month-number-roomres.axvw" rel="pTask" data-taskId="Number of Room Reservations per Month" data-taskIcon="ab-icon-task.gif">Number of Room Reservations per Month</a></li>
                                <li><a href="ab-rr-rpt-month-number-resourceres.axvw" rel="pTask" data-taskId="Number of Resource Reservations per Month" data-taskIcon="ab-icon-task.gif">Number of Resource Reservations per Month</a></li>
                                <li><a href="ab-rr-rpt-month-room-occupation.axvw" rel="pTask" data-taskId="Room Occupation per Month" data-taskIcon="ab-icon-task.gif">Room Occupation per Month</a></li>
                                <li><a href="ab-rr-rpt-month-resource-occupation.axvw" rel="pTask" data-taskId="Resource Usage per Month" data-taskIcon="ab-icon-task.gif">Resource Usage per Month</a></li>
                                <li><a href="ab-rr-rpt-month-resource-quantity.axvw" rel="pTask" data-taskId="Resource Quantity Usage per Month" data-taskIcon="ab-icon-task.gif">Resource Quantity Usage per Month</a></li>
                                <li><a href="ab-rr-rpt-month-room-capacity.axvw" rel="pTask" data-taskId="Room Capacity Utilization per Month" data-taskIcon="ab-icon-task.gif">Room Capacity Utilization per Month</a></li>
                                <li><a href="ab-rr-rpt-month-cost-division.axvw" rel="pTask" data-taskId="Costs per Division per Month" data-taskIcon="ab-icon-task.gif">Costs per Division per Month</a></li>
                                <li><a href="ab-rr-rpt-month-cost-department.axvw" rel="pTask" data-taskId="Costs per Department per Month" data-taskIcon="ab-icon-task.gif">Costs per Department per Month</a></li>
                                <li><a href="ab-rr-rpt-month-use-arrangement.axvw" rel="pTask" data-taskId="Arrangements Utilization per Month" data-taskIcon="ab-icon-task.gif">Arrangements Utilization per Month</a></li>
                                <li><a href="ab-rr-rpt-month-requestor.axvw" rel="pTask" data-taskId="Requestor Roles per Month" data-taskIcon="ab-icon-task.gif">Requestor Roles per Month</a></li>
                                <li><a href="ab-rr-rpt-month-room-reject.axvw" rel="pTask" data-taskId="Rejections per Room per Month" data-taskIcon="ab-icon-task.gif">Rejections per Room per Month</a></li>
                                <li><a href="ab-rr-rpt-month-resource-reject.axvw" rel="pTask" data-taskId="Rejections per Resource per Month" data-taskIcon="ab-icon-task.gif">Rejections per Resource per Month</a></li>
                                <li><a href="ab-rr-rpt-month-room-cancel.axvw" rel="pTask" data-taskId="Room Cancellations per Month" data-taskIcon="ab-icon-task.gif">Room Cancellations per Month</a></li>
                                <li><a href="ab-rr-rpt-month-resource-cancel.axvw" rel="pTask" data-taskId="Resource Cancellations per Month" data-taskIcon="ab-icon-task.gif">Resource Cancellations per Month</a></li>
                            </ol>
                        </ol>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
$(document).ready(function() {
    $('#navigationTabs').find('a').click(function() {return false;});
    initDandDFavorites();
    setPageDimensions();
    bindTaskContextMenu();
    localizeFavoritesDisplayText();
    loadFavoritesBuckets();
    modifyProcessTitleDisplay();
    pageTallPTaskBuckets();
});
</script>