<div class="nav-pages" id="navPagesApps">
    <div class="page">
        <div class="page-row half-height" >
            <h3 oncontextmenu="return false;">ARCHIBUS APPLICATIONS</h3>
            <hr class="application-horizontal-rule">
            <div class="bucket-application " data-productId="AbRPLM" oncontextmenu="return false;">
                <h2 class="product-title" title="Create an electronic inventory of your properties and your leases, complete with detailed data on occupancy, taxes, regularly occurring required actions, compliance with regulations, costs, and more." data-helpLink="">
                    <span class="product-title-text">Real Estate Portfolio Management</span>
                    <img src="/archibus/schema/ab-system/graphics/ab-icon-rplm32.png" alt="" class="application-title-icon"/>
                </h2>
                <div class="bucket-wrapper" id="wrapper_abrplm"  onMouseUp="openProcess(this,event);">
                               <ol class="app-processes">
                                   <li><a href="ab-rplm-portfolio-administration-3-analysis.html" class="application-title" rel="activityProcess" data-activityId="AbRPLMPortfolioAdministration" data-helpLink="" data-helpLink="END USER" title="Portfolio managers strive to ensure that the massive investments the organization makes in the real estate portfolio drives the organizational mission forward.  Yet widely varied holdings, the specialized needs of different lines of business, and the intricate timing of leases and transactions often obscure this alignment.  This activity provides a consolidated view of real estate data to visualize the portfolio and improve asset stewardship.  It provides multiple benchmarks of portfolio performance to enable rapid, fact-based decisions.  And it provides the analyses essential to spot trends, analyze spending, and target anomalies.">Portfolio Management</a></li>
                                   <li><a href="ab-rplm-lease-administration-3-analysis.html" class="application-title" rel="activityProcess" data-activityId="AbRPLMLeaseAdministration" data-helpLink="" data-helpLink="END USER" title="Lease managers know that any error in processing the complex terms of a lease can result in missed option opportunities, billing errors, monetary penalties, and even last-minute moves due to missed renewal dates.  Yet tracking a large number of leases with variable terms of tenancy, differing option exercise dates, and intricate financial terms can be daunting.  This activity reduces errors and risk by automating lease administration to reduce errors, spot anomalies, and provide automated alerts to upcoming actions.">Lease Administration</a></li>
                                   <li><a href="ab-rplm-group-space-allocation-3-analysis.html" class="application-title" rel="activityProcess" data-activityId="AbRPLMGroupSpaceAllocation" data-helpLink="" data-helpLink="END USER" title="Space master planners need to accurately predict future space needs and occupancy costs. Too high a forecast, and they will burden the business with unnecessary buildings and leases.  Too low, and they will cripple the line business.  This activity uses inventory data, historical trends, as well as "what if" scenarios to provide insight into future space needs.  Master planners can model churn, organic growth, potential mergers or acquisitions, and other factors to reduce uncertainty and spot emerging opportunities within their portfolio.">Portfolio Forecasting</a></li>
                                   <li><a href="ab-rplm-portfolio-forecasting-3-analysis.html" class="application-title" rel="activityProcess" data-activityId="AbRPLMPortfolioForecasting" data-helpLink="" data-helpLink="END USER" title="Real estate teams, portfolio planners, and space planners need advanced decision support to craft, communicate and support their strategic portfolio plan. This application clearly expresses core mission needs, simplifies the complex planning and review process, and provides the hard numbers needed to justify a course of action.">Advanced Portfolio Forecasting</a></li>
                                   <li><a href="ab-rplm-strategic-financial-analysis-3-analysis.html" class="application-title" rel="activityProcess" data-activityId="AbRPLMStrategicFinancialAnalysis" data-helpLink="" data-helpLink="END USER" title="The Strategic Financial Analysis application provides a unified cost model for your real estate, infrastructure and facilities.  In doing so, it unifies cost data for all real estate activities, capital, and expenses.  It also provides a unified view of costs for the different stakeholders in the management of the portfolio and infrastructure.  By doing so, the application gives visibility into the third of your organization's balance sheet that manages fixed assets.  ARCHIBUS is unique in that it can not only summarize the total cost of the infrastructure, it can also express the value to the mission.  For this reason, ARCHIBUS can help you align your spend on real estate and infrastructure like no other tools.">Strategic Financial Analysis</a></li>
                               </ol>
                </div>
            </div>
            <div class="bucket-application " data-productId="AbProject" oncontextmenu="return false;">
                <h2 class="product-title" title="Plan, approve, and execute the projects that will turn your organizational mission goals into concrete results." data-helpLink="">
                    <span class="product-title-text">Capital Project Management</span>
                    <img src="/archibus/schema/ab-system/graphics/ab-icon-project32.png" alt="" class="application-title-icon"/>
                </h2>
                <div class="bucket-wrapper" id="wrapper_abproject"  onMouseUp="openProcess(this,event);">
                               <ol class="app-processes">
                                   <li><a href="ab-capital-planning-ca-3-analysis.html" class="application-title" rel="activityProcess" data-activityId="AbCapitalPlanningCA" data-helpLink="/Subsystems/webc/Content/ca/concepts/introduction.htm" data-helpLink="END USER" title="Maintenance managers stay vigilant for threats to life safety or to the organization's mission, as they know that if left unchecked, even minor defects can lead to equipment failure, business interruption, or accidents.  Yet keeping on top of each and every defect that can occur within a facility can tax even the most capable maintenance organization.  The Condition Assessment activity lowers risk by creating a complete assessment program directly from the up-to-date space and equipment inventories.  It lowers total lifecycle costs by correcting corrosive defects early.  And it clearly expresses to management the total costs and potential consequences by using a visual scoreboard that summarizes the impact of facility conditions on life safety, business mission, productivity, and image.">Condition Assessment</a></li>
                                   <li><a href="ab-project-management-3-analysis.html" class="application-title" rel="activityProcess" data-activityId="AbProjectManagement" data-helpLink="" data-helpLink="END USER" title="Real estate portfolio managers constantly oversee a large portfolio of projects simultaneously.  Renovations, building acquisitions, HVAC upgrades, sustainability programs, department moves -- all have complex interdependencies that cannot be managed in isolation.  This activity coordinates programs, projects, actions and costs from a top-down perspective that keeps all participants aligned with the overarching organizational priorities that all projects serve.  Gantt charts and workflows make milestones, tasks and status changes visible to all.  Weighted performance scorecards highlight outliers that are a risk to the budget or the mission.">Project Management</a></li>
                               </ol>
                </div>
            </div>
            <div class="bucket-application " data-productId="AbSpace" oncontextmenu="return false;">
                <h2 class="product-title" title="For space and department managers who need to optimize space use, this suite of applications accurately tracks space, occupancy, vacancies, and even individual manager responsibilities.  Through accurate analytics to make informed decisions and through chargeback features to change cost-awareness and behavior within the organization, space managers can typically reduce space use by 5% to 10%.  These optimizations also lower indirect costs and reduce carbon footprint in the same proportion." data-helpLink="">
                    <span class="product-title-text">Space Planning & Management</span>
                    <img src="/archibus/schema/ab-system/graphics/ab-icon-space32.png" alt="" class="application-title-icon"/>
                </h2>
                <div class="bucket-wrapper" id="wrapper_abspace"  onMouseUp="openProcess(this,event);">
                               <ol class="app-processes">
                                   <li><a href="ab-space-planning-3-analysis.html" class="application-title" rel="activityProcess" data-activityId="AbSpacePlanning" data-helpLink="" data-helpLink="END USER" title="Space planners are responsible for ensuring that the organization?s space supply meets its demands, both currently and in the future. They may work with the real estate organization to plan future space needs, whether that be by consolidating space, dropping leases, finding new leases, purchasing property, or supporting new construction. Space planning to support the organization's goals range from high-level real estate / lease decisions to more specific plans for space use and occupancy. As part of this process, new buildings and floors may come online, and existing buildings and floors may change allocation and occupancy over time. This application gives space planners the tools to manage these comprehensive changes and present scenarios to management.">Strategic Space Planning</a></li>
                               </ol>
                </div>
            </div>
            <div class="bucket-application " data-productId="AbMove" oncontextmenu="return false;">
                <h2 class="product-title" title="Manage change, growth, and project teams with this collaborative activity.  Flow individual or group moves, manage the details assiciated with asset moves or new hires.  Track and flow move orders together with the action requests from other teams, such as IT, operations, or security." data-helpLink="">
                    <span class="product-title-text">Move Management</span>
                    <img src="/archibus/schema/ab-system/graphics/ab-icon-move32.png" alt="" class="application-title-icon"/>
                </h2>
                <div class="bucket-wrapper" id="wrapper_abmove"  onMouseUp="openProcess(this,event);">
                               <ol class="app-processes">
                                   <li><a href="ab-move-management-3-analysis.html" class="application-title" rel="activityProcess" data-activityId="AbMoveManagement" data-helpLink="" data-helpLink="END USER" title="Speed your move process, reduce churn, and manage multiple phases and trials.">Enterprise Move Management</a></li>
                               </ol>
                </div>
            </div>
            <div class="bucket-application " data-productId="AbBldgOps" oncontextmenu="return false;">
                <h2 class="product-title" title="For building and maintenance managers who must track all work requests and report maintenance costs and forecasts to the organization, the Building Operations domain is a web-based, operations-focused solution that deploys easily to all maintenance stakeholders.  Maintenance managers may customize workflows to automate their processes, enforce deadlines, and organiz their operations.  Building managers may analyze building operations history and costs to forecast future needs." data-helpLink="">
                    <span class="product-title-text">Building Operations</span>
                    <img src="/archibus/schema/ab-system/graphics/ab-icon-bldgops32.png" alt="" class="application-title-icon"/>
                </h2>
                <div class="bucket-wrapper" id="wrapper_abbldgops"  onMouseUp="openProcess(this,event);">
                               <ol class="app-processes">
                                   <li><a href="ab-bldg-ops-pm-3-analysis.html" class="application-title" rel="activityProcess" data-activityId="AbBldgOpsPM" data-helpLink="" data-helpLink="END USER" title="For building and maintenance managers looking to track recurring maintenance work more effectively, avoid costly repairs, and stop lengthy downtimes, this application is a comprehensive planning solution that provides managers with the ability to define maintenance procedures, set up schedules for all critical assets, and balance those schedules with available resources.  With this application, maintenance managers may accurately forecast resource and cost requirements for all planned maintenance tasks.">Preventive Maintenance</a></li>
                                   <li><a href="ab-bldg-ops-on-demand-work-3-analysis.html" class="application-title" rel="activityProcess" data-activityId="AbBldgOpsOnDemandWork" data-helpLink="" data-helpLink="END USER" title="For building and maintenance managers, supervisors, and craftspersons who need to track incoming maintenance requests, manage service providers, plan work and resources, and report on key metrics, this application is a comprehensive solution that allows managers to define problem-specific workflows and automate maintenance processes for customers, approvers, supervisors, and craftspersons.  Supervisors may schedule tasks graphically, and managers may roll up data to pinpoint and correct negative trends.">On Demand Work</a></li>
                                   <li><a href="ab-capital-planning-ca-3-analysis.html" class="application-title" rel="activityProcess" data-activityId="AbCapitalPlanningCA" data-helpLink="/Subsystems/webc/Content/ca/concepts/introduction.htm" data-helpLink="END USER" title="Maintenance managers stay vigilant for threats to life safety or to the organization's mission, as they know that if left unchecked, even minor defects can lead to equipment failure, business interruption, or accidents.  Yet keeping on top of each and every defect that can occur within a facility can tax even the most capable maintenance organization.  The Condition Assessment activity lowers risk by creating a complete assessment program directly from the up-to-date space and equipment inventories.  It lowers total lifecycle costs by correcting corrosive defects early.  And it clearly expresses to management the total costs and potential consequences by using a visual scoreboard that summarizes the impact of facility conditions on life safety, business mission, productivity, and image.">Condition Assessment</a></li>
                               </ol>
                </div>
            </div>
       </div>
        <div class="page-row three-quarter-height" >
            <h3 oncontextmenu="return false;">ARCHIBUS APPLICATIONS</h3>
            <hr class="application-horizontal-rule">
            <div class="bucket-application " data-productId="AbRisk" oncontextmenu="return false;">
                <h2 class="product-title" title="Manage facilities activities related to organizational risk and risk mitigation." data-helpLink="">
                    <span class="product-title-text">Environmental & Risk Management</span>
                    <img src="/archibus/schema/ab-system/graphics/ab-icon-risk32.png" alt="" class="application-title-icon"/>
                </h2>
                <div class="bucket-wrapper" id="wrapper_abrisk"  onMouseUp="openProcess(this,event);">
                               <ol class="app-processes">
                                   <li><a href="ab-risk-es-3-analysis.html" class="application-title" rel="activityProcess" data-activityId="AbRiskES" data-helpLink="\rm_results\Automating_your_Risk_Management_Business_Results.htm" data-helpLink="END USER" title="Real estate and facility managers are resolute in meeting management directives to enforce high standards for sustainability and carbon reduction.  Yet they find applying these standards to the multiplicity of buildings and conditions under their command is a complex problem.  This activity reduces risk by rating the entire facility in all its detail against corporate directives and government environmental regulations. It lowers costs by identifying opportunities to save energy and reduce waste.  And it improves governance by score-carding remediation alternatives and identifying the highest-priority, highest-impact use for limited remediation budgets.">Environmental Sustainability Assessment</a></li>
                                   <li><a href="ab-risk-clean-building-3-analysis.html" class="application-title" rel="activityProcess" data-activityId="AbRiskCleanBuilding" data-helpLink="" data-helpLink="END USER" title="Manage the process of locating, identifying, and abating hazardous substances, such as asbestos, lead-based paint, mold and radon, throughout an organization`s property portfolio.  The activity provides quick and easy access to comprehensive information regarding the location and condition of asbestos, lead-based paint and other hazardous materials. This activity helps to manage regulatory obligations for assessment, abatement, monitoring, and reporting of hazardous materials and substances.">Clean Building</a></li>
                                   <li><a href="ab-risk-waste-mgmt-3-analysis.html" class="application-title" rel="activityProcess" data-activityId="AbRiskWasteMgmt" data-helpLink="" data-helpLink="END USER" title="Facility and sustainability managers need to safely and efficiently process hazardous and non-hazardous waste, comply with waste-handling reporting regulations, and strive to reduce their carbon footprint 
reductions with good waste management practices. The Waste Management application activity manages the complete waste cycle (from storage to shipment and disposal) of all types of waste. In doing so, it gathers the data required for LEED requirements, compliance reporting, and recycling improvement efforts.">Waste Management</a></li>
                                   <li><a href="ab-risk-energy-management-3-analysis.html" class="application-title" rel="activityProcess" data-activityId="AbRiskEnergyManagement" data-helpLink="" data-helpLink="END USER" title="Management often mandates that energy managers meet exacting directives to reduce carbon output and energy use by exacting targets, typically 3-5% per year.  However, energy managers often do not have complete picture on current consumption, on the line of business the energy spends supports, or on how to objectively measure the effects of remediation actions.  This activity correlates energy bills with building information and weather modeling to pinpoint errors in billing, identify problem buildings, and root out wasteful usage.  As a result, Energy manages can meet aggressive energy reduction targets and align their energy spend with organizational priorities.">Energy Management</a></li>
                                   <li><a href="ab-risk-green-building-3-analysis.html" class="application-title" rel="activityProcess" data-activityId="AbRiskGreenBuilding" data-helpLink="" data-helpLink="END USER" title="Sustainability officers and green building managers strive to increase green building performance and certification levels and to reduce carbon footprint. However, assessing progress and quantifying results requires complex calculations and a breadth of data spanning multiple years. This activity calculates net greenhouse gas equivalent impact, shows carbon footprint change over time for each building or an entire portfolio, tracks progress through sustainability certification projects, and manages data and documents required for requalification. It also shows anticipated payback on sustainability investments and correlates environmental data to facility use and operations thus providing the timely and reliable data required for making and defending strategic sustainability decisions.">Green Building</a></li>
                               </ol>
                </div>
            </div>
            <div class="bucket-application " data-productId="AbWorkplaceServices" oncontextmenu="return false;">
                <h2 class="product-title" title="For service desk or operations managers who must track a large and varied set of service requests, all while managing and monitoring service providers, the Workplace Service domain is a web-based solution that allows employees enterprise-wide to enter self-service requests and allows managers to centrally monitor and control those services.  Through process automation, analytics, service monitoring, and self-service access, managers greatly increase service efficiency and performance." data-helpLink="">
                    <span class="product-title-text">Workplace Services</span>
                    <img src="/archibus/schema/ab-system/graphics/ab-icon-workplace32.png" alt="" class="application-title-icon"/>
                </h2>
                <div class="bucket-wrapper" id="wrapper_abworkplaceservices"  onMouseUp="openProcess(this,event);">
                               <ol class="app-processes">
                                   <li><a href="ab-bldg-ops-help-desk-3-analysis.html" class="application-title" rel="activityProcess" data-activityId="AbBldgOpsHelpDesk" data-helpLink="" data-helpLink="END USER" title="For service desk managers and service providers who need to manage a growing number of service requests while maintaining service performance and organizational efficiency, this application allows 24x7 self-service assistance and enforces performance of your service providers through service-level agreements. Service-desk managers may configure service-desk workflows to reduce administrative overhead and to hold service providers accountable through measurable results.">Service Desk</a></li>
                                   <li><a href="ab-workplace-reservations-3-analysis.html" class="application-title" rel="activityProcess" data-activityId="AbWorkplaceReservations" data-helpLink="" data-helpLink="END USER" title="For operations or service managers who want to provide all employees with the ability to reserve conference rooms and resources without any hassle, this Web-based application deploys enterprise-wide and allows employees to manage of all room and resource reservation details.  From handling recurring reservations to linking seamlessly to the ARCHIBUS operations suite for support tasks, this application allows users to focus on preparing for meetings without worrying about logistics.">Reservations</a></li>
                               </ol>
                </div>
            </div>
       </div>
    </div>
</div>

<script>
$(document).ready(function() {
    $('#navigationTabs').find('a').click(function() {return false;});
    setPageDimensions();
    bindTaskContextMenu();
    pageTallApplicationBuckets();
    modifyProductTitleDisplay();
});
</script>