<div class="nav-pages" id="ServiceDesk">
    <div class="page">
        <div class="page-row full-height" >
            <h3 class="application-title" data-activityId="AbBldgOpsHelpDesk">Service Desk</h3>
            <hr class="application-horizontal-rule">
            <div id="appProcFavoritesBucket" class="bucket-application bucket-background-light " data-activityId="" data-processId="" oncontextmenu="return false;">
                <h2 class="applications-process-title" data-processId="" title="Most often used tasks and reports.">My Favorites</h2>
                <div class="bucket-wrapper" id="wrapper_a275d7ca-2587-4722-b16b-313db644189c">
                    <div class="favorites-drop-target">
                        <span class="favorites-add-target"></span>
                        <span class="favorites-delete-target">&nbsp;</span>
                    </div>
                    <div class="favorites" onMouseUp="openPtask(this,event);">
                        <ol class="favorites-items">
                        </ol>
                    </div>
                </div>
            </div>
            <div class="bucket-application " data-productId="AbWorkplaceServices" data-activityId="AbBldgOpsHelpDesk" data-processId="Client" data-productTitle="Workplace Services" data-activityTitle="Service Desk" data-processTitle="Client" data-subfolder="\ab-products\bldgops\helpdesk" data-helpLink="\Subsystems\webc\Content\web_user\service_desk\requestor\entering_request.htm" data-helpSystem="END USER" data-dashboardLayout="" data-dashboardView="" title="" oncontextmenu="return false;" onMouseUp="openPtask(this,event);">
                <h2 class="applications-process-title" title="">
                    <span class="process-title-text">Client</span>
                </h2>
                <div class="bucket-wrapper" id="wrapper_abbldgopshelpdesk_client">
                        <ol class="ptask-labels">
                            <li></li>
                            <ol class="process-tasks">
                                <li><a href="ab-helpdesk-request-create.axvw" rel="pTask" data-taskId="Create Service Request" data-taskIcon="ab-icon-task.gif">Create Service Request</a></li>
                                <li><a href="ab-helpdesk-request-view-tabs.axvw" rel="pTask" data-taskId="View Service Requests" data-taskIcon="ab-icon-task.gif">View Service Requests</a></li>
                                <li><a href="ab-helpdesk-request-create-mng.axvw" rel="pTask" data-taskId="Manage Un-submitted Service Requests" data-taskIcon="ab-icon-task.gif">Manage Un-submitted Service Requests</a></li>
                            </ol>
                            <li class="empty-taskgroup-title">&nbsp;</li>
                            <ol class="process-tasks">
                                <li><a href="ab-floorsonly-drawing-redlines.axvw" rel="pTask" data-taskId="Create Redlines by Location" data-taskIcon="ab-icon-task.gif">Create Redlines by Location</a></li>
                            </ol>
                        </ol>
                </div>
            </div>
            <div class="bucket-application " data-productId="AbWorkplaceServices" data-activityId="AbBldgOpsHelpDesk" data-processId="Business Manager" data-productTitle="Workplace Services" data-activityTitle="Service Desk" data-processTitle="Business Manager" data-subfolder="\ab-products\bldgops\helpdesk" data-helpLink="\Subsystems\webc\Content\web_user\service_desk\bus_manager\approve_reject_request.htm" data-helpSystem="END USER" data-dashboardLayout="" data-dashboardView="" title="Approve Requests" oncontextmenu="return false;" onMouseUp="openPtask(this,event);">
                <h2 class="applications-process-title" title="Approve Requests">
                    <span class="process-title-text">Business Manager</span>
                </h2>
                <div class="bucket-wrapper" id="wrapper_abbldgopshelpdesk_businessManager">
                        <ol class="ptask-labels">
                            <li></li>
                            <ol class="process-tasks">
                                <li><a href="ab-helpdesk-request-approve.axvw" rel="pTask" data-taskId="Approve Service Requests" data-taskIcon="ab-icon-task.gif">Approve Service Requests</a></li>
                                <li><a href="ab-helpdesk-request-review-approved.axvw" rel="pTask" data-taskId="Review Approved Service Requests" data-taskIcon="ab-icon-task.gif">Review Approved Service Requests</a></li>
                                <li><a href="ab-servicedesk-approval-substitute.axvw" rel="pTask" data-taskId="Schedule Substitutes" data-taskIcon="ab-icon-task.gif">Schedule Substitutes</a></li>
                            </ol>
                        </ol>
                </div>
            </div>
            <div class="bucket-application " data-productId="AbWorkplaceServices" data-activityId="AbBldgOpsHelpDesk" data-processId="Service Provider" data-productTitle="Workplace Services" data-activityTitle="Service Desk" data-processTitle="Service Provider" data-subfolder="\ab-products\bldgops\helpdesk" data-helpLink="\Subsystems\webc\Content\web_user\service_desk\service_provider\service_provider_over.htm" data-helpSystem="END USER" data-dashboardLayout="" data-dashboardView="" title="Accept/Decline, Update and Complete Requests" oncontextmenu="return false;" onMouseUp="openPtask(this,event);">
                <h2 class="applications-process-title" title="Accept/Decline, Update and Complete Requests">
                    <span class="process-title-text">Service Provider</span>
                </h2>
                <div class="bucket-wrapper" id="wrapper_abbldgopshelpdesk_serviceProvider">
                        <ol class="ptask-labels">
                            <li></li>
                            <ol class="process-tasks">
                                <li><a href="ab-helpdesk-request-accept.axvw" rel="pTask" data-taskId="Accept/Decline Service Requests" data-taskIcon="ab-icon-task.gif">Accept/Decline Service Requests</a></li>
                                <li><a href="ab-helpdesk-request-update-tabs.axvw" rel="pTask" data-taskId="Issue/Complete Service Requests" data-taskIcon="ab-icon-task.gif">Issue/Complete Service Requests</a></li>
                                <li><a href="ab-helpdesk-request-review-service.axvw" rel="pTask" data-taskId="Review Service History" data-taskIcon="ab-icon-task.gif">Review Service History</a></li>
                                <li><a href="ab-helpdesk-service-report-archived.axvw" rel="pTask" data-taskId="Service Provider Performance Report" data-taskIcon="ab-icon-task.gif">Service Provider Performance Report</a></li>
                                <li><a href="ab-helpdesk-service-report-open.axvw" rel="pTask" data-taskId="Open Service Requests Report" data-taskIcon="ab-icon-task.gif">Open Service Requests Report</a></li>
                            </ol>
                        </ol>
                </div>
            </div>
            <div class="bucket-application " data-productId="AbWorkplaceServices" data-activityId="AbBldgOpsHelpDesk" data-processId="Service Desk Manager" data-productTitle="Workplace Services" data-activityTitle="Service Desk" data-processTitle="Service Desk Manager" data-subfolder="\ab-products\bldgops\helpdesk" data-helpLink="\Subsystems\webc\Content\web_user\service_desk\sd_manager\sd_manager_over.htm" data-helpSystem="END USER" data-dashboardLayout="" data-dashboardView="" title="" oncontextmenu="return false;" onMouseUp="openPtask(this,event);">
                <h2 class="applications-process-title" title="">
                    <span class="process-title-text">Service Desk Manager</span>
                </h2>
                <div class="bucket-wrapper" id="wrapper_abbldgopshelpdesk_serviceDeskManager">
                        <ol class="ptask-labels">
                            <li></li>
                            <ol class="process-tasks">
                                <li><a href="ab-helpdesk-sla-create-tabs.axvw" rel="pTask" data-taskId="Manage Service Level Agreements" data-taskIcon="ab-icon-task.gif">Manage Service Level Agreements</a></li>
                                <li><a href="ab-helpdesk-sla-ordering.axvw" rel="pTask" data-taskId="Determine Ordering Sequence of Service Level Agreements" data-taskIcon="ab-icon-task.gif">Determine Ordering Sequence of Service Level Agreements</a></li>
                                <li><a href="ab-helpdesk-manager-search-tabs.axvw" rel="pTask" data-taskId="Search & Manage" data-taskIcon="ab-icon-task.gif">Search & Manage</a></li>
                                <li><a href="ab-create-activitytype-tabs.axvw" rel="pTask" data-taskId="Manage Request Types" data-taskIcon="ab-icon-task.gif">Manage Request Types</a></li>
                                <li><a href="ab-helpdesk-request-close-tabs.axvw" rel="pTask" data-taskId="Close/Archive Service Requests" data-taskIcon="ab-icon-task.gif">Close/Archive Service Requests</a></li>
                                <li><a href="ab-servicedesk-workflow-substitute.axvw" rel="pTask" data-taskId="Schedule Substitutes" data-taskIcon="ab-icon-task.gif">Schedule Substitutes</a></li>
                            </ol>
                        </ol>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
$(document).ready(function() {
    $('#navigationTabs').find('a').click(function() {return false;});
    initDandDFavorites();
    setPageDimensions();
    bindTaskContextMenu();
    localizeFavoritesDisplayText();
    loadFavoritesBuckets();
    modifyProcessTitleDisplay();
    pageTallPTaskBuckets();
});
</script>