<div class="nav-pages" id="ConditionAssessment">
    <div class="page">
        <div class="page-row full-height" >
            <h3 class="application-title" data-activityId="AbCapitalPlanningCA">Condition Assessment</h3>
            <hr class="application-horizontal-rule">
            <div id="appProcFavoritesBucket" class="bucket-application bucket-background-light " data-activityId="" data-processId="" oncontextmenu="return false;">
                <h2 class="applications-process-title" data-processId="" title="Most often used tasks and reports.">My Favorites</h2>
                <div class="bucket-wrapper" id="wrapper_ac4be896-af72-4d23-91d2-587a54d0c603">
                    <div class="favorites-drop-target">
                        <span class="favorites-add-target"></span>
                        <span class="favorites-delete-target">&nbsp;</span>
                    </div>
                    <div class="favorites" onMouseUp="openPtask(this,event);">
                        <ol class="favorites-items">
                        </ol>
                    </div>
                </div>
            </div>
            <div class="bucket-application " data-productId="AbBldgOps" data-activityId="AbCapitalPlanningCA" data-processId="Assessment Manager" data-productTitle="Building Operations" data-activityTitle="Condition Assessment" data-processTitle="Assessment Manager" data-subfolder="\ab-products\project\cond-assess" data-helpLink="\Subsystems\webc\Content\ca\web_user\manager\overview.htm" data-helpSystem="END USER" data-dashboardLayout="" data-dashboardView="" title="" oncontextmenu="return false;" onMouseUp="openPtask(this,event);">
                <h2 class="applications-process-title" title="">
                    <span class="process-title-text">Assessment Manager</span>
                </h2>
                <div class="bucket-wrapper" id="wrapper_abcapitalplanningca_assessmentManager">
                        <ol class="ptask-labels">
                            <li></li>
                            <ol class="process-tasks">
                                <li><a href="ab-ca-mng-ca-itms.axvw" rel="pTask" data-taskId="Manage Condition Assessment Items" data-taskIcon="ab-icon-task.gif">Manage Condition Assessment Items</a></li>
                            </ol>
                        </ol>
                </div>
            </div>
            <div class="bucket-application " data-productId="AbBldgOps" data-activityId="AbCapitalPlanningCA" data-processId="Field Assessor" data-productTitle="Building Operations" data-activityTitle="Condition Assessment" data-processTitle="Field Assessor" data-subfolder="\ab-products\project\cond-assess" data-helpLink="\Subsystems\webc\Content\ca\web_user\assessor\enter_condition_of_eq_rooms.htm" data-helpSystem="END USER" data-dashboardLayout="" data-dashboardView="" title="" oncontextmenu="return false;" onMouseUp="openPtask(this,event);">
                <h2 class="applications-process-title" title="">
                    <span class="process-title-text">Field Assessor</span>
                </h2>
                <div class="bucket-wrapper" id="wrapper_abcapitalplanningca_fieldAssessor">
                        <ol class="ptask-labels">
                            <li></li>
                            <ol class="process-tasks">
                                <li><a href="ab-ca-my-ca-itms.axvw" rel="pTask" data-taskId="Manage My Condition Assessment Items" data-taskIcon="ab-icon-task.gif">Manage My Condition Assessment Items</a></li>
                            </ol>
                        </ol>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
$(document).ready(function() {
    $('#navigationTabs').find('a').click(function() {return false;});
    initDandDFavorites();
    setPageDimensions();
    bindTaskContextMenu();
    localizeFavoritesDisplayText();
    loadFavoritesBuckets();
    modifyProcessTitleDisplay();
    pageTallPTaskBuckets();
});
</script>