<div class="nav-pages" id="ProjectManagement">
    <div class="page">
        <div class="page-row full-height" >
            <h3 class="application-title" data-activityId="AbProjectManagement">Project Management</h3>
            <hr class="application-horizontal-rule">
            <div id="appProcFavoritesBucket" class="bucket-application bucket-background-light " data-activityId="" data-processId="" oncontextmenu="return false;">
                <h2 class="applications-process-title" data-processId="" title="Most often used tasks and reports.">My Favorites</h2>
                <div class="bucket-wrapper" id="wrapper_83a05433-221c-42a3-9259-f863414a0eaa">
                    <div class="favorites-drop-target">
                        <span class="favorites-add-target"></span>
                        <span class="favorites-delete-target">&nbsp;</span>
                    </div>
                    <div class="favorites" onMouseUp="openPtask(this,event);">
                        <ol class="favorites-items">
                        </ol>
                    </div>
                </div>
            </div>
            <div class="bucket-application " data-productId="AbProject" data-activityId="AbProjectManagement" data-processId="Request" data-productTitle="Capital Project Management" data-activityTitle="Project Management" data-processTitle="Request" data-subfolder="\ab-products\project\management" data-helpLink="\Subsystems\webc\Content\web_user\cap_budget\work_proj_fund\request_proj\requesting_proj.htm" data-helpSystem="END USER" data-dashboardLayout="" data-dashboardView="" title="Submit a new project request.  View your existing requests and their approval status, or add more detail to a request.  Organize requests by capital program.   Import items in-bulk into project task list from the results of your condition assessment program." oncontextmenu="return false;" onMouseUp="openPtask(this,event);">
                <h2 class="applications-process-title" title="Submit a new project request.  View your existing requests and their approval status, or add more detail to a request.  Organize requests by capital program.   Import items in-bulk into project task list from the results of your condition assessment program.">
                    <span class="process-title-text">Request</span>
                </h2>
                <div class="bucket-wrapper" id="wrapper_abprojectmanagement_request">
                        <ol class="ptask-labels">
                            <li></li>
                            <ol class="process-tasks">
                                <li><a href="ab-project-request-edit.axvw" rel="pTask" data-taskId="Request Project" data-taskIcon="ab-icon-task.gif">Request Project</a></li>
                                <li><a href="ab-project-view.axvw" rel="pTask" data-taskId="View My Projects" data-taskIcon="ab-icon-task.gif">View My Projects</a></li>
                                <li><a href="ab-project-edit.axvw" rel="pTask" data-taskId="Edit My Projects" data-taskIcon="ab-icon-task.gif">Edit My Projects</a></li>
                                <li><a href="ab-programs-edit.axvw" rel="pTask" data-taskId="Add or Edit Programs" data-taskIcon="ab-icon-task.gif">Add or Edit Programs</a></li>
                                <li><a href="ab-programs-edit-by-type.axvw" rel="pTask" data-taskId="Add or Edit Programs by Type" data-taskIcon="ab-icon-task.gif">Add or Edit Programs by Type</a></li>
                                <li><a href="ab-condassess-copy-to-project.axvw" rel="pTask" data-taskId="Copy Assessment Items to Projects" data-taskIcon="ab-icon-task.gif">Copy Assessment Items to Projects</a></li>
                                <li><a href="ab-project-actions-edit.axvw" rel="pTask" data-taskId="Add or Edit Actions" data-taskIcon="ab-icon-task.gif">Add or Edit Actions</a></li>
                            </ol>
                        </ol>
                </div>
            </div>
            <div class="bucket-application " data-productId="AbProject" data-activityId="AbProjectManagement" data-processId="Prioritize & Estimate" data-productTitle="Capital Project Management" data-activityTitle="Project Management" data-processTitle="Prioritize & Estimate" data-subfolder="\ab-products\project\management" data-helpLink="\Subsystems\webc\Content\web_user\cap_budget\anal_proj_fund\prior_project_requests.htm" data-helpSystem="END USER" data-dashboardLayout="" data-dashboardView="" title="Record project priorities.  Estimate baseline schedules and durations.  Review approved project funding by year." oncontextmenu="return false;" onMouseUp="openPtask(this,event);">
                <h2 class="applications-process-title" title="Record project priorities.  Estimate baseline schedules and durations.  Review approved project funding by year.">
                    <span class="process-title-text">Prioritize & Estimate</span>
                </h2>
                <div class="bucket-wrapper" id="wrapper_abprojectmanagement_prioritizeEstimate">
                        <ol class="ptask-labels">
                            <li></li>
                            <ol class="process-tasks">
                                <li><a href="ab-project-prioritize-edit.axvw" rel="pTask" data-taskId="Prioritize Projects" data-taskIcon="ab-icon-task.gif">Prioritize Projects</a></li>
                                <li><a href="ab-proj-project-profiles.axvw" rel="pTask" data-taskId="Review Project Profiles" data-taskIcon="ab-icon-task.gif">Review Project Profiles</a></li>
                                <li><a href="ab-project-actions-edit.axvw" rel="pTask" data-taskId="Add or Edit Actions" data-taskIcon="ab-icon-task.gif">Add or Edit Actions</a></li>
                                <li><a href="ab-project-actions-est-base-sched-edit.axvw" rel="pTask" data-taskId="Estimate Baseline Schedule and Durations" data-taskIcon="ab-icon-task.gif">Estimate Baseline Schedule and Durations</a></li>
                                <li><a href="ab-project-actions-est-base-costs-edit.axvw" rel="pTask" data-taskId="Estimate Baseline Costs" data-taskIcon="ab-icon-task.gif">Estimate Baseline Costs</a></li>
                                <li><a href="ab-projects-approved-by-year-report.axvw" rel="pTask" data-taskId="View Approved Projects by Year" data-taskIcon="ab-icon-task.gif">View Approved Projects by Year</a></li>
                            </ol>
                        </ol>
                </div>
            </div>
            <div class="bucket-application " data-productId="AbProject" data-activityId="AbProjectManagement" data-processId="Approve" data-productTitle="Capital Project Management" data-activityTitle="Project Management" data-processTitle="Approve" data-subfolder="\ab-products\project\management" data-helpLink="\Subsystems\webc\Content\web_user\cap_budget\work_proj_fund\approve_proj\approve_proj_request.htm" data-helpSystem="END USER" data-dashboardLayout="" data-dashboardView="" title="Route projects for notification and approval or approve specific projects that are within your purview.  Compare proposed projects against the approved funding for each year." oncontextmenu="return false;" onMouseUp="openPtask(this,event);">
                <h2 class="applications-process-title" title="Route projects for notification and approval or approve specific projects that are within your purview.  Compare proposed projects against the approved funding for each year.">
                    <span class="process-title-text">Approve</span>
                </h2>
                <div class="bucket-wrapper" id="wrapper_abprojectmanagement_approve">
                        <ol class="ptask-labels">
                            <li></li>
                            <ol class="process-tasks">
                                <li><a href="ab-project-route-for-approval.axvw" rel="pTask" data-taskId="Route Projects for Approval" data-taskIcon="ab-icon-task.gif">Route Projects for Approval</a></li>
                                <li><a href="ab-project-approve.axvw" rel="pTask" data-taskId="Approve Project Requests" data-taskIcon="ab-icon-task.gif">Approve Project Requests</a></li>
                                <li><a href="ab-projects-approved-by-year-report.axvw" rel="pTask" data-taskId="View Approved Projects Funding by Year" data-taskIcon="ab-icon-task.gif">View Approved Projects Funding by Year</a></li>
                            </ol>
                        </ol>
                </div>
            </div>
            <div class="bucket-application " data-productId="AbProject" data-activityId="AbProjectManagement" data-processId="Procure" data-productTitle="Capital Project Management" data-activityTitle="Project Management" data-processTitle="Procure" data-subfolder="\ab-products\project\management" data-helpLink="\Subsystems\webc\Content\web_user\projects\procurement\add_edit_vendors.htm" data-helpSystem="END USER" data-dashboardLayout="" data-dashboardView="" title="Track vendors and vendor performance.  Record bids from vendors.  Approve winning bids.  Record and publish contracts as part of the central project documentation." oncontextmenu="return false;" onMouseUp="openPtask(this,event);">
                <h2 class="applications-process-title" title="Track vendors and vendor performance.  Record bids from vendors.  Approve winning bids.  Record and publish contracts as part of the central project documentation.">
                    <span class="process-title-text">Procure</span>
                </h2>
                <div class="bucket-wrapper" id="wrapper_abprojectmanagement_procure">
                        <ol class="ptask-labels">
                            <li></li>
                            <ol class="process-tasks">
                                <li><a href="ab-proj-add-and-edit-vendors.axvw" rel="pTask" data-taskId="Add and Edit Vendors" data-taskIcon="ab-icon-task.gif">Add and Edit Vendors</a></li>
                                <li><a href="ab-proj-update-work-pkgs.axvw" rel="pTask" data-taskId="Update Work Package" data-taskIcon="ab-icon-task.gif">Update Work Package</a></li>
                                <li><a href="ab-proj-review-actions-by-work-pkg.axvw" rel="pTask" data-taskId="Review Actions by Work Package" data-taskIcon="ab-icon-task.gif">Review Actions by Work Package</a></li>
                                <li><a href="ab-proj-enter-bids.axvw" rel="pTask" data-taskId="Enter Bids" data-taskIcon="ab-icon-task.gif">Enter Bids</a></li>
                                <li><a href="ab-proj-review-variances-bids-to-baseline-and-design.axvw" rel="pTask" data-taskId="Review Variances - Bids to Baseline and Design" data-taskIcon="ab-icon-task.gif">Review Variances - Bids to Baseline and Design</a></li>
                                <li><a href="ab-proj-review-vendors-invoices-and-payments.axvw" rel="pTask" data-taskId="Review Vendors Invoices and Payments" data-taskIcon="ab-icon-task.gif">Review Vendors Invoices and Payments</a></li>
                                <li><a href="ab-proj-report-vendors-performance.axvw" rel="pTask" data-taskId="Report Vendors Performance" data-taskIcon="ab-icon-task.gif">Report Vendors Performance</a></li>
                                <li><a href="ab-proj-approve-bids.axvw" rel="pTask" data-taskId="Approve Bids" data-taskIcon="ab-icon-task.gif">Approve Bids</a></li>
                                <li><a href="ab-proj-record-and-publish-contracts.axvw" rel="pTask" data-taskId="Record and Publish Contracts" data-taskIcon="ab-icon-task.gif">Record and Publish Contracts</a></li>
                                <li><a href="ab-proj-console-procurement.axvw" rel="pTask" data-taskId="Management Console: Procure" data-taskIcon="ab-icon-task.gif">Management Console: Procure</a></li>
                            </ol>
                        </ol>
                </div>
            </div>
        </div>
        <div class="page-row full-height" >
            <h3 class="application-title" data-activityId="AbProjectManagement">Project Management</h3>
            <hr class="application-horizontal-rule">
            <div class="bucket-application " data-productId="AbProject" data-activityId="AbProjectManagement" data-processId="Contract" data-productTitle="Capital Project Management" data-activityTitle="Project Management" data-processTitle="Contract" data-subfolder="\ab-products\project\management" data-helpLink="\Subsystems\webc\Content\web_user\projects\vendor\bidding_on_work_packages.htm" data-helpSystem="END USER" data-dashboardLayout="" data-dashboardView="" title="Contractors use this process to review work that is out for bid, review posted contracts, request change orders, update task status, create invoices, and review your payment history for your projects." oncontextmenu="return false;" onMouseUp="openPtask(this,event);">
                <h2 class="applications-process-title" title="Contractors use this process to review work that is out for bid, review posted contracts, request change orders, update task status, create invoices, and review your payment history for your projects.">
                    <span class="process-title-text">Contract</span>
                </h2>
                <div class="bucket-wrapper" id="wrapper_abprojectmanagement_contract">
                        <ol class="ptask-labels">
                            <li></li>
                            <ol class="process-tasks">
                                <li><a href="ab-proj-review-work-packages-out-for-bid.axvw" rel="pTask" data-taskId="Review Work Packages Out for Bid" data-taskIcon="ab-icon-task.gif">Review Work Packages Out for Bid</a></li>
                                <li><a href="ab-proj-view-contracts.axvw" rel="pTask" data-taskId="View Contracts" data-taskIcon="ab-icon-task.gif">View Contracts</a></li>
                                <li><a href="ab-proj-review-actions-by-date-and-time.axvw" rel="pTask" data-taskId="Review Actions by Date and Time" data-taskIcon="ab-icon-task.gif">Review Actions by Date and Time</a></li>
                                <li><a href="ab-proj-request-change-order.axvw" rel="pTask" data-taskId="Request Change Order" data-taskIcon="ab-icon-task.gif">Request Change Order</a></li>
                                <li><a href="ab-proj-view-change-orders.axvw" rel="pTask" data-taskId="View Change Orders" data-taskIcon="ab-icon-task.gif">View Change Orders</a></li>
                                <li><a href="ab-proj-update-actions.axvw" rel="pTask" data-taskId="Update Actions" data-taskIcon="ab-icon-task.gif">Update Actions</a></li>
                                <li><a href="ab-proj-create-invoices.axvw" rel="pTask" data-taskId="Create Invoices" data-taskIcon="ab-icon-task.gif">Create Invoices</a></li>
                                <li><a href="ab-proj-review-my-invoices-and-payments.axvw" rel="pTask" data-taskId="Review My Invoices and Payments" data-taskIcon="ab-icon-task.gif">Review My Invoices and Payments</a></li>
                            </ol>
                        </ol>
                </div>
            </div>
            <div class="bucket-application " data-productId="AbProject" data-activityId="AbProjectManagement" data-processId="Execute" data-productTitle="Capital Project Management" data-activityTitle="Project Management" data-processTitle="Execute" data-subfolder="\ab-products\project\management" data-helpLink="\Subsystems\webc\Content\web_user\projects\use_management_console.htm" data-helpSystem="END USER" data-dashboardLayout="" data-dashboardView="" title="Manage all aspects of planning, procurement, communcation, scheduling, changes, and costs using this centralized console into all sites, projects, actions, and schedules.  Use benchmark reports to find at-risk projects needing the most urgent attention.  Access project documents and contracts." oncontextmenu="return false;" onMouseUp="openPtask(this,event);">
                <h2 class="applications-process-title" title="Manage all aspects of planning, procurement, communcation, scheduling, changes, and costs using this centralized console into all sites, projects, actions, and schedules.  Use benchmark reports to find at-risk projects needing the most urgent attention.  Access project documents and contracts.">
                    <span class="process-title-text">Execute</span>
                </h2>
                <div class="bucket-wrapper" id="wrapper_abprojectmanagement_execute">
                        <ol class="ptask-labels">
                            <li></li>
                            <ol class="process-tasks">
                                <li><a href="ab-proj-project-profiles.axvw" rel="pTask" data-taskId="Review Project Profiles" data-taskIcon="ab-icon-task.gif">Review Project Profiles</a></li>
                            </ol>
                            <li class="empty-taskgroup-title">&nbsp;</li>
                            <ol class="process-tasks">
                                <li><a href="ab-proj-mng.axvw" rel="pTask" data-taskId="Management Console" data-taskIcon="ab-icon-task.gif">Management Console</a></li>
                            </ol>
                            <li class="empty-taskgroup-title">&nbsp;</li>
                            <ol class="process-tasks">
                                <li><a href="ab-proj-project-update-status.axvw" rel="pTask" data-taskId="Update Project Status / Close Project" data-taskIcon="ab-icon-task.gif">Update Project Status / Close Project</a></li>
                            </ol>
                        </ol>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
$(document).ready(function() {
    $('#navigationTabs').find('a').click(function() {return false;});
    initDandDFavorites();
    setPageDimensions();
    bindTaskContextMenu();
    localizeFavoritesDisplayText();
    loadFavoritesBuckets();
    modifyProcessTitleDisplay();
    pageTallPTaskBuckets();
});
</script>