<div class="nav-pages" id="LeaseAdministration">
    <div class="page">
        <div class="page-row full-height" >
            <h3 class="application-title" data-activityId="AbRPLMLeaseAdministration">Lease Administration</h3>
            <hr class="application-horizontal-rule">
            <div id="appProcFavoritesBucket" class="bucket-application bucket-background-light " data-activityId="" data-processId="" oncontextmenu="return false;">
                <h2 class="applications-process-title" data-processId="" title="Most often used tasks and reports.">My Favorites</h2>
                <div class="bucket-wrapper" id="wrapper_14203311-4d89-4801-a197-c5780e9c133d">
                    <div class="favorites-drop-target">
                        <span class="favorites-add-target"></span>
                        <span class="favorites-delete-target">&nbsp;</span>
                    </div>
                    <div class="favorites" onMouseUp="openPtask(this,event);">
                        <ol class="favorites-items">
                        </ol>
                    </div>
                </div>
            </div>
            <div class="bucket-application " data-productId="AbRPLM" data-activityId="AbRPLMLeaseAdministration" data-processId="Lease Portfolio" data-productTitle="Real Estate Portfolio Management" data-activityTitle="Lease Administration" data-processTitle="Lease Portfolio" data-subfolder="\ab-products\rplm\ls-admin" data-helpLink="\Subsystems\webc\Content\web_user\lease_admin\portfolio.htm" data-helpSystem="END USER" data-dashboardLayout="" data-dashboardView="" title="" oncontextmenu="return false;" onMouseUp="openPtask(this,event);">
                <h2 class="applications-process-title" title="">
                    <span class="process-title-text">Lease Portfolio</span>
                </h2>
                <div class="bucket-wrapper" id="wrapper_abrplmleaseadministration_leasePortfolio">
                        <ol class="ptask-labels">
                            <li>Results</li>
                            <ol class="process-tasks">
                                <li><a href="ab-rplm-lsadmin-alerts-view.axvw" rel="pTask" data-taskId="... Alerts" data-taskIcon="ab-icon-task.gif">... Alerts</a></li>
                                <li><a href="ab-rplm-lsadmin-dashboard.axvw" rel="pTask" data-taskId="... Lease Portfolio Dashboard" data-taskIcon="ab-icon-task.gif">... Lease Portfolio Dashboard</a></li>
                            </ol>
                            <li class="empty-taskgroup-title">&nbsp;</li>
                            <ol class="process-tasks">
                                <li><a href="ab-repm-addedit-lease-details-console.axvw" rel="pTask" data-taskId="Lease Portfolio Console" data-taskIcon="ab-icon-task.gif">Lease Portfolio Console</a></li>
                                <li><a href="ab-repm-fasb-class-wizard.axvw" rel="pTask" data-taskId="Lease Classification Wizard" data-taskIcon="ab-icon-task.gif">Lease Classification Wizard</a></li>
                                <li><a href="ab-repm-fasb-classification-analysis-console.axvw" rel="pTask" data-taskId="Lease Classification Analysis Console" data-taskIcon="ab-icon-task.gif">Lease Classification Analysis Console</a></li>
                            </ol>
                            <li>Add/Edit Portfolio Item</li>
                            <ol class="process-tasks">
                                <li><a href="ab-rplm-lsadmin-add-item-to-portfolio-wizard.axvw" rel="pTask" data-taskId="... Add/Edit Wizard" data-taskIcon="ab-icon-task.gif">... Add/Edit Wizard</a></li>
                                <li><a href="ab-repm-addedit-lease-form.axvw" rel="pTask" data-taskId="... Add/Edit Form - Complete" data-taskIcon="ab-icon-task.gif">... Add/Edit Form - Complete</a></li>
                                <li><a href="ab-repm-addedit-lease-shortform.axvw" rel="pTask" data-taskId="... Add/Edit Form - Basic" data-taskIcon="ab-icon-task.gif">... Add/Edit Form - Basic</a></li>
                                <li><a href="ab-repm-lsadmin-prop-amenities.axvw" rel="pTask" data-taskId="... Add New Amenity to a Property" data-taskIcon="ab-icon-task.gif">... Add New Amenity to a Property</a></li>
                                <li><a href="ab-repm-lsadmin-bl-amenities.axvw" rel="pTask" data-taskId="... Add New Amenity to a Building" data-taskIcon="ab-icon-task.gif">... Add New Amenity to a Building</a></li>
                            </ol>
                            <li>Lease Communications</li>
                            <ol class="process-tasks">
                                <li><a href="ab-repm-lsadmin-comm-log.axvw" rel="pTask" data-taskId="... Communication Log Items" data-taskIcon="ab-icon-task.gif">... Communication Log Items</a></li>
                                <li><a href="ab-repm-lsadmin-comm-log-by-lease.axvw" rel="pTask" data-taskId="... by Lease" data-taskIcon="ab-icon-task.gif">... by Lease</a></li>
                                <li><a href="ab-repm-lsadmin-comm-log-by-activity-log.axvw" rel="pTask" data-taskId="....by Activity Log Item" data-taskIcon="ab-icon-task.gif">....by Activity Log Item</a></li>
                                <li><a href="ab-repm-lsadmin-comm-log-by-project.axvw" rel="pTask" data-taskId="... by Activity Log Item by Project" data-taskIcon="ab-icon-task.gif">... by Activity Log Item by Project</a></li>
                            </ol>
                        </ol>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
$(document).ready(function() {
    $('#navigationTabs').find('a').click(function() {return false;});
    initDandDFavorites();
    setPageDimensions();
    bindTaskContextMenu();
    localizeFavoritesDisplayText();
    loadFavoritesBuckets();
    modifyProcessTitleDisplay();
    pageTallPTaskBuckets();
});
</script>