<div class="nav-pages" id="PortfolioManagement">
    <div class="page">
        <div class="page-row full-height" >
            <h3 class="application-title" data-activityId="AbRPLMPortfolioAdministration">Portfolio Management</h3>
            <hr class="application-horizontal-rule">
            <div id="appProcFavoritesBucket" class="bucket-application bucket-background-light " data-activityId="" data-processId="" oncontextmenu="return false;">
                <h2 class="applications-process-title" data-processId="" title="Most often used tasks and reports.">My Favorites</h2>
                <div class="bucket-wrapper" id="wrapper_0e600ad1-6057-454c-a86d-fa4a7fb04ab2">
                    <div class="favorites-drop-target">
                        <span class="favorites-add-target"></span>
                        <span class="favorites-delete-target">&nbsp;</span>
                    </div>
                    <div class="favorites" onMouseUp="openPtask(this,event);">
                        <ol class="favorites-items">
                        </ol>
                    </div>
                </div>
            </div>
            <div class="bucket-application " data-productId="AbRPLM" data-activityId="AbRPLMPortfolioAdministration" data-processId="Buildings" data-productTitle="Real Estate Portfolio Management" data-activityTitle="Portfolio Management" data-processTitle="Buildings" data-subfolder="\ab-products\rplm\pfolio-admin" data-helpLink="\Subsystems\webc\Content\web_user\port_admin\buildings.htm" data-helpSystem="END USER" data-dashboardLayout="" data-dashboardView="" title="" oncontextmenu="return false;" onMouseUp="openPtask(this,event);">
                <h2 class="applications-process-title" title="">
                    <span class="process-title-text">Buildings</span>
                </h2>
                <div class="bucket-wrapper" id="wrapper_abrplmportfolioadministration_buildings">
                        <ol class="ptask-labels">
                            <li></li>
                            <ol class="process-tasks">
                                <li><a href="ab-rplm-pfadmin-add-item-to-portfolio-wizard.axvw" rel="pTask" data-taskId="Add/Edit Wizard" data-taskIcon="ab-icon-task.gif">Add/Edit Wizard</a></li>
                                <li><a href="ab-repm-lsadmin-bl-amenities.axvw" rel="pTask" data-taskId="Add New Amenity to a Building" data-taskIcon="ab-icon-task.gif">Add New Amenity to a Building</a></li>
                            </ol>
                            <li class="empty-taskgroup-title">&nbsp;</li>
                            <ol class="process-tasks">
                                <li><a href="ab-rplm-pfadmin-bldgs-dashboard.axvw" rel="pTask" data-taskId="Buildings Dashboard" data-taskIcon="ab-icon-task.gif">Buildings Dashboard</a></li>
                                <li><a href="ab-rplm-pfadmin-manage-bldgs-by-location-masterview.axvw" rel="pTask" data-taskId="Manage Buildings by Location" data-taskIcon="ab-icon-task.gif">Manage Buildings by Location</a></li>
                            </ol>
                            <li class="empty-taskgroup-title">&nbsp;</li>
                            <ol class="process-tasks">
                                <li><a href="ab-rplm-pfadmin-leases-and-suites-by-building-report.axvw" rel="pTask" data-taskId="Leases and Suites by Building" data-taskIcon="ab-icon-task.gif">Leases and Suites by Building</a></li>
                            </ol>
                            <li class="empty-taskgroup-title">&nbsp;</li>
                            <ol class="process-tasks">
                                <li><a href="ab-repm-pfadmin-item-by-location.axvw" rel="pTask" data-taskId="Buildings by Location" data-taskIcon="ab-icon-task.gif">Buildings by Location</a></li>
                                <li><a href="ab-repm-pfadmin-bldgs-est-area-by-chart.axvw" rel="pTask" data-taskId="Building Area by Location" data-taskIcon="ab-icon-task.gif">Building Area by Location</a></li>
                            </ol>
                            <li>Documents By:</li>
                            <ol class="process-tasks">
                                <li><a href="ab-rplm-pfadmin-documents-by-bldgs-report.axvw" rel="pTask" data-taskId="... Building" data-taskIcon="ab-icon-task.gif">... Building</a></li>
                                <li><a href="ab-rplm-pfadmin-documents-by-bldgs-lease-report.axvw" rel="pTask" data-taskId="... Lease by Building" data-taskIcon="ab-icon-task.gif">... Lease by Building</a></li>
                            </ol>
                            <li>Contacts by:</li>
                            <ol class="process-tasks">
                                <li><a href="ab-rplm-pfadmin-contacts-by-bldgs-report.axvw" rel="pTask" data-taskId="...  Building" data-taskIcon="ab-icon-task.gif">...  Building</a></li>
                                <li><a href="ab-rplm-pfadmin-contacts-by-lease-by-bldgs-report.axvw" rel="pTask" data-taskId="...  Lease by Building" data-taskIcon="ab-icon-task.gif">...  Lease by Building</a></li>
                            </ol>
                            <li>Building Area Availability by:</li>
                            <ol class="process-tasks">
                                <li><a href="ab-repm-pfadmin-bldgs-est-area-by-ownership-stat-by-chart.axvw" rel="pTask" data-taskId="... Location" data-taskIcon="ab-icon-task.gif">... Location</a></li>
                                <li><a href="ab-rplm-pfadmin-bldgs-est-area-by-ownership-stat-by-loc-chart.axvw" rel="pTask" data-taskId="... Location and Time" data-taskIcon="ab-icon-task.gif">... Location and Time</a></li>
                            </ol>
                            <li>Building:</li>
                            <ol class="process-tasks">
                                <li><a href="ab-repm-pfadmin-bldgs-monthly-capital-trans-by-chart.axvw" rel="pTask" data-taskId="... Net Capital Cash Flow by Location" data-taskIcon="ab-icon-task.gif">... Net Capital Cash Flow by Location</a></li>
                                <li><a href="ab-repm-pfadmin-bldgs-book-vs-market-by-chart.axvw" rel="pTask" data-taskId="... Book & Market Value by Location" data-taskIcon="ab-icon-task.gif">... Book & Market Value by Location</a></li>
                            </ol>
                        </ol>
                </div>
            </div>
            <div class="bucket-application " data-productId="AbRPLM" data-activityId="AbRPLMPortfolioAdministration" data-processId="Structures" data-productTitle="Real Estate Portfolio Management" data-activityTitle="Portfolio Management" data-processTitle="Structures" data-subfolder="\ab-products\rplm\pfolio-admin" data-helpLink="\Subsystems\webc\Content\web_user\port_admin\structures.htm" data-helpSystem="END USER" data-dashboardLayout="" data-dashboardView="" title="" oncontextmenu="return false;" onMouseUp="openPtask(this,event);">
                <h2 class="applications-process-title" title="">
                    <span class="process-title-text">Structures</span>
                </h2>
                <div class="bucket-wrapper" id="wrapper_abrplmportfolioadministration_structures">
                        <ol class="ptask-labels">
                            <li></li>
                            <ol class="process-tasks">
                                <li><a href="ab-rplm-pfadmin-add-item-to-portfolio-wizard.axvw" rel="pTask" data-taskId="Add/Edit Wizard" data-taskIcon="ab-icon-task.gif">Add/Edit Wizard</a></li>
                                <li><a href="ab-repm-pfadmin-struct-amenities.axvw" rel="pTask" data-taskId="Add New Amenity to a Structure" data-taskIcon="ab-icon-task.gif">Add New Amenity to a Structure</a></li>
                            </ol>
                            <li class="empty-taskgroup-title">&nbsp;</li>
                            <ol class="process-tasks">
                                <li><a href="ab-rplm-pfadmin-struc-dashboard.axvw" rel="pTask" data-taskId="Structures Dashboard" data-taskIcon="ab-icon-task.gif">Structures Dashboard</a></li>
                                <li><a href="ab-rplm-pfadmin-manage-struc-by-location-masterview.axvw" rel="pTask" data-taskId="Manage Structures by Location" data-taskIcon="ab-icon-task.gif">Manage Structures by Location</a></li>
                            </ol>
                            <li class="empty-taskgroup-title">&nbsp;</li>
                            <ol class="process-tasks">
                                <li><a href="ab-rplm-pfadmin-leases-by-structure-report.axvw" rel="pTask" data-taskId="Leases by Structure" data-taskIcon="ab-icon-task.gif">Leases by Structure</a></li>
                            </ol>
                            <li class="empty-taskgroup-title">&nbsp;</li>
                            <ol class="process-tasks">
                                <li><a href="ab-repm-pfadmin-item-by-location.axvw" rel="pTask" data-taskId="Structures by Location" data-taskIcon="ab-icon-task.gif">Structures by Location</a></li>
                            </ol>
                            <li>Documents by:</li>
                            <ol class="process-tasks">
                                <li><a href="ab-rplm-pfadmin-documents-by-struc-report.axvw" rel="pTask" data-taskId="... Structure" data-taskIcon="ab-icon-task.gif">... Structure</a></li>
                                <li><a href="ab-rplm-pfadmin-documents-by-struc-lease-report.axvw" rel="pTask" data-taskId="... Lease by Structure" data-taskIcon="ab-icon-task.gif">... Lease by Structure</a></li>
                            </ol>
                            <li>Contacts by:</li>
                            <ol class="process-tasks">
                                <li><a href="ab-rplm-pfadmin-contacts-by-struc-report.axvw" rel="pTask" data-taskId="...  Structure" data-taskIcon="ab-icon-task.gif">...  Structure</a></li>
                                <li><a href="ab-rplm-pfadmin-contacts-by-lease-by-struc-report.axvw" rel="pTask" data-taskId="...  Lease by Structure" data-taskIcon="ab-icon-task.gif">...  Lease by Structure</a></li>
                            </ol>
                            <li>Structure:</li>
                            <ol class="process-tasks">
                                <li><a href="ab-repm-pfadmin-struc-monthly-capital-trans-by-chart.axvw" rel="pTask" data-taskId="... Net Capital Cash Flow by Location" data-taskIcon="ab-icon-task.gif">... Net Capital Cash Flow by Location</a></li>
                                <li><a href="ab-repm-pfadmin-struc-book-vs-market-by-chart.axvw" rel="pTask" data-taskId="... Book & Market Value by Location" data-taskIcon="ab-icon-task.gif">... Book & Market Value by Location</a></li>
                            </ol>
                        </ol>
                </div>
            </div>
            <div class="bucket-application " data-productId="AbRPLM" data-activityId="AbRPLMPortfolioAdministration" data-processId="Land" data-productTitle="Real Estate Portfolio Management" data-activityTitle="Portfolio Management" data-processTitle="Land" data-subfolder="\ab-products\rplm\pfolio-admin" data-helpLink="\Subsystems\webc\Content\web_user\port_admin\land.htm" data-helpSystem="END USER" data-dashboardLayout="" data-dashboardView="" title="" oncontextmenu="return false;" onMouseUp="openPtask(this,event);">
                <h2 class="applications-process-title" title="">
                    <span class="process-title-text">Land</span>
                </h2>
                <div class="bucket-wrapper" id="wrapper_abrplmportfolioadministration_land">
                        <ol class="ptask-labels">
                            <li></li>
                            <ol class="process-tasks">
                                <li><a href="ab-rplm-pfadmin-add-item-to-portfolio-wizard.axvw" rel="pTask" data-taskId="Add/Edit Wizard" data-taskIcon="ab-icon-task.gif">Add/Edit Wizard</a></li>
                                <li><a href="ab-repm-pfadmin-land-amenities.axvw" rel="pTask" data-taskId="Add New Amenity to Land" data-taskIcon="ab-icon-task.gif">Add New Amenity to Land</a></li>
                            </ol>
                            <li class="empty-taskgroup-title">&nbsp;</li>
                            <ol class="process-tasks">
                                <li><a href="ab-rplm-pfadmin-land-dashboard.axvw" rel="pTask" data-taskId="Land Dashboard" data-taskIcon="ab-icon-task.gif">Land Dashboard</a></li>
                                <li><a href="ab-rplm-pfadmin-manage-land-by-location-masterview.axvw" rel="pTask" data-taskId="Manage Land by Location" data-taskIcon="ab-icon-task.gif">Manage Land by Location</a></li>
                            </ol>
                            <li class="empty-taskgroup-title">&nbsp;</li>
                            <ol class="process-tasks">
                                <li><a href="ab-rplm-pfadmin-leases-by-land-report.axvw" rel="pTask" data-taskId="Leases by Land" data-taskIcon="ab-icon-task.gif">Leases by Land</a></li>
                            </ol>
                            <li class="empty-taskgroup-title">&nbsp;</li>
                            <ol class="process-tasks">
                                <li><a href="ab-repm-pfadmin-item-by-location.axvw" rel="pTask" data-taskId="Land by Location" data-taskIcon="ab-icon-task.gif">Land by Location</a></li>
                                <li><a href="ab-repm-pfadmin-land-est-area-by-chart.axvw" rel="pTask" data-taskId="Land Area by Location" data-taskIcon="ab-icon-task.gif">Land Area by Location</a></li>
                            </ol>
                            <li>Documents by:</li>
                            <ol class="process-tasks">
                                <li><a href="ab-rplm-pfadmin-documents-by-land-report.axvw" rel="pTask" data-taskId="... Land" data-taskIcon="ab-icon-task.gif">... Land</a></li>
                                <li><a href="ab-rplm-pfadmin-documents-by-land-lease-report.axvw" rel="pTask" data-taskId="... Lease by Land" data-taskIcon="ab-icon-task.gif">... Lease by Land</a></li>
                            </ol>
                            <li>Contacts by:</li>
                            <ol class="process-tasks">
                                <li><a href="ab-rplm-pfadmin-contacts-by-lands-report.axvw" rel="pTask" data-taskId="...  Land" data-taskIcon="ab-icon-task.gif">...  Land</a></li>
                                <li><a href="ab-rplm-pfadmin-contacts-by-lease-by-land-report.axvw" rel="pTask" data-taskId="...  Lease by Land" data-taskIcon="ab-icon-task.gif">...  Lease by Land</a></li>
                            </ol>
                            <li>Land Area Availability by:</li>
                            <ol class="process-tasks">
                                <li><a href="ab-repm-pfadmin-land-est-area-by-ownership-stat-by-chart.axvw" rel="pTask" data-taskId="... Location" data-taskIcon="ab-icon-task.gif">... Location</a></li>
                                <li><a href="ab-rplm-pfadmin-land-est-area-by-ownership-stat-by-location-chart.axvw" rel="pTask" data-taskId="... Location and Time" data-taskIcon="ab-icon-task.gif">... Location and Time</a></li>
                            </ol>
                            <li class="empty-taskgroup-title">&nbsp;</li>
                            <ol class="process-tasks">
                                <li><a href="ab-repm-pfadmin-land-monthly-capital-trans-by-chart.axvw" rel="pTask" data-taskId="Land Net Capital Cash Flow by Location" data-taskIcon="ab-icon-task.gif">Land Net Capital Cash Flow by Location</a></li>
                            </ol>
                        </ol>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
$(document).ready(function() {
    $('#navigationTabs').find('a').click(function() {return false;});
    initDandDFavorites();
    setPageDimensions();
    bindTaskContextMenu();
    localizeFavoritesDisplayText();
    loadFavoritesBuckets();
    modifyProcessTitleDisplay();
    pageTallPTaskBuckets();
});
</script>