<div class="nav-pages" id="EnvironmentalHealthSafety">
    <div class="page">
        <div class="page-row full-height" >
            <h3 class="application-title" data-activityId="AbRiskEHS">Environmental Health & Safety</h3>
            <hr class="application-horizontal-rule">
            <div id="appProcFavoritesBucket" class="bucket-application bucket-background-light " data-activityId="" data-processId="" oncontextmenu="return false;">
                <h2 class="applications-process-title" data-processId="" title="Most often used tasks and reports.">My Favorites</h2>
                <div class="bucket-wrapper" id="wrapper_c397aca3-31d1-47c9-995f-6511e5a829ef">
                    <div class="favorites-drop-target">
                        <span class="favorites-add-target"></span>
                        <span class="favorites-delete-target">&nbsp;</span>
                    </div>
                    <div class="favorites" onMouseUp="openPtask(this,event);">
                        <ol class="favorites-items">
                        </ol>
                    </div>
                </div>
            </div>
            <div class="bucket-application " data-productId="AbRisk" data-activityId="AbRiskEHS" data-processId="EHS - Incident Reporting" data-productTitle="Environmental & Risk Management" data-activityTitle="Environmental Health & Safety" data-processTitle="Incident Reporting" data-subfolder="\ab-products\risk\ehs" data-helpLink="\Subsystems\webc\Content\ehs\employee_review\incident_reporting.htm" data-helpSystem="END USER" data-dashboardLayout="" data-dashboardView="" title="" oncontextmenu="return false;" onMouseUp="openPtask(this,event);">
                <h2 class="applications-process-title" title="">
                    <span class="process-title-text">Incident Reporting</span>
                </h2>
                <div class="bucket-wrapper" id="wrapper_abriskehs_ehsIncidentReporting">
                        <ol class="ptask-labels">
                            <li></li>
                            <ol class="process-tasks">
                                <li><a href="ab-ehs-track-incidents-user.axvw" rel="pTask" data-taskId="Report Incident" data-taskIcon="ab-icon-task.gif">Report Incident</a></li>
                            </ol>
                        </ol>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
$(document).ready(function() {
    $('#navigationTabs').find('a').click(function() {return false;});
    initDandDFavorites();
    setPageDimensions();
    bindTaskContextMenu();
    localizeFavoritesDisplayText();
    loadFavoritesBuckets();
    modifyProcessTitleDisplay();
    pageTallPTaskBuckets();
});
</script>