<div class="nav-pages" id="navPagesApps">
    <div class="page">
        <div class="page-row half-height" >
            <h3 oncontextmenu="return false;">ARCHIBUS APPLICATIONS</h3>
            <hr class="application-horizontal-rule">
            <div class="bucket-application " data-productId="AbRPLM" oncontextmenu="return false;">
                <h2 class="product-title" title="Create an electronic inventory of your properties and your leases, complete with detailed data on occupancy, taxes, regularly occurring required actions, compliance with regulations, costs, and more." data-helpLink="">
                    <span class="product-title-text">Real Estate Portfolio Management</span>
                    <img src="/archibus/schema/ab-system/graphics/ab-icon-rplm32.png" alt="" class="application-title-icon"/>
                </h2>
                <div class="bucket-wrapper" id="wrapper_abrplm"  onMouseUp="openProcess(this,event);">
                               <ol class="app-processes">
                                   <li><a href="ab-rplm-portfolio-administration-2-workflow-process-acp.html" class="application-title" rel="activityProcess" data-activityId="AbRPLMPortfolioAdministration" data-helpLink="" data-helpLink="END USER" title="Portfolio managers strive to ensure that the massive investments the organization makes in the real estate portfolio drives the organizational mission forward.  Yet widely varied holdings, the specialized needs of different lines of business, and the intricate timing of leases and transactions often obscure this alignment.  This activity provides a consolidated view of real estate data to visualize the portfolio and improve asset stewardship.  It provides multiple benchmarks of portfolio performance to enable rapid, fact-based decisions.  And it provides the analyses essential to spot trends, analyze spending, and target anomalies.">Portfolio Management</a></li>
                                   <li><a href="ab-rplm-lease-administration-2-workflow-process-acp.html" class="application-title" rel="activityProcess" data-activityId="AbRPLMLeaseAdministration" data-helpLink="" data-helpLink="END USER" title="Lease managers know that any error in processing the complex terms of a lease can result in missed option opportunities, billing errors, monetary penalties, and even last-minute moves due to missed renewal dates.  Yet tracking a large number of leases with variable terms of tenancy, differing option exercise dates, and intricate financial terms can be daunting.  This activity reduces errors and risk by automating lease administration to reduce errors, spot anomalies, and provide automated alerts to upcoming actions.">Lease Administration</a></li>
                                   <li><a href="ab-rplm-costs-2-workflow-process-acp.html" class="application-title" rel="activityProcess" data-activityId="AbRPLMCosts" data-helpLink="" data-helpLink="END USER" title="Cost administrators aim to give their organizations a competitive advantage through superior understanding of real estate costs.  However, doing so in a portfolio of any complexity is a challenge without the right tools.  This activity increases accuracy in cost tracking by leveraging lease data and by using wizard-based costing tools.  It helps find anomalies and waste by comparative benchmarking of each building, property, lease, and account.  And it improves transparency and decision support with analysis tools that spot trends, highlight outliers, and forecast income, expense, and cash flow.">Cost Administration</a></li>
                                   <li><a href="ab-rplm-chargeback-invoice-2-workflow-process-acp.html" class="application-title" rel="activityProcess" data-activityId="AbRPLMChargebackInvoice" data-helpLink="" data-helpLink="END USER" title="For lease administrators who need to accurately generate invoices based on complex chargeback terms, this activity reduces errors with automated chargeback calculations and invoice and payment monitoring.
For Cost administrators that need to provide transparency of costs for decision-support, this activity correlates costs with locations to obtain accurate total costs of operation for each line of business or cost center.">Cost Chargeback & Invoicing</a></li>
                                   <li><a href="ab-rplm-gov-property-registry-2-workflow-process-acp.html" class="application-title" rel="activityProcess" data-activityId="AbRPLMGovPropertyRegistry" data-helpLink="" data-helpLink="END USER" title="For portfolio administrators within federal agencies striving to comply with Executive Order 13327, this activity reports real property data to the centralized Federal repository in the mandated format.  The activity uses a workflow for tracking and approving transactions and can report by requestor or by Property Asset Unique Identifier.">US Federal Property Registry</a></li>
                               </ol>
                </div>
            </div>
            <div class="bucket-application " data-productId="AbProject" oncontextmenu="return false;">
                <h2 class="product-title" title="Plan, approve, and execute the projects that will turn your organizational mission goals into concrete results." data-helpLink="">
                    <span class="product-title-text">Capital Project Management</span>
                    <img src="/archibus/schema/ab-system/graphics/ab-icon-project32.png" alt="" class="application-title-icon"/>
                </h2>
                <div class="bucket-wrapper" id="wrapper_abproject"  onMouseUp="openProcess(this,event);">
                               <ol class="app-processes">
                                   <li><a href="ab-capital-planning-ca-2-workflow-process-acp.html" class="application-title" rel="activityProcess" data-activityId="AbCapitalPlanningCA" data-helpLink="/Subsystems/webc/Content/ca/concepts/introduction.htm" data-helpLink="END USER" title="Maintenance managers stay vigilant for threats to life safety or to the organization's mission, as they know that if left unchecked, even minor defects can lead to equipment failure, business interruption, or accidents.  Yet keeping on top of each and every defect that can occur within a facility can tax even the most capable maintenance organization.  The Condition Assessment activity lowers risk by creating a complete assessment program directly from the up-to-date space and equipment inventories.  It lowers total lifecycle costs by correcting corrosive defects early.  And it clearly expresses to management the total costs and potential consequences by using a visual scoreboard that summarizes the impact of facility conditions on life safety, business mission, productivity, and image.">Condition Assessment</a></li>
                                   <li><a href="ab-capital-budgeting-2-workflow-process-acp.html" class="application-title" rel="activityProcess" data-activityId="AbCapitalBudgeting" data-helpLink="" data-helpLink="END USER" title="Real estate organizations are often swamped by diverse requests from stakeholders throughout the organization for new capital projects to support master planning, expansion, modernization, consolidation, renovation, and sustainability.  This collaborative activity lets the management team prioritize those projects that best align with the organization's mission and resource them for success.  Features that review multi-year budget allocations, consider alternative "what if" scenarios, and budget from different capital and expense funds let them make decisions within complex capital landscapes with confidence.">Capital Budgeting</a></li>
                                   <li><a href="ab-project-management-2-workflow-process-acp.html" class="application-title" rel="activityProcess" data-activityId="AbProjectManagement" data-helpLink="" data-helpLink="END USER" title="Real estate portfolio managers constantly oversee a large portfolio of projects simultaneously.  Renovations, building acquisitions, HVAC upgrades, sustainability programs, department moves -- all have complex interdependencies that cannot be managed in isolation.  This activity coordinates programs, projects, actions and costs from a top-down perspective that keeps all participants aligned with the overarching organizational priorities that all projects serve.  Gantt charts and workflows make milestones, tasks and status changes visible to all.  Weighted performance scorecards highlight outliers that are a risk to the budget or the mission.">Project Management</a></li>
                               </ol>
                </div>
            </div>
            <div class="bucket-application " data-productId="AbSpace" oncontextmenu="return false;">
                <h2 class="product-title" title="For space and department managers who need to optimize space use, this suite of applications accurately tracks space, occupancy, vacancies, and even individual manager responsibilities.  Through accurate analytics to make informed decisions and through chargeback features to change cost-awareness and behavior within the organization, space managers can typically reduce space use by 5% to 10%.  These optimizations also lower indirect costs and reduce carbon footprint in the same proportion." data-helpLink="">
                    <span class="product-title-text">Space Planning & Management</span>
                    <img src="/archibus/schema/ab-system/graphics/ab-icon-space32.png" alt="" class="application-title-icon"/>
                </h2>
                <div class="bucket-wrapper" id="wrapper_abspace"  onMouseUp="openProcess(this,event);">
                               <ol class="app-processes">
                                   <li><a href="ab-space-personnel-inventory-2-workflow-process-acp.html" class="application-title" rel="activityProcess" data-activityId="AbSpacePersonnelInventory" data-helpLink="" data-helpLink="END USER" title="For space and department managers looking to use space more efficiently and make staff more productive, this integrated, Web-based application reduces vacancy rates by providing self-service access to space inventory and personnel lists, allowing managers to optimize employee placement based on affinity and identify availability.  It provides tools to plan for future needs and benchmarks to promote standards and fairness in employee placement.">Personnel & Occupancy</a></li>
                               </ol>
                </div>
            </div>
            <div class="bucket-application " data-productId="AbMove" oncontextmenu="return false;">
                <h2 class="product-title" title="Manage change, growth, and project teams with this collaborative activity.  Flow individual or group moves, manage the details assiciated with asset moves or new hires.  Track and flow move orders together with the action requests from other teams, such as IT, operations, or security." data-helpLink="">
                    <span class="product-title-text">Move Management</span>
                    <img src="/archibus/schema/ab-system/graphics/ab-icon-move32.png" alt="" class="application-title-icon"/>
                </h2>
                <div class="bucket-wrapper" id="wrapper_abmove"  onMouseUp="openProcess(this,event);">
                               <ol class="app-processes">
                                   <li><a href="ab-move-management-2-workflow-process-acp.html" class="application-title" rel="activityProcess" data-activityId="AbMoveManagement" data-helpLink="" data-helpLink="END USER" title="Speed your move process, reduce churn, and manage multiple phases and trials.">Enterprise Move Management</a></li>
                               </ol>
                </div>
            </div>
            <div class="bucket-application " data-productId="AbBldgOps" oncontextmenu="return false;">
                <h2 class="product-title" title="For building and maintenance managers who must track all work requests and report maintenance costs and forecasts to the organization, the Building Operations domain is a web-based, operations-focused solution that deploys easily to all maintenance stakeholders.  Maintenance managers may customize workflows to automate their processes, enforce deadlines, and organiz their operations.  Building managers may analyze building operations history and costs to forecast future needs." data-helpLink="">
                    <span class="product-title-text">Building Operations</span>
                    <img src="/archibus/schema/ab-system/graphics/ab-icon-bldgops32.png" alt="" class="application-title-icon"/>
                </h2>
                <div class="bucket-wrapper" id="wrapper_abbldgops"  onMouseUp="openProcess(this,event);">
                               <ol class="app-processes">
                                   <li><a href="ab-bldg-ops-pm-2-workflow-process-acp.html" class="application-title" rel="activityProcess" data-activityId="AbBldgOpsPM" data-helpLink="" data-helpLink="END USER" title="For building and maintenance managers looking to track recurring maintenance work more effectively, avoid costly repairs, and stop lengthy downtimes, this application is a comprehensive planning solution that provides managers with the ability to define maintenance procedures, set up schedules for all critical assets, and balance those schedules with available resources.  With this application, maintenance managers may accurately forecast resource and cost requirements for all planned maintenance tasks.">Preventive Maintenance</a></li>
                                   <li><a href="ab-bldg-ops-on-demand-work-2-workflow-process-acp.html" class="application-title" rel="activityProcess" data-activityId="AbBldgOpsOnDemandWork" data-helpLink="" data-helpLink="END USER" title="For building and maintenance managers, supervisors, and craftspersons who need to track incoming maintenance requests, manage service providers, plan work and resources, and report on key metrics, this application is a comprehensive solution that allows managers to define problem-specific workflows and automate maintenance processes for customers, approvers, supervisors, and craftspersons.  Supervisors may schedule tasks graphically, and managers may roll up data to pinpoint and correct negative trends.">On Demand Work</a></li>
                                   <li><a href="ab-capital-planning-ca-2-workflow-process-acp.html" class="application-title" rel="activityProcess" data-activityId="AbCapitalPlanningCA" data-helpLink="/Subsystems/webc/Content/ca/concepts/introduction.htm" data-helpLink="END USER" title="Maintenance managers stay vigilant for threats to life safety or to the organization's mission, as they know that if left unchecked, even minor defects can lead to equipment failure, business interruption, or accidents.  Yet keeping on top of each and every defect that can occur within a facility can tax even the most capable maintenance organization.  The Condition Assessment activity lowers risk by creating a complete assessment program directly from the up-to-date space and equipment inventories.  It lowers total lifecycle costs by correcting corrosive defects early.  And it clearly expresses to management the total costs and potential consequences by using a visual scoreboard that summarizes the impact of facility conditions on life safety, business mission, productivity, and image.">Condition Assessment</a></li>
                               </ol>
                </div>
            </div>
       </div>
        <div class="page-row three-quarter-height" >
            <h3 oncontextmenu="return false;">ARCHIBUS APPLICATIONS</h3>
            <hr class="application-horizontal-rule">
            <div class="bucket-application " data-productId="AbRisk" oncontextmenu="return false;">
                <h2 class="product-title" title="Manage facilities activities related to organizational risk and risk mitigation." data-helpLink="">
                    <span class="product-title-text">Environmental & Risk Management</span>
                    <img src="/archibus/schema/ab-system/graphics/ab-icon-risk32.png" alt="" class="application-title-icon"/>
                </h2>
                <div class="bucket-wrapper" id="wrapper_abrisk"  onMouseUp="openProcess(this,event);">
                               <ol class="app-processes">
                                   <li><a href="ab-risk-emergency-preparedness-2-workflow-process-acp.html" class="application-title" rel="activityProcess" data-activityId="AbRiskEmergencyPreparedness" data-helpLink="" data-helpLink="END USER" title="Facility and operations staff carefully prepare for workplace emergencies, such as blizzards, floods, chemical spills, gas leaks, and other threats.  Yet to implement these plans they need tools to coordinate first responders, staff, the assessment team, and management -- even under crisis conditions in which they cannot access the facility or the corporate phone, email, or Intranet.  Emergency Preparedness provides this coordination as well as the quick information and procedures that can to help save lives, minimize damage, expedite insurance claims, and speedily recover critical business functions.">Emergency Preparedness</a></li>
                                   <li><a href="ab-risk-es-2-workflow-process-acp.html" class="application-title" rel="activityProcess" data-activityId="AbRiskES" data-helpLink="\rm_results\Automating_your_Risk_Management_Business_Results.htm" data-helpLink="END USER" title="Real estate and facility managers are resolute in meeting management directives to enforce high standards for sustainability and carbon reduction.  Yet they find applying these standards to the multiplicity of buildings and conditions under their command is a complex problem.  This activity reduces risk by rating the entire facility in all its detail against corporate directives and government environmental regulations. It lowers costs by identifying opportunities to save energy and reduce waste.  And it improves governance by score-carding remediation alternatives and identifying the highest-priority, highest-impact use for limited remediation budgets.">Environmental Sustainability Assessment</a></li>
                                   <li><a href="ab-risk-ehs-2-workflow-process-acp.html" class="application-title" rel="activityProcess" data-activityId="AbRiskEHS" data-helpLink="" data-helpLink="END USER" title="For safety managers who must ensure that staff are properly trained to work with all materials and have proper personal protective equipment (PPE), and who must implement a medical monitoring system that complies with OSHA or other government regulations, the ARCHIBUS Environmental Health & Safety application provides a structured and flexible framework for continually monitoring safety procedures and issues. If a safety-related incident occurs, managers can use the application to track the root cause, corrective actions, injury information, plant location, and future work restrictions placed on the employee. Combining this incident data with medical monitoring, PPE, and training functions provides managers with a powerful tool to ensure and enforce safety programs and procedures.">Environmental Health & Safety</a></li>
                                   <li><a href="ab-risk-clean-building-2-workflow-process-acp.html" class="application-title" rel="activityProcess" data-activityId="AbRiskCleanBuilding" data-helpLink="" data-helpLink="END USER" title="Manage the process of locating, identifying, and abating hazardous substances, such as asbestos, lead-based paint, mold and radon, throughout an organization`s property portfolio.  The activity provides quick and easy access to comprehensive information regarding the location and condition of asbestos, lead-based paint and other hazardous materials. This activity helps to manage regulatory obligations for assessment, abatement, monitoring, and reporting of hazardous materials and substances.">Clean Building</a></li>
                                   <li><a href="ab-risk-msds-2-workflow-process-acp.html" class="application-title" rel="activityProcess" data-activityId="AbRiskMSDS" data-helpLink="" data-helpLink="END USER" title="For safety managers who must maintain a catalog of the manufacturer's latest as well as historical MSDSs and share this data with the company's employees, the ARCHIBUS MSDS application provides tools for 
storing lists of chemical products used in workplaces, cataloging their MSDSs, and associating MSDSs with particular locations. Once entered, this data can provide valuable insight to the location and 
severity of potential hazards as well as satisfy compliance regulations.">Hazardous Materials</a></li>
                                   <li><a href="ab-risk-energy-management-2-workflow-process-acp.html" class="application-title" rel="activityProcess" data-activityId="AbRiskEnergyManagement" data-helpLink="" data-helpLink="END USER" title="Management often mandates that energy managers meet exacting directives to reduce carbon output and energy use by exacting targets, typically 3-5% per year.  However, energy managers often do not have complete picture on current consumption, on the line of business the energy spends supports, or on how to objectively measure the effects of remediation actions.  This activity correlates energy bills with building information and weather modeling to pinpoint errors in billing, identify problem buildings, and root out wasteful usage.  As a result, Energy manages can meet aggressive energy reduction targets and align their energy spend with organizational priorities.">Energy Management</a></li>
                                   <li><a href="ab-risk-green-building-2-workflow-process-acp.html" class="application-title" rel="activityProcess" data-activityId="AbRiskGreenBuilding" data-helpLink="" data-helpLink="END USER" title="Sustainability officers and green building managers strive to increase green building performance and certification levels and to reduce carbon footprint. However, assessing progress and quantifying results requires complex calculations and a breadth of data spanning multiple years. This activity calculates net greenhouse gas equivalent impact, shows carbon footprint change over time for each building or an entire portfolio, tracks progress through sustainability certification projects, and manages data and documents required for requalification. It also shows anticipated payback on sustainability investments and correlates environmental data to facility use and operations thus providing the timely and reliable data required for making and defending strategic sustainability decisions.">Green Building</a></li>
                               </ol>
                </div>
            </div>
            <div class="bucket-application " data-productId="AbWorkplaceServices" oncontextmenu="return false;">
                <h2 class="product-title" title="For service desk or operations managers who must track a large and varied set of service requests, all while managing and monitoring service providers, the Workplace Service domain is a web-based solution that allows employees enterprise-wide to enter self-service requests and allows managers to centrally monitor and control those services.  Through process automation, analytics, service monitoring, and self-service access, managers greatly increase service efficiency and performance." data-helpLink="">
                    <span class="product-title-text">Workplace Services</span>
                    <img src="/archibus/schema/ab-system/graphics/ab-icon-workplace32.png" alt="" class="application-title-icon"/>
                </h2>
                <div class="bucket-wrapper" id="wrapper_abworkplaceservices"  onMouseUp="openProcess(this,event);">
                               <ol class="app-processes">
                                   <li><a href="ab-bldg-ops-help-desk-2-workflow-process-acp.html" class="application-title" rel="activityProcess" data-activityId="AbBldgOpsHelpDesk" data-helpLink="" data-helpLink="END USER" title="For service desk managers and service providers who need to manage a growing number of service requests while maintaining service performance and organizational efficiency, this application allows 24x7 self-service assistance and enforces performance of your service providers through service-level agreements. Service-desk managers may configure service-desk workflows to reduce administrative overhead and to hold service providers accountable through measurable results.">Service Desk</a></li>
                                   <li><a href="ab-workplace-reservations-2-workflow-process-acp.html" class="application-title" rel="activityProcess" data-activityId="AbWorkplaceReservations" data-helpLink="" data-helpLink="END USER" title="For operations or service managers who want to provide all employees with the ability to reserve conference rooms and resources without any hassle, this Web-based application deploys enterprise-wide and allows employees to manage of all room and resource reservation details.  From handling recurring reservations to linking seamlessly to the ARCHIBUS operations suite for support tasks, this application allows users to focus on preparing for meetings without worrying about logistics.">Reservations</a></li>
                                   <li><a href="ab-space-hotelling-2-workflow-process-acp.html" class="application-title" rel="activityProcess" data-activityId="AbSpaceHotelling" data-helpLink="" data-helpLink="END USER" title="For operations or space managers who are interested in driving down their space costs through alternative workplace strategies, this Web-based application allows employees and visitors through the enterprisea self-service way to find and book available space for temporary assignments. By hoteling rooms and monitoring utilization reports, space managers may identify and release under-utilized space to drive down occupancy costs. This application deploys rapidly by leveraging an existing space inventory.">Hoteling</a></li>
                               </ol>
                </div>
            </div>
       </div>
    </div>
</div>

<script>
$(document).ready(function() {
    $('#navigationTabs').find('a').click(function() {return false;});
    setPageDimensions();
    bindTaskContextMenu();
    pageTallApplicationBuckets();
    modifyProductTitleDisplay();
});
</script>