
div.questionnaire {
    padding: 0 1em 1em 1em;
}

div.questionnaireTitle {
    display: inline-block;
    font-size: 200%;
    padding: 14px;
}

div.questionnaireProgress {
    position: fixed;
    background-color: white;
    color: #565656;
    top: 0px;
    right: 15px;
    padding: 0.2em 0.5em;
    opacity: 0.75;
}

div.questionnaireBody {
    margin-top: 0px;
}

div.questionnaire h1 {
    padding: 0.6em;
}

table.questionnaireSection {
    border: 1px solid lightgray;
    border-collapse: collapse;
    font-size: 14px;
    margin-bottom: 1em;
}

th.questionnaireSection {
    background-color: #e3f3fb;
    border: 1px solid lightgray;
    padding: 0.5em 1em;
    font-weight: bold;
    width: 600px;
}

span.headerPrefix {
    font-weight: bold;
    font-size:14px;
    padding-right:1px;
}

th.questionnaireAnswerOption {
    background-color: #e3f3fb;
    border: 1px solid lightgray;
    padding: 0.5em 1em;
    font-weight: bold;
    width: 100px;
}

td.questionnaireQuestion {
    border: 1px solid lightgray;
    padding: 0.5em 1em;
    width: 600px;
}

td.questionnaireQuestionPrefix {
    border: 1px solid lightgray;
    padding: 0.5em 1em;
    width: 1px;
    white-space: nowrap;
}

div.questionnaireQuestionResponse {
    padding-top: 0.5em;
}

td.questionnaireAnswerOption {
    border: 1px solid lightgray;
    padding: 0.5em 1em;
    width: 100px;
}

.questionnaireAnswerOption span {
    padding-left: 4px;
}

.questionnaireChildQuestion,
.questionnaireChildQuestion.questionnaireAnswerOption {
    padding: 4px 4px 4px 4em;
    border: none;
    width: 100%;
}

.questionnaireChildQuestions td.questionnaireQuestion {
    border: none;
    padding-left: 4em;
}

.addResponseLink {
    color: grey;
    cursor: pointer;
    font-style: italic;
}
.documentButton {
    cursor: pointer;
}
.documentLabel {
    display: inline-block;
    padding-right: 1em;
}

span.questErrorText {
    color:#A51818;
    background-color: #fce8ef;
}

td.questErrorInput {
    background-color: #fce8ef;
}

div.questionnaireGreenCheck {
	display: none;/*none;inline-block*/
	height: 17px;
	width: 17px;
    background-image: url("/archibus/schema/ab-core/graphics/icons/accept.png");
    background-repeat:no-repeat;
}

span.questionRequired_0 {
	display: none;
}

span.questionRequired_1 {
    color: #A51818;
    font-size: 1.2em;
}