select {
	border: none;
	box-shadow: none;
	background-color: transparent;
	background-image: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	text-indent: 0.01px;
	text-overflow: "";
}

select::-ms-expand {
	display: none;
}

input.inputField[readonly] {
	border: medium none;
	width: 160px;
}