<div class="nav-pages" id="TelecomAssetManagement">
    <div class="page">
        <div class="page-row full-height" >
            <h3 class="application-title" data-activityId="AbAssetTAM">Telecom Asset Management</h3>
            <hr class="application-horizontal-rule">
            <div id="appProcFavoritesBucket" class="bucket-application bucket-background-light " data-activityId="" data-processId="" oncontextmenu="return false;">
                <h2 class="applications-process-title" data-processId="" title="Most often used tasks and reports.">My Favorites</h2>
                <div class="bucket-wrapper" id="wrapper_33ddf8ff-590f-446d-9fa8-2f9e10209699">
                    <div class="favorites-drop-target">
                        <span class="favorites-add-target"></span>
                        <span class="favorites-delete-target">&nbsp;</span>
                    </div>
                    <div class="favorites" onMouseUp="openPtask(this,event);">
                        <ol class="favorites-items">
                        </ol>
                    </div>
                </div>
            </div>
            <div class="bucket-application " data-productId="AbAsset" data-activityId="AbAssetTAM" data-processId="Business Process Owner FM" data-productTitle="Asset Management" data-activityTitle="Telecom Asset Management" data-processTitle="Business Process Owner - Facilities Manager" data-subfolder="\ab-products\ab-products\asset" data-helpLink="\Subsystems\webc\Content\asset_mngmt\telecom\background_data_gen.htm" data-helpSystem="END USER" data-dashboardLayout="" data-dashboardView="" title="" oncontextmenu="return false;" onMouseUp="openPtask(this,event);">
                <h2 class="applications-process-title" title="">
                    <span class="process-title-text">Business Process Owner - Facilities Manager</span>
                </h2>
                <div class="bucket-wrapper" id="wrapper_abassettam_businessProcessOwnerFm">
                        <ol class="ptask-labels">
                            <li>Facilities Background</li>
                            <ol class="process-tasks">
                                <li><a href="ab-def-geo-loc.axvw" rel="pTask" data-taskId="Define Geographical Locations" data-taskIcon="ab-icon-task.gif">Define Geographical Locations</a></li>
                                <li><a href="ab-sp-def-loc-rm.axvw" rel="pTask" data-taskId="Define Locations" data-taskIcon="ab-icon-task.gif">Define Locations</a></li>
                                <li><a href="ab-sp-def-org.axvw" rel="pTask" data-taskId="Define Organizations" data-taskIcon="ab-icon-task.gif">Define Organizations</a></li>
                            </ol>
                            <li>Equipment Systems Background</li>
                            <ol class="process-tasks">
                                <li><a href="ab-eq-system-define-system.axvw" rel="pTask" data-taskId="Define Equipment Systems" data-taskIcon="ab-icon-task.gif">Define Equipment Systems</a></li>
                                <li><a href="ab-eq-system-define-space-served.axvw" rel="pTask" data-taskId="Define Spaces Served by Equipment" data-taskIcon="ab-icon-task.gif">Define Spaces Served by Equipment</a></li>
                                <li><a href="ab-eq-system-team-category.axvw" rel="pTask" data-taskId="Define Team Property Categories" data-taskIcon="ab-icon-task.gif">Define Team Property Categories</a></li>
                                <li><a href="ab-eq-system-define-team-property.axvw" rel="pTask" data-taskId="Define Team Properties" data-taskIcon="ab-icon-task.gif">Define Team Properties</a></li>
                                <li><a href="ab-eq-system-define-team-support.axvw" rel="pTask" data-taskId="Assign Team Members to Equipment" data-taskIcon="ab-icon-task.gif">Assign Team Members to Equipment</a></li>
                                <li><a href="ab-ep-def-systems.axvw" rel="pTask" data-taskId="Define Building Systems" data-taskIcon="ab-icon-task.gif">Define Building Systems</a></li>
                            </ol>
                        </ol>
                </div>
            </div>
            <div class="bucket-application " data-productId="AbAsset" data-activityId="AbAssetTAM" data-processId="Business Process Owner IT" data-productTitle="Asset Management" data-activityTitle="Telecom Asset Management" data-processTitle="Business Process Owner - IT Asset Manager" data-subfolder="\ab-products\ab-products\asset" data-helpLink="\Subsystems\webc\Content\asset_mngmt\telecom\background_data.htm" data-helpSystem="END USER" data-dashboardLayout="" data-dashboardView="" title="" oncontextmenu="return false;" onMouseUp="openPtask(this,event);">
                <h2 class="applications-process-title" title="">
                    <span class="process-title-text">Business Process Owner - IT Asset Manager</span>
                </h2>
                <div class="bucket-wrapper" id="wrapper_abassettam_businessProcessOwnerIt">
                        <ol class="ptask-labels">
                            <li>Workspace Standards</li>
                            <ol class="process-tasks">
                                <li><a href="ab-fpstd-define.axvw" rel="pTask" data-taskId="Define Faceplate Standards" data-taskIcon="ab-icon-task.gif">Define Faceplate Standards</a></li>
                                <li><a href="ab-jkstd-define.axvw" rel="pTask" data-taskId="Define Jack Standards" data-taskIcon="ab-icon-task.gif">Define Jack Standards</a></li>
                                <li><a href="ab-eam-telecom-bkgd-jk-configuration.axvw" rel="pTask" data-taskId="Define Jack Configuration" data-taskIcon="ab-icon-task.gif">Define Jack Configuration</a></li>
                            </ol>
                            <li>Telecom Closet Standards</li>
                            <ol class="process-tasks">
                                <li><a href="ab-pnstd-define.axvw" rel="pTask" data-taskId="Define Patch Panels Standards" data-taskIcon="ab-icon-task.gif">Define Patch Panels Standards</a></li>
                                <li><a href="ab-eam-telecom-bkgd-portstd-define.axvw" rel="pTask" data-taskId="Define Port Standards" data-taskIcon="ab-icon-task.gif">Define Port Standards</a></li>
                                <li><a href="ab-eam-telecom-bkgd-pnport-configuration.axvw" rel="pTask" data-taskId="Define Patch Panel Port Configuration" data-taskIcon="ab-icon-task.gif">Define Patch Panel Port Configuration</a></li>
                                <li><a href="ab-eam-telecom-bkgd-eqport-configuration.axvw" rel="pTask" data-taskId="Define Equipment Port Configuration" data-taskIcon="ab-icon-task.gif">Define Equipment Port Configuration</a></li>
                                <li><a href="ab-eqstd-edit.axvw" rel="pTask" data-taskId="Define Equipment Standards" data-taskIcon="ab-icon-task.gif">Define Equipment Standards</a></li>
                            </ol>
                            <li>Data Center</li>
                            <ol class="process-tasks">
                                <li><a href="ab-eam-telecom-bkgd-rack-define.axvw" rel="pTask" data-taskId="Define Racks" data-taskIcon="ab-icon-task.gif">Define Racks</a></li>
                            </ol>
                            <li>Software</li>
                            <ol class="process-tasks">
                                <li><a href="ab-softstd-edit.axvw" rel="pTask" data-taskId="Define Software Standards" data-taskIcon="ab-icon-task.gif">Define Software Standards</a></li>
                            </ol>
                        </ol>
                </div>
            </div>
            <div class="bucket-application " data-productId="AbAsset" data-activityId="AbAssetTAM" data-processId="Telecom Management" data-productTitle="Asset Management" data-activityTitle="Telecom Asset Management" data-processTitle="Telecom Management" data-subfolder="\ab-products\ab-products\asset" data-helpLink="\Subsystems\webc\Content\asset_mngmt\telecom\concepts_new\process_overview.htm" data-helpSystem="END USER" data-dashboardLayout="" data-dashboardView="" title="" oncontextmenu="return false;" onMouseUp="openPtask(this,event);">
                <h2 class="applications-process-title" title="">
                    <span class="process-title-text">Telecom Management</span>
                </h2>
                <div class="bucket-wrapper" id="wrapper_abassettam_telecomManagement">
                        <ol class="ptask-labels">
                            <li></li>
                            <ol class="process-tasks">
                                <li><a href="ab-eam-telecom-console.axvw" rel="pTask" data-taskId="Telecom Console" data-taskIcon="ab-icon-task.gif">Telecom Console</a></li>
                                <li><a href="ab-eq-locate.axvw" rel="pTask" data-taskId="Equipment Assets Console" data-taskIcon="ab-icon-task.gif">Equipment Assets Console</a></li>
                            </ol>
                            <li class="empty-taskgroup-title">&nbsp;</li>
                            <ol class="process-tasks">
                                <li><a href="ab-eq-system-console.axvw" rel="pTask" data-taskId="Equipment Systems Console" data-taskIcon="ab-icon-task.gif">Equipment Systems Console</a></li>
                                <li><a href="ab-eq-survey-console.axvw" rel="pTask" data-taskId="Manage Asset & Equipment Surveys" data-taskIcon="ab-icon-task.gif">Manage Asset & Equipment Surveys</a></li>
                            </ol>
                            <li class="empty-taskgroup-title">&nbsp;</li>
                            <ol class="process-tasks">
                                <li><a href="ab-ap-jk-plans.axvw" rel="pTask" data-taskId="View Jack Plan" data-taskIcon="ab-icon-task.gif">View Jack Plan</a></li>
                                <li><a href="ab-ap-eq-plans.axvw" rel="pTask" data-taskId="View Equipment Plan" data-taskIcon="ab-icon-task.gif">View Equipment Plan</a></li>
                                <li><a href="ab-eqxdp.axvw" rel="pTask" data-taskId="View Equipment by Department" data-taskIcon="ab-icon-task.gif">View Equipment by Department</a></li>
                                <li><a href="ab-eqxfl.axvw" rel="pTask" data-taskId="View Equipment by Floor" data-taskIcon="ab-icon-task.gif">View Equipment by Floor</a></li>
                                <li><a href="ab-eqxpolicy.axvw" rel="pTask" data-taskId="View Equipment by Insurance Policy" data-taskIcon="ab-icon-task.gif">View Equipment by Insurance Policy</a></li>
                                <li><a href="ab-eqxwarranty.axvw" rel="pTask" data-taskId="View Equipment by Warranty" data-taskIcon="ab-icon-task.gif">View Equipment by Warranty</a></li>
                                <li><a href="ab-bldgops-report-eq-warr-servcont.axvw" rel="pTask" data-taskId="View Equipment Warranties and Service Contracts" data-taskIcon="ab-icon-task.gif">View Equipment Warranties and Service Contracts</a></li>
                                <li><a href="ab-eqstd-book.axvw" rel="pTask" data-taskId="View Equipment Standards Book" data-taskIcon="ab-icon-task.gif">View Equipment Standards Book</a></li>
                            </ol>
                            <li class="empty-taskgroup-title">&nbsp;</li>
                            <ol class="process-tasks">
                                <li><a href="ab-eq-edit.axvw" rel="pTask" data-taskId="View and Edit Equipment Information" data-taskIcon="ab-icon-task.gif">View and Edit Equipment Information</a></li>
                                <li><a href="ab-sla-edit.axvw" rel="pTask" data-taskId="View and Edit Service Contracts" data-taskIcon="ab-icon-task.gif">View and Edit Service Contracts</a></li>
                                <li><a href="ab-warranty-edit.axvw" rel="pTask" data-taskId="View and Edit Warranties" data-taskIcon="ab-icon-task.gif">View and Edit Warranties</a></li>
                                <li><a href="ab-insurer-edit.axvw" rel="pTask" data-taskId="View and Edit Insurers" data-taskIcon="ab-icon-task.gif">View and Edit Insurers</a></li>
                                <li><a href="ab-policy-edit.axvw" rel="pTask" data-taskId="View and Edit Insurance Policies" data-taskIcon="ab-icon-task.gif">View and Edit Insurance Policies</a></li>
                            </ol>
                            <li class="empty-taskgroup-title">&nbsp;</li>
                            <ol class="process-tasks">
                                <li><a href="ab-eq-lease-expire-90-days.axvw" rel="pTask" data-taskId="View Leases Expiring within 90 Days" data-taskIcon="ab-icon-task.gif">View Leases Expiring within 90 Days</a></li>
                                <li><a href="ab-eq-lease-edit.axvw" rel="pTask" data-taskId="View and Edit Leases" data-taskIcon="ab-icon-task.gif">View and Edit Leases</a></li>
                                <li><a href="ab-eq-lease-by-lessor.axvw" rel="pTask" data-taskId="View and Edit Leases by Lessor" data-taskIcon="ab-icon-task.gif">View and Edit Leases by Lessor</a></li>
                                <li><a href="ab-eq-eq-by-lease.axvw" rel="pTask" data-taskId="View and Edit Equipment by Lease" data-taskIcon="ab-icon-task.gif">View and Edit Equipment by Lease</a></li>
                                <li><a href="ab-eq-lessor-edit.axvw" rel="pTask" data-taskId="View and Edit Lessors" data-taskIcon="ab-icon-task.gif">View and Edit Lessors</a></li>
                            </ol>
                        </ol>
                </div>
            </div>
            <div class="bucket-application " data-productId="AbAsset" data-activityId="AbAssetTAM" data-processId="Software" data-productTitle="Asset Management" data-activityTitle="Telecom Asset Management" data-processTitle="Software" data-subfolder="\ab-products\ab-products\asset" data-helpLink="\Subsystems\webc\Content\asset_mngmt\software\software_asset_over.htm" data-helpSystem="END USER" data-dashboardLayout="" data-dashboardView="" title="" oncontextmenu="return false;" onMouseUp="openPtask(this,event);">
                <h2 class="applications-process-title" title="">
                    <span class="process-title-text">Software</span>
                </h2>
                <div class="bucket-wrapper" id="wrapper_abassettam_software">
                        <ol class="ptask-labels">
                            <li class="empty-taskgroup-title">&nbsp;</li>
                            <ol class="process-tasks">
                                <li><a href="ab-softinv-edit.axvw" rel="pTask" data-taskId="View and Edit Software Information" data-taskIcon="ab-icon-task.gif">View and Edit Software Information</a></li>
                                <li><a href="ab-softinvxsoftstd.axvw" rel="pTask" data-taskId="View Software by Standards" data-taskIcon="ab-icon-task.gif">View Software by Standards</a></li>
                            </ol>
                        </ol>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
$(document).ready(function() {
    $('#navigationTabs').find('a').click(function() {return false;});
    initDandDFavorites();
    setPageDimensions();
    bindTaskContextMenu();
    localizeFavoritesDisplayText();
    loadFavoritesBuckets();
    modifyProcessTitleDisplay();
    pageTallPTaskBuckets();
});
</script>