<div class="nav-pages" id="CapitalBudgeting">
    <div class="page">
        <div class="page-row full-height" >
            <h3 class="application-title" data-activityId="AbCapitalBudgeting">Capital Budgeting</h3>
            <hr class="application-horizontal-rule">
            <div id="appProcFavoritesBucket" class="bucket-application bucket-background-light " data-activityId="" data-processId="" oncontextmenu="return false;">
                <h2 class="applications-process-title" data-processId="" title="Most often used tasks and reports.">My Favorites</h2>
                <div class="bucket-wrapper" id="wrapper_d31c9927-cceb-42b4-9107-39b1ed6d4d5b">
                    <div class="favorites-drop-target">
                        <span class="favorites-add-target"></span>
                        <span class="favorites-delete-target">&nbsp;</span>
                    </div>
                    <div class="favorites" onMouseUp="openPtask(this,event);">
                        <ol class="favorites-items">
                        </ol>
                    </div>
                </div>
            </div>
            <div class="bucket-application " data-productId="AbProject" data-activityId="AbCapitalBudgeting" data-processId="Set Up" data-productTitle="Capital Project Management" data-activityTitle="Capital Budgeting" data-processTitle="Set Up" data-subfolder="\ab-products\project\capital-budgeting" data-helpLink="\Subsystems\webc\Content\fim\cap_budget\backgr_data_cb.htm" data-helpSystem="END USER" data-dashboardLayout="" data-dashboardView="" title="Define geographical hierarchy. Define project type classifications. Define questionnaires to collect standard request information. Define template projects so projects use similar task checklists. Upload standard document templates like invoices, RFI's, and daily site logs to ensure consistent project documentation." oncontextmenu="return false;" onMouseUp="openPtask(this,event);">
                <h2 class="applications-process-title" title="Define geographical hierarchy. Define project type classifications. Define questionnaires to collect standard request information. Define template projects so projects use similar task checklists. Upload standard document templates like invoices, RFI's, and daily site logs to ensure consistent project documentation.">
                    <span class="process-title-text">Set Up</span>
                </h2>
                <div class="bucket-wrapper" id="wrapper_abcapitalbudgeting_setUp">
                        <ol class="ptask-labels">
                            <li></li>
                            <ol class="process-tasks">
                                <li><a href="ab-proj-legacy-import-conn.axvw" rel="pTask" data-taskId="Historical Project Analyzer" data-taskIcon="ab-icon-task.gif">Historical Project Analyzer</a></li>
                                <li><a href="ab-capbud-bud-vs-sp.axvw" rel="pTask" data-taskId="Project Budget vs. Spend Analyzer" data-taskIcon="ab-icon-task.gif">Project Budget vs. Spend Analyzer</a></li>
                                <li><a href="ab-def-geo-loc.axvw" rel="pTask" data-taskId="Define Geographical Locations" data-taskIcon="ab-icon-task.gif">Define Geographical Locations</a></li>
                                <li><a href="ab-sp-def-loc-rm.axvw" rel="pTask" data-taskId="Define Locations" data-taskIcon="ab-icon-task.gif">Define Locations</a></li>
                            </ol>
                            <li class="empty-taskgroup-title">&nbsp;</li>
                            <ol class="process-tasks">
                                <li><a href="ab-programtype-edit.axvw" rel="pTask" data-taskId="Define Program Types" data-taskIcon="ab-icon-task.gif">Define Program Types</a></li>
                                <li><a href="ab-projecttype-edit.axvw" rel="pTask" data-taskId="Define Project Types" data-taskIcon="ab-icon-task.gif">Define Project Types</a></li>
                                <li><a href="ab-questionnaire-project-edit.axvw" rel="pTask" data-taskId="Define Project Questionnaires" data-taskIcon="ab-icon-task.gif">Define Project Questionnaires</a></li>
                                <li><a href="ab-projphase-edit.axvw" rel="pTask" data-taskId="Define Project Phases" data-taskIcon="ab-icon-task.gif">Define Project Phases</a></li>
                                <li><a href="ab-activitytype-edit.axvw" rel="pTask" data-taskId="Define Action Types" data-taskIcon="ab-icon-task.gif">Define Action Types</a></li>
                                <li><a href="ab-project-templates-edit.axvw" rel="pTask" data-taskId="Define Template Projects" data-taskIcon="ab-icon-task.gif">Define Template Projects</a></li>
                                <li><a href="ab-funding-sources-edit.axvw" rel="pTask" data-taskId="Define Funding Sources" data-taskIcon="ab-icon-task.gif">Define Funding Sources</a></li>
                            </ol>
                            <li class="empty-taskgroup-title">&nbsp;</li>
                            <ol class="process-tasks">
                                <li><a href="ab-document-templates-edit.axvw" rel="pTask" data-taskId="Define Document Templates" data-taskIcon="ab-icon-task.gif">Define Document Templates</a></li>
                                <li><a href="ab-docs-templates-all.axvw" rel="pTask" data-taskId="View Document Templates" data-taskIcon="ab-icon-task.gif">View Document Templates</a></li>
                            </ol>
                            <li class="empty-taskgroup-title">&nbsp;</li>
                            <ol class="process-tasks">
                                <li><a href="ab-common-def-em.axvw" rel="pTask" data-taskId="Define Employees" data-taskIcon="ab-icon-task.gif">Define Employees</a></li>
                            </ol>
                        </ol>
                </div>
            </div>
            <div class="bucket-application " data-productId="AbProject" data-activityId="AbCapitalBudgeting" data-processId="Request" data-productTitle="Capital Project Management" data-activityTitle="Capital Budgeting" data-processTitle="Request" data-subfolder="\ab-products\project\capital-budgeting" data-helpLink="\Subsystems\webc\Content\web_user\cap_budget\work_proj_fund\request_proj\requesting_proj.htm" data-helpSystem="END USER" data-dashboardLayout="" data-dashboardView="" title="Submit a new project request.  View your existing requests and their approval status, or add more detail to a request.  Organize requests by capital program.   Import items in-bulk into project task list from the results of your condition assessment program." oncontextmenu="return false;" onMouseUp="openPtask(this,event);">
                <h2 class="applications-process-title" title="Submit a new project request.  View your existing requests and their approval status, or add more detail to a request.  Organize requests by capital program.   Import items in-bulk into project task list from the results of your condition assessment program.">
                    <span class="process-title-text">Request</span>
                </h2>
                <div class="bucket-wrapper" id="wrapper_abcapitalbudgeting_request">
                        <ol class="ptask-labels">
                            <li></li>
                            <ol class="process-tasks">
                                <li><a href="ab-project-request-edit.axvw" rel="pTask" data-taskId="Request Project" data-taskIcon="ab-icon-task.gif">Request Project</a></li>
                                <li><a href="ab-project-view.axvw" rel="pTask" data-taskId="View My Projects" data-taskIcon="ab-icon-task.gif">View My Projects</a></li>
                                <li><a href="ab-project-edit.axvw" rel="pTask" data-taskId="Edit My Projects" data-taskIcon="ab-icon-task.gif">Edit My Projects</a></li>
                                <li><a href="ab-programs-edit.axvw" rel="pTask" data-taskId="Add or Edit Programs" data-taskIcon="ab-icon-task.gif">Add or Edit Programs</a></li>
                                <li><a href="ab-condassess-copy-to-project.axvw" rel="pTask" data-taskId="Copy Assessment Items to Projects" data-taskIcon="ab-icon-task.gif">Copy Assessment Items to Projects</a></li>
                                <li><a href="ab-project-capbud-actions-edit.axvw" rel="pTask" data-taskId="Add or Edit Actions" data-taskIcon="ab-icon-task.gif">Add or Edit Actions</a></li>
                            </ol>
                        </ol>
                </div>
            </div>
            <div class="bucket-application " data-productId="AbProject" data-activityId="AbCapitalBudgeting" data-processId="Prioritize & Estimate (Optional)" data-productTitle="Capital Project Management" data-activityTitle="Capital Budgeting" data-processTitle="Prioritize & Estimate (Optional)" data-subfolder="\ab-products\project\capital-budgeting" data-helpLink="\Subsystems\webc\Content\web_user\cap_budget\anal_proj_fund\prior_project_requests.htm" data-helpSystem="END USER" data-dashboardLayout="" data-dashboardView="" title="Record project priorities.  Estimate baseline schedules and durations.  Review approved project funding by year." oncontextmenu="return false;" onMouseUp="openPtask(this,event);">
                <h2 class="applications-process-title" title="Record project priorities.  Estimate baseline schedules and durations.  Review approved project funding by year.">
                    <span class="process-title-text">Prioritize & Estimate (Optional)</span>
                </h2>
                <div class="bucket-wrapper" id="wrapper_abcapitalbudgeting_prioritizeEstimateOptional">
                        <ol class="ptask-labels">
                            <li></li>
                            <ol class="process-tasks">
                                <li><a href="ab-project-prioritize-edit.axvw" rel="pTask" data-taskId="Prioritize Projects" data-taskIcon="ab-icon-task.gif">Prioritize Projects</a></li>
                                <li><a href="ab-proj-project-profiles.axvw" rel="pTask" data-taskId="Review Project Profiles" data-taskIcon="ab-icon-task.gif">Review Project Profiles</a></li>
                                <li><a href="ab-project-capbud-actions-edit.axvw" rel="pTask" data-taskId="Add or Edit Actions" data-taskIcon="ab-icon-task.gif">Add or Edit Actions</a></li>
                                <li><a href="ab-project-capbud-actions-est-base-sched-edit.axvw" rel="pTask" data-taskId="Estimate Baseline Schedule and Durations" data-taskIcon="ab-icon-task.gif">Estimate Baseline Schedule and Durations</a></li>
                                <li><a href="ab-project-actions-est-base-costs-edit.axvw" rel="pTask" data-taskId="Estimate Baseline Costs" data-taskIcon="ab-icon-task.gif">Estimate Baseline Costs</a></li>
                                <li><a href="ab-projects-approved-by-year-report.axvw" rel="pTask" data-taskId="View Approved Projects Funding by Year" data-taskIcon="ab-icon-task.gif">View Approved Projects Funding by Year</a></li>
                            </ol>
                            <li class="empty-taskgroup-title">&nbsp;</li>
                            <ol class="process-tasks">
                                <li><a href="ab-capbud-fci-analyze.axvw" rel="pTask" data-taskId="Analyze Facility Condition Index Scenarios" data-taskIcon="ab-icon-task.gif">Analyze Facility Condition Index Scenarios</a></li>
                                <li><a href="ab-projects-metrics-by-building.axvw" rel="pTask" data-taskId="View Project Metrics by Building" data-taskIcon="ab-icon-task.gif">View Project Metrics by Building</a></li>
                            </ol>
                        </ol>
                </div>
            </div>
            <div class="bucket-application " data-productId="AbProject" data-activityId="AbCapitalBudgeting" data-processId="Evaluate (Optional)" data-productTitle="Capital Project Management" data-activityTitle="Capital Budgeting" data-processTitle="Evaluate (Optional)" data-subfolder="\ab-products\project\capital-budgeting" data-helpLink="\Subsystems\webc\Content\web_user\cap_budget\work_proj_fund\fund_allocat\entering_funding_sources.htm" data-helpSystem="END USER" data-dashboardLayout="" data-dashboardView="" title="Enter funding sources.  Define new budget scenarios, plan costs for each scenario, and review the impact of different funding alternatives." oncontextmenu="return false;" onMouseUp="openPtask(this,event);">
                <h2 class="applications-process-title" title="Enter funding sources.  Define new budget scenarios, plan costs for each scenario, and review the impact of different funding alternatives.">
                    <span class="process-title-text">Evaluate (Optional)</span>
                </h2>
                <div class="bucket-wrapper" id="wrapper_abcapitalbudgeting_evaluateOptional">
                        <ol class="ptask-labels">
                            <li></li>
                            <ol class="process-tasks">
                                <li><a href="ab-funding-sources-edit.axvw" rel="pTask" data-taskId="Enter Funding Sources" data-taskIcon="ab-icon-task.gif">Enter Funding Sources</a></li>
                                <li><a href="ab-scenario-add.axvw" rel="pTask" data-taskId="Add or Edit Scenario Codes" data-taskIcon="ab-icon-task.gif">Add or Edit Scenario Codes</a></li>
                                <li><a href="ab-plan-scenario-costs.axvw" rel="pTask" data-taskId="Plan Scenario Costs" data-taskIcon="ab-icon-task.gif">Plan Scenario Costs</a></li>
                                <li><a href="ab-evaluate-scenario-by-fund.axvw" rel="pTask" data-taskId="Evaluate Scenario Funding" data-taskIcon="ab-icon-task.gif">Evaluate Scenario Funding</a></li>
                                <li><a href="ab-proj-review-scenario-by-fund.axvw" rel="pTask" data-taskId="Review Scenarios by Fund" data-taskIcon="ab-icon-task.gif">Review Scenarios by Fund</a></li>
                            </ol>
                        </ol>
                </div>
            </div>
        </div>
        <div class="page-row full-height" >
            <h3 class="application-title" data-activityId="AbCapitalBudgeting">Capital Budgeting</h3>
            <hr class="application-horizontal-rule">
            <div class="bucket-application " data-productId="AbProject" data-activityId="AbCapitalBudgeting" data-processId="Approve" data-productTitle="Capital Project Management" data-activityTitle="Capital Budgeting" data-processTitle="Approve" data-subfolder="\ab-products\project\capital-budgeting" data-helpLink="\Subsystems\webc\Content\web_user\cap_budget\work_proj_fund\approve_proj\approve_proj_request.htm" data-helpSystem="END USER" data-dashboardLayout="" data-dashboardView="" title="Route projects for notification and approval or approve specific projects that are within your purview.  Compare proposed projects against the approved funding for each year." oncontextmenu="return false;" onMouseUp="openPtask(this,event);">
                <h2 class="applications-process-title" title="Route projects for notification and approval or approve specific projects that are within your purview.  Compare proposed projects against the approved funding for each year.">
                    <span class="process-title-text">Approve</span>
                </h2>
                <div class="bucket-wrapper" id="wrapper_abcapitalbudgeting_approve">
                        <ol class="ptask-labels">
                            <li></li>
                            <ol class="process-tasks">
                                <li><a href="ab-project-route-for-approval.axvw" rel="pTask" data-taskId="Route Projects for Approval" data-taskIcon="ab-icon-task.gif">Route Projects for Approval</a></li>
                                <li><a href="ab-project-approve.axvw" rel="pTask" data-taskId="Approve Project Requests" data-taskIcon="ab-icon-task.gif">Approve Project Requests</a></li>
                                <li><a href="ab-projects-approved-by-year-report.axvw" rel="pTask" data-taskId="View Approved Projects Funding by Year" data-taskIcon="ab-icon-task.gif">View Approved Projects Funding by Year</a></li>
                            </ol>
                        </ol>
                </div>
            </div>
            <div class="bucket-application " data-productId="AbProject" data-activityId="AbCapitalBudgeting" data-processId="Allocate" data-productTitle="Capital Project Management" data-activityTitle="Capital Budgeting" data-processTitle="Allocate" data-subfolder="\ab-products\project\capital-budgeting" data-helpLink="\Subsystems\webc\Content\web_user\cap_budget\work_proj_fund\fund_allocat\allocating_funding.htm" data-helpSystem="END USER" data-dashboardLayout="" data-dashboardView="" title="Review approved project funding, available capital and expense funds, and unallocated program funds.  Allocate funding sources to approved projects." oncontextmenu="return false;" onMouseUp="openPtask(this,event);">
                <h2 class="applications-process-title" title="Review approved project funding, available capital and expense funds, and unallocated program funds.  Allocate funding sources to approved projects.">
                    <span class="process-title-text">Allocate</span>
                </h2>
                <div class="bucket-wrapper" id="wrapper_abcapitalbudgeting_allocate">
                        <ol class="ptask-labels">
                            <li></li>
                            <ol class="process-tasks">
                                <li><a href="ab-funding-sources-edit.axvw" rel="pTask" data-taskId="Enter Funding Sources" data-taskIcon="ab-icon-task.gif">Enter Funding Sources</a></li>
                                <li><a href="ab-allocate-funding-edit.axvw" rel="pTask" data-taskId="Allocate Funding" data-taskIcon="ab-icon-task.gif">Allocate Funding</a></li>
                                <li><a href="ab-projects-approved-by-year-report.axvw" rel="pTask" data-taskId="View Approved Projects Funding by Year" data-taskIcon="ab-icon-task.gif">View Approved Projects Funding by Year</a></li>
                                <li><a href="ab-project-profile-report.axvw" rel="pTask" data-taskId="View Project Profiles" data-taskIcon="ab-icon-task.gif">View Project Profiles</a></li>
                                <li><a href="ab-funds-available.axvw" rel="pTask" data-taskId="View Available Capital and Expense Funds" data-taskIcon="ab-icon-task.gif">View Available Capital and Expense Funds</a></li>
                                <li><a href="ab-funds-available-by-program-report.axvw" rel="pTask" data-taskId="View Unallocated Program Funds" data-taskIcon="ab-icon-task.gif">View Unallocated Program Funds</a></li>
                                <li><a href="ab-funds-available-by-end-date.axvw" rel="pTask" data-taskId="View Unallocated Funds by End Date" data-taskIcon="ab-icon-task.gif">View Unallocated Funds by End Date</a></li>
                                <li><a href="ab-proj-funding-by-fund.axvw" rel="pTask" data-taskId="View Project Funding by Fund" data-taskIcon="ab-icon-task.gif">View Project Funding by Fund</a></li>
                            </ol>
                        </ol>
                </div>
            </div>
            <div class="bucket-application " data-productId="AbProject" data-activityId="AbCapitalBudgeting" data-processId="Budget" data-productTitle="Capital Project Management" data-activityTitle="Capital Budgeting" data-processTitle="Budget" data-subfolder="\ab-products\project\capital-budgeting" data-helpLink="\Subsystems\webc\Content\web_user\cap_budget\create_budget\create_basic_prog_budget.htm" data-helpSystem="END USER" data-dashboardLayout="" data-dashboardView="" title="Create one or more multi-year capital budgets.  Enter budget figures directly or summarize them from the project and program list.  Update budgets based on recent changes in projects." oncontextmenu="return false;" onMouseUp="openPtask(this,event);">
                <h2 class="applications-process-title" title="Create one or more multi-year capital budgets.  Enter budget figures directly or summarize them from the project and program list.  Update budgets based on recent changes in projects.">
                    <span class="process-title-text">Budget</span>
                </h2>
                <div class="bucket-wrapper" id="wrapper_abcapitalbudgeting_budget">
                        <ol class="ptask-labels">
                            <li></li>
                            <ol class="process-tasks">
                                <li><a href="ab-programtype-edit.axvw" rel="pTask" data-taskId="Define Program Types" data-taskIcon="ab-icon-task.gif">Define Program Types</a></li>
                                <li><a href="ab-programs-edit.axvw" rel="pTask" data-taskId="Add and Edit Programs" data-taskIcon="ab-icon-task.gif">Add and Edit Programs</a></li>
                                <li><a href="ab-budgets-edit.axvw" rel="pTask" data-taskId="Add and Edit Budget Codes" data-taskIcon="ab-icon-task.gif">Add and Edit Budget Codes</a></li>
                                <li><a href="ab-capital-budget-generate.axvw" rel="pTask" data-taskId="Generate Capital Budget" data-taskIcon="ab-icon-task.gif">Generate Capital Budget</a></li>
                                <li><a href="ab-capital-budget-edit-details.axvw" rel="pTask" data-taskId="Edit Budget Details" data-taskIcon="ab-icon-task.gif">Edit Budget Details</a></li>
                                <li><a href="ab-budget-by-program.axvw" rel="pTask" data-taskId="View Budget by Program" data-taskIcon="ab-icon-task.gif">View Budget by Program</a></li>
                                <li><a href="ab-budget-by-programtype.axvw" rel="pTask" data-taskId="View Budget by Program Type" data-taskIcon="ab-icon-task.gif">View Budget by Program Type</a></li>
                            </ol>
                        </ol>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
$(document).ready(function() {
    $('#navigationTabs').find('a').click(function() {return false;});
    initDandDFavorites();
    setPageDimensions();
    bindTaskContextMenu();
    localizeFavoritesDisplayText();
    loadFavoritesBuckets();
    modifyProcessTitleDisplay();
    pageTallPTaskBuckets();
});
</script>