<div class="nav-pages">
    <div class="page">
	    <div class="page-row half-height" >
            <div id="bucket_abworkplacereservations_reservations_h0" class="bucket-process bucket-background-light-aqua " data-productId="AbWorkplaceServices" data-activityId="AbWorkplaceReservations" data-processId="Reservations" data-productTitle="Workplace Services" data-activityTitle="Reservations" data-processTitle="Reservations" data-productTitleRaw="Workplace Services" data-activityTitleRaw="Reservations" data-processTitleRaw="Reservations" data-subfolder="" data-helpLink="\Subsystems\webc\Content\web_user\res\reserve\create_rm_resource_res.htm"  data-helpSystem="END USER" data-dashboardLayout="" data-dashboardView="" title="" oncontextmenu="return false;">
                <h2 class="process-title" >Reservations</h2>
                <div class="bucket-wrapper process-bucket" id="wrapper_abworkplacereservations_reservations_h0" onMouseUp="openTask(this, event);">
                    <ol class="ptask-labels">
                        <li></li>
                        <ol class="process-tasks">
                            <li><a href="ab-rr-add-room-reservation.axvw" rel="eTask" data-taskId="Create New Room Reservation" data-taskIcon="ab-icon-task.gif">Create New Room Reservation</a></li>
                            <li><a href="ab-rr-add-resource-reservation.axvw" rel="eTask" data-taskId="Create New Resource Reservation" data-taskIcon="ab-icon-task.gif">Create New Resource Reservation</a></li>
                            <li><a href="ab-rr-add-confcall-reservation.axvw" rel="eTask" data-taskId="Create New Conference Call Reservation" data-taskIcon="ab-icon-task.gif">Create New Conference Call Reservation</a></li>
                        </ol>
                        <li></li>
                        <ol class="process-tasks">
                            <li><a href="ab-rr-my-reservations.axvw" rel="eTask" data-taskId="View and/or Edit My Reservations" data-taskIcon="ab-icon-task.gif">View and/or Edit My Reservations</a></li>
                            <li><a href="ab-rr-my-reservations-conflicts.axvw" rel="eTask" data-taskId="Resolve Conflicts" data-taskIcon="ab-icon-task.gif">Resolve Conflicts</a></li>
                        </ol>
                        <li></li>
                        <ol class="process-tasks">
                            <li><a href="ab-rr-verify-reservation.axvw" rel="eTask" data-taskId="Verify Room Reservation" data-taskIcon="ab-icon-task.gif">Verify Room Reservation</a></li>
                        </ol>
                    </ol>                    
                </div>
            </div>
            <div id="bucket_abspacehotelling_createAndReviewBookings_h1" class="bucket-process bucket-background-light-aqua " data-productId="AbWorkplaceServices" data-activityId="AbSpaceHotelling" data-processId="Create and Review Bookings" data-productTitle="Workplace Services" data-activityTitle="Hoteling" data-processTitle="Hotelling Requests" data-productTitleRaw="Workplace Services" data-activityTitleRaw="Hoteling" data-processTitleRaw="Hotelling Requests" data-subfolder="" data-helpLink="\Subsystems\webc\Content\hoteling\web_user\book_room_over.htm"  data-helpSystem="END USER" data-dashboardLayout="" data-dashboardView="" title="" oncontextmenu="return false;">
                <h2 class="process-title" >Hotelling Requests</h2>
                <div class="bucket-wrapper process-bucket" id="wrapper_abspacehotelling_createAndReviewBookings_h1" onMouseUp="openTask(this, event);">
                    <ol class="ptask-labels">
                        <li></li>
                        <ol class="process-tasks">
                            <li><a href="ab-ht-booking-create.axvw" rel="eTask" data-taskId="Create Booking" data-taskIcon="ab-icon-task.gif">Create Booking</a></li>
                            <li><a href="ab-ht-booking-review.axvw" rel="eTask" data-taskId="Review Bookings" data-taskIcon="ab-icon-task.gif">Review Bookings</a></li>
                            <li><a href="ab-ht-booking-confirm.axvw" rel="eTask" data-taskId="Confirm Bookings" data-taskIcon="ab-icon-task.gif">Confirm Bookings</a></li>
                        </ol>
                    </ol>                    
                </div>
            </div>
            <div id="bucket_abbldgopshelpdesk_client_h2" class="bucket-process bucket-background-light-purple " data-productId="AbWorkplaceServices" data-activityId="AbBldgOpsHelpDesk" data-processId="Client" data-productTitle="Workplace Services" data-activityTitle="Service Desk" data-processTitle="Service Desk Requests" data-productTitleRaw="Workplace Services" data-activityTitleRaw="Service Desk" data-processTitleRaw="Service Desk Requests" data-subfolder="" data-helpLink="\Subsystems\webc\Content\web_user\service_desk\requestor\entering_request.htm"  data-helpSystem="END USER" data-dashboardLayout="" data-dashboardView="" title="" oncontextmenu="return false;">
                <h2 class="process-title" >Service Desk Requests</h2>
                <div class="bucket-wrapper process-bucket" id="wrapper_abbldgopshelpdesk_client_h2" onMouseUp="openTask(this, event);">
                    <ol class="ptask-labels">
                        <li></li>
                        <ol class="process-tasks">
                            <li><a href="ab-helpdesk-request-create.axvw" rel="eTask" data-taskId="Create Service Request" data-taskIcon="ab-icon-task.gif">Create Service Request</a></li>
                            <li><a href="ab-helpdesk-request-view-tabs.axvw" rel="eTask" data-taskId="View Service Requests" data-taskIcon="ab-icon-task.gif">View Service Requests</a></li>
                            <li><a href="ab-helpdesk-request-create-mng.axvw" rel="eTask" data-taskId="Manage Un-submitted Service Requests" data-taskIcon="ab-icon-task.gif">Manage Un-submitted Service Requests</a></li>
                        </ol>
                        <li></li>
                        <ol class="process-tasks">
                            <li><a href="ab-floorsonly-drawing-redlines.axvw" rel="eTask" data-taskId="Create Redlines by Location" data-taskIcon="ab-icon-task.gif">Create Redlines by Location</a></li>
                        </ol>
                    </ol>                    
                </div>
            </div>
            <div id="bucket_abbldgopsondemandwork_requestorWeb_h3" class="bucket-process bucket-background-light-aqua " data-productId="AbBldgOps" data-activityId="AbBldgOpsOnDemandWork" data-processId="Requestor_WEB" data-productTitle="Building Operations" data-activityTitle="On Demand Work" data-processTitle="On Demand Work Requests" data-productTitleRaw="Building Operations" data-activityTitleRaw="On Demand Work" data-processTitleRaw="On Demand Work Requests" data-subfolder="" data-helpLink=""  data-helpSystem="" data-dashboardLayout="" data-dashboardView="" title="" oncontextmenu="return false;">
                <h2 class="process-title" >On Demand Work Requests</h2>
                <div class="bucket-wrapper process-bucket" id="wrapper_abbldgopsondemandwork_requestorWeb_h3" onMouseUp="openTask(this, event);">
                    <ol class="ptask-labels">
                    </ol>                    
                </div>
            </div>
	    </div>
	    <div class="page-row half-height" >
            <div id="bucket_abspacepersonnelinventory_clientRmtrans_h4" class="bucket-process bucket-background-medium-aqua " data-productId="AbSpace" data-activityId="AbSpacePersonnelInventory" data-processId="Client RmTrans" data-productTitle="Space Planning & Management" data-activityTitle="Personnel & Occupancy" data-processTitle="Space Requests" data-productTitleRaw="Space Planning & Management" data-activityTitleRaw="Personnel & Occupancy" data-processTitleRaw="Space Requests" data-subfolder="" data-helpLink=""  data-helpSystem="" data-dashboardLayout="" data-dashboardView="" title="" oncontextmenu="return false;">
                <h2 class="process-title" >Space Requests</h2>
                <div class="bucket-wrapper process-bucket" id="wrapper_abspacepersonnelinventory_clientRmtrans_h4" onMouseUp="openTask(this, event);">
                    <ol class="ptask-labels">
                    </ol>                    
                </div>
            </div>
            <div id="bucket_abriskemergencypreparedness_staff_h5" class="bucket-process bucket-background-medium-aqua " data-productId="AbRisk" data-activityId="AbRiskEmergencyPreparedness" data-processId="Staff" data-productTitle="Environmental & Risk Management" data-activityTitle="Emergency Preparedness" data-processTitle="Emergency Preparedness" data-productTitleRaw="Environmental & Risk Management" data-activityTitleRaw="Emergency Preparedness" data-processTitleRaw="Emergency Preparedness" data-subfolder="" data-helpLink="\Subsystems\webc\Content\emerg_prep\staff\overview.htm"  data-helpSystem="END USER" data-dashboardLayout="" data-dashboardView="" title="" oncontextmenu="return false;">
                <h2 class="process-title" >Emergency Preparedness</h2>
                <div class="bucket-wrapper process-bucket" id="wrapper_abriskemergencypreparedness_staff_h5" onMouseUp="openTask(this, event);">
                    <ol class="ptask-labels">
                        <li>Egress and Occupants</li>
                        <ol class="process-tasks">
                            <li><a href="ab-egress-occ-plans.axvw" rel="eTask" data-taskId="View Egress and Occupancy Plans" data-taskIcon="ab-icon-task-dwg.gif">View Egress and Occupancy Plans</a></li>
                        </ol>
                        <li>Notifications</li>
                        <ol class="process-tasks">
                            <li><a href="ab-advisory-bulletin-em.axvw" rel="eTask" data-taskId="View Advisory Bulletin for Employees" data-taskIcon="ab-icon-task-rpt3.gif">View Advisory Bulletin for Employees</a></li>
                        </ol>
                    </ol>                    
                </div>
            </div>
            <div id="bucket_abriskehs_ehsEmployeeReview_h6" class="bucket-process bucket-background-medium-purple " data-productId="AbRisk" data-activityId="AbRiskEHS" data-processId="EHS - Employee Review" data-productTitle="Environmental & Risk Management" data-activityTitle="Environmental Health & Safety" data-processTitle="Environmental Health & Safety" data-productTitleRaw="Environmental & Risk Management" data-activityTitleRaw="Environmental Health & Safety" data-processTitleRaw="Environmental Health & Safety" data-subfolder="" data-helpLink="\Subsystems\webc\Content\ehs\employee_review\overview.htm"  data-helpSystem="END USER" data-dashboardLayout="" data-dashboardView="" title="" oncontextmenu="return false;">
                <h2 class="process-title" >Environmental Health & Safety</h2>
                <div class="bucket-wrapper process-bucket" id="wrapper_abriskehs_ehsEmployeeReview_h6" onMouseUp="openTask(this, event);">
                    <ol class="ptask-labels">
                        <li></li>
                        <ol class="process-tasks">
                            <li><a href="ab-ehs-rpt-em-training-ppe-types-medical-monitoring.axvw" rel="eTask" data-taskId="Employee Training, PPE Types and Medical Monitoring" data-taskIcon="ab-icon-task.gif">Employee Training, PPE Types and Medical Monitoring</a></li>
                            <li><a href="ab-ehs-rpt-incident-report.axvw" rel="eTask" data-taskId="Employee Incidents" data-taskIcon="ab-icon-task.gif">Employee Incidents</a></li>
                            <li><a href="ab-ehs-rpt-em-restrictions.axvw" rel="eTask" data-taskId="Employee Work Restrictions" data-taskIcon="ab-icon-task.gif">Employee Work Restrictions</a></li>
                        </ol>
                    </ol>                    
                </div>
            </div>
            <div id="bucket_abriskehs_ehsIncidentReporting_h7" class="bucket-process bucket-background-medium-aqua " data-productId="AbRisk" data-activityId="AbRiskEHS" data-processId="EHS - Incident Reporting" data-productTitle="Environmental & Risk Management" data-activityTitle="Environmental Health & Safety" data-processTitle="EH&S Incident Reporting" data-productTitleRaw="Environmental & Risk Management" data-activityTitleRaw="Environmental Health & Safety" data-processTitleRaw="EH&S Incident Reporting" data-subfolder="" data-helpLink="\Subsystems\webc\Content\ehs\employee_review\incident_reporting.htm"  data-helpSystem="END USER" data-dashboardLayout="" data-dashboardView="" title="" oncontextmenu="return false;">
                <h2 class="process-title" >EH&S Incident Reporting</h2>
                <div class="bucket-wrapper process-bucket" id="wrapper_abriskehs_ehsIncidentReporting_h7" onMouseUp="openTask(this, event);">
                    <ol class="ptask-labels">
                        <li></li>
                        <ol class="process-tasks">
                            <li><a href="ab-ehs-track-incidents-user.axvw" rel="eTask" data-taskId="Report Incident" data-taskIcon="ab-icon-task.gif">Report Incident</a></li>
                        </ol>
                    </ol>                    
                </div>
            </div>
	    </div>
	    <div class="page-row full-height" >
            <div id="bucket_acd4328e-f0ec-4206-adc7-87dba581541a_598d1438-618d-480d-a92b-750e199f5e62_h8" class="bucket-process  " data-productId="" data-activityId="" data-processId="" data-productTitle="" data-activityTitle="" data-processTitle="." data-productTitleRaw="" data-activityTitleRaw="" data-processTitleRaw="." data-subfolder="" data-helpLink=""  data-helpSystem="" data-dashboardLayout="" data-dashboardView="" title="" oncontextmenu="return false;">
                <h2 class="process-title" >.</h2>
                <div class="bucket-wrapper process-bucket" id="wrapper_4813cbce-1480-49cf-8953-855347579339_6bc9af13-79ef-4035-8b23-1d9b778a2ba7_h8" onMouseUp="openTask(this, event);">
                    <ol class="ptask-labels">
                    </ol>                    
                </div>
            </div>
            <div id="bucket_abmovemanagement_moveRequestor_h9" class="bucket-process bucket-background-dark-aqua " data-productId="AbMove" data-activityId="AbMoveManagement" data-processId="Move Requestor" data-productTitle="Move Management" data-activityTitle="Enterprise Move Management" data-processTitle="Move Requests" data-productTitleRaw="Move Management" data-activityTitleRaw="Enterprise Move Management" data-processTitleRaw="Move Requests" data-subfolder="" data-helpLink="\Subsystems\webc\Content\web_user\moves\requestor\requesting_a_move.htm"  data-helpSystem="END USER" data-dashboardLayout="" data-dashboardView="" title="" oncontextmenu="return false;">
                <h2 class="process-title" >Move Requests</h2>
                <div class="bucket-wrapper process-bucket" id="wrapper_abmovemanagement_moveRequestor_h9" onMouseUp="openTask(this, event);">
                    <ol class="ptask-labels">
                        <li>Individual Moves</li>
                        <ol class="process-tasks">
                            <li><a href="ab-mo-request-em-move.axvw" rel="eTask" data-taskId="Request an Employee Move" data-taskIcon="ab-icon-task.gif">Request an Employee Move</a></li>
                            <li><a href="ab-mo-request-hire-move.axvw" rel="eTask" data-taskId="Request a Move for a New Hire" data-taskIcon="ab-icon-task.gif">Request a Move for a New Hire</a></li>
                            <li><a href="ab-mo-request-leaving-move.axvw" rel="eTask" data-taskId="Request a Move for an Employee Leaving" data-taskIcon="ab-icon-task.gif">Request a Move for an Employee Leaving</a></li>
                            <li><a href="ab-mo-request-eq-move.axvw" rel="eTask" data-taskId="Request an Equipment Move" data-taskIcon="ab-icon-task.gif">Request an Equipment Move</a></li>
                            <li><a href="ab-mo-request-asset-move.axvw" rel="eTask" data-taskId="Request an Asset Move" data-taskIcon="ab-icon-task.gif">Request an Asset Move</a></li>
                            <li><a href="ab-mo-request-rm-move.axvw" rel="eTask" data-taskId="Request a Room Move" data-taskIcon="ab-icon-task.gif">Request a Room Move</a></li>
                            <li><a href="ab-mo-edit-move.axvw" rel="eTask" data-taskId="Edit my Moves" data-taskIcon="ab-icon-task.gif">Edit my Moves</a></li>
                            <li><a href="ab-mo-examine-my-move.axvw" rel="eTask" data-taskId="Examine my Moves" data-taskIcon="ab-icon-task.gif">Examine my Moves</a></li>
                        </ol>
                        <li>Group Moves</li>
                        <ol class="process-tasks">
                            <li><a href="ab-mo-gp-request-group-move.axvw" rel="eTask" data-taskId="Request a Group Move" data-taskIcon="ab-icon-task.gif">Request a Group Move</a></li>
                            <li><a href="ab-mo-gp-edit-move-project.axvw" rel="eTask" data-taskId="Edit my Group Moves" data-taskIcon="ab-icon-task.gif">Edit my Group Moves</a></li>
                            <li><a href="ab-mo-gp-examine-my-move-project.axvw" rel="eTask" data-taskId="Examine my Group Moves" data-taskIcon="ab-icon-task.gif">Examine my Group Moves</a></li>
                        </ol>
                    </ol>                    
                </div>
            </div>
            <div id="bucket_abcapitalbudgeting_request_h10" class="bucket-process bucket-background-dark-purple " data-productId="AbProject" data-activityId="AbCapitalBudgeting" data-processId="Request" data-productTitle="Capital Project Management" data-activityTitle="Capital Budgeting" data-processTitle="Capital Project Requests" data-productTitleRaw="Capital Project Management" data-activityTitleRaw="Capital Budgeting" data-processTitleRaw="Capital Project Requests" data-subfolder="" data-helpLink="\Subsystems\webc\Content\web_user\cap_budget\work_proj_fund\request_proj\requesting_proj.htm"  data-helpSystem="END USER" data-dashboardLayout="" data-dashboardView="" title="" oncontextmenu="return false;">
                <h2 class="process-title" >Capital Project Requests</h2>
                <div class="bucket-wrapper process-bucket" id="wrapper_abcapitalbudgeting_request_h10" onMouseUp="openTask(this, event);">
                    <ol class="ptask-labels">
                        <li></li>
                        <ol class="process-tasks">
                            <li><a href="ab-project-request-edit.axvw" rel="eTask" data-taskId="Request Project" data-taskIcon="ab-icon-task.gif">Request Project</a></li>
                            <li><a href="ab-project-view.axvw" rel="eTask" data-taskId="View My Projects" data-taskIcon="ab-icon-task.gif">View My Projects</a></li>
                            <li><a href="ab-project-edit.axvw" rel="eTask" data-taskId="Edit My Projects" data-taskIcon="ab-icon-task.gif">Edit My Projects</a></li>
                            <li><a href="ab-programs-edit.axvw" rel="eTask" data-taskId="Add or Edit Programs" data-taskIcon="ab-icon-task.gif">Add or Edit Programs</a></li>
                            <li><a href="ab-condassess-copy-to-project.axvw" rel="eTask" data-taskId="Copy Assessment Items to Projects" data-taskIcon="ab-icon-task.gif">Copy Assessment Items to Projects</a></li>
                            <li><a href="ab-project-capbud-actions-edit.axvw" rel="eTask" data-taskId="Add or Edit Actions" data-taskIcon="ab-icon-task.gif">Add or Edit Actions</a></li>
                        </ol>
                    </ol>                    
                </div>
            </div>
            <div id="bucket_1c2a0bde-ae40-4e98-b7ef-0ac4fdf085cf_b4303561-eca9-4d8c-a1d3-d0009cd57ff4_h11" class="bucket-process  " data-productId="" data-activityId="" data-processId="" data-productTitle="" data-activityTitle="" data-processTitle="." data-productTitleRaw="" data-activityTitleRaw="" data-processTitleRaw="." data-subfolder="" data-helpLink=""  data-helpSystem="" data-dashboardLayout="" data-dashboardView="" title="" oncontextmenu="return false;">
                <h2 class="process-title" >.</h2>
                <div class="bucket-wrapper process-bucket" id="wrapper_5c01642e-5bfc-4eb0-9f21-45961c38312a_ab5625e9-7a51-4636-aeef-f56dd5d4b79e_h11" onMouseUp="openTask(this, event);">
                    <ol class="ptask-labels">
                    </ol>                    
                </div>
            </div>
	    </div>
    </div>
</div>

<script>
    $(document).ready(function() {
        $('#navigationTabs').find('a').click(function() {return false;});
        initDandDFavorites();
        setPageDimensions();
        bindTaskContextMenu();
        localizeDisplayText();
        localizeFavoritesDisplayText();
        pageTallProcessBuckets();
        constructRuntimeBuckets();
    });
</script>