<div class="nav-pages">
    <div class="page">
	    <div class="page-row half-height" >
            <div id="bucket_abriskcompliance_bucketRisk1Compliance_h0" class="bucket-process  " data-productId="AbRisk" data-activityId="AbRiskCompliance" data-processId="Bucket Risk 1 - Compliance" data-productTitle="Environmental & Risk Management" data-activityTitle="Compliance Management" data-processTitle="Compliance" data-productTitleRaw="Environmental & Risk Management" data-activityTitleRaw="Compliance Management" data-processTitleRaw="Compliance" data-subfolder="" data-helpLink=""  data-helpSystem="END USER" data-dashboardLayout="" data-dashboardView="" title="" oncontextmenu="return false;">
                <h2 class="process-title" >Compliance</h2>
                <div class="bucket-wrapper process-bucket" id="wrapper_abriskcompliance_bucketRisk1Compliance_h0" onMouseUp="openTask(this, event);">
                    <ol class="ptask-labels">
                        <li>Programs</li>
                        <ol class="process-tasks">
                            <li><a href="ab-comp-rpt-prg-lvl-priority.axvw" rel="eTask" data-taskId="Programs by Priority" data-taskIcon="ab-icon-task.gif">Programs by Priority</a></li>
                            <li><a href="ab-comp-rpt-prg-lvl-loc.axvw" rel="eTask" data-taskId="Programs by Location" data-taskIcon="ab-icon-task.gif">Programs by Location</a></li>
                            <li><a href="ab-comp-rpt-reg-loc-rank.axvw" rel="eTask" data-taskId="Regulations by Location and Rank" data-taskIcon="ab-icon-task.gif">Regulations by Location and Rank</a></li>
                            <li><a href="ab-comp-rpt-req-lvl-priority.axvw" rel="eTask" data-taskId="Requirements by Priority" data-taskIcon="ab-icon-task.gif">Requirements by Priority</a></li>
                            <li><a href="ab-comp-rpt-req-lvl-loc.axvw" rel="eTask" data-taskId="Requirements by Location" data-taskIcon="ab-icon-task.gif">Requirements by Location</a></li>
                        </ol>
                        <li>Oversight</li>
                        <ol class="process-tasks">
                            <li><a href="ab-comp-rpt-program-map.axvw" rel="eTask" data-taskId="Compliance Programs Map" data-taskIcon="ab-icon-task.gif">Compliance Programs Map</a></li>
                            <li><a href="ab-comp-rpt-violation-map.axvw" rel="eTask" data-taskId="Compliance Violations Map" data-taskIcon="ab-icon-task.gif">Compliance Violations Map</a></li>
                            <li><a href="ab-ehs-rpt-incidents-map.axvw" rel="eTask" data-taskId="Incidents Map" data-taskIcon="ab-icon-task.gif">Incidents Map</a></li>
                            <li><a href="ab-ehs-rpt-incidents-count.axvw" rel="eTask" data-taskId="Incidents Count" data-taskIcon="ab-icon-task.gif">Incidents Count</a></li>
                            <li><a href="ab-ehs-rpt-incidents-log.axvw" rel="eTask" data-taskId="Incidents Log" data-taskIcon="ab-icon-task.gif">Incidents Log</a></li>
                            <li><a href="ab-ehs-rpt-incidents-summary.axvw" rel="eTask" data-taskId="Incidents Summary" data-taskIcon="ab-icon-task.gif">Incidents Summary</a></li>
                            <li><a href="ab-status-summary-details.axvw" rel="eTask" data-taskId="Emergency Preparedness Status" data-taskIcon="ab-icon-task.gif">Emergency Preparedness Status</a></li>
                        </ol>
                    </ol>                    
                </div>
            </div>
            <div id="bucket_abriskgreenbuilding_bucketRisk1Sustainability_h1" class="bucket-process  " data-productId="AbRisk" data-activityId="AbRiskGreenBuilding" data-processId="Bucket Risk 1 - Sustainability" data-productTitle="Environmental & Risk Management" data-activityTitle="Green Building" data-processTitle="Sustainability" data-productTitleRaw="Environmental & Risk Management" data-activityTitleRaw="Green Building" data-processTitleRaw="Sustainability" data-subfolder="" data-helpLink=""  data-helpSystem="END USER" data-dashboardLayout="" data-dashboardView="" title="" oncontextmenu="return false;">
                <h2 class="process-title" >Sustainability</h2>
                <div class="bucket-wrapper process-bucket" id="wrapper_abriskgreenbuilding_bucketRisk1Sustainability_h1" onMouseUp="openTask(this, event);">
                    <ol class="ptask-labels">
                        <li>Sustainability</li>
                        <ol class="process-tasks">
                            <li><a href="ab-es-scoreboard.axvw" rel="eTask" data-taskId="Assessment Scoreboard" data-taskIcon="">Assessment Scoreboard</a></li>
                            <li><a href="ab-es-bl-ca-sum.axvw" rel="eTask" data-taskId="Building Summary" data-taskIcon="">Building Summary</a></li>
                            <li><a href="ab-waste-rpt-amounts.axvw" rel="eTask" data-taskId="Waste Amounts in Date Range" data-taskIcon="">Waste Amounts in Date Range</a></li>
                        </ol>
                        <li>Energy</li>
                        <ol class="process-tasks">
                            <li><a href="ab-energy-thematic-map-masterview.axvw" rel="eTask" data-taskId="Thematic Map" data-taskIcon="">Thematic Map</a></li>
                            <li><a href="ab-energy-scenarios.axvw" rel="eTask" data-taskId="What-if Scenarios" data-taskIcon="">What-if Scenarios</a></li>
                            <li><a href="ab-energy-cost-usage.axvw" rel="eTask" data-taskId="Cost and Usage" data-taskIcon="ab-icon-task.gif">Cost and Usage</a></li>
                            <li><a href="ab-energy-usage-weather.axvw" rel="eTask" data-taskId="Usage with Weather Model" data-taskIcon="ab-icon-task.gif">Usage with Weather Model</a></li>
                            <li><a href="ab-energy-bas-time.axvw" rel="eTask" data-taskId="Meter Analytics Over Time" data-taskIcon="ab-icon-task.gif">Meter Analytics Over Time</a></li>
                        </ol>
                        <li>Carbon</li>
                        <ol class="process-tasks">
                            <li><a href="ab-gb-rpt-fp-tot-by-year.axvw" rel="eTask" data-taskId="Total Footprint by Year" data-taskIcon="">Total Footprint by Year</a></li>
                            <li><a href="ab-gb-rpt-fp-chart-compare.axvw" rel="eTask" data-taskId="Footprints Comparison" data-taskIcon="">Footprints Comparison</a></li>
                            <li><a href="ab-gb-rpt-fp-src-detail.axvw" rel="eTask" data-taskId="Footprints by Source Detail" data-taskIcon="">Footprints by Source Detail</a></li>
                            <li><a href="ab-gb-rpt-cert-status-sum.axvw" rel="eTask" data-taskId="Certification Status Summary" data-taskIcon="">Certification Status Summary</a></li>
                        </ol>
                        <li>Scoring</li>
                        <ol class="process-tasks">
                            <li><a href="ab-gb-rpt-cert-prj-compare.axvw" rel="eTask" data-taskId="Rating Project Comparison" data-taskIcon="">Rating Project Comparison</a></li>
                            <li><a href="ab-gb-rpt-cert-bl-score.axvw" rel="eTask" data-taskId="Building Score" data-taskIcon="">Building Score</a></li>
                        </ol>
                    </ol>                    
                </div>
            </div>
            <div id="bucket_abriskmsds_bucketRisk1HazardousMat_h2" class="bucket-process bucket-background-medium-green " data-productId="AbRisk" data-activityId="AbRiskMSDS" data-processId="Bucket Risk 1 - Hazardous Mat" data-productTitle="Environmental & Risk Management" data-activityTitle="Hazardous Materials" data-processTitle="Hazardous Materials" data-productTitleRaw="Environmental & Risk Management" data-activityTitleRaw="Hazardous Materials" data-processTitleRaw="Hazardous Materials" data-subfolder="" data-helpLink=""  data-helpSystem="END USER" data-dashboardLayout="" data-dashboardView="" title="" oncontextmenu="return false;">
                <h2 class="process-title" >Hazardous Materials</h2>
                <div class="bucket-wrapper process-bucket" id="wrapper_abriskmsds_bucketRisk1HazardousMat_h2" onMouseUp="openTask(this, event);">
                    <ol class="ptask-labels">
                        <li>SDS</li>
                        <ol class="process-tasks">
                            <li><a href="ab-msds-rpt-map.axvw" rel="eTask" data-taskId="Hazards Map" data-taskIcon="">Hazards Map</a></li>
                            <li><a href="ab-msds-rpt-drawing.axvw" rel="eTask" data-taskId="Locations Highlight" data-taskIcon="">Locations Highlight</a></li>
                            <li><a href="ab-msds-rpt-inventory.axvw" rel="eTask" data-taskId="Chemical Constituent Inventory" data-taskIcon="">Chemical Constituent Inventory</a></li>
                        </ol>
                        <li>Waste Management</li>
                        <ol class="process-tasks">
                            <li><a href="ab-waste-rpt-map.axvw" rel="eTask" data-taskId="Waste Map" data-taskIcon="">Waste Map</a></li>
                            <li><a href="ab-waste-rpt-totals-by-cat.axvw" rel="eTask" data-taskId="Totals by Category" data-taskIcon="">Totals by Category</a></li>
                            <li><a href="ab-waste-rpt-summary.axvw" rel="eTask" data-taskId="Waste Summary" data-taskIcon="">Waste Summary</a></li>
                        </ol>
                        <li>Hazard Assessment</li>
                        <ol class="process-tasks">
                            <li><a href="ab-cb-rpt-haz-bl-map.axvw" rel="eTask" data-taskId="Hazards by Building Map" data-taskIcon="">Hazards by Building Map</a></li>
                            <li><a href="ab-cb-rpt-hl-fl.axvw" rel="eTask" data-taskId="Hazards by Floor Map" data-taskIcon="">Hazards by Floor Map</a></li>
                            <li><a href="ab-cb-rpt-drilldown.axvw" rel="eTask" data-taskId="Hazards by Location Drill-down" data-taskIcon="">Hazards by Location Drill-down</a></li>
                            <li><a href="ab-cb-rpt-scoreboard.axvw" rel="eTask" data-taskId="Hazards Scoreboard" data-taskIcon="">Hazards Scoreboard</a></li>
                            <li><a href="ab-cb-rpt-summary.axvw" rel="eTask" data-taskId="Hazards Summary" data-taskIcon="">Hazards Summary</a></li>
                            <li><a href="ab-cb-rpt-tot-compare.axvw" rel="eTask" data-taskId="Count by Location" data-taskIcon="">Count by Location</a></li>
                        </ol>
                    </ol>                    
                </div>
            </div>
            <div id="homeFavoritesBucket_h3" class="bucket-process  " data-panelTitle="Favorites" data-panelTitleRaw="Favorites" oncontextmenu="return false;">
                <h2 class="process-title" title="Drag and drop your favorite tasks into this panel.">Favorites</h2>
                <div class="bucket-wrapper favorites-bucket" id="wrapper_favorites_h3">
                    <div class="favorites-drop-target">
                        <span class="favorites-add-target"></span>
                        <span class="favorites-delete-target">&nbsp;</span>
                    </div>
                    <div class="favorites" onMouseUp="openTask(this,event);">
                        <ol class="favorites-items">
                        </ol>
                    </div>
                </div>
            </div>
	    </div>
	    <div class="page-row three-quarter-height" >
            <div id="bucket_integratedRiskAndEnvironmentalMetrics_h4" class="bucket-process  double-wide" data-panelTitle="Integrated Risk and Environmental Metrics" data-panelTitleRaw="Integrated Risk and Environmental Metrics" oncontextmenu="return false;">
                <h2 class="process-title" title="Performance metrics monitoring the processes under your department's purview.">Integrated Risk and Environmental Metrics</h2>
                <div class="bucket-wrapper app-specific-bucket" id="wrapper_integratedRiskAndEnvironmentalMetrics_h4">
                    <div class="processMetrics"
                        columnSpan="2"
                        granularity="all"
                        useStoplightColors="true"
                        granularitytitle="All"
                        scorecard="ENVIRONMENT"
                    >
                    </div>
                </div>
            </div>
            <div id="bucket_metrics_h5" class="bucket-process bucket-background-medium-green " data-panelTitle="Metrics" data-panelTitleRaw="Metrics" oncontextmenu="return false;">
                <h2 class="process-title" title="Time-sensitive tasks, reports and requests.">Metrics</h2>
                <div class="bucket-wrapper app-specific-bucket" id="wrapper_metrics_h5">
                    <div class="alertsList"
                        granularity="all"
                        granularitytitle="All"
                        scorecard="ENVIRONMENT_METRICS"
                    >
                    </div>
                </div>
            </div>
            <div id="bucket_alerts_h6" class="bucket-process  " data-panelTitle="Alerts" data-panelTitleRaw="Alerts" oncontextmenu="return false;">
                <h2 class="process-title" title="Time-sensitive tasks, reports and requests.">Alerts</h2>
                <div class="bucket-wrapper app-specific-bucket" id="wrapper_alerts_h6">
                    <div class="alertsList"
                        granularity="all"
                        granularitytitle="All"
                        scorecard="ENVIRONMENT_ALERTS"
                    >
                    </div>
                </div>
            </div>
	    </div>
        <div class="page-break-banner ui-widget-header bucket-background-medium-green" data-blockTitle="IN DEPTH" data-blockTitleRaw="IN DEPTH">
            <div class="page-break-archibus">
                <div class="page-break-logo"></div><span>IN DEPTH</span>
            </div>
            <a class="page-top-link" onClick="goToTop();"></a>
        </div>
        <br/>
	    <div class="page-row half-height" >
            <div id="bucket_bestSustainabilityRatings_h7" class="bucket-process  " data-panelTitle="Best Sustainability Ratings" data-panelTitleRaw="Best Sustainability Ratings" oncontextmenu="return false;">
                <h2 class="process-title" title="Avg. Sustainability Rating">Best Sustainability Ratings</h2>
                <div class="bucket-wrapper app-specific-bucket" id="wrapper_bestSustainabilityRatings_h7">
                    <div class="horizontalBarChart"
                        dataSourceId="env_AssessmentsSustainabilityRatingAvg"
                        viewName="ab-env-ehs-top5-barchart-datasource.axvw"
                        abbreviateValues="true"
                        subtitle="Top 5 by Building"
                        valueField="activity_log.avg_cond_rating"
                        recordLimit="5"
                        labelField="activity_log.bl_id"
                    >
                    </div>
                </div>
            </div>
            <div id="bucket_highestScoringProjects_h8" class="bucket-process  " data-panelTitle="Highest Scoring Projects" data-panelTitleRaw="Highest Scoring Projects" oncontextmenu="return false;">
                <h2 class="process-title" title="Project payback period in years by Building-Project-Cert. Std.">Highest Scoring Projects</h2>
                <div class="bucket-wrapper app-specific-bucket" id="wrapper_highestScoringProjects_h8">
                    <div class="horizontalBarChart"
                        dataSourceId="risk_CertPaybackPeriodByBuilding"
                        viewName="ab-env-ehs-top5-barchart-datasource.axvw"
                        abbreviateValues="true"
                        subtitle="Top 5 By Payback Period"
                        valueField="gb_cert_proj.paybackPeriod"
                        recordLimit="5"
                        labelField="gb_cert_proj.groupBy"
                    >
                    </div>
                </div>
            </div>
            <div id="bucket_complianceViolationExpenses_h9" class="bucket-process bucket-background-medium-green " data-panelTitle="Compliance Violation Expenses" data-panelTitleRaw="Compliance Violation Expenses" oncontextmenu="return false;">
                <h2 class="process-title" title="Total expenses for the past year.">Compliance Violation Expenses</h2>
                <div class="bucket-wrapper app-specific-bucket" id="wrapper_complianceViolationExpenses_h9">
                    <div class="horizontalBarChart"
                        dataSourceId="risk_ComplianceViolations"
                        viewName="ab-env-ehs-top5-barchart-datasource.axvw"
                        abbreviateValues="true"
                        subtitle="Top 5 by Regulation"
                        valueField="regviolation.sum_cost_total"
                        recordLimit="5"
                        labelField="regviolation.regulation"
                    >
                    </div>
                </div>
            </div>
            <div id="bucket_assessedHazards_h10" class="bucket-process  " data-panelTitle="Assessed Hazards" data-panelTitleRaw="Assessed Hazards" oncontextmenu="return false;">
                <h2 class="process-title" title="Hazard Assessment Count">Assessed Hazards</h2>
                <div class="bucket-wrapper app-specific-bucket" id="wrapper_assessedHazards_h10">
                    <div class="horizontalBarChart"
                        dataSourceId="ehs_HazardAssessments-Hazardous"
                        viewName="ab-env-ehs-top5-barchart-datasource.axvw"
                        abbreviateValues="true"
                        subtitle="Top 5 by Building"
                        valueField="activity_log.num_hazard"
                        recordLimit="5"
                        labelField="activity_log.bl_id"
                    >
                    </div>
                </div>
            </div>
	    </div>
	    <div class="page-row three-quarter-height" >
            <div id="bucket_abriskemergencypreparedness_bucketRisk2EmergencyPrep_h11" class="bucket-process bucket-background-light-green " data-productId="AbRisk" data-activityId="AbRiskEmergencyPreparedness" data-processId="Bucket Risk 2 - Emergency Prep" data-productTitle="Environmental & Risk Management" data-activityTitle="Emergency Preparedness" data-processTitle="Emergency Preparedness" data-productTitleRaw="Environmental & Risk Management" data-activityTitleRaw="Emergency Preparedness" data-processTitleRaw="Emergency Preparedness" data-subfolder="" data-helpLink=""  data-helpSystem="END USER" data-dashboardLayout="" data-dashboardView="" title="" oncontextmenu="return false;">
                <h2 class="process-title" >Emergency Preparedness</h2>
                <div class="bucket-wrapper process-bucket" id="wrapper_abriskemergencypreparedness_bucketRisk2EmergencyPrep_h11" onMouseUp="openTask(this, event);">
                    <ol class="ptask-labels">
                        <li></li>
                        <ol class="process-tasks">
                            <li><a href="ab-advisory-bulletin-edit.axvw" rel="eTask" data-taskId="Update Advisory Bulletin" data-taskIcon="">Update Advisory Bulletin</a></li>
                            <li><a href="ab-status-summary-details.axvw" rel="eTask" data-taskId="Review Status Summary" data-taskIcon="">Review Status Summary</a></li>
                            <li><a href="ab-hazmat-plans.axvw" rel="eTask" data-taskId="View Hazardous Materials Plans" data-taskIcon="">View Hazardous Materials Plans</a></li>
                            <li><a href="ab-em-contactsxbl.axvw" rel="eTask" data-taskId="View Emergency Contacts by Building" data-taskIcon="">View Emergency Contacts by Building</a></li>
                            <li><a href="ab-sp-hl-occ-plan.axvw" rel="eTask" data-taskId="View Occupancy Plans" data-taskIcon="">View Occupancy Plans</a></li>
                            <li><a href="ab-em-emergency-info.axvw" rel="eTask" data-taskId="View Employees and their Emergency Information" data-taskIcon="">View Employees and their Emergency Information</a></li>
                            <li><a href="ab-room-status-update.axvw" rel="eTask" data-taskId="Update Room Status" data-taskIcon="">Update Room Status</a></li>
                            <li><a href="ab-systems-and-zones-highlt.axvw" rel="eTask" data-taskId="Highlight Systems and their Zones" data-taskIcon="">Highlight Systems and their Zones</a></li>
                            <li><a href="ab-eq-status-update.axvw" rel="eTask" data-taskId="Update Equipment Status" data-taskIcon="">Update Equipment Status</a></li>
                        </ol>
                    </ol>                    
                </div>
            </div>
            <div id="bucket_abriskcompliance_bucketRisk2ComplianceMgmt_h12" class="bucket-process bucket-background-light-green " data-productId="AbRisk" data-activityId="AbRiskCompliance" data-processId="Bucket Risk 2 - Compliance Mgmt" data-productTitle="Environmental & Risk Management" data-activityTitle="Compliance Management" data-processTitle="Compliance Management" data-productTitleRaw="Environmental & Risk Management" data-activityTitleRaw="Compliance Management" data-processTitleRaw="Compliance Management" data-subfolder="" data-helpLink=""  data-helpSystem="END USER" data-dashboardLayout="" data-dashboardView="" title="" oncontextmenu="return false;">
                <h2 class="process-title" >Compliance Management</h2>
                <div class="bucket-wrapper process-bucket" id="wrapper_abriskcompliance_bucketRisk2ComplianceMgmt_h12" onMouseUp="openTask(this, event);">
                    <ol class="ptask-labels">
                        <li></li>
                        <ol class="process-tasks">
                            <li><a href="ab-comp-event-missed.axvw" rel="eTask" data-taskId="Manage Missed and Overdue Events" data-taskIcon="">Manage Missed and Overdue Events</a></li>
                            <li><a href="ab-comp-event-status.axvw" rel="eTask" data-taskId="Update Status and Close Events" data-taskIcon="">Update Status and Close Events</a></li>
                            <li><a href="ab-comp-violation.axvw" rel="eTask" data-taskId="Review Compliance Violations" data-taskIcon="">Review Compliance Violations</a></li>
                            <li><a href="ab-comp-event-calendar.axvw" rel="eTask" data-taskId="Show Compliance Events Calendar" data-taskIcon="">Show Compliance Events Calendar</a></li>
                            <li><a href="ab-comp-rpt-library.axvw" rel="eTask" data-taskId="Use Document Library" data-taskIcon="">Use Document Library</a></li>
                            <li><a href="ab-comp-drilldown.axvw" rel="eTask" data-taskId="Manage Compliance Drill-down" data-taskIcon="">Manage Compliance Drill-down</a></li>
                        </ol>
                    </ol>                    
                </div>
            </div>
            <div id="bucket_abriskehs_bucketRisk2Ehs_h13" class="bucket-process bucket-background-medium-green " data-productId="AbRisk" data-activityId="AbRiskEHS" data-processId="Bucket Risk 2 - EHS" data-productTitle="Environmental & Risk Management" data-activityTitle="Environmental Health & Safety" data-processTitle="Environmental Health & Safety" data-productTitleRaw="Environmental & Risk Management" data-activityTitleRaw="Environmental Health & Safety" data-processTitleRaw="Environmental Health & Safety" data-subfolder="" data-helpLink=""  data-helpSystem="END USER" data-dashboardLayout="" data-dashboardView="" title="" oncontextmenu="return false;">
                <h2 class="process-title" >Environmental Health & Safety</h2>
                <div class="bucket-wrapper process-bucket" id="wrapper_abriskehs_bucketRisk2Ehs_h13" onMouseUp="openTask(this, event);">
                    <ol class="ptask-labels">
                        <li></li>
                        <ol class="process-tasks">
                            <li><a href="ab-ehs-track-incidents.axvw" rel="eTask" data-taskId="Track Incidents" data-taskIcon="">Track Incidents</a></li>
                            <li><a href="ab-ehs-rpt-incidents-log.axvw" rel="eTask" data-taskId="Review Incidents Log" data-taskIcon="">Review Incidents Log</a></li>
                            <li><a href="ab-ehs-rpt-incidents-service-requests.axvw" rel="eTask" data-taskId="Review Incident Service Requests" data-taskIcon="">Review Incident Service Requests</a></li>
                            <li><a href="ab-ehs-track-em-work-categories.axvw" rel="eTask" data-taskId="Track Employee Work Categories" data-taskIcon="">Track Employee Work Categories</a></li>
                            <li><a href="ab-ehs-track-em-training.axvw" rel="eTask" data-taskId="Track Employee Training" data-taskIcon="">Track Employee Training</a></li>
                            <li><a href="ab-ehs-track-em-ppe-types.axvw" rel="eTask" data-taskId="Track Employee PPE" data-taskIcon="">Track Employee PPE</a></li>
                            <li><a href="ab-ehs-rpt-work-categories.axvw" rel="eTask" data-taskId="Training, PPE Types, and Medical Monitoring by Work Category" data-taskIcon="">Training, PPE Types, and Medical Monitoring by Work Category</a></li>
                            <li><a href="ab-ehs-rpt-em-training-ppe-types-medical-monitoring.axvw" rel="eTask" data-taskId="Training, PPE Types, and Medical Monitoring by Employee" data-taskIcon="">Training, PPE Types, and Medical Monitoring by Employee</a></li>
                        </ol>
                    </ol>                    
                </div>
            </div>
            <div id="bucket_abriskcleanbuilding_bucketRisk2CleanBuilding_h14" class="bucket-process bucket-background-light-green " data-productId="AbRisk" data-activityId="AbRiskCleanBuilding" data-processId="Bucket Risk 2 - Clean Building" data-productTitle="Environmental & Risk Management" data-activityTitle="Clean Building" data-processTitle="Clean Building" data-productTitleRaw="Environmental & Risk Management" data-activityTitleRaw="Clean Building" data-processTitleRaw="Clean Building" data-subfolder="" data-helpLink=""  data-helpSystem="END USER" data-dashboardLayout="" data-dashboardView="" title="" oncontextmenu="return false;">
                <h2 class="process-title" >Clean Building</h2>
                <div class="bucket-wrapper process-bucket" id="wrapper_abriskcleanbuilding_bucketRisk2CleanBuilding_h14" onMouseUp="openTask(this, event);">
                    <ol class="ptask-labels">
                        <li></li>
                        <ol class="process-tasks">
                            <li><a href="ab-cb-def-prj.axvw" rel="eTask" data-taskId="Define Projects" data-taskIcon="">Define Projects</a></li>
                            <li><a href="ab-cb-activity-items.axvw" rel="eTask" data-taskId="Manage Project Activity Items" data-taskIcon="">Manage Project Activity Items</a></li>
                            <li><a href="ab-cb-rpt-act-summary.axvw" rel="eTask" data-taskId="Project Activity Summary" data-taskIcon="">Project Activity Summary</a></li>
                            <li><a href="ab-cb-assess-items.axvw" rel="eTask" data-taskId="Manage Hazard Assessment Items" data-taskIcon="">Manage Hazard Assessment Items</a></li>
                            <li><a href="ab-cb-rpt-summary.axvw" rel="eTask" data-taskId="Hazard Assessment Items Summary" data-taskIcon="">Hazard Assessment Items Summary</a></li>
                            <li><a href="ab-cb-rpt-locs.axvw" rel="eTask" data-taskId="View Locations Drill-down" data-taskIcon="">View Locations Drill-down</a></li>
                        </ol>
                    </ol>                    
                </div>
            </div>
	    </div>
	    <div class="page-row half-height" >
            <div id="bucket_abriskes_bucketRisk2EnvSustain_h15" class="bucket-process  " data-productId="AbRisk" data-activityId="AbRiskES" data-processId="Bucket Risk 2 - Env Sustain" data-productTitle="Environmental & Risk Management" data-activityTitle="Environmental Sustainability Assessment" data-processTitle="Sustainability Assessment" data-productTitleRaw="Environmental & Risk Management" data-activityTitleRaw="Environmental Sustainability Assessment" data-processTitleRaw="Sustainability Assessment" data-subfolder="" data-helpLink=""  data-helpSystem="END USER" data-dashboardLayout="" data-dashboardView="" title="" oncontextmenu="return false;">
                <h2 class="process-title" >Sustainability Assessment</h2>
                <div class="bucket-wrapper process-bucket" id="wrapper_abriskes_bucketRisk2EnvSustain_h15" onMouseUp="openTask(this, event);">
                    <ol class="ptask-labels">
                        <li></li>
                        <ol class="process-tasks">
                            <li><a href="ab-es-prj-stat.axvw" rel="eTask" data-taskId="Review Project Statistics by Location" data-taskIcon="">Review Project Statistics by Location</a></li>
                            <li><a href="ab-ca-mng-ca-itms.axvw" rel="eTask" data-taskId="Manage Sustainability Assessment Items" data-taskIcon="">Manage Sustainability Assessment Items</a></li>
                            <li><a href="ab-es-hl-bl-rm-w-energy.axvw" rel="eTask" data-taskId="Highlight  Energy Issues" data-taskIcon="">Highlight  Energy Issues</a></li>
                            <li><a href="ab-es-hl-bl-rm-w-emission.axvw" rel="eTask" data-taskId="Highlight Emissions Issues" data-taskIcon="">Highlight Emissions Issues</a></li>
                            <li><a href="ab-es-hl-bl-rm-w-solid-waste.axvw" rel="eTask" data-taskId="Highlight Solid Waste Issues" data-taskIcon="">Highlight Solid Waste Issues</a></li>
                            <li><a href="ab-es-hl-bl-rm-w-haz-wast.axvw" rel="eTask" data-taskId="Highlight  Hazardous Waste Issues" data-taskIcon="">Highlight  Hazardous Waste Issues</a></li>
                            <li><a href="ab-es-hl-bl-rm-w-chemical.axvw" rel="eTask" data-taskId="Highlight Chemical Issues" data-taskIcon="">Highlight Chemical Issues</a></li>
                        </ol>
                    </ol>                    
                </div>
            </div>
            <div id="bucket_abriskmsds_bucketRisk2Msds_h16" class="bucket-process  " data-productId="AbRisk" data-activityId="AbRiskMSDS" data-processId="Bucket Risk 2 - MSDS" data-productTitle="Environmental & Risk Management" data-activityTitle="Hazardous Materials" data-processTitle="Hazardous Materials" data-productTitleRaw="Environmental & Risk Management" data-activityTitleRaw="Hazardous Materials" data-processTitleRaw="Hazardous Materials" data-subfolder="" data-helpLink=""  data-helpSystem="END USER" data-dashboardLayout="" data-dashboardView="" title="" oncontextmenu="return false;">
                <h2 class="process-title" >Hazardous Materials</h2>
                <div class="bucket-wrapper process-bucket" id="wrapper_abriskmsds_bucketRisk2Msds_h16" onMouseUp="openTask(this, event);">
                    <ol class="ptask-labels">
                        <li></li>
                        <ol class="process-tasks">
                            <li><a href="ab-msds-def-msds.axvw" rel="eTask" data-taskId="Define SDS Materials" data-taskIcon="">Define SDS Materials</a></li>
                            <li><a href="ab-msds-def-locs.axvw" rel="eTask" data-taskId="Assign Material Locations" data-taskIcon="">Assign Material Locations</a></li>
                            <li><a href="ab-msds-def-loc-dwg.axvw" rel="eTask" data-taskId="Assign Material to Rooms Using a Floor Plan" data-taskIcon="">Assign Material to Rooms Using a Floor Plan</a></li>
                            <li><a href="ab-msds-rpt-print.axvw" rel="eTask" data-taskId="Print SDS" data-taskIcon="">Print SDS</a></li>
                            <li><a href="ab-msds-def-classification.axvw" rel="eTask" data-taskId="Define Hazard Classifications" data-taskIcon="">Define Hazard Classifications</a></li>
                        </ol>
                    </ol>                    
                </div>
            </div>
            <div id="bucket_abriskwastemgmt_bucketRisk2WasteMgmt_h17" class="bucket-process bucket-background-medium-green " data-productId="AbRisk" data-activityId="AbRiskWasteMgmt" data-processId="Bucket Risk 2 - Waste Mgmt" data-productTitle="Environmental & Risk Management" data-activityTitle="Waste Management" data-processTitle="Waste Management" data-productTitleRaw="Environmental & Risk Management" data-activityTitleRaw="Waste Management" data-processTitleRaw="Waste Management" data-subfolder="" data-helpLink=""  data-helpSystem="END USER" data-dashboardLayout="" data-dashboardView="" title="" oncontextmenu="return false;">
                <h2 class="process-title" >Waste Management</h2>
                <div class="bucket-wrapper process-bucket" id="wrapper_abriskwastemgmt_bucketRisk2WasteMgmt_h17" onMouseUp="openTask(this, event);">
                    <ol class="ptask-labels">
                        <li></li>
                        <ol class="process-tasks">
                            <li><a href="ab-waste-track-shipments.axvw" rel="eTask" data-taskId="Track Waste Shipments" data-taskIcon="">Track Waste Shipments</a></li>
                            <li><a href="ab-waste-def-manifests.axvw" rel="eTask" data-taskId="Define Waste Manifests" data-taskIcon="">Define Waste Manifests</a></li>
                            <li><a href="ab-waste-track-manifests.axvw" rel="eTask" data-taskId="Track Waste Manifests" data-taskIcon="">Track Waste Manifests</a></li>
                        </ol>
                    </ol>                    
                </div>
            </div>
            <div id="bucket_abriskenergymanagement_bucketRisk2EnergyMgmt_h18" class="bucket-process  " data-productId="AbRisk" data-activityId="AbRiskEnergyManagement" data-processId="Bucket Risk 2 - Energy Mgmt" data-productTitle="Environmental & Risk Management" data-activityTitle="Energy Management" data-processTitle="Energy Management" data-productTitleRaw="Environmental & Risk Management" data-activityTitleRaw="Energy Management" data-processTitleRaw="Energy Management" data-subfolder="" data-helpLink=""  data-helpSystem="END USER" data-dashboardLayout="" data-dashboardView="" title="" oncontextmenu="return false;">
                <h2 class="process-title" >Energy Management</h2>
                <div class="bucket-wrapper process-bucket" id="wrapper_abriskenergymanagement_bucketRisk2EnergyMgmt_h18" onMouseUp="openTask(this, event);">
                    <ol class="ptask-labels">
                        <li></li>
                        <ol class="process-tasks">
                            <li><a href="ab-energy-cost-usage.axvw" rel="eTask" data-taskId="Cost and Usage" data-taskIcon="ab-icon-task.gif">Cost and Usage</a></li>
                            <li><a href="ab-energy-usage-weather.axvw" rel="eTask" data-taskId="Usage with Weather Model" data-taskIcon="ab-icon-task.gif">Usage with Weather Model</a></li>
                            <li><a href="ab-energy-utility-metrics.axvw" rel="eTask" data-taskId="Utility Metrics" data-taskIcon="">Utility Metrics</a></li>
                            <li><a href="ab-energy-vn-ac-bill-line-def.axvw" rel="eTask" data-taskId="Enter Bills" data-taskIcon="">Enter Bills</a></li>
                            <li><a href="ab-energy-load-bills.axvw" rel="eTask" data-taskId="Load Bills" data-taskIcon="ab-icon-task.gif">Load Bills</a></li>
                            <li><a href="ab-energy-bill-audit-approve-tabs.axvw" rel="eTask" data-taskId="Review and Approve Bills" data-taskIcon="">Review and Approve Bills</a></li>
                            <li><a href="ab-energy-bill-prorate.axvw" rel="eTask" data-taskId="Prorate Utility Bills" data-taskIcon="ab-icon-task.gif">Prorate Utility Bills</a></li>
                            <li><a href="ab-energy-bill-type-define.axvw" rel="eTask" data-taskId="Define Bill Types" data-taskIcon="">Define Bill Types</a></li>
                            <li><a href="ab-energy-bill-unit-define.axvw" rel="eTask" data-taskId="Define Bill Units" data-taskIcon="">Define Bill Units</a></li>
                            <li><a href="ab-energy-def-utility-rates.axvw" rel="eTask" data-taskId="Define Utility Rates" data-taskIcon="ab-icon-task.gif">Define Utility Rates</a></li>
                            <li><a href="ab-energy-bas-def-meters.axvw" rel="eTask" data-taskId="Define Meters" data-taskIcon="ab-icon-task.gif">Define Meters</a></li>
                            <li><a href="ab-energy-bas-edit.axvw" rel="eTask" data-taskId="Process Meter Readings" data-taskIcon="ab-icon-task.gif">Process Meter Readings</a></li>
                            <li><a href="ab-energy-bas-time.axvw" rel="eTask" data-taskId="Meter Analytics Over Time" data-taskIcon="ab-icon-task.gif">Meter Analytics Over Time</a></li>
                            <li><a href="ab-energy-bas-loc.axvw" rel="eTask" data-taskId="Meter Analytics by Location" data-taskIcon="ab-icon-task.gif">Meter Analytics by Location</a></li>
                        </ol>
                    </ol>                    
                </div>
            </div>
	    </div>
	    <div class="page-row half-height" >
            <div id="bucket_abriskgreenbuilding_bucketRisk2GreenBldgCar_h19" class="bucket-process  " data-productId="AbRisk" data-activityId="AbRiskGreenBuilding" data-processId="Bucket Risk 2 - Green Bldg - Car" data-productTitle="Environmental & Risk Management" data-activityTitle="Green Building" data-processTitle="Green Building - Carbon Footprint" data-productTitleRaw="Environmental & Risk Management" data-activityTitleRaw="Green Building" data-processTitleRaw="Green Building - Carbon Footprint" data-subfolder="" data-helpLink=""  data-helpSystem="END USER" data-dashboardLayout="" data-dashboardView="" title="" oncontextmenu="return false;">
                <h2 class="process-title" >Green Building - Carbon Footprint</h2>
                <div class="bucket-wrapper process-bucket" id="wrapper_abriskgreenbuilding_bucketRisk2GreenBldgCar_h19" onMouseUp="openTask(this, event);">
                    <ol class="ptask-labels">
                        <li></li>
                        <ol class="process-tasks">
                            <li><a href="ab-gb-rpt-fp-chart.axvw" rel="eTask" data-taskId="View Footprint Summary Chart" data-taskIcon="">View Footprint Summary Chart</a></li>
                            <li><a href="ab-gb-def-fp-scn.axvw" rel="eTask" data-taskId="Define Footprint Scenarios" data-taskIcon="">Define Footprint Scenarios</a></li>
                            <li><a href="ab-gb-fp-data.axvw" rel="eTask" data-taskId="Enter Building Footprint Data" data-taskIcon="">Enter Building Footprint Data</a></li>
                        </ol>
                    </ol>                    
                </div>
            </div>
            <div id="bucket_abriskgreenbuilding_bucketRisk2GreenBldgSco_h20" class="bucket-process  " data-productId="AbRisk" data-activityId="AbriskGreenBuilding" data-processId="Bucket Risk 2 - Green Bldg - Sco" data-productTitle="Environmental & Risk Management" data-activityTitle="Green Building" data-processTitle="Green Building - Scoring" data-productTitleRaw="Environmental & Risk Management" data-activityTitleRaw="Green Building" data-processTitleRaw="Green Building - Scoring" data-subfolder="" data-helpLink=""  data-helpSystem="END USER" data-dashboardLayout="" data-dashboardView="" title="" oncontextmenu="return false;">
                <h2 class="process-title" >Green Building - Scoring</h2>
                <div class="bucket-wrapper process-bucket" id="wrapper_abriskgreenbuilding_bucketRisk2GreenBldgSco_h20" onMouseUp="openTask(this, event);">
                    <ol class="ptask-labels">
                        <li></li>
                        <ol class="process-tasks">
                            <li><a href="ab-gb-cert-score-proj.axvw" rel="eTask" data-taskId="Enter Scores" data-taskIcon="">Enter Scores</a></li>
                            <li><a href="ab-gb-cert-docs.axvw" rel="eTask" data-taskId="Upload Documents" data-taskIcon="">Upload Documents</a></li>
                            <li><a href="ab-gb-cert-log.axvw" rel="eTask" data-taskId="Enter Rating Project Notes" data-taskIcon="">Enter Rating Project Notes</a></li>
                            <li><a href="ab-gb-rpt-cert-payback.axvw" rel="eTask" data-taskId="Rating Project Payback Period" data-taskIcon="">Rating Project Payback Period</a></li>
                            <li><a href="ab-gb-rpt-cert-bl-score.axvw" rel="eTask" data-taskId="View Building Score" data-taskIcon="">View Building Score</a></li>
                        </ol>
                    </ol>                    
                </div>
            </div>
            <div id="bucket_ff79755c-2f2a-4343-8a9e-88bc8a543cb4_4c71334b-3b7a-4935-8b17-7f43b2778e7f_h21" class="bucket-process bucket-background-medium-green " data-productId="" data-activityId="" data-processId="" data-productTitle="" data-activityTitle="" data-processTitle="-" data-productTitleRaw="" data-activityTitleRaw="" data-processTitleRaw="-" data-subfolder="" data-helpLink=""  data-helpSystem="" data-dashboardLayout="" data-dashboardView="" title="" oncontextmenu="return false;">
                <h2 class="process-title" >-</h2>
                <div class="bucket-wrapper process-bucket" id="wrapper_9030c25f-365a-4d7f-afb0-7ba1cb8fe6a4_5e5414a1-c52e-45ec-982c-f4c815438fb9_h21" onMouseUp="openTask(this, event);">
                    <ol class="ptask-labels">
                    </ol>                    
                </div>
            </div>
	    </div>
    </div>
</div>

<script>
    $(document).ready(function() {
        $('#navigationTabs').find('a').click(function() {return false;});
        initDandDFavorites();
        setPageDimensions();
        bindTaskContextMenu();
        localizeDisplayText();
        localizeFavoritesDisplayText();
        pageTallProcessBuckets();
        constructRuntimeBuckets();
    });
</script>