<div class="nav-pages">
    <div class="page">
	    <div class="page-row half-height" >
            <div id="bucket_abspaceroominventorybar_departmentManager_h0" class="bucket-process  " data-productId="AbSpace" data-activityId="AbSpaceRoomInventoryBAR" data-processId="Department Manager" data-productTitle="Space Planning & Management" data-activityTitle="Space Inventory & Performance" data-processTitle="Executive Reports Bucket 1" data-productTitleRaw="Space Planning & Management" data-activityTitleRaw="Space Inventory & Performance" data-processTitleRaw="Executive Reports Bucket 1" data-subfolder="" data-helpLink="\Subsystems\webc\Content\web_user\space\inventory\dept\dept_mgr.htm"  data-helpSystem="END USER" data-dashboardLayout="" data-dashboardView="" title="Executive reports for Department Manager." oncontextmenu="return false;">
                <h2 class="process-title" title="Executive reports for Department Manager.">Executive Reports Bucket 1</h2>
                <div class="bucket-wrapper process-bucket" id="wrapper_abspaceroominventorybar_departmentManager_h0" onMouseUp="openTask(this, event);">
                    <ol class="ptask-labels">
                        <li></li>
                        <ol class="process-tasks">
                            <li><a href="ab-sp-hl-dp-rm-per-fl.axvw" rel="eTask" data-taskId="Highlight Department Rooms per Floor" data-taskIcon="ab-icon-task.gif">Highlight Department Rooms per Floor</a></li>
                            <li><a href="ab-sp-hl-dp-gp-per-fl.axvw" rel="eTask" data-taskId="Highlight Department Groups per Floor" data-taskIcon="ab-icon-task.gif">Highlight Department Groups per Floor</a></li>
                            <li><a href="ab-sp-vw-dp-rm.axvw" rel="eTask" data-taskId="View Department Rooms" data-taskIcon="ab-icon-task.gif">View Department Rooms</a></li>
                            <li><a href="ab-sp-vw-dp-gp.axvw" rel="eTask" data-taskId="View Department Groups" data-taskIcon="ab-icon-task.gif">View Department Groups</a></li>
                            <li><a href="ab-sp-asgn-user-dp-to-rm.axvw" rel="eTask" data-taskId="Assign Department to Rooms" data-taskIcon="ab-icon-task.gif">Assign Department to Rooms</a></li>
                        </ol>
                    </ol>                    
                </div>
            </div>
            <div id="bucket_abrplmportfolioadministration_reports_h1" class="bucket-process  " data-productId="AbRPLM" data-activityId="AbRPLMPortfolioAdministration" data-processId="Reports" data-productTitle="Real Estate Portfolio Management" data-activityTitle="Portfolio Management" data-processTitle="Executive Reports Bucket 2" data-productTitleRaw="Real Estate Portfolio Management" data-activityTitleRaw="Portfolio Management" data-processTitleRaw="Executive Reports Bucket 2" data-subfolder="" data-helpLink="\Subsystems\webc\Content\web_user\port_admin\reports\reports_port_admin_over.htm"  data-helpSystem="END USER" data-dashboardLayout="" data-dashboardView="" title="Executive reports for Portfolio Manager." oncontextmenu="return false;">
                <h2 class="process-title" title="Executive reports for Portfolio Manager.">Executive Reports Bucket 2</h2>
                <div class="bucket-wrapper process-bucket" id="wrapper_abrplmportfolioadministration_reports_h1" onMouseUp="openTask(this, event);">
                    <ol class="ptask-labels">
                        <li>View Buildings by:</li>
                        <ol class="process-tasks">
                            <li><a href="ab-repm-lsadmin-bl-by-bl-contact.axvw" rel="eTask" data-taskId="-... Primary Contact" data-taskIcon="ab-icon-task.gif">... Primary Contact</a></li>
                            <li><a href="ab-repm-lsadmin-bl-by-ac.axvw" rel="eTask" data-taskId="-... Account" data-taskIcon="ab-icon-task.gif">... Account</a></li>
                            <li><a href="ab-repm-pfadmin-bl-by-bl-status.axvw" rel="eTask" data-taskId="... Building Status" data-taskIcon="ab-icon-task.gif">... Building Status</a></li>
                        </ol>
                        <li></li>
                        <ol class="process-tasks">
                            <li><a href="ab-rplm-pfadmin-bldgs-book-values-report.axvw" rel="eTask" data-taskId="All Buildings and their Book Values" data-taskIcon="ab-icon-task.gif">All Buildings and their Book Values</a></li>
                        </ol>
                        <li>View Amenities by</li>
                        <ol class="process-tasks">
                            <li><a href="ab-repm-lsadmin-amenities-by-prop.axvw" rel="eTask" data-taskId="... Property" data-taskIcon="ab-icon-task.gif">... Property</a></li>
                            <li><a href="ab-repm-lsadmin-amenities-by-bl.axvw" rel="eTask" data-taskId="... Building" data-taskIcon="ab-icon-task.gif">... Building</a></li>
                            <li><a href="ab-repm-lsadmin-amenities-by-ls.axvw" rel="eTask" data-taskId="... Lease" data-taskIcon="ab-icon-task.gif">... Lease</a></li>
                        </ol>
                        <li>View Properties by:</li>
                        <ol class="process-tasks">
                            <li><a href="ab-repm-pfadmin-item-by-location.axvw" rel="eTask" data-taskId="... Location" data-taskIcon="ab-icon-task.gif">... Location</a></li>
                            <li><a href="ab-repm-lsadmin-prop-by-prmry-cont.axvw" rel="eTask" data-taskId="... Primary Contact" data-taskIcon="ab-icon-task.gif">... Primary Contact</a></li>
                            <li><a href="ab-repm-lsadmin-prop-by-ac.axvw" rel="eTask" data-taskId="... Account" data-taskIcon="ab-icon-task.gif">... Account</a></li>
                            <li><a href="ab-repm-pfadmin-prop-by-prop-status.axvw" rel="eTask" data-taskId="... Property Status" data-taskIcon="ab-icon-task.gif">... Property Status</a></li>
                        </ol>
                        <li></li>
                        <ol class="process-tasks">
                            <li><a href="ab-rplm-pfadmin-props-book-values-report.axvw" rel="eTask" data-taskId="All Properties and their Book Values" data-taskIcon="ab-icon-task.gif">All Properties and their Book Values</a></li>
                            <li><a href="ab-repm-lsadmin-prop-summary.axvw" rel="eTask" data-taskId="All Properties Yearly Financial Summary by Country" data-taskIcon="ab-icon-task.gif">All Properties Yearly Financial Summary by Country</a></li>
                            <li><a href="ab-repm-lsadmin-undev-prop.axvw" rel="eTask" data-taskId="Undeveloped Properties" data-taskIcon="ab-icon-task.gif">Undeveloped Properties</a></li>
                        </ol>
                        <li>Portfolio:</li>
                        <ol class="process-tasks">
                            <li><a href="ab-rplm-pfadmin-investments.axvw" rel="eTask" data-taskId="... Investments" data-taskIcon="ab-icon-task.gif">... Investments</a></li>
                            <li><a href="ab-rplm-pfadmin-sales.axvw" rel="eTask" data-taskId="... Sales" data-taskIcon="ab-icon-task.gif">... Sales</a></li>
                        </ol>
                    </ol>                    
                </div>
            </div>
            <div id="homeFavoritesBucket_h2" class="bucket-process bucket-background-light-red " data-panelTitle="Favorites" data-panelTitleRaw="Favorites" oncontextmenu="return false;">
                <h2 class="process-title" title="Drag and drop your favorite tasks into this panel.">Favorites</h2>
                <div class="bucket-wrapper favorites-bucket" id="wrapper_favorites_h2">
                    <div class="favorites-drop-target">
                        <span class="favorites-add-target"></span>
                        <span class="favorites-delete-target">&nbsp;</span>
                    </div>
                    <div class="favorites" onMouseUp="openTask(this,event);">
                        <ol class="favorites-items">
                        </ol>
                    </div>
                </div>
            </div>
            <div id="bucket_alerts_h3" class="bucket-process  " data-panelTitle="Alerts" data-panelTitleRaw="Alerts" oncontextmenu="return false;">
                <h2 class="process-title" title="Time-sensitive tasks, reports and requests.">Alerts</h2>
                <div class="bucket-wrapper app-specific-bucket" id="wrapper_alerts_h3">
                    <div class="alertsList"
                        granularity="all"
                        granularitytitle="All"
                        scorecard="PORTFOLIO_ALERTS"
                    >
                    </div>
                </div>
            </div>
	    </div>
	    <div class="page-row three-quarter-height" >
            <div id="bucket_processMetricScorecardBucket_h4" class="bucket-process  double-wide" data-panelTitle="Process Metric Scorecard Bucket" data-panelTitleRaw="Process Metric Scorecard Bucket" oncontextmenu="return false;">
                <h2 class="process-title" title="Performance metrics monitoring the processes under your department's purview.">Process Metric Scorecard Bucket</h2>
                <div class="bucket-wrapper app-specific-bucket" id="wrapper_processMetricScorecardBucket_h4">
                    <div class="processMetrics"
                        columnSpan="2"
                        granularity="all"
                        useStoplightColors="true"
                        granularitytitle="All"
                        scorecard="BALANCED_SCORECARD"
                    >
                    </div>
                </div>
            </div>
            <div id="bucket_metricValuesChartBucket_h5" class="bucket-process bucket-background-light-red " data-panelTitle="Metric Values Chart Bucket" data-panelTitleRaw="Metric Values Chart Bucket" oncontextmenu="return false;">
                <h2 class="process-title" title="Buildings with smallest operations expenses.">Metric Values Chart Bucket</h2>
                <div class="bucket-wrapper app-specific-bucket" id="wrapper_metricValuesChartBucket_h5">
                    <div class="horizontalBarChart"
                        valueOnTop="smallest"
                        metricName="fin_RealEstateOpEx_monthly"
                        granularity="bl_id"
                        sortOrder="asc"
                        subtitle="Smallest 10 Op Ex by Building"
                        useStoplightColors="false"
                        granularitytitle="by Building"
                        recordLimit="10"
                    >
                    </div>
                </div>
            </div>
            <div id="bucket_datasourceChartBucket_h6" class="bucket-process  " data-panelTitle="Datasource Chart Bucket" data-panelTitleRaw="Datasource Chart Bucket" oncontextmenu="return false;">
                <h2 class="process-title" title="Property book values.">Datasource Chart Bucket</h2>
                <div class="bucket-wrapper app-specific-bucket" id="wrapper_datasourceChartBucket_h6">
                    <div class="horizontalBarChart"
                        dataSourceId="chartBar_sorted_desc_ds"
                        viewName="ab-chart-bar-sorted.axvw"
                        abbreviateValues="true"
                        sortOrder="desc"
                        subtitle="Top 10 Values by Building"
                        valueField="property.value_book"
                        recordLimit="10"
                        labelField="property.name"
                    >
                    </div>
                </div>
            </div>
	    </div>
        <div class="page-break-banner ui-widget-header bucket-background-medium" data-blockTitle="Page Divider" data-blockTitleRaw="Page Divider">
            <div class="page-break-archibus">
                <div class="page-break-logo"></div><span>Page Divider</span>
            </div>
            <a class="page-top-link" onClick="goToTop();"></a>
        </div>
        <br/>
	    <div class="page-row half-height" >
            <div id="bucket_propertyBookValuesTop5_h7" class="bucket-process bucket-background-light-red " data-panelTitle="Property Book Values (Top 5)" data-panelTitleRaw="Property Book Values (Top 5)" oncontextmenu="return false;">
                <h2 class="process-title" title="Property book values.">Property Book Values (Top 5)</h2>
                <div class="bucket-wrapper app-specific-bucket" id="wrapper_propertyBookValuesTop5_h7">
                    <div class="horizontalBarChart"
                        dataSourceId="chartBar_sorted_desc_ds"
                        viewName="ab-chart-bar-sorted.axvw"
                        abbreviateValues="true"
                        valueField="property.value_book"
                        recordLimit="5"
                        labelField="property.name"
                    >
                    </div>
                </div>
            </div>
            <div id="bucket_propertyBookValuesBottom5_h8" class="bucket-process bucket-background-light-red " data-panelTitle="Property Book Values (Bottom 5)" data-panelTitleRaw="Property Book Values (Bottom 5)" oncontextmenu="return false;">
                <h2 class="process-title" title="Property book values.">Property Book Values (Bottom 5)</h2>
                <div class="bucket-wrapper app-specific-bucket" id="wrapper_propertyBookValuesBottom5_h8">
                    <div class="horizontalBarChart"
                        dataSourceId="chartBar_sorted_asc_ds"
                        valueOnTop="smallest"
                        viewName="ab-chart-bar-sorted.axvw"
                        abbreviateValues="true"
                        valueField="property.value_book"
                        recordLimit="5"
                        labelField="property.name"
                    >
                    </div>
                </div>
            </div>
            <div id="bucket_operatingExpenseTop5_h9" class="bucket-process bucket-background-light-red " data-panelTitle="Operating Expense (Top 5)" data-panelTitleRaw="Operating Expense (Top 5)" oncontextmenu="return false;">
                <h2 class="process-title" title="">Operating Expense (Top 5)</h2>
                <div class="bucket-wrapper app-specific-bucket" id="wrapper_operatingExpenseTop5_h9">
                    <div class="horizontalBarChart"
                        metricName="fin_RealEstateOpEx_monthly"
                        granularity="bl_id"
                        sortOrder="desc"
                        useStoplightColors="true"
                        granularitytitle="by Building"
                        recordLimit="5"
                    >
                    </div>
                </div>
            </div>
            <div id="bucket_operatingExpenseBottom5_h10" class="bucket-process bucket-background-light-red " data-panelTitle="Operating Expense (Bottom 5)" data-panelTitleRaw="Operating Expense (Bottom 5)" oncontextmenu="return false;">
                <h2 class="process-title" title="">Operating Expense (Bottom 5)</h2>
                <div class="bucket-wrapper app-specific-bucket" id="wrapper_operatingExpenseBottom5_h10">
                    <div class="horizontalBarChart"
                        valueOnTop="smallest"
                        metricName="fin_RealEstateOpEx_monthly"
                        granularity="bl_id"
                        sortOrder="asc"
                        useStoplightColors="true"
                        granularitytitle="by Building"
                        recordLimit="5"
                    >
                    </div>
                </div>
            </div>
	    </div>
	    <div class="page-row full-height" >
            <div id="bucket_abspaceroominventorybar_roomInventory_h11" class="bucket-process  " data-productId="AbSpace" data-activityId="AbSpaceRoomInventoryBAR" data-processId="Room Inventory" data-productTitle="Space Planning & Management" data-activityTitle="Space Inventory & Performance" data-processTitle="Process Tasks Bucket 1" data-productTitleRaw="Space Planning & Management" data-activityTitleRaw="Space Inventory & Performance" data-processTitleRaw="Process Tasks Bucket 1" data-subfolder="" data-helpLink="\Subsystems\webc\Content\web_user\space\inventory\room\legacy\overview.htm"  data-helpSystem="END USER" data-dashboardLayout="" data-dashboardView="" title="Space Inventory process for Department Manager." oncontextmenu="return false;">
                <h2 class="process-title" title="Space Inventory process for Department Manager.">Process Tasks Bucket 1</h2>
                <div class="bucket-wrapper process-bucket" id="wrapper_abspaceroominventorybar_roomInventory_h11" onMouseUp="openTask(this, event);">
                    <ol class="ptask-labels">
                        <li>DATA SETUP</li>
                        <ol class="process-tasks">
                            <li><a href="ab-sp-def-rmcat-rmtype.axvw" rel="eTask" data-taskId="Define Room Categories and Types" data-taskIcon="ab-icon-task.gif">Define Room Categories and Types</a></li>
                            <li><a href="ab-sp-create-rmcat-rmtype-hatch.axvw" rel="eTask" data-taskId="Define Room Category and Type Highlight Patterns" data-taskIcon="ab-icon-task.gif">Define Room Category and Type Highlight Patterns</a></li>
                            <li><a href="ab-sp-def-rmstd.axvw" rel="eTask" data-taskId="Define Room Standards" data-taskIcon="ab-icon-task.gif">Define Room Standards</a></li>
                            <li><a href="ab-sp-create-rmstd-hatch.axvw" rel="eTask" data-taskId="Define Room Standard Highlight Patterns" data-taskIcon="ab-icon-task.gif">Define Room Standard Highlight Patterns</a></li>
                            <li><a href="ab-sp-def-loc-rm.axvw" rel="eTask" data-taskId="Define Rooms" data-taskIcon="ab-icon-task.gif">Define Rooms</a></li>
                            <li><a href="ab-sp-asgn-rmcat-rmtype-to-rm.axvw" rel="eTask" data-taskId="Assign Categories and Types to Rooms" data-taskIcon="ab-icon-task.gif">Assign Categories and Types to Rooms</a></li>
                            <li><a href="ab-sp-asgn-rmstd-to-rm.axvw" rel="eTask" data-taskId="Assign Room Standards to Rooms" data-taskIcon="ab-icon-task.gif">Assign Room Standards to Rooms</a></li>
                            <li><a href="ab-sp-asgn-dv-dp-to-rm.axvw" rel="eTask" data-taskId="Assign Divisions and Departments to Rooms" data-taskIcon="ab-icon-task.gif">Assign Divisions and Departments to Rooms</a></li>
                        </ol>
                        <li>CALCULATIONS</li>
                        <ol class="process-tasks">
                            <li><a href="ab-single-job.axvw?ruleId=AbCommonResources-SpaceService-updateRoomAreaFromManualArea" rel="eTask" data-taskId="Update Room Area from Manual Area" data-taskIcon="ab-icon-task.gif">Update Room Area from Manual Area</a></li>
                            <li><a href="ab-single-job.axvw?ruleId=AbCommonResources-SpaceService-updateAreaTotals" rel="eTask" data-taskId="Update Area Totals" data-taskIcon="ab-icon-task.gif">Update Area Totals</a></li>
                        </ol>
                        <li>View Rooms by:</li>
                        <ol class="process-tasks">
                            <li><a href="ab-sp-vw-rm-by-bl-fl.axvw" rel="eTask" data-taskId="... Building and Floor" data-taskIcon="ab-icon-task.gif">... Building and Floor</a></li>
                            <li><a href="ab-sp-vw-rm-by-dv-dp.axvw" rel="eTask" data-taskId="... Division and Department" data-taskIcon="ab-icon-task.gif">... Division and Department</a></li>
                            <li><a href="ab-sp-vw-rm-by-fl-dp.axvw" rel="eTask" data-taskId="... Floor and Department" data-taskIcon="ab-icon-task.gif">... Floor and Department</a></li>
                            <li><a href="ab-sp-vw-rm-by-rmstd.axvw" rel="eTask" data-taskId="... Standard" data-taskIcon="ab-icon-task.gif">... Standard</a></li>
                            <li><a href="ab-sp-vw-rm-by-rmcat-rmtype.axvw" rel="eTask" data-taskId="... Category and Type" data-taskIcon="ab-icon-task.gif">... Category and Type</a></li>
                        </ol>
                        <li>View Room Categories and Types by:</li>
                        <ol class="process-tasks">
                            <li><a href="ab-sp-vw-rmcat-by-bl.axvw" rel="eTask" data-taskId="... Building" data-taskIcon="ab-icon-task.gif">... Building</a></li>
                            <li><a href="ab-sp-vw-rmcat-by-fl.axvw" rel="eTask" data-taskId="... Floor" data-taskIcon="ab-icon-task.gif">... Floor</a></li>
                            <li><a href="ab-sp-vw-rmcat-by-dv.axvw" rel="eTask" data-taskId="... Division" data-taskIcon="ab-icon-task.gif">... Division</a></li>
                            <li><a href="ab-sp-vw-rmcat-by-dp.axvw" rel="eTask" data-taskId="... Department" data-taskIcon="ab-icon-task.gif">... Department</a></li>
                        </ol>
                        <li>View Room Standards by:</li>
                        <ol class="process-tasks">
                            <li><a href="ab-sp-vw-rmstd-by-bl.axvw" rel="eTask" data-taskId="-... Building" data-taskIcon="ab-icon-task.gif">... Building</a></li>
                            <li><a href="ab-sp-vw-rmstd-by-fl.axvw" rel="eTask" data-taskId="-... Floor" data-taskIcon="ab-icon-task.gif">... Floor</a></li>
                            <li><a href="ab-sp-vw-rmstd-by-dv.axvw" rel="eTask" data-taskId="-... Division" data-taskIcon="ab-icon-task.gif">... Division</a></li>
                            <li><a href="ab-sp-vw-rmstd-by-dp.axvw" rel="eTask" data-taskId="-... Department" data-taskIcon="ab-icon-task.gif">... Department</a></li>
                        </ol>
                        <li>View Departments by:</li>
                        <ol class="process-tasks">
                            <li><a href="ab-sp-rm-vw-dp-by-dp.axvw" rel="eTask" data-taskId="... All Departments" data-taskIcon="ab-icon-task.gif">... All Departments</a></li>
                            <li><a href="ab-sp-rm-vw-dp-by-bl.axvw" rel="eTask" data-taskId="--... Building" data-taskIcon="ab-icon-task.gif">... Building</a></li>
                            <li><a href="ab-sp-rm-vw-dp-by-fl.axvw" rel="eTask" data-taskId="--... Floor" data-taskIcon="ab-icon-task.gif">... Floor</a></li>
                            <li><a href="ab-sp-rm-vw-dp-per-fl.axvw" rel="eTask" data-taskId="... Departments per Floor" data-taskIcon="ab-icon-task.gif">... Departments per Floor</a></li>
                        </ol>
                        <li>Highlight Rooms by:</li>
                        <ol class="process-tasks">
                            <li><a href="ab-sp-hl-rm-by-dp-per-fl.axvw" rel="eTask" data-taskId="... Department per Floor" data-taskIcon="ab-icon-task.gif">... Department per Floor</a></li>
                            <li><a href="ab-sp-hl-rm-by-dp.axvw" rel="eTask" data-taskId="--... Department" data-taskIcon="ab-icon-task.gif">... Department</a></li>
                            <li><a href="ab-sp-hl-rm-by-rmstd.axvw" rel="eTask" data-taskId="-... Standard" data-taskIcon="ab-icon-task.gif">... Standard</a></li>
                            <li><a href="ab-sp-hl-rm-by-rmcat-rmtype.axvw" rel="eTask" data-taskId="-... Category and Type" data-taskIcon="ab-icon-task.gif">... Category and Type</a></li>
                        </ol>
                        <li>EXPORT</li>
                        <ol class="process-tasks">
                            <li><a href="ab-sp-vw-rmcat.axvw" rel="eTask" data-taskId="View Room Categories" data-taskIcon="ab-icon-task.gif">View Room Categories</a></li>
                            <li><a href="ab-sp-vw-rmtype.axvw" rel="eTask" data-taskId="View Room Types" data-taskIcon="ab-icon-task.gif">View Room Types</a></li>
                            <li><a href="ab-sp-vw-rmstd.axvw" rel="eTask" data-taskId="View Room Standards" data-taskIcon="ab-icon-task.gif">View Room Standards</a></li>
                        </ol>
                        <li></li>
                        <ol class="process-tasks">
                            <li><a href="ab-sp-vw-rm.axvw" rel="eTask" data-taskId="View Rooms" data-taskIcon="ab-icon-task.gif">View Rooms</a></li>
                        </ol>
                    </ol>                    
                </div>
            </div>
            <div id="bucket_abrplmportfolioadministration_portfolioSummary_h12" class="bucket-process  " data-productId="AbRPLM" data-activityId="AbRPLMPortfolioAdministration" data-processId="Portfolio Summary" data-productTitle="Real Estate Portfolio Management" data-activityTitle="Portfolio Management" data-processTitle="Process Tasks Bucket 2" data-productTitleRaw="Real Estate Portfolio Management" data-activityTitleRaw="Portfolio Management" data-processTitleRaw="Process Tasks Bucket 2" data-subfolder="" data-helpLink="\Subsystems\webc\Content\web_user\port_admin\portfolio_summary.htm"  data-helpSystem="END USER" data-dashboardLayout="" data-dashboardView="" title="Space Allocation process for Department Manager." oncontextmenu="return false;">
                <h2 class="process-title" title="Space Allocation process for Department Manager.">Process Tasks Bucket 2</h2>
                <div class="bucket-wrapper process-bucket" id="wrapper_abrplmportfolioadministration_portfolioSummary_h12" onMouseUp="openTask(this, event);">
                    <ol class="ptask-labels">
                        <li></li>
                        <ol class="process-tasks">
                            <li><a href="ab-rplm-pfadmin-pnav-dashboard-global.axvw" rel="eTask" data-taskId="Global Portfolio Dashboard" data-taskIcon="ab-icon-task.gif">Global Portfolio Dashboard</a></li>
                        </ol>
                        <li></li>
                        <ol class="process-tasks">
                            <li><a href="ab-rplm-pfadmin-add-item-to-portfolio-wizard.axvw" rel="eTask" data-taskId="Add/Edit Wizard" data-taskIcon="ab-icon-task.gif">Add/Edit Wizard</a></li>
                            <li><a href="ab-repm-lsadmin-bl-amenities.axvw" rel="eTask" data-taskId="Add New Amenity to a Building" data-taskIcon="ab-icon-task.gif">Add New Amenity to a Building</a></li>
                            <li><a href="ab-repm-lsadmin-prop-amenities.axvw" rel="eTask" data-taskId="Add New Amenity to a Property" data-taskIcon="ab-icon-task.gif">Add New Amenity to a Property</a></li>
                        </ol>
                        <li></li>
                        <ol class="process-tasks">
                            <li><a href="ab-rplm-pfadmin-portfoliosummary-dashboard.axvw" rel="eTask" data-taskId="Portfolio Summary Dashboard" data-taskIcon="ab-icon-task.gif">Portfolio Summary Dashboard</a></li>
                        </ol>
                        <li></li>
                        <ol class="process-tasks">
                            <li><a href="ab-rplm-pfadmin-investments.axvw" rel="eTask" data-taskId="Portfolio Investments" data-taskIcon="ab-icon-task.gif">Portfolio Investments</a></li>
                            <li><a href="ab-rplm-pfadmin-sales.axvw" rel="eTask" data-taskId="Portfolio Sales" data-taskIcon="ab-icon-task.gif">Portfolio Sales</a></li>
                            <li><a href="ab-rplm-pfadmin-ownership-transactions-report.axvw" rel="eTask" data-taskId="All Ownership Transactions" data-taskIcon="ab-icon-task.gif">All Ownership Transactions</a></li>
                            <li><a href="ab-rplm-pfadmin-props-book-values-report.axvw" rel="eTask" data-taskId="All Properties and their Book Values" data-taskIcon="ab-icon-task.gif">All Properties and their Book Values</a></li>
                            <li><a href="ab-rplm-pfadmin-bldgs-book-values-report.axvw" rel="eTask" data-taskId="All Buildings and their Book Values" data-taskIcon="ab-icon-task.gif">All Buildings and their Book Values</a></li>
                        </ol>
                        <li></li>
                        <ol class="process-tasks">
                            <li><a href="ab-repm-pfadmin-item-by-location.axvw" rel="eTask" data-taskId="Portfolio Items by Location" data-taskIcon="ab-icon-task.gif">Portfolio Items by Location</a></li>
                            <li><a href="ab-repm-pfadmin-ptsum-monthly-capital-trans-by-chart.axvw" rel="eTask" data-taskId="Portfolio Summary Net Capital Cash Flow by Location" data-taskIcon="ab-icon-task.gif">Portfolio Summary Net Capital Cash Flow by Location</a></li>
                        </ol>
                    </ol>                    
                </div>
            </div>
            <div id="bucket_abspaceroominventorybar_backgroundData_h13" class="bucket-process  " data-productId="AbSpace" data-activityId="AbSpaceRoomInventoryBAR" data-processId="Background Data" data-productTitle="Space Planning & Management" data-activityTitle="Space Inventory & Performance" data-processTitle="Process Tasks Bucket 3" data-productTitleRaw="Space Planning & Management" data-activityTitleRaw="Space Inventory & Performance" data-processTitleRaw="Process Tasks Bucket 3" data-subfolder="" data-helpLink="\Subsystems\webc\Content\web_user\space\inventory\background\background.htm"  data-helpSystem="END USER" data-dashboardLayout="" data-dashboardView="" title="Space Chargeback process for Department Manager." oncontextmenu="return false;">
                <h2 class="process-title" title="Space Chargeback process for Department Manager.">Process Tasks Bucket 3</h2>
                <div class="bucket-wrapper process-bucket" id="wrapper_abspaceroominventorybar_backgroundData_h13" onMouseUp="openTask(this, event);">
                    <ol class="ptask-labels">
                        <li></li>
                        <ol class="process-tasks">
                            <li><a href="ab-def-geo-loc.axvw" rel="eTask" data-taskId="Define Geographical Locations" data-taskIcon="ab-icon-task.gif">Define Geographical Locations</a></li>
                            <li><a href="ab-sp-def-loc.axvw" rel="eTask" data-taskId="Define Locations" data-taskIcon="ab-icon-task.gif">Define Locations</a></li>
                            <li><a href="ab-sp-def-org.axvw" rel="eTask" data-taskId="Define Organizations" data-taskIcon="ab-icon-task.gif">Define Organizations</a></li>
                            <li><a href="ab-sp-create-dp-hatch.axvw" rel="eTask" data-taskId="Define Division and Department Highlight Patterns" data-taskIcon="ab-icon-task.gif">Define Division and Department Highlight Patterns</a></li>
                            <li><a href="ab-edit-std-sp-plan-types.axvw" rel="eTask" data-taskId="Edit Standard Space Plan Types" data-taskIcon="ab-icon-task.gif">Edit Standard Space Plan Types</a></li>
                        </ol>
                        <li>EXPORT</li>
                        <ol class="process-tasks">
                            <li><a href="ab-sp-vw-site.axvw" rel="eTask" data-taskId="View Sites" data-taskIcon="ab-icon-task.gif">View Sites</a></li>
                            <li><a href="ab-sp-vw-bl.axvw" rel="eTask" data-taskId="View Buildings" data-taskIcon="ab-icon-task.gif">View Buildings</a></li>
                            <li><a href="ab-sp-vw-fl.axvw" rel="eTask" data-taskId="View Floors" data-taskIcon="ab-icon-task.gif">View Floors</a></li>
                        </ol>
                        <li></li>
                        <ol class="process-tasks">
                            <li><a href="ab-sp-vw-bu.axvw" rel="eTask" data-taskId="View Business Units" data-taskIcon="ab-icon-task.gif">View Business Units</a></li>
                            <li><a href="ab-sp-vw-dv.axvw" rel="eTask" data-taskId="View Divisions" data-taskIcon="ab-icon-task.gif">View Divisions</a></li>
                            <li><a href="ab-sp-vw-dp.axvw" rel="eTask" data-taskId="View Departments" data-taskIcon="ab-icon-task.gif">View Departments</a></li>
                        </ol>
                    </ol>                    
                </div>
            </div>
            <div id="bucket_abspaceroominventorybar_buildingPerformance_h14" class="bucket-process  " data-productId="AbSpace" data-activityId="AbSpaceRoomInventoryBAR" data-processId="Building Performance" data-productTitle="Space Planning & Management" data-activityTitle="Space Inventory & Performance" data-processTitle="Process Tasks Bucket 4" data-productTitleRaw="Space Planning & Management" data-activityTitleRaw="Space Inventory & Performance" data-processTitleRaw="Process Tasks Bucket 4" data-subfolder="" data-helpLink="\Subsystems\webc\Content\web_user\space\inventory\bldg_perform\overview.htm"  data-helpSystem="END USER" data-dashboardLayout="" data-dashboardView="" title="Space Chargeback process for Department Manager." oncontextmenu="return false;">
                <h2 class="process-title" title="Space Chargeback process for Department Manager.">Process Tasks Bucket 4</h2>
                <div class="bucket-wrapper process-bucket" id="wrapper_abspaceroominventorybar_buildingPerformance_h14" onMouseUp="openTask(this, event);">
                    <ol class="ptask-labels">
                        <li>DATA SETUP</li>
                        <ol class="process-tasks">
                            <li><a href="ab-sp-def-loc.axvw" rel="eTask" data-taskId="Define Locations" data-taskIcon="ab-icon-task.gif">Define Locations</a></li>
                            <li><a href="ab-single-job.axvw?ruleId=AbCommonResources-SpaceService-addStandardRoomCategoriesAndTypes" rel="eTask" data-taskId="Add Vertical Penetration and Service Area Room Categories" data-taskIcon="ab-icon-task.gif">Add Vertical Penetration and Service Area Room Categories</a></li>
                            <li><a href="ab-sp-def-rmcat-rmtype.axvw" rel="eTask" data-taskId="Define Room Categories and Types" data-taskIcon="ab-icon-task.gif">Define Room Categories and Types</a></li>
                            <li><a href="ab-sp-express-imp-cat-type.axvw" rel="eTask" data-taskId="Import Room Categories and Types" data-taskIcon="ab-icon-task.gif">Import Room Categories and Types</a></li>
                        </ol>
                        <li>CALCULATIONS</li>
                        <ol class="process-tasks">
                            <li><a href="ab-single-job.axvw?ruleId=AbCommonResources-SpaceService-updateAreaTotals" rel="eTask" data-taskId="Update Area Totals" data-taskIcon="ab-icon-task.gif">Update Area Totals</a></li>
                        </ol>
                        <li>RESULTS</li>
                        <ol class="process-tasks">
                            <li><a href="ab-sp-vw-bl-perf.axvw" rel="eTask" data-taskId="View Building Performance Analysis" data-taskIcon="ab-icon-task.gif">View Building Performance Analysis</a></li>
                        </ol>
                        <li>View Service Area Summary by:</li>
                        <ol class="process-tasks">
                            <li><a href="ab-sp-vw-serv-by-rmtype.axvw" rel="eTask" data-taskId="... Type" data-taskIcon="ab-icon-task.gif">... Type</a></li>
                            <li><a href="ab-sp-vw-serv-by-bl.axvw" rel="eTask" data-taskId="... Building" data-taskIcon="ab-icon-task.gif">... Building</a></li>
                        </ol>
                        <li>View Vertical Penetration Summary by:</li>
                        <ol class="process-tasks">
                            <li><a href="ab-sp-vw-vert-by-rmtype.axvw" rel="eTask" data-taskId="-... Type" data-taskIcon="ab-icon-task.gif">... Type</a></li>
                            <li><a href="ab-sp-vw-vert-by-bl.axvw" rel="eTask" data-taskId="-... Building" data-taskIcon="ab-icon-task.gif">... Building</a></li>
                        </ol>
                        <li></li>
                        <ol class="process-tasks">
                            <li><a href="ab-sp-hl-rm-by-rmcat-rmtype.axvw" rel="eTask" data-taskId="Highlight Rooms by Category and Type" data-taskIcon="ab-icon-task.gif">Highlight Rooms by Category and Type</a></li>
                        </ol>
                    </ol>                    
                </div>
            </div>
	    </div>
    </div>
</div>

<script>
    $(document).ready(function() {
        $('#navigationTabs').find('a').click(function() {return false;});
        initDandDFavorites();
        setPageDimensions();
        bindTaskContextMenu();
        localizeDisplayText();
        localizeFavoritesDisplayText();
        pageTallProcessBuckets();
        constructRuntimeBuckets();
    });
</script>