<div class="nav-pages">
    <div class="page">
	    <div class="page-row half-height" >
            <div id="bucket_abasseteam_bucketEamLifecycle_h0" class="bucket-process  " data-productId="AbAsset" data-activityId="AbAssetEAM" data-processId="Bucket EAM - Lifecycle" data-productTitle="Asset Management" data-activityTitle="Enterprise Asset Management" data-processTitle="Asset Management" data-productTitleRaw="Asset Management" data-activityTitleRaw="Enterprise Asset Management" data-processTitleRaw="Asset Management" data-subfolder="" data-helpLink=""  data-helpSystem="END USER" data-dashboardLayout="" data-dashboardView="" title="" oncontextmenu="return false;">
                <h2 class="process-title" >Asset Management</h2>
                <div class="bucket-wrapper process-bucket" id="wrapper_abasseteam_bucketEamLifecycle_h0" onMouseUp="openTask(this, event);">
                    <ol class="ptask-labels">
                        <li>PROCESS</li>
                        <ol class="process-tasks">
                            <li><a href="ab-eam-receipt-console.axvw" rel="eTask" data-taskId="Asset Registration" data-taskIcon="">Asset Registration</a></li>
                            <li><a href="ab-eq-system-console.axvw" rel="eTask" data-taskId="Asset Systems" data-taskIcon="ab-icon-task.gif">Asset Systems</a></li>
                            <li><a href="ab-eam-lifecycle-console.axvw" rel="eTask" data-taskId="Asset Lifecycle" data-taskIcon="">Asset Lifecycle</a></li>
                            <li><a href="ab-eam-disposal-console.axvw" rel="eTask" data-taskId="Asset Disposal" data-taskIcon="">Asset Disposal</a></li>
                        </ol>
                        <li>OPERATIONS & USE</li>
                        <ol class="process-tasks">
                            <li><a href="ab-sp-console-trans.axvw" rel="eTask" data-taskId="Space Utilization" data-taskIcon="">Space Utilization</a></li>
                            <li><a href="ab-bldgops-console.axvw" rel="eTask" data-taskId="Building Operations" data-taskIcon="">Building Operations</a></li>
                            <li><a href="ab-mo-gp-review.axvw" rel="eTask" data-taskId="Asset Moves" data-taskIcon="">Asset Moves</a></li>
                        </ol>
                    </ol>                    
                </div>
            </div>
            <div id="bucket_abasseteam_bucketEamEnterprise_h1" class="bucket-process  " data-productId="AbAsset" data-activityId="AbAssetEAM" data-processId="Bucket EAM - Enterprise" data-productTitle="Asset Management" data-activityTitle="Enterprise Asset Management" data-processTitle="Enterprise Asset Management" data-productTitleRaw="Asset Management" data-activityTitleRaw="Enterprise Asset Management" data-processTitleRaw="Enterprise Asset Management" data-subfolder="" data-helpLink=""  data-helpSystem="END USER" data-dashboardLayout="" data-dashboardView="" title="" oncontextmenu="return false;">
                <h2 class="process-title" >Enterprise Asset Management</h2>
                <div class="bucket-wrapper process-bucket" id="wrapper_abasseteam_bucketEamEnterprise_h1" onMouseUp="openTask(this, event);">
                    <ol class="ptask-labels">
                        <li>PORTFOLIO PERFORMANCE</li>
                        <ol class="process-tasks">
                            <li><a href="ab-eam-lifecycle-console.axvw" rel="eTask" data-taskId="Financial Asset Management" data-taskIcon="">Financial Asset Management</a></li>
                            <li><a href="ab-eam-cpt-proj-console.axvw" rel="eTask" data-taskId="Capital Projects" data-taskIcon="">Capital Projects</a></li>
                            <li><a href="ab-alloc-wiz.axvw" rel="eTask" data-taskId="Portfolio Planning" data-taskIcon="">Portfolio Planning</a></li>
                            <li><a href="ab-rplm-pfadmin-pnav-dashboard-global.axvw" rel="eTask" data-taskId="Real Estate" data-taskIcon="">Real Estate</a></li>
                        </ol>
                        <li>BUSINESS MANAGER</li>
                        <ol class="process-tasks">
                            <li><a href="ab-eam-cpt-proj-console.axvw" rel="eTask" data-taskId="Proposals" data-taskIcon="">Proposals</a></li>
                            <li><a href="ab-proj-mng.axvw" rel="eTask" data-taskId="Projects" data-taskIcon="">Projects</a></li>
                        </ol>
                    </ol>                    
                </div>
            </div>
            <div id="bucket_abasseteam_bucketEamMobile_h2" class="bucket-process bucket-background-medium " data-productId="AbAsset" data-activityId="AbAssetEAM" data-processId="Bucket EAM - Mobile" data-productTitle="Asset Management" data-activityTitle="Enterprise Asset Management" data-processTitle="Mobile Asset Management" data-productTitleRaw="Asset Management" data-activityTitleRaw="Enterprise Asset Management" data-processTitleRaw="Mobile Asset Management" data-subfolder="" data-helpLink=""  data-helpSystem="END USER" data-dashboardLayout="" data-dashboardView="" title="" oncontextmenu="return false;">
                <h2 class="process-title" >Mobile Asset Management</h2>
                <div class="bucket-wrapper process-bucket" id="wrapper_abasseteam_bucketEamMobile_h2" onMouseUp="openTask(this, event);">
                    <ol class="ptask-labels">
                        <li></li>
                        <ol class="process-tasks">
                            <li><a href="ab-eq-survey-console.axvw" rel="eTask" data-taskId="Asset Surveys" data-taskIcon="">Asset Surveys</a></li>
                            <li><a href="ab-ca-my-ca-itms.axvw" rel="eTask" data-taskId="Commissioning, Conditions & Sustainability" data-taskIcon="">Commissioning, Conditions & Sustainability</a></li>
                            <li><a href="ab-questionnaire-assessment-edit.axvw" rel="eTask" data-taskId="Assessment Criteria" data-taskIcon="">Assessment Criteria</a></li>
                            <li><a href="ab-questionnaire-map-edit.axvw" rel="eTask" data-taskId="Criteria to Survey Mapping" data-taskIcon="">Criteria to Survey Mapping</a></li>
                        </ol>
                    </ol>                    
                </div>
            </div>
            <div id="bucket_abasseteam_bucketEamErpIntegration_h3" class="bucket-process  " data-productId="AbAsset" data-activityId="AbAssetEAM" data-processId="Bucket EAM - ERP Integration" data-productTitle="Asset Management" data-activityTitle="Enterprise Asset Management" data-processTitle="ERP Integration" data-productTitleRaw="Asset Management" data-activityTitleRaw="Enterprise Asset Management" data-processTitleRaw="ERP Integration" data-subfolder="" data-helpLink=""  data-helpSystem="END USER" data-dashboardLayout="" data-dashboardView="" title="" oncontextmenu="return false;">
                <h2 class="process-title" >ERP Integration</h2>
                <div class="bucket-wrapper process-bucket" id="wrapper_abasseteam_bucketEamErpIntegration_h3" onMouseUp="openTask(this, event);">
                    <ol class="ptask-labels">
                        <li>ERP</li>
                        <ol class="process-tasks">
                            <li><a href="ab-eam-reconcile-console.axvw" rel="eTask" data-taskId="Reconcile Enterprise Assets" data-taskIcon="">Reconcile Enterprise Assets</a></li>
                        </ol>
                        <li>IT</li>
                        <ol class="process-tasks">
                            <li><a href="ab-eam-telecom-console.axvw" rel="eTask" data-taskId="Inventory & Connections" data-taskIcon="">Inventory & Connections</a></li>
                            <li><a href="ab-eam-lifecycle-console.axvw" rel="eTask" data-taskId="Finance & Operations (ITAM)" data-taskIcon="">Finance & Operations (ITAM)</a></li>
                            <li><a href="ab-eam-disposal-console.axvw" rel="eTask" data-taskId="Asset Disposal (ITAD)" data-taskIcon="">Asset Disposal (ITAD)</a></li>
                        </ol>
                    </ol>                    
                </div>
            </div>
	    </div>
	    <div class="page-row three-quarter-height" >
            <div id="bucket_performanceMetrics_h4" class="bucket-process  double-wide" data-panelTitle="Performance Metrics" data-panelTitleRaw="Performance Metrics" oncontextmenu="return false;">
                <h2 class="process-title" title="Performance metrics monitoring the efficiency of your asset base.">Performance Metrics</h2>
                <div class="bucket-wrapper app-specific-bucket" id="wrapper_performanceMetrics_h4">
                    <div class="processMetrics"
                        columnSpan="2"
                        granularity="all"
                        useStoplightColors="true"
                        granularitytitle="All"
                        scorecard="ASSET_METRICS"
                    >
                    </div>
                </div>
            </div>
            <div id="bucket_assetUtilizationMap_h5" class="bucket-process  double-wide" data-panelTitle="Asset Utilization Map" data-panelTitleRaw="Asset Utilization Map" oncontextmenu="return false;">
                <h2 class="process-title" title="Themed map of asset utilization by building.">Asset Utilization Map</h2>
                <div class="bucket-wrapper app-specific-bucket" id="wrapper_assetUtilizationMap_h5">
                    <div class="pgnav-map"
                        columnSpan="2"
                        metricName="eam_equipment_utilization_percent_annually"
                        markerRadius="5"
                        granularity="bl_id"
                        basemapLayer="Streets"
                        useStoplightColors="true"
                        granularitytitle="by Building"
                        granularityLocation="bl"
                        mapImplementation="ESRI"
                    >
                    </div>
                </div>
            </div>
	    </div>
        <div class="page-break-banner ui-widget-header bucket-background-medium" data-blockTitle="IN DEPTH" data-blockTitleRaw="IN DEPTH">
            <div class="page-break-archibus">
                <div class="page-break-logo"></div><span>IN DEPTH</span>
            </div>
            <a class="page-top-link" onClick="goToTop();"></a>
        </div>
        <br/>
	    <div class="page-row half-height" >
            <div id="bucket_measuresAndAlerts_h6" class="bucket-process  " data-panelTitle="Measures and Alerts" data-panelTitleRaw="Measures and Alerts" oncontextmenu="return false;">
                <h2 class="process-title" title="Time-sensitive tasks, reports and requests.">Measures and Alerts</h2>
                <div class="bucket-wrapper app-specific-bucket" id="wrapper_measuresAndAlerts_h6">
                    <div class="alertsList"
                        granularity="all"
                        granularitytitle="All"
                        scorecard="ASSET_ALERTS"
                    >
                    </div>
                </div>
            </div>
            <div id="bucket_assetBookValue_h7" class="bucket-process  " data-panelTitle="Asset Book Value" data-panelTitleRaw="Asset Book Value" oncontextmenu="return false;">
                <h2 class="process-title" title="Asset book values">Asset Book Value</h2>
                <div class="bucket-wrapper app-specific-bucket" id="wrapper_assetBookValue_h7">
                    <div class="horizontalBarChart"
                        dataSourceId="abEamAssetDepeciate_ds"
                        viewName="ab-eam-asset-depreciate.axvw"
                        abbreviateValues="true"
                        subtitle="Top 5"
                        valueField="bl.cost_dep_value"
                        recordLimit="5"
                        labelField="bl.asset_id"
                    >
                    </div>
                </div>
            </div>
            <div id="bucket_equipmentUtilization_h8" class="bucket-process  " data-panelTitle="Equipment Utilization" data-panelTitleRaw="Equipment Utilization" oncontextmenu="return false;">
                <h2 class="process-title" title="Equipment Utilization">Equipment Utilization</h2>
                <div class="bucket-wrapper app-specific-bucket" id="wrapper_equipmentUtilization_h8">
                    <div class="horizontalBarChart"
                        metricName="eam_equipment_utilization_percent_annually"
                        granularity="eq_id"
                        sortOrder="desc"
                        subtitle="Top 5"
                        useStoplightColors="false"
                        granularitytitle="by Equipment"
                        recordLimit="5"
                    >
                    </div>
                </div>
            </div>
            <div id="bucket_returnOnNetAssets_h9" class="bucket-process  " data-panelTitle="Return on Net Assets" data-panelTitleRaw="Return on Net Assets" oncontextmenu="return false;">
                <h2 class="process-title" title="Return on Net Assets">Return on Net Assets</h2>
                <div class="bucket-wrapper app-specific-bucket" id="wrapper_returnOnNetAssets_h9">
                    <div class="horizontalBarChart"
                        metricName="eam_rona_all_monthly"
                        granularity="dv_id"
                        sortOrder="desc"
                        subtitle="Top 5 by Division"
                        useStoplightColors="false"
                        granularitytitle="by Division"
                        recordLimit="5"
                    >
                    </div>
                </div>
            </div>
	    </div>
	    <div class="page-row half-height" >
            <div id="bucket_facilityConditionIndex_h10" class="bucket-process  " data-panelTitle="Facility Condition Index" data-panelTitleRaw="Facility Condition Index" oncontextmenu="return false;">
                <h2 class="process-title" title="Facility Condition Index">Facility Condition Index</h2>
                <div class="bucket-wrapper app-specific-bucket" id="wrapper_facilityConditionIndex_h10">
                    <div class="horizontalBarChart"
                        metricName="ops_FacilityConditionIndex_percent_monthly"
                        granularity="bl_id"
                        sortOrder="desc"
                        subtitle="Bottom 5 by Building"
                        useStoplightColors="false"
                        granularitytitle="by Building"
                        recordLimit="5"
                    >
                    </div>
                </div>
            </div>
            <div id="bucket_vacanciesByBuildingTop5_h11" class="bucket-process  " data-panelTitle="Vacancies by Building (Top 5)" data-panelTitleRaw="Vacancies by Building (Top 5)" oncontextmenu="return false;">
                <h2 class="process-title" title="Buildings with the most vacant rooms.">Vacancies by Building (Top 5)</h2>
                <div class="bucket-wrapper app-specific-bucket" id="wrapper_vacanciesByBuildingTop5_h11">
                    <div class="horizontalBarChart"
                        metricName="spac_VacantRooms_count_monthly"
                        granularity="bl_id"
                        abbreviateValues="false"
                        sortOrder="desc"
                        subtitle="Vacancies by Building (Top 5)"
                        useStoplightColors="false"
                        granularitytitle="by Building"
                        recordLimit="5"
                    >
                    </div>
                </div>
            </div>
            <div id="bucket_capitalProjectsPipeline_h12" class="bucket-process bucket-background-medium " data-panelTitle="Capital Projects Pipeline" data-panelTitleRaw="Capital Projects Pipeline " oncontextmenu="return false;">
                <h2 class="process-title" title="">Capital Projects Pipeline</h2>
                <div class="bucket-wrapper app-specific-bucket" id="wrapper_capitalProjectsPipeline_h12">
                    <div class="horizontalBarChart"
                        dataSourceId="abProjGroupByStatus_ds"
                        viewName="ab-eam-cpt-proj-pipeline.axvw"
                        abbreviateValues="true"
                        subtitle="Top 5 Value by Status"
                        valueField="project.total_cost"
                        recordLimit="5"
                        labelField="project.status"
                    >
                    </div>
                </div>
            </div>
            <div id="bucket_assessedHazards_h13" class="bucket-process  " data-panelTitle="Assessed Hazards" data-panelTitleRaw="Assessed Hazards" oncontextmenu="return false;">
                <h2 class="process-title" title="Hazard Assessment Count">Assessed Hazards</h2>
                <div class="bucket-wrapper app-specific-bucket" id="wrapper_assessedHazards_h13">
                    <div class="horizontalBarChart"
                        dataSourceId="ehs_HazardAssessments-Hazardous"
                        viewName="ab-env-ehs-top5-barchart-datasource.axvw"
                        abbreviateValues="true"
                        subtitle="Top 5 by Building"
                        valueField="activity_log.num_hazard"
                        recordLimit="5"
                        labelField="activity_log.bl_id"
                    >
                    </div>
                </div>
            </div>
	    </div>
    </div>
</div>

<script>
    $(document).ready(function() {
        $('#navigationTabs').find('a').click(function() {return false;});
        initDandDFavorites();
        setPageDimensions();
        bindTaskContextMenu();
        localizeDisplayText();
        localizeFavoritesDisplayText();
        pageTallProcessBuckets();
        constructRuntimeBuckets();
    });
</script>