<div class="nav-pages">
    <div class="page">
	    <div class="page-row three-quarter-height" >
            <div id="bucket_integratedFacilitiesMetrics_h0" class="bucket-process  double-wide" data-panelTitle="Integrated Facilities Metrics" data-panelTitleRaw="Integrated Facilities Metrics" oncontextmenu="return false;">
                <h2 class="process-title" title="Performance metrics monitoring the processes under your department's purview.">Integrated Facilities Metrics</h2>
                <div class="bucket-wrapper app-specific-bucket" id="wrapper_integratedFacilitiesMetrics_h0">
                    <div class="processMetrics"
                        columnSpan="2"
                        granularity="all"
                        useStoplightColors="true"
                        granularitytitle="All"
                        scorecard="FACILITIES_PROCESSES"
                    >
                    </div>
                </div>
            </div>
            <div id="bucket_environmentalAlerts_h1" class="bucket-process bucket-background-medium-green " data-panelTitle="Environmental Alerts" data-panelTitleRaw="Environmental Alerts" oncontextmenu="return false;">
                <h2 class="process-title" title="Time-sensitive tasks, reports and requests.">Environmental Alerts</h2>
                <div class="bucket-wrapper app-specific-bucket" id="wrapper_environmentalAlerts_h1">
                    <div class="alertsList"
                        granularity="all"
                        granularitytitle="All"
                        scorecard="ENVIRONMENT_ALERTS"
                    >
                    </div>
                </div>
            </div>
            <div id="bucket_facilityAlerts_h2" class="bucket-process bucket-background-light-purple " data-panelTitle="Facility Alerts" data-panelTitleRaw="Facility Alerts" oncontextmenu="return false;">
                <h2 class="process-title" title="Time-sensitive tasks, reports and requests.">Facility Alerts</h2>
                <div class="bucket-wrapper app-specific-bucket" id="wrapper_facilityAlerts_h2">
                    <div class="alertsList"
                        granularity="all"
                        granularitytitle="All"
                        scorecard="FACILITIES_ALERTS"
                    >
                    </div>
                </div>
            </div>
	    </div>
	    <div class="page-row half-height" >
            <div id="bucket_problemTypesLastMonthTop5_h3" class="bucket-process bucket-background-medium " data-panelTitle="Problem Types Last Month (Top 5)" data-panelTitleRaw="Problem Types Last Month (Top 5)" oncontextmenu="return false;">
                <h2 class="process-title" title="Most frequently reported problems.">Problem Types Last Month (Top 5)</h2>
                <div class="bucket-wrapper app-specific-bucket" id="wrapper_problemTypesLastMonthTop5_h3">
                    <div class="horizontalBarChart"
                        metricName="ops_WorkRequested_monthly"
                        granularity="prob_type"
                        abbreviateValues="false"
                        sortOrder="desc"
                        useStoplightColors="false"
                        granularitytitle="by Problem Type"
                        recordLimit="5"
                    >
                    </div>
                </div>
            </div>
            <div id="bucket_vacanciesByDepartmentTop5_h4" class="bucket-process bucket-background-medium " data-panelTitle="Vacancies by Department (Top 5)" data-panelTitleRaw="Vacancies by Department (Top 5)" oncontextmenu="return false;">
                <h2 class="process-title" title="Departments with the most vacant rooms.">Vacancies by Department (Top 5)</h2>
                <div class="bucket-wrapper app-specific-bucket" id="wrapper_vacanciesByDepartmentTop5_h4">
                    <div class="horizontalBarChart"
                        metricName="spac_VacantRooms_count_monthly"
                        granularity="dv_id;dp_id"
                        abbreviateValues="false"
                        sortOrder="desc"
                        useStoplightColors="false"
                        granularitytitle="by Department"
                        recordLimit="5"
                    >
                    </div>
                </div>
            </div>
            <div id="bucket_bestSustainabilityRatings_h5" class="bucket-process bucket-background-medium-green " data-panelTitle="Best Sustainability Ratings" data-panelTitleRaw="Best Sustainability Ratings" oncontextmenu="return false;">
                <h2 class="process-title" title="Avg. Sustainability Rating">Best Sustainability Ratings</h2>
                <div class="bucket-wrapper app-specific-bucket" id="wrapper_bestSustainabilityRatings_h5">
                    <div class="horizontalBarChart"
                        dataSourceId="env_AssessmentsSustainabilityRatingAvg"
                        viewName="ab-env-ehs-top5-barchart-datasource.axvw"
                        abbreviateValues="true"
                        subtitle="Top 5 by Building"
                        valueField="activity_log.avg_cond_rating"
                        recordLimit="5"
                        labelField="activity_log.bl_id"
                    >
                    </div>
                </div>
            </div>
            <div id="bucket_abspaceroominventorybar_bucketExec2Facility_h6" class="bucket-process bucket-background-light-purple " data-productId="AbSpace" data-activityId="AbSpaceRoomInventoryBAR" data-processId="Bucket Exec 2 - Facility" data-productTitle="Space Planning & Management" data-activityTitle="Space Inventory & Performance" data-processTitle="Facility Summary" data-productTitleRaw="Space Planning & Management" data-activityTitleRaw="Space Inventory & Performance" data-processTitleRaw="Facility Summary" data-subfolder="" data-helpLink=""  data-helpSystem="END USER" data-dashboardLayout="" data-dashboardView="" title="" oncontextmenu="return false;">
                <h2 class="process-title" >Facility Summary</h2>
                <div class="bucket-wrapper process-bucket" id="wrapper_abspaceroominventorybar_bucketExec2Facility_h6" onMouseUp="openTask(this, event);">
                    <ol class="ptask-labels">
                        <li></li>
                        <ol class="process-tasks">
                            <li><a href="ab-mobile-exec-pagenav-space-summary.axvw" rel="eTask" data-taskId="Spaces" data-taskIcon="ab-icon-task.gif">Spaces</a></li>
                            <li><a href="ab-mobile-exec-pagenav-work-summary.axvw" rel="eTask" data-taskId="Work" data-taskIcon="ab-icon-task.gif">Work</a></li>
                            <li><a href="ab-mobile-exec-pagenav-asset-summary.axvw" rel="eTask" data-taskId="Assets" data-taskIcon="ab-icon-task.gif">Assets</a></li>
                            <li><a href="ab-mobile-exec-pagenav-move-summary.axvw" rel="eTask" data-taskId="Moves" data-taskIcon="ab-icon-task.gif">Moves</a></li>
                            <li><a href="ab-mobile-exec-pagenav-energy-summary.axvw" rel="eTask" data-taskId="Energy" data-taskIcon="ab-icon-task.gif">Energy</a></li>
                        </ol>
                    </ol>                    
                </div>
            </div>
	    </div>
	    <div class="page-row half-height" >
            <div id="bucket_highestScoringProjects_h7" class="bucket-process bucket-background-medium " data-panelTitle="Highest Scoring Projects" data-panelTitleRaw="Highest Scoring Projects" oncontextmenu="return false;">
                <h2 class="process-title" title="Project payback period in years by Building-Project-Cert. Std.">Highest Scoring Projects</h2>
                <div class="bucket-wrapper app-specific-bucket" id="wrapper_highestScoringProjects_h7">
                    <div class="horizontalBarChart"
                        dataSourceId="risk_CertPaybackPeriodByBuilding"
                        viewName="ab-env-ehs-top5-barchart-datasource.axvw"
                        abbreviateValues="true"
                        subtitle="Top 5 By Payback Period"
                        valueField="gb_cert_proj.paybackPeriod"
                        recordLimit="5"
                        labelField="gb_cert_proj.groupBy"
                    >
                    </div>
                </div>
            </div>
            <div id="bucket_assessedHazards_h8" class="bucket-process bucket-background-medium " data-panelTitle="Assessed Hazards" data-panelTitleRaw="Assessed Hazards" oncontextmenu="return false;">
                <h2 class="process-title" title="Hazard Assessment Count">Assessed Hazards</h2>
                <div class="bucket-wrapper app-specific-bucket" id="wrapper_assessedHazards_h8">
                    <div class="horizontalBarChart"
                        dataSourceId="ehs_HazardAssessments-Hazardous"
                        viewName="ab-env-ehs-top5-barchart-datasource.axvw"
                        abbreviateValues="true"
                        subtitle="Top 5 by Building"
                        valueField="activity_log.num_hazard"
                        recordLimit="5"
                        labelField="activity_log.bl_id"
                    >
                    </div>
                </div>
            </div>
            <div id="bucket_complianceViolationExpenses_h9" class="bucket-process bucket-background-medium-green " data-panelTitle="Compliance Violation Expenses" data-panelTitleRaw="Compliance Violation Expenses" oncontextmenu="return false;">
                <h2 class="process-title" title="Total expenses for the past year.">Compliance Violation Expenses</h2>
                <div class="bucket-wrapper app-specific-bucket" id="wrapper_complianceViolationExpenses_h9">
                    <div class="horizontalBarChart"
                        dataSourceId="risk_ComplianceViolations"
                        viewName="ab-env-ehs-top5-barchart-datasource.axvw"
                        abbreviateValues="true"
                        subtitle="Top 5 by Regulation"
                        valueField="regviolation.sum_cost_total"
                        recordLimit="5"
                        labelField="regviolation.regulation"
                    >
                    </div>
                </div>
            </div>
            <div id="bucket_operatingExpenseTop5_h10" class="bucket-process bucket-background-light-purple " data-panelTitle="Operating Expense (Top 5)" data-panelTitleRaw="Operating Expense (Top 5)" oncontextmenu="return false;">
                <h2 class="process-title" title="">Operating Expense (Top 5)</h2>
                <div class="bucket-wrapper app-specific-bucket" id="wrapper_operatingExpenseTop5_h10">
                    <div class="horizontalBarChart"
                        metricName="fin_RealEstateOpEx_monthly"
                        granularity="bl_id"
                        sortOrder="desc"
                        useStoplightColors="true"
                        granularitytitle="by Building"
                        recordLimit="5"
                    >
                    </div>
                </div>
            </div>
	    </div>
    </div>
</div>

<script>
    $(document).ready(function() {
        $('#navigationTabs').find('a').click(function() {return false;});
        initDandDFavorites();
        setPageDimensions();
        bindTaskContextMenu();
        localizeDisplayText();
        localizeFavoritesDisplayText();
        pageTallProcessBuckets();
        constructRuntimeBuckets();
    });
</script>