<div class="nav-pages" id="EmergencyPreparedness">
    <div class="page">
        <div class="page-row full-height" >
            <h3 class="application-title" data-activityId="AbRiskEmergencyPreparedness">Emergency Preparedness</h3>
            <hr class="application-horizontal-rule">
            <div id="appProcFavoritesBucket" class="bucket-application bucket-background-light " data-activityId="" data-processId="" oncontextmenu="return false;">
                <h2 class="applications-process-title" data-processId="" title="Most often used tasks and reports.">My Favorites</h2>
                <div class="bucket-wrapper" id="wrapper_6efea27d-c546-44f6-9aac-578ae68e97df">
                    <div class="favorites-drop-target">
                        <span class="favorites-add-target"></span>
                        <span class="favorites-delete-target">&nbsp;</span>
                    </div>
                    <div class="favorites" onMouseUp="openPtask(this,event);">
                        <ol class="favorites-items">
                        </ol>
                    </div>
                </div>
            </div>
            <div class="bucket-application " data-productId="AbRisk" data-activityId="AbRiskEmergencyPreparedness" data-processId="Business Process Owner" data-productTitle="Environmental & Risk Management" data-activityTitle="Emergency Preparedness" data-processTitle="Business Process Owner" data-subfolder="\ab-products\space\emergency-preparedness" data-helpLink="\Subsystems\webc\Content\emerg_prep\bpo\overview.htm" data-helpSystem="END USER" data-dashboardLayout="" data-dashboardView="" title="" oncontextmenu="return false;" onMouseUp="openPtask(this,event);">
                <h2 class="applications-process-title" title="">
                    <span class="process-title-text">Business Process Owner</span>
                </h2>
                <div class="bucket-wrapper" id="wrapper_abriskemergencypreparedness_businessProcessOwner">
                        <ol class="ptask-labels">
                            <li></li>
                            <ol class="process-tasks">
                                <li><a href="ab-def-geo-loc.axvw" rel="pTask" data-taskId="Define Geographical Locations" data-taskIcon="ab-icon-task.gif">Define Geographical Locations</a></li>
                                <li><a href="ab-sp-def-loc.axvw" rel="pTask" data-taskId="Define Locations" data-taskIcon="ab-icon-task.gif">Define Locations</a></li>
                                <li><a href="ab-sp-def-org.axvw" rel="pTask" data-taskId="Define Organizations" data-taskIcon="ab-icon-task.gif">Define Organizations</a></li>
                                <li><a href="ab-rplm-companies-define.axvw" rel="pTask" data-taskId="Define Companies" data-taskIcon="ab-icon-task.gif">Define Companies</a></li>
                            </ol>
                            <li class="empty-taskgroup-title">&nbsp;</li>
                            <ol class="process-tasks">
                                <li><a href="ab-ep-def-system-types.axvw" rel="pTask" data-taskId="Define System Types" data-taskIcon="ab-icon-task.gif">Define System Types</a></li>
                                <li><a href="ab-ep-def-systems.axvw" rel="pTask" data-taskId="Define Systems" data-taskIcon="ab-icon-task.gif">Define Systems</a></li>
                                <li><a href="ab-ep-def-system-dependencies.axvw" rel="pTask" data-taskId="Define Systems Dependencies" data-taskIcon="ab-icon-task.gif">Define Systems Dependencies</a></li>
                            </ol>
                            <li class="empty-taskgroup-title">&nbsp;</li>
                            <ol class="process-tasks">
                                <li><a href="ab-ep-def-contacts.axvw" rel="pTask" data-taskId="Define Contacts" data-taskIcon="ab-icon-task.gif">Define Contacts</a></li>
                                <li><a href="ab-vn-def.axvw" rel="pTask" data-taskId="Define Vendors" data-taskIcon="ab-icon-task.gif">Define Vendors</a></li>
                                <li><a href="ab-ep-def-em-emrgncy-contact.axvw" rel="pTask" data-taskId="Define Employee Emergency Information" data-taskIcon="ab-icon-task.gif">Define Employee Emergency Information</a></li>
                            </ol>
                            <li class="empty-taskgroup-title">&nbsp;</li>
                            <ol class="process-tasks">
                                <li><a href="ab-ep-def-emergency-contacts.axvw" rel="pTask" data-taskId="Define Emergency Contacts" data-taskIcon="ab-icon-task.gif">Define Emergency Contacts</a></li>
                                <li><a href="ab-ep-def-escalation-contacts.axvw" rel="pTask" data-taskId="Define Escalation Contacts" data-taskIcon="ab-icon-task.gif">Define Escalation Contacts</a></li>
                                <li><a href="ab-ep-def-recovery-team.axvw" rel="pTask" data-taskId="Define Recovery Team" data-taskIcon="ab-icon-task.gif">Define Recovery Team</a></li>
                            </ol>
                            <li class="empty-taskgroup-title">&nbsp;</li>
                            <ol class="process-tasks">
                                <li><a href="ab-doc-def-folder.axvw" rel="pTask" data-taskId="Define Document Library Folders" data-taskIcon="ab-icon-task.gif">Define Document Library Folders</a></li>
                                <li><a href="ab-doc-def-cat-type.axvw" rel="pTask" data-taskId="Define Document Categories and Types" data-taskIcon="ab-icon-task.gif">Define Document Categories and Types</a></li>
                            </ol>
                        </ol>
                </div>
            </div>
            <div class="bucket-application " data-productId="AbRisk" data-activityId="AbRiskEmergencyPreparedness" data-processId="First Responders" data-productTitle="Environmental & Risk Management" data-activityTitle="Emergency Preparedness" data-processTitle="First Responders" data-subfolder="\ab-products\space\emergency-preparedness" data-helpLink="\Subsystems\webc\Content\emerg_prep\first_resp\overview.htm" data-helpSystem="END USER" data-dashboardLayout="" data-dashboardView="" title="Access egress and hazardous materials plans by building and floor.   Use the console to review smoke, alarm, security, and emergency lighting zones." oncontextmenu="return false;" onMouseUp="openPtask(this,event);">
                <h2 class="applications-process-title" title="Access egress and hazardous materials plans by building and floor.   Use the console to review smoke, alarm, security, and emergency lighting zones.">
                    <span class="process-title-text">First Responders</span>
                </h2>
                <div class="bucket-wrapper" id="wrapper_abriskemergencypreparedness_firstResponders">
                        <ol class="ptask-labels">
                            <li>Egress and Occupants</li>
                            <ol class="process-tasks">
                                <li><a href="ab-egress-occ-plans.axvw" rel="pTask" data-taskId="View Egress and Occupancy Plans" data-taskIcon="ab-icon-task.gif">View Egress and Occupancy Plans</a></li>
                            </ol>
                            <li>Zones</li>
                            <ol class="process-tasks">
                                <li><a href="ab-systems-and-zones-highlt.axvw" rel="pTask" data-taskId="Highlight Zones" data-taskIcon="ab-icon-task.gif">Highlight Zones</a></li>
                            </ol>
                            <li>Hazards</li>
                            <ol class="process-tasks">
                                <li><a href="ab-haz-overview-hl-fl.axvw" rel="pTask" data-taskId="Highlight Hazard Overview" data-taskIcon="ab-icon-task.gif">Highlight Hazard Overview</a></li>
                                <li><a href="ab-hazmat-plans.axvw" rel="pTask" data-taskId="Highlight Facility Hazards" data-taskIcon="ab-icon-task.gif">Highlight Facility Hazards</a></li>
                                <li><a href="ab-haz-assesment-hl-fl.axvw" rel="pTask" data-taskId="Highlight Hazard Assessments" data-taskIcon="ab-icon-task.gif">Highlight Hazard Assessments</a></li>
                                <li><a href="ab-haz-chem-hl-fl.axvw" rel="pTask" data-taskId="Highlight Hazardous Materials" data-taskIcon="ab-icon-task.gif">Highlight Hazardous Materials</a></li>
                                <li><a href="ab-haz-waste-hl-fl.axvw" rel="pTask" data-taskId="Highlight Hazardous Waste" data-taskIcon="ab-icon-task.gif">Highlight Hazardous Waste</a></li>
                            </ol>
                        </ol>
                </div>
            </div>
            <div class="bucket-application " data-productId="AbRisk" data-activityId="AbRiskEmergencyPreparedness" data-processId="Staff" data-productTitle="Environmental & Risk Management" data-activityTitle="Emergency Preparedness" data-processTitle="Staff" data-subfolder="\ab-products\space\emergency-preparedness" data-helpLink="\Subsystems\webc\Content\emerg_prep\staff\overview.htm" data-helpSystem="END USER" data-dashboardLayout="" data-dashboardView="" title="Review advisory bulletins on facility closures, alternate work locations, and emergency procedures." oncontextmenu="return false;" onMouseUp="openPtask(this,event);">
                <h2 class="applications-process-title" title="Review advisory bulletins on facility closures, alternate work locations, and emergency procedures.">
                    <span class="process-title-text">Staff</span>
                </h2>
                <div class="bucket-wrapper" id="wrapper_abriskemergencypreparedness_staff">
                        <ol class="ptask-labels">
                            <li>Egress and Occupants</li>
                            <ol class="process-tasks">
                                <li><a href="ab-egress-occ-plans.axvw" rel="pTask" data-taskId="View Egress and Occupancy Plans" data-taskIcon="ab-icon-task.gif">View Egress and Occupancy Plans</a></li>
                            </ol>
                            <li>Notifications</li>
                            <ol class="process-tasks">
                                <li><a href="ab-advisory-bulletin-em.axvw" rel="pTask" data-taskId="View Advisory Bulletin for Employees" data-taskIcon="ab-icon-task.gif">View Advisory Bulletin for Employees</a></li>
                            </ol>
                        </ol>
                </div>
            </div>
            <div class="bucket-application " data-productId="AbRisk" data-activityId="AbRiskEmergencyPreparedness" data-processId="Emergency Response Team" data-productTitle="Environmental & Risk Management" data-activityTitle="Emergency Preparedness" data-processTitle="Emergency Response and Recovery Teams" data-subfolder="\ab-products\space\emergency-preparedness" data-helpLink="\Subsystems\webc\Content\emerg_prep\response_team\overview.htm" data-helpSystem="END USER" data-dashboardLayout="" data-dashboardView="" title="Access emergency contacts for the facility.   Locate and record the status of your assigned staff.   Review occupancy information to double-check staff lists for each portion of the building.  Access employee emergency contact information." oncontextmenu="return false;" onMouseUp="openPtask(this,event);">
                <h2 class="applications-process-title" title="Access emergency contacts for the facility.   Locate and record the status of your assigned staff.   Review occupancy information to double-check staff lists for each portion of the building.  Access employee emergency contact information.">
                    <span class="process-title-text">Emergency Response and Recovery Teams</span>
                </h2>
                <div class="bucket-wrapper" id="wrapper_abriskemergencypreparedness_emergencyResponseTeam">
                        <ol class="ptask-labels">
                            <li>Egress and Occupants</li>
                            <ol class="process-tasks">
                                <li><a href="ab-egress-occ-plans.axvw" rel="pTask" data-taskId="View Egress and Occupancy Plans" data-taskIcon="ab-icon-task.gif">View Egress and Occupancy Plans</a></li>
                                <li><a href="ab-em-emergency-info.axvw" rel="pTask" data-taskId="View Employees and their Emergency Information" data-taskIcon="ab-icon-task.gif">View Employees and their Emergency Information</a></li>
                                <li><a href="ab-em-emergency-infoxfl.axvw" rel="pTask" data-taskId="View Employees and their Emergency Information by Floor" data-taskIcon="ab-icon-task.gif">View Employees and their Emergency Information by Floor</a></li>
                                <li><a href="ab-emxrm.axvw" rel="pTask" data-taskId="View Employees by Room" data-taskIcon="ab-icon-task.gif">View Employees by Room</a></li>
                                <li><a href="ab-sp-loc-em.axvw" rel="pTask" data-taskId="Locate Staff Member" data-taskIcon="ab-icon-task.gif">Locate Staff Member</a></li>
                            </ol>
                            <li>Contacts</li>
                            <ol class="process-tasks">
                                <li><a href="ab-em-contacts.axvw" rel="pTask" data-taskId="View Emergency Contacts" data-taskIcon="ab-icon-task.gif">View Emergency Contacts</a></li>
                                <li><a href="ab-em-contactsxbl.axvw" rel="pTask" data-taskId="View Emergency Contacts by Building" data-taskIcon="ab-icon-task.gif">View Emergency Contacts by Building</a></li>
                                <li><a href="ab-em-escalation-contacts.axvw" rel="pTask" data-taskId="View Recovery Team Escalation Contacts" data-taskIcon="ab-icon-task.gif">View Recovery Team Escalation Contacts</a></li>
                                <li><a href="ab-ep-def-recovery-team-call-list.axvw" rel="pTask" data-taskId="View Recovery Team Call List" data-taskIcon="ab-icon-task.gif">View Recovery Team Call List</a></li>
                            </ol>
                            <li>Zones</li>
                            <ol class="process-tasks">
                                <li><a href="ab-systems-and-zones-highlt.axvw" rel="pTask" data-taskId="Highlight Zones" data-taskIcon="ab-icon-task.gif">Highlight Zones</a></li>
                            </ol>
                            <li>Hazards</li>
                            <ol class="process-tasks">
                                <li><a href="ab-haz-overview-hl-fl.axvw" rel="pTask" data-taskId="Highlight Hazard Overview" data-taskIcon="ab-icon-task.gif">Highlight Hazard Overview</a></li>
                                <li><a href="ab-hazmat-plans.axvw" rel="pTask" data-taskId="Highlight Facility Hazards" data-taskIcon="ab-icon-task.gif">Highlight Facility Hazards</a></li>
                                <li><a href="ab-haz-assesment-hl-fl.axvw" rel="pTask" data-taskId="Highlight Hazard Assessments" data-taskIcon="ab-icon-task.gif">Highlight Hazard Assessments</a></li>
                                <li><a href="ab-haz-chem-hl-fl.axvw" rel="pTask" data-taskId="Highlight Hazardous Materials" data-taskIcon="ab-icon-task.gif">Highlight Hazardous Materials</a></li>
                                <li><a href="ab-haz-waste-hl-fl.axvw" rel="pTask" data-taskId="Highlight Hazardous Waste" data-taskIcon="ab-icon-task.gif">Highlight Hazardous Waste</a></li>
                            </ol>
                            <li>Status</li>
                            <ol class="process-tasks">
                                <li><a href="ab-room-status-hl-fl.axvw" rel="pTask" data-taskId="View Room Status" data-taskIcon="ab-icon-task.gif">View Room Status</a></li>
                                <li><a href="ab-eq-status-hl-fl.axvw" rel="pTask" data-taskId="View Equipment Status" data-taskIcon="ab-icon-task.gif">View Equipment Status</a></li>
                            </ol>
                            <li>Updates</li>
                            <ol class="process-tasks">
                                <li><a href="ab-em-ep-update-status.axvw" rel="pTask" data-taskId="Update Employee Status" data-taskIcon="ab-icon-task.gif">Update Employee Status</a></li>
                                <li><a href="ab-advisory-bulletin-edit.axvw" rel="pTask" data-taskId="Update Advisory Bulletin" data-taskIcon="ab-icon-task.gif">Update Advisory Bulletin</a></li>
                            </ol>
                        </ol>
                </div>
            </div>
        </div>
        <div class="page-row full-height" >
            <h3 class="application-title" data-activityId="AbRiskEmergencyPreparedness">Emergency Preparedness</h3>
            <hr class="application-horizontal-rule">
            <div class="bucket-application " data-productId="AbRisk" data-activityId="AbRiskEmergencyPreparedness" data-processId="Assessment Team" data-productTitle="Environmental & Risk Management" data-activityTitle="Emergency Preparedness" data-processTitle="Assessment Team" data-subfolder="\ab-products\space\emergency-preparedness" data-helpLink="\Subsystems\webc\Content\emerg_prep\a_team\overview.htm" data-helpSystem="END USER" data-dashboardLayout="" data-dashboardView="" title="Perform the post-incident assessment of systems, zones, rooms, and equipment status to determine fitness for resuming operations." oncontextmenu="return false;" onMouseUp="openPtask(this,event);">
                <h2 class="applications-process-title" title="Perform the post-incident assessment of systems, zones, rooms, and equipment status to determine fitness for resuming operations.">
                    <span class="process-title-text">Assessment Team</span>
                </h2>
                <div class="bucket-wrapper" id="wrapper_abriskemergencypreparedness_assessmentTeam">
                        <ol class="ptask-labels">
                            <li>Zones</li>
                            <ol class="process-tasks">
                                <li><a href="ab-systems-and-zones-highlt.axvw" rel="pTask" data-taskId="Highlight Zones" data-taskIcon="ab-icon-task.gif">Highlight Zones</a></li>
                            </ol>
                            <li>Updates</li>
                            <ol class="process-tasks">
                                <li><a href="ab-system-status-update.axvw" rel="pTask" data-taskId="Update System Status" data-taskIcon="ab-icon-task.gif">Update System Status</a></li>
                                <li><a href="ab-room-status-update-hl-fl.axvw" rel="pTask" data-taskId="Update Room Status" data-taskIcon="ab-icon-task.gif">Update Room Status</a></li>
                                <li><a href="ab-eq-status-update.axvw" rel="pTask" data-taskId="Update Equipment Status" data-taskIcon="ab-icon-task.gif">Update Equipment Status</a></li>
                            </ol>
                        </ol>
                </div>
            </div>
            <div class="bucket-application " data-productId="AbRisk" data-activityId="AbRiskEmergencyPreparedness" data-processId="Documentation" data-productTitle="Environmental & Risk Management" data-activityTitle="Emergency Preparedness" data-processTitle="Documentation" data-subfolder="\ab-products\space\emergency-preparedness" data-helpLink="/Subsystems/webc/Content/emerg_prep/doc/doc_library.htm" data-helpSystem="END USER" data-dashboardLayout="" data-dashboardView="" title="Manage a Document Library for all Emergency Preparedness related documents." oncontextmenu="return false;" onMouseUp="openPtask(this,event);">
                <h2 class="applications-process-title" title="Manage a Document Library for all Emergency Preparedness related documents.">
                    <span class="process-title-text">Documentation</span>
                </h2>
                <div class="bucket-wrapper" id="wrapper_abriskemergencypreparedness_documentation">
                        <ol class="ptask-labels">
                            <li></li>
                            <ol class="process-tasks">
                                <li><a href="ab-ep-library.axvw" rel="pTask" data-taskId="Manage Document Library" data-taskIcon="ab-icon-task.gif">Manage Document Library</a></li>
                            </ol>
                        </ol>
                </div>
            </div>
            <div class="bucket-application " data-productId="AbRisk" data-activityId="AbRiskEmergencyPreparedness" data-processId="Managers" data-productTitle="Environmental & Risk Management" data-activityTitle="Emergency Preparedness" data-processTitle="Managers" data-subfolder="\ab-products\space\emergency-preparedness" data-helpLink="\Subsystems\webc\Content\emerg_prep\manager\overview.htm" data-helpSystem="END USER" data-dashboardLayout="" data-dashboardView="" title="Review the advisory bulletin for managers.  Review the employee status and site assessment summaries." oncontextmenu="return false;" onMouseUp="openPtask(this,event);">
                <h2 class="applications-process-title" title="Review the advisory bulletin for managers.  Review the employee status and site assessment summaries.">
                    <span class="process-title-text">Managers</span>
                </h2>
                <div class="bucket-wrapper" id="wrapper_abriskemergencypreparedness_managers">
                        <ol class="ptask-labels">
                            <li></li>
                            <ol class="process-tasks">
                                <li><a href="ab-advisory-bulletin-edit.axvw" rel="pTask" data-taskId="Update Advisory Bulletin" data-taskIcon="ab-icon-task.gif">Update Advisory Bulletin</a></li>
                                <li><a href="ab-em-statusxdv.axvw" rel="pTask" data-taskId="Review Employee Status by Department" data-taskIcon="ab-icon-task.gif">Review Employee Status by Department</a></li>
                                <li><a href="ab-em-statusxbl.axvw" rel="pTask" data-taskId="Review Employee Status by Floor" data-taskIcon="ab-icon-task.gif">Review Employee Status by Floor</a></li>
                                <li><a href="ab-advisory-bulletin-mgr.axvw" rel="pTask" data-taskId="Review Advisory Bulletin for Managers" data-taskIcon="ab-icon-task.gif">Review Advisory Bulletin for Managers</a></li>
                                <li><a href="ab-site-statusxbl.axvw" rel="pTask" data-taskId="Review Room Status by Building" data-taskIcon="ab-icon-task.gif">Review Room Status by Building</a></li>
                                <li><a href="ab-site-statusxfl.axvw" rel="pTask" data-taskId="Review Room Status by Floor" data-taskIcon="ab-icon-task.gif">Review Room Status by Floor</a></li>
                                <li><a href="ab-status-summary-details.axvw" rel="pTask" data-taskId="Review Status Summary" data-taskIcon="ab-icon-task.gif">Review Status Summary</a></li>
                            </ol>
                        </ol>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
$(document).ready(function() {
    $('#navigationTabs').find('a').click(function() {return false;});
    initDandDFavorites();
    setPageDimensions();
    bindTaskContextMenu();
    localizeFavoritesDisplayText();
    loadFavoritesBuckets();
    modifyProcessTitleDisplay();
    pageTallPTaskBuckets();
});
</script>