<div class="nav-pages" id="HazardousMaterials">
    <div class="page">
        <div class="page-row three-quarter-height" >
            <h3 class="application-title" data-activityId="AbRiskMSDS">Hazardous Materials</h3>
            <hr class="application-horizontal-rule">
            <div id="appProcFavoritesBucket" class="bucket-application bucket-background-light " data-activityId="" data-processId="" oncontextmenu="return false;">
                <h2 class="applications-process-title" data-processId="" title="Most often used tasks and reports.">My Favorites</h2>
                <div class="bucket-wrapper" id="wrapper_f1fab7d2-1449-4074-b61e-ca58fee452b2">
                    <div class="favorites-drop-target">
                        <span class="favorites-add-target"></span>
                        <span class="favorites-delete-target">&nbsp;</span>
                    </div>
                    <div class="favorites" onMouseUp="openPtask(this,event);">
                        <ol class="favorites-items">
                        </ol>
                    </div>
                </div>
            </div>
            <div class="bucket-application " data-productId="AbRisk" data-activityId="AbRiskMSDS" data-processId="Business Process Owner - Facilit" data-productTitle="Environmental & Risk Management" data-activityTitle="Hazardous Materials" data-processTitle="Business Process Owner - Facilities" data-subfolder="\ab-products\risk\msds" data-helpLink="\Subsystems\webc\Content\msds\bpo_facilities\facilities.htm" data-helpSystem="END USER" data-dashboardLayout="" data-dashboardView="" title="" oncontextmenu="return false;" onMouseUp="openPtask(this,event);">
                <h2 class="applications-process-title" title="">
                    <span class="process-title-text">Business Process Owner - Facilities</span>
                </h2>
                <div class="bucket-wrapper" id="wrapper_abriskmsds_businessProcessOwnerFacilit">
                        <ol class="ptask-labels">
                            <li></li>
                            <ol class="process-tasks">
                                <li><a href="ab-def-geo-loc.axvw" rel="pTask" data-taskId="Define Geographic Locations" data-taskIcon="ab-icon-task.gif">Define Geographic Locations</a></li>
                            </ol>
                            <li class="empty-taskgroup-title">&nbsp;</li>
                            <ol class="process-tasks">
                                <li><a href="ab-sp-def-rmstd.axvw" rel="pTask" data-taskId="Define Room Standards" data-taskIcon="ab-icon-task.gif">Define Room Standards</a></li>
                                <li><a href="ab-sp-def-rmcat-rmtype.axvw" rel="pTask" data-taskId="Define Room Categories and Types" data-taskIcon="ab-icon-task.gif">Define Room Categories and Types</a></li>
                                <li><a href="ab-sp-def-org.axvw" rel="pTask" data-taskId="Define Organizations" data-taskIcon="ab-icon-task.gif">Define Organizations</a></li>
                                <li><a href="ab-sp-def-loc-rm.axvw" rel="pTask" data-taskId="Define Room Locations" data-taskIcon="ab-icon-task.gif">Define Room Locations</a></li>
                                <li><a href="ab-sp-def-loc-subrm.axvw" rel="pTask" data-taskId="Define Subroom Locations" data-taskIcon="ab-icon-task.gif">Define Subroom Locations</a></li>
                            </ol>
                            <li class="empty-taskgroup-title">&nbsp;</li>
                            <ol class="process-tasks">
                                <li><a href="ab-eqstd-edit.axvw" rel="pTask" data-taskId="Define Equipment Standards" data-taskIcon="ab-icon-task.gif">Define Equipment Standards</a></li>
                                <li><a href="ab-eq-edit.axvw" rel="pTask" data-taskId="Define Equipment" data-taskIcon="ab-icon-task.gif">Define Equipment</a></li>
                            </ol>
                        </ol>
                </div>
            </div>
            <div class="bucket-application " data-productId="AbRisk" data-activityId="AbRiskMSDS" data-processId="Business Process Owner - Risk" data-productTitle="Environmental & Risk Management" data-activityTitle="Hazardous Materials" data-processTitle="Business Process Owner - Hazmat" data-subfolder="\ab-products\risk\msds" data-helpLink="\Subsystems\webc\Content\msds\bpo_risk\overview.htm" data-helpSystem="END USER" data-dashboardLayout="" data-dashboardView="" title="" oncontextmenu="return false;" onMouseUp="openPtask(this,event);">
                <h2 class="applications-process-title" title="">
                    <span class="process-title-text">Business Process Owner - Hazmat</span>
                </h2>
                <div class="bucket-wrapper" id="wrapper_abriskmsds_businessProcessOwnerRisk">
                        <ol class="ptask-labels">
                            <li></li>
                            <ol class="process-tasks">
                                <li><a href="ab-msds-def-provider.axvw" rel="pTask" data-taskId="Define Companies" data-taskIcon="ab-icon-task.gif">Define Companies</a></li>
                            </ol>
                            <li class="empty-taskgroup-title">&nbsp;</li>
                            <ol class="process-tasks">
                                <li><a href="ab-msds-def-chem.axvw" rel="pTask" data-taskId="Define Chemicals" data-taskIcon="ab-icon-task.gif">Define Chemicals</a></li>
                            </ol>
                            <li class="empty-taskgroup-title">&nbsp;</li>
                            <ol class="process-tasks">
                                <li><a href="ab-msds-def-class-sys.axvw" rel="pTask" data-taskId="Define Hazard Classification System" data-taskIcon="ab-icon-task.gif">Define Hazard Classification System</a></li>
                                <li><a href="ab-msds-def-class-class.axvw" rel="pTask" data-taskId="Define Hazard Classes" data-taskIcon="ab-icon-task.gif">Define Hazard Classes</a></li>
                                <li><a href="ab-msds-def-class-cat.axvw" rel="pTask" data-taskId="Define Hazard Categories" data-taskIcon="ab-icon-task.gif">Define Hazard Categories</a></li>
                                <li><a href="ab-msds-def-classification.axvw" rel="pTask" data-taskId="Define Hazard Classifications" data-taskIcon="ab-icon-task.gif">Define Hazard Classifications</a></li>
                            </ol>
                            <li class="empty-taskgroup-title">&nbsp;</li>
                            <ol class="process-tasks">
                                <li><a href="ab-msds-def-container-cat.axvw" rel="pTask" data-taskId="Define Container Categories" data-taskIcon="ab-icon-task.gif">Define Container Categories</a></li>
                                <li><a href="ab-msds-def-container-types.axvw" rel="pTask" data-taskId="Define Container Types" data-taskIcon="ab-icon-task.gif">Define Container Types</a></li>
                            </ol>
                            <li class="empty-taskgroup-title">&nbsp;</li>
                            <ol class="process-tasks">
                                <li><a href="ab-msds-def-units.axvw" rel="pTask" data-taskId="Define Units" data-taskIcon="ab-icon-task.gif">Define Units</a></li>
                            </ol>
                        </ol>
                </div>
            </div>
            <div class="bucket-application " data-productId="AbRisk" data-activityId="AbRiskMSDS" data-processId="Business Process Owner Reports" data-productTitle="Environmental & Risk Management" data-activityTitle="Hazardous Materials" data-processTitle="Business Process Owner Reports" data-subfolder="\ab-products\risk\msds" data-helpLink="\Subsystems\webc\Content\msds\bpo_reports\overview.htm" data-helpSystem="END USER" data-dashboardLayout="" data-dashboardView="" title="" oncontextmenu="return false;" onMouseUp="openPtask(this,event);">
                <h2 class="applications-process-title" title="">
                    <span class="process-title-text">Business Process Owner Reports</span>
                </h2>
                <div class="bucket-wrapper" id="wrapper_abriskmsds_businessProcessOwnerReports">
                        <ol class="ptask-labels">
                            <li></li>
                            <ol class="process-tasks">
                                <li><a href="ab-msds-rpt-providers.axvw" rel="pTask" data-taskId="Companies List" data-taskIcon="ab-icon-task.gif">Companies List</a></li>
                            </ol>
                            <li class="empty-taskgroup-title">&nbsp;</li>
                            <ol class="process-tasks">
                                <li><a href="ab-msds-rpt-chem.axvw" rel="pTask" data-taskId="Chemicals List" data-taskIcon="ab-icon-task.gif">Chemicals List</a></li>
                            </ol>
                            <li class="empty-taskgroup-title">&nbsp;</li>
                            <ol class="process-tasks">
                                <li><a href="ab-msds-rpt-class-sys.axvw" rel="pTask" data-taskId="Hazard Classification Systems List" data-taskIcon="ab-icon-task.gif">Hazard Classification Systems List</a></li>
                                <li><a href="ab-msds-rpt-class-class.axvw" rel="pTask" data-taskId="Hazard Classification Classes List" data-taskIcon="ab-icon-task.gif">Hazard Classification Classes List</a></li>
                                <li><a href="ab-msds-rpt-class-cat.axvw" rel="pTask" data-taskId="Hazard Classification Categories List" data-taskIcon="ab-icon-task.gif">Hazard Classification Categories List</a></li>
                            </ol>
                            <li class="empty-taskgroup-title">&nbsp;</li>
                            <ol class="process-tasks">
                                <li><a href="ab-msds-rpt-container-cat.axvw" rel="pTask" data-taskId="Container Categories List" data-taskIcon="ab-icon-task.gif">Container Categories List</a></li>
                                <li><a href="ab-msds-rpt-container-type.axvw" rel="pTask" data-taskId="Container Types List" data-taskIcon="ab-icon-task.gif">Container Types List</a></li>
                            </ol>
                        </ol>
                </div>
            </div>
            <div class="bucket-application " data-productId="AbRisk" data-activityId="AbRiskMSDS" data-processId="Manage MSDSs" data-productTitle="Environmental & Risk Management" data-activityTitle="Hazardous Materials" data-processTitle="Manage Material Inventory" data-subfolder="\ab-products\risk\msds" data-helpLink="\Subsystems\webc\Content\msds\manage_msds\overview.htm" data-helpSystem="END USER" data-dashboardLayout="" data-dashboardView="" title="" oncontextmenu="return false;" onMouseUp="openPtask(this,event);">
                <h2 class="applications-process-title" title="">
                    <span class="process-title-text">Manage Material Inventory</span>
                </h2>
                <div class="bucket-wrapper" id="wrapper_abriskmsds_manageMsdss">
                        <ol class="ptask-labels">
                            <li></li>
                            <ol class="process-tasks">
                                <li><a href="ab-msds-def-msds.axvw" rel="pTask" data-taskId="Define Materials and Safety Data Sheets (SDS)" data-taskIcon="ab-icon-task.gif">Define Materials and Safety Data Sheets (SDS)</a></li>
                                <li><a href="ab-msds-def-locs.axvw" rel="pTask" data-taskId="Assign Material Locations" data-taskIcon="ab-icon-task.gif">Assign Material Locations</a></li>
                                <li><a href="ab-msds-def-loc-dwg.axvw" rel="pTask" data-taskId="Assign Material to Rooms Using a Floor Plan" data-taskIcon="ab-icon-task.gif">Assign Material to Rooms Using a Floor Plan</a></li>
                            </ol>
                        </ol>
                </div>
            </div>
        </div>
        <div class="page-row full-height" >
            <h3 class="application-title" data-activityId="AbRiskMSDS">Hazardous Materials</h3>
            <hr class="application-horizontal-rule">
            <div class="bucket-application " data-productId="AbRisk" data-activityId="AbRiskMSDS" data-processId="Review MSDSs" data-productTitle="Environmental & Risk Management" data-activityTitle="Hazardous Materials" data-processTitle="Review Material Inventory" data-subfolder="\ab-products\risk\msds" data-helpLink="\Subsystems\webc\Content\msds\review_msds\overview.htm" data-helpSystem="END USER" data-dashboardLayout="" data-dashboardView="" title="" oncontextmenu="return false;" onMouseUp="openPtask(this,event);">
                <h2 class="applications-process-title" title="">
                    <span class="process-title-text">Review Material Inventory</span>
                </h2>
                <div class="bucket-wrapper" id="wrapper_abriskmsds_reviewMsdss">
                        <ol class="ptask-labels">
                            <li></li>
                            <ol class="process-tasks">
                                <li><a href="ab-msds-rpt-search.axvw" rel="pTask" data-taskId="Retrieve Safety Data Sheets (SDS)" data-taskIcon="ab-icon-task.gif">Retrieve Safety Data Sheets (SDS)</a></li>
                                <li><a href="ab-msds-rpt-print.axvw" rel="pTask" data-taskId="Print SDS" data-taskIcon="ab-icon-task.gif">Print SDS</a></li>
                                <li><a href="ab-msds-old-rpt-search.axvw" rel="pTask" data-taskId="Review Archived SDS Records" data-taskIcon="ab-icon-task.gif">Review Archived SDS Records</a></li>
                            </ol>
                            <li class="empty-taskgroup-title">&nbsp;</li>
                            <ol class="process-tasks">
                                <li><a href="ab-msds-rpt-inventory.axvw" rel="pTask" data-taskId="Chemical Constituent Inventory" data-taskIcon="ab-icon-task.gif">Chemical Constituent Inventory</a></li>
                                <li><a href="ab-msds-rpt-prod-inv.axvw" rel="pTask" data-taskId="Material Inventory" data-taskIcon="ab-icon-task.gif">Material Inventory</a></li>
                                <li><a href="ab-msds-rpt-inv-excep.axvw" rel="pTask" data-taskId="Material Inventory Exceptions" data-taskIcon="ab-icon-task.gif">Material Inventory Exceptions</a></li>
                            </ol>
                            <li class="empty-taskgroup-title">&nbsp;</li>
                            <ol class="process-tasks">
                                <li><a href="ab-msds-rpt-by-product.axvw" rel="pTask" data-taskId="Chemical Constituents by Product" data-taskIcon="ab-icon-task.gif">Chemical Constituents by Product</a></li>
                                <li><a href="ab-msds-rpt-by-provider.axvw" rel="pTask" data-taskId="SDS Details by Provider" data-taskIcon="ab-icon-task.gif">SDS Details by Provider</a></li>
                            </ol>
                            <li class="empty-taskgroup-title">&nbsp;</li>
                            <ol class="process-tasks">
                                <li><a href="ab-msds-rpt-locations.axvw" rel="pTask" data-taskId="SDS and Material Details by Location" data-taskIcon="ab-icon-task.gif">SDS and Material Details by Location</a></li>
                                <li><a href="ab-msds-rpt-by-const.axvw" rel="pTask" data-taskId="Chemical Constituent Locations" data-taskIcon="ab-icon-task.gif">Chemical Constituent Locations</a></li>
                                <li><a href="ab-msds-rpt-loc-by-prod.axvw" rel="pTask" data-taskId="Material Locations List" data-taskIcon="ab-icon-task.gif">Material Locations List</a></li>
                                <li><a href="ab-msds-rpt-drawing.axvw" rel="pTask" data-taskId="Material Locations Highlight" data-taskIcon="ab-icon-task.gif">Material Locations Highlight</a></li>
                                <li><a href="ab-msds-rpt-map.axvw" rel="pTask" data-taskId="SDS Geographic Drill-Down" data-taskIcon="ab-icon-task.gif">SDS Geographic Drill-Down</a></li>
                            </ol>
                        </ol>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
$(document).ready(function() {
    $('#navigationTabs').find('a').click(function() {return false;});
    initDandDFavorites();
    setPageDimensions();
    bindTaskContextMenu();
    localizeFavoritesDisplayText();
    loadFavoritesBuckets();
    modifyProcessTitleDisplay();
    pageTallPTaskBuckets();
});
</script>