<div class="nav-pages" id="EnvironmentalHealthSafety">
    <div class="page">
        <div class="page-row full-height" >
            <h3 class="application-title" data-activityId="AbRiskEHS">Environmental Health & Safety</h3>
            <hr class="application-horizontal-rule">
            <div id="appProcFavoritesBucket" class="bucket-application bucket-background-light " data-activityId="" data-processId="" oncontextmenu="return false;">
                <h2 class="applications-process-title" data-processId="" title="Most often used tasks and reports.">My Favorites</h2>
                <div class="bucket-wrapper" id="wrapper_059a2d99-450b-4940-a699-a1ddeb4a0369">
                    <div class="favorites-drop-target">
                        <span class="favorites-add-target"></span>
                        <span class="favorites-delete-target">&nbsp;</span>
                    </div>
                    <div class="favorites" onMouseUp="openPtask(this,event);">
                        <ol class="favorites-items">
                        </ol>
                    </div>
                </div>
            </div>
            <div class="bucket-application " data-productId="AbRisk" data-activityId="AbRiskEHS" data-processId="Facilities - Background Data" data-productTitle="Environmental & Risk Management" data-activityTitle="Environmental Health & Safety" data-processTitle="Facilities - Background Data" data-subfolder="\ab-products\risk\ehs" data-helpLink="\Subsystems\webc\Content\ehs\background_data\facilities_background_data.htm" data-helpSystem="END USER" data-dashboardLayout="" data-dashboardView="" title="" oncontextmenu="return false;" onMouseUp="openPtask(this,event);">
                <h2 class="applications-process-title" title="">
                    <span class="process-title-text">Facilities - Background Data</span>
                </h2>
                <div class="bucket-wrapper" id="wrapper_abriskehs_facilitiesBackgroundData">
                        <ol class="ptask-labels">
                            <li></li>
                            <ol class="process-tasks">
                                <li><a href="ab-def-geo-loc.axvw" rel="pTask" data-taskId="Define Geographical Locations" data-taskIcon="ab-icon-task.gif">Define Geographical Locations</a></li>
                                <li><a href="ab-ehs-def-properties.axvw" rel="pTask" data-taskId="Define Properties" data-taskIcon="ab-icon-task.gif">Define Properties</a></li>
                                <li><a href="ab-sp-def-loc-rm.axvw" rel="pTask" data-taskId="Define Locations" data-taskIcon="ab-icon-task.gif">Define Locations</a></li>
                            </ol>
                            <li class="empty-taskgroup-title">&nbsp;</li>
                            <ol class="process-tasks">
                                <li><a href="ab-eqstd-edit.axvw" rel="pTask" data-taskId="Define Equipment Standards" data-taskIcon="ab-icon-task.gif">Define Equipment Standards</a></li>
                                <li><a href="ab-eq-edit.axvw" rel="pTask" data-taskId="Define Equipment" data-taskIcon="ab-icon-task.gif">Define Equipment</a></li>
                            </ol>
                            <li class="empty-taskgroup-title">&nbsp;</li>
                            <ol class="process-tasks">
                                <li><a href="ab-sp-def-emstd.axvw" rel="pTask" data-taskId="Define Employee Standards" data-taskIcon="ab-icon-task.gif">Define Employee Standards</a></li>
                                <li><a href="ab-common-def-em.axvw" rel="pTask" data-taskId="Define Employees" data-taskIcon="ab-icon-task.gif">Define Employees</a></li>
                            </ol>
                            <li class="empty-taskgroup-title">&nbsp;</li>
                            <ol class="process-tasks">
                                <li><a href="ab-ca-def-cont.axvw" rel="pTask" data-taskId="Define Contacts" data-taskIcon="ab-icon-task.gif">Define Contacts</a></li>
                            </ol>
                            <li class="empty-taskgroup-title">&nbsp;</li>
                            <ol class="process-tasks">
                                <li><a href="ab-vn-edit.axvw" rel="pTask" data-taskId="Define Vendors" data-taskIcon="ab-icon-task.gif">Define Vendors</a></li>
                            </ol>
                        </ol>
                </div>
            </div>
            <div class="bucket-application " data-productId="AbRisk" data-activityId="AbRiskEHS" data-processId="EHS - Background Data" data-productTitle="Environmental & Risk Management" data-activityTitle="Environmental Health & Safety" data-processTitle="EH&S - Background Data" data-subfolder="\ab-products\risk\ehs" data-helpLink="\Subsystems\webc\Content\ehs\background_data\entering_background_data.htm" data-helpSystem="END USER" data-dashboardLayout="" data-dashboardView="" title="" oncontextmenu="return false;" onMouseUp="openPtask(this,event);">
                <h2 class="applications-process-title" title="">
                    <span class="process-title-text">EH&S - Background Data</span>
                </h2>
                <div class="bucket-wrapper" id="wrapper_abriskehs_ehsBackgroundData">
                        <ol class="ptask-labels">
                            <li>Work Categories</li>
                            <ol class="process-tasks">
                                <li><a href="ab-ehs-def-work-categories.axvw" rel="pTask" data-taskId="Define Work Categories" data-taskIcon="ab-icon-task.gif">Define Work Categories</a></li>
                            </ol>
                            <li>Personal Protective Equipment</li>
                            <ol class="process-tasks">
                                <li><a href="ab-ehs-def-ppe-types.axvw" rel="pTask" data-taskId="Define Personal Protective Equipment (PPE) Types" data-taskIcon="ab-icon-task.gif">Define Personal Protective Equipment (PPE) Types</a></li>
                            </ol>
                            <li>Training Programs</li>
                            <ol class="process-tasks">
                                <li><a href="ab-ehs-def-training-chemicals.axvw" rel="pTask" data-taskId="Define Chemicals/Substances" data-taskIcon="ab-icon-task.gif">Define Chemicals/Substances</a></li>
                                <li><a href="ab-ehs-def-training-categories.axvw" rel="pTask" data-taskId="Define Training Categories" data-taskIcon="ab-icon-task.gif">Define Training Categories</a></li>
                                <li><a href="ab-ehs-def-training-types.axvw" rel="pTask" data-taskId="Define Training Types" data-taskIcon="ab-icon-task.gif">Define Training Types</a></li>
                                <li><a href="ab-ehs-def-training.axvw" rel="pTask" data-taskId="Define Training Programs" data-taskIcon="ab-icon-task.gif">Define Training Programs</a></li>
                            </ol>
                            <li>Medical Monitoring</li>
                            <ol class="process-tasks">
                                <li><a href="ab-ehs-def-medical-monitoring.axvw" rel="pTask" data-taskId="Define Medical Monitoring" data-taskIcon="ab-icon-task.gif">Define Medical Monitoring</a></li>
                            </ol>
                            <li>Incidents</li>
                            <ol class="process-tasks">
                                <li><a href="ab-ehs-def-root-cause-categories.axvw" rel="pTask" data-taskId="Define Root Cause Categories" data-taskIcon="ab-icon-task.gif">Define Root Cause Categories</a></li>
                                <li><a href="ab-ehs-def-incident-types.axvw" rel="pTask" data-taskId="Define Incident Types" data-taskIcon="ab-icon-task.gif">Define Incident Types</a></li>
                                <li><a href="ab-ehs-def-short-corrective-actions.axvw" rel="pTask" data-taskId="Define Short-Term Corrective Actions" data-taskIcon="ab-icon-task.gif">Define Short-Term Corrective Actions</a></li>
                                <li><a href="ab-ehs-def-long-corrective-actions.axvw" rel="pTask" data-taskId="Define Long-Term Corrective Actions" data-taskIcon="ab-icon-task.gif">Define Long-Term Corrective Actions</a></li>
                                <li><a href="ab-ehs-def-injury-categories.axvw" rel="pTask" data-taskId="Define Injury Categories" data-taskIcon="ab-icon-task.gif">Define Injury Categories</a></li>
                                <li><a href="ab-ehs-def-injury-areas.axvw" rel="pTask" data-taskId="Define Injury Areas" data-taskIcon="ab-icon-task.gif">Define Injury Areas</a></li>
                            </ol>
                            <li>Work Restrictions</li>
                            <ol class="process-tasks">
                                <li><a href="ab-ehs-def-work-restriction-categories.axvw" rel="pTask" data-taskId="Define Work Restriction Categories" data-taskIcon="ab-icon-task.gif">Define Work Restriction Categories</a></li>
                            </ol>
                            <li>Work Roles by Location</li>
                            <ol class="process-tasks">
                                <li><a href="ab-def-work-roles.axvw" rel="pTask" data-taskId="Define Work Roles" data-taskIcon="ab-icon-task.gif">Define Work Roles</a></li>
                                <li><a href="ab-def-work-roles-location.axvw" rel="pTask" data-taskId="Define Work Roles by Location" data-taskIcon="ab-icon-task.gif">Define Work Roles by Location</a></li>
                            </ol>
                            <li>Application Parameters</li>
                            <ol class="process-tasks">
                                <li><a href="ab-ehs-def-activity-parameters.axvw" rel="pTask" data-taskId="Configure Application Parameters" data-taskIcon="ab-icon-task.gif">Configure Application Parameters</a></li>
                            </ol>
                            <li>Document Library</li>
                            <ol class="process-tasks">
                                <li><a href="ab-doc-def-folder.axvw" rel="pTask" data-taskId="Define Document Library Folders" data-taskIcon="ab-icon-task.gif">Define Document Library Folders</a></li>
                                <li><a href="ab-doc-def-cat-type.axvw" rel="pTask" data-taskId="Define Document Categories and Types" data-taskIcon="ab-icon-task.gif">Define Document Categories and Types</a></li>
                            </ol>
                            <li>Service Requests</li>
                            <ol class="process-tasks">
                                <li><a href="ab-probtype-edit.axvw" rel="pTask" data-taskId="Define Problem Types" data-taskIcon="ab-icon-task.gif">Define Problem Types</a></li>
                            </ol>
                        </ol>
                </div>
            </div>
            <div class="bucket-application " data-productId="AbRisk" data-activityId="AbRiskEHS" data-processId="EHS - Work Categories" data-productTitle="Environmental & Risk Management" data-activityTitle="Environmental Health & Safety" data-processTitle="Work Categories" data-subfolder="\ab-products\risk\ehs" data-helpLink="\Subsystems\webc\Content\ehs\work_categories\overview.htm" data-helpSystem="END USER" data-dashboardLayout="" data-dashboardView="" title="" oncontextmenu="return false;" onMouseUp="openPtask(this,event);">
                <h2 class="applications-process-title" title="">
                    <span class="process-title-text">Work Categories</span>
                </h2>
                <div class="bucket-wrapper" id="wrapper_abriskehs_ehsWorkCategories">
                        <ol class="ptask-labels">
                            <li></li>
                            <ol class="process-tasks">
                                <li><a href="ab-ehs-track-work-categories.axvw" rel="pTask" data-taskId="Track Work Categories" data-taskIcon="ab-icon-task.gif">Track Work Categories</a></li>
                                <li><a href="ab-ehs-track-em-work-categories.axvw" rel="pTask" data-taskId="Track Employee Work Categories" data-taskIcon="ab-icon-task.gif">Track Employee Work Categories</a></li>
                            </ol>
                        </ol>
                </div>
            </div>
            <div class="bucket-application " data-productId="AbRisk" data-activityId="AbRiskEHS" data-processId="EHS - Track" data-productTitle="Environmental & Risk Management" data-activityTitle="Environmental Health & Safety" data-processTitle="Track" data-subfolder="\ab-products\risk\ehs" data-helpLink="\Subsystems\webc\Content\ehs\track\overview.htm" data-helpSystem="END USER" data-dashboardLayout="" data-dashboardView="" title="" oncontextmenu="return false;" onMouseUp="openPtask(this,event);">
                <h2 class="applications-process-title" title="">
                    <span class="process-title-text">Track</span>
                </h2>
                <div class="bucket-wrapper" id="wrapper_abriskehs_ehsTrack">
                        <ol class="ptask-labels">
                            <li>Training</li>
                            <ol class="process-tasks">
                                <li><a href="ab-ehs-assign-em-training.axvw" rel="pTask" data-taskId="Assign Employees to Training" data-taskIcon="ab-icon-task.gif">Assign Employees to Training</a></li>
                                <li><a href="ab-ehs-reschedule-training.axvw" rel="pTask" data-taskId="Reschedule Training Program" data-taskIcon="ab-icon-task.gif">Reschedule Training Program</a></li>
                                <li><a href="ab-ehs-track-em-training.axvw" rel="pTask" data-taskId="Track Training Program Assignments and Results" data-taskIcon="ab-icon-task.gif">Track Training Program Assignments and Results</a></li>
                            </ol>
                            <li>Incidents</li>
                            <ol class="process-tasks">
                                <li><a href="ab-ehs-track-incidents.axvw" rel="pTask" data-taskId="Track Incidents" data-taskIcon="ab-icon-task.gif">Track Incidents</a></li>
                                <li><a href="ab-ehs-track-incident-witness.axvw" rel="pTask" data-taskId="Track Incident Witness" data-taskIcon="ab-icon-task.gif">Track Incident Witness</a></li>
                            </ol>
                            <li>Work Restrictions</li>
                            <ol class="process-tasks">
                                <li><a href="ab-ehs-track-work-restrictions.axvw" rel="pTask" data-taskId="Track Work Restrictions" data-taskIcon="ab-icon-task.gif">Track Work Restrictions</a></li>
                            </ol>
                            <li>Personal Protective Equipment</li>
                            <ol class="process-tasks">
                                <li><a href="ab-ehs-track-em-ppe-types.axvw" rel="pTask" data-taskId="Track Employee Personal Protective Equipment Types" data-taskIcon="ab-icon-task.gif">Track Employee Personal Protective Equipment Types</a></li>
                            </ol>
                            <li>Medical Monitoring</li>
                            <ol class="process-tasks">
                                <li><a href="ab-ehs-track-em-medical-monitoring.axvw" rel="pTask" data-taskId="Track Employee Medical Monitoring" data-taskIcon="ab-icon-task.gif">Track Employee Medical Monitoring</a></li>
                            </ol>
                        </ol>
                </div>
            </div>
        </div>
        <div class="page-row full-height" >
            <h3 class="application-title" data-activityId="AbRiskEHS">Environmental Health & Safety</h3>
            <hr class="application-horizontal-rule">
            <div class="bucket-application " data-productId="AbRisk" data-activityId="AbRiskEHS" data-processId="EHS - Documentation" data-productTitle="Environmental & Risk Management" data-activityTitle="Environmental Health & Safety" data-processTitle="Documentation" data-subfolder="\ab-products\risk\ehs" data-helpLink="\Subsystems\webc\Content\ehs\doc\overview.htm" data-helpSystem="END USER" data-dashboardLayout="" data-dashboardView="" title="" oncontextmenu="return false;" onMouseUp="openPtask(this,event);">
                <h2 class="applications-process-title" title="">
                    <span class="process-title-text">Documentation</span>
                </h2>
                <div class="bucket-wrapper" id="wrapper_abriskehs_ehsDocumentation">
                        <ol class="ptask-labels">
                            <li></li>
                            <ol class="process-tasks">
                                <li><a href="ab-ehs-library.axvw" rel="pTask" data-taskId="Manage Document Library" data-taskIcon="ab-icon-task.gif">Manage Document Library</a></li>
                                <li><a href="ab-ehs-track-documentation.axvw" rel="pTask" data-taskId="Manage EH&S Internal Documents" data-taskIcon="ab-icon-task.gif">Manage EH&S Internal Documents</a></li>
                            </ol>
                        </ol>
                </div>
            </div>
            <div class="bucket-application " data-productId="AbRisk" data-activityId="AbRiskEHS" data-processId="EHS - Operational Reports" data-productTitle="Environmental & Risk Management" data-activityTitle="Environmental Health & Safety" data-processTitle="Operational Reports" data-subfolder="\ab-products\risk\ehs" data-helpLink="\Subsystems\webc\Content\ehs\review\overview.htm" data-helpSystem="END USER" data-dashboardLayout="" data-dashboardView="" title="" oncontextmenu="return false;" onMouseUp="openPtask(this,event);">
                <h2 class="applications-process-title" title="">
                    <span class="process-title-text">Operational Reports</span>
                </h2>
                <div class="bucket-wrapper" id="wrapper_abriskehs_ehsOperationalReports">
                        <ol class="ptask-labels">
                            <li>Work Categories</li>
                            <ol class="process-tasks">
                                <li><a href="ab-ehs-rpt-work-categories.axvw" rel="pTask" data-taskId="Training, PPE Types and Medical Monitoring by Work Category" data-taskIcon="ab-icon-task.gif">Training, PPE Types and Medical Monitoring by Work Category</a></li>
                            </ol>
                            <li>Employees</li>
                            <ol class="process-tasks">
                                <li><a href="ab-ehs-rpt-em-training-ppe-types-medical-monitoring.axvw" rel="pTask" data-taskId="Employee Training, PPE Types and Medical Monitoring" data-taskIcon="ab-icon-task.gif">Employee Training, PPE Types and Medical Monitoring</a></li>
                            </ol>
                            <li>PPE</li>
                            <ol class="process-tasks">
                                <li><a href="ab-ehs-rpt-em-ppe-types.axvw" rel="pTask" data-taskId="Employee PPE Types" data-taskIcon="ab-icon-task.gif">Employee PPE Types</a></li>
                            </ol>
                            <li>Training</li>
                            <ol class="process-tasks">
                                <li><a href="ab-ehs-rpt-personnel-training-program.axvw" rel="pTask" data-taskId="Personnel by Training Program" data-taskIcon="ab-icon-task.gif">Personnel by Training Program</a></li>
                                <li><a href="ab-ehs-rpt-em-training.axvw" rel="pTask" data-taskId="Employee Training Details" data-taskIcon="ab-icon-task.gif">Employee Training Details</a></li>
                                <li><a href="ab-ehs-rpt-training-detail.axvw" rel="pTask" data-taskId="Training Program Details" data-taskIcon="ab-icon-task.gif">Training Program Details</a></li>
                                <li><a href="ab-ehs-rpt-training-hours.axvw" rel="pTask" data-taskId="Training Programs Hours" data-taskIcon="ab-icon-task.gif">Training Programs Hours</a></li>
                                <li><a href="ab-ehs-rpt-training-by-vendor.axvw" rel="pTask" data-taskId="Training Programs by Vendor" data-taskIcon="ab-icon-task.gif">Training Programs by Vendor</a></li>
                            </ol>
                            <li>Incidents</li>
                            <ol class="process-tasks">
                                <li><a href="ab-ehs-rpt-recent-incidents.axvw" rel="pTask" data-taskId="Recent Incidents" data-taskIcon="ab-icon-task.gif">Recent Incidents</a></li>
                                <li><a href="ab-ehs-rpt-incident-report.axvw" rel="pTask" data-taskId="Incidents by Type" data-taskIcon="ab-icon-task.gif">Incidents by Type</a></li>
                                <li><a href="ab-ehs-rpt-incident-details.axvw" rel="pTask" data-taskId="Incidents by Location" data-taskIcon="ab-icon-task.gif">Incidents by Location</a></li>
                                <li><a href="ab-ehs-rpt-incidents-service-requests.axvw" rel="pTask" data-taskId="Incident Service Requests" data-taskIcon="ab-icon-task.gif">Incident Service Requests</a></li>
                            </ol>
                            <li>Work Restrictions</li>
                            <ol class="process-tasks">
                                <li><a href="ab-ehs-rpt-em-restrictions.axvw" rel="pTask" data-taskId="Employee Work Restrictions" data-taskIcon="ab-icon-task.gif">Employee Work Restrictions</a></li>
                                <li><a href="ab-ehs-rpt-restrictions-by-emstd.axvw" rel="pTask" data-taskId="Work Restrictions by Employee Standard" data-taskIcon="ab-icon-task.gif">Work Restrictions by Employee Standard</a></li>
                                <li><a href="ab-ehs-rpt-restrictions-by-location.axvw" rel="pTask" data-taskId="Work Restrictions by Location" data-taskIcon="ab-icon-task.gif">Work Restrictions by Location</a></li>
                            </ol>
                            <li>Medical Monitoring</li>
                            <ol class="process-tasks">
                                <li><a href="ab-ehs-rpt-medical-monitoring-report.axvw" rel="pTask" data-taskId="Medical Monitoring Report" data-taskIcon="ab-icon-task.gif">Medical Monitoring Report</a></li>
                                <li><a href="ab-ehs-rpt-em-medical-monitoring.axvw" rel="pTask" data-taskId="Employee Medical Monitoring" data-taskIcon="ab-icon-task.gif">Employee Medical Monitoring</a></li>
                            </ol>
                        </ol>
                </div>
            </div>
            <div class="bucket-application " data-productId="AbRisk" data-activityId="AbRiskEHS" data-processId="EHS - Management Reports" data-productTitle="Environmental & Risk Management" data-activityTitle="Environmental Health & Safety" data-processTitle="Management Reports" data-subfolder="\ab-products\risk\ehs" data-helpLink="\Subsystems\webc\Content\ehs\management_reports\mgmt_reports.htm" data-helpSystem="END USER" data-dashboardLayout="" data-dashboardView="" title="" oncontextmenu="return false;" onMouseUp="openPtask(this,event);">
                <h2 class="applications-process-title" title="">
                    <span class="process-title-text">Management Reports</span>
                </h2>
                <div class="bucket-wrapper" id="wrapper_abriskehs_ehsManagementReports">
                        <ol class="ptask-labels">
                            <li>PPE</li>
                            <ol class="process-tasks">
                                <li><a href="ab-ehs-rpt-ppe-types-renewal.axvw" rel="pTask" data-taskId="PPE Types Renewal" data-taskIcon="ab-icon-task.gif">PPE Types Renewal</a></li>
                            </ol>
                            <li>Training</li>
                            <ol class="process-tasks">
                                <li><a href="ab-ehs-rpt-pending-training.axvw" rel="pTask" data-taskId="Pending Training" data-taskIcon="ab-icon-task.gif">Pending Training</a></li>
                            </ol>
                            <li>Medical Monitoring</li>
                            <ol class="process-tasks">
                                <li><a href="ab-ehs-rpt-pending-medical-monitoring.axvw" rel="pTask" data-taskId="Pending Medical Monitoring" data-taskIcon="ab-icon-task.gif">Pending Medical Monitoring</a></li>
                            </ol>
                            <li>Incidents</li>
                            <ol class="process-tasks">
                                <li><a href="ab-ehs-rpt-incidents-map.axvw" rel="pTask" data-taskId="Incidents Map" data-taskIcon="ab-icon-task.gif">Incidents Map</a></li>
                                <li><a href="ab-ehs-rpt-incidents-count.axvw" rel="pTask" data-taskId="Incidents Count" data-taskIcon="ab-icon-task.gif">Incidents Count</a></li>
                                <li><a href="ab-ehs-rpt-incidents-log.axvw" rel="pTask" data-taskId="Incidents Log" data-taskIcon="ab-icon-task.gif">Incidents Log</a></li>
                                <li><a href="ab-ehs-rpt-incidents-summary.axvw" rel="pTask" data-taskId="Incidents Summary" data-taskIcon="ab-icon-task.gif">Incidents Summary</a></li>
                            </ol>
                            <li>Work Restrictions</li>
                            <ol class="process-tasks">
                                <li><a href="ab-ehs-rpt-restrictions-by-category.axvw" rel="pTask" data-taskId="Work Restrictions by Category" data-taskIcon="ab-icon-task.gif">Work Restrictions by Category</a></li>
                            </ol>
                        </ol>
                </div>
            </div>
            <div class="bucket-application " data-productId="AbRisk" data-activityId="AbRiskEHS" data-processId="EHS - Employee Review" data-productTitle="Environmental & Risk Management" data-activityTitle="Environmental Health & Safety" data-processTitle="Employee Review" data-subfolder="\ab-products\risk\ehs" data-helpLink="\Subsystems\webc\Content\ehs\employee_review\overview.htm" data-helpSystem="END USER" data-dashboardLayout="" data-dashboardView="" title="" oncontextmenu="return false;" onMouseUp="openPtask(this,event);">
                <h2 class="applications-process-title" title="">
                    <span class="process-title-text">Employee Review</span>
                </h2>
                <div class="bucket-wrapper" id="wrapper_abriskehs_ehsEmployeeReview">
                        <ol class="ptask-labels">
                            <li></li>
                            <ol class="process-tasks">
                                <li><a href="ab-ehs-rpt-em-training-ppe-types-medical-monitoring.axvw" rel="pTask" data-taskId="Employee Training, PPE Types and Medical Monitoring" data-taskIcon="ab-icon-task.gif">Employee Training, PPE Types and Medical Monitoring</a></li>
                                <li><a href="ab-ehs-rpt-incident-report.axvw" rel="pTask" data-taskId="Employee Incidents" data-taskIcon="ab-icon-task.gif">Employee Incidents</a></li>
                                <li><a href="ab-ehs-rpt-em-restrictions.axvw" rel="pTask" data-taskId="Employee Work Restrictions" data-taskIcon="ab-icon-task.gif">Employee Work Restrictions</a></li>
                            </ol>
                        </ol>
                </div>
            </div>
            <div class="bucket-application " data-productId="AbRisk" data-activityId="AbRiskEHS" data-processId="EHS - Incident Reporting" data-productTitle="Environmental & Risk Management" data-activityTitle="Environmental Health & Safety" data-processTitle="Incident Reporting" data-subfolder="\ab-products\risk\ehs" data-helpLink="\Subsystems\webc\Content\ehs\employee_review\incident_reporting.htm" data-helpSystem="END USER" data-dashboardLayout="" data-dashboardView="" title="" oncontextmenu="return false;" onMouseUp="openPtask(this,event);">
                <h2 class="applications-process-title" title="">
                    <span class="process-title-text">Incident Reporting</span>
                </h2>
                <div class="bucket-wrapper" id="wrapper_abriskehs_ehsIncidentReporting">
                        <ol class="ptask-labels">
                            <li></li>
                            <ol class="process-tasks">
                                <li><a href="ab-ehs-track-incidents-user.axvw" rel="pTask" data-taskId="Report Incident" data-taskIcon="ab-icon-task.gif">Report Incident</a></li>
                            </ol>
                        </ol>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
$(document).ready(function() {
    $('#navigationTabs').find('a').click(function() {return false;});
    initDandDFavorites();
    setPageDimensions();
    bindTaskContextMenu();
    localizeFavoritesDisplayText();
    loadFavoritesBuckets();
    modifyProcessTitleDisplay();
    pageTallPTaskBuckets();
});
</script>