<div class="nav-pages" id="LeaseAdministration">
    <div class="page">
        <div class="page-row full-height" >
            <h3 class="application-title" data-activityId="AbRPLMLeaseAdministration">Lease Administration</h3>
            <hr class="application-horizontal-rule">
            <div id="appProcFavoritesBucket" class="bucket-application bucket-background-light " data-activityId="" data-processId="" oncontextmenu="return false;">
                <h2 class="applications-process-title" data-processId="" title="Most often used tasks and reports.">My Favorites</h2>
                <div class="bucket-wrapper" id="wrapper_1b14e802-ee56-4c9c-be8b-29fa90c3d909">
                    <div class="favorites-drop-target">
                        <span class="favorites-add-target"></span>
                        <span class="favorites-delete-target">&nbsp;</span>
                    </div>
                    <div class="favorites" onMouseUp="openPtask(this,event);">
                        <ol class="favorites-items">
                        </ol>
                    </div>
                </div>
            </div>
            <div class="bucket-application " data-productId="AbRPLM" data-activityId="AbRPLMLeaseAdministration" data-processId="Background Data" data-productTitle="Real Estate Portfolio Management" data-activityTitle="Lease Administration" data-processTitle="Background Data" data-subfolder="\ab-products\rplm\ls-admin" data-helpLink="\Subsystems\webc\Content\fim\lease_admin\backgrd_data_over.htm" data-helpSystem="END USER" data-dashboardLayout="" data-dashboardView="" title="" oncontextmenu="return false;" onMouseUp="openPtask(this,event);">
                <h2 class="applications-process-title" title="">
                    <span class="process-title-text">Background Data</span>
                </h2>
                <div class="bucket-wrapper" id="wrapper_abrplmleaseadministration_backgroundData">
                        <ol class="ptask-labels">
                            <li></li>
                            <ol class="process-tasks">
                                <li><a href="ab-def-geo-loc.axvw" rel="pTask" data-taskId="Define Geographical Locations" data-taskIcon="ab-icon-task.gif">Define Geographical Locations</a></li>
                                <li><a href="ab-rplm-properties-define.axvw" rel="pTask" data-taskId="Define Properties" data-taskIcon="ab-icon-task.gif">Define Properties</a></li>
                                <li><a href="ab-sp-def-loc.axvw" rel="pTask" data-taskId="Define Locations" data-taskIcon="ab-icon-task.gif">Define Locations</a></li>
                                <li><a href="ab-repm-counties-define.axvw" rel="pTask" data-taskId="Define Counties" data-taskIcon="ab-icon-task.gif">Define Counties</a></li>
                                <li><a href="ab-rplm-chrbk-prorate-ls-area-method.axvw" rel="pTask" data-taskId="Select Lease Area Method" data-taskIcon="ab-icon-task.gif">Select Lease Area Method</a></li>
                            </ol>
                            <li class="empty-taskgroup-title">&nbsp;</li>
                            <ol class="process-tasks">
                                <li><a href="ab-rplm-facilitytype-define.axvw" rel="pTask" data-taskId="Define Facility Types" data-taskIcon="ab-icon-task.gif">Define Facility Types</a></li>
                            </ol>
                            <li class="empty-taskgroup-title">&nbsp;</li>
                            <ol class="process-tasks">
                                <li><a href="ab-ac-edit.axvw" rel="pTask" data-taskId="Define Accounts" data-taskIcon="ab-icon-task.gif">Define Accounts</a></li>
                                <li><a href="ab-rplm-companies-define.axvw" rel="pTask" data-taskId="Define Companies" data-taskIcon="ab-icon-task.gif">Define Companies</a></li>
                            </ol>
                            <li class="empty-taskgroup-title">&nbsp;</li>
                            <ol class="process-tasks">
                                <li><a href="ab-common-def-em.axvw" rel="pTask" data-taskId="Define Employees" data-taskIcon="ab-icon-task.gif">Define Employees</a></li>
                                <li><a href="ab-ca-def-cont.axvw" rel="pTask" data-taskId="Define Contacts" data-taskIcon="ab-icon-task.gif">Define Contacts</a></li>
                            </ol>
                            <li class="empty-taskgroup-title">&nbsp;</li>
                            <ol class="process-tasks">
                                <li><a href="ab-rplm-cost-categories-define.axvw" rel="pTask" data-taskId="Define Cost Categories" data-taskIcon="ab-icon-task.gif">Define Cost Categories</a></li>
                                <li><a href="ab-rplm-responsibility-categories-define.axvw" rel="pTask" data-taskId="Define Responsibility Categories" data-taskIcon="ab-icon-task.gif">Define Responsibility Categories</a></li>
                            </ol>
                            <li class="empty-taskgroup-title">&nbsp;</li>
                            <ol class="process-tasks">
                                <li><a href="ab-repm-lsadmin-amenities-types.axvw" rel="pTask" data-taskId="Define Amenity Types" data-taskIcon="ab-icon-task.gif">Define Amenity Types</a></li>
                                <li><a href="ab-def-comm-types.axvw" rel="pTask" data-taskId="Define Communication Types" data-taskIcon="ab-icon-task.gif">Define Communication Types</a></li>
                            </ol>
                            <li class="empty-taskgroup-title">&nbsp;</li>
                            <ol class="process-tasks">
                                <li><a href="ab-rplm-lsadmin-alerts-def.axvw" rel="pTask" data-taskId="Define Alerts" data-taskIcon="ab-icon-task.gif">Define Alerts</a></li>
                            </ol>
                            <li class="empty-taskgroup-title">&nbsp;</li>
                            <ol class="process-tasks">
                                <li><a href="ab-repm-lsadmin-add-edit-lease-template.axvw" rel="pTask" data-taskId="Define Lease Templates" data-taskIcon="ab-icon-task.gif">Define Lease Templates</a></li>
                            </ol>
                            <li class="empty-taskgroup-title">&nbsp;</li>
                            <ol class="process-tasks">
                                <li><a href="ab-repm-lsadmin-fiscal-year-def.axvw" rel="pTask" data-taskId="Define Fiscal Year" data-taskIcon="ab-icon-task.gif">Define Fiscal Year</a></li>
                            </ol>
                            <li class="empty-taskgroup-title">&nbsp;</li>
                            <ol class="process-tasks">
                                <li><a href="ab-repm-create-ls-hatch.axvw" rel="pTask" data-taskId="Define Lease Highlight Patterns" data-taskIcon="ab-icon-task.gif">Define Lease Highlight Patterns</a></li>
                            </ol>
                        </ol>
                </div>
            </div>
            <div class="bucket-application " data-productId="AbRPLM" data-activityId="AbRPLMLeaseAdministration" data-processId="Lease Portfolio" data-productTitle="Real Estate Portfolio Management" data-activityTitle="Lease Administration" data-processTitle="Lease Portfolio" data-subfolder="\ab-products\rplm\ls-admin" data-helpLink="\Subsystems\webc\Content\web_user\lease_admin\portfolio.htm" data-helpSystem="END USER" data-dashboardLayout="" data-dashboardView="" title="" oncontextmenu="return false;" onMouseUp="openPtask(this,event);">
                <h2 class="applications-process-title" title="">
                    <span class="process-title-text">Lease Portfolio</span>
                </h2>
                <div class="bucket-wrapper" id="wrapper_abrplmleaseadministration_leasePortfolio">
                        <ol class="ptask-labels">
                            <li>Results</li>
                            <ol class="process-tasks">
                                <li><a href="ab-rplm-lsadmin-alerts-view.axvw" rel="pTask" data-taskId="... Alerts" data-taskIcon="ab-icon-task.gif">... Alerts</a></li>
                                <li><a href="ab-rplm-lsadmin-dashboard.axvw" rel="pTask" data-taskId="... Lease Portfolio Dashboard" data-taskIcon="ab-icon-task.gif">... Lease Portfolio Dashboard</a></li>
                            </ol>
                            <li class="empty-taskgroup-title">&nbsp;</li>
                            <ol class="process-tasks">
                                <li><a href="ab-repm-addedit-lease-details-console.axvw" rel="pTask" data-taskId="Lease Portfolio Console" data-taskIcon="ab-icon-task.gif">Lease Portfolio Console</a></li>
                                <li><a href="ab-repm-fasb-class-wizard.axvw" rel="pTask" data-taskId="Lease Classification Wizard" data-taskIcon="ab-icon-task.gif">Lease Classification Wizard</a></li>
                                <li><a href="ab-repm-fasb-classification-analysis-console.axvw" rel="pTask" data-taskId="Lease Classification Analysis Console" data-taskIcon="ab-icon-task.gif">Lease Classification Analysis Console</a></li>
                            </ol>
                            <li>Add/Edit Portfolio Item</li>
                            <ol class="process-tasks">
                                <li><a href="ab-rplm-lsadmin-add-item-to-portfolio-wizard.axvw" rel="pTask" data-taskId="... Add/Edit Wizard" data-taskIcon="ab-icon-task.gif">... Add/Edit Wizard</a></li>
                                <li><a href="ab-repm-addedit-lease-form.axvw" rel="pTask" data-taskId="... Add/Edit Form - Complete" data-taskIcon="ab-icon-task.gif">... Add/Edit Form - Complete</a></li>
                                <li><a href="ab-repm-addedit-lease-shortform.axvw" rel="pTask" data-taskId="... Add/Edit Form - Basic" data-taskIcon="ab-icon-task.gif">... Add/Edit Form - Basic</a></li>
                                <li><a href="ab-repm-lsadmin-prop-amenities.axvw" rel="pTask" data-taskId="... Add New Amenity to a Property" data-taskIcon="ab-icon-task.gif">... Add New Amenity to a Property</a></li>
                                <li><a href="ab-repm-lsadmin-bl-amenities.axvw" rel="pTask" data-taskId="... Add New Amenity to a Building" data-taskIcon="ab-icon-task.gif">... Add New Amenity to a Building</a></li>
                            </ol>
                            <li>Lease Communications</li>
                            <ol class="process-tasks">
                                <li><a href="ab-repm-lsadmin-comm-log.axvw" rel="pTask" data-taskId="... Communication Log Items" data-taskIcon="ab-icon-task.gif">... Communication Log Items</a></li>
                                <li><a href="ab-repm-lsadmin-comm-log-by-lease.axvw" rel="pTask" data-taskId="... by Lease" data-taskIcon="ab-icon-task.gif">... by Lease</a></li>
                                <li><a href="ab-repm-lsadmin-comm-log-by-activity-log.axvw" rel="pTask" data-taskId="....by Activity Log Item" data-taskIcon="ab-icon-task.gif">....by Activity Log Item</a></li>
                                <li><a href="ab-repm-lsadmin-comm-log-by-project.axvw" rel="pTask" data-taskId="... by Activity Log Item by Project" data-taskIcon="ab-icon-task.gif">... by Activity Log Item by Project</a></li>
                            </ol>
                        </ol>
                </div>
            </div>
            <div class="bucket-application " data-productId="AbRPLM" data-activityId="AbRPLMLeaseAdministration" data-processId="Suite Analysis" data-productTitle="Real Estate Portfolio Management" data-activityTitle="Lease Administration" data-processTitle="Suite Analysis" data-subfolder="\ab-products\rplm\ls-admin" data-helpLink="\Subsystems\webc\Content\web_user\lease_admin\suite_anal_over.htm" data-helpSystem="END USER" data-dashboardLayout="" data-dashboardView="" title="" oncontextmenu="return false;" onMouseUp="openPtask(this,event);">
                <h2 class="applications-process-title" title="">
                    <span class="process-title-text">Suite Analysis</span>
                </h2>
                <div class="bucket-wrapper" id="wrapper_abrplmleaseadministration_suiteAnalysis">
                        <ol class="ptask-labels">
                            <li></li>
                            <ol class="process-tasks">
                                <li><a href="ab-sp-su-vacant.axvw" rel="pTask" data-taskId="View Vacant Suites" data-taskIcon="ab-icon-task.gif">View Vacant Suites</a></li>
                                <li><a href="ab-sp-hl-su-vacant.axvw" rel="pTask" data-taskId="Highlight Vacant Suites" data-taskIcon="ab-icon-task.gif">Highlight Vacant Suites</a></li>
                                <li><a href="ab-sp-su-expiring.axvw" rel="pTask" data-taskId="View Suites for Expiring Leases" data-taskIcon="ab-icon-task.gif">View Suites for Expiring Leases</a></li>
                                <li><a href="ab-sp-hl-su-expiring.axvw" rel="pTask" data-taskId="Highlight Suites for Expiring Leases" data-taskIcon="ab-icon-task.gif">Highlight Suites for Expiring Leases</a></li>
                                <li><a href="ab-sp-hl-su-by-ls.axvw" rel="pTask" data-taskId="Highlight Suites by Lease" data-taskIcon="ab-icon-task.gif">Highlight Suites by Lease</a></li>
                            </ol>
                            <li class="empty-taskgroup-title">&nbsp;</li>
                            <ol class="process-tasks">
                                <li><a href="ab-sp-su-by-bl.axvw" rel="pTask" data-taskId="View Suites by Building" data-taskIcon="ab-icon-task.gif">View Suites by Building</a></li>
                                <li><a href="ab-sp-su-by-fl.axvw" rel="pTask" data-taskId="View Suites by Floor" data-taskIcon="ab-icon-task.gif">View Suites by Floor</a></li>
                                <li><a href="ab-sp-su-by-ls.axvw" rel="pTask" data-taskId="View Suites by Lease" data-taskIcon="ab-icon-task.gif">View Suites by Lease</a></li>
                            </ol>
                        </ol>
                </div>
            </div>
            <div class="bucket-application " data-productId="AbRPLM" data-activityId="AbRPLMLeaseAdministration" data-processId="Reports" data-productTitle="Real Estate Portfolio Management" data-activityTitle="Lease Administration" data-processTitle="Reports" data-subfolder="\ab-products\rplm\ls-admin" data-helpLink="\Subsystems\webc\Content\web_user\lease_admin\reports\lease_admin_rpts_overview.htm" data-helpSystem="END USER" data-dashboardLayout="" data-dashboardView="" title="" oncontextmenu="return false;" onMouseUp="openPtask(this,event);">
                <h2 class="applications-process-title" title="">
                    <span class="process-title-text">Reports</span>
                </h2>
                <div class="bucket-wrapper" id="wrapper_abrplmleaseadministration_reports">
                        <ol class="ptask-labels">
                            <li></li>
                            <ol class="process-tasks">
                                <li><a href="ab-rplm-lsadmin-alerts-view.axvw" rel="pTask" data-taskId="Alerts" data-taskIcon="ab-icon-task.gif">Alerts</a></li>
                                <li><a href="ab-rplm-lsadmin-leases-by-end-date-report.axvw" rel="pTask" data-taskId="Leases by Expiration Date" data-taskIcon="ab-icon-task.gif">Leases by Expiration Date</a></li>
                                <li><a href="ab-rplm-lsadmin-options-by-expiration-report.axvw" rel="pTask" data-taskId="Options by Expiration Date" data-taskIcon="ab-icon-task.gif">Options by Expiration Date</a></li>
                                <li><a href="ab-repm-lsadmin-rentroll-report.axvw" rel="pTask" data-taskId="Rent Roll Report" data-taskIcon="ab-icon-task.gif">Rent Roll Report</a></li>
                            </ol>
                            <li>Lease Reports by Month</li>
                            <ol class="process-tasks">
                                <li><a href="ab-rplm-lsadmin-lease-recurring-cost-by-month-report.axvw" rel="pTask" data-taskId="... Net Income" data-taskIcon="ab-icon-task.gif">... Net Income</a></li>
                                <li><a href="ab-rplm-lsadmin-lease-income-by-month-report.axvw" rel="pTask" data-taskId="... Income" data-taskIcon="ab-icon-task.gif">... Income</a></li>
                                <li><a href="ab-rplm-lsadmin-lease-commit-costs-by-month-report.axvw" rel="pTask" data-taskId="... Commitment Costs" data-taskIcon="ab-icon-task.gif">... Commitment Costs</a></li>
                                <li><a href="ab-rplm-lsadmin-lease-base-rent-costs-by-month-report.axvw" rel="pTask" data-taskId="... Base Rent Expenses" data-taskIcon="ab-icon-task.gif">... Base Rent Expenses</a></li>
                            </ol>
                            <li>Lease Reports by Year</li>
                            <ol class="process-tasks">
                                <li><a href="ab-rplm-lsadmin-lease-recurring-costs-by-year-report.axvw" rel="pTask" data-taskId="-... Net Income" data-taskIcon="ab-icon-task.gif">-... Net Income</a></li>
                                <li><a href="ab-rplm-lsadmin-lease-income-by-year-report.axvw" rel="pTask" data-taskId="-... Income" data-taskIcon="ab-icon-task.gif">-... Income</a></li>
                                <li><a href="ab-rplm-lsadmin-lease-commit-costs-by-year-report.axvw" rel="pTask" data-taskId="-... Commitment Costs" data-taskIcon="ab-icon-task.gif">-... Commitment Costs</a></li>
                                <li><a href="ab-rplm-lsadmin-lease-base-rent-costs-by-year-report.axvw" rel="pTask" data-taskId="-... Base Rent Expenses" data-taskIcon="ab-icon-task.gif">-... Base Rent Expenses</a></li>
                            </ol>
                            <li class="empty-taskgroup-title">&nbsp;</li>
                            <ol class="process-tasks">
                                <li><a href="ab-rplm-lsadmin-leases-expiring-per-year-chart.axvw" rel="pTask" data-taskId="... Expirations" data-taskIcon="ab-icon-task.gif">... Expirations</a></li>
                            </ol>
                            <li>View Abstract:</li>
                            <ol class="process-tasks">
                                <li><a href="ab-repm-lsadmin-pr-abstract-report.axvw" rel="pTask" data-taskId="... Property" data-taskIcon="ab-icon-task.gif">... Property</a></li>
                                <li><a href="ab-repm-lsadmin-bldg-abstract-report.axvw" rel="pTask" data-taskId="-... Building" data-taskIcon="ab-icon-task.gif">-... Building</a></li>
                                <li><a href="ab-repm-lsadmin-ls-abstract-report.axvw" rel="pTask" data-taskId="-... Lease" data-taskIcon="ab-icon-task.gif">-... Lease</a></li>
                            </ol>
                            <li>View Details:</li>
                            <ol class="process-tasks">
                                <li><a href="ab-rplm-lsadmin-owned-struc-details-report.axvw" rel="pTask" data-taskId="... Structure" data-taskIcon="ab-icon-task.gif">... Structure</a></li>
                                <li><a href="ab-rplm-lsadmin-owned-land-details-report.axvw" rel="pTask" data-taskId="... Land" data-taskIcon="ab-icon-task.gif">... Land</a></li>
                                <li><a href="ab-rplm-lsadmin-owned-bldg-details-report.axvw" rel="pTask" data-taskId="... Building" data-taskIcon="ab-icon-task.gif">... Building</a></li>
                                <li><a href="ab-rplm-lsadmin-leases-details-report.axvw" rel="pTask" data-taskId="... Lease" data-taskIcon="ab-icon-task.gif">... Lease</a></li>
                            </ol>
                            <li>View Amenities by:</li>
                            <ol class="process-tasks">
                                <li><a href="ab-repm-lsadmin-amenities-by-prop.axvw" rel="pTask" data-taskId="-... Property" data-taskIcon="ab-icon-task.gif">-... Property</a></li>
                                <li><a href="ab-repm-lsadmin-amenities-by-bl.axvw" rel="pTask" data-taskId="---... Building" data-taskIcon="ab-icon-task.gif">---... Building</a></li>
                                <li><a href="ab-repm-lsadmin-amenities-by-ls.axvw" rel="pTask" data-taskId="--... Lease" data-taskIcon="ab-icon-task.gif">--... Lease</a></li>
                            </ol>
                            <li>View Leases by:</li>
                            <ol class="process-tasks">
                                <li><a href="ab-repm-lsadmin-ls-by-landlrd.axvw" rel="pTask" data-taskId="... Landlord Name" data-taskIcon="ab-icon-task.gif">... Landlord Name</a></li>
                                <li><a href="ab-repm-lsadmin-ls-by-tenant.axvw" rel="pTask" data-taskId="... Tenant Name" data-taskIcon="ab-icon-task.gif">... Tenant Name</a></li>
                                <li><a href="ab-repm-lsadmin-ls-by-ac.axvw" rel="pTask" data-taskId="--... Account" data-taskIcon="ab-icon-task.gif">--... Account</a></li>
                            </ol>
                            <li class="empty-taskgroup-title">&nbsp;</li>
                            <ol class="process-tasks">
                                <li><a href="ab-repm-lsadmin-tenant-ls-by-bl.axvw" rel="pTask" data-taskId="Tenants Leases by Building" data-taskIcon="ab-icon-task.gif">Tenants Leases by Building</a></li>
                                <li><a href="ab-repm-lsadmin-landlrd-ls-by-bl.axvw" rel="pTask" data-taskId="Landlord Leases by Building" data-taskIcon="ab-icon-task.gif">Landlord Leases by Building</a></li>
                                <li><a href="ab-repm-lsadmin-lshold-impr-by-ls.axvw" rel="pTask" data-taskId="Leasehold Improvements" data-taskIcon="ab-icon-task.gif">Leasehold Improvements</a></li>
                                <li><a href="ab-repm-lsadmin-tenant-landlrd-resp.axvw" rel="pTask" data-taskId="Tenant and Landlord Responsibilities" data-taskIcon="ab-icon-task.gif">Tenant and Landlord Responsibilities</a></li>
                            </ol>
                            <li>Lease Communications</li>
                            <ol class="process-tasks">
                                <li><a href="ab-repm-lsadmin-comm-log.axvw" rel="pTask" data-taskId="Communication Log Items" data-taskIcon="ab-icon-task.gif">Communication Log Items</a></li>
                                <li><a href="ab-repm-lsadmin-comm-log-by-lease.axvw" rel="pTask" data-taskId="... by Lease" data-taskIcon="ab-icon-task.gif">... by Lease</a></li>
                                <li><a href="ab-repm-lsadmin-comm-log-by-activity-log.axvw" rel="pTask" data-taskId="... by Activity Log Item" data-taskIcon="ab-icon-task.gif">... by Activity Log Item</a></li>
                                <li><a href="ab-repm-lsadmin-comm-log-by-project.axvw" rel="pTask" data-taskId="... by Activity Log Item by Project" data-taskIcon="ab-icon-task.gif">... by Activity Log Item by Project</a></li>
                                <li><a href="ab-repm-lsadmin-comm-log-by-contact.axvw" rel="pTask" data-taskId="... by Contact" data-taskIcon="ab-icon-task.gif">... by Contact</a></li>
                                <li><a href="ab-repm-lsadmin-comm-log-by-date.axvw" rel="pTask" data-taskId="... by Date" data-taskIcon="ab-icon-task.gif">... by Date</a></li>
                            </ol>
                        </ol>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
$(document).ready(function() {
    $('#navigationTabs').find('a').click(function() {return false;});
    initDandDFavorites();
    setPageDimensions();
    bindTaskContextMenu();
    localizeFavoritesDisplayText();
    loadFavoritesBuckets();
    modifyProcessTitleDisplay();
    pageTallPTaskBuckets();
});
</script>