<div class="nav-pages" id="Hoteling">
    <div class="page">
        <div class="page-row full-height" >
            <h3 class="application-title" data-activityId="AbSpaceHotelling">Hoteling</h3>
            <hr class="application-horizontal-rule">
            <div id="appProcFavoritesBucket" class="bucket-application bucket-background-light " data-activityId="" data-processId="" oncontextmenu="return false;">
                <h2 class="applications-process-title" data-processId="" title="Most often used tasks and reports.">My Favorites</h2>
                <div class="bucket-wrapper" id="wrapper_2ab332b2-0289-4895-b595-dd7cd1eeaea0">
                    <div class="favorites-drop-target">
                        <span class="favorites-add-target"></span>
                        <span class="favorites-delete-target">&nbsp;</span>
                    </div>
                    <div class="favorites" onMouseUp="openPtask(this,event);">
                        <ol class="favorites-items">
                        </ol>
                    </div>
                </div>
            </div>
            <div class="bucket-application " data-productId="AbWorkplaceServices" data-activityId="AbSpaceHotelling" data-processId="Business Process Owner" data-productTitle="Workplace Services" data-activityTitle="Hoteling" data-processTitle="Business Process Owner" data-subfolder="\ab-products\workplace\hoteling" data-helpLink="\Subsystems\webc\Content\hoteling\fim\overview.htm" data-helpSystem="END USER" data-dashboardLayout="" data-dashboardView="" title="" oncontextmenu="return false;" onMouseUp="openPtask(this,event);">
                <h2 class="applications-process-title" title="">
                    <span class="process-title-text">Business Process Owner</span>
                </h2>
                <div class="bucket-wrapper" id="wrapper_abspacehotelling_businessProcessOwner">
                        <ol class="ptask-labels">
                            <li>Configure Process</li>
                            <ol class="process-tasks">
                                <li><a href="ab-ht-activity-params.axvw" rel="pTask" data-taskId="Configure Approval and Notification Parameters" data-taskIcon="ab-icon-task.gif">Configure Approval and Notification Parameters</a></li>
                                <li><a href="ab-ht-rm-hotelable.axvw" rel="pTask" data-taskId="Define Hotelable Rooms" data-taskIcon="ab-icon-task.gif">Define Hotelable Rooms</a></li>
                                <li><a href="ab-ht-emstd-rmstd.axvw" rel="pTask" data-taskId="Define Room Standards Allowed by Employee Standard" data-taskIcon="ab-icon-task.gif">Define Room Standards Allowed by Employee Standard</a></li>
                                <li><a href="ab-ht-rmstd-emstd.axvw" rel="pTask" data-taskId="Define Employee Standards Allowed by Room Standard" data-taskIcon="ab-icon-task.gif">Define Employee Standards Allowed by Room Standard</a></li>
                                <li><a href="ab-ht-dp-approving-manager.axvw" rel="pTask" data-taskId="Define Department Approving Manager" data-taskIcon="ab-icon-task.gif">Define Department Approving Manager</a></li>
                            </ol>
                            <li>Define Background Data</li>
                            <ol class="process-tasks">
                                <li><a href="ab-sp-def-loc-rm.axvw" rel="pTask" data-taskId="Define Locations" data-taskIcon="ab-icon-task.gif">Define Locations</a></li>
                                <li><a href="ab-sp-def-rmcat-rmtype.axvw" rel="pTask" data-taskId="Define Room Categories and Types" data-taskIcon="ab-icon-task.gif">Define Room Categories and Types</a></li>
                                <li><a href="ab-sp-def-rmstd.axvw" rel="pTask" data-taskId="Define Room Standards" data-taskIcon="ab-icon-task.gif">Define Room Standards</a></li>
                            </ol>
                            <li class="empty-taskgroup-title">&nbsp;</li>
                            <ol class="process-tasks">
                                <li><a href="ab-sp-def-org.axvw" rel="pTask" data-taskId="Define Organizations" data-taskIcon="ab-icon-task.gif">Define Organizations</a></li>
                            </ol>
                            <li class="empty-taskgroup-title">&nbsp;</li>
                            <ol class="process-tasks">
                                <li><a href="ab-common-def-em.axvw" rel="pTask" data-taskId="Define Employees" data-taskIcon="ab-icon-task.gif">Define Employees</a></li>
                                <li><a href="ab-sp-def-emstd.axvw" rel="pTask" data-taskId="Define Employee Standards" data-taskIcon="ab-icon-task.gif">Define Employee Standards</a></li>
                                <li><a href="ab-ht-create-sp-booking-visitor-mgmt.axvw" rel="pTask" data-taskId="Define Visitors" data-taskIcon="ab-icon-task.gif">Define Visitors</a></li>
                            </ol>
                            <li class="empty-taskgroup-title">&nbsp;</li>
                            <ol class="process-tasks">
                                <li><a href="ab-rr-resource-std.axvw" rel="pTask" data-taskId="Define Resource Standards" data-taskIcon="ab-icon-task.gif">Define Resource Standards</a></li>
                                <li><a href="ab-rr-resource.axvw" rel="pTask" data-taskId="Define Resources" data-taskIcon="ab-icon-task.gif">Define Resources</a></li>
                            </ol>
                        </ol>
                </div>
            </div>
            <div class="bucket-application " data-productId="AbWorkplaceServices" data-activityId="AbSpaceHotelling" data-processId="Create and Review Bookings" data-productTitle="Workplace Services" data-activityTitle="Hoteling" data-processTitle="Create and Review Bookings" data-subfolder="\ab-products\workplace\hoteling" data-helpLink="\Subsystems\webc\Content\hoteling\web_user\book_room_over.htm" data-helpSystem="END USER" data-dashboardLayout="" data-dashboardView="" title="" oncontextmenu="return false;" onMouseUp="openPtask(this,event);">
                <h2 class="applications-process-title" title="">
                    <span class="process-title-text">Create and Review Bookings</span>
                </h2>
                <div class="bucket-wrapper" id="wrapper_abspacehotelling_createAndReviewBookings">
                        <ol class="ptask-labels">
                            <li></li>
                            <ol class="process-tasks">
                                <li><a href="ab-ht-booking-create.axvw" rel="pTask" data-taskId="Create Booking" data-taskIcon="ab-icon-task.gif">Create Booking</a></li>
                                <li><a href="ab-ht-booking-review.axvw" rel="pTask" data-taskId="Review Bookings" data-taskIcon="ab-icon-task.gif">Review Bookings</a></li>
                                <li><a href="ab-ht-booking-confirm.axvw" rel="pTask" data-taskId="Confirm Bookings" data-taskIcon="ab-icon-task.gif">Confirm Bookings</a></li>
                            </ol>
                        </ol>
                </div>
            </div>
            <div class="bucket-application " data-productId="AbWorkplaceServices" data-activityId="AbSpaceHotelling" data-processId="Approve Bookings" data-productTitle="Workplace Services" data-activityTitle="Hoteling" data-processTitle="Approve Bookings" data-subfolder="\ab-products\workplace\hoteling" data-helpLink="\Subsystems\webc\Content\hoteling\web_user\approve.htm" data-helpSystem="END USER" data-dashboardLayout="" data-dashboardView="" title="" oncontextmenu="return false;" onMouseUp="openPtask(this,event);">
                <h2 class="applications-process-title" title="">
                    <span class="process-title-text">Approve Bookings</span>
                </h2>
                <div class="bucket-wrapper" id="wrapper_abspacehotelling_approveBookings">
                        <ol class="ptask-labels">
                            <li></li>
                            <ol class="process-tasks">
                                <li><a href="ab-ht-booking-approve.axvw" rel="pTask" data-taskId="Approve Bookings" data-taskIcon="ab-icon-task.gif">Approve Bookings</a></li>
                            </ol>
                        </ol>
                </div>
            </div>
            <div class="bucket-application " data-productId="AbWorkplaceServices" data-activityId="AbSpaceHotelling" data-processId="Service Bookings" data-productTitle="Workplace Services" data-activityTitle="Hoteling" data-processTitle="Service Bookings" data-subfolder="\ab-products\workplace\hoteling" data-helpLink="\Subsystems\webc\Content\hoteling\web_user\service.htm" data-helpSystem="END USER" data-dashboardLayout="" data-dashboardView="" title="" oncontextmenu="return false;" onMouseUp="openPtask(this,event);">
                <h2 class="applications-process-title" title="">
                    <span class="process-title-text">Service Bookings</span>
                </h2>
                <div class="bucket-wrapper" id="wrapper_abspacehotelling_serviceBookings">
                        <ol class="ptask-labels">
                            <li></li>
                            <ol class="process-tasks">
                                <li><a href="ab-ht-booking-service.axvw" rel="pTask" data-taskId="Service Bookings" data-taskIcon="ab-icon-task.gif">Service Bookings</a></li>
                            </ol>
                        </ol>
                </div>
            </div>
        </div>
        <div class="page-row full-height" >
            <h3 class="application-title" data-activityId="AbSpaceHotelling">Hoteling</h3>
            <hr class="application-horizontal-rule">
            <div class="bucket-application " data-productId="AbWorkplaceServices" data-activityId="AbSpaceHotelling" data-processId="Operational Reports" data-productTitle="Workplace Services" data-activityTitle="Hoteling" data-processTitle="Operational Reports" data-subfolder="\ab-products\workplace\hoteling" data-helpLink="\Subsystems\webc\Content\hoteling\web_user\operation_report.htm" data-helpSystem="END USER" data-dashboardLayout="" data-dashboardView="" title="" oncontextmenu="return false;" onMouseUp="openPtask(this,event);">
                <h2 class="applications-process-title" title="">
                    <span class="process-title-text">Operational Reports</span>
                </h2>
                <div class="bucket-wrapper" id="wrapper_abspacehotelling_operationalReports">
                        <ol class="ptask-labels">
                            <li></li>
                            <ol class="process-tasks">
                                <li><a href="ab-ht-rpt-booking.axvw" rel="pTask" data-taskId="Bookings for a Date Range" data-taskIcon="ab-icon-task.gif">Bookings for a Date Range</a></li>
                                <li><a href="ab-ht-rpt-booking-img.axvw" rel="pTask" data-taskId="Bookings with Images for a Date Range" data-taskIcon="ab-icon-task.gif">Bookings with Images for a Date Range</a></li>
                            </ol>
                            <li class="empty-taskgroup-title">&nbsp;</li>
                            <ol class="process-tasks">
                                <li><a href="ab-ht-rpt-rm-no-booking.axvw" rel="pTask" data-taskId="Rooms Without Bookings for a Date Range" data-taskIcon="ab-icon-task.gif">Rooms Without Bookings for a Date Range</a></li>
                                <li><a href="ab-ht-rpt-rm-no-booking-img.axvw" rel="pTask" data-taskId="Rooms Without Bookings with Images for a Date Range" data-taskIcon="ab-icon-task.gif">Rooms Without Bookings with Images for a Date Range</a></li>
                            </ol>
                            <li class="empty-taskgroup-title">&nbsp;</li>
                            <ol class="process-tasks">
                                <li><a href="ab-ht-rpt-booking-em.axvw" rel="pTask" data-taskId="Bookings by Employee" data-taskIcon="ab-icon-task.gif">Bookings by Employee</a></li>
                            </ol>
                            <li class="empty-taskgroup-title">&nbsp;</li>
                            <ol class="process-tasks">
                                <li><a href="ab-ht-rpt-booking-dp.axvw" rel="pTask" data-taskId="Bookings by Department" data-taskIcon="ab-icon-task.gif">Bookings by Department</a></li>
                                <li><a href="ab-ht-rpt-booking-dp-date.axvw" rel="pTask" data-taskId="Bookings by Department for a Date Range" data-taskIcon="ab-icon-task.gif">Bookings by Department for a Date Range</a></li>
                            </ol>
                            <li class="empty-taskgroup-title">&nbsp;</li>
                            <ol class="process-tasks">
                                <li><a href="ab-ht-rpt-hl-rm-booking.axvw" rel="pTask" data-taskId="Highlight Hotelable Rooms" data-taskIcon="ab-icon-task.gif">Highlight Hotelable Rooms</a></li>
                            </ol>
                        </ol>
                </div>
            </div>
            <div class="bucket-application " data-productId="AbWorkplaceServices" data-activityId="AbSpaceHotelling" data-processId="Management Reports" data-productTitle="Workplace Services" data-activityTitle="Hoteling" data-processTitle="Management Reports" data-subfolder="\ab-products\workplace\hoteling" data-helpLink="\Subsystems\webc\Content\hoteling\web_user\mgmnt_reports.htm" data-helpSystem="END USER" data-dashboardLayout="" data-dashboardView="" title="" oncontextmenu="return false;" onMouseUp="openPtask(this,event);">
                <h2 class="applications-process-title" title="">
                    <span class="process-title-text">Management Reports</span>
                </h2>
                <div class="bucket-wrapper" id="wrapper_abspacehotelling_managementReports">
                        <ol class="ptask-labels">
                            <li></li>
                            <ol class="process-tasks">
                                <li><a href="ab-sp-vw-overalloc-underalloc-rm.axvw" rel="pTask" data-taskId="Over-allocated and Under-allocated Rooms" data-taskIcon="ab-icon-task.gif">Over-allocated and Under-allocated Rooms</a></li>
                            </ol>
                            <li class="empty-taskgroup-title">&nbsp;</li>
                            <ol class="process-tasks">
                                <li><a href="ab-ht-rpt-vw-chargeable-cost-by-dv.axvw" rel="pTask" data-taskId="Hoteling Chargeable Costs by Division" data-taskIcon="ab-icon-task.gif">Hoteling Chargeable Costs by Division</a></li>
                            </ol>
                            <li class="empty-taskgroup-title">&nbsp;</li>
                            <ol class="process-tasks">
                                <li><a href="ab-ht-rpt-ovrall-util-by-dp.axvw" rel="pTask" data-taskId="Overall Utilization by Department" data-taskIcon="ab-icon-task.gif">Overall Utilization by Department</a></li>
                                <li><a href="ab-ht-rpt-ovrall-util-by-rm.axvw" rel="pTask" data-taskId="Overall Utilization by Room" data-taskIcon="ab-icon-task.gif">Overall Utilization by Room</a></li>
                                <li><a href="ab-ht-rpt-ovrall-util-by-bl.axvw" rel="pTask" data-taskId="Overall Utilization by Building" data-taskIcon="ab-icon-task.gif">Overall Utilization by Building</a></li>
                                <li><a href="ab-ht-rpt-ht-util-by-dp.axvw" rel="pTask" data-taskId="Hoteled Utilization by Department" data-taskIcon="ab-icon-task.gif">Hoteled Utilization by Department</a></li>
                                <li><a href="ab-ht-rpt-ht-util-by-rm.axvw" rel="pTask" data-taskId="Hoteled Utilization by Room" data-taskIcon="ab-icon-task.gif">Hoteled Utilization by Room</a></li>
                            </ol>
                            <li class="empty-taskgroup-title">&nbsp;</li>
                            <ol class="process-tasks">
                                <li><a href="ab-ht-rpt-savings-by-dp.axvw" rel="pTask" data-taskId="Hotel Savings by Department" data-taskIcon="ab-icon-task.gif">Hotel Savings by Department</a></li>
                                <li><a href="ab-ht-rpt-savings-by-bl.axvw" rel="pTask" data-taskId="Hotel Savings by Building" data-taskIcon="ab-icon-task.gif">Hotel Savings by Building</a></li>
                            </ol>
                        </ol>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
$(document).ready(function() {
    $('#navigationTabs').find('a').click(function() {return false;});
    initDandDFavorites();
    setPageDimensions();
    bindTaskContextMenu();
    localizeFavoritesDisplayText();
    loadFavoritesBuckets();
    modifyProcessTitleDisplay();
    pageTallPTaskBuckets();
});
</script>