<div class="nav-pages" id="SoftwareEngineeringTechniques">
    <div class="page">
        <div class="page-row full-height" >
            <h3 class="application-title" data-activityId="AbSolutionsViewsSoftwareEng">Software Engineering Techniques</h3>
            <hr class="application-horizontal-rule">
            <div id="appProcFavoritesBucket" class="bucket-application bucket-background-light " data-activityId="" data-processId="" oncontextmenu="return false;">
                <h2 class="applications-process-title" data-processId="" title="Most often used tasks and reports.">My Favorites</h2>
                <div class="bucket-wrapper" id="wrapper_f16f3d18-2f5a-4ed3-a449-0a1e441de072">
                    <div class="favorites-drop-target">
                        <span class="favorites-add-target"></span>
                        <span class="favorites-delete-target">&nbsp;</span>
                    </div>
                    <div class="favorites" onMouseUp="openPtask(this,event);">
                        <ol class="favorites-items">
                        </ol>
                    </div>
                </div>
            </div>
            <div class="bucket-application " data-productId="AbSolutionTemplates" data-activityId="AbSolutionsViewsSoftwareEng" data-processId="Software Engineer Views" data-productTitle="Technologies" data-activityTitle="Software Engineering Techniques" data-processTitle="Software Engineer Views" data-subfolder="\ab-products\solutions" data-helpLink="" data-helpSystem="END USER" data-dashboardLayout="" data-dashboardView="" title="" oncontextmenu="return false;" onMouseUp="openPtask(this,event);">
                <h2 class="applications-process-title" title="">
                    <span class="process-title-text">Software Engineer Views</span>
                </h2>
                <div class="bucket-wrapper" id="wrapper_absolutionsviewssoftwareeng_softwareEngineerViews">
                        <ol class="ptask-labels">
                            <li>JavaScript Techniques</li>
                            <ol class="process-tasks">
                                <li><a href="ab-ex-prg-data.axvw" rel="pTask" data-taskId="Load and Save Data" data-taskIcon="ab-icon-task.gif">Load and Save Data</a></li>
                                <li><a href="ab-ex-prg-opener.axvw" rel="pTask" data-taskId="Load and Control Pop-up Dialogs" data-taskIcon="ab-icon-task.gif">Load and Control Pop-up Dialogs</a></li>
                                <li><a href="ab-ex-user-procs.axvw" rel="pTask" data-taskId="Make Drag and Drop Assignments" data-taskIcon="ab-icon-task.gif">Make Drag and Drop Assignments</a></li>
                                <li><a href="ab-ex-echo.axvw" rel="pTask" data-taskId="Invoke the "Echo" Web Service" data-taskIcon="ab-icon-task.gif">Invoke the "Echo" Web Service</a></li>
                                <li><a href="ab-ex-prg-error.axvw" rel="pTask" data-taskId="Illustrate Error Handling" data-taskIcon="ab-icon-task.gif">Illustrate Error Handling</a></li>
                                <li><a href="ab-dyna-panel.axvw" rel="pTask" data-taskId="Load a New View Dynamically" data-taskIcon="ab-icon-task.gif">Load a New View Dynamically</a></li>
                            </ol>
                            <li>Miniconsole Views</li>
                            <ol class="process-tasks">
                                <li><a href="ab-ex-miniconsole-custom-hdr-body-ftr.axvw" rel="pTask" data-taskId="Miniconsole with Customized Header, Footer and Data" data-taskIcon="ab-icon-task.gif">Miniconsole with Customized Header, Footer and Data</a></li>
                                <li><a href="ab-ex-prg-grid-show-hide-sort-columns.axvw" rel="pTask" data-taskId="Miniconsole with Columns that can be Shown, Hidden, or Sorted" data-taskIcon="ab-icon-task.gif">Miniconsole with Columns that can be Shown, Hidden, or Sorted</a></li>
                            </ol>
                            <li>Report Grid Views</li>
                            <ol class="process-tasks">
                                <li><a href="ab-ex-report-grid-custom-hdr-body-ftr.axvw" rel="pTask" data-taskId="Report with Personalized Header, Footer and Data" data-taskIcon="ab-icon-task.gif">Report with Personalized Header, Footer and Data</a></li>
                                <li><a href="ab-ex-prg-grid-custom-constructor.axvw" rel="pTask" data-taskId="Filling the Report Grid with a Workflow Rule" data-taskIcon="ab-icon-task.gif">Filling the Report Grid with a Workflow Rule</a></li>
                                <li><a href="ab-ex-report-grid-hide-show.axvw" rel="pTask" data-taskId="Hiding and Showing the Report Grid" data-taskIcon="ab-icon-task.gif">Hiding and Showing the Report Grid</a></li>
                                <li><a href="ab-ex-report-grid-personalized-footer.axvw" rel="pTask" data-taskId="Setting a Personalized Footer" data-taskIcon="ab-icon-task.gif">Setting a Personalized Footer</a></li>
                                <li><a href="ab-ex-report-grid-sql.axvw" rel="pTask" data-taskId="Report with SQL Statistics" data-taskIcon="ab-icon-task.gif">Report with SQL Statistics</a></li>
                                <li><a href="ab-ex-report-grid-sql-statistics.axvw" rel="pTask" data-taskId="Report with SQL Statistics and Totals" data-taskIcon="ab-icon-task.gif">Report with SQL Statistics and Totals</a></li>
                            </ol>
                            <li>Tree Views</li>
                            <ol class="process-tasks">
                                <li><a href="ab-ex-selectable-nodes-tree.axvw" rel="pTask" data-taskId="Tree View with Multiple Selection Checkboxes" data-taskIcon="ab-icon-task.gif">Tree View with Multiple Selection Checkboxes</a></li>
                            </ol>
                            <li>Timeline Views</li>
                            <ol class="process-tasks">
                                <li><a href="ab-ex-timeline.axvw" rel="pTask" data-taskId="Form Using the Timeline Control" data-taskIcon="ab-icon-task.gif">Form Using the Timeline Control</a></li>
                            </ol>
                            <li>Custom Controls</li>
                            <ol class="process-tasks">
                                <li><a href="ab-ex-custom-control.axvw" rel="pTask" data-taskId="Example Custom Control" data-taskIcon="ab-icon-task.gif">Example Custom Control</a></li>
                                <li><a href="ab-ex-html.axvw" rel="pTask" data-taskId="Custom HTML Panel" data-taskIcon="ab-icon-task.gif">Custom HTML Panel</a></li>
                                <li><a href="ab-ex-wizard-style.axvw" rel="pTask" data-taskId="Wizard Form Style" data-taskIcon="ab-icon-task.gif">Wizard Form Style</a></li>
                            </ol>
                            <li>Autodesk Design Review</li>
                            <ol class="process-tasks">
                                <li><a href="ab-ex-form-drawing-select-object-handler.axvw" rel="pTask" data-taskId="Embedding Autodesk Design Review" data-taskIcon="ab-icon-task.gif">Embedding Autodesk Design Review</a></li>
                                <li><a href="ab-ex-drawing-select-value.axvw" rel="pTask" data-taskId="Selecting Values Using a DWF File" data-taskIcon="ab-icon-task.gif">Selecting Values Using a DWF File</a></li>
                            </ol>
                            <li>Multi-paneled Dashboards</li>
                            <ol class="process-tasks">
                                <li><a href="ab-dash-rplm-map-main6.axvw" rel="pTask" data-taskId="6-Panel Dashboard" data-taskIcon="ab-icon-task.gif">6-Panel Dashboard</a></li>
                                <li><a href="ab-dash-rplm-map-main9.axvw" rel="pTask" data-taskId="9-Panel Dashboard" data-taskIcon="ab-icon-task.gif">9-Panel Dashboard</a></li>
                            </ol>
                        </ol>
                </div>
            </div>
            <div class="bucket-application " data-productId="AbSolutionTemplates" data-activityId="AbSolutionsViewsSoftwareEng" data-processId="Advanced Techniques" data-productTitle="Technologies" data-activityTitle="Software Engineering Techniques" data-processTitle="Advanced Techniques" data-subfolder="\ab-products\solutions" data-helpLink="" data-helpSystem="END USER" data-dashboardLayout="" data-dashboardView="" title="" oncontextmenu="return false;" onMouseUp="openPtask(this,event);">
                <h2 class="applications-process-title" title="">
                    <span class="process-title-text">Advanced Techniques</span>
                </h2>
                <div class="bucket-wrapper" id="wrapper_absolutionsviewssoftwareeng_advancedTechniques">
                        <ol class="ptask-labels">
                            <li></li>
                            <ol class="process-tasks">
                                <li><a href="ab-ex-prg-form.axvw" rel="pTask" data-taskId="Work with Forms and Form Wizards" data-taskIcon="ab-icon-task.gif">Work with Forms and Form Wizards</a></li>
                                <li><a href="ab-ex-prg-grid-legend.axvw" rel="pTask" data-taskId="Generate a Colored Legend" data-taskIcon="ab-icon-task.gif">Generate a Colored Legend</a></li>
                                <li><a href="ab-ex-prg-grid-generate.axvw" rel="pTask" data-taskId="Generate Grid Records" data-taskIcon="ab-icon-task.gif">Generate Grid Records</a></li>
                                <li><a href="ab-ex-prg-grid-editable.axvw" rel="pTask" data-taskId="Edit Records Within the Grid" data-taskIcon="ab-icon-task.gif">Edit Records Within the Grid</a></li>
                                <li><a href="ab-ex-prg-grid-custom-constructor.axvw" rel="pTask" data-taskId="Create a Grid with a Custom Constructor" data-taskIcon="ab-icon-task.gif">Create a Grid with a Custom Constructor</a></li>
                                <li><a href="ab-ex-prg-grid-add-remove.axvw" rel="pTask" data-taskId="Add, Remove, and Reorder Grid Rows" data-taskIcon="ab-icon-task.gif">Add, Remove, and Reorder Grid Rows</a></li>
                            </ol>
                            <li class="empty-taskgroup-title">&nbsp;</li>
                            <ol class="process-tasks">
                                <li><a href="ab-ex-helpdesk.axvw" rel="pTask" data-taskId="Run Helpdesk Wizard Example" data-taskIcon="ab-icon-task.gif">Run Helpdesk Wizard Example</a></li>
                                <li><a href="ab-ex-move-group.axvw" rel="pTask" data-taskId="Edit Group Move" data-taskIcon="ab-icon-task.gif">Edit Group Move</a></li>
                            </ol>
                            <li class="empty-taskgroup-title">&nbsp;</li>
                            <ol class="process-tasks">
                                <li><a href="ab-products/solutions/programming/objects/ab-ex-javascript-objects.htm" rel="pTask" data-taskId="Illustrate JavaScript Inheritance" data-taskIcon="ab-icon-task.gif">Illustrate JavaScript Inheritance</a></li>
                                <li><a href="ab-ex-object.axvw" rel="pTask" data-taskId="Create a JavaScript Object" data-taskIcon="ab-icon-task.gif">Create a JavaScript Object</a></li>
                            </ol>
                            <li class="empty-taskgroup-title">&nbsp;</li>
                            <ol class="process-tasks">
                                <li><a href="ab-ex-prg-questionnaire-wizard.axvw" rel="pTask" data-taskId="Virtual XML Fields: Create and View Questionnaires" data-taskIcon="ab-icon-task.gif">Virtual XML Fields: Create and View Questionnaires</a></li>
                                <li><a href="ab-ex-prg-questionnaire-form.axvw" rel="pTask" data-taskId="Display a Questionnaire in a Form" data-taskIcon="ab-icon-task.gif">Display a Questionnaire in a Form</a></li>
                                <li><a href="ab-ex-prg-questionnaire-report.axvw" rel="pTask" data-taskId="Display a Questionnaire in a Column Report" data-taskIcon="ab-icon-task.gif">Display a Questionnaire in a Column Report</a></li>
                                <li><a href="ab-ex-prg-questionnaire-action-response.axvw" rel="pTask" data-taskId="Generate a Questionnaire Action Response" data-taskIcon="ab-icon-task.gif">Generate a Questionnaire Action Response</a></li>
                                <li><a href="ab-ex-prg-form-select-value-add-new.axvw" rel="pTask" data-taskId="Custom Add New Dialog in Select Value" data-taskIcon="ab-icon-task.gif">Custom Add New Dialog in Select Value</a></li>
                            </ol>
                        </ol>
                </div>
            </div>
            <div class="bucket-application " data-productId="AbSolutionTemplates" data-activityId="AbSolutionsViewsSoftwareEng" data-processId="DataViews" data-productTitle="Technologies" data-activityTitle="Software Engineering Techniques" data-processTitle="DataViews" data-subfolder="\ab-products\solutions" data-helpLink="" data-helpSystem="END USER" data-dashboardLayout="" data-dashboardView="" title="" oncontextmenu="return false;" onMouseUp="openPtask(this,event);">
                <h2 class="applications-process-title" title="">
                    <span class="process-title-text">DataViews</span>
                </h2>
                <div class="bucket-wrapper" id="wrapper_absolutionsviewssoftwareeng_dataviews">
                        <ol class="ptask-labels">
                            <li></li>
                            <ol class="process-tasks">
                                <li><a href="ab-ex-prg-data-view-print.axvw" rel="pTask" data-taskId="DataView with Print-style Format" data-taskIcon="ab-icon-task.gif">DataView with Print-style Format</a></li>
                                <li><a href="ab-ex-prg-data-view.axvw" rel="pTask" data-taskId="DataView with Personalized Format" data-taskIcon="ab-icon-task.gif">DataView with Personalized Format</a></li>
                                <li><a href="ab-ex-prg-data-view-custom.axvw" rel="pTask" data-taskId="DataView Implemented with JavaScript Object" data-taskIcon="ab-icon-task.gif">DataView Implemented with JavaScript Object</a></li>
                                <li><a href="ab-ex-prg-data-view-layout.axvw" rel="pTask" data-taskId="DataView Inside a Layout" data-taskIcon="ab-icon-task.gif">DataView Inside a Layout</a></li>
                                <li><a href="ab-ex-prg-data-view-object.axvw" rel="pTask" data-taskId="DataView Within a Console" data-taskIcon="ab-icon-task.gif">DataView Within a Console</a></li>
                                <li><a href="ab-ex-prg-data-view-two-levels.axvw" rel="pTask" data-taskId="DataView with Two Levels of Data" data-taskIcon="ab-icon-task.gif">DataView with Two Levels of Data</a></li>
                            </ol>
                        </ol>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
$(document).ready(function() {
    $('#navigationTabs').find('a').click(function() {return false;});
    initDandDFavorites();
    setPageDimensions();
    bindTaskContextMenu();
    localizeFavoritesDisplayText();
    loadFavoritesBuckets();
    modifyProcessTitleDisplay();
    pageTallPTaskBuckets();
});
</script>