.out {
    width: 300px;
    height: 410px;
    float: left;
    margin-left: 8px;
    margin-top: 8px;
}

.in {
    width: 300px;
    height: 200px;
}

.leftFloat {
    float: left;
}

.dilogtable {
	margin-top: 20px;
    margin-left: 20px;
}

.inputStyle1 {
    width: 60px;
}

.inputStyle2 {
    width: 160px;
}

#colorDiv {
    display: inline-block;
    width: 140px;
    height: 50px;
    border: 1px solid green;
    margin-top: 5px;
    margin-left: 80px;
    visibility: hidden;
}

#hatchDiv {
    display: inline-block;
    width: 64px;
    height: 64px;
    border: 1px solid green;
    margin-top: 15px;
}

#gradientDiv {
    display: inline-block;
    width: 60px;
    height: 50px;
    border: 1px solid green;
    margin-top: 5px;
    margin-left: 120px;
}