﻿/*
@media screen {
* {
margin: 0;
padding: 0;
border: 0;
box-sizing:border-box;
-moz-box-sizing:border-box;
-webkit-box-sizing:border-box;
background-color: white;
}
body {width: 100%; text-align: center; font-family: arial, verdana, sans-serif;}
.page {width: 600px; height: 700px; display: inline-block; position: relative; margin: 10px; background-color: lavender;}
.sign {
width: 500px;
height: 600px;
border-style: solid;
border-width: 0px;
text-align: right;
background-color: white;
position: absolute;
left: 50px;
top: 50px;
}
.roomCode {font-size: 57pt; font-weight: bold; margin: 30px 60px 13px 0px;}
.divisionCode {font-size: 20pt; font-weight: bold; margin: 0px 60px 34px 0px;}
.employee {font-size: 22pt; margin: 0px 60px 9px 20px;}
.firstName {}
.lastName {font-weight: bold;}
.externalCompany {}
.verticalMark {
width: 10px;
height: 40px;
border-left: 1px solid black;
position: absolute;
background-color: lavender;
}
.verticalMark.left {left: 0px;}
.verticalMark.right {right: -10px;}
.verticalMark.top {top: -50px}
.verticalMark.bottom {bottom: -50px}
.horizontalMark {
width: 40px;
height: 10px;
border-top: 1px solid black;
position: absolute;
background-color: lavender;
}
.horizontalMark.left {left: -50px;}
.horizontalMark.right {right: -50px;}
.horizontalMark.top {top: 0px}
.horizontalMark.bottom {bottom: -10px}
img.gradient {
width: 520px;
height: 20px;
position: absolute;
left: -10px;
bottom: 40px;
}
}
@media print {
*/
* {
	margin: 0;
	padding: 0;
	border: 0;
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
}
body {width: 100%; text-align: center; font-family: arial, verdana, sans-serif; background-color: #F3F7FA;}
.page {width: 140mm; height: 155mm; display: inline-block; position: relative; margin: 10mm; page-break-inside: avoid; page-break-after: always; border-radius: 6mm; background-color: white;}
.label {
	width: 110mm;
	height: 125mm;
	border-style: solid;
	border-width: 0mm;
	text-align: right;
	position: absolute;
	left: 15mm;
	top: 15mm;
}
.firstLine {font-size: 46pt; font-weight: bold; margin: 0mm 0mm 0mm 0mm; padding: 7mm 12mm 3mm 0mm}
.secondLine {font-size: 16pt; font-weight: bold; margin: 0mm 0mm 0mm 0mm; padding: 0mm 12mm 8mm 0mm}
.compositeLine {margin: 0mm 0mm 0mm 0mm; padding: 0mm 12mm 2mm 2mm;}
.field1, .field2, .field3 {font-size: 18pt; white-space:nowrap;}
.field2 {font-weight: bold;}
.firstLine:hover, .secondLine:hover, .compositeLine:hover {background-color: orange; cursor:pointer; border-radius: 1mm;}
.verticalMark {
	width: 3mm;
	height: 12mm;
	border-left: 1px solid black;
	position: absolute;
}
.verticalMark.left {left: 0mm;}
.verticalMark.right {right: -3mm;}
.verticalMark.top {top: -15mm}
.verticalMark.bottom {bottom: -15mm}
.horizontalMark {
	width: 12mm;
	height: 3mm;
	border-top: 1px solid black;
	position: absolute;
}
.horizontalMark.left {left: -15mm;}
.horizontalMark.right {right: -15mm;}
.horizontalMark.top {top: 0mm}
.horizontalMark.bottom {bottom: -3mm}
img.gradient {
	width: 112mm;
	height: 7mm;
	position: absolute;
	left: -1mm;
	bottom: 11mm;
}
/*
}
*/