.amcharts-legend-div {
  overflow-y: auto!important;
}

/* menu button position */
.amcharts-export-menu-custom-position {
  top: 60px;
  right: 20px;
}

/* sub menu */
.amcharts-export-menu-custom-position li:hover>ul, .amcharts-export-menu-custom-position li.active>ul {
    top: 0;
    right: 100%;
}

/* pointer from button to menu */
.amcharts-export-menu-custom-position>ul>li>ul:after {
    content: "";
    position: absolute;
    top: 13px;
    left: 100%;
    z-index: 1000;
    border-top: 7px solid transparent;
    border-left: 7px solid transparent;
    border-right: 7px solid #fff;
    border-bottom: 7px solid transparent;
}
