.redline path, .redline-path {
  stroke: #f00;
  stroke-width: 3px;
  fill: none;
}

.redline rect.edit {
  fill: #ff0;
  fill-opacity: .5;
  stroke: none;
}

.redline .arrow-path {
  stroke: #f00;
  stroke-width: 3px;
  fill: #f00;   
}

.redline .area-path {
  stroke: #f00;
  stroke-width: 3px;
  fill: #f00;	
}

.redline .swatch-path {
  stroke: #f00;
  stroke-width: 3px;
  fill: #f00;   
}

.redline.arrow path {
  fill: #f00;
  stroke-width: 3px;
}

textarea.edit {
  width: 100%;
  height: 100%;
}

.redline-text {
  fill: red;
}

.redline body {
  margin: 0;
}

.redline line.shadow {
  stroke-width: 40;
  opacity: 0;
  stroke: blue;
}

.redline line path {
  stroke: #f00;
  stroke-width: 3px;
  fill: none;
}

.redline .textbox-arrow circle {
  stroke: #000;
  fill: #fff;
  stroke-width: 3px;
}

.redline .textbox-arrow path {
  stroke: #000;
  fill: #000;
  stroke-width: 3px;
}

.redlineColorRed {
    height: 20px; 
    width: 25px; 
    background-color: red;
    min-width: 25px;
    max-width: 25px;
}

.redlineColorBlack {
    height: 20px; 
    width: 25px; 
    background-color: black;
    min-width: 25px;
    max-width: 25px;
}

.redlineScaleText {
    color: #336699;
    display: inline-block;
    font-family: PT Sans,Verdana,Arial,Helvetica,sans-serif;
    font-size: 6px;
    padding-top: 5px;
}
