
.dx-datagrid .dx-row>td.bigger {
    background-image: url("../../../../ab-core/graphics/icons/view/arrow-up.png");
    background-position: right center;
    background-repeat: no-repeat;
    padding-right: 20px
}

.dx-datagrid .dx-row>td.biggerBetter {
    background-image: url("../../../../ab-core/graphics/icons/view/arrow-green-up.png");
    background-position: right center;
    background-repeat: no-repeat;
    padding-right: 20px
}

.dx-datagrid .dx-row>td.biggerWorse {
    background-image: url("../../../../ab-core/graphics/icons/view/arrow-red-up.png");
    background-position: right center;
    background-repeat: no-repeat;
    padding-right: 20px
}

.dx-datagrid .dx-row>td.smaller {
    background-image: url("../../../../ab-core/graphics/icons/view/arrow-down.png");
    background-position: right center;
    background-repeat: no-repeat;
    padding-right: 20px
}
.dx-datagrid .dx-row>td.smallerBetter {
    background-image: url("../../../../ab-core/graphics/icons/view/arrow-green-down.png");
    background-position: right center;
    background-repeat: no-repeat;
    padding-right: 20px
}
.dx-datagrid .dx-row>td.smallerWorse {
    background-image: url("../../../../ab-core/graphics/icons/view/arrow-red-down.png");
    background-position: right center;
    background-repeat: no-repeat;
    padding-right: 20px
}
