<div class="nav-pages" id="ConditionAssessment">
    <div class="page">
        <div class="page-row full-height" >
            <h3 class="application-title" data-activityId="AbCapitalPlanningCA">Condition Assessment</h3>
            <hr class="application-horizontal-rule">
            <div id="appProcFavoritesBucket" class="bucket-application bucket-background-light " data-activityId="" data-processId="" oncontextmenu="return false;">
                <h2 class="applications-process-title" data-processId="" title="Most often used tasks and reports.">My Favorites</h2>
                <div class="bucket-wrapper" id="wrapper_e52f8875-3c23-4562-8bed-3797785e0023">
                    <div class="favorites-drop-target">
                        <span class="favorites-add-target"></span>
                        <span class="favorites-delete-target">&nbsp;</span>
                    </div>
                    <div class="favorites" onMouseUp="openPtask(this,event);">
                        <ol class="favorites-items">
                        </ol>
                    </div>
                </div>
            </div>
            <div class="bucket-application " data-productId="AbBldgOps" data-activityId="AbCapitalPlanningCA" data-processId="Field Assessor" data-productTitle="Building Operations" data-activityTitle="Condition Assessment" data-processTitle="Field Assessor" data-subfolder="\ab-products\project\cond-assess" data-helpLink="\Subsystems\webc\Content\ca\web_user\assessor\enter_condition_of_eq_rooms.htm" data-helpSystem="END USER" data-dashboardLayout="" data-dashboardView="" title="" oncontextmenu="return false;" onMouseUp="openPtask(this,event);">
                <h2 class="applications-process-title" title="">
                    <span class="process-title-text">Field Assessor</span>
                </h2>
                <div class="bucket-wrapper" id="wrapper_abcapitalplanningca_fieldAssessor">
                        <ol class="ptask-labels">
                            <li></li>
                            <ol class="process-tasks">
                                <li><a href="ab-ca-my-ca-itms.axvw" rel="pTask" data-taskId="Manage My Condition Assessment Items" data-taskIcon="ab-icon-task.gif">Manage My Condition Assessment Items</a></li>
                            </ol>
                        </ol>
                </div>
            </div>
            <div class="bucket-application " data-productId="AbBldgOps" data-activityId="AbCapitalPlanningCA" data-processId="Operational Reports (Web)" data-productTitle="Building Operations" data-activityTitle="Condition Assessment" data-processTitle="Operational Reports" data-subfolder="\ab-products\project\cond-assess" data-helpLink="\Subsystems\webc\Content\ca\reports\reports.htm" data-helpSystem="END USER" data-dashboardLayout="" data-dashboardView="" title="" oncontextmenu="return false;" onMouseUp="openPtask(this,event);">
                <h2 class="applications-process-title" title="">
                    <span class="process-title-text">Operational Reports</span>
                </h2>
                <div class="bucket-wrapper" id="wrapper_abcapitalplanningca_operationalReportsWeb">
                        <ol class="ptask-labels">
                            <li></li>
                            <ol class="process-tasks">
                                <li><a href="ab-ca-cont-rep.axvw" rel="pTask" data-taskId="Contacts" data-taskIcon="ab-icon-task.gif">Contacts</a></li>
                                <li><a href="ab-ca-prj-rep.axvw" rel="pTask" data-taskId="Projects" data-taskIcon="ab-icon-task.gif">Projects</a></li>
                                <li><a href="ab-ca-class-rep.axvw" rel="pTask" data-taskId="Classifications" data-taskIcon="ab-icon-task.gif">Classifications</a></li>
                                <li><a href="ab-ca-prb-des-cd-rep.axvw" rel="pTask" data-taskId="Problem Description Codes" data-taskIcon="ab-icon-task.gif">Problem Description Codes</a></li>
                            </ol>
                            <li class="empty-taskgroup-title">&nbsp;</li>
                            <ol class="process-tasks">
                                <li><a href="ab-ca-scoreboard.axvw" rel="pTask" data-taskId="Scoreboard" data-taskIcon="ab-icon-task.gif">Scoreboard</a></li>
                                <li><a href="ab-ca-prj-stat.axvw" rel="pTask" data-taskId="Assessment Project Statistics by Location" data-taskIcon="ab-icon-task.gif">Assessment Project Statistics by Location</a></li>
                            </ol>
                            <li class="empty-taskgroup-title">&nbsp;</li>
                            <ol class="process-tasks">
                                <li><a href="ab-ca-by-prj.axvw" rel="pTask" data-taskId="Assessments by Project" data-taskIcon="ab-icon-task.gif">Assessments by Project</a></li>
                                <li><a href="ab-ca-w-cond-rt-hg-25.axvw" rel="pTask" data-taskId="Assessments with Condition Ratings Greater than 25" data-taskIcon="ab-icon-task.gif">Assessments with Condition Ratings Greater than 25</a></li>
                                <li><a href="ab-ca-o-sft-issues.axvw" rel="pTask" data-taskId="Open Safety Issues" data-taskIcon="ab-icon-task.gif">Open Safety Issues</a></li>
                                <li><a href="ab-ca-active-wr.axvw" rel="pTask" data-taskId="Work Requests Summary by Active Assessment Items" data-taskIcon="ab-icon-task.gif">Work Requests Summary by Active Assessment Items</a></li>
                                <li><a href="ab-ca-wr-stat-by-ca-prj.axvw" rel="pTask" data-taskId="Work Requests Status Statistics by Assessment Project" data-taskIcon="ab-icon-task.gif">Work Requests Status Statistics by Assessment Project</a></li>
                            </ol>
                        </ol>
                </div>
            </div>
            <div class="bucket-application " data-productId="AbBldgOps" data-activityId="AbCapitalPlanningCA" data-processId="Management Reports (Web)" data-productTitle="Building Operations" data-activityTitle="Condition Assessment" data-processTitle="Management Reports" data-subfolder="\ab-products\project\cond-assess" data-helpLink="\Subsystems\webc\Content\ca\reports\summary_reports.htm" data-helpSystem="END USER" data-dashboardLayout="" data-dashboardView="" title="" oncontextmenu="return false;" onMouseUp="openPtask(this,event);">
                <h2 class="applications-process-title" title="">
                    <span class="process-title-text">Management Reports</span>
                </h2>
                <div class="bucket-wrapper" id="wrapper_abcapitalplanningca_managementReportsWeb">
                        <ol class="ptask-labels">
                            <li></li>
                            <ol class="process-tasks">
                                <li><a href="ab-ca-unuse-ca-itm-by-pr.axvw" rel="pTask" data-taskId="Unacceptable Assessment Items by Priority" data-taskIcon="ab-icon-task.gif">Unacceptable Assessment Items by Priority</a></li>
                                <li><a href="ab-ca-bl-ca-sum.axvw" rel="pTask" data-taskId="Building Conditions Summary" data-taskIcon="ab-icon-task.gif">Building Conditions Summary</a></li>
                            </ol>
                            <li>Costs and Ratings by Classification Level 1 by:</li>
                            <ol class="process-tasks">
                                <li><a href="ab-ca-bdg-a-rt-cls1-by-rg.axvw" rel="pTask" data-taskId="... Region" data-taskIcon="ab-icon-task.gif">... Region</a></li>
                                <li><a href="ab-ca-bdg-a-rt-cls1-by-st.axvw" rel="pTask" data-taskId="... Site" data-taskIcon="ab-icon-task.gif">... Site</a></li>
                                <li><a href="ab-ca-bdg-a-rt-cls1-by-bl.axvw" rel="pTask" data-taskId="... Building" data-taskIcon="ab-icon-task.gif">... Building</a></li>
                            </ol>
                            <li>Costs and Ratings by Classification Level 2 by:</li>
                            <ol class="process-tasks">
                                <li><a href="ab-ca-bdg-a-rt-cls2-by-st.axvw" rel="pTask" data-taskId="-... Site" data-taskIcon="ab-icon-task.gif">-... Site</a></li>
                                <li><a href="ab-ca-bdg-a-rt-cls2-by-bl.axvw" rel="pTask" data-taskId="-... Building" data-taskIcon="ab-icon-task.gif">-... Building</a></li>
                            </ol>
                            <li>Costs and Ratings by Classification Level 3 by:</li>
                            <ol class="process-tasks">
                                <li><a href="ab-ca-bdg-a-rt-cls3-by-st.axvw" rel="pTask" data-taskId="--... Site" data-taskIcon="ab-icon-task.gif">--... Site</a></li>
                                <li><a href="ab-ca-bdg-a-rt-cls3-by-bl.axvw" rel="pTask" data-taskId="--... Building" data-taskIcon="ab-icon-task.gif">--... Building</a></li>
                            </ol>
                            <li class="empty-taskgroup-title">&nbsp;</li>
                            <ol class="process-tasks">
                                <li><a href="ab-ca-eq-ca-by-cls3.axvw" rel="pTask" data-taskId="Equipment Assessments by Classification Level 3" data-taskIcon="ab-icon-task.gif">Equipment Assessments by Classification Level 3</a></li>
                            </ol>
                        </ol>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
$(document).ready(function() {
    $('#navigationTabs').find('a').click(function() {return false;});
    initDandDFavorites();
    setPageDimensions();
    bindTaskContextMenu();
    localizeFavoritesDisplayText();
    loadFavoritesBuckets();
    modifyProcessTitleDisplay();
    pageTallPTaskBuckets();
});
</script>