<div class="nav-pages" id="EnterpriseMoveManagement">
    <div class="page">
        <div class="page-row full-height" >
            <h3 class="application-title" data-activityId="AbMoveManagement">Enterprise Move Management</h3>
            <hr class="application-horizontal-rule">
            <div id="appProcFavoritesBucket" class="bucket-application bucket-background-light " data-activityId="" data-processId="" oncontextmenu="return false;">
                <h2 class="applications-process-title" data-processId="" title="Most often used tasks and reports.">My Favorites</h2>
                <div class="bucket-wrapper" id="wrapper_e66f8453-a3d3-40f5-b1b5-956a1276c2e8">
                    <div class="favorites-drop-target">
                        <span class="favorites-add-target"></span>
                        <span class="favorites-delete-target">&nbsp;</span>
                    </div>
                    <div class="favorites" onMouseUp="openPtask(this,event);">
                        <ol class="favorites-items">
                        </ol>
                    </div>
                </div>
            </div>
            <div class="bucket-application " data-productId="AbMove" data-activityId="AbMoveManagement" data-processId="Executive Manager" data-productTitle="Move Management" data-activityTitle="Enterprise Move Management" data-processTitle="Executive Manager" data-subfolder="\ab-products\move\management" data-helpLink="\Subsystems\webc\Content\web_user\moves\exec_mgr_help.htm" data-helpSystem="END USER" data-dashboardLayout="" data-dashboardView="" title="Review churn rates by business unit, division, or department.   Review churn rates by month." oncontextmenu="return false;" onMouseUp="openPtask(this,event);">
                <h2 class="applications-process-title" title="Review churn rates by business unit, division, or department.   Review churn rates by month.">
                    <span class="process-title-text">Executive Manager</span>
                </h2>
                <div class="bucket-wrapper" id="wrapper_abmovemanagement_executiveManager">
                        <ol class="ptask-labels">
                            <li></li>
                            <ol class="process-tasks">
                                <li><a href="ab-mo-statistics-org.axvw" rel="pTask" data-taskId="Move Statistics by Organization" data-taskIcon="ab-icon-task.gif">Move Statistics by Organization</a></li>
                                <li><a href="ab-mo-statistics-chart-org.axvw" rel="pTask" data-taskId="Move Statistics Chart by Organization" data-taskIcon="ab-icon-task.gif">Move Statistics Chart by Organization</a></li>
                                <li><a href="ab-mo-statistics-loc.axvw" rel="pTask" data-taskId="Move Statistics by Location" data-taskIcon="ab-icon-task.gif">Move Statistics by Location</a></li>
                                <li><a href="ab-mo-statistics-chart-loc.axvw" rel="pTask" data-taskId="Move Statistics Chart by Location" data-taskIcon="ab-icon-task.gif">Move Statistics Chart by Location</a></li>
                                <li><a href="ab-mo-history.axvw" rel="pTask" data-taskId="Move History" data-taskIcon="ab-icon-task.gif">Move History</a></li>
                                <li><a href="ab-mo-report-dashboard.axvw" rel="pTask" data-taskId="Move Statistics Reports Dashboard" data-taskIcon="ab-icon-task.gif">Move Statistics Reports Dashboard</a></li>
                            </ol>
                        </ol>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
$(document).ready(function() {
    $('#navigationTabs').find('a').click(function() {return false;});
    initDandDFavorites();
    setPageDimensions();
    bindTaskContextMenu();
    localizeFavoritesDisplayText();
    loadFavoritesBuckets();
    modifyProcessTitleDisplay();
    pageTallPTaskBuckets();
});
</script>