<div class="nav-pages" id="ProjectManagement">
    <div class="page">
        <div class="page-row full-height" >
            <h3 class="application-title" data-activityId="AbProjectManagement">Project Management</h3>
            <hr class="application-horizontal-rule">
            <div id="appProcFavoritesBucket" class="bucket-application bucket-background-light " data-activityId="" data-processId="" oncontextmenu="return false;">
                <h2 class="applications-process-title" data-processId="" title="Most often used tasks and reports.">My Favorites</h2>
                <div class="bucket-wrapper" id="wrapper_27b6de0f-760f-4290-b5c8-a9fc34f1f1da">
                    <div class="favorites-drop-target">
                        <span class="favorites-add-target"></span>
                        <span class="favorites-delete-target">&nbsp;</span>
                    </div>
                    <div class="favorites" onMouseUp="openPtask(this,event);">
                        <ol class="favorites-items">
                        </ol>
                    </div>
                </div>
            </div>
            <div class="bucket-application " data-productId="AbProject" data-activityId="AbProjectManagement" data-processId="Plan" data-productTitle="Capital Project Management" data-activityTitle="Project Management" data-processTitle="Plan" data-subfolder="\ab-products\project\management" data-helpLink="\Subsystems\webc\Content\web_user\projects\planning\add_proj_actions.htm" data-helpSystem="END USER" data-dashboardLayout="" data-dashboardView="" title="Get the top-level summary and performance statistics for all active projects throughout all of your sites.  Spot lagging projects and budget variances." oncontextmenu="return false;" onMouseUp="openPtask(this,event);">
                <h2 class="applications-process-title" title="Get the top-level summary and performance statistics for all active projects throughout all of your sites.  Spot lagging projects and budget variances.">
                    <span class="process-title-text">Plan</span>
                </h2>
                <div class="bucket-wrapper" id="wrapper_abprojectmanagement_plan">
                        <ol class="ptask-labels">
                            <li></li>
                            <ol class="process-tasks">
                                <li><a href="ab-proj-project-profiles.axvw" rel="pTask" data-taskId="Review Project Profiles" data-taskIcon="ab-icon-task.gif">Review Project Profiles</a></li>
                                <li><a href="ab-proj-add-or-edit-actions.axvw" rel="pTask" data-taskId="Add or Edit Actions" data-taskIcon="ab-icon-task.gif">Add or Edit Actions</a></li>
                                <li><a href="ab-proj-actions-with-docs.axvw" rel="pTask" data-taskId="View Actions with Documents and Drawings" data-taskIcon="ab-icon-task.gif">View Actions with Documents and Drawings</a></li>
                                <li><a href="ab-proj-assign-team.axvw" rel="pTask" data-taskId="Assign Team" data-taskIcon="ab-icon-task.gif">Assign Team</a></li>
                                <li><a href="ab-proj-estimate-actions-sched-design.axvw" rel="pTask" data-taskId="Estimate Design Schedule and Durations" data-taskIcon="ab-icon-task.gif">Estimate Design Schedule and Durations</a></li>
                                <li><a href="ab-proj-estimate-actions-costs-design.axvw" rel="pTask" data-taskId="Estimate Design Costs" data-taskIcon="ab-icon-task.gif">Estimate Design Costs</a></li>
                                <li><a href="ab-proj-create-work-pkgs.axvw" rel="pTask" data-taskId="Add or Edit Work Packages" data-taskIcon="ab-icon-task.gif">Add or Edit Work Packages</a></li>
                                <li><a href="ab-proj-variances-design-to-baseline.axvw" rel="pTask" data-taskId="Review Variances - Design to Baseline" data-taskIcon="ab-icon-task.gif">Review Variances - Design to Baseline</a></li>
                                <li><a href="ab-proj-console-planning.axvw" rel="pTask" data-taskId="Management Console: Plan" data-taskIcon="ab-icon-task.gif">Management Console: Plan</a></li>
                            </ol>
                        </ol>
                </div>
            </div>
            <div class="bucket-application " data-productId="AbProject" data-activityId="AbProjectManagement" data-processId="Monitor" data-productTitle="Capital Project Management" data-activityTitle="Project Management" data-processTitle="Monitor" data-subfolder="\ab-products\project\management" data-helpLink="\Subsystems\webc\Content\web_user\projects\reports\monitor\monitor_reports_over.htm" data-helpSystem="END USER" data-dashboardLayout="" data-dashboardView="" title="Review project benchmark metrics and scorecards that weight risk to the schedule and budget.  Review milestones and projects behind schedule or over budget.  Use the projects calendar to check on time dependencies.  Use spatial and organizational maps to review impact on locations, divisions, or departments." oncontextmenu="return false;" onMouseUp="openPtask(this,event);">
                <h2 class="applications-process-title" title="Review project benchmark metrics and scorecards that weight risk to the schedule and budget.  Review milestones and projects behind schedule or over budget.  Use the projects calendar to check on time dependencies.  Use spatial and organizational maps to review impact on locations, divisions, or departments.">
                    <span class="process-title-text">Monitor</span>
                </h2>
                <div class="bucket-wrapper" id="wrapper_abprojectmanagement_monitor">
                        <ol class="ptask-labels">
                            <li></li>
                            <ol class="process-tasks">
                                <li><a href="ab-proj-projects-scorecard.axvw" rel="pTask" data-taskId="View Projects Scorecard" data-taskIcon="ab-icon-task.gif">View Projects Scorecard</a></li>
                                <li><a href="ab-proj-work-packages-scorecard.axvw" rel="pTask" data-taskId="View Work Packages Scorecard" data-taskIcon="ab-icon-task.gif">View Work Packages Scorecard</a></li>
                                <li><a href="ab-proj-project-statuses.axvw" rel="pTask" data-taskId="View Project Statuses" data-taskIcon="ab-icon-task.gif">View Project Statuses</a></li>
                                <li><a href="ab-proj-work-packages-statuses.axvw" rel="pTask" data-taskId="View Work Packages Statuses" data-taskIcon="ab-icon-task.gif">View Work Packages Statuses</a></li>
                                <li><a href="ab-proj-milestone-statuses-by-project.axvw" rel="pTask" data-taskId="View Milestone Statuses by Project" data-taskIcon="ab-icon-task.gif">View Milestone Statuses by Project</a></li>
                                <li><a href="ab-proj-projects-behind-schedule.axvw" rel="pTask" data-taskId="Calculate and View Projects Behind Schedule" data-taskIcon="ab-icon-task.gif">Calculate and View Projects Behind Schedule</a></li>
                                <li><a href="ab-proj-projects-over-budget.axvw" rel="pTask" data-taskId="View Projects Over Budget" data-taskIcon="ab-icon-task.gif">View Projects Over Budget</a></li>
                            </ol>
                            <li class="empty-taskgroup-title">&nbsp;</li>
                            <ol class="process-tasks">
                                <li><a href="ab-proj-projects-calendar.axvw" rel="pTask" data-taskId="View Projects Calendar" data-taskIcon="ab-icon-task.gif">View Projects Calendar</a></li>
                                <li><a href="ab-proj-projects-map.axvw" rel="pTask" data-taskId="View Projects Map" data-taskIcon="ab-icon-task.gif">View Projects Map</a></li>
                                <li><a href="ab-proj-active-projects-timeline.axvw" rel="pTask" data-taskId="View Active Projects Timeline" data-taskIcon="ab-icon-task.gif">View Active Projects Timeline</a></li>
                                <li><a href="ab-proj-projects-org-impact-by-building.axvw" rel="pTask" data-taskId="View Projects Org. Impact by Building" data-taskIcon="ab-icon-task.gif">View Projects Org. Impact by Building</a></li>
                                <li><a href="ab-proj-projects-org-impact-by-room.axvw" rel="pTask" data-taskId="View Projects Org. Impact by Room" data-taskIcon="ab-icon-task.gif">View Projects Org. Impact by Room</a></li>
                                <li><a href="ab-proj-projects-metrics.axvw" rel="pTask" data-taskId="View Projects Metrics" data-taskIcon="ab-icon-task.gif">View Projects Metrics</a></li>
                                <li><a href="ab-proj-projects-analysis.axvw" rel="pTask" data-taskId="View Projects Analysis" data-taskIcon="ab-icon-task.gif">View Projects Analysis</a></li>
                                <li><a href="ab-proj-s-curve.axvw" rel="pTask" data-taskId="View S-Curve Analysis" data-taskIcon="ab-icon-task.gif">View S-Curve Analysis</a></li>
                            </ol>
                            <li class="empty-taskgroup-title">&nbsp;</li>
                            <ol class="process-tasks">
                                <li><a href="ab-proj-projects-compare-to-budget.axvw" rel="pTask" data-taskId="Compare Project Costs to Budget" data-taskIcon="ab-icon-task.gif">Compare Project Costs to Budget</a></li>
                                <li><a href="ab-proj-projects-compare-to-budget-2d.axvw" rel="pTask" data-taskId="Compare Annual Project Costs to Budget" data-taskIcon="ab-icon-task.gif">Compare Annual Project Costs to Budget</a></li>
                            </ol>
                        </ol>
                </div>
            </div>
            <div class="bucket-application " data-productId="AbProject" data-activityId="AbProjectManagement" data-processId="Review History" data-productTitle="Capital Project Management" data-activityTitle="Project Management" data-processTitle="Review History" data-subfolder="\ab-products\project\management" data-helpLink="\Subsystems\webc\Content\web_user\projects\reports\review_history_reports.htm" data-helpSystem="END USER" data-dashboardLayout="" data-dashboardView="" title="Review historical project data including vendor payments, costs by activity and work package, schedule variances, vendor project participation and vendor performance history." oncontextmenu="return false;" onMouseUp="openPtask(this,event);">
                <h2 class="applications-process-title" title="Review historical project data including vendor payments, costs by activity and work package, schedule variances, vendor project participation and vendor performance history.">
                    <span class="process-title-text">Review History</span>
                </h2>
                <div class="bucket-wrapper" id="wrapper_abprojectmanagement_reviewHistory">
                        <ol class="ptask-labels">
                            <li></li>
                            <ol class="process-tasks">
                                <li><a href="ab-proj-review-payments.axvw" rel="pTask" data-taskId="Review Payments" data-taskIcon="ab-icon-task.gif">Review Payments</a></li>
                                <li><a href="ab-proj-review-costs-by-activity-type.axvw" rel="pTask" data-taskId="Review Costs by Action Type" data-taskIcon="ab-icon-task.gif">Review Costs by Action Type</a></li>
                                <li><a href="ab-proj-review-costs-by-work-package.axvw" rel="pTask" data-taskId="Review Costs by Work Package" data-taskIcon="ab-icon-task.gif">Review Costs by Work Package</a></li>
                                <li><a href="ab-proj-review-work-package-schedule-variances.axvw" rel="pTask" data-taskId="Review Work Package Schedule Variances" data-taskIcon="ab-icon-task.gif">Review Work Package Schedule Variances</a></li>
                                <li><a href="ab-proj-review-actions-schedule-variances.axvw" rel="pTask" data-taskId="Review Actions Schedule Variances" data-taskIcon="ab-icon-task.gif">Review Actions Schedule Variances</a></li>
                                <li><a href="ab-proj-review-costs-by-project.axvw" rel="pTask" data-taskId="Review Costs by Project" data-taskIcon="ab-icon-task.gif">Review Costs by Project</a></li>
                                <li><a href="ab-proj-review-vendor-performance-history.axvw" rel="pTask" data-taskId="Review Vendor Performance History" data-taskIcon="ab-icon-task.gif">Review Vendor Performance History</a></li>
                                <li><a href="ab-proj-review-vendors-invoices-and-payments.axvw" rel="pTask" data-taskId="Review Vendors Invoices and Payments" data-taskIcon="ab-icon-task.gif">Review Vendors Invoices and Payments</a></li>
                                <li><a href="ab-proj-review-vendors-used-by-project-type.axvw" rel="pTask" data-taskId="Review Vendors used by Project Type" data-taskIcon="ab-icon-task.gif">Review Vendors used by Project Type</a></li>
                            </ol>
                        </ol>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
$(document).ready(function() {
    $('#navigationTabs').find('a').click(function() {return false;});
    initDandDFavorites();
    setPageDimensions();
    bindTaskContextMenu();
    localizeFavoritesDisplayText();
    loadFavoritesBuckets();
    modifyProcessTitleDisplay();
    pageTallPTaskBuckets();
});
</script>