<div class="nav-pages" id="CleanBuilding">
    <div class="page">
        <div class="page-row full-height" >
            <h3 class="application-title" data-activityId="AbRiskCleanBuilding">Clean Building</h3>
            <hr class="application-horizontal-rule">
            <div id="appProcFavoritesBucket" class="bucket-application bucket-background-light " data-activityId="" data-processId="" oncontextmenu="return false;">
                <h2 class="applications-process-title" data-processId="" title="Most often used tasks and reports.">My Favorites</h2>
                <div class="bucket-wrapper" id="wrapper_284cf780-da7e-44b5-b337-633ecbe35f72">
                    <div class="favorites-drop-target">
                        <span class="favorites-add-target"></span>
                        <span class="favorites-delete-target">&nbsp;</span>
                    </div>
                    <div class="favorites" onMouseUp="openPtask(this,event);">
                        <ol class="favorites-items">
                        </ol>
                    </div>
                </div>
            </div>
            <div class="bucket-application " data-productId="AbRisk" data-activityId="AbRiskCleanBuilding" data-processId="Field Assessor" data-productTitle="Environmental & Risk Management" data-activityTitle="Clean Building" data-processTitle="Field Assessor" data-subfolder="\ab-products\risk\clean" data-helpLink="\Subsystems\webc\Content\clean\field\overview.htm" data-helpSystem="END USER" data-dashboardLayout="" data-dashboardView="" title="" oncontextmenu="return false;" onMouseUp="openPtask(this,event);">
                <h2 class="applications-process-title" title="">
                    <span class="process-title-text">Field Assessor</span>
                </h2>
                <div class="bucket-wrapper" id="wrapper_abriskcleanbuilding_fieldAssessor">
                        <ol class="ptask-labels">
                            <li></li>
                            <ol class="process-tasks">
                                <li><a href="ab-cb-my-activity-items.axvw" rel="pTask" data-taskId="Manage My Project Activity Items" data-taskIcon="ab-icon-task.gif">Manage My Project Activity Items</a></li>
                                <li><a href="ab-cb-my-assess-items.axvw" rel="pTask" data-taskId="Manage My Hazard Assessment Items" data-taskIcon="ab-icon-task.gif">Manage My Hazard Assessment Items</a></li>
                            </ol>
                            <li class="empty-taskgroup-title">&nbsp;</li>
                            <ol class="process-tasks">
                                <li><a href="ab-cb-rpt-my-loc.axvw" rel="pTask" data-taskId="View Locations" data-taskIcon="ab-icon-task.gif">View Locations</a></li>
                                <li><a href="ab-cb-rpt-my-locs.axvw" rel="pTask" data-taskId="View Locations Drill-down" data-taskIcon="ab-icon-task.gif">View Locations Drill-down</a></li>
                                <li><a href="ab-cb-rpt-assess-loc.axvw" rel="pTask" data-taskId="View Assessment Items by Location" data-taskIcon="ab-icon-task.gif">View Assessment Items by Location</a></li>
                                <li><a href="ab-cb-rpt-hl-haz.axvw" rel="pTask" data-taskId="Hazard Areas and Assessment Items" data-taskIcon="ab-icon-task.gif">Hazard Areas and Assessment Items</a></li>
                            </ol>
                        </ol>
                </div>
            </div>
            <div class="bucket-application " data-productId="AbRisk" data-activityId="AbRiskCleanBuilding" data-processId="Abatement Worker" data-productTitle="Environmental & Risk Management" data-activityTitle="Clean Building" data-processTitle="Abatement Worker" data-subfolder="\ab-products\risk\clean" data-helpLink="\Subsystems\webc\Content\clean\abatement\overview.htm" data-helpSystem="END USER" data-dashboardLayout="" data-dashboardView="" title="" oncontextmenu="return false;" onMouseUp="openPtask(this,event);">
                <h2 class="applications-process-title" title="">
                    <span class="process-title-text">Abatement Worker</span>
                </h2>
                <div class="bucket-wrapper" id="wrapper_abriskcleanbuilding_abatementWorker">
                        <ol class="ptask-labels">
                            <li></li>
                            <ol class="process-tasks">
                                <li><a href="ab-cb-my-abate-reqs.axvw" rel="pTask" data-taskId="Manage My Abatement Activity Items" data-taskIcon="ab-icon-task.gif">Manage My Abatement Activity Items</a></li>
                                <li><a href="ab-cb-my-abate-items.axvw" rel="pTask" data-taskId="Manage My Hazard Abatement Items" data-taskIcon="ab-icon-task.gif">Manage My Hazard Abatement Items</a></li>
                            </ol>
                            <li class="empty-taskgroup-title">&nbsp;</li>
                            <ol class="process-tasks">
                                <li><a href="ab-cb-rpt-my-loc.axvw" rel="pTask" data-taskId="View Locations" data-taskIcon="ab-icon-task.gif">View Locations</a></li>
                                <li><a href="ab-cb-rpt-my-locs.axvw" rel="pTask" data-taskId="View Locations Drill-down" data-taskIcon="ab-icon-task.gif">View Locations Drill-down</a></li>
                                <li><a href="ab-cb-rpt-assess-loc.axvw" rel="pTask" data-taskId="View Assessment Items by Location" data-taskIcon="ab-icon-task.gif">View Assessment Items by Location</a></li>
                                <li><a href="ab-cb-rpt-hl-haz.axvw" rel="pTask" data-taskId="Hazard Areas and Assessment Items" data-taskIcon="ab-icon-task.gif">Hazard Areas and Assessment Items</a></li>
                            </ol>
                        </ol>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
$(document).ready(function() {
    $('#navigationTabs').find('a').click(function() {return false;});
    initDandDFavorites();
    setPageDimensions();
    bindTaskContextMenu();
    localizeFavoritesDisplayText();
    loadFavoritesBuckets();
    modifyProcessTitleDisplay();
    pageTallPTaskBuckets();
});
</script>