<div class="nav-pages" id="PortfolioManagement">
    <div class="page">
        <div class="page-row full-height" >
            <h3 class="application-title" data-activityId="AbRPLMPortfolioAdministration">Portfolio Management</h3>
            <hr class="application-horizontal-rule">
            <div id="appProcFavoritesBucket" class="bucket-application bucket-background-light " data-activityId="" data-processId="" oncontextmenu="return false;">
                <h2 class="applications-process-title" data-processId="" title="Most often used tasks and reports.">My Favorites</h2>
                <div class="bucket-wrapper" id="wrapper_a31c54f0-62ee-45ac-9a8f-34b80d37111a">
                    <div class="favorites-drop-target">
                        <span class="favorites-add-target"></span>
                        <span class="favorites-delete-target">&nbsp;</span>
                    </div>
                    <div class="favorites" onMouseUp="openPtask(this,event);">
                        <ol class="favorites-items">
                        </ol>
                    </div>
                </div>
            </div>
            <div class="bucket-application " data-productId="AbRPLM" data-activityId="AbRPLMPortfolioAdministration" data-processId="Portfolio Summary" data-productTitle="Real Estate Portfolio Management" data-activityTitle="Portfolio Management" data-processTitle="Portfolio Summary" data-subfolder="\ab-products\rplm\pfolio-admin" data-helpLink="\Subsystems\webc\Content\web_user\port_admin\portfolio_summary.htm" data-helpSystem="END USER" data-dashboardLayout="" data-dashboardView="" title="" oncontextmenu="return false;" onMouseUp="openPtask(this,event);">
                <h2 class="applications-process-title" title="">
                    <span class="process-title-text">Portfolio Summary</span>
                </h2>
                <div class="bucket-wrapper" id="wrapper_abrplmportfolioadministration_portfolioSummary">
                        <ol class="ptask-labels">
                            <li></li>
                            <ol class="process-tasks">
                                <li><a href="ab-rplm-pfadmin-pnav-dashboard-global.axvw" rel="pTask" data-taskId="Global Portfolio Dashboard" data-taskIcon="ab-icon-task.gif">Global Portfolio Dashboard</a></li>
                            </ol>
                            <li class="empty-taskgroup-title">&nbsp;</li>
                            <ol class="process-tasks">
                                <li><a href="ab-rplm-pfadmin-add-item-to-portfolio-wizard.axvw" rel="pTask" data-taskId="Add/Edit Wizard" data-taskIcon="ab-icon-task.gif">Add/Edit Wizard</a></li>
                                <li><a href="ab-repm-lsadmin-bl-amenities.axvw" rel="pTask" data-taskId="Add New Amenity to a Building" data-taskIcon="ab-icon-task.gif">Add New Amenity to a Building</a></li>
                                <li><a href="ab-repm-lsadmin-prop-amenities.axvw" rel="pTask" data-taskId="Add New Amenity to a Property" data-taskIcon="ab-icon-task.gif">Add New Amenity to a Property</a></li>
                            </ol>
                            <li class="empty-taskgroup-title">&nbsp;</li>
                            <ol class="process-tasks">
                                <li><a href="ab-rplm-pfadmin-portfoliosummary-dashboard.axvw" rel="pTask" data-taskId="Portfolio Summary Dashboard" data-taskIcon="ab-icon-task.gif">Portfolio Summary Dashboard</a></li>
                            </ol>
                            <li class="empty-taskgroup-title">&nbsp;</li>
                            <ol class="process-tasks">
                                <li><a href="ab-rplm-pfadmin-investments.axvw" rel="pTask" data-taskId="Portfolio Investments" data-taskIcon="ab-icon-task.gif">Portfolio Investments</a></li>
                                <li><a href="ab-rplm-pfadmin-sales.axvw" rel="pTask" data-taskId="Portfolio Sales" data-taskIcon="ab-icon-task.gif">Portfolio Sales</a></li>
                                <li><a href="ab-rplm-pfadmin-ownership-transactions-report.axvw" rel="pTask" data-taskId="All Ownership Transactions" data-taskIcon="ab-icon-task.gif">All Ownership Transactions</a></li>
                                <li><a href="ab-rplm-pfadmin-props-book-values-report.axvw" rel="pTask" data-taskId="All Properties and their Book Values" data-taskIcon="ab-icon-task.gif">All Properties and their Book Values</a></li>
                                <li><a href="ab-rplm-pfadmin-bldgs-book-values-report.axvw" rel="pTask" data-taskId="All Buildings and their Book Values" data-taskIcon="ab-icon-task.gif">All Buildings and their Book Values</a></li>
                            </ol>
                            <li class="empty-taskgroup-title">&nbsp;</li>
                            <ol class="process-tasks">
                                <li><a href="ab-repm-pfadmin-item-by-location.axvw" rel="pTask" data-taskId="Portfolio Items by Location" data-taskIcon="ab-icon-task.gif">Portfolio Items by Location</a></li>
                                <li><a href="ab-repm-pfadmin-ptsum-monthly-capital-trans-by-chart.axvw" rel="pTask" data-taskId="Portfolio Summary Net Capital Cash Flow by Location" data-taskIcon="ab-icon-task.gif">Portfolio Summary Net Capital Cash Flow by Location</a></li>
                            </ol>
                        </ol>
                </div>
            </div>
            <div class="bucket-application " data-productId="AbRPLM" data-activityId="AbRPLMPortfolioAdministration" data-processId="Reports" data-productTitle="Real Estate Portfolio Management" data-activityTitle="Portfolio Management" data-processTitle="Reports" data-subfolder="\ab-products\rplm\pfolio-admin" data-helpLink="\Subsystems\webc\Content\web_user\port_admin\reports\reports_port_admin_over.htm" data-helpSystem="END USER" data-dashboardLayout="" data-dashboardView="" title="" oncontextmenu="return false;" onMouseUp="openPtask(this,event);">
                <h2 class="applications-process-title" title="">
                    <span class="process-title-text">Reports</span>
                </h2>
                <div class="bucket-wrapper" id="wrapper_abrplmportfolioadministration_reports">
                        <ol class="ptask-labels">
                            <li>View Buildings by:</li>
                            <ol class="process-tasks">
                                <li><a href="ab-repm-lsadmin-bl-by-bl-contact.axvw" rel="pTask" data-taskId="-... Primary Contact" data-taskIcon="ab-icon-task.gif">-... Primary Contact</a></li>
                                <li><a href="ab-repm-lsadmin-bl-by-ac.axvw" rel="pTask" data-taskId="-... Account" data-taskIcon="ab-icon-task.gif">-... Account</a></li>
                                <li><a href="ab-repm-pfadmin-bl-by-bl-status.axvw" rel="pTask" data-taskId="... Building Status" data-taskIcon="ab-icon-task.gif">... Building Status</a></li>
                            </ol>
                            <li class="empty-taskgroup-title">&nbsp;</li>
                            <ol class="process-tasks">
                                <li><a href="ab-rplm-pfadmin-bldgs-book-values-report.axvw" rel="pTask" data-taskId="All Buildings and their Book Values" data-taskIcon="ab-icon-task.gif">All Buildings and their Book Values</a></li>
                            </ol>
                            <li>View Amenities by</li>
                            <ol class="process-tasks">
                                <li><a href="ab-repm-lsadmin-amenities-by-prop.axvw" rel="pTask" data-taskId="... Property" data-taskIcon="ab-icon-task.gif">... Property</a></li>
                                <li><a href="ab-repm-lsadmin-amenities-by-bl.axvw" rel="pTask" data-taskId="... Building" data-taskIcon="ab-icon-task.gif">... Building</a></li>
                                <li><a href="ab-repm-lsadmin-amenities-by-ls.axvw" rel="pTask" data-taskId="... Lease" data-taskIcon="ab-icon-task.gif">... Lease</a></li>
                            </ol>
                            <li>View Properties by:</li>
                            <ol class="process-tasks">
                                <li><a href="ab-repm-pfadmin-item-by-location.axvw" rel="pTask" data-taskId="... Location" data-taskIcon="ab-icon-task.gif">... Location</a></li>
                                <li><a href="ab-repm-lsadmin-prop-by-prmry-cont.axvw" rel="pTask" data-taskId="... Primary Contact" data-taskIcon="ab-icon-task.gif">... Primary Contact</a></li>
                                <li><a href="ab-repm-lsadmin-prop-by-ac.axvw" rel="pTask" data-taskId="... Account" data-taskIcon="ab-icon-task.gif">... Account</a></li>
                                <li><a href="ab-repm-pfadmin-prop-by-prop-status.axvw" rel="pTask" data-taskId="... Property Status" data-taskIcon="ab-icon-task.gif">... Property Status</a></li>
                            </ol>
                            <li class="empty-taskgroup-title">&nbsp;</li>
                            <ol class="process-tasks">
                                <li><a href="ab-rplm-pfadmin-props-book-values-report.axvw" rel="pTask" data-taskId="All Properties and their Book Values" data-taskIcon="ab-icon-task.gif">All Properties and their Book Values</a></li>
                                <li><a href="ab-repm-lsadmin-prop-summary.axvw" rel="pTask" data-taskId="All Properties Yearly Financial Summary by Country" data-taskIcon="ab-icon-task.gif">All Properties Yearly Financial Summary by Country</a></li>
                                <li><a href="ab-repm-lsadmin-undev-prop.axvw" rel="pTask" data-taskId="Undeveloped Properties" data-taskIcon="ab-icon-task.gif">Undeveloped Properties</a></li>
                            </ol>
                            <li>Portfolio:</li>
                            <ol class="process-tasks">
                                <li><a href="ab-rplm-pfadmin-investments.axvw" rel="pTask" data-taskId="... Investments" data-taskIcon="ab-icon-task.gif">... Investments</a></li>
                                <li><a href="ab-rplm-pfadmin-sales.axvw" rel="pTask" data-taskId="... Sales" data-taskIcon="ab-icon-task.gif">... Sales</a></li>
                            </ol>
                        </ol>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
$(document).ready(function() {
    $('#navigationTabs').find('a').click(function() {return false;});
    initDandDFavorites();
    setPageDimensions();
    bindTaskContextMenu();
    localizeFavoritesDisplayText();
    loadFavoritesBuckets();
    modifyProcessTitleDisplay();
    pageTallPTaskBuckets();
});
</script>