<div class="nav-pages" id="LeaseAdministration">
    <div class="page">
        <div class="page-row full-height" >
            <h3 class="application-title" data-activityId="AbRPLMLeaseAdministration">Lease Administration</h3>
            <hr class="application-horizontal-rule">
            <div id="appProcFavoritesBucket" class="bucket-application bucket-background-light " data-activityId="" data-processId="" oncontextmenu="return false;">
                <h2 class="applications-process-title" data-processId="" title="Most often used tasks and reports.">My Favorites</h2>
                <div class="bucket-wrapper" id="wrapper_975b3cd3-d7d6-4782-b6a7-c2213b1a0d48">
                    <div class="favorites-drop-target">
                        <span class="favorites-add-target"></span>
                        <span class="favorites-delete-target">&nbsp;</span>
                    </div>
                    <div class="favorites" onMouseUp="openPtask(this,event);">
                        <ol class="favorites-items">
                        </ol>
                    </div>
                </div>
            </div>
            <div class="bucket-application " data-productId="AbRPLM" data-activityId="AbRPLMLeaseAdministration" data-processId="Suite Analysis" data-productTitle="Real Estate Portfolio Management" data-activityTitle="Lease Administration" data-processTitle="Suite Analysis" data-subfolder="\ab-products\rplm\ls-admin" data-helpLink="\Subsystems\webc\Content\web_user\lease_admin\suite_anal_over.htm" data-helpSystem="END USER" data-dashboardLayout="" data-dashboardView="" title="" oncontextmenu="return false;" onMouseUp="openPtask(this,event);">
                <h2 class="applications-process-title" title="">
                    <span class="process-title-text">Suite Analysis</span>
                </h2>
                <div class="bucket-wrapper" id="wrapper_abrplmleaseadministration_suiteAnalysis">
                        <ol class="ptask-labels">
                            <li></li>
                            <ol class="process-tasks">
                                <li><a href="ab-sp-su-vacant.axvw" rel="pTask" data-taskId="View Vacant Suites" data-taskIcon="ab-icon-task.gif">View Vacant Suites</a></li>
                                <li><a href="ab-sp-hl-su-vacant.axvw" rel="pTask" data-taskId="Highlight Vacant Suites" data-taskIcon="ab-icon-task.gif">Highlight Vacant Suites</a></li>
                                <li><a href="ab-sp-su-expiring.axvw" rel="pTask" data-taskId="View Suites for Expiring Leases" data-taskIcon="ab-icon-task.gif">View Suites for Expiring Leases</a></li>
                                <li><a href="ab-sp-hl-su-expiring.axvw" rel="pTask" data-taskId="Highlight Suites for Expiring Leases" data-taskIcon="ab-icon-task.gif">Highlight Suites for Expiring Leases</a></li>
                                <li><a href="ab-sp-hl-su-by-ls.axvw" rel="pTask" data-taskId="Highlight Suites by Lease" data-taskIcon="ab-icon-task.gif">Highlight Suites by Lease</a></li>
                            </ol>
                            <li class="empty-taskgroup-title">&nbsp;</li>
                            <ol class="process-tasks">
                                <li><a href="ab-sp-su-by-bl.axvw" rel="pTask" data-taskId="View Suites by Building" data-taskIcon="ab-icon-task.gif">View Suites by Building</a></li>
                                <li><a href="ab-sp-su-by-fl.axvw" rel="pTask" data-taskId="View Suites by Floor" data-taskIcon="ab-icon-task.gif">View Suites by Floor</a></li>
                                <li><a href="ab-sp-su-by-ls.axvw" rel="pTask" data-taskId="View Suites by Lease" data-taskIcon="ab-icon-task.gif">View Suites by Lease</a></li>
                            </ol>
                        </ol>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
$(document).ready(function() {
    $('#navigationTabs').find('a').click(function() {return false;});
    initDandDFavorites();
    setPageDimensions();
    bindTaskContextMenu();
    localizeFavoritesDisplayText();
    loadFavoritesBuckets();
    modifyProcessTitleDisplay();
    pageTallPTaskBuckets();
});
</script>