<div class="nav-pages" id="GreenBuilding">
    <div class="page">
        <div class="page-row full-height" >
            <h3 class="application-title" data-activityId="AbRiskGreenBuilding">Green Building</h3>
            <hr class="application-horizontal-rule">
            <div id="appProcFavoritesBucket" class="bucket-application bucket-background-light " data-activityId="" data-processId="" oncontextmenu="return false;">
                <h2 class="applications-process-title" data-processId="" title="Most often used tasks and reports.">My Favorites</h2>
                <div class="bucket-wrapper" id="wrapper_cb28272d-7281-40a6-8e48-864059daa394">
                    <div class="favorites-drop-target">
                        <span class="favorites-add-target"></span>
                        <span class="favorites-delete-target">&nbsp;</span>
                    </div>
                    <div class="favorites" onMouseUp="openPtask(this,event);">
                        <ol class="favorites-items">
                        </ol>
                    </div>
                </div>
            </div>
            <div class="bucket-application " data-productId="AbRisk" data-activityId="AbRiskGreenBuilding" data-processId="Review Carbon Footprint" data-productTitle="Environmental & Risk Management" data-activityTitle="Green Building" data-processTitle="Carbon Footprint - Review" data-subfolder="\ab-products\risk\green" data-helpLink="\Subsystems\webc\Content\green_bldg\carb_fp_review\carb_review_over.htm" data-helpSystem="END USER" data-dashboardLayout="" data-dashboardView="" title="" oncontextmenu="return false;" onMouseUp="openPtask(this,event);">
                <h2 class="applications-process-title" title="">
                    <span class="process-title-text">Carbon Footprint - Review</span>
                </h2>
                <div class="bucket-wrapper" id="wrapper_abriskgreenbuilding_reviewCarbonFootprint">
                        <ol class="ptask-labels">
                            <li></li>
                            <ol class="process-tasks">
                                <li><a href="ab-gb-fp-single-job.axvw?ruleId=AbRiskGreenBuilding-FootprintService-summarizeEmissionsAll" rel="pTask" data-taskId="Summarize Emission Totals" data-taskIcon="ab-icon-task.gif">Summarize Emission Totals</a></li>
                            </ol>
                            <li>Operational Reports</li>
                            <ol class="process-tasks">
                                <li><a href="ab-gb-rpt-fp-summary.axvw" rel="pTask" data-taskId="Footprint Summary" data-taskIcon="ab-icon-task.gif">Footprint Summary</a></li>
                                <li><a href="ab-gb-rpt-fp-chart.axvw" rel="pTask" data-taskId="Footprint Summary Chart" data-taskIcon="ab-icon-task.gif">Footprint Summary Chart</a></li>
                                <li><a href="ab-gb-rpt-fp-src-cat.axvw" rel="pTask" data-taskId="Footprints by Source Category" data-taskIcon="ab-icon-task.gif">Footprints by Source Category</a></li>
                                <li><a href="ab-gb-rpt-fp-src-detail.axvw" rel="pTask" data-taskId="Footprints by Source Detail" data-taskIcon="ab-icon-task.gif">Footprints by Source Detail</a></li>
                                <li><a href="ab-gb-rpt-fp-summary-del-bldg.axvw" rel="pTask" data-taskId="Deleted Buildings Footprint Summary" data-taskIcon="ab-icon-task.gif">Deleted Buildings Footprint Summary</a></li>
                            </ol>
                            <li>Management Reports</li>
                            <ol class="process-tasks">
                                <li><a href="ab-gb-rpt-fp-site-blg.axvw" rel="pTask" data-taskId="Footprints by Sites and Buildings" data-taskIcon="ab-icon-task.gif">Footprints by Sites and Buildings</a></li>
                                <li><a href="ab-gb-rpt-fp-chart-compare.axvw" rel="pTask" data-taskId="Footprints Comparison" data-taskIcon="ab-icon-task.gif">Footprints Comparison</a></li>
                                <li><a href="ab-gb-rpt-fp-by-year.axvw" rel="pTask" data-taskId="Footprint by Year" data-taskIcon="ab-icon-task.gif">Footprint by Year</a></li>
                                <li><a href="ab-gb-rpt-fp-by-year-compare.axvw" rel="pTask" data-taskId="Footprints by Year Comparison" data-taskIcon="ab-icon-task.gif">Footprints by Year Comparison</a></li>
                                <li><a href="ab-gb-rpt-fp-tot-by-year.axvw" rel="pTask" data-taskId="Total Footprint by Year" data-taskIcon="ab-icon-task.gif">Total Footprint by Year</a></li>
                                <li><a href="ab-gb-rpt-fp-site-blg-del-bldg.axvw" rel="pTask" data-taskId="Deleted Buildings Footprints by Building" data-taskIcon="ab-icon-task.gif">Deleted Buildings Footprints by Building</a></li>
                            </ol>
                        </ol>
                </div>
            </div>
            <div class="bucket-application " data-productId="AbRisk" data-activityId="AbRiskGreenBuilding" data-processId="Review Scores & Certifications" data-productTitle="Environmental & Risk Management" data-activityTitle="Green Building" data-processTitle="Scoring - Review" data-subfolder="\ab-products\risk\green" data-helpLink="\Subsystems\webc\Content\green_bldg\score_review\overview.htm" data-helpSystem="END USER" data-dashboardLayout="" data-dashboardView="" title="" oncontextmenu="return false;" onMouseUp="openPtask(this,event);">
                <h2 class="applications-process-title" title="">
                    <span class="process-title-text">Scoring - Review</span>
                </h2>
                <div class="bucket-wrapper" id="wrapper_abriskgreenbuilding_reviewScoresCertifications">
                        <ol class="ptask-labels">
                            <li>Operational Reports</li>
                            <ol class="process-tasks">
                                <li><a href="ab-gb-rpt-cert-bl-score.axvw" rel="pTask" data-taskId="Building Score" data-taskIcon="ab-icon-task.gif">Building Score</a></li>
                                <li><a href="ab-gb-rpt-cert-act-log.axvw" rel="pTask" data-taskId="Rating Project Notes and Documents" data-taskIcon="ab-icon-task.gif">Rating Project Notes and Documents</a></li>
                                <li><a href="ab-gb-rpt-cert-payback.axvw" rel="pTask" data-taskId="Rating Project Payback Period" data-taskIcon="ab-icon-task.gif">Rating Project Payback Period</a></li>
                            </ol>
                            <li class="empty-taskgroup-title">&nbsp;</li>
                            <ol class="process-tasks">
                                <li><a href="ab-gb-rpt-cert-std.axvw" rel="pTask" data-taskId="Certification Standards" data-taskIcon="ab-icon-task.gif">Certification Standards</a></li>
                                <li><a href="ab-gb-rpt-cert-levels.axvw" rel="pTask" data-taskId="Certification Levels" data-taskIcon="ab-icon-task.gif">Certification Levels</a></li>
                                <li><a href="ab-gb-rpt-cert-cats.axvw" rel="pTask" data-taskId="Certification Credit Categories" data-taskIcon="ab-icon-task.gif">Certification Credit Categories</a></li>
                                <li><a href="ab-gb-rpt-cert-credits.axvw" rel="pTask" data-taskId="Certification Credits" data-taskIcon="ab-icon-task.gif">Certification Credits</a></li>
                            </ol>
                            <li>Management Reports</li>
                            <ol class="process-tasks">
                                <li><a href="ab-gb-rpt-cert-scores-proj-cat.axvw" rel="pTask" data-taskId="Scores by Rating Project and Category" data-taskIcon="ab-icon-task.gif">Scores by Rating Project and Category</a></li>
                                <li><a href="ab-gb-rpt-cert-bl-sum-by-std.axvw" rel="pTask" data-taskId="Building Summary by Standard" data-taskIcon="ab-icon-task.gif">Building Summary by Standard</a></li>
                                <li><a href="ab-gb-rpt-cert-status-sum.axvw" rel="pTask" data-taskId="Certification Status Summary" data-taskIcon="ab-icon-task.gif">Certification Status Summary</a></li>
                                <li><a href="ab-gb-rpt-cert-by-year.axvw" rel="pTask" data-taskId="Certifications by Year" data-taskIcon="ab-icon-task.gif">Certifications by Year</a></li>
                            </ol>
                            <li class="empty-taskgroup-title">&nbsp;</li>
                            <ol class="process-tasks">
                                <li><a href="ab-gb-rpt-cert-payback-chart.axvw" rel="pTask" data-taskId="Rating Project Payback Period Chart" data-taskIcon="ab-icon-task.gif">Rating Project Payback Period Chart</a></li>
                                <li><a href="ab-gb-rpt-cert-prj-compare.axvw" rel="pTask" data-taskId="Rating Project Comparison" data-taskIcon="ab-icon-task.gif">Rating Project Comparison</a></li>
                                <li><a href="ab-gb-rpt-cert-score-overview.axvw" rel="pTask" data-taskId="Scoring Dashboard" data-taskIcon="ab-icon-task.gif">Scoring Dashboard</a></li>
                            </ol>
                        </ol>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
$(document).ready(function() {
    $('#navigationTabs').find('a').click(function() {return false;});
    initDandDFavorites();
    setPageDimensions();
    bindTaskContextMenu();
    localizeFavoritesDisplayText();
    loadFavoritesBuckets();
    modifyProcessTitleDisplay();
    pageTallPTaskBuckets();
});
</script>