<div class="nav-pages" id="StrategicSpacePlanning">
    <div class="page">
        <div class="page-row full-height" >
            <h3 class="application-title" data-activityId="AbSpacePlanning">Strategic Space Planning</h3>
            <hr class="application-horizontal-rule">
            <div id="appProcFavoritesBucket" class="bucket-application bucket-background-light " data-activityId="" data-processId="" oncontextmenu="return false;">
                <h2 class="applications-process-title" data-processId="" title="Most often used tasks and reports.">My Favorites</h2>
                <div class="bucket-wrapper" id="wrapper_6e0e63a2-5604-4786-b1fd-93cc9adc7a13">
                    <div class="favorites-drop-target">
                        <span class="favorites-add-target"></span>
                        <span class="favorites-delete-target">&nbsp;</span>
                    </div>
                    <div class="favorites" onMouseUp="openPtask(this,event);">
                        <ol class="favorites-items">
                        </ol>
                    </div>
                </div>
            </div>
            <div class="bucket-application " data-productId="AbSpace" data-activityId="AbSpacePlanning" data-processId="Space Planner" data-productTitle="Space Planning & Management" data-activityTitle="Strategic Space Planning" data-processTitle="Space Planner" data-subfolder="" data-helpLink="\Subsystems\webc\Content\web_user\space\planning\sp_planner_over.htm" data-helpSystem="END USER" data-dashboardLayout="" data-dashboardView="" title="" oncontextmenu="return false;" onMouseUp="openPtask(this,event);">
                <h2 class="applications-process-title" title="">
                    <span class="process-title-text">Space Planner</span>
                </h2>
                <div class="bucket-wrapper" id="wrapper_abspaceplanning_spacePlanner">
                        <ol class="ptask-labels">
                            <li></li>
                            <ol class="process-tasks">
                                <li><a href="ab-alloc-wiz.axvw" rel="pTask" data-taskId="Space & Portfolio Planning Console" data-taskIcon="ab-icon-task.gif">Space & Portfolio Planning Console</a></li>
                                <li><a href="ab-alloc-def-sp-req.axvw" rel="pTask" data-taskId="Define Space Requirements" data-taskIcon="ab-icon-task.gif">Define Space Requirements</a></li>
                            </ol>
                        </ol>
                </div>
            </div>
            <div class="bucket-application " data-productId="AbSpace" data-activityId="AbSpacePlanning" data-processId="Reports" data-productTitle="Space Planning & Management" data-activityTitle="Strategic Space Planning" data-processTitle="Reports" data-subfolder="" data-helpLink="\Subsystems\webc\Content\web_user\space\planning\reports\overview.htm" data-helpSystem="END USER" data-dashboardLayout="" data-dashboardView="" title="" oncontextmenu="return false;" onMouseUp="openPtask(this,event);">
                <h2 class="applications-process-title" title="">
                    <span class="process-title-text">Reports</span>
                </h2>
                <div class="bucket-wrapper" id="wrapper_abspaceplanning_reports">
                        <ol class="ptask-labels">
                            <li></li>
                            <ol class="process-tasks">
                                <li><a href="ab-sp-compare-scenarios.axvw" rel="pTask" data-taskId="Portfolio Scenario Comparison" data-taskIcon="ab-icon-task.gif">Portfolio Scenario Comparison</a></li>
                                <li><a href="ab-sp-proposed-moves.axvw" rel="pTask" data-taskId="Proposed Moves" data-taskIcon="ab-icon-task.gif">Proposed Moves</a></li>
                                <li><a href="ab-sp-req-details.axvw" rel="pTask" data-taskId="Space Requirement Details" data-taskIcon="ab-icon-task.gif">Space Requirement Details</a></li>
                            </ol>
                        </ol>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
$(document).ready(function() {
    $('#navigationTabs').find('a').click(function() {return false;});
    initDandDFavorites();
    setPageDimensions();
    bindTaskContextMenu();
    localizeFavoritesDisplayText();
    loadFavoritesBuckets();
    modifyProcessTitleDisplay();
    pageTallPTaskBuckets();
});
</script>