
div.buildingBox {
    float: left;
    width: 360px;
    height: 340px;
    margin: 1%;
    position: relative;
    overflow: hidden;
    background-color: #D9E3F1;
}

div.buildingName {
    position:absolute;
    height: 20px;
    width: 90%;
    padding: 20px;
    font-size: 120%;
    font-weight: bold;
}

.buildingImage {
    position:absolute;
    width: 250px;
    margin: 60px 20px 20px 20px;
    border: 4px solid #99BBE8;
}

.buildingIndicators {
    position:absolute;
    left: 290px;
    width: 140px;
    margin-top: 60px;
}

.buildingIndicators div {
    width: 30px;
    padding: 2px 8px;
    text-align: center;
    color: white;
}

.buildingIndicators div:hover {
    cursor: pointer;
    filter: brightness(80%);
}

.buildingIndicators div:nth-child(1) {
    background-color: #F47E00;
}

.buildingIndicators div:nth-child(2) {
    background-color: #537AC0;
}

.buildingIndicators div:nth-child(3) {
    background-color: #3CB371;
}
