/**
 * ab-pgnav-page-editor.css
 *
 */
/* ab-core-slate.css */
/*---  custom view toolbar style  ----*/
div.viewToolbar{border:0;height:28px;background:#97aac4}
div.viewToolbar.x-toolbar span{color:#fff;font-size:18px;font-weight:bold;position:absolute;top:2px;left:6px;padding:0;}
#pageEditorPanel_head.panelToolbar {
    background-color: #f3f7fb;
    border-bottom: thin solid #97aac4;
}
#pageEditorPanel_layoutWrapper {
    background-color: #fff;
}
#pageEditorPanel_title {
    font-size: 14px;
}

.editor-page {
    display: block;
    float: none;
    width: 1300px;
    font-size: 14px;
    margin: 0 auto;
    font-family: 'Myriad Pro', Calibri, Tahoma, Arial;
}
.row-palette {
    position: relative;
    width: 100px;
    margin-right: 20px;
    background-color: #f3f7fb;
    border-right: thin solid #97aac4;
    border-left: thin solid #97aac4;
}
.row-palette-title-menu {
    position: absolute;
    cursor: pointer;
    top: 1px;
    right: 1px;
}
.double-wide .bucket-title {
    width: 410px;
}
.bucket-title {
    display: block;
    overflow: hidden;
    width: 210px;
    white-space: nowrap;
}
.bucket-title-menu {
    position: absolute;
    cursor: pointer;
    right: 0;
    top: 5px;
}
.panel-title-button {
    margin-left: 4px;
    margin-right: 2px;
}

.bucket-image-delete,
.bucket-image-duplicate {
    display: block;
    width: 14px;
    height: 14px;
    margin-left: 4px;
    margin-right: 2px;
}

.bucket-image-duplicate {
    background: url(../img/duplicate-white.png) no-repeat;
}

.bucket-image-delete {
    background: url(../img/delete-white.png) no-repeat;
}

.bucket-thumbnail-process,
.bucket-thumbnail-metrics-scorecard,
.bucket-thumbnail-bar-chart,
.bucket-thumbnail-alerts-list,
.bucket-thumbnail-metric-chart,
.bucket-thumbnail-map
{
    display: block;
    width: 100px;
    height: 70px;
    position: absolute;
    left: 50%;
    margin-left: -50px;
}
.bucket-thumbnail-process {
    background: url(../img/process-100x70.png) no-repeat;
}
.bucket-thumbnail-metrics-scorecard {
    background: url(../img/metric-scorecard-100x70.png) no-repeat;
}
.bucket-thumbnail-bar-chart {
    background: url(../img/bar-chart-100x70.png) no-repeat;
}
.bucket-thumbnail-alerts-list {
    background: url(../img/alerts-100x70.png) no-repeat;
}
.bucket-thumbnail-metric-chart {
    background: url(../img/metric-chart-100x70.png) no-repeat;
}
.bucket-thumbnail-map {
    background: url(../img/map-100x70.png) no-repeat;
}
/*----------------  Coordinate with row heights in page-navigator.css  ----*/
/*----------------  Bucket-in-Row Heights  ---------------------------*/
.editor-page .full-height div.bucket-process {
    height: 480px;
}
.editor-page .three-quarter-height div.bucket-process {
    height: 360px;
}
.editor-page .half-height div.bucket-process {
    height: 240px;
}
.editor-page div.bucket-process {
    margin-top: 15px;
    margin-right: 20px;
    position: relative;
}
/*----------------  Row Palette Heights.
Height must be less than row-height to accomodate border width
*/
.full-height .row-palette {
    height: 529px;
}
.three-quarter-height .row-palette {
    height: 399px;
}
.half-height .row-palette {
    height: 269px;
}

.editor-page .double-wide {
    width: 542px;
}

/*----------------  ..............................................  ----*/

.editor-page .page-row {
    margin: 0;
    border-bottom: thin solid #97aac4;
}

.editor-page .bucket-process {
    background-color: #f3f7fb;
    border: thin solid #97aac4;
}
.editor-page .page-break-banner {
    background-color: #c5d5ec;
}

/*-----------------  home page editor support --------------------*/
.row-palette h2 {
    position: relative;
    margin: 0 auto;
    text-align: center;
    color: #97aac4;
    font-size: 19px;
    font-style: italic;
    top: 1px;
}

.bucket-edit-dialog .ui-dialog-titlebar,
.row-palette-dialog .ui-dialog-titlebar {
    border-radius: 0;
    padding: 4px;
    font-size: 18px;
    font-weight: bold;
}
.bucket-edit-dialog .ui-dialog-titlebar-close {
    width: 20px;
    height: 20px;
    margin-top: 0;
    margin-right: 5px;
    float: right;
}
/*--------- placeholder/new card -------------------*/
.new-panel-container,
.new-row-container {
    border: thin dashed #ff8000;
    background: #fff;
    margin-top: 15px;
}
.new-panel-container {
    width: 260px;
}
.new-row-container {
    width: 400px;
}

.half-height .new-panel-container,
.new-row-container {
    height: 240px;
}
.three-quarter-height .new-panel-container {
    height: 360px;
}
.full-height .new-panel-container {
    height: 480px;
}

.new-panel-container button,
.new-row-container button {
    margin-top: 10px;
    margin-left: 20px;
    width: 80%;
    height: 30px;
    color: #fff;
    background: #f98e35;
    border: thin solid #ff8000;
    cursor: pointer;
}

/*-------------------  Row palette buttons  ---------------------*/
.row-palette .row-height-half {
    display: block;
    width: 50px;
    height: 17px;
    background: url(../img/row-height1.png) no-repeat;
}
.row-palette .row-height-half.active {
    background: url(../img/row-height1-selected.png) no-repeat;
}
.row-palette .row-height-three-quarter {
    display: block;
    width: 50px;
    height: 25px;
    background: url(../img/row-height2.png) no-repeat;
}
.row-palette .row-height-three-quarter.active {
    background: url(../img/row-height2-selected.png) no-repeat;
}
.row-palette .row-height-full {
    display: block;
    width: 50px;
    height: 33px;
    background: url(../img/row-height3.png) no-repeat;
}
.row-palette .row-height-full.active {
    background: url(../img/row-height3-selected.png) no-repeat;
}
.row-palette-controls {
    margin:0 auto;
    padding-right:15px;
}
.row-palette-shift {
    width: 24px;
}
.row-palette .row-move-up {
    display: block;
    width: 21px;
    height: 17px;
    background: url(../img/row-up-arrow.png) no-repeat;
}
.row-palette .row-move-down {
    display: block;
    width: 21px;
    height: 17px;
    background: url(../img/row-down-arrow.png) no-repeat;
}

.sortable-placeholder {
    border: thin dashed #ff8000;
    margin-top: 15px;
    margin-right: 10px;
    height: 240px;
    width: 260px;
    background: #ffebd7;
}
.bucket-properties-table {
    width: 95%;
}

.bucket-properties-buttons {
    position: absolute;
    bottom: 7px;
    width: 95%;
}
.bucket-properties-buttons button {
    color: #000;
    background: #d0e4f4;
    border: thin solid #97aac4;
    width: 100%;
    min-height: 25px;
    cursor: pointer;
    font-size: 12px;
}
.bucket-properties-buttons button:disabled {
    color: #97aac4;
}
.bucket-properties-buttons img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
}
.bucket-properties-buttons .spacer {
    width: 5px;
}

input.home-page-field-long { width:250px; padding: 0px 10px 0px 4px;}
select.home-page-field-long { width:265px; padding: 0;}

select[class*="home-page"] {
    -webkit-border-radius: 3px;
    font-family: "PT Sans", Verdana, Arial, Helvetica, sans-serif;
}

/*
input.longField,textarea{width:421px;}
select.longField{width:425px;}

#bucketPropertiesForm .inputField_box {
    width: 213px;
}
*/
.row-palette-divider-button {
    position: absolute;
    bottom: -3px;
    left: 30px;
}
.page-divider-button {
    display: block;
    width: 37px;
    height: 11px;
    background: url(../img/new-page-divider.png) no-repeat;
}

.page-break-palette {
    float:left;
    width: 101px;
    height: 100%;
    border-right: thin solid #97aac4;
    border-left: thin solid #97aac4;
}
.page-divider-delete {
    position: absolute;
    cursor: pointer;
    top: 1px;
    left: 82px;
}
.page-divider-properties {
    display: block;
    cursor: pointer;
    margin: 13px auto auto auto;
}
button.page-divider-properties {
    color: #000;
    background: #f3f7fb;
    border: thin solid #97aac4;
    height: 22px;
    cursor: pointer;
    line-height: 1.4em;
    font-size: 12px;
}
.editor-page .page-break-archibus span {
    float: left;
    padding-left: 15px;
}
