/* CSS file */
VSlider	{
	thumbDownSkin: Embed(source="/assets/img/slider/slider_button_down.png");
	thumbOverSkin: Embed(source="/assets/img/slider/slider_button_over.png");
	thumbUpSkin: Embed(source="/assets/img/slider/slider_button_up.png");
	trackSkin: Embed(source="/assets/img/slider/slider_base.png");	
}




