<div class="nav-pages" id="PreventiveMaintenance">
    <div class="page">
        <div class="page-row full-height" >
            <h3 class="application-title" data-activityId="AbBldgOpsPM">Preventive Maintenance</h3>
            <hr class="application-horizontal-rule">
            <div id="appProcFavoritesBucket" class="bucket-application bucket-background-light " data-activityId="" data-processId="" oncontextmenu="return false;">
                <h2 class="applications-process-title" data-processId="" title="Most often used tasks and reports.">My Favorites</h2>
                <div class="bucket-wrapper" id="wrapper_b7297e91-07a0-4d57-9218-556cd6016894">
                    <div class="favorites-drop-target">
                        <span class="favorites-add-target"></span>
                        <span class="favorites-delete-target">&nbsp;</span>
                    </div>
                    <div class="favorites" onMouseUp="openPtask(this,event);">
                        <ol class="favorites-items">
                        </ol>
                    </div>
                </div>
            </div>
            <div class="bucket-application " data-productId="AbBldgOps" data-activityId="AbBldgOpsPM" data-processId="Maintenance Manager" data-productTitle="Building Operations" data-activityTitle="Preventive Maintenance" data-processTitle="Maintenance Manager" data-subfolder="\ab-products\bldgops\prevmaint" data-helpLink="\Subsystems\webc\Content\web_user\pm\maint_manager\maint_manager.htm" data-helpSystem="END USER" data-dashboardLayout="" data-dashboardView="" title="" oncontextmenu="return false;" onMouseUp="openPtask(this,event);">
                <h2 class="applications-process-title" title="">
                    <span class="process-title-text">Maintenance Manager</span>
                </h2>
                <div class="bucket-wrapper" id="wrapper_abbldgopspm_maintenanceManager">
                        <ol class="ptask-labels">
                            <li></li>
                            <ol class="process-tasks">
                                <li><a href="ab-pm-planner.axvw" rel="pTask" data-taskId="PM Planner" data-taskIcon="ab-icon-task.gif">PM Planner</a></li>
                            </ol>
                            <li>Define Procedures</li>
                            <ol class="process-tasks">
                                <li><a href="ab-pm-def-procs-steps-res.axvw" rel="pTask" data-taskId="Define Procedures, Steps, and Resources" data-taskIcon="ab-icon-task.gif">Define Procedures, Steps, and Resources</a></li>
                                <li><a href="ab-pm-rpt-proc-by-tr.axvw" rel="pTask" data-taskId="View Procedures by Primary Trade" data-taskIcon="ab-icon-task.gif">View Procedures by Primary Trade</a></li>
                            </ol>
                            <li>Assign Procedures</li>
                            <ol class="process-tasks">
                                <li><a href="ab-pm-asgn-procs-to-eq-hk.axvw" rel="pTask" data-taskId="Assign Procedures to Equipment or Location" data-taskIcon="ab-icon-task.gif">Assign Procedures to Equipment or Location</a></li>
                            </ol>
                            <li>Define Schedules</li>
                            <ol class="process-tasks">
                                <li><a href="ab-pm-def-sched-mpsl.axvw" rel="pTask" data-taskId="Define PM Schedules" data-taskIcon="ab-icon-task.gif">Define PM Schedules</a></li>
                                <li><a href="ab-pm-def-sched-dates.axvw" rel="pTask" data-taskId="Define PM Schedule Dates by PM Schedule" data-taskIcon="ab-icon-task.gif">Define PM Schedule Dates by PM Schedule</a></li>
                                <li><a href="ab-pm-def-sched-group.axvw" rel="pTask" data-taskId="Define PM Schedule Groupings" data-taskIcon="ab-icon-task.gif">Define PM Schedule Groupings</a></li>
                                <li><a href="ab-pm-rpt-sched-group-by.axvw" rel="pTask" data-taskId="View PM Schedules" data-taskIcon="ab-icon-task.gif">View PM Schedules</a></li>
                            </ol>
                            <li>Generate Work Orders</li>
                            <ol class="process-tasks">
                                <li><a href="ab-pm-gen-wo.axvw" rel="pTask" data-taskId="Generate PM Work Orders" data-taskIcon="ab-icon-task.gif">Generate PM Work Orders</a></li>
                                <li><a href="ab-pm-gen-rule-tabs.axvw" rel="pTask" data-taskId="Manage Work Order Generation Rules" data-taskIcon="ab-icon-task.gif">Manage Work Order Generation Rules</a></li>
                                <li><a href="ab-pm-rpt-pm-wo.axvw" rel="pTask" data-taskId="View Active PM Work Orders" data-taskIcon="ab-icon-task.gif">View Active PM Work Orders</a></li>
                            </ol>
                        </ol>
                </div>
            </div>
            <div class="bucket-application " data-productId="AbBldgOps" data-activityId="AbBldgOpsPM" data-processId="Supervisor BldgOpsConsole" data-productTitle="Building Operations" data-activityTitle="Preventive Maintenance" data-processTitle="Supervisor" data-subfolder="\ab-products\bldgops\prevmaint" data-helpLink="\Subsystems\webc\Content\web_user\pm\supervisor\sup_over.htm" data-helpSystem="END USER" data-dashboardLayout="" data-dashboardView="" title="" oncontextmenu="return false;" onMouseUp="openPtask(this,event);">
                <h2 class="applications-process-title" title="">
                    <span class="process-title-text">Supervisor</span>
                </h2>
                <div class="bucket-wrapper" id="wrapper_abbldgopspm_supervisorBldgopsconsole">
                        <ol class="ptask-labels">
                            <li></li>
                            <ol class="process-tasks">
                                <li><a href="ab-bldgops-console.axvw" rel="pTask" data-taskId="Building Operations Console" data-taskIcon="ab-icon-task.gif">Building Operations Console</a></li>
                                <li><a href="ab-bldgops-labor-scheduler.axvw" rel="pTask" data-taskId="Labor Scheduler" data-taskIcon="ab-icon-task.gif">Labor Scheduler</a></li>
                                <li><a href="ab-bldgops-part-inv-mpsl.axvw" rel="pTask" data-taskId="Reserve New Part Inventory" data-taskIcon="ab-icon-task.gif">Reserve New Part Inventory</a></li>
                            </ol>
                        </ol>
                </div>
            </div>
            <div class="bucket-application " data-productId="AbBldgOps" data-activityId="AbBldgOpsPM" data-processId="Service Desk Mgr BldgOpsConsole" data-productTitle="Building Operations" data-activityTitle="Preventive Maintenance" data-processTitle="Service Desk Manager" data-subfolder="\ab-products\bldgops\prevmaint" data-helpLink="\Subsystems\webc\Content\web_user\pm\ser_desk_manager\ser_desk_mgr_over.htm" data-helpSystem="END USER" data-dashboardLayout="" data-dashboardView="" title="" oncontextmenu="return false;" onMouseUp="openPtask(this,event);">
                <h2 class="applications-process-title" title="">
                    <span class="process-title-text">Service Desk Manager</span>
                </h2>
                <div class="bucket-wrapper" id="wrapper_abbldgopspm_serviceDeskMgrBldgopsconsole">
                        <ol class="ptask-labels">
                            <li></li>
                            <ol class="process-tasks">
                                <li><a href="ab-bldgops-sla.axvw" rel="pTask" data-taskId="Manage Service Level Agreements" data-taskIcon="ab-icon-task.gif">Manage Service Level Agreements</a></li>
                                <li><a href="ab-sla-find-groupings.axvw" rel="pTask" data-taskId="Create Groupings for Service Level Agreements" data-taskIcon="ab-icon-task.gif">Create Groupings for Service Level Agreements</a></li>
                                <li><a href="ab-helpdesk-sla-ordering.axvw" rel="pTask" data-taskId="Determine Ordering Sequence of Service Level Agreements" data-taskIcon="ab-icon-task.gif">Determine Ordering Sequence of Service Level Agreements</a></li>
                                <li><a href="ab-sla-priority-edit.axvw" rel="pTask" data-taskId="Define SLA Priorities" data-taskIcon="ab-icon-task.gif">Define SLA Priorities</a></li>
                                <li><a href="ab-bldgops-express-manager-search-tabs.axvw" rel="pTask" data-taskId="Search & Manage" data-taskIcon="ab-icon-task.gif">Search & Manage</a></li>
                            </ol>
                        </ol>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
$(document).ready(function() {
    $('#navigationTabs').find('a').click(function() {return false;});
    initDandDFavorites();
    setPageDimensions();
    bindTaskContextMenu();
    localizeFavoritesDisplayText();
    loadFavoritesBuckets();
    modifyProcessTitleDisplay();
    pageTallPTaskBuckets();
});
</script>