<div class="nav-pages" id="OnDemandWork">
    <div class="page">
        <div class="page-row half-height" >
            <h3 class="application-title" data-activityId="AbBldgOpsOnDemandWork">On Demand Work</h3>
            <hr class="application-horizontal-rule">
            <div id="appProcFavoritesBucket" class="bucket-application bucket-background-light " data-activityId="" data-processId="" oncontextmenu="return false;">
                <h2 class="applications-process-title" data-processId="" title="Most often used tasks and reports.">My Favorites</h2>
                <div class="bucket-wrapper" id="wrapper_58c58e97-455e-4b00-8191-97eee2668fd1">
                    <div class="favorites-drop-target">
                        <span class="favorites-add-target"></span>
                        <span class="favorites-delete-target">&nbsp;</span>
                    </div>
                    <div class="favorites" onMouseUp="openPtask(this,event);">
                        <ol class="favorites-items">
                        </ol>
                    </div>
                </div>
            </div>
            <div class="bucket-application " data-productId="AbBldgOps" data-activityId="AbBldgOpsOnDemandWork" data-processId="Requestor_WEB BldgOpsConsole" data-productTitle="Building Operations" data-activityTitle="On Demand Work" data-processTitle="Client" data-subfolder="\ab-products\bldgops\ondemandwork" data-helpLink="\Subsystems\webc\Content\web_user\service_desk\requestor\entering_request.htm" data-helpSystem="END USER" data-dashboardLayout="" data-dashboardView="" title="" oncontextmenu="return false;" onMouseUp="openPtask(this,event);">
                <h2 class="applications-process-title" title="">
                    <span class="process-title-text">Client</span>
                </h2>
                <div class="bucket-wrapper" id="wrapper_abbldgopsondemandwork_requestorWebBldgopsconsole">
                        <ol class="ptask-labels">
                            <li></li>
                            <ol class="process-tasks">
                                <li><a href="ab-bldgops-console.axvw" rel="pTask" data-taskId="Building Operations Console" data-taskIcon="ab-icon-task.gif">Building Operations Console</a></li>
                                <li><a href="ab-bldgops-console-wr-create.axvw" rel="pTask" data-taskId="Report Problem" data-taskIcon="ab-icon-task.gif">Report Problem</a></li>
                                <li><a href="ab-helpdesk-request-ondemand-view-tabs.axvw" rel="pTask" data-taskId="View Maintenance Service Requests" data-taskIcon="ab-icon-task.gif">View Maintenance Service Requests</a></li>
                            </ol>
                        </ol>
                </div>
            </div>
            <div class="bucket-application " data-productId="AbBldgOps" data-activityId="AbBldgOpsOnDemandWork" data-processId="Dispatcher_WEB BldgOpsConsole" data-productTitle="Building Operations" data-activityTitle="On Demand Work" data-processTitle="Dispatcher" data-subfolder="\ab-products\bldgops\ondemandwork" data-helpLink="\Subsystems\webc\Content\web_user\on_demand\dispatcher\routing_service_requests.htm" data-helpSystem="END USER" data-dashboardLayout="" data-dashboardView="" title="" oncontextmenu="return false;" onMouseUp="openPtask(this,event);">
                <h2 class="applications-process-title" title="">
                    <span class="process-title-text">Dispatcher</span>
                </h2>
                <div class="bucket-wrapper" id="wrapper_abbldgopsondemandwork_dispatcherWebBldgopsconsole">
                        <ol class="ptask-labels">
                            <li></li>
                            <ol class="process-tasks">
                                <li><a href="ab-bldgops-console.axvw" rel="pTask" data-taskId="Building Operations Console" data-taskIcon="ab-icon-task.gif">Building Operations Console</a></li>
                            </ol>
                        </ol>
                </div>
            </div>
            <div class="bucket-application " data-productId="AbBldgOps" data-activityId="AbBldgOpsOnDemandWork" data-processId="Supervisor_WEB BldgOpsConsole" data-productTitle="Building Operations" data-activityTitle="On Demand Work" data-processTitle="Supervisor" data-subfolder="\ab-products\bldgops\ondemandwork" data-helpLink="\Subsystems\webc\Content\web_user\on_demand\supervisor\supervisor_over.htm" data-helpSystem="END USER" data-dashboardLayout="" data-dashboardView="" title="" oncontextmenu="return false;" onMouseUp="openPtask(this,event);">
                <h2 class="applications-process-title" title="">
                    <span class="process-title-text">Supervisor</span>
                </h2>
                <div class="bucket-wrapper" id="wrapper_abbldgopsondemandwork_supervisorWebBldgopsconsole">
                        <ol class="ptask-labels">
                            <li></li>
                            <ol class="process-tasks">
                                <li><a href="ab-bldgops-console.axvw" rel="pTask" data-taskId="Building Operations Console" data-taskIcon="ab-icon-task.gif">Building Operations Console</a></li>
                                <li><a href="ab-bldgops-labor-scheduler.axvw" rel="pTask" data-taskId="Labor Scheduler" data-taskIcon="ab-icon-task.gif">Labor Scheduler</a></li>
                                <li><a href="ab-bldgops-part-inv-mpsl.axvw" rel="pTask" data-taskId="Reserve New Part Inventory" data-taskIcon="ab-icon-task.gif">Reserve New Part Inventory</a></li>
                                <li><a href="ab-ondemand-workteam-report.axvw" rel="pTask" data-taskId="Work Team Performance Report" data-taskIcon="ab-icon-task.gif">Work Team Performance Report</a></li>
                            </ol>
                        </ol>
                </div>
            </div>
            <div class="bucket-application " data-productId="AbBldgOps" data-activityId="AbBldgOpsOnDemandWork" data-processId="Craftsperson_WEB BldgOpsConsole" data-productTitle="Building Operations" data-activityTitle="On Demand Work" data-processTitle="Craftsperson" data-subfolder="\ab-products\bldgops\ondemandwork" data-helpLink="\Subsystems\webc\Content\web_user\on_demand\craftsperson\cp_overview.htm" data-helpSystem="END USER" data-dashboardLayout="" data-dashboardView="" title="" oncontextmenu="return false;" onMouseUp="openPtask(this,event);">
                <h2 class="applications-process-title" title="">
                    <span class="process-title-text">Craftsperson</span>
                </h2>
                <div class="bucket-wrapper" id="wrapper_abbldgopsondemandwork_craftspersonWebBldgopsconsole">
                        <ol class="ptask-labels">
                            <li></li>
                            <ol class="process-tasks">
                                <li><a href="ab-ondemand-cf-update-labor.axvw" rel="pTask" data-taskId="Update Labor Hours" data-taskIcon="ab-icon-task.gif">Update Labor Hours</a></li>
                                <li><a href="ab-bldgops-console.axvw" rel="pTask" data-taskId="Building Operations Console" data-taskIcon="ab-icon-task.gif">Building Operations Console</a></li>
                            </ol>
                        </ol>
                </div>
            </div>
        </div>
        <div class="page-row full-height" >
            <h3 class="application-title" data-activityId="AbBldgOpsOnDemandWork">On Demand Work</h3>
            <hr class="application-horizontal-rule">
            <div class="bucket-application " data-productId="AbBldgOps" data-activityId="AbBldgOpsOnDemandWork" data-processId="Call Center BldgOpsConsole" data-productTitle="Building Operations" data-activityTitle="On Demand Work" data-processTitle="Call Center" data-subfolder="\ab-products\bldgops\ondemandwork" data-helpLink="\Subsystems\webc\Content\web_user\on_demand\call_center\call_center.htm" data-helpSystem="END USER" data-dashboardLayout="" data-dashboardView="" title="" oncontextmenu="return false;" onMouseUp="openPtask(this,event);">
                <h2 class="applications-process-title" title="">
                    <span class="process-title-text">Call Center</span>
                </h2>
                <div class="bucket-wrapper" id="wrapper_abbldgopsondemandwork_callCenterBldgopsconsole">
                        <ol class="ptask-labels">
                            <li></li>
                            <ol class="process-tasks">
                                <li><a href="ab-bldgops-console.axvw" rel="pTask" data-taskId="Building Operations Console" data-taskIcon="ab-icon-task.gif">Building Operations Console</a></li>
                            </ol>
                        </ol>
                </div>
            </div>
            <div class="bucket-application " data-productId="AbBldgOps" data-activityId="AbBldgOpsOnDemandWork" data-processId="Service Desk Mgr BldgOpsConsole" data-productTitle="Building Operations" data-activityTitle="On Demand Work" data-processTitle="Service Desk Manager" data-subfolder="\ab-products\bldgops\ondemandwork" data-helpLink="\Subsystems\webc\Content\web_user\service_desk\sd_manager\sd_manager_over.htm" data-helpSystem="END USER" data-dashboardLayout="" data-dashboardView="" title="" oncontextmenu="return false;" onMouseUp="openPtask(this,event);">
                <h2 class="applications-process-title" title="">
                    <span class="process-title-text">Service Desk Manager</span>
                </h2>
                <div class="bucket-wrapper" id="wrapper_abbldgopsondemandwork_serviceDeskMgrBldgopsconsole">
                        <ol class="ptask-labels">
                            <li></li>
                            <ol class="process-tasks">
                                <li><a href="ab-bldgops-sla.axvw" rel="pTask" data-taskId="Manage Service Level Agreements" data-taskIcon="ab-icon-task.gif">Manage Service Level Agreements</a></li>
                                <li><a href="ab-sla-find-groupings.axvw" rel="pTask" data-taskId="Create Groupings for Service Level Agreements" data-taskIcon="ab-icon-task.gif">Create Groupings for Service Level Agreements</a></li>
                                <li><a href="ab-helpdesk-sla-ordering.axvw" rel="pTask" data-taskId="Determine Ordering Sequence of Service Level Agreements" data-taskIcon="ab-icon-task.gif">Determine Ordering Sequence of Service Level Agreements</a></li>
                                <li><a href="ab-sla-priority-edit.axvw" rel="pTask" data-taskId="Define SLA Priorities" data-taskIcon="ab-icon-task.gif">Define SLA Priorities</a></li>
                                <li><a href="ab-bldgops-express-manager-search-tabs.axvw" rel="pTask" data-taskId="Search & Manage" data-taskIcon="ab-icon-task.gif">Search & Manage</a></li>
                                <li><a href="ab-ondemand-activitytype.axvw" rel="pTask" data-taskId="Manage Maintenance Request" data-taskIcon="ab-icon-task.gif">Manage Maintenance Request</a></li>
                                <li><a href="ab-servicedesk-workflow-substitute.axvw" rel="pTask" data-taskId="Schedule Substitutes" data-taskIcon="ab-icon-task.gif">Schedule Substitutes</a></li>
                            </ol>
                        </ol>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
$(document).ready(function() {
    $('#navigationTabs').find('a').click(function() {return false;});
    initDandDFavorites();
    setPageDimensions();
    bindTaskContextMenu();
    localizeFavoritesDisplayText();
    loadFavoritesBuckets();
    modifyProcessTitleDisplay();
    pageTallPTaskBuckets();
});
</script>