<div class="nav-pages" id="WasteManagement">
    <div class="page">
        <div class="page-row full-height" >
            <h3 class="application-title" data-activityId="AbRiskWasteMgmt">Waste Management</h3>
            <hr class="application-horizontal-rule">
            <div id="appProcFavoritesBucket" class="bucket-application bucket-background-light " data-activityId="" data-processId="" oncontextmenu="return false;">
                <h2 class="applications-process-title" data-processId="" title="Most often used tasks and reports.">My Favorites</h2>
                <div class="bucket-wrapper" id="wrapper_9ff05481-db6e-4425-b72e-50ba045de301">
                    <div class="favorites-drop-target">
                        <span class="favorites-add-target"></span>
                        <span class="favorites-delete-target">&nbsp;</span>
                    </div>
                    <div class="favorites" onMouseUp="openPtask(this,event);">
                        <ol class="favorites-items">
                        </ol>
                    </div>
                </div>
            </div>
            <div class="bucket-application " data-productId="AbRisk" data-activityId="AbRiskWasteMgmt" data-processId="Waste - Track" data-productTitle="Environmental & Risk Management" data-activityTitle="Waste Management" data-processTitle="Track" data-subfolder="\ab-products\risk\waste" data-helpLink="\Subsystems\webc\Content\waste\track\overview.htm" data-helpSystem="END USER" data-dashboardLayout="" data-dashboardView="" title="" oncontextmenu="return false;" onMouseUp="openPtask(this,event);">
                <h2 class="applications-process-title" title="">
                    <span class="process-title-text">Track</span>
                </h2>
                <div class="bucket-wrapper" id="wrapper_abriskwastemgmt_wasteTrack">
                        <ol class="ptask-labels">
                            <li></li>
                            <ol class="process-tasks">
                                <li><a href="ab-waste-track-generation.axvw" rel="pTask" data-taskId="Track Waste Generation" data-taskIcon="ab-icon-task.gif">Track Waste Generation</a></li>
                                <li><a href="ab-waste-track-accumulation.axvw" rel="pTask" data-taskId="Track Waste Accumulation" data-taskIcon="ab-icon-task.gif">Track Waste Accumulation</a></li>
                                <li><a href="ab-waste-track-storage.axvw" rel="pTask" data-taskId="Track Waste Storage" data-taskIcon="ab-icon-task.gif">Track Waste Storage</a></li>
                                <li><a href="ab-waste-track-shipments.axvw" rel="pTask" data-taskId="Track Waste Shipments" data-taskIcon="ab-icon-task.gif">Track Waste Shipments</a></li>
                                <li><a href="ab-waste-track-discharges.axvw" rel="pTask" data-taskId="Track Waste Discharges" data-taskIcon="ab-icon-task.gif">Track Waste Discharges</a></li>
                            </ol>
                            <li class="empty-taskgroup-title">&nbsp;</li>
                            <ol class="process-tasks">
                                <li><a href="ab-waste-def-manifests.axvw" rel="pTask" data-taskId="Define Waste Manifests" data-taskIcon="ab-icon-task.gif">Define Waste Manifests</a></li>
                                <li><a href="ab-waste-track-manifests.axvw" rel="pTask" data-taskId="Track Waste Manifests" data-taskIcon="ab-icon-task.gif">Track Waste Manifests</a></li>
                            </ol>
                        </ol>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
$(document).ready(function() {
    $('#navigationTabs').find('a').click(function() {return false;});
    initDandDFavorites();
    setPageDimensions();
    bindTaskContextMenu();
    localizeFavoritesDisplayText();
    loadFavoritesBuckets();
    modifyProcessTitleDisplay();
    pageTallPTaskBuckets();
});
</script>