<div class="nav-pages" id="EnergyManagement">
    <div class="page">
        <div class="page-row full-height" >
            <h3 class="application-title" data-activityId="AbRiskEnergyManagement">Energy Management</h3>
            <hr class="application-horizontal-rule">
            <div id="appProcFavoritesBucket" class="bucket-application bucket-background-light " data-activityId="" data-processId="" oncontextmenu="return false;">
                <h2 class="applications-process-title" data-processId="" title="Most often used tasks and reports.">My Favorites</h2>
                <div class="bucket-wrapper" id="wrapper_43101aee-3a38-4a73-bd4c-069a41126776">
                    <div class="favorites-drop-target">
                        <span class="favorites-add-target"></span>
                        <span class="favorites-delete-target">&nbsp;</span>
                    </div>
                    <div class="favorites" onMouseUp="openPtask(this,event);">
                        <ol class="favorites-items">
                        </ol>
                    </div>
                </div>
            </div>
            <div class="bucket-application " data-productId="AbRisk" data-activityId="AbRiskEnergyManagement" data-processId="Cost Administrator" data-productTitle="Environmental & Risk Management" data-activityTitle="Energy Management" data-processTitle="Cost Administrator" data-subfolder="\ab-products\risk\energy" data-helpLink="\Subsystems\webc\Content\energy\cost_admin\overview.htm" data-helpSystem="END USER" data-dashboardLayout="" data-dashboardView="" title="" oncontextmenu="return false;" onMouseUp="openPtask(this,event);">
                <h2 class="applications-process-title" title="">
                    <span class="process-title-text">Cost Administrator</span>
                </h2>
                <div class="bucket-wrapper" id="wrapper_abriskenergymanagement_costAdministrator">
                        <ol class="ptask-labels">
                            <li>Background Data</li>
                            <ol class="process-tasks">
                                <li><a href="ab-vn-edit.axvw" rel="pTask" data-taskId="Define Vendors" data-taskIcon="ab-icon-task.gif">Define Vendors</a></li>
                                <li><a href="ab-energy-vn-ac-edit.axvw" rel="pTask" data-taskId="Define Vendor Accounts" data-taskIcon="ab-icon-task.gif">Define Vendor Accounts</a></li>
                            </ol>
                            <li>Forms</li>
                            <ol class="process-tasks">
                                <li><a href="ab-energy-vn-ac-bill-line-def.axvw" rel="pTask" data-taskId="Enter Bills" data-taskIcon="ab-icon-task.gif">Enter Bills</a></li>
                                <li><a href="ab-energy-load-bills.axvw" rel="pTask" data-taskId="Load Bills" data-taskIcon="ab-icon-task.gif">Load Bills</a></li>
                                <li><a href="ab-energy-enter-bills-groups-bl.axvw" rel="pTask" data-taskId="Enter Bills for Group of Buildings" data-taskIcon="ab-icon-task.gif">Enter Bills for Group of Buildings</a></li>
                            </ol>
                        </ol>
                </div>
            </div>
            <div class="bucket-application " data-productId="AbRisk" data-activityId="AbRiskEnergyManagement" data-processId="Accounting Supervisor" data-productTitle="Environmental & Risk Management" data-activityTitle="Energy Management" data-processTitle="Accounting Supervisor" data-subfolder="\ab-products\risk\energy" data-helpLink="\Subsystems\webc\Content\energy\accounting\overview.htm" data-helpSystem="END USER" data-dashboardLayout="" data-dashboardView="" title="" oncontextmenu="return false;" onMouseUp="openPtask(this,event);">
                <h2 class="applications-process-title" title="">
                    <span class="process-title-text">Accounting Supervisor</span>
                </h2>
                <div class="bucket-wrapper" id="wrapper_abriskenergymanagement_accountingSupervisor">
                        <ol class="ptask-labels">
                            <li>Background Data</li>
                            <ol class="process-tasks">
                                <li><a href="ab-vn-edit.axvw" rel="pTask" data-taskId="Define Vendors" data-taskIcon="ab-icon-task.gif">Define Vendors</a></li>
                                <li><a href="ab-energy-vn-ac-edit.axvw" rel="pTask" data-taskId="Define Vendor Accounts" data-taskIcon="ab-icon-task.gif">Define Vendor Accounts</a></li>
                                <li><a href="ab-energy-def-utility-rates.axvw" rel="pTask" data-taskId="Define Utility Rates" data-taskIcon="ab-icon-task.gif">Define Utility Rates</a></li>
                            </ol>
                            <li>Forms</li>
                            <ol class="process-tasks">
                                <li><a href="ab-energy-vn-ac-bill-line-def.axvw" rel="pTask" data-taskId="Enter Bills" data-taskIcon="ab-icon-task.gif">Enter Bills</a></li>
                                <li><a href="ab-energy-load-bills.axvw" rel="pTask" data-taskId="Load Bills" data-taskIcon="ab-icon-task.gif">Load Bills</a></li>
                                <li><a href="ab-energy-bill-audit-approve-tabs.axvw" rel="pTask" data-taskId="Review and Approve Bills" data-taskIcon="ab-icon-task.gif">Review and Approve Bills</a></li>
                                <li><a href="ab-energy-enter-bills-groups-bl.axvw" rel="pTask" data-taskId="Enter Bills for Group of Buildings" data-taskIcon="ab-icon-task.gif">Enter Bills for Group of Buildings</a></li>
                            </ol>
                            <li>Reports</li>
                            <ol class="process-tasks">
                                <li><a href="ab-energy-bill-and-line-view.axvw" rel="pTask" data-taskId="View Bills and Line Items" data-taskIcon="ab-icon-task.gif">View Bills and Line Items</a></li>
                                <li><a href="ab-energy-archived-bill-and-line-view.axvw" rel="pTask" data-taskId="View Archived Bills and Line Items" data-taskIcon="ab-icon-task.gif">View Archived Bills and Line Items</a></li>
                                <li><a href="ab-energy-calendar.axvw" rel="pTask" data-taskId="View Bill Calendar" data-taskIcon="ab-icon-task.gif">View Bill Calendar</a></li>
                                <li><a href="ab-energy-prorated-aggregated-bills.axvw" rel="pTask" data-taskId="View Prorated/Aggregated Bills" data-taskIcon="ab-icon-task.gif">View Prorated/Aggregated Bills</a></li>
                            </ol>
                        </ol>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
$(document).ready(function() {
    $('#navigationTabs').find('a').click(function() {return false;});
    initDandDFavorites();
    setPageDimensions();
    bindTaskContextMenu();
    localizeFavoritesDisplayText();
    loadFavoritesBuckets();
    modifyProcessTitleDisplay();
    pageTallPTaskBuckets();
});
</script>