<div class="nav-pages" id="CleanBuilding">
    <div class="page">
        <div class="page-row full-height" >
            <h3 class="application-title" data-activityId="AbRiskCleanBuilding">Clean Building</h3>
            <hr class="application-horizontal-rule">
            <div id="appProcFavoritesBucket" class="bucket-application bucket-background-light " data-activityId="" data-processId="" oncontextmenu="return false;">
                <h2 class="applications-process-title" data-processId="" title="Most often used tasks and reports.">My Favorites</h2>
                <div class="bucket-wrapper" id="wrapper_8d55f3db-3ae0-480d-9bf3-2b151e48d901">
                    <div class="favorites-drop-target">
                        <span class="favorites-add-target"></span>
                        <span class="favorites-delete-target">&nbsp;</span>
                    </div>
                    <div class="favorites" onMouseUp="openPtask(this,event);">
                        <ol class="favorites-items">
                        </ol>
                    </div>
                </div>
            </div>
            <div class="bucket-application " data-productId="AbRisk" data-activityId="AbRiskCleanBuilding" data-processId="Environmental Project Manager" data-productTitle="Environmental & Risk Management" data-activityTitle="Clean Building" data-processTitle="Environmental Project Manager" data-subfolder="\ab-products\risk\clean" data-helpLink="\Subsystems\webc\Content\clean\proj_manager\overview.htm" data-helpSystem="END USER" data-dashboardLayout="" data-dashboardView="" title="" oncontextmenu="return false;" onMouseUp="openPtask(this,event);">
                <h2 class="applications-process-title" title="">
                    <span class="process-title-text">Environmental Project Manager</span>
                </h2>
                <div class="bucket-wrapper" id="wrapper_abriskcleanbuilding_environmentalProjectManager">
                        <ol class="ptask-labels">
                            <li></li>
                            <ol class="process-tasks">
                                <li><a href="ab-ca-def-cont.axvw" rel="pTask" data-taskId="Define Contacts" data-taskIcon="ab-icon-task.gif">Define Contacts</a></li>
                                <li><a href="ab-common-def-em.axvw" rel="pTask" data-taskId="Define Employees" data-taskIcon="ab-icon-task.gif">Define Employees</a></li>
                                <li><a href="ab-vn-edit.axvw" rel="pTask" data-taskId="Define Vendors" data-taskIcon="ab-icon-task.gif">Define Vendors</a></li>
                                <li><a href="ab-def-comm-types.axvw" rel="pTask" data-taskId="Define Communication Types" data-taskIcon="ab-icon-task.gif">Define Communication Types</a></li>
                            </ol>
                            <li class="empty-taskgroup-title">&nbsp;</li>
                            <ol class="process-tasks">
                                <li><a href="ab-cb-def-prj.axvw" rel="pTask" data-taskId="Define Projects" data-taskIcon="ab-icon-task.gif">Define Projects</a></li>
                            </ol>
                        </ol>
                </div>
            </div>
            <div class="bucket-application " data-productId="AbRisk" data-activityId="AbRiskCleanBuilding" data-processId="Environmental Hazard Manager" data-productTitle="Environmental & Risk Management" data-activityTitle="Clean Building" data-processTitle="Environmental Hazard Manager" data-subfolder="\ab-products\risk\clean" data-helpLink="\Subsystems\webc\Content\clean\haz_manager\overview.htm" data-helpSystem="END USER" data-dashboardLayout="" data-dashboardView="" title="" oncontextmenu="return false;" onMouseUp="openPtask(this,event);">
                <h2 class="applications-process-title" title="">
                    <span class="process-title-text">Environmental Hazard Manager</span>
                </h2>
                <div class="bucket-wrapper" id="wrapper_abriskcleanbuilding_environmentalHazardManager">
                        <ol class="ptask-labels">
                            <li></li>
                            <ol class="process-tasks">
                                <li><a href="ab-cb-activity-items.axvw" rel="pTask" data-taskId="Manage Project Activity Items" data-taskIcon="ab-icon-task.gif">Manage Project Activity Items</a></li>
                                <li><a href="ab-cb-assess-items.axvw" rel="pTask" data-taskId="Manage Hazard Assessment Items" data-taskIcon="ab-icon-task.gif">Manage Hazard Assessment Items</a></li>
                            </ol>
                            <li class="empty-taskgroup-title">&nbsp;</li>
                            <ol class="process-tasks">
                                <li><a href="ab-cb-rpt-loc.axvw" rel="pTask" data-taskId="View Locations" data-taskIcon="ab-icon-task.gif">View Locations</a></li>
                                <li><a href="ab-cb-rpt-locs.axvw" rel="pTask" data-taskId="View Locations Drill-down" data-taskIcon="ab-icon-task.gif">View Locations Drill-down</a></li>
                                <li><a href="ab-cb-rpt-assess-loc.axvw" rel="pTask" data-taskId="View Assessment Items by Location" data-taskIcon="ab-icon-task.gif">View Assessment Items by Location</a></li>
                            </ol>
                        </ol>
                </div>
            </div>
            <div class="bucket-application " data-productId="AbRisk" data-activityId="AbRiskCleanBuilding" data-processId="Field Assessor" data-productTitle="Environmental & Risk Management" data-activityTitle="Clean Building" data-processTitle="Field Assessor" data-subfolder="\ab-products\risk\clean" data-helpLink="\Subsystems\webc\Content\clean\field\overview.htm" data-helpSystem="END USER" data-dashboardLayout="" data-dashboardView="" title="" oncontextmenu="return false;" onMouseUp="openPtask(this,event);">
                <h2 class="applications-process-title" title="">
                    <span class="process-title-text">Field Assessor</span>
                </h2>
                <div class="bucket-wrapper" id="wrapper_abriskcleanbuilding_fieldAssessor">
                        <ol class="ptask-labels">
                            <li></li>
                            <ol class="process-tasks">
                                <li><a href="ab-cb-my-activity-items.axvw" rel="pTask" data-taskId="Manage My Project Activity Items" data-taskIcon="ab-icon-task.gif">Manage My Project Activity Items</a></li>
                                <li><a href="ab-cb-my-assess-items.axvw" rel="pTask" data-taskId="Manage My Hazard Assessment Items" data-taskIcon="ab-icon-task.gif">Manage My Hazard Assessment Items</a></li>
                            </ol>
                            <li class="empty-taskgroup-title">&nbsp;</li>
                            <ol class="process-tasks">
                                <li><a href="ab-cb-rpt-my-loc.axvw" rel="pTask" data-taskId="View Locations" data-taskIcon="ab-icon-task.gif">View Locations</a></li>
                                <li><a href="ab-cb-rpt-my-locs.axvw" rel="pTask" data-taskId="View Locations Drill-down" data-taskIcon="ab-icon-task.gif">View Locations Drill-down</a></li>
                                <li><a href="ab-cb-rpt-assess-loc.axvw" rel="pTask" data-taskId="View Assessment Items by Location" data-taskIcon="ab-icon-task.gif">View Assessment Items by Location</a></li>
                                <li><a href="ab-cb-rpt-hl-haz.axvw" rel="pTask" data-taskId="Hazard Areas and Assessment Items" data-taskIcon="ab-icon-task.gif">Hazard Areas and Assessment Items</a></li>
                            </ol>
                        </ol>
                </div>
            </div>
            <div class="bucket-application " data-productId="AbRisk" data-activityId="AbRiskCleanBuilding" data-processId="Abatement Worker" data-productTitle="Environmental & Risk Management" data-activityTitle="Clean Building" data-processTitle="Abatement Worker" data-subfolder="\ab-products\risk\clean" data-helpLink="\Subsystems\webc\Content\clean\abatement\overview.htm" data-helpSystem="END USER" data-dashboardLayout="" data-dashboardView="" title="" oncontextmenu="return false;" onMouseUp="openPtask(this,event);">
                <h2 class="applications-process-title" title="">
                    <span class="process-title-text">Abatement Worker</span>
                </h2>
                <div class="bucket-wrapper" id="wrapper_abriskcleanbuilding_abatementWorker">
                        <ol class="ptask-labels">
                            <li></li>
                            <ol class="process-tasks">
                                <li><a href="ab-cb-my-abate-reqs.axvw" rel="pTask" data-taskId="Manage My Abatement Activity Items" data-taskIcon="ab-icon-task.gif">Manage My Abatement Activity Items</a></li>
                                <li><a href="ab-cb-my-abate-items.axvw" rel="pTask" data-taskId="Manage My Hazard Abatement Items" data-taskIcon="ab-icon-task.gif">Manage My Hazard Abatement Items</a></li>
                            </ol>
                            <li class="empty-taskgroup-title">&nbsp;</li>
                            <ol class="process-tasks">
                                <li><a href="ab-cb-rpt-my-loc.axvw" rel="pTask" data-taskId="View Locations" data-taskIcon="ab-icon-task.gif">View Locations</a></li>
                                <li><a href="ab-cb-rpt-my-locs.axvw" rel="pTask" data-taskId="View Locations Drill-down" data-taskIcon="ab-icon-task.gif">View Locations Drill-down</a></li>
                                <li><a href="ab-cb-rpt-assess-loc.axvw" rel="pTask" data-taskId="View Assessment Items by Location" data-taskIcon="ab-icon-task.gif">View Assessment Items by Location</a></li>
                                <li><a href="ab-cb-rpt-hl-haz.axvw" rel="pTask" data-taskId="Hazard Areas and Assessment Items" data-taskIcon="ab-icon-task.gif">Hazard Areas and Assessment Items</a></li>
                            </ol>
                        </ol>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
$(document).ready(function() {
    $('#navigationTabs').find('a').click(function() {return false;});
    initDandDFavorites();
    setPageDimensions();
    bindTaskContextMenu();
    localizeFavoritesDisplayText();
    loadFavoritesBuckets();
    modifyProcessTitleDisplay();
    pageTallPTaskBuckets();
});
</script>