<div class="nav-pages" id="HazardousMaterials">
    <div class="page">
        <div class="page-row full-height" >
            <h3 class="application-title" data-activityId="AbRiskMSDS">Hazardous Materials</h3>
            <hr class="application-horizontal-rule">
            <div id="appProcFavoritesBucket" class="bucket-application bucket-background-light " data-activityId="" data-processId="" oncontextmenu="return false;">
                <h2 class="applications-process-title" data-processId="" title="Most often used tasks and reports.">My Favorites</h2>
                <div class="bucket-wrapper" id="wrapper_d8b64493-8905-4e8d-b874-bc48610a29de">
                    <div class="favorites-drop-target">
                        <span class="favorites-add-target"></span>
                        <span class="favorites-delete-target">&nbsp;</span>
                    </div>
                    <div class="favorites" onMouseUp="openPtask(this,event);">
                        <ol class="favorites-items">
                        </ol>
                    </div>
                </div>
            </div>
            <div class="bucket-application " data-productId="AbRisk" data-activityId="AbRiskMSDS" data-processId="Manage MSDSs" data-productTitle="Environmental & Risk Management" data-activityTitle="Hazardous Materials" data-processTitle="Manage Material Inventory" data-subfolder="\ab-products\risk\msds" data-helpLink="\Subsystems\webc\Content\msds\manage_msds\overview.htm" data-helpSystem="END USER" data-dashboardLayout="" data-dashboardView="" title="" oncontextmenu="return false;" onMouseUp="openPtask(this,event);">
                <h2 class="applications-process-title" title="">
                    <span class="process-title-text">Manage Material Inventory</span>
                </h2>
                <div class="bucket-wrapper" id="wrapper_abriskmsds_manageMsdss">
                        <ol class="ptask-labels">
                            <li></li>
                            <ol class="process-tasks">
                                <li><a href="ab-msds-def-msds.axvw" rel="pTask" data-taskId="Define Materials and Safety Data Sheets (SDS)" data-taskIcon="ab-icon-task.gif">Define Materials and Safety Data Sheets (SDS)</a></li>
                                <li><a href="ab-msds-def-locs.axvw" rel="pTask" data-taskId="Assign Material Locations" data-taskIcon="ab-icon-task.gif">Assign Material Locations</a></li>
                                <li><a href="ab-msds-def-loc-dwg.axvw" rel="pTask" data-taskId="Assign Material to Rooms Using a Floor Plan" data-taskIcon="ab-icon-task.gif">Assign Material to Rooms Using a Floor Plan</a></li>
                            </ol>
                        </ol>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
$(document).ready(function() {
    $('#navigationTabs').find('a').click(function() {return false;});
    initDandDFavorites();
    setPageDimensions();
    bindTaskContextMenu();
    localizeFavoritesDisplayText();
    loadFavoritesBuckets();
    modifyProcessTitleDisplay();
    pageTallPTaskBuckets();
});
</script>