<div class="nav-pages" id="GreenBuilding">
    <div class="page">
        <div class="page-row full-height" >
            <h3 class="application-title" data-activityId="AbRiskGreenBuilding">Green Building</h3>
            <hr class="application-horizontal-rule">
            <div id="appProcFavoritesBucket" class="bucket-application bucket-background-light " data-activityId="" data-processId="" oncontextmenu="return false;">
                <h2 class="applications-process-title" data-processId="" title="Most often used tasks and reports.">My Favorites</h2>
                <div class="bucket-wrapper" id="wrapper_d29a097b-e8b2-478e-8833-20eae464f8da">
                    <div class="favorites-drop-target">
                        <span class="favorites-add-target"></span>
                        <span class="favorites-delete-target">&nbsp;</span>
                    </div>
                    <div class="favorites" onMouseUp="openPtask(this,event);">
                        <ol class="favorites-items">
                        </ol>
                    </div>
                </div>
            </div>
            <div class="bucket-application " data-productId="AbRisk" data-activityId="AbRiskGreenBuilding" data-processId="Track Carbon Footprint" data-productTitle="Environmental & Risk Management" data-activityTitle="Green Building" data-processTitle="Carbon Footprint - Track" data-subfolder="\ab-products\risk\green" data-helpLink="\Subsystems\webc\Content\green_bldg\carb_fp_track\carb_track_over.htm" data-helpSystem="END USER" data-dashboardLayout="" data-dashboardView="" title="" oncontextmenu="return false;" onMouseUp="openPtask(this,event);">
                <h2 class="applications-process-title" title="">
                    <span class="process-title-text">Carbon Footprint - Track</span>
                </h2>
                <div class="bucket-wrapper" id="wrapper_abriskgreenbuilding_trackCarbonFootprint">
                        <ol class="ptask-labels">
                            <li></li>
                            <ol class="process-tasks">
                                <li><a href="ab-gb-def-fp-scn.axvw" rel="pTask" data-taskId="Define Footprint Scenarios" data-taskIcon="ab-icon-task.gif">Define Footprint Scenarios</a></li>
                                <li><a href="ab-gb-fp-data.axvw" rel="pTask" data-taskId="Enter Building Footprint Data" data-taskIcon="ab-icon-task.gif">Enter Building Footprint Data</a></li>
                            </ol>
                            <li class="empty-taskgroup-title">&nbsp;</li>
                            <ol class="process-tasks">
                                <li><a href="ab-gb-fp-es-exp.axvw" rel="pTask" data-taskId="Export Energy Star Data" data-taskIcon="ab-icon-task.gif">Export Energy Star Data</a></li>
                            </ol>
                        </ol>
                </div>
            </div>
            <div class="bucket-application " data-productId="AbRisk" data-activityId="AbRiskGreenBuilding" data-processId="Track Scores" data-productTitle="Environmental & Risk Management" data-activityTitle="Green Building" data-processTitle="Scoring - Track" data-subfolder="\ab-products\risk\green" data-helpLink="\Subsystems\webc\Content\green_bldg\score_track\overview.htm" data-helpSystem="END USER" data-dashboardLayout="" data-dashboardView="" title="" oncontextmenu="return false;" onMouseUp="openPtask(this,event);">
                <h2 class="applications-process-title" title="">
                    <span class="process-title-text">Scoring - Track</span>
                </h2>
                <div class="bucket-wrapper" id="wrapper_abriskgreenbuilding_trackScores">
                        <ol class="ptask-labels">
                            <li></li>
                            <ol class="process-tasks">
                                <li><a href="ab-gb-cert-def-proj.axvw" rel="pTask" data-taskId="Define Rating Project" data-taskIcon="ab-icon-task.gif">Define Rating Project</a></li>
                                <li><a href="ab-gb-cert-score-proj.axvw" rel="pTask" data-taskId="Enter Scores" data-taskIcon="ab-icon-task.gif">Enter Scores</a></li>
                                <li><a href="ab-gb-cert-docs.axvw" rel="pTask" data-taskId="Upload Documents" data-taskIcon="ab-icon-task.gif">Upload Documents</a></li>
                                <li><a href="ab-gb-cert-log.axvw" rel="pTask" data-taskId="Enter Rating Project Notes" data-taskIcon="ab-icon-task.gif">Enter Rating Project Notes</a></li>
                            </ol>
                        </ol>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
$(document).ready(function() {
    $('#navigationTabs').find('a').click(function() {return false;});
    initDandDFavorites();
    setPageDimensions();
    bindTaskContextMenu();
    localizeFavoritesDisplayText();
    loadFavoritesBuckets();
    modifyProcessTitleDisplay();
    pageTallPTaskBuckets();
});
</script>