<div class="nav-pages" id="Reservations">
    <div class="page">
        <div class="page-row full-height" >
            <h3 class="application-title" data-activityId="AbWorkplaceReservations">Reservations</h3>
            <hr class="application-horizontal-rule">
            <div id="appProcFavoritesBucket" class="bucket-application bucket-background-light " data-activityId="" data-processId="" oncontextmenu="return false;">
                <h2 class="applications-process-title" data-processId="" title="Most often used tasks and reports.">My Favorites</h2>
                <div class="bucket-wrapper" id="wrapper_a5aed477-d6de-43ab-aebd-e9479e92f937">
                    <div class="favorites-drop-target">
                        <span class="favorites-add-target"></span>
                        <span class="favorites-delete-target">&nbsp;</span>
                    </div>
                    <div class="favorites" onMouseUp="openPtask(this,event);">
                        <ol class="favorites-items">
                        </ol>
                    </div>
                </div>
            </div>
            <div class="bucket-application " data-productId="AbWorkplaceServices" data-activityId="AbWorkplaceReservations" data-processId="Reservations" data-productTitle="Workplace Services" data-activityTitle="Reservations" data-processTitle="Reserve Rooms and/or Resources" data-subfolder="\ab-products\workplace\reservations" data-helpLink="\Subsystems\webc\Content\web_user\res\reserve\create_rm_resource_res.htm" data-helpSystem="END USER" data-dashboardLayout="" data-dashboardView="" title="" oncontextmenu="return false;" onMouseUp="openPtask(this,event);">
                <h2 class="applications-process-title" title="">
                    <span class="process-title-text">Reserve Rooms and/or Resources</span>
                </h2>
                <div class="bucket-wrapper" id="wrapper_abworkplacereservations_reservations">
                        <ol class="ptask-labels">
                            <li></li>
                            <ol class="process-tasks">
                                <li><a href="ab-rr-add-room-reservation.axvw" rel="pTask" data-taskId="Create New Room Reservation" data-taskIcon="ab-icon-task.gif">Create New Room Reservation</a></li>
                                <li><a href="ab-rr-add-resource-reservation.axvw" rel="pTask" data-taskId="Create New Resource Reservation" data-taskIcon="ab-icon-task.gif">Create New Resource Reservation</a></li>
                                <li><a href="ab-rr-add-confcall-reservation.axvw" rel="pTask" data-taskId="Create New Conference Call Reservation" data-taskIcon="ab-icon-task.gif">Create New Conference Call Reservation</a></li>
                            </ol>
                            <li class="empty-taskgroup-title">&nbsp;</li>
                            <ol class="process-tasks">
                                <li><a href="ab-rr-my-reservations.axvw" rel="pTask" data-taskId="View and/or Edit My Reservations" data-taskIcon="ab-icon-task.gif">View and/or Edit My Reservations</a></li>
                                <li><a href="ab-rr-my-reservations-conflicts.axvw" rel="pTask" data-taskId="Resolve Conflicts" data-taskIcon="ab-icon-task.gif">Resolve Conflicts</a></li>
                            </ol>
                            <li class="empty-taskgroup-title">&nbsp;</li>
                            <ol class="process-tasks">
                                <li><a href="ab-rr-verify-reservation.axvw" rel="pTask" data-taskId="Verify Room Reservation" data-taskIcon="ab-icon-task.gif">Verify Room Reservation</a></li>
                            </ol>
                        </ol>
                </div>
            </div>
            <div class="bucket-application " data-productId="AbWorkplaceServices" data-activityId="AbWorkplaceReservations" data-processId="Approval" data-productTitle="Workplace Services" data-activityTitle="Reservations" data-processTitle="Approve Reservations" data-subfolder="\ab-products\workplace\reservations" data-helpLink="\Subsystems\webc\Content\web_user\res\approve\approve_res.htm" data-helpSystem="END USER" data-dashboardLayout="" data-dashboardView="" title="" oncontextmenu="return false;" onMouseUp="openPtask(this,event);">
                <h2 class="applications-process-title" title="">
                    <span class="process-title-text">Approve Reservations</span>
                </h2>
                <div class="bucket-wrapper" id="wrapper_abworkplacereservations_approval">
                        <ol class="ptask-labels">
                            <li></li>
                            <ol class="process-tasks">
                                <li><a href="ab-rr-approve-reservations.axvw" rel="pTask" data-taskId="Approve Reservation" data-taskIcon="ab-icon-task.gif">Approve Reservation</a></li>
                            </ol>
                        </ol>
                </div>
            </div>
            <div class="bucket-application " data-productId="AbWorkplaceServices" data-activityId="AbWorkplaceReservations" data-processId="Trades" data-productTitle="Workplace Services" data-activityTitle="Reservations" data-processTitle="Manage Trade Work" data-subfolder="\ab-products\workplace\reservations" data-helpLink="\Subsystems\webc\Content\web_user\res\trades\review_trade.htm" data-helpSystem="END USER" data-dashboardLayout="" data-dashboardView="" title="" oncontextmenu="return false;" onMouseUp="openPtask(this,event);">
                <h2 class="applications-process-title" title="">
                    <span class="process-title-text">Manage Trade Work</span>
                </h2>
                <div class="bucket-wrapper" id="wrapper_abworkplacereservations_trades">
                        <ol class="ptask-labels">
                            <li></li>
                            <ol class="process-tasks">
                                <li><a href="ab-rr-trade.axvw" rel="pTask" data-taskId="View Reservations Work by Trade" data-taskIcon="ab-icon-task.gif">View Reservations Work by Trade</a></li>
                            </ol>
                        </ol>
                </div>
            </div>
            <div class="bucket-application " data-productId="AbWorkplaceServices" data-activityId="AbWorkplaceReservations" data-processId="Reservation Manager" data-productTitle="Workplace Services" data-activityTitle="Reservations" data-processTitle="Manage Reservations" data-subfolder="\ab-products\workplace\reservations" data-helpLink="\Subsystems\webc\Content\fim\res\setup_tasks_res.htm" data-helpSystem="END USER" data-dashboardLayout="" data-dashboardView="" title="" oncontextmenu="return false;" onMouseUp="openPtask(this,event);">
                <h2 class="applications-process-title" title="">
                    <span class="process-title-text">Manage Reservations</span>
                </h2>
                <div class="bucket-wrapper" id="wrapper_abworkplacereservations_reservationManager">
                        <ol class="ptask-labels">
                            <li></li>
                            <ol class="process-tasks">
                                <li><a href="ab-rr-parameters.axvw" rel="pTask" data-taskId="Configure Application Parameters" data-taskIcon="ab-icon-task.gif">Configure Application Parameters</a></li>
                                <li><a href="ab-rr-outlookplugin-config.axvw" rel="pTask" data-taskId="Configure Outlook Plugin" data-taskIcon="ab-icon-task.gif">Configure Outlook Plugin</a></li>
                            </ol>
                            <li>Administrative Tasks</li>
                            <ol class="process-tasks">
                                <li><a href="ab-countries-define.axvw" rel="pTask" data-taskId="Define Countries" data-taskIcon="ab-icon-task.gif">Define Countries</a></li>
                                <li><a href="ab-sp-def-loc-rm.axvw" rel="pTask" data-taskId="Define Locations" data-taskIcon="ab-icon-task.gif">Define Locations</a></li>
                            </ol>
                            <li class="empty-taskgroup-title">&nbsp;</li>
                            <ol class="process-tasks">
                                <li><a href="ab-sp-def-org.axvw" rel="pTask" data-taskId="Define Organizations" data-taskIcon="ab-icon-task.gif">Define Organizations</a></li>
                            </ol>
                            <li class="empty-taskgroup-title">&nbsp;</li>
                            <ol class="process-tasks">
                                <li><a href="ab-rr-rm.axvw" rel="pTask" data-taskId="Define Reservable Rooms" data-taskIcon="ab-icon-task.gif">Define Reservable Rooms</a></li>
                                <li><a href="ab-rr-rm-config.axvw" rel="pTask" data-taskId="Define Room Configurations" data-taskIcon="ab-icon-task.gif">Define Room Configurations</a></li>
                                <li><a href="ab-rr-arrange.axvw" rel="pTask" data-taskId="Define Room Arrangement Types" data-taskIcon="ab-icon-task.gif">Define Room Arrangement Types</a></li>
                                <li><a href="ab-rr-rm-arrange.axvw" rel="pTask" data-taskId="Define Room Arrangements" data-taskIcon="ab-icon-task.gif">Define Room Arrangements</a></li>
                            </ol>
                            <li class="empty-taskgroup-title">&nbsp;</li>
                            <ol class="process-tasks">
                                <li><a href="ab-rr-resource-std.axvw" rel="pTask" data-taskId="Define Resource Standards" data-taskIcon="ab-icon-task.gif">Define Resource Standards</a></li>
                                <li><a href="ab-rr-resource.axvw" rel="pTask" data-taskId="Define Resources" data-taskIcon="ab-icon-task.gif">Define Resources</a></li>
                                <li><a href="ab-rr-rm-resource-std.axvw" rel="pTask" data-taskId="Define Fixed Resources" data-taskIcon="ab-icon-task.gif">Define Fixed Resources</a></li>
                            </ol>
                            <li class="empty-taskgroup-title">&nbsp;</li>
                            <ol class="process-tasks">
                                <li><a href="ab-rr-tr.axvw" rel="pTask" data-taskId="Define Trades" data-taskIcon="ab-icon-task.gif">Define Trades</a></li>
                                <li><a href="ab-rr-vn.axvw" rel="pTask" data-taskId="Define Vendors" data-taskIcon="ab-icon-task.gif">Define Vendors</a></li>
                            </ol>
                            <li class="empty-taskgroup-title">&nbsp;</li>
                            <ol class="process-tasks">
                                <li><a href="ab-common-def-em.axvw" rel="pTask" data-taskId="Define Employees" data-taskIcon="ab-icon-task.gif">Define Employees</a></li>
                                <li><a href="ab-rr-define-visitors.axvw" rel="pTask" data-taskId="Define Visitors" data-taskIcon="ab-icon-task.gif">Define Visitors</a></li>
                            </ol>
                        </ol>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
$(document).ready(function() {
    $('#navigationTabs').find('a').click(function() {return false;});
    initDandDFavorites();
    setPageDimensions();
    bindTaskContextMenu();
    localizeFavoritesDisplayText();
    loadFavoritesBuckets();
    modifyProcessTitleDisplay();
    pageTallPTaskBuckets();
});
</script>