.ab-svgcontainer {
  height: 100%;
  width: 100%;

  /*
  .svg {
    height: 100%;
    width: 100%;
  }
  */

  .home-button {
    width: 1.8em;
    height: 1.8em;
    border: 2px solid #0f407a;
    position: absolute;
    bottom: 10px;
    left: 10px;
    @include border-radius(0.4em);
  }

  .empty-svg-txt {
    text-align: center;
    color: #0f407a;
    width: 100%;
    margin-top:20px;
  }

  .empty-svg-text-hide {
    display: none;
  }

  .svg-header-txt {
    margin-top:8px;
    color:gray;
    font-size:0.8em;
    text-align:center;
  }

  .svg-header-txt-hide {
    display:none;
  }
}

.ab-button-icon {
  width: 1.5em;
  height: 1.25em;
  color: #0f407a;
}

.ab-button-icon:before {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  text-align: center;
  font-family: "abicons";
  content: "\e608";
  font-size:1.4em;
}
