<div class="nav-pages" id="EnterpriseAssetManagement">
    <div class="page">
        <div class="page-row full-height" >
            <h3 class="application-title" data-activityId="AbAssetEAM">Enterprise Asset Management</h3>
            <hr class="application-horizontal-rule">
            <div id="appProcFavoritesBucket" class="bucket-application bucket-background-light " data-activityId="" data-processId="" oncontextmenu="return false;">
                <h2 class="applications-process-title" data-processId="" title="Most often used tasks and reports.">My Favorites</h2>
                <div class="bucket-wrapper" id="wrapper_ac329ecf-6e50-43f2-a2c9-e81112e4cf58">
                    <div class="favorites-drop-target">
                        <span class="favorites-add-target"></span>
                        <span class="favorites-delete-target">&nbsp;</span>
                    </div>
                    <div class="favorites" onMouseUp="openPtask(this,event);">
                        <ol class="favorites-items">
                        </ol>
                    </div>
                </div>
            </div>
            <div class="bucket-application " data-productId="AbAsset" data-activityId="AbAssetEAM" data-processId="Business Process Owner FFP" data-productTitle="Asset Management" data-activityTitle="Enterprise Asset Management" data-processTitle="Business Process Owner - Facilities, Finance, &  Project" data-subfolder="\ab-products\asset" data-helpLink="\Subsystems\webc\Content\asset_mngmt\background\bpo_fac_fin_project.htm" data-helpSystem="END USER" data-dashboardLayout="" data-dashboardView="" title="" oncontextmenu="return false;" onMouseUp="openPtask(this,event);">
                <h2 class="applications-process-title" title="">
                    <span class="process-title-text">Business Process Owner - Facilities, Finance, &  Project</span>
                </h2>
                <div class="bucket-wrapper" id="wrapper_abasseteam_businessProcessOwnerFfp">
                        <ol class="ptask-labels">
                            <li>Facilities Background</li>
                            <ol class="process-tasks">
                                <li><a href="ab-def-geo-loc.axvw" rel="pTask" data-taskId="Define Geographical Locations" data-taskIcon="ab-icon-task.gif">Define Geographical Locations</a></li>
                                <li><a href="ab-sp-def-loc-rm.axvw" rel="pTask" data-taskId="Define Locations" data-taskIcon="ab-icon-task.gif">Define Locations</a></li>
                                <li><a href="ab-rplm-properties-define.axvw" rel="pTask" data-taskId="Define Properties" data-taskIcon="ab-icon-task.gif">Define Properties</a></li>
                                <li><a href="ab-sp-def-org.axvw" rel="pTask" data-taskId="Define Organizations" data-taskIcon="ab-icon-task.gif">Define Organizations</a></li>
                            </ol>
                            <li>Project Background</li>
                            <ol class="process-tasks">
                                <li><a href="ab-projecttype-edit.axvw" rel="pTask" data-taskId="Define Project Types" data-taskIcon="ab-icon-task.gif">Define Project Types</a></li>
                                <li><a href="ab-projphase-edit.axvw" rel="pTask" data-taskId="Define Project Phases" data-taskIcon="ab-icon-task.gif">Define Project Phases</a></li>
                                <li><a href="ab-activitytype-edit.axvw" rel="pTask" data-taskId="Define Action Types" data-taskIcon="ab-icon-task.gif">Define Action Types</a></li>
                                <li><a href="ab-def-comm-types.axvw" rel="pTask" data-taskId="Define Communication Types" data-taskIcon="ab-icon-task.gif">Define Communication Types</a></li>
                            </ol>
                            <li>Document Management Background</li>
                            <ol class="process-tasks">
                                <li><a href="ab-document-templates-edit.axvw" rel="pTask" data-taskId="Define Document Templates" data-taskIcon="ab-icon-task.gif">Define Document Templates</a></li>
                                <li><a href="ab-docs-templates-all.axvw" rel="pTask" data-taskId="View Document Templates" data-taskIcon="ab-icon-task.gif">View Document Templates</a></li>
                                <li><a href="ab-common-mng-ref-docs.axvw" rel="pTask" data-taskId="Manage Reference Documents" data-taskIcon="ab-icon-task.gif">Manage Reference Documents</a></li>
                            </ol>
                            <li>Financial Background</li>
                            <ol class="process-tasks">
                                <li><a href="ab-ap-proptype.axvw" rel="pTask" data-taskId="Define Property Types" data-taskIcon="ab-icon-task.gif">Define Property Types</a></li>
                                <li><a href="ab-ap-dep-log.axvw" rel="pTask" data-taskId="Define Depreciation Logs" data-taskIcon="ab-icon-task.gif">Define Depreciation Logs</a></li>
                            </ol>
                        </ol>
                </div>
            </div>
            <div class="bucket-application " data-productId="AbAsset" data-activityId="AbAssetEAM" data-processId="Business Process Owner AM" data-productTitle="Asset Management" data-activityTitle="Enterprise Asset Management" data-processTitle="Business Process Owner - Asset Manager" data-subfolder="\ab-products\asset" data-helpLink="\Subsystems\webc\Content\asset_mngmt\background\bpo_asset.htm" data-helpSystem="END USER" data-dashboardLayout="" data-dashboardView="" title="" oncontextmenu="return false;" onMouseUp="openPtask(this,event);">
                <h2 class="applications-process-title" title="">
                    <span class="process-title-text">Business Process Owner - Asset Manager</span>
                </h2>
                <div class="bucket-wrapper" id="wrapper_abasseteam_businessProcessOwnerAm">
                        <ol class="ptask-labels">
                            <li>Asset Background</li>
                            <ol class="process-tasks">
                                <li><a href="ab-eqstd-edit.axvw" rel="pTask" data-taskId="Define Equipment Standards" data-taskIcon="ab-icon-task.gif">Define Equipment Standards</a></li>
                                <li><a href="ab-fnstd-edit.axvw" rel="pTask" data-taskId="Define Furniture Standards" data-taskIcon="ab-icon-task.gif">Define Furniture Standards</a></li>
                                <li><a href="ab-sp-def-rmstd.axvw" rel="pTask" data-taskId="Define Room Standards" data-taskIcon="ab-icon-task.gif">Define Room Standards</a></li>
                                <li><a href="ab-common-def-em.axvw" rel="pTask" data-taskId="Define Employees" data-taskIcon="ab-icon-task.gif">Define Employees</a></li>
                                <li><a href="ab-vn-def.axvw" rel="pTask" data-taskId="Define Vendors" data-taskIcon="ab-icon-task.gif">Define Vendors</a></li>
                                <li><a href="ab-ca-def-cont.axvw" rel="pTask" data-taskId="Define Contacts" data-taskIcon="ab-icon-task.gif">Define Contacts</a></li>
                                <li><a href="ab-ca-def-class.axvw" rel="pTask" data-taskId="Define Classifications" data-taskIcon="ab-icon-task.gif">Define Classifications</a></li>
                                <li><a href="ab-ca-class-rep.axvw" rel="pTask" data-taskId="View Classifications" data-taskIcon="ab-icon-task.gif">View Classifications</a></li>
                            </ol>
                            <li>Equipment Systems Background</li>
                            <ol class="process-tasks">
                                <li><a href="ab-eq-system-define-system.axvw" rel="pTask" data-taskId="Define Equipment Systems" data-taskIcon="ab-icon-task.gif">Define Equipment Systems</a></li>
                                <li><a href="ab-eq-system-define-space-served.axvw" rel="pTask" data-taskId="Define Spaces Served by Equipment" data-taskIcon="ab-icon-task.gif">Define Spaces Served by Equipment</a></li>
                                <li><a href="ab-eq-system-team-category.axvw" rel="pTask" data-taskId="Define Team Property Categories" data-taskIcon="ab-icon-task.gif">Define Team Property Categories</a></li>
                                <li><a href="ab-eq-system-define-team-property.axvw" rel="pTask" data-taskId="Define Team Properties" data-taskIcon="ab-icon-task.gif">Define Team Properties</a></li>
                                <li><a href="ab-eq-system-define-team-support.axvw" rel="pTask" data-taskId="Assign Team Members to Equipment" data-taskIcon="ab-icon-task.gif">Assign Team Members to Equipment</a></li>
                                <li><a href="ab-ep-def-systems.axvw" rel="pTask" data-taskId="Define Building Systems" data-taskIcon="ab-icon-task.gif">Define Building Systems</a></li>
                            </ol>
                            <li>Custodian Background</li>
                            <ol class="process-tasks">
                                <li><a href="ab-eam-define-custodian-types.axvw" rel="pTask" data-taskId="Define Custodian Types" data-taskIcon="ab-icon-task.gif">Define Custodian Types</a></li>
                                <li><a href="ab-eam-define-custodians.axvw" rel="pTask" data-taskId="Assign Custodians to Assets" data-taskIcon="ab-icon-task.gif">Assign Custodians to Assets</a></li>
                                <li><a href="ab-eam-assign-to-custodian.axvw" rel="pTask" data-taskId="Assign Assets to Custodians" data-taskIcon="ab-icon-task.gif">Assign Assets to Custodians</a></li>
                            </ol>
                        </ol>
                </div>
            </div>
            <div class="bucket-application " data-productId="AbAsset" data-activityId="AbAssetEAM" data-processId="Business Process Owner IT" data-productTitle="Asset Management" data-activityTitle="Enterprise Asset Management" data-processTitle="Business Process Owner - IT Asset Manager" data-subfolder="\ab-products\asset" data-helpLink="\Subsystems\webc\Content\asset_mngmt\telecom\background_data.htm" data-helpSystem="END USER" data-dashboardLayout="" data-dashboardView="" title="" oncontextmenu="return false;" onMouseUp="openPtask(this,event);">
                <h2 class="applications-process-title" title="">
                    <span class="process-title-text">Business Process Owner - IT Asset Manager</span>
                </h2>
                <div class="bucket-wrapper" id="wrapper_abasseteam_businessProcessOwnerIt">
                        <ol class="ptask-labels">
                            <li>Workspace Standards</li>
                            <ol class="process-tasks">
                                <li><a href="ab-fpstd-define.axvw" rel="pTask" data-taskId="Define Faceplate Standards" data-taskIcon="ab-icon-task.gif">Define Faceplate Standards</a></li>
                                <li><a href="ab-jkstd-define.axvw" rel="pTask" data-taskId="Define Jack Standards" data-taskIcon="ab-icon-task.gif">Define Jack Standards</a></li>
                                <li><a href="ab-eam-telecom-bkgd-jk-configuration.axvw" rel="pTask" data-taskId="Define Jack Configuration" data-taskIcon="ab-icon-task.gif">Define Jack Configuration</a></li>
                            </ol>
                            <li>Telecom Closet Standards</li>
                            <ol class="process-tasks">
                                <li><a href="ab-pnstd-define.axvw" rel="pTask" data-taskId="Define Patch Panel Standards" data-taskIcon="ab-icon-task.gif">Define Patch Panel Standards</a></li>
                                <li><a href="ab-eam-telecom-bkgd-portstd-define.axvw" rel="pTask" data-taskId="Define Port Standards" data-taskIcon="ab-icon-task.gif">Define Port Standards</a></li>
                                <li><a href="ab-eam-telecom-bkgd-pnport-configuration.axvw" rel="pTask" data-taskId="Define Patch Panel Port Configuration" data-taskIcon="ab-icon-task.gif">Define Patch Panel Port Configuration</a></li>
                                <li><a href="ab-eqstd-edit.axvw" rel="pTask" data-taskId="Define Equipment Standards" data-taskIcon="ab-icon-task.gif">Define Equipment Standards</a></li>
                                <li><a href="ab-eam-telecom-bkgd-eqport-configuration.axvw" rel="pTask" data-taskId="Define Equipment Port Configuration" data-taskIcon="ab-icon-task.gif">Define Equipment Port Configuration</a></li>
                            </ol>
                            <li>Data Center</li>
                            <ol class="process-tasks">
                                <li><a href="ab-eam-telecom-bkgd-rack-define.axvw" rel="pTask" data-taskId="Define Racks" data-taskIcon="ab-icon-task.gif">Define Racks</a></li>
                            </ol>
                            <li>Software</li>
                            <ol class="process-tasks">
                                <li><a href="ab-softstd-edit.axvw" rel="pTask" data-taskId="Define Software Standards" data-taskIcon="ab-icon-task.gif">Define Software Standards</a></li>
                            </ol>
                        </ol>
                </div>
            </div>
            <div class="bucket-application " data-productId="AbAsset" data-activityId="AbAssetEAM" data-processId="Finance Asset Manager" data-productTitle="Asset Management" data-activityTitle="Enterprise Asset Management" data-processTitle="Finance Asset Manager" data-subfolder="\ab-products\asset" data-helpLink="\Subsystems\webc\Content\asset_mngmt\EAM\fin_asset_mgr_over.htm" data-helpSystem="END USER" data-dashboardLayout="" data-dashboardView="" title="" oncontextmenu="return false;" onMouseUp="openPtask(this,event);">
                <h2 class="applications-process-title" title="">
                    <span class="process-title-text">Finance Asset Manager</span>
                </h2>
                <div class="bucket-wrapper" id="wrapper_abasseteam_financeAssetManager">
                        <ol class="ptask-labels">
                            <li></li>
                            <ol class="process-tasks">
                                <li><a href="ab-eam-cpt-proj-console.axvw" rel="pTask" data-taskId="Project Proposal Console" data-taskIcon="ab-icon-task.gif">Project Proposal Console</a></li>
                                <li><a href="ab-eam-receipt-console.axvw" rel="pTask" data-taskId="Asset Registration Console" data-taskIcon="ab-icon-task.gif">Asset Registration Console</a></li>
                                <li><a href="ab-eq-system-console.axvw" rel="pTask" data-taskId="Equipment Systems Console" data-taskIcon="ab-icon-task.gif">Equipment Systems Console</a></li>
                                <li><a href="ab-eam-lifecycle-console.axvw" rel="pTask" data-taskId="Asset Lifecycle Console" data-taskIcon="ab-icon-task.gif">Asset Lifecycle Console</a></li>
                                <li><a href="ab-eam-disposal-console.axvw" rel="pTask" data-taskId="Asset Disposal Console" data-taskIcon="ab-icon-task.gif">Asset Disposal Console</a></li>
                            </ol>
                        </ol>
                </div>
            </div>
        </div>
        <div class="page-row full-height" >
            <h3 class="application-title" data-activityId="AbAssetEAM">Enterprise Asset Management</h3>
            <hr class="application-horizontal-rule">
            <div class="bucket-application " data-productId="AbAsset" data-activityId="AbAssetEAM" data-processId="Department Asset Manager" data-productTitle="Asset Management" data-activityTitle="Enterprise Asset Management" data-processTitle="Department Asset Manager" data-subfolder="\ab-products\asset" data-helpLink="\Subsystems\webc\Content\asset_mngmt\EAM\dept_asset_mgr_over.htm" data-helpSystem="END USER" data-dashboardLayout="" data-dashboardView="" title="" oncontextmenu="return false;" onMouseUp="openPtask(this,event);">
                <h2 class="applications-process-title" title="">
                    <span class="process-title-text">Department Asset Manager</span>
                </h2>
                <div class="bucket-wrapper" id="wrapper_abasseteam_departmentAssetManager">
                        <ol class="ptask-labels">
                            <li></li>
                            <ol class="process-tasks">
                                <li><a href="ab-project-edit.axvw" rel="pTask" data-taskId="Create or Edit My Projects" data-taskIcon="ab-icon-task.gif">Create or Edit My Projects</a></li>
                                <li><a href="ab-eam-cpt-proj-console.axvw" rel="pTask" data-taskId="Project Proposal Console" data-taskIcon="ab-icon-task.gif">Project Proposal Console</a></li>
                                <li><a href="ab-eam-receipt-console.axvw" rel="pTask" data-taskId="Asset Registration Console" data-taskIcon="ab-icon-task.gif">Asset Registration Console</a></li>
                                <li><a href="ab-eq-system-console.axvw" rel="pTask" data-taskId="Equipment Systems Console" data-taskIcon="ab-icon-task.gif">Equipment Systems Console</a></li>
                                <li><a href="ab-eq-survey-console.axvw" rel="pTask" data-taskId="Manage Asset & Equipment Surveys" data-taskIcon="ab-icon-task.gif">Manage Asset & Equipment Surveys</a></li>
                                <li><a href="ab-eam-lifecycle-console.axvw" rel="pTask" data-taskId="Asset Lifecycle Console" data-taskIcon="ab-icon-task.gif">Asset Lifecycle Console</a></li>
                                <li><a href="ab-eam-disposal-console.axvw" rel="pTask" data-taskId="Asset Disposal Console" data-taskIcon="ab-icon-task.gif">Asset Disposal Console</a></li>
                            </ol>
                        </ol>
                </div>
            </div>
            <div class="bucket-application " data-productId="AbAsset" data-activityId="AbAssetEAM" data-processId="Facilities Asset Manager" data-productTitle="Asset Management" data-activityTitle="Enterprise Asset Management" data-processTitle="Facilities Asset Manager" data-subfolder="\ab-products\asset" data-helpLink="\Subsystems\webc\Content\asset_mngmt\EAM\facilities_asset_mgr_over.htm" data-helpSystem="END USER" data-dashboardLayout="" data-dashboardView="" title="" oncontextmenu="return false;" onMouseUp="openPtask(this,event);">
                <h2 class="applications-process-title" title="">
                    <span class="process-title-text">Facilities Asset Manager</span>
                </h2>
                <div class="bucket-wrapper" id="wrapper_abasseteam_facilitiesAssetManager">
                        <ol class="ptask-labels">
                            <li></li>
                            <ol class="process-tasks">
                                <li><a href="ab-project-edit.axvw" rel="pTask" data-taskId="Create or Edit My Projects" data-taskIcon="ab-icon-task.gif">Create or Edit My Projects</a></li>
                                <li><a href="ab-eam-cpt-proj-console.axvw" rel="pTask" data-taskId="Project Proposal Console" data-taskIcon="ab-icon-task.gif">Project Proposal Console</a></li>
                                <li><a href="ab-eam-receipt-console.axvw" rel="pTask" data-taskId="Asset Registration Console" data-taskIcon="ab-icon-task.gif">Asset Registration Console</a></li>
                                <li><a href="ab-eq-system-console.axvw" rel="pTask" data-taskId="Equipment Systems Console" data-taskIcon="ab-icon-task.gif">Equipment Systems Console</a></li>
                                <li><a href="ab-eq-survey-console.axvw" rel="pTask" data-taskId="Manage Asset & Equipment Surveys" data-taskIcon="ab-icon-task.gif">Manage Asset & Equipment Surveys</a></li>
                                <li><a href="ab-eam-reconcile-console.axvw" rel="pTask" data-taskId="Reconcile Enterprise Assets" data-taskIcon="ab-icon-task.gif">Reconcile Enterprise Assets</a></li>
                                <li><a href="ab-eam-lifecycle-console.axvw" rel="pTask" data-taskId="Asset Lifecycle Console" data-taskIcon="ab-icon-task.gif">Asset Lifecycle Console</a></li>
                                <li><a href="ab-eam-disposal-console.axvw" rel="pTask" data-taskId="Asset Disposal Console" data-taskIcon="ab-icon-task.gif">Asset Disposal Console</a></li>
                                <li><a href="ab-eam-telecom-console.axvw" rel="pTask" data-taskId="Telecom Console" data-taskIcon="ab-icon-task.gif">Telecom Console</a></li>
                            </ol>
                        </ol>
                </div>
            </div>
            <div class="bucket-application " data-productId="AbAsset" data-activityId="AbAssetEAM" data-processId="IT Asset Manager" data-productTitle="Asset Management" data-activityTitle="Enterprise Asset Management" data-processTitle="IT Asset Manager" data-subfolder="\ab-products\asset" data-helpLink="\Subsystems\webc\Content\asset_mngmt\EAM\it_asset_mgr_over.htm" data-helpSystem="END USER" data-dashboardLayout="" data-dashboardView="" title="" oncontextmenu="return false;" onMouseUp="openPtask(this,event);">
                <h2 class="applications-process-title" title="">
                    <span class="process-title-text">IT Asset Manager</span>
                </h2>
                <div class="bucket-wrapper" id="wrapper_abasseteam_itAssetManager">
                        <ol class="ptask-labels">
                            <li></li>
                            <ol class="process-tasks">
                                <li><a href="ab-project-edit.axvw" rel="pTask" data-taskId="Create or Edit My Projects" data-taskIcon="ab-icon-task.gif">Create or Edit My Projects</a></li>
                                <li><a href="ab-eam-cpt-proj-console.axvw" rel="pTask" data-taskId="Project Proposal Console" data-taskIcon="ab-icon-task.gif">Project Proposal Console</a></li>
                                <li><a href="ab-eam-receipt-console.axvw" rel="pTask" data-taskId="Asset Registration Console" data-taskIcon="ab-icon-task.gif">Asset Registration Console</a></li>
                                <li><a href="ab-eq-system-console.axvw" rel="pTask" data-taskId="Equipment Systems Console" data-taskIcon="ab-icon-task.gif">Equipment Systems Console</a></li>
                                <li><a href="ab-eq-survey-console.axvw" rel="pTask" data-taskId="Manage Asset & Equipment Surveys" data-taskIcon="ab-icon-task.gif">Manage Asset & Equipment Surveys</a></li>
                                <li><a href="ab-eam-reconcile-console.axvw" rel="pTask" data-taskId="Reconcile Enterprise Assets" data-taskIcon="ab-icon-task.gif">Reconcile Enterprise Assets</a></li>
                                <li><a href="ab-eam-telecom-console.axvw" rel="pTask" data-taskId="Telecom Console" data-taskIcon="ab-icon-task.gif">Telecom Console</a></li>
                                <li><a href="ab-eam-lifecycle-console.axvw" rel="pTask" data-taskId="Asset Lifecycle Console" data-taskIcon="ab-icon-task.gif">Asset Lifecycle Console</a></li>
                                <li><a href="ab-eam-disposal-console.axvw" rel="pTask" data-taskId="Asset Disposal Console" data-taskIcon="ab-icon-task.gif">Asset Disposal Console</a></li>
                            </ol>
                        </ol>
                </div>
            </div>
            <div class="bucket-application " data-productId="AbAsset" data-activityId="AbAssetEAM" data-processId="Furniture Standards Inventory" data-productTitle="Asset Management" data-activityTitle="Enterprise Asset Management" data-processTitle="Furniture Standards Inventory" data-subfolder="\ab-products\asset" data-helpLink="\Subsystems\webc\Content\asset_mngmt\furn\furn_over.htm" data-helpSystem="END USER" data-dashboardLayout="" data-dashboardView="" title="" oncontextmenu="return false;" onMouseUp="openPtask(this,event);">
                <h2 class="applications-process-title" title="">
                    <span class="process-title-text">Furniture Standards Inventory</span>
                </h2>
                <div class="bucket-wrapper" id="wrapper_abasseteam_furnitureStandardsInventory">
                        <ol class="ptask-labels">
                            <li></li>
                            <ol class="process-tasks">
                                <li><a href="ab-fnstd-book.axvw" rel="pTask" data-taskId="View Furniture Standards Book" data-taskIcon="ab-icon-task.gif">View Furniture Standards Book</a></li>
                                <li><a href="ab-ap-fn-plans.axvw" rel="pTask" data-taskId="View Room Plan with Furniture Standards" data-taskIcon="ab-icon-task.gif">View Room Plan with Furniture Standards</a></li>
                            </ol>
                            <li>View Furniture Standards Inventory Counts by ...</li>
                            <ol class="process-tasks">
                                <li><a href="ab-ap-fnstd-by-std.axvw" rel="pTask" data-taskId="... Standard" data-taskIcon="ab-icon-task.gif">... Standard</a></li>
                                <li><a href="ab-ap-fnstd-by-bl.axvw" rel="pTask" data-taskId="... Building" data-taskIcon="ab-icon-task.gif">... Building</a></li>
                                <li><a href="ab-ap-fnstd-by-fl.axvw" rel="pTask" data-taskId="... Floor" data-taskIcon="ab-icon-task.gif">... Floor</a></li>
                                <li><a href="ab-ap-fnstd-by-rm.axvw" rel="pTask" data-taskId="... Room" data-taskIcon="ab-icon-task.gif">... Room</a></li>
                                <li><a href="ab-ap-fnstd-by-dp.axvw" rel="pTask" data-taskId="... Department" data-taskIcon="ab-icon-task.gif">... Department</a></li>
                                <li><a href="ab-ap-fnstd-by-dpxbl.axvw" rel="pTask" data-taskId="... Department by Building" data-taskIcon="ab-icon-task.gif">... Department by Building</a></li>
                            </ol>
                        </ol>
                </div>
            </div>
            <div class="bucket-application " data-productId="AbAsset" data-activityId="AbAssetEAM" data-processId="Depreciation" data-productTitle="Asset Management" data-activityTitle="Enterprise Asset Management" data-processTitle="Depreciation" data-subfolder="\ab-products\asset" data-helpLink="\Subsystems\webc\Content\asset_mngmt\deprec\depreciation_over.htm" data-helpSystem="END USER" data-dashboardLayout="" data-dashboardView="" title="" oncontextmenu="return false;" onMouseUp="openPtask(this,event);">
                <h2 class="applications-process-title" title="">
                    <span class="process-title-text">Depreciation</span>
                </h2>
                <div class="bucket-wrapper" id="wrapper_abasseteam_depreciation">
                        <ol class="ptask-labels">
                            <li>BACKGROUND DATA</li>
                            <ol class="process-tasks">
                                <li><a href="ab-ap-proptype.axvw" rel="pTask" data-taskId="Define Property Types" data-taskIcon="ab-icon-task.gif">Define Property Types</a></li>
                                <li><a href="ab-ap-dep-log.axvw" rel="pTask" data-taskId="Define Depreciation Logs" data-taskIcon="ab-icon-task.gif">Define Depreciation Logs</a></li>
                            </ol>
                            <li>EQUIPMENT</li>
                            <ol class="process-tasks">
                                <li><a href="ab-ap-eq-and-proptype.axvw" rel="pTask" data-taskId="Edit Equipment and Property Types" data-taskIcon="ab-icon-task.gif">Edit Equipment and Property Types</a></li>
                                <li><a href="ab-ap-eq-by-proptype.axvw" rel="pTask" data-taskId="Edit Equipment by Property Type" data-taskIcon="ab-icon-task.gif">Edit Equipment by Property Type</a></li>
                                <li><a href="ab-single-job.axvw?ruleId=AbCommonResources-DepreciationService-updateEquipmentDepreciation" rel="pTask" data-taskId="Recalculate Equipment Depreciation" data-taskIcon="ab-icon-task.gif">Recalculate Equipment Depreciation</a></li>
                                <li><a href="ab-ap-eq-depreciation.axvw" rel="pTask" data-taskId="View Equipment Depreciation Schedules" data-taskIcon="ab-icon-task.gif">View Equipment Depreciation Schedules</a></li>
                                <li><a href="ab-ap-eq-gl-entries.axvw" rel="pTask" data-taskId="View Equipment General Ledger Journal Entries" data-taskIcon="ab-icon-task.gif">View Equipment General Ledger Journal Entries</a></li>
                            </ol>
                            <li>TAGGED FURNITURE</li>
                            <ol class="process-tasks">
                                <li><a href="ab-ap-ft-and-proptype.axvw" rel="pTask" data-taskId="Edit Tagged Furniture and Property Types" data-taskIcon="ab-icon-task.gif">Edit Tagged Furniture and Property Types</a></li>
                                <li><a href="ab-ap-ft-by-proptype.axvw" rel="pTask" data-taskId="Edit Tagged Furniture by Property Type" data-taskIcon="ab-icon-task.gif">Edit Tagged Furniture by Property Type</a></li>
                                <li><a href="ab-single-job.axvw?ruleId=AbCommonResources-DepreciationService-updateFurnitureDepreciation" rel="pTask" data-taskId="Recalculate Tagged Furniture Depreciation" data-taskIcon="ab-icon-task.gif">Recalculate Tagged Furniture Depreciation</a></li>
                                <li><a href="ab-ap-ft-depreciation.axvw" rel="pTask" data-taskId="View Furniture Depreciation Schedules" data-taskIcon="ab-icon-task.gif">View Furniture Depreciation Schedules</a></li>
                                <li><a href="ab-ap-ft-gl-entries.axvw" rel="pTask" data-taskId="View Tagged Furniture General Ledger Journal Entries" data-taskIcon="ab-icon-task.gif">View Tagged Furniture General Ledger Journal Entries</a></li>
                            </ol>
                        </ol>
                </div>
            </div>
        </div>
        <div class="page-row full-height" >
            <h3 class="application-title" data-activityId="AbAssetEAM">Enterprise Asset Management</h3>
            <hr class="application-horizontal-rule">
            <div class="bucket-application " data-productId="AbAsset" data-activityId="AbAssetEAM" data-processId="Extensions-SMS-Builder" data-productTitle="Asset Management" data-activityTitle="Enterprise Asset Management" data-processTitle="Extensions for BUILDER SMS" data-subfolder="\ab-products\asset" data-helpLink="" data-helpSystem="END USER" data-dashboardLayout="" data-dashboardView="" title="" oncontextmenu="return false;" onMouseUp="openPtask(this,event);">
                <h2 class="applications-process-title" title="">
                    <span class="process-title-text">Extensions for BUILDER SMS</span>
                </h2>
                <div class="bucket-wrapper" id="wrapper_abasseteam_extensionsSmsBuilder">
                        <ol class="ptask-labels">
                            <li>BACKGROUND DATA</li>
                            <ol class="process-tasks">
                                <li><a href="ab-def-asset-attrstd.axvw" rel="pTask" data-taskId="Define Asset Attribute Standards" data-taskIcon="ab-icon-task.gif">Define Asset Attribute Standards</a></li>
                                <li><a href="ab-campus-rep.axvw" rel="pTask" data-taskId="View Campuses" data-taskIcon="ab-icon-task.gif">View Campuses</a></li>
                                <li><a href="ab-construction-types-val-rep.axvw" rel="pTask" data-taskId="View Construction Types" data-taskIcon="ab-icon-task.gif">View Construction Types</a></li>
                                <li><a href="ab-bl-use-val-rep.axvw" rel="pTask" data-taskId="View Building Uses" data-taskIcon="ab-icon-task.gif">View Building Uses</a></li>
                                <li><a href="ab-csistd-rep.axvw" rel="pTask" data-taskId="View Classification Standards" data-taskIcon="ab-icon-task.gif">View Classification Standards</a></li>
                                <li><a href="ab-builder-comp-type-rep.axvw" rel="pTask" data-taskId="View Builder Component Types" data-taskIcon="ab-icon-task.gif">View Builder Component Types</a></li>
                            </ol>
                            <li>SMS INTEGRATION</li>
                            <ol class="process-tasks">
                                <li><a href="ab-eam-reconcile-console.axvw" rel="pTask" data-taskId="Reconcile Enterprise Assets" data-taskIcon="ab-icon-task.gif">Reconcile Enterprise Assets</a></li>
                                <li><a href="ab-ca-class-rep.axvw" rel="pTask" data-taskId="View Classifications" data-taskIcon="ab-icon-task.gif">View Classifications</a></li>
                            </ol>
                            <li>SMS ASSET INFORMATION</li>
                            <ol class="process-tasks">
                                <li><a href="ab-def-org.axvw" rel="pTask" data-taskId="View and Edit Organizational Units" data-taskIcon="ab-icon-task.gif">View and Edit Organizational Units</a></li>
                                <li><a href="ab-sp-def-loc-rm.axvw" rel="pTask" data-taskId="View and Edit Sites and Buildings" data-taskIcon="ab-icon-task.gif">View and Edit Sites and Buildings</a></li>
                                <li><a href="ab-def-site-org-map.axvw" rel="pTask" data-taskId="Map Sites to Organizational Units" data-taskIcon="ab-icon-task.gif">Map Sites to Organizational Units</a></li>
                                <li><a href="ab-ep-def-systems.axvw" rel="pTask" data-taskId="View and Edit Building Systems" data-taskIcon="ab-icon-task.gif">View and Edit Building Systems</a></li>
                                <li><a href="ab-eq-system-console.axvw" rel="pTask" data-taskId="View and Edit Equipment, Components, Sections and Details" data-taskIcon="ab-icon-task.gif">View and Edit Equipment, Components, Sections and Details</a></li>
                            </ol>
                        </ol>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
$(document).ready(function() {
    $('#navigationTabs').find('a').click(function() {return false;});
    initDandDFavorites();
    setPageDimensions();
    bindTaskContextMenu();
    localizeFavoritesDisplayText();
    loadFavoritesBuckets();
    modifyProcessTitleDisplay();
    pageTallPTaskBuckets();
});
</script>