<div class="nav-pages" id="OnDemandWork">
    <div class="page">
        <div class="page-row full-height" >
            <h3 class="application-title" data-activityId="AbBldgOpsOnDemandWork">On Demand Work</h3>
            <hr class="application-horizontal-rule">
            <div id="appProcFavoritesBucket" class="bucket-application bucket-background-light " data-activityId="" data-processId="" oncontextmenu="return false;">
                <h2 class="applications-process-title" data-processId="" title="Most often used tasks and reports.">My Favorites</h2>
                <div class="bucket-wrapper" id="wrapper_1f84bebf-25dd-41f2-906b-6d13cff6ee20">
                    <div class="favorites-drop-target">
                        <span class="favorites-add-target"></span>
                        <span class="favorites-delete-target">&nbsp;</span>
                    </div>
                    <div class="favorites" onMouseUp="openPtask(this,event);">
                        <ol class="favorites-items">
                        </ol>
                    </div>
                </div>
            </div>
            <div class="bucket-application " data-productId="AbBldgOps" data-activityId="AbBldgOpsOnDemandWork" data-processId="Business Process Owner" data-productTitle="Building Operations" data-activityTitle="On Demand Work" data-processTitle="Business Process Owner" data-subfolder="\ab-products\bldgops\ondemandwork" data-helpLink="\Subsystems\webc\Content\fim\service_desk\manage_background_data.htm" data-helpSystem="END USER" data-dashboardLayout="" data-dashboardView="" title="" oncontextmenu="return false;" onMouseUp="openPtask(this,event);">
                <h2 class="applications-process-title" title="">
                    <span class="process-title-text">Business Process Owner</span>
                </h2>
                <div class="bucket-wrapper" id="wrapper_abbldgopsondemandwork_businessProcessOwner">
                        <ol class="ptask-labels">
                            <li></li>
                            <ol class="process-tasks">
                                <li><a href="ab-def-geo-loc.axvw" rel="pTask" data-taskId="Define Geographical Locations" data-taskIcon="ab-icon-task.gif">Define Geographical Locations</a></li>
                                <li><a href="ab-sp-def-loc-rm.axvw" rel="pTask" data-taskId="Define Locations" data-taskIcon="ab-icon-task.gif">Define Locations</a></li>
                            </ol>
                            <li class="empty-taskgroup-title">&nbsp;</li>
                            <ol class="process-tasks">
                                <li><a href="ab-sp-def-org.axvw" rel="pTask" data-taskId="Define Organizations" data-taskIcon="ab-icon-task.gif">Define Organizations</a></li>
                                <li><a href="ab-ac-edit.axvw" rel="pTask" data-taskId="Define Accounts" data-taskIcon="ab-icon-task.gif">Define Accounts</a></li>
                                <li><a href="ab-budgets-edit.axvw" rel="pTask" data-taskId="Define Budgets" data-taskIcon="ab-icon-task.gif">Define Budgets</a></li>
                                <li><a href="ab-budget-item-edit.axvw" rel="pTask" data-taskId="Define Budget Items" data-taskIcon="ab-icon-task.gif">Define Budget Items</a></li>
                            </ol>
                            <li class="empty-taskgroup-title">&nbsp;</li>
                            <ol class="process-tasks">
                                <li><a href="ab-common-def-em.axvw" rel="pTask" data-taskId="Define Employees" data-taskIcon="ab-icon-task.gif">Define Employees</a></li>
                                <li><a href="ab-sla-edit.axvw" rel="pTask" data-taskId="Define Service Contracts" data-taskIcon="ab-icon-task.gif">Define Service Contracts</a></li>
                                <li><a href="ab-warranty-edit.axvw" rel="pTask" data-taskId="Define Warranties" data-taskIcon="ab-icon-task.gif">Define Warranties</a></li>
                            </ol>
                            <li class="empty-taskgroup-title">&nbsp;</li>
                            <ol class="process-tasks">
                                <li><a href="ab-probtype-edit.axvw" rel="pTask" data-taskId="Define Problem Types" data-taskIcon="ab-icon-task.gif">Define Problem Types</a></li>
                                <li><a href="ab-causetype-edit.axvw" rel="pTask" data-taskId="Define Cause Types" data-taskIcon="ab-icon-task.gif">Define Cause Types</a></li>
                                <li><a href="ab-repairty-edit.axvw" rel="pTask" data-taskId="Define Repair Types" data-taskIcon="ab-icon-task.gif">Define Repair Types</a></li>
                            </ol>
                            <li class="empty-taskgroup-title">&nbsp;</li>
                            <ol class="process-tasks">
                                <li><a href="ab-trades-edit.axvw" rel="pTask" data-taskId="Define Trades" data-taskIcon="ab-icon-task.gif">Define Trades</a></li>
                                <li><a href="ab-cf-edit.axvw" rel="pTask" data-taskId="Define Craftspersons" data-taskIcon="ab-icon-task.gif">Define Craftspersons</a></li>
                                <li><a href="ab-bldgops-cf-schedule-variances.axvw" rel="pTask" data-taskId="Define Craftsperson Schedule Variances" data-taskIcon="ab-icon-task.gif">Define Craftsperson Schedule Variances</a></li>
                                <li><a href="ab-bldgops-cf-shift.axvw" rel="pTask" data-taskId="Manage Craftspersons Shifts" data-taskIcon="ab-icon-task.gif">Manage Craftspersons Shifts</a></li>
                                <li><a href="ab-workteam-edit.axvw" rel="pTask" data-taskId="Define Work Teams" data-taskIcon="ab-icon-task.gif">Define Work Teams</a></li>
                                <li><a href="ab-bldgops-def-holiday-dates.axvw" rel="pTask" data-taskId="Define Holiday Dates" data-taskIcon="ab-icon-task.gif">Define Holiday Dates</a></li>
                                <li><a href="ab-repm-lsadmin-fiscal-year-def.axvw" rel="pTask" data-taskId="Define Fiscal Year" data-taskIcon="ab-icon-task.gif">Define Fiscal Year</a></li>
                            </ol>
                            <li class="empty-taskgroup-title">&nbsp;</li>
                            <ol class="process-tasks">
                                <li><a href="ab-def-prob-desc-code.axvw" rel="pTask" data-taskId="Define Problem Description Codes" data-taskIcon="ab-icon-task.gif">Define Problem Description Codes</a></li>
                                <li><a href="ab-def-prob-reso-code.axvw" rel="pTask" data-taskId="Define Problem Resolution Codes" data-taskIcon="ab-icon-task.gif">Define Problem Resolution Codes</a></li>
                                <li><a href="ab-common-mng-ref-docs.axvw" rel="pTask" data-taskId="Manage Reference Documents" data-taskIcon="ab-icon-task.gif">Manage Reference Documents</a></li>
                            </ol>
                        </ol>
                </div>
            </div>
            <div class="bucket-application " data-productId="AbBldgOps" data-activityId="AbBldgOpsOnDemandWork" data-processId="Requestor_WEB BldgOpsConsole" data-productTitle="Building Operations" data-activityTitle="On Demand Work" data-processTitle="Client" data-subfolder="\ab-products\bldgops\ondemandwork" data-helpLink="\Subsystems\webc\Content\web_user\service_desk\requestor\entering_request.htm" data-helpSystem="END USER" data-dashboardLayout="" data-dashboardView="" title="" oncontextmenu="return false;" onMouseUp="openPtask(this,event);">
                <h2 class="applications-process-title" title="">
                    <span class="process-title-text">Client</span>
                </h2>
                <div class="bucket-wrapper" id="wrapper_abbldgopsondemandwork_requestorWebBldgopsconsole">
                        <ol class="ptask-labels">
                            <li></li>
                            <ol class="process-tasks">
                                <li><a href="ab-bldgops-console.axvw" rel="pTask" data-taskId="Building Operations Console" data-taskIcon="ab-icon-task.gif">Building Operations Console</a></li>
                                <li><a href="ab-bldgops-console-wr-create.axvw" rel="pTask" data-taskId="Report Problem" data-taskIcon="ab-icon-task.gif">Report Problem</a></li>
                                <li><a href="ab-helpdesk-request-ondemand-view-tabs.axvw" rel="pTask" data-taskId="View Maintenance Service Requests" data-taskIcon="ab-icon-task.gif">View Maintenance Service Requests</a></li>
                            </ol>
                        </ol>
                </div>
            </div>
            <div class="bucket-application " data-productId="AbBldgOps" data-activityId="AbBldgOpsOnDemandWork" data-processId="Business Manager BldgOpsConsole" data-productTitle="Building Operations" data-activityTitle="On Demand Work" data-processTitle="Business Manager" data-subfolder="\ab-products\bldgops\ondemandwork" data-helpLink="\Subsystems\webc\Content\web_user\service_desk\bus_manager\approve_reject_request.htm" data-helpSystem="END USER" data-dashboardLayout="" data-dashboardView="" title="" oncontextmenu="return false;" onMouseUp="openPtask(this,event);">
                <h2 class="applications-process-title" title="">
                    <span class="process-title-text">Business Manager</span>
                </h2>
                <div class="bucket-wrapper" id="wrapper_abbldgopsondemandwork_businessManagerBldgopsconsole">
                        <ol class="ptask-labels">
                            <li></li>
                            <ol class="process-tasks">
                                <li><a href="ab-bldgops-console.axvw" rel="pTask" data-taskId="Building Operations Console" data-taskIcon="ab-icon-task.gif">Building Operations Console</a></li>
                                <li><a href="ab-servicedesk-approval-substitute.axvw" rel="pTask" data-taskId="Schedule Substitutes" data-taskIcon="ab-icon-task.gif">Schedule Substitutes</a></li>
                            </ol>
                        </ol>
                </div>
            </div>
            <div class="bucket-application " data-productId="AbBldgOps" data-activityId="AbBldgOpsOnDemandWork" data-processId="Dispatcher_WEB BldgOpsConsole" data-productTitle="Building Operations" data-activityTitle="On Demand Work" data-processTitle="Dispatcher" data-subfolder="\ab-products\bldgops\ondemandwork" data-helpLink="\Subsystems\webc\Content\web_user\on_demand\dispatcher\routing_service_requests.htm" data-helpSystem="END USER" data-dashboardLayout="" data-dashboardView="" title="" oncontextmenu="return false;" onMouseUp="openPtask(this,event);">
                <h2 class="applications-process-title" title="">
                    <span class="process-title-text">Dispatcher</span>
                </h2>
                <div class="bucket-wrapper" id="wrapper_abbldgopsondemandwork_dispatcherWebBldgopsconsole">
                        <ol class="ptask-labels">
                            <li></li>
                            <ol class="process-tasks">
                                <li><a href="ab-bldgops-console.axvw" rel="pTask" data-taskId="Building Operations Console" data-taskIcon="ab-icon-task.gif">Building Operations Console</a></li>
                            </ol>
                        </ol>
                </div>
            </div>
        </div>
        <div class="page-row full-height" >
            <h3 class="application-title" data-activityId="AbBldgOpsOnDemandWork">On Demand Work</h3>
            <hr class="application-horizontal-rule">
            <div class="bucket-application " data-productId="AbBldgOps" data-activityId="AbBldgOpsOnDemandWork" data-processId="Supervisor_WEB BldgOpsConsole" data-productTitle="Building Operations" data-activityTitle="On Demand Work" data-processTitle="Supervisor" data-subfolder="\ab-products\bldgops\ondemandwork" data-helpLink="\Subsystems\webc\Content\web_user\on_demand\supervisor\supervisor_over.htm" data-helpSystem="END USER" data-dashboardLayout="" data-dashboardView="" title="" oncontextmenu="return false;" onMouseUp="openPtask(this,event);">
                <h2 class="applications-process-title" title="">
                    <span class="process-title-text">Supervisor</span>
                </h2>
                <div class="bucket-wrapper" id="wrapper_abbldgopsondemandwork_supervisorWebBldgopsconsole">
                        <ol class="ptask-labels">
                            <li></li>
                            <ol class="process-tasks">
                                <li><a href="ab-bldgops-console.axvw" rel="pTask" data-taskId="Building Operations Console" data-taskIcon="ab-icon-task.gif">Building Operations Console</a></li>
                                <li><a href="ab-bldgops-labor-scheduler.axvw" rel="pTask" data-taskId="Labor Scheduler" data-taskIcon="ab-icon-task.gif">Labor Scheduler</a></li>
                                <li><a href="ab-bldgops-part-inv-mpsl.axvw" rel="pTask" data-taskId="Reserve New Part Inventory" data-taskIcon="ab-icon-task.gif">Reserve New Part Inventory</a></li>
                                <li><a href="ab-ondemand-workteam-report.axvw" rel="pTask" data-taskId="Work Team Performance Report" data-taskIcon="ab-icon-task.gif">Work Team Performance Report</a></li>
                            </ol>
                        </ol>
                </div>
            </div>
            <div class="bucket-application " data-productId="AbBldgOps" data-activityId="AbBldgOpsOnDemandWork" data-processId="Craftsperson_WEB BldgOpsConsole" data-productTitle="Building Operations" data-activityTitle="On Demand Work" data-processTitle="Craftsperson" data-subfolder="\ab-products\bldgops\ondemandwork" data-helpLink="\Subsystems\webc\Content\web_user\on_demand\craftsperson\cp_overview.htm" data-helpSystem="END USER" data-dashboardLayout="" data-dashboardView="" title="" oncontextmenu="return false;" onMouseUp="openPtask(this,event);">
                <h2 class="applications-process-title" title="">
                    <span class="process-title-text">Craftsperson</span>
                </h2>
                <div class="bucket-wrapper" id="wrapper_abbldgopsondemandwork_craftspersonWebBldgopsconsole">
                        <ol class="ptask-labels">
                            <li></li>
                            <ol class="process-tasks">
                                <li><a href="ab-ondemand-cf-update-labor.axvw" rel="pTask" data-taskId="Update Labor Hours" data-taskIcon="ab-icon-task.gif">Update Labor Hours</a></li>
                                <li><a href="ab-bldgops-console.axvw" rel="pTask" data-taskId="Building Operations Console" data-taskIcon="ab-icon-task.gif">Building Operations Console</a></li>
                            </ol>
                        </ol>
                </div>
            </div>
            <div class="bucket-application " data-productId="AbBldgOps" data-activityId="AbBldgOpsOnDemandWork" data-processId="Call Center BldgOpsConsole" data-productTitle="Building Operations" data-activityTitle="On Demand Work" data-processTitle="Call Center" data-subfolder="\ab-products\bldgops\ondemandwork" data-helpLink="\Subsystems\webc\Content\web_user\on_demand\call_center\call_center.htm" data-helpSystem="END USER" data-dashboardLayout="" data-dashboardView="" title="" oncontextmenu="return false;" onMouseUp="openPtask(this,event);">
                <h2 class="applications-process-title" title="">
                    <span class="process-title-text">Call Center</span>
                </h2>
                <div class="bucket-wrapper" id="wrapper_abbldgopsondemandwork_callCenterBldgopsconsole">
                        <ol class="ptask-labels">
                            <li></li>
                            <ol class="process-tasks">
                                <li><a href="ab-bldgops-console.axvw" rel="pTask" data-taskId="Building Operations Console" data-taskIcon="ab-icon-task.gif">Building Operations Console</a></li>
                            </ol>
                        </ol>
                </div>
            </div>
            <div class="bucket-application " data-productId="AbBldgOps" data-activityId="AbBldgOpsOnDemandWork" data-processId="Service Desk Mgr BldgOpsConsole" data-productTitle="Building Operations" data-activityTitle="On Demand Work" data-processTitle="Service Desk Manager" data-subfolder="\ab-products\bldgops\ondemandwork" data-helpLink="\Subsystems\webc\Content\web_user\service_desk\sd_manager\sd_manager_over.htm" data-helpSystem="END USER" data-dashboardLayout="" data-dashboardView="" title="" oncontextmenu="return false;" onMouseUp="openPtask(this,event);">
                <h2 class="applications-process-title" title="">
                    <span class="process-title-text">Service Desk Manager</span>
                </h2>
                <div class="bucket-wrapper" id="wrapper_abbldgopsondemandwork_serviceDeskMgrBldgopsconsole">
                        <ol class="ptask-labels">
                            <li></li>
                            <ol class="process-tasks">
                                <li><a href="ab-bldgops-sla.axvw" rel="pTask" data-taskId="Manage Service Level Agreements" data-taskIcon="ab-icon-task.gif">Manage Service Level Agreements</a></li>
                                <li><a href="ab-sla-find-groupings.axvw" rel="pTask" data-taskId="Create Groupings for Service Level Agreements" data-taskIcon="ab-icon-task.gif">Create Groupings for Service Level Agreements</a></li>
                                <li><a href="ab-helpdesk-sla-ordering.axvw" rel="pTask" data-taskId="Determine Ordering Sequence of Service Level Agreements" data-taskIcon="ab-icon-task.gif">Determine Ordering Sequence of Service Level Agreements</a></li>
                                <li><a href="ab-sla-priority-edit.axvw" rel="pTask" data-taskId="Define SLA Priorities" data-taskIcon="ab-icon-task.gif">Define SLA Priorities</a></li>
                                <li><a href="ab-bldgops-express-manager-search-tabs.axvw" rel="pTask" data-taskId="Search & Manage" data-taskIcon="ab-icon-task.gif">Search & Manage</a></li>
                                <li><a href="ab-ondemand-activitytype.axvw" rel="pTask" data-taskId="Manage Maintenance Request" data-taskIcon="ab-icon-task.gif">Manage Maintenance Request</a></li>
                                <li><a href="ab-servicedesk-workflow-substitute.axvw" rel="pTask" data-taskId="Schedule Substitutes" data-taskIcon="ab-icon-task.gif">Schedule Substitutes</a></li>
                            </ol>
                        </ol>
                </div>
            </div>
            <div class="bucket-application " data-productId="AbBldgOps" data-activityId="AbBldgOpsOnDemandWork" data-processId="Inventory Manager MPSL" data-productTitle="Building Operations" data-activityTitle="On Demand Work" data-processTitle="Inventory Manager" data-subfolder="\ab-products\bldgops\ondemandwork" data-helpLink="\Subsystems\webc\Content\web_user\on_demand\console\multi_storage_locs_parts\overview_inv_mgr_mpsl.htm" data-helpSystem="END USER" data-dashboardLayout="" data-dashboardView="" title="" oncontextmenu="return false;" onMouseUp="openPtask(this,event);">
                <h2 class="applications-process-title" title="">
                    <span class="process-title-text">Inventory Manager</span>
                </h2>
                <div class="bucket-wrapper" id="wrapper_abbldgopsondemandwork_inventoryManagerMpsl">
                        <ol class="ptask-labels">
                            <li></li>
                            <ol class="process-tasks">
                                <li><a href="ab-def-tt.axvw" rel="pTask" data-taskId="Define Tool Types" data-taskIcon="ab-icon-task.gif">Define Tool Types</a></li>
                                <li><a href="ab-def-tl.axvw" rel="pTask" data-taskId="Define Tools" data-taskIcon="ab-icon-task.gif">Define Tools</a></li>
                                <li><a href="ab-bldgops-other-res-edit.axvw" rel="pTask" data-taskId="Define Other Resource Types" data-taskIcon="ab-icon-task.gif">Define Other Resource Types</a></li>
                            </ol>
                            <li class="empty-taskgroup-title">&nbsp;</li>
                            <ol class="process-tasks">
                                <li><a href="ab-vn-edit.axvw" rel="pTask" data-taskId="Define Vendors" data-taskIcon="ab-icon-task.gif">Define Vendors</a></li>
                                <li><a href="ab-def-pt-mpsl.axvw" rel="pTask" data-taskId="Define Parts" data-taskIcon="ab-icon-task.gif">Define Parts</a></li>
                                <li><a href="ab-pv-edit.axvw" rel="pTask" data-taskId="Define Part Vendors" data-taskIcon="ab-icon-task.gif">Define Part Vendors</a></li>
                                <li><a href="ab-ptxpv.axvw" rel="pTask" data-taskId="View Parts by Vendor" data-taskIcon="ab-icon-task.gif">View Parts by Vendor</a></li>
                                <li><a href="ab-pt-store-loc-edit.axvw" rel="pTask" data-taskId="Define Parts Storage Locations" data-taskIcon="ab-icon-task.gif">Define Parts Storage Locations</a></li>
                                <li><a href="ab-sp-def-loc-subrm.axvw" rel="pTask" data-taskId="Define Subroom Locations" data-taskIcon="ab-icon-task.gif">Define Subroom Locations</a></li>
                                <li><a href="ab-bldgops-inv-mpsl.axvw" rel="pTask" data-taskId="Manage Parts Inventory" data-taskIcon="ab-icon-task.gif">Manage Parts Inventory</a></li>
                                <li><a href="ab-po-line-edit.axvw" rel="pTask" data-taskId="Manage Purchase Orders" data-taskIcon="ab-icon-task.gif">Manage Purchase Orders</a></li>
                                <li><a href="ab-bldgops-report-inv-variance-mpsl.axvw" rel="pTask" data-taskId="Physical Inventory Variance" data-taskIcon="ab-icon-task.gif">Physical Inventory Variance</a></li>
                                <li><a href="ab-bldgops-adjust-inv-mpsl.axvw" rel="pTask" data-taskId="Adjust Inventory" data-taskIcon="ab-icon-task.gif">Adjust Inventory</a></li>
                                <li><a href="ab-bldgops-view-it-mpsl.axvw" rel="pTask" data-taskId="View Inventory Transactions" data-taskIcon="ab-icon-task.gif">View Inventory Transactions</a></li>
                                <li><a href="ab-supply-req-edit.axvw" rel="pTask" data-taskId="Manage Supply Requisitions" data-taskIcon="ab-icon-task.gif">Manage Supply Requisitions</a></li>
                            </ol>
                            <li class="empty-taskgroup-title">&nbsp;</li>
                            <ol class="process-tasks">
                                <li><a href="ab-eqstd-edit.axvw" rel="pTask" data-taskId="Define Equipment Standards" data-taskIcon="ab-icon-task.gif">Define Equipment Standards</a></li>
                                <li><a href="ab-eq-edit.axvw" rel="pTask" data-taskId="Define Equipment" data-taskIcon="ab-icon-task.gif">Define Equipment</a></li>
                                <li><a href="ab-def-eq-pt.axvw" rel="pTask" data-taskId="Define Equipment Parts by Equipment" data-taskIcon="ab-icon-task.gif">Define Equipment Parts by Equipment</a></li>
                                <li><a href="ab-eq-system-console.axvw" rel="pTask" data-taskId="Equipment Systems Console" data-taskIcon="ab-icon-task.gif">Equipment Systems Console</a></li>
                            </ol>
                        </ol>
                </div>
            </div>
        </div>
        <div class="page-row full-height" >
            <h3 class="application-title" data-activityId="AbBldgOpsOnDemandWork">On Demand Work</h3>
            <hr class="application-horizontal-rule">
            <div class="bucket-application " data-productId="AbBldgOps" data-activityId="AbBldgOpsOnDemandWork" data-processId="System Integrator" data-productTitle="Building Operations" data-activityTitle="On Demand Work" data-processTitle="System Integrator" data-subfolder="\ab-products\bldgops\ondemandwork" data-helpLink="\Subsystems\webc\Content\system_int\service_desk\manage_service_desk_steps.htm" data-helpSystem="END USER" data-dashboardLayout="" data-dashboardView="" title="" oncontextmenu="return false;" onMouseUp="openPtask(this,event);">
                <h2 class="applications-process-title" title="">
                    <span class="process-title-text">System Integrator</span>
                </h2>
                <div class="bucket-wrapper" id="wrapper_abbldgopsondemandwork_systemIntegrator">
                        <ol class="ptask-labels">
                            <li></li>
                            <ol class="process-tasks">
                                <li><a href="ab-helpdesk-steps.axvw" rel="pTask" data-taskId="Manage Service Desk Steps" data-taskIcon="ab-icon-task.gif">Manage Service Desk Steps</a></li>
                                <li><a href="ab-helpdesk-roles.axvw" rel="pTask" data-taskId="Manage Service Desk Roles" data-taskIcon="ab-icon-task.gif">Manage Service Desk Roles</a></li>
                                <li><a href="manage_notifications.axvw" rel="pTask" data-taskId="Manage Notifications" data-taskIcon="ab-icon-task.gif">Manage Notifications</a></li>
                            </ol>
                        </ol>
                </div>
            </div>
            <div class="bucket-application " data-productId="AbBldgOps" data-activityId="AbBldgOpsOnDemandWork" data-processId="Operational Reports" data-productTitle="Building Operations" data-activityTitle="On Demand Work" data-processTitle="Operational Reports" data-subfolder="\ab-products\bldgops\ondemandwork" data-helpLink="/Subsystems/webc/Content/web_user/pm/reports/operational_reports.htm" data-helpSystem="END USER" data-dashboardLayout="" data-dashboardView="" title="" oncontextmenu="return false;" onMouseUp="openPtask(this,event);">
                <h2 class="applications-process-title" title="">
                    <span class="process-title-text">Operational Reports</span>
                </h2>
                <div class="bucket-wrapper" id="wrapper_abbldgopsondemandwork_operationalReports">
                        <ol class="ptask-labels">
                            <li>Equipment Information</li>
                            <ol class="process-tasks">
                                <li><a href="ab-bldgops-report-eq-info.axvw" rel="pTask" data-taskId="Current Equipment" data-taskIcon="ab-icon-task.gif">Current Equipment</a></li>
                                <li><a href="ab-bldgops-report-eq-pt.axvw" rel="pTask" data-taskId="Equipment Parts" data-taskIcon="ab-icon-task.gif">Equipment Parts</a></li>
                                <li><a href="ab-bldgops-report-eq-warr-servcont.axvw" rel="pTask" data-taskId="Equipment Warranties and Service Contracts" data-taskIcon="ab-icon-task.gif">Equipment Warranties and Service Contracts</a></li>
                            </ol>
                            <li>Labor Information</li>
                            <ol class="process-tasks">
                                <li><a href="ab-bldgops-report-labor-info.axvw" rel="pTask" data-taskId="Current Labor" data-taskIcon="ab-icon-task.gif">Current Labor</a></li>
                            </ol>
                            <li>Resource Information</li>
                            <ol class="process-tasks">
                                <li><a href="ab-parts-in-store-loc-crosstab.axvw" rel="pTask" data-taskId="Current Parts Inventory" data-taskIcon="ab-icon-task.gif">Current Parts Inventory</a></li>
                                <li><a href="ab-bldgops-report-tool-info.axvw" rel="pTask" data-taskId="Current Tools" data-taskIcon="ab-icon-task.gif">Current Tools</a></li>
                            </ol>
                            <li>Equipment Analysis</li>
                            <ol class="process-tasks">
                                <li><a href="ab-bldgops-report-eq-schedules.axvw" rel="pTask" data-taskId="Equipment Schedules" data-taskIcon="ab-icon-task.gif">Equipment Schedules</a></li>
                            </ol>
                            <li>Labor Analysis</li>
                            <ol class="process-tasks">
                                <li><a href="ab-bldgops-report-workload.axvw" rel="pTask" data-taskId="Trade and Craftsperson Workload" data-taskIcon="ab-icon-task.gif">Trade and Craftsperson Workload</a></li>
                                <li><a href="ab-bldgops-report-tr-avail.axvw" rel="pTask" data-taskId="Trades Availability" data-taskIcon="ab-icon-task.gif">Trades Availability</a></li>
                                <li><a href="ab-bldgops-report-cf-avail.axvw" rel="pTask" data-taskId="Craftsperson Availability" data-taskIcon="ab-icon-task.gif">Craftsperson Availability</a></li>
                            </ol>
                            <li>Resource Analysis</li>
                            <ol class="process-tasks">
                                <li><a href="ab-bldgops-report-reserved-pt-mpsl.axvw" rel="pTask" data-taskId="Reserved Parts" data-taskIcon="ab-icon-task.gif">Reserved Parts</a></li>
                                <li><a href="ab-bldgops-report-inv-variance-mpsl.axvw" rel="pTask" data-taskId="Physical Inventory Variance" data-taskIcon="ab-icon-task.gif">Physical Inventory Variance</a></li>
                                <li><a href="ab-bldgops-report-tl-avail.axvw" rel="pTask" data-taskId="Tools Availability" data-taskIcon="ab-icon-task.gif">Tools Availability</a></li>
                                <li><a href="ab-bldgops-report-tt-avail.axvw" rel="pTask" data-taskId="Tool Types Availability" data-taskIcon="ab-icon-task.gif">Tool Types Availability</a></li>
                                <li><a href="ab-bldgops-report-tl-status.axvw" rel="pTask" data-taskId="Status of Tools" data-taskIcon="ab-icon-task.gif">Status of Tools</a></li>
                            </ol>
                            <li>Statistics</li>
                            <ol class="process-tasks">
                                <li><a href="ab-bldgops-report-wr-loc.axvw" rel="pTask" data-taskId="Location of Work Requests" data-taskIcon="ab-icon-task.gif">Location of Work Requests</a></li>
                                <li><a href="ab-bldgops-report-wr-same-eq-loc.axvw" rel="pTask" data-taskId="Work Request for Same Equipment or Location" data-taskIcon="ab-icon-task.gif">Work Request for Same Equipment or Location</a></li>
                            </ol>
                            <li>Equipment  Analysis</li>
                            <ol class="process-tasks">
                                <li><a href="ab-pm-rpt-eq-fail-anls.axvw" rel="pTask" data-taskId="Equipment Failure Analysis" data-taskIcon="ab-icon-task.gif">Equipment Failure Analysis</a></li>
                                <li><a href="ab-pm-rpt-eq-repl-anls.axvw" rel="pTask" data-taskId="Equipment Replacement Analysis" data-taskIcon="ab-icon-task.gif">Equipment Replacement Analysis</a></li>
                            </ol>
                            <li>Labor  Analysis</li>
                            <ol class="process-tasks">
                                <li><a href="ab-pm-rpt-tr-pfm.axvw" rel="pTask" data-taskId="Trades Performance" data-taskIcon="ab-icon-task.gif">Trades Performance</a></li>
                                <li><a href="ab-pm-rpt-cf-pfm.axvw" rel="pTask" data-taskId="Craftsperson Performance" data-taskIcon="ab-icon-task.gif">Craftsperson Performance</a></li>
                                <li><a href="ab-pm-rpt-cf-wt.axvw" rel="pTask" data-taskId="Craftsperson Time Usage by Work Type" data-taskIcon="ab-icon-task.gif">Craftsperson Time Usage by Work Type</a></li>
                                <li><a href="ab-pm-rpt-cf-dt.axvw" rel="pTask" data-taskId="Craftsperson Time Usage by Date and Time" data-taskIcon="ab-icon-task.gif">Craftsperson Time Usage by Date and Time</a></li>
                            </ol>
                            <li>Resource  Analysis</li>
                            <ol class="process-tasks">
                                <li><a href="ab-bldgops-report-pt-hist-mpsl.axvw" rel="pTask" data-taskId="Parts Usage History" data-taskIcon="ab-icon-task.gif">Parts Usage History</a></li>
                                <li><a href="ab-bldgops-report-tl-hist.axvw" rel="pTask" data-taskId="Tool Usage History" data-taskIcon="ab-icon-task.gif">Tool Usage History</a></li>
                            </ol>
                            <li>Work Statistics</li>
                            <ol class="process-tasks">
                                <li><a href="ab-bldgops-report-hwr-resources.axvw" rel="pTask" data-taskId="Archived Work Requests and Resources" data-taskIcon="ab-icon-task.gif">Archived Work Requests and Resources</a></li>
                            </ol>
                        </ol>
                </div>
            </div>
            <div class="bucket-application " data-productId="AbBldgOps" data-activityId="AbBldgOpsOnDemandWork" data-processId="Management Reports" data-productTitle="Building Operations" data-activityTitle="On Demand Work" data-processTitle="Management Reports" data-subfolder="\ab-products\bldgops\ondemandwork" data-helpLink="/Subsystems/webc/Content/web_user/pm/reports/management_reports.htm" data-helpSystem="END USER" data-dashboardLayout="" data-dashboardView="" title="" oncontextmenu="return false;" onMouseUp="openPtask(this,event);">
                <h2 class="applications-process-title" title="">
                    <span class="process-title-text">Management Reports</span>
                </h2>
                <div class="bucket-wrapper" id="wrapper_abbldgopsondemandwork_managementReports">
                        <ol class="ptask-labels">
                            <li>Cost Analysis</li>
                            <ol class="process-tasks">
                                <li><a href="ab-bldgops-report-wr-budget-cost.axvw" rel="pTask" data-taskId="Work Request Budgets and Costs" data-taskIcon="ab-icon-task.gif">Work Request Budgets and Costs</a></li>
                                <li><a href="ab-bldgops-report-wr-schedule-cost.axvw" rel="pTask" data-taskId="Work Request Schedules and Costs" data-taskIcon="ab-icon-task.gif">Work Request Schedules and Costs</a></li>
                            </ol>
                            <li>Statistics</li>
                            <ol class="process-tasks">
                                <li><a href="ab-bldgops-report-open-wr.axvw" rel="pTask" data-taskId="Open Work Requests" data-taskIcon="ab-icon-task.gif">Open Work Requests</a></li>
                                <li><a href="ab-pm-rpt-overdue-wr.axvw" rel="pTask" data-taskId="Overdue Work Requests" data-taskIcon="ab-icon-task.gif">Overdue Work Requests</a></li>
                            </ol>
                            <li>Cost  Analysis</li>
                            <ol class="process-tasks">
                                <li><a href="ab-bldgops-report-compl-wr-budget-cost.axvw" rel="pTask" data-taskId="Completed Work Request Budgets and Costs" data-taskIcon="ab-icon-task.gif">Completed Work Request Budgets and Costs</a></li>
                                <li><a href="ab-ondemand-report-cost-tabs.axvw" rel="pTask" data-taskId="Costs of Completed Work Requests" data-taskIcon="ab-icon-task.gif">Costs of Completed Work Requests</a></li>
                                <li><a href="ab-bldgops-report-bl-cost-by-area-occ.axvw" rel="pTask" data-taskId="Building Costs by Area and Occupancy" data-taskIcon="ab-icon-task.gif">Building Costs by Area and Occupancy</a></li>
                            </ol>
                            <li>Equipment Analysis</li>
                            <ol class="process-tasks">
                                <li><a href="ab-pm-rpt-eq-maint-hist.axvw" rel="pTask" data-taskId="Equipment Maintenance History" data-taskIcon="ab-icon-task.gif">Equipment Maintenance History</a></li>
                            </ol>
                            <li>Labor Analysis</li>
                            <ol class="process-tasks">
                                <li><a href="ab-ondemand-workteam-all-report.axvw" rel="pTask" data-taskId="Work Team Performance" data-taskIcon="ab-icon-task.gif">Work Team Performance</a></li>
                                <li><a href="ab-bldgops-report-labor-anal.axvw" rel="pTask" data-taskId="Labor  Analysis" data-taskIcon="ab-icon-task.gif">Labor  Analysis</a></li>
                            </ol>
                            <li>Work Statistics</li>
                            <ol class="process-tasks">
                                <li><a href="ab-ondemand-report-tabs.axvw" rel="pTask" data-taskId="Archived Work Requests" data-taskIcon="ab-icon-task.gif">Archived Work Requests</a></li>
                                <li><a href="ab-bldgops-report-wr-aging.axvw" rel="pTask" data-taskId="Work Request Aging" data-taskIcon="ab-icon-task.gif">Work Request Aging</a></li>
                            </ol>
                            <li>DASHBOARDS</li>
                            <ol class="process-tasks">
                                <li><a href="ab-bldgops-rpt-dash-budget-analysis.axvw" rel="pTask" data-taskId="Budget Analysis" data-taskIcon="ab-icon-task.gif">Budget Analysis</a></li>
                                <li><a href="ab-bldgops-rpt-dash-cost-analysis.axvw" rel="pTask" data-taskId="-Cost Analysis" data-taskIcon="ab-icon-task.gif">-Cost Analysis</a></li>
                                <li><a href="ab-bldgops-rpt-dash-labor-analysis.axvw" rel="pTask" data-taskId="-Labor Analysis" data-taskIcon="ab-icon-task.gif">-Labor Analysis</a></li>
                            </ol>
                        </ol>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
$(document).ready(function() {
    $('#navigationTabs').find('a').click(function() {return false;});
    initDandDFavorites();
    setPageDimensions();
    bindTaskContextMenu();
    localizeFavoritesDisplayText();
    loadFavoritesBuckets();
    modifyProcessTitleDisplay();
    pageTallPTaskBuckets();
});
</script>