<div class="nav-pages" id="EnterpriseMoveManagement">
    <div class="page">
        <div class="page-row full-height" >
            <h3 class="application-title" data-activityId="AbMoveManagement">Enterprise Move Management</h3>
            <hr class="application-horizontal-rule">
            <div id="appProcFavoritesBucket" class="bucket-application bucket-background-light " data-activityId="" data-processId="" oncontextmenu="return false;">
                <h2 class="applications-process-title" data-processId="" title="Most often used tasks and reports.">My Favorites</h2>
                <div class="bucket-wrapper" id="wrapper_74a3b7bc-fb2b-4186-9f48-4eb7c22334e7">
                    <div class="favorites-drop-target">
                        <span class="favorites-add-target"></span>
                        <span class="favorites-delete-target">&nbsp;</span>
                    </div>
                    <div class="favorites" onMouseUp="openPtask(this,event);">
                        <ol class="favorites-items">
                        </ol>
                    </div>
                </div>
            </div>
            <div class="bucket-application " data-productId="AbMove" data-activityId="AbMoveManagement" data-processId="Business Process Owner" data-productTitle="Move Management" data-activityTitle="Enterprise Move Management" data-processTitle="Business Process Owner" data-subfolder="\ab-products\move\management" data-helpLink="\Subsystems\webc\Content\fim\moves\background_data_mm.htm" data-helpSystem="END USER" data-dashboardLayout="" data-dashboardView="" title="Set up your standard action types for IT, carpentry, and other move action items.  Establish questionnaires to be included as the standard templates for your move requests." oncontextmenu="return false;" onMouseUp="openPtask(this,event);">
                <h2 class="applications-process-title" title="Set up your standard action types for IT, carpentry, and other move action items.  Establish questionnaires to be included as the standard templates for your move requests.">
                    <span class="process-title-text">Business Process Owner</span>
                </h2>
                <div class="bucket-wrapper" id="wrapper_abmovemanagement_businessProcessOwner">
                        <ol class="ptask-labels">
                            <li></li>
                            <ol class="process-tasks">
                                <li><a href="ab-activitytype-edit.axvw" rel="pTask" data-taskId="Define Action Types" data-taskIcon="ab-icon-task.gif">Define Action Types</a></li>
                                <li><a href="ab-probtype-edit.axvw" rel="pTask" data-taskId="Define Problem Types" data-taskIcon="ab-icon-task.gif">Define Problem Types</a></li>
                                <li><a href="ab-mo-quest-move-edit.axvw" rel="pTask" data-taskId="Define Move Questionnaires" data-taskIcon="ab-icon-task.gif">Define Move Questionnaires</a></li>
                                <li><a href="ab-mo-quest-action-edit.axvw" rel="pTask" data-taskId="Define Action Questionnaires" data-taskIcon="ab-icon-task.gif">Define Action Questionnaires</a></li>
                            </ol>
                            <li class="empty-taskgroup-title">&nbsp;</li>
                            <ol class="process-tasks">
                                <li><a href="ab-sp-def-emstd.axvw" rel="pTask" data-taskId="Define Employee Standards" data-taskIcon="ab-icon-task.gif">Define Employee Standards</a></li>
                                <li><a href="ab-common-def-em.axvw" rel="pTask" data-taskId="Define Employees" data-taskIcon="ab-icon-task.gif">Define Employees</a></li>
                            </ol>
                            <li class="empty-taskgroup-title">&nbsp;</li>
                            <ol class="process-tasks">
                                <li><a href="ab-trades-edit.axvw" rel="pTask" data-taskId="Define Trades" data-taskIcon="ab-icon-task.gif">Define Trades</a></li>
                                <li><a href="ab-cf-edit.axvw" rel="pTask" data-taskId="Define Craftspersons" data-taskIcon="ab-icon-task.gif">Define Craftspersons</a></li>
                            </ol>
                            <li class="empty-taskgroup-title">&nbsp;</li>
                            <ol class="process-tasks">
                                <li><a href="ab-eqstd-edit.axvw" rel="pTask" data-taskId="Define Equipment Standards" data-taskIcon="ab-icon-task.gif">Define Equipment Standards</a></li>
                                <li><a href="ab-eq-edit.axvw" rel="pTask" data-taskId="Define Equipment" data-taskIcon="ab-icon-task.gif">Define Equipment</a></li>
                                <li><a href="ab-ta-edit.axvw" rel="pTask" data-taskId="Define Tagged Furniture" data-taskIcon="ab-icon-task.gif">Define Tagged Furniture</a></li>
                                <li><a href="ab-mo-jk-edit.axvw" rel="pTask" data-taskId="Define Jacks" data-taskIcon="ab-icon-task.gif">Define Jacks</a></li>
                            </ol>
                            <li class="empty-taskgroup-title">&nbsp;</li>
                            <ol class="process-tasks">
                                <li><a href="ab-sp-def-loc-rm.axvw" rel="pTask" data-taskId="Define Locations" data-taskIcon="ab-icon-task.gif">Define Locations</a></li>
                                <li><a href="ab-sp-def-org.axvw" rel="pTask" data-taskId="Define Organizations" data-taskIcon="ab-icon-task.gif">Define Organizations</a></li>
                            </ol>
                        </ol>
                </div>
            </div>
            <div class="bucket-application " data-productId="AbMove" data-activityId="AbMoveManagement" data-processId="Move Requestor" data-productTitle="Move Management" data-activityTitle="Enterprise Move Management" data-processTitle="Move Requestor" data-subfolder="\ab-products\move\management" data-helpLink="\Subsystems\webc\Content\web_user\moves\requestor\requesting_a_move.htm" data-helpSystem="END USER" data-dashboardLayout="" data-dashboardView="" title="Request an individual, group, asset, room, or equipment move.  Review the status of your move requests or edit or refine the details of your group move." oncontextmenu="return false;" onMouseUp="openPtask(this,event);">
                <h2 class="applications-process-title" title="Request an individual, group, asset, room, or equipment move.  Review the status of your move requests or edit or refine the details of your group move.">
                    <span class="process-title-text">Move Requestor</span>
                </h2>
                <div class="bucket-wrapper" id="wrapper_abmovemanagement_moveRequestor">
                        <ol class="ptask-labels">
                            <li>Individual Moves</li>
                            <ol class="process-tasks">
                                <li><a href="ab-mo-request-em-move.axvw" rel="pTask" data-taskId="Request an Employee Move" data-taskIcon="ab-icon-task.gif">Request an Employee Move</a></li>
                                <li><a href="ab-mo-request-hire-move.axvw" rel="pTask" data-taskId="Request a Move for a New Hire" data-taskIcon="ab-icon-task.gif">Request a Move for a New Hire</a></li>
                                <li><a href="ab-mo-request-leaving-move.axvw" rel="pTask" data-taskId="Request a Move for an Employee Leaving" data-taskIcon="ab-icon-task.gif">Request a Move for an Employee Leaving</a></li>
                                <li><a href="ab-mo-request-eq-move.axvw" rel="pTask" data-taskId="Request an Equipment Move" data-taskIcon="ab-icon-task.gif">Request an Equipment Move</a></li>
                                <li><a href="ab-mo-request-asset-move.axvw" rel="pTask" data-taskId="Request an Asset Move" data-taskIcon="ab-icon-task.gif">Request an Asset Move</a></li>
                                <li><a href="ab-mo-request-rm-move.axvw" rel="pTask" data-taskId="Request a Room Move" data-taskIcon="ab-icon-task.gif">Request a Room Move</a></li>
                                <li><a href="ab-mo-edit-move.axvw" rel="pTask" data-taskId="Edit my Moves" data-taskIcon="ab-icon-task.gif">Edit my Moves</a></li>
                                <li><a href="ab-mo-examine-my-move.axvw" rel="pTask" data-taskId="Examine my Moves" data-taskIcon="ab-icon-task.gif">Examine my Moves</a></li>
                            </ol>
                            <li>Group Moves</li>
                            <ol class="process-tasks">
                                <li><a href="ab-mo-gp-request-group-move.axvw" rel="pTask" data-taskId="Request a Group Move" data-taskIcon="ab-icon-task.gif">Request a Group Move</a></li>
                                <li><a href="ab-mo-gp-edit-move-project.axvw" rel="pTask" data-taskId="Edit my Group Moves" data-taskIcon="ab-icon-task.gif">Edit my Group Moves</a></li>
                                <li><a href="ab-mo-gp-examine-my-move-project.axvw" rel="pTask" data-taskId="Examine my Group Moves" data-taskIcon="ab-icon-task.gif">Examine my Group Moves</a></li>
                            </ol>
                        </ol>
                </div>
            </div>
            <div class="bucket-application " data-productId="AbMove" data-activityId="AbMoveManagement" data-processId="Move Coordinator" data-productTitle="Move Management" data-activityTitle="Enterprise Move Management" data-processTitle="Move Coordinator" data-subfolder="\ab-products\move\management" data-helpLink="\Subsystems\webc\Content\web_user\moves\coordinator\move_coordinator_help.htm" data-helpSystem="END USER" data-dashboardLayout="" data-dashboardView="" title="Review and estimate moves, route moves for approval, issue and complete moves.  Use the move spreadsheet to quickly update group move details." oncontextmenu="return false;" onMouseUp="openPtask(this,event);">
                <h2 class="applications-process-title" title="Review and estimate moves, route moves for approval, issue and complete moves.  Use the move spreadsheet to quickly update group move details.">
                    <span class="process-title-text">Move Coordinator</span>
                </h2>
                <div class="bucket-wrapper" id="wrapper_abmovemanagement_moveCoordinator">
                        <ol class="ptask-labels">
                            <li></li>
                            <ol class="process-tasks">
                                <li><a href="ab-sp-vw-avail-rm.axvw" rel="pTask" data-taskId="View Available Rooms" data-taskIcon="ab-icon-task.gif">View Available Rooms</a></li>
                            </ol>
                            <li>Individual Moves</li>
                            <ol class="process-tasks">
                                <li><a href="ab-mo-review.axvw" rel="pTask" data-taskId="Review and Estimate Moves" data-taskIcon="ab-icon-task.gif">Review and Estimate Moves</a></li>
                                <li><a href="ab-mo-route.axvw" rel="pTask" data-taskId="Route Moves for Approval" data-taskIcon="ab-icon-task.gif">Route Moves for Approval</a></li>
                                <li><a href="ab-mo-approve.axvw" rel="pTask" data-taskId="Approve Moves" data-taskIcon="ab-icon-task.gif">Approve Moves</a></li>
                                <li><a href="ab-mo-issue.axvw" rel="pTask" data-taskId="Issue Moves" data-taskIcon="ab-icon-task.gif">Issue Moves</a></li>
                                <li><a href="ab-mo-complete.axvw" rel="pTask" data-taskId="Complete Moves" data-taskIcon="ab-icon-task.gif">Complete Moves</a></li>
                                <li><a href="ab-mo-examine.axvw" rel="pTask" data-taskId="Examine Moves" data-taskIcon="ab-icon-task.gif">Examine Moves</a></li>
                            </ol>
                            <li>Group Moves</li>
                            <ol class="process-tasks">
                                <li><a href="ab-mo-gp-review.axvw" rel="pTask" data-taskId="Review and Estimate Group Moves" data-taskIcon="ab-icon-task.gif">Review and Estimate Group Moves</a></li>
                                <li><a href="ab-mo-gp-route.axvw" rel="pTask" data-taskId="Route Group Moves for Approval" data-taskIcon="ab-icon-task.gif">Route Group Moves for Approval</a></li>
                                <li><a href="ab-mo-gp-approve.axvw" rel="pTask" data-taskId="Approve Group Moves" data-taskIcon="ab-icon-task.gif">Approve Group Moves</a></li>
                                <li><a href="ab-mo-gp-issue.axvw" rel="pTask" data-taskId="Issue Group Moves" data-taskIcon="ab-icon-task.gif">Issue Group Moves</a></li>
                                <li><a href="ab-mo-gp-complete.axvw" rel="pTask" data-taskId="Complete Group Moves" data-taskIcon="ab-icon-task.gif">Complete Group Moves</a></li>
                                <li><a href="ab-mo-gp-examine.axvw" rel="pTask" data-taskId="Examine Group Moves" data-taskIcon="ab-icon-task.gif">Examine Group Moves</a></li>
                            </ol>
                            <li>All Moves</li>
                            <ol class="process-tasks">
                                <li><a href="ab-proj-projects-moves-calendar.axvw" rel="pTask" data-taskId="Examine Move Calendar" data-taskIcon="ab-icon-task.gif">Examine Move Calendar</a></li>
                            </ol>
                            <li>Dashboards</li>
                            <ol class="process-tasks">
                                <li><a href="ab-mo-review-dashboard.axvw" rel="pTask" data-taskId="Review and Estimate" data-taskIcon="ab-icon-task.gif">Review and Estimate</a></li>
                                <li><a href="ab-mo-route-dashboard.axvw" rel="pTask" data-taskId="Route for Approval" data-taskIcon="ab-icon-task.gif">Route for Approval</a></li>
                                <li><a href="ab-mo-issue-dashboard.axvw" rel="pTask" data-taskId="Issue" data-taskIcon="ab-icon-task.gif">Issue</a></li>
                                <li><a href="ab-mo-complete-dashboard.axvw" rel="pTask" data-taskId="Complete" data-taskIcon="ab-icon-task.gif">Complete</a></li>
                            </ol>
                        </ol>
                </div>
            </div>
            <div class="bucket-application " data-productId="AbMove" data-activityId="AbMoveManagement" data-processId="Move Scenario Planner" data-productTitle="Move Management" data-activityTitle="Enterprise Move Management" data-processTitle="Move Scenario Planner" data-subfolder="\ab-products\move\management" data-helpLink="\Subsystems\webc\Content\web_user\moves\move_scenarios\overview_move_scen.htm" data-helpSystem="END USER" data-dashboardLayout="" data-dashboardView="" title="Develop Move Scenarios" oncontextmenu="return false;" onMouseUp="openPtask(this,event);">
                <h2 class="applications-process-title" title="Develop Move Scenarios">
                    <span class="process-title-text">Move Scenario Planner</span>
                </h2>
                <div class="bucket-wrapper" id="wrapper_abmovemanagement_moveScenarioPlanner">
                        <ol class="ptask-labels">
                            <li>Group Moves</li>
                            <ol class="process-tasks">
                                <li><a href="ab-mo-gp-review.axvw" rel="pTask" data-taskId="Review Group Moves" data-taskIcon="ab-icon-task.gif">Review Group Moves</a></li>
                                <li><a href="ab-mo-gp-develop-move-scenarios.axvw" rel="pTask" data-taskId="Develop Move Scenarios" data-taskIcon="ab-icon-task.gif">Develop Move Scenarios</a></li>
                            </ol>
                        </ol>
                </div>
            </div>
        </div>
        <div class="page-row full-height" >
            <h3 class="application-title" data-activityId="AbMoveManagement">Enterprise Move Management</h3>
            <hr class="application-horizontal-rule">
            <div class="bucket-application " data-productId="AbMove" data-activityId="AbMoveManagement" data-processId="Data Coordinator" data-productTitle="Move Management" data-activityTitle="Enterprise Move Management" data-processTitle="Data Coordinator" data-subfolder="\ab-products\move\management" data-helpLink="\Subsystems\webc\Content\web_user\moves\data_voice_coord_help.htm" data-helpSystem="END USER" data-dashboardLayout="" data-dashboardView="" title="Review and complete data-related action items associated with each move order.  Access the group move spreadsheet to quickly fill in data for group moves." oncontextmenu="return false;" onMouseUp="openPtask(this,event);">
                <h2 class="applications-process-title" title="Review and complete data-related action items associated with each move order.  Access the group move spreadsheet to quickly fill in data for group moves.">
                    <span class="process-title-text">Data Coordinator</span>
                </h2>
                <div class="bucket-wrapper" id="wrapper_abmovemanagement_dataCoordinator">
                        <ol class="ptask-labels">
                            <li>Individual Moves</li>
                            <ol class="process-tasks">
                                <li><a href="ab-mo-review-data.axvw" rel="pTask" data-taskId="Edit Moves" data-taskIcon="ab-icon-task.gif">Edit Moves</a></li>
                                <li><a href="ab-mo-examine.axvw" rel="pTask" data-taskId="Examine Moves" data-taskIcon="ab-icon-task.gif">Examine Moves</a></li>
                            </ol>
                            <li>Group Moves</li>
                            <ol class="process-tasks">
                                <li><a href="ab-mo-gp-review-data.axvw" rel="pTask" data-taskId="Edit Group Moves" data-taskIcon="ab-icon-task.gif">Edit Group Moves</a></li>
                                <li><a href="ab-mo-gp-examine.axvw" rel="pTask" data-taskId="Examine Group Moves" data-taskIcon="ab-icon-task.gif">Examine Group Moves</a></li>
                            </ol>
                            <li>Actions</li>
                            <ol class="process-tasks">
                                <li><a href="ab-mo-edit-action-data.axvw" rel="pTask" data-taskId="Edit Data Actions" data-taskIcon="ab-icon-task.gif">Edit Data Actions</a></li>
                            </ol>
                        </ol>
                </div>
            </div>
            <div class="bucket-application " data-productId="AbMove" data-activityId="AbMoveManagement" data-processId="Voice Coordinator" data-productTitle="Move Management" data-activityTitle="Enterprise Move Management" data-processTitle="Voice Coordinator" data-subfolder="\ab-products\move\management" data-helpLink="\Subsystems\webc\Content\web_user\moves\data_voice_coord_help.htm" data-helpSystem="END USER" data-dashboardLayout="" data-dashboardView="" title="Review and complete voice-servce action items associated with each move order.  Access the group move spreadsheet to quickly fill in data for group moves." oncontextmenu="return false;" onMouseUp="openPtask(this,event);">
                <h2 class="applications-process-title" title="Review and complete voice-servce action items associated with each move order.  Access the group move spreadsheet to quickly fill in data for group moves.">
                    <span class="process-title-text">Voice Coordinator</span>
                </h2>
                <div class="bucket-wrapper" id="wrapper_abmovemanagement_voiceCoordinator">
                        <ol class="ptask-labels">
                            <li>Individual Moves</li>
                            <ol class="process-tasks">
                                <li><a href="ab-mo-review-voice.axvw" rel="pTask" data-taskId="Edit Moves" data-taskIcon="ab-icon-task.gif">Edit Moves</a></li>
                                <li><a href="ab-mo-examine.axvw" rel="pTask" data-taskId="Examine Moves" data-taskIcon="ab-icon-task.gif">Examine Moves</a></li>
                            </ol>
                            <li>Group Moves</li>
                            <ol class="process-tasks">
                                <li><a href="ab-mo-gp-review-voice.axvw" rel="pTask" data-taskId="Edit Group Moves" data-taskIcon="ab-icon-task.gif">Edit Group Moves</a></li>
                                <li><a href="ab-mo-gp-examine.axvw" rel="pTask" data-taskId="Examine Group Moves" data-taskIcon="ab-icon-task.gif">Examine Group Moves</a></li>
                            </ol>
                            <li>Actions</li>
                            <ol class="process-tasks">
                                <li><a href="ab-mo-edit-action-voice.axvw" rel="pTask" data-taskId="Edit Voice Actions" data-taskIcon="ab-icon-task.gif">Edit Voice Actions</a></li>
                            </ol>
                        </ol>
                </div>
            </div>
            <div class="bucket-application " data-productId="AbMove" data-activityId="AbMoveManagement" data-processId="Craftsperson" data-productTitle="Move Management" data-activityTitle="Enterprise Move Management" data-processTitle="Craftsperson" data-subfolder="\ab-products\move\management" data-helpLink="\Subsystems\webc\Content\web_user\moves\craftsperson_help.htm" data-helpSystem="END USER" data-dashboardLayout="" data-dashboardView="" title="Review move order and action items you have been assigned.  Use the move spreadsheet to view related move orders.  Update tasks to reflect completion status." oncontextmenu="return false;" onMouseUp="openPtask(this,event);">
                <h2 class="applications-process-title" title="Review move order and action items you have been assigned.  Use the move spreadsheet to view related move orders.  Update tasks to reflect completion status.">
                    <span class="process-title-text">Craftsperson</span>
                </h2>
                <div class="bucket-wrapper" id="wrapper_abmovemanagement_craftsperson">
                        <ol class="ptask-labels">
                            <li>Individual Moves</li>
                            <ol class="process-tasks">
                                <li><a href="ab-mo-examine.axvw" rel="pTask" data-taskId="Examine Individual Moves" data-taskIcon="ab-icon-task.gif">Examine Individual Moves</a></li>
                            </ol>
                            <li>Group Moves</li>
                            <ol class="process-tasks">
                                <li><a href="ab-mo-gp-examine.axvw" rel="pTask" data-taskId="Examine Group Moves" data-taskIcon="ab-icon-task.gif">Examine Group Moves</a></li>
                            </ol>
                            <li>Actions</li>
                            <ol class="process-tasks">
                                <li><a href="ab-mo-edit-action-cf.axvw" rel="pTask" data-taskId="Edit my Actions" data-taskIcon="ab-icon-task.gif">Edit my Actions</a></li>
                            </ol>
                        </ol>
                </div>
            </div>
            <div class="bucket-application " data-productId="AbMove" data-activityId="AbMoveManagement" data-processId="Executive Manager" data-productTitle="Move Management" data-activityTitle="Enterprise Move Management" data-processTitle="Executive Manager" data-subfolder="\ab-products\move\management" data-helpLink="\Subsystems\webc\Content\web_user\moves\exec_mgr_help.htm" data-helpSystem="END USER" data-dashboardLayout="" data-dashboardView="" title="Review churn rates by business unit, division, or department.   Review churn rates by month." oncontextmenu="return false;" onMouseUp="openPtask(this,event);">
                <h2 class="applications-process-title" title="Review churn rates by business unit, division, or department.   Review churn rates by month.">
                    <span class="process-title-text">Executive Manager</span>
                </h2>
                <div class="bucket-wrapper" id="wrapper_abmovemanagement_executiveManager">
                        <ol class="ptask-labels">
                            <li></li>
                            <ol class="process-tasks">
                                <li><a href="ab-mo-statistics-org.axvw" rel="pTask" data-taskId="Move Statistics by Organization" data-taskIcon="ab-icon-task.gif">Move Statistics by Organization</a></li>
                                <li><a href="ab-mo-statistics-chart-org.axvw" rel="pTask" data-taskId="Move Statistics Chart by Organization" data-taskIcon="ab-icon-task.gif">Move Statistics Chart by Organization</a></li>
                                <li><a href="ab-mo-statistics-loc.axvw" rel="pTask" data-taskId="Move Statistics by Location" data-taskIcon="ab-icon-task.gif">Move Statistics by Location</a></li>
                                <li><a href="ab-mo-statistics-chart-loc.axvw" rel="pTask" data-taskId="Move Statistics Chart by Location" data-taskIcon="ab-icon-task.gif">Move Statistics Chart by Location</a></li>
                                <li><a href="ab-mo-history.axvw" rel="pTask" data-taskId="Move History" data-taskIcon="ab-icon-task.gif">Move History</a></li>
                                <li><a href="ab-mo-report-dashboard.axvw" rel="pTask" data-taskId="Move Statistics Reports Dashboard" data-taskIcon="ab-icon-task.gif">Move Statistics Reports Dashboard</a></li>
                            </ol>
                        </ol>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
$(document).ready(function() {
    $('#navigationTabs').find('a').click(function() {return false;});
    initDandDFavorites();
    setPageDimensions();
    bindTaskContextMenu();
    localizeFavoritesDisplayText();
    loadFavoritesBuckets();
    modifyProcessTitleDisplay();
    pageTallPTaskBuckets();
});
</script>