<div class="nav-pages">
    <div class="page">
	    <div class="page-row three-quarter-height" >
            <div id="bucket_abrplmportfolioadministration_bucketRepm1Portfolio_h0" class="bucket-process  " data-productId="AbRPLM" data-activityId="AbRPLMPortfolioAdministration" data-processId="Bucket REPM 1 - Portfolio" data-productTitle="Real Estate Portfolio Management" data-activityTitle="Portfolio Management" data-processTitle="Portfolio" data-productTitleRaw="Real Estate Portfolio Management" data-activityTitleRaw="Portfolio Management" data-processTitleRaw="Portfolio" data-subfolder="" data-helpLink=""  data-helpSystem="END USER" data-dashboardLayout="" data-dashboardView="" title="" oncontextmenu="return false;">
                <h2 class="process-title" >Portfolio</h2>
                <div class="bucket-wrapper process-bucket" id="wrapper_abrplmportfolioadministration_bucketRepm1Portfolio_h0" onMouseUp="openTask(this, event);">
                    <ol class="ptask-labels">
                        <li>Oversight</li>
                        <ol class="process-tasks">
                            <li><a href="ab-finanal-console.axvw" rel="eTask" data-taskId="Financial Analysis Console" data-taskIcon="ab-icon-task.gif">Financial Analysis Console</a></li>
                            <li><a href="ab-rplm-pfadmin-pnav-dashboard-global.axvw" rel="eTask" data-taskId="Global Portfolio Dashboard" data-taskIcon="">Global Portfolio Dashboard</a></li>
                            <li><a href="ab-rplm-pfadmin-portfoliosummary-dashboard.axvw" rel="eTask" data-taskId="Portfolio Summary Dashboard" data-taskIcon="">Portfolio Summary Dashboard</a></li>
                            <li><a href="ab-rplm-pfadmin-bldgs-dashboard.axvw" rel="eTask" data-taskId="Buildings Dashboard" data-taskIcon="">Buildings Dashboard</a></li>
                            <li><a href="ab-rplm-pfadmin-manage-bldgs-by-location-masterview.axvw" rel="eTask" data-taskId="Building by Country Report" data-taskIcon="">Building by Country Report</a></li>
                            <li><a href="ab-repm-lsadmin-prop-summary.axvw" rel="eTask" data-taskId="Yearly Financial Summary by Country" data-taskIcon="">Yearly Financial Summary by Country</a></li>
                        </ol>
                        <li>Activity</li>
                        <ol class="process-tasks">
                            <li><a href="ab-rplm-pfadmin-ownership-transactions-report.axvw" rel="eTask" data-taskId="All Ownership Transactions" data-taskIcon="">All Ownership Transactions</a></li>
                            <li><a href="ab-rplm-pfadmin-investments.axvw" rel="eTask" data-taskId="Portfolio Investments" data-taskIcon="">Portfolio Investments</a></li>
                            <li><a href="ab-repm-pfadmin-ptsum-monthly-capital-trans-by-chart.axvw" rel="eTask" data-taskId="Portfolio Summary Net Capital Cash Flow" data-taskIcon="">Portfolio Summary Net Capital Cash Flow</a></li>
                        </ol>
                    </ol>                    
                </div>
            </div>
            <div id="bucket_abcapitalbudgeting_bucketRepm1CapitalPlanning_h1" class="bucket-process  " data-productId="AbProject" data-activityId="AbCapitalBudgeting" data-processId="Bucket REPM 1 - Capital Planning" data-productTitle="Capital Project Management" data-activityTitle="Capital Budgeting" data-processTitle="Capital Planning" data-productTitleRaw="Capital Project Management" data-activityTitleRaw="Capital Budgeting" data-processTitleRaw="Capital Planning" data-subfolder="" data-helpLink=""  data-helpSystem="END USER" data-dashboardLayout="" data-dashboardView="" title="" oncontextmenu="return false;">
                <h2 class="process-title" >Capital Planning</h2>
                <div class="bucket-wrapper process-bucket" id="wrapper_abcapitalbudgeting_bucketRepm1CapitalPlanning_h1" onMouseUp="openTask(this, event);">
                    <ol class="ptask-labels">
                        <li></li>
                        <ol class="process-tasks">
                            <li><a href="ab-budget-by-program.axvw" rel="eTask" data-taskId="Program Allocations by Year" data-taskIcon="">Program Allocations by Year</a></li>
                        </ol>
                        <li>Funding</li>
                        <ol class="process-tasks">
                            <li><a href="ab-projects-approved-by-year-report.axvw" rel="eTask" data-taskId="Approved Projects Funding by Year" data-taskIcon="">Approved Projects Funding by Year</a></li>
                            <li><a href="ab-funds-available.axvw" rel="eTask" data-taskId="Available Capital and Expense Funds" data-taskIcon="">Available Capital and Expense Funds</a></li>
                            <li><a href="ab-allocate-funding-edit.axvw" rel="eTask" data-taskId="Allocation Console" data-taskIcon="">Allocation Console</a></li>
                        </ol>
                        <li>Costs</li>
                        <ol class="process-tasks">
                            <li><a href="ab-proj-legacy-import-conn.axvw" rel="eTask" data-taskId="Historical Project Analyzer" data-taskIcon="">Historical Project Analyzer</a></li>
                            <li><a href="ab-capbud-bud-vs-sp.axvw" rel="eTask" data-taskId="Project Budget vs Spend Analyzer" data-taskIcon="">Project Budget vs Spend Analyzer</a></li>
                            <li><a href="ab-proj-fcpm-cps.axvw" rel="eTask" data-taskId="Project Commitment Cost Summary" data-taskIcon="">Project Commitment Cost Summary</a></li>
                        </ol>
                        <li>Projects</li>
                        <ol class="process-tasks">
                            <li><a href="ab-proj-projects-scorecard.axvw" rel="eTask" data-taskId="Projects Scorecard" data-taskIcon="">Projects Scorecard</a></li>
                        </ol>
                    </ol>                    
                </div>
            </div>
            <div id="bucket_abrplmleaseadministration_bucketRepm1Leases_h2" class="bucket-process bucket-background-medium " data-productId="AbRPLM" data-activityId="AbRPLMLeaseAdministration" data-processId="Bucket REPM 1 - Leases" data-productTitle="Real Estate Portfolio Management" data-activityTitle="Lease Administration" data-processTitle="Leases" data-productTitleRaw="Real Estate Portfolio Management" data-activityTitleRaw="Lease Administration" data-processTitleRaw="Leases" data-subfolder="" data-helpLink=""  data-helpSystem="END USER" data-dashboardLayout="" data-dashboardView="" title="" oncontextmenu="return false;">
                <h2 class="process-title" >Leases</h2>
                <div class="bucket-wrapper process-bucket" id="wrapper_abrplmleaseadministration_bucketRepm1Leases_h2" onMouseUp="openTask(this, event);">
                    <ol class="ptask-labels">
                        <li>Leases</li>
                        <ol class="process-tasks">
                            <li><a href="ab-repm-addedit-lease-details-console.axvw" rel="eTask" data-taskId="Lease Portfolio Console" data-taskIcon="">Lease Portfolio Console</a></li>
                            <li><a href="ab-repm-lsadmin-rentroll-report.axvw" rel="eTask" data-taskId="Rent Roll Report" data-taskIcon="">Rent Roll Report</a></li>
                            <li><a href="ab-rplm-lsadmin-dashboard.axvw" rel="eTask" data-taskId="Lease Portfolio Dashboard" data-taskIcon="">Lease Portfolio Dashboard</a></li>
                            <li><a href="ab-repm-lsadmin-ls-benchmark.axvw" rel="eTask" data-taskId="Lease Benchmarks" data-taskIcon="">Lease Benchmarks</a></li>
                        </ol>
                        <li>Income and Commitments</li>
                        <ol class="process-tasks">
                            <li><a href="ab-rplm-lsadmin-lease-recurring-cost-by-month-report.axvw" rel="eTask" data-taskId="Lease Net Income by Month" data-taskIcon="">Lease Net Income by Month</a></li>
                            <li><a href="ab-rplm-lsadmin-lease-recurring-costs-by-year-report.axvw" rel="eTask" data-taskId="Lease Net Income by Year" data-taskIcon="">Lease Net Income by Year</a></li>
                            <li><a href="ab-rplm-lsadmin-lease-commit-costs-by-month-report.axvw" rel="eTask" data-taskId="Lease Monthly Commitment Costs" data-taskIcon="">Lease Monthly Commitment Costs</a></li>
                        </ol>
                    </ol>                    
                </div>
            </div>
            <div id="bucket_abrplmcosts_bucketRepm1CostAdmin_h3" class="bucket-process  " data-productId="AbRPLM" data-activityId="AbRPLMCosts" data-processId="Bucket REPM 1 - Cost Admin" data-productTitle="Real Estate Portfolio Management" data-activityTitle="Cost Administration" data-processTitle="Cost Administration" data-productTitleRaw="Real Estate Portfolio Management" data-activityTitleRaw="Cost Administration" data-processTitleRaw="Cost Administration" data-subfolder="" data-helpLink=""  data-helpSystem="END USER" data-dashboardLayout="" data-dashboardView="" title="" oncontextmenu="return false;">
                <h2 class="process-title" >Cost Administration</h2>
                <div class="bucket-wrapper process-bucket" id="wrapper_abrplmcosts_bucketRepm1CostAdmin_h3" onMouseUp="openTask(this, event);">
                    <ol class="ptask-labels">
                        <li>Oversight</li>
                        <ol class="process-tasks">
                            <li><a href="ab-rplm-cost-mgmt-cash-flow-rep.axvw" rel="eTask" data-taskId="Cash Flow Report" data-taskIcon="">Cash Flow Report</a></li>
                            <li><a href="ab-repm-cost-straight-line-rent.axvw" rel="eTask" data-taskId="Straight Line Rent" data-taskIcon="">Straight Line Rent</a></li>
                            <li><a href="ab-repm-cost-ls-profile.axvw" rel="eTask" data-taskId="Lease Cost Indexing Profile" data-taskIcon="">Lease Cost Indexing Profile</a></li>
                            <li><a href="ab-repm-ls-cam-report.axvw" rel="eTask" data-taskId="Lease CAM Reconciliation Report" data-taskIcon="">Lease CAM Reconciliation Report</a></li>
                        </ol>
                        <li>Financial Summaries</li>
                        <ol class="process-tasks">
                            <li><a href="ab-repm-lsadmin-prop-and-bl-bench.axvw" rel="eTask" data-taskId="Property and Building Benchmarks" data-taskIcon="">Property and Building Benchmarks</a></li>
                            <li><a href="ab-repm-lsadmin-ls-benchmark.axvw" rel="eTask" data-taskId="Lease Benchmarks" data-taskIcon="">Lease Benchmarks</a></li>
                            <li><a href="ab-repm-pfadmin-prop-finance-sum.axvw" rel="eTask" data-taskId="Property Financial Summary" data-taskIcon="">Property Financial Summary</a></li>
                            <li><a href="ab-repm-pfadmin-ls-financial-sum.axvw" rel="eTask" data-taskId="Lease Financial Summary" data-taskIcon="">Lease Financial Summary</a></li>
                            <li><a href="ab-repm-lsadmin-prop-summary.axvw" rel="eTask" data-taskId="Yearly Financial Summary by Country" data-taskIcon="">Yearly Financial Summary by Country</a></li>
                        </ol>
                    </ol>                    
                </div>
            </div>
	    </div>
	    <div class="page-row three-quarter-height" >
            <div id="bucket_integratedPortfolioMetrics_h4" class="bucket-process  double-wide" data-panelTitle="Integrated Portfolio Metrics" data-panelTitleRaw="Integrated Portfolio Metrics" oncontextmenu="return false;">
                <h2 class="process-title" title="Performance metrics monitoring the processes under your department's purview.">Integrated Portfolio Metrics</h2>
                <div class="bucket-wrapper app-specific-bucket" id="wrapper_integratedPortfolioMetrics_h4">
                    <div class="processMetrics"
                        columnSpan="2"
                        granularity="all"
                        useStoplightColors="true"
                        scorecard="PORTFOLIO_PROCESSES"
                    >
                    </div>
                </div>
            </div>
            <div id="bucket_alerts_h5" class="bucket-process bucket-background-medium " data-panelTitle="Alerts" data-panelTitleRaw="Alerts" oncontextmenu="return false;">
                <h2 class="process-title" title="Time-sensitive tasks, reports and requests.">Alerts</h2>
                <div class="bucket-wrapper app-specific-bucket" id="wrapper_alerts_h5">
                    <div class="alertsList"
                        granularity="all"
                        scorecard="PORTFOLIO_ALERTS"
                    >
                    </div>
                </div>
            </div>
            <div id="homeFavoritesBucket_h6" class="bucket-process  " data-panelTitle="Favorites" data-panelTitleRaw="Favorites" oncontextmenu="return false;">
                <h2 class="process-title" title="Drag and drop your favorite tasks into this panel.">Favorites</h2>
                <div class="bucket-wrapper favorites-bucket" id="wrapper_favorites_h6">
                    <div class="favorites-drop-target">
                        <span class="favorites-add-target"></span>
                        <span class="favorites-delete-target">&nbsp;</span>
                    </div>
                    <div class="favorites" onMouseUp="openTask(this,event);">
                        <ol class="favorites-items">
                        </ol>
                    </div>
                </div>
            </div>
	    </div>
        <div class="page-break-banner ui-widget-header bucket-background-medium" data-blockTitle="IN DEPTH" data-blockTitleRaw="IN DEPTH">
            <div class="page-break-archibus">
                <div class="page-break-logo"></div><span>IN DEPTH</span>
            </div>
            <a class="page-top-link" onClick="goToTop();"></a>
        </div>
        <br/>
	    <div class="page-row half-height" >
            <div id="bucket_budgetVariance_h7" class="bucket-process  " data-panelTitle="Budget Variance" data-panelTitleRaw="Budget Variance" oncontextmenu="return false;">
                <h2 class="process-title" title="">Budget Variance</h2>
                <div class="bucket-wrapper app-specific-bucket" id="wrapper_budgetVariance_h7">
                    <div class="horizontalBarChart"
                        metricName="fin_RealEstateCapEx-BudgetVariance_monthly"
                        granularity="project_id"
                        subtitle="Budget Variance"
                        sortOrder="desc"
                        abbreviateValues="true"
                        recordLimit="5"
                    >
                    </div>
                </div>
            </div>
            <div id="bucket_capitalProgramVariance_h8" class="bucket-process  " data-panelTitle="Capital Program Variance" data-panelTitleRaw="Capital Program Variance" oncontextmenu="return false;">
                <h2 class="process-title" title="">Capital Program Variance</h2>
                <div class="bucket-wrapper app-specific-bucket" id="wrapper_capitalProgramVariance_h8">
                    <div class="horizontalBarChart"
                        metricName="proj_ProjectsOverBudget_percent_monthly"
                        granularity="program_id"
                        subtitle="Budget Variance"
                        sortOrder="desc"
                        abbreviateValues="true"
                        recordLimit="5"
                    >
                    </div>
                </div>
            </div>
            <div id="bucket_capitalProjects_h9" class="bucket-process bucket-background-medium " data-panelTitle="Capital Projects" data-panelTitleRaw="Capital Projects " oncontextmenu="return false;">
                <h2 class="process-title" title="">Capital Projects</h2>
                <div class="bucket-wrapper app-specific-bucket" id="wrapper_capitalProjects_h9">
                    <div class="horizontalBarChart"
                        metricName="proj_CapEx-Project_monthly"
                        granularity="project_type"
                        subtitle="Top 5 by Project Type"
                        sortOrder="desc"
                        abbreviateValues="true"
                        recordLimit="5"
                    >
                    </div>
                </div>
            </div>
            <div id="bucket_programs_h10" class="bucket-process  " data-panelTitle="Programs" data-panelTitleRaw="Programs" oncontextmenu="return false;">
                <h2 class="process-title" title="">Programs</h2>
                <div class="bucket-wrapper app-specific-bucket" id="wrapper_programs_h10">
                    <div class="horizontalBarChart"
                        dataSourceId="abProgramChart"
                        viewName="ab-env-ehs-top5-barchart-datasource.axvw"
                        subtitle="Top 5 by Funding Allocation"
                        abbreviateValues="true"
                        valueField="funding.sum_amt_total"
                        labelField="funding.program_id"
                        recordLimit="5"
                    >
                    </div>
                </div>
            </div>
	    </div>
	    <div class="page-row three-quarter-height" >
            <div id="bucket_abrplmportfolioadministration_bucketRepm2Portfolio_h11" class="bucket-process  " data-productId="AbRPLM" data-activityId="AbRPLMPortfolioAdministration" data-processId="Bucket REPM 2 - Portfolio" data-productTitle="Real Estate Portfolio Management" data-activityTitle="Portfolio Management" data-processTitle="Portfolio " data-productTitleRaw="Real Estate Portfolio Management" data-activityTitleRaw="Portfolio Management" data-processTitleRaw="Portfolio " data-subfolder="" data-helpLink=""  data-helpSystem="END USER" data-dashboardLayout="" data-dashboardView="" title="" oncontextmenu="return false;">
                <h2 class="process-title" >Portfolio </h2>
                <div class="bucket-wrapper process-bucket" id="wrapper_abrplmportfolioadministration_bucketRepm2Portfolio_h11" onMouseUp="openTask(this, event);">
                    <ol class="ptask-labels">
                        <li>Inventory</li>
                        <ol class="process-tasks">
                            <li><a href="ab-rplm-pfadmin-add-item-to-portfolio-wizard.axvw" rel="eTask" data-taskId="Add/Edit Wizard" data-taskIcon="">Add/Edit Wizard</a></li>
                            <li><a href="ab-rplm-gvmnt-manage-rp-inventory.axvw" rel="eTask" data-taskId="Manage Real Property Inventory" data-taskIcon="">Manage Real Property Inventory</a></li>
                            <li><a href="ab-rplm-gvmnt-rp-add-new-prop.axvw" rel="eTask" data-taskId="Add New Property" data-taskIcon="">Add New Property</a></li>
                            <li><a href="ab-rplm-gvmnt-rp-trans-by-requestor-report.axvw" rel="eTask" data-taskId="Transactions by Requestor" data-taskIcon="">Transactions by Requestor</a></li>
                            <li><a href="ab-rplm-gvmnt-rp-trans-by-unique-id-report.axvw" rel="eTask" data-taskId="Transactions by Property Asset Unique Identifier" data-taskIcon="">Transactions by Property Asset Unique Identifier</a></li>
                        </ol>
                        <li>Forecasting</li>
                        <ol class="process-tasks">
                            <li><a href="ab-alloc-wiz.axvw" rel="eTask" data-taskId="Portfolio Forecast Wizard" data-taskIcon="">Portfolio Forecast Wizard</a></li>
                            <li><a href="ab-alloc-report-dpdv-all.axvw" rel="eTask" data-taskId="Portfolio Forecast Department Analysis" data-taskIcon="">Portfolio Forecast Department Analysis</a></li>
                            <li><a href="ab-alloc-report-bldv-all.axvw" rel="eTask" data-taskId="Portfolio Forecast Building Analysis" data-taskIcon="">Portfolio Forecast Building Analysis</a></li>
                            <li><a href="ab-alloc-gap-chart-monthly.axvw" rel="eTask" data-taskId="Space Gap Analysis Chart" data-taskIcon="">Space Gap Analysis Chart</a></li>
                            <li><a href="ab-alloc-headcount.axvw" rel="eTask" data-taskId="Headcount Projection Chart" data-taskIcon="">Headcount Projection Chart</a></li>
                        </ol>
                    </ol>                    
                </div>
            </div>
            <div id="bucket_abprojectmanagement_bucketRepm2CapitalProjects_h12" class="bucket-process  " data-productId="AbProject" data-activityId="AbProjectManagement" data-processId="Bucket REPM 2 - Capital Projects" data-productTitle="Capital Project Management" data-activityTitle="Project Management" data-processTitle="Capital Projects   " data-productTitleRaw="Capital Project Management" data-activityTitleRaw="Project Management" data-processTitleRaw="Capital Projects   " data-subfolder="" data-helpLink=""  data-helpSystem="END USER" data-dashboardLayout="" data-dashboardView="" title="" oncontextmenu="return false;">
                <h2 class="process-title" >Capital Projects   </h2>
                <div class="bucket-wrapper process-bucket" id="wrapper_abprojectmanagement_bucketRepm2CapitalProjects_h12" onMouseUp="openTask(this, event);">
                    <ol class="ptask-labels">
                        <li>Project Management</li>
                        <ol class="process-tasks">
                            <li><a href="ab-proj-fcpm-dash-qc.axvw" rel="eTask" data-taskId="Project Quality Control Dashboard" data-taskIcon="">Project Quality Control Dashboard</a></li>
                            <li><a href="ab-proj-fcpm-cps.axvw" rel="eTask" data-taskId="Commitment Progress Status (CPS) Report" data-taskIcon="">Commitment Progress Status (CPS) Report</a></li>
                            <li><a href="ab-proj-fcpm-wip.axvw" rel="eTask" data-taskId="Work-In-Place (WIP) Projections" data-taskIcon="">Work-In-Place (WIP) Projections</a></li>
                            <li><a href="ab-proj-fcpm-invs.axvw" rel="eTask" data-taskId="Invoices by Vendors" data-taskIcon="ab-icon-task.gif">Invoices by Vendors</a></li>
                        </ol>
                        <li>Project Planning</li>
                        <ol class="process-tasks">
                            <li><a href="ab-project-request-edit-submit.axvw" rel="eTask" data-taskId="Pipeline" data-taskIcon="ab-icon-task.gif">Pipeline</a></li>
                            <li><a href="ab-proj-active-projects-timeline.axvw" rel="eTask" data-taskId="Timeline" data-taskIcon="">Timeline</a></li>
                            <li><a href="ab-proj-mng.axvw" rel="eTask" data-taskId="Console" data-taskIcon="ab-icon-task.gif">Console</a></li>
                            <li><a href="ab-proj-projects-map.axvw" rel="eTask" data-taskId="Map" data-taskIcon="">Map</a></li>
                        </ol>
                        <li>Exceptions</li>
                        <ol class="process-tasks">
                            <li><a href="ab-proj-projects-metrics.axvw" rel="eTask" data-taskId="Projects Metrics" data-taskIcon="">Projects Metrics</a></li>
                            <li><a href="ab-proj-projects-over-budget.axvw" rel="eTask" data-taskId="Projects Over Budget" data-taskIcon="">Projects Over Budget</a></li>
                            <li><a href="ab-budget-by-program.axvw" rel="eTask" data-taskId="Budget by Program" data-taskIcon="">Budget by Program</a></li>
                            <li><a href="ab-proj-projects-compare-to-budget.axvw" rel="eTask" data-taskId="Project Costs vs. Budget" data-taskIcon="">Project Costs vs. Budget</a></li>
                            <li><a href="ab-proj-projects-behind-schedule.axvw" rel="eTask" data-taskId="Projects Behind Schedule" data-taskIcon="">Projects Behind Schedule</a></li>
                        </ol>
                    </ol>                    
                </div>
            </div>
            <div id="bucket_abrplmleaseadministration_bucketRepm2Leases_h13" class="bucket-process bucket-background-medium " data-productId="AbRPLM" data-activityId="AbRPLMLeaseAdministration" data-processId="Bucket REPM 2 - Leases" data-productTitle="Real Estate Portfolio Management" data-activityTitle="Lease Administration" data-processTitle="Leases " data-productTitleRaw="Real Estate Portfolio Management" data-activityTitleRaw="Lease Administration" data-processTitleRaw="Leases " data-subfolder="" data-helpLink=""  data-helpSystem="END USER" data-dashboardLayout="" data-dashboardView="" title="" oncontextmenu="return false;">
                <h2 class="process-title" >Leases </h2>
                <div class="bucket-wrapper process-bucket" id="wrapper_abrplmleaseadministration_bucketRepm2Leases_h13" onMouseUp="openTask(this, event);">
                    <ol class="ptask-labels">
                        <li>Details</li>
                        <ol class="process-tasks">
                            <li><a href="ab-repm-addedit-lease-form.axvw" rel="eTask" data-taskId="Add/Edit Wizard" data-taskIcon="">Add/Edit Wizard</a></li>
                            <li><a href="ab-sp-hl-su-by-ls.axvw" rel="eTask" data-taskId="Suites by Lease Highlight" data-taskIcon="">Suites by Lease Highlight</a></li>
                            <li><a href="ab-sp-su-vacant.axvw" rel="eTask" data-taskId="Vacant Suites" data-taskIcon="">Vacant Suites</a></li>
                            <li><a href="ab-sp-su-expiring.axvw" rel="eTask" data-taskId="Suites for Expiring Leases" data-taskIcon="">Suites for Expiring Leases</a></li>
                        </ol>
                        <li>Expirations</li>
                        <ol class="process-tasks">
                            <li><a href="ab-rplm-lsadmin-leases-by-end-date-report.axvw" rel="eTask" data-taskId="Leases by Expiration Date" data-taskIcon="">Leases by Expiration Date</a></li>
                            <li><a href="ab-rplm-lsadmin-options-by-expiration-report.axvw" rel="eTask" data-taskId="Options by Expiration Date" data-taskIcon="">Options by Expiration Date</a></li>
                        </ol>
                    </ol>                    
                </div>
            </div>
            <div id="bucket_abrplmcosts_bucketRepm2CostAdmin_h14" class="bucket-process  " data-productId="AbRPLM" data-activityId="AbRPLMCosts" data-processId="Bucket REPM 2 - Cost Admin" data-productTitle="Real Estate Portfolio Management" data-activityTitle="Cost Administration" data-processTitle="Cost Administration " data-productTitleRaw="Real Estate Portfolio Management" data-activityTitleRaw="Cost Administration" data-processTitleRaw="Cost Administration " data-subfolder="" data-helpLink=""  data-helpSystem="END USER" data-dashboardLayout="" data-dashboardView="" title="" oncontextmenu="return false;">
                <h2 class="process-title" >Cost Administration </h2>
                <div class="bucket-wrapper process-bucket" id="wrapper_abrplmcosts_bucketRepm2CostAdmin_h14" onMouseUp="openTask(this, event);">
                    <ol class="ptask-labels">
                        <li>Oversight</li>
                        <ol class="process-tasks">
                            <li><a href="ab-rplm-cost-mgmt-costs-wiz-ls-bl-pr.axvw" rel="eTask" data-taskId="Cost Wizard" data-taskIcon="">Cost Wizard</a></li>
                            <li><a href="ab-repm-cost-mgmt-cam-cash-flow-rep.axvw" rel="eTask" data-taskId="CAM Cash Flow Report" data-taskIcon="">CAM Cash Flow Report</a></li>
                            <li><a href="ab-rplm-rcbl-inv-costs-wiz.axvw" rel="eTask" data-taskId="Invoice Cost Wizard" data-taskIcon="">Invoice Cost Wizard</a></li>
                            <li><a href="ab-rplm-rcbl-inv-aging.axvw" rel="eTask" data-taskId="Lease Invoice Aging" data-taskIcon="">Lease Invoice Aging</a></li>
                        </ol>
                        <li>Actions</li>
                        <ol class="process-tasks">
                            <li><a href="ab-ac-edit.axvw" rel="eTask" data-taskId="Define Accounts" data-taskIcon="">Define Accounts</a></li>
                            <li><a href="ab-repm-cost-def-idx.axvw" rel="eTask" data-taskId="Define Indexes" data-taskIcon="">Define Indexes</a></li>
                            <li><a href="ab-rplm-cost-mgmt-cost-cat-by-cost-class.axvw" rel="eTask" data-taskId="Define Cost Categories by Cost Class" data-taskIcon="">Define Cost Categories by Cost Class</a></li>
                        </ol>
                    </ol>                    
                </div>
            </div>
	    </div>
	    <div class="page-row three-quarter-height" >
            <div id="bucket_abprojcommissioning_bucketRepm2Commissioning_h15" class="bucket-process  " data-productId="AbProject" data-activityId="AbProjCommissioning" data-processId="Bucket REPM 2 - Commissioning" data-productTitle="Capital Project Management" data-activityTitle="Commissioning" data-processTitle="Commissioning " data-productTitleRaw="Capital Project Management" data-activityTitleRaw="Commissioning" data-processTitleRaw="Commissioning " data-subfolder="" data-helpLink=""  data-helpSystem="END USER" data-dashboardLayout="" data-dashboardView="" title="" oncontextmenu="return false;">
                <h2 class="process-title" >Commissioning </h2>
                <div class="bucket-wrapper process-bucket" id="wrapper_abprojcommissioning_bucketRepm2Commissioning_h15" onMouseUp="openTask(this, event);">
                    <ol class="ptask-labels">
                        <li>Oversight</li>
                        <ol class="process-tasks">
                            <li><a href="ab-project-request-edit-submit.axvw" rel="eTask" data-taskId="Manage Active Projects Pipeline" data-taskIcon="">Manage Active Projects Pipeline</a></li>
                            <li><a href="ab-comm-actions-with-docs-design-submissions.axvw" rel="eTask" data-taskId="Review Commissioning Documentation" data-taskIcon="">Review Commissioning Documentation</a></li>
                            <li><a href="ab-comm-eq-by-dp.axvw" rel="eTask" data-taskId="Asset Life Cycle Tracking" data-taskIcon="">Asset Life Cycle Tracking</a></li>
                        </ol>
                        <li>Process</li>
                        <ol class="process-tasks">
                            <li><a href="ab-project-edit.axvw" rel="eTask" data-taskId="Edit My Projects" data-taskIcon="">Edit My Projects</a></li>
                            <li><a href="ab-proj-assign-team.axvw" rel="eTask" data-taskId="Assign Commissioning Team" data-taskIcon="">Assign Commissioning Team</a></li>
                            <li><a href="ab-project-actions-est-base-sched-edit.axvw" rel="eTask" data-taskId="Develop Preliminary Commissioning Plan" data-taskIcon="">Develop Preliminary Commissioning Plan</a></li>
                            <li><a href="ab-comm-create-work-pkgs.axvw" rel="eTask" data-taskId="Manage Design Submissions and Requirements" data-taskIcon="">Manage Design Submissions and Requirements</a></li>
                            <li><a href="ab-comm-eq-details.axvw" rel="eTask" data-taskId="Commission Equipment" data-taskIcon="">Commission Equipment</a></li>
                        </ol>
                    </ol>                    
                </div>
            </div>
            <div id="bucket_abcapitalplanningca_bucketRepm2CondAssess_h16" class="bucket-process  " data-productId="AbBldgOps" data-activityId="AbCapitalPlanningCA" data-processId="Bucket REPM 2 - Cond Assess" data-productTitle="Building Operations" data-activityTitle="Condition Assessment" data-processTitle="Condition Assessment " data-productTitleRaw="Building Operations" data-activityTitleRaw="Condition Assessment" data-processTitleRaw="Condition Assessment " data-subfolder="" data-helpLink=""  data-helpSystem="END USER" data-dashboardLayout="" data-dashboardView="" title="" oncontextmenu="return false;">
                <h2 class="process-title" >Condition Assessment </h2>
                <div class="bucket-wrapper process-bucket" id="wrapper_abcapitalplanningca_bucketRepm2CondAssess_h16" onMouseUp="openTask(this, event);">
                    <ol class="ptask-labels">
                        <li></li>
                        <ol class="process-tasks">
                            <li><a href="ab-ca-scoreboard.axvw" rel="eTask" data-taskId="Condition Assessment Scoreboard" data-taskIcon="">Condition Assessment Scoreboard</a></li>
                            <li><a href="ab-ca-mng-ca-itms.axvw" rel="eTask" data-taskId="Manage Condition Assessment Items" data-taskIcon="">Manage Condition Assessment Items</a></li>
                            <li><a href="ab-ca-bl-ca-sum.axvw" rel="eTask" data-taskId="Building Conditions Summary" data-taskIcon="">Building Conditions Summary</a></li>
                            <li><a href="ab-ca-hl-bl-rm-w-safety.axvw" rel="eTask" data-taskId="Life Safety Assessment" data-taskIcon="">Life Safety Assessment</a></li>
                            <li><a href="ab-comm-project-close-out.axvw" rel="eTask" data-taskId="Commissioning Project Close-out" data-taskIcon="">Commissioning Project Close-out</a></li>
                        </ol>
                    </ol>                    
                </div>
            </div>
            <div id="bucket_607faa3f-49b5-42bc-8d01-32ad9995917e_bf9fea9f-d863-4b9b-a863-8daf616b8717_h17" class="bucket-process bucket-background-medium " data-productId="" data-activityId="" data-processId="" data-productTitle="" data-activityTitle="" data-processTitle="-" data-productTitleRaw="" data-activityTitleRaw="" data-processTitleRaw="-" data-subfolder="" data-helpLink=""  data-helpSystem="" data-dashboardLayout="" data-dashboardView="" title="" oncontextmenu="return false;">
                <h2 class="process-title" >-</h2>
                <div class="bucket-wrapper process-bucket" id="wrapper_a197dcf0-3e54-4d26-9350-5c97fed8e86d_76c1f714-abbd-4335-87f6-c5f2869ccde5_h17" onMouseUp="openTask(this, event);">
                    <ol class="ptask-labels">
                    </ol>                    
                </div>
            </div>
	    </div>
    </div>
</div>

<script>
    $(document).ready(function() {
        $('#navigationTabs').find('a').click(function() {return false;});
        initDandDFavorites();
        setPageDimensions();
        bindTaskContextMenu();
        localizeDisplayText();
        localizeFavoritesDisplayText();
        pageTallProcessBuckets();
        constructRuntimeBuckets();
    });
</script>