<div class="nav-pages">
    <div class="page">
	    <div class="page-row three-quarter-height" >
            <div id="bucket_utilityMetrics_h0" class="bucket-process  double-wide" data-panelTitle="Utility Metrics" data-panelTitleRaw="Utility Metrics" oncontextmenu="return false;">
                <h2 class="process-title" title="Performance metrics monitoring the processes under your department's purview.">Utility Metrics</h2>
                <div class="bucket-wrapper app-specific-bucket" id="wrapper_utilityMetrics_h0">
                    <div class="processMetrics"
                        columnSpan="2"
                        granularity="all"
                        useStoplightColors="true"
                        granularitytitle="All"
                        scorecard="ENERGY"
                    >
                    </div>
                </div>
            </div>
            <div id="bucket_alerts_h1" class="bucket-process  " data-panelTitle="Alerts" data-panelTitleRaw="Alerts" oncontextmenu="return false;">
                <h2 class="process-title" title="Time-sensitive tasks, reports and requests.">Alerts</h2>
                <div class="bucket-wrapper app-specific-bucket" id="wrapper_alerts_h1">
                    <div class="alertsList"
                        granularity="all"
                        granularitytitle="All"
                        scorecard="ENERGY_ALERTS"
                    >
                    </div>
                </div>
            </div>
            <div id="homeFavoritesBucket_h2" class="bucket-process  " data-panelTitle="Favorites" data-panelTitleRaw="Favorites" oncontextmenu="return false;">
                <h2 class="process-title" title="Drag and drop your favorite tasks into this panel.">Favorites</h2>
                <div class="bucket-wrapper favorites-bucket" id="wrapper_favorites_h2">
                    <div class="favorites-drop-target">
                        <span class="favorites-add-target"></span>
                        <span class="favorites-delete-target">&nbsp;</span>
                    </div>
                    <div class="favorites" onMouseUp="openTask(this,event);">
                        <ol class="favorites-items">
                        </ol>
                    </div>
                </div>
            </div>
	    </div>
	    <div class="page-row half-height" >
            <div id="bucket_energyUseIntensity_h3" class="bucket-process  " data-panelTitle="Energy Use Intensity" data-panelTitleRaw="Energy Use Intensity" oncontextmenu="return false;">
                <h2 class="process-title" title="12 month Energy Use Intensity (Site EUI) grouped by building use">Energy Use Intensity</h2>
                <div class="bucket-wrapper app-specific-bucket" id="wrapper_energyUseIntensity_h3">
                    <div class="horizontalBarChart"
                        dataSourceId="env_TopSiteEnergyUseIntensityByBuildingUse"
                        valueOnTop="largest"
                        viewName="ab-env-energy-top5-barchart-datasource.axvw"
                        abbreviateValues="true"
                        subtitle="Highest 5 by Building Use"
                        valueField="bill_archive.eui"
                        recordLimit="5"
                        labelField="bill_archive.use1"
                    >
                    </div>
                </div>
            </div>
            <div id="bucket_energyUseIntensity_h4" class="bucket-process  " data-panelTitle="Energy Use Intensity" data-panelTitleRaw="Energy Use Intensity" oncontextmenu="return false;">
                <h2 class="process-title" title="12 month building Energy Use Intensity (Site EUI)">Energy Use Intensity</h2>
                <div class="bucket-wrapper app-specific-bucket" id="wrapper_energyUseIntensity_h4">
                    <div class="horizontalBarChart"
                        dataSourceId="env_BottomSiteEnergyUseIntensityByBuilding"
                        valueOnTop="smallest"
                        viewName="ab-env-energy-top5-barchart-datasource.axvw"
                        abbreviateValues="true"
                        subtitle="Lowest 5 by Building"
                        valueField="bill_archive.eui"
                        recordLimit="5"
                        labelField="bill_archive.name"
                    >
                    </div>
                </div>
            </div>
            <div id="bucket_energyCostPerArea_h5" class="bucket-process  " data-panelTitle="Energy Cost per Area" data-panelTitleRaw="Energy Cost per Area" oncontextmenu="return false;">
                <h2 class="process-title" title="12 month per-area energy cost by building">Energy Cost per Area</h2>
                <div class="bucket-wrapper app-specific-bucket" id="wrapper_energyCostPerArea_h5">
                    <div class="horizontalBarChart"
                        dataSourceId="env_TopEnergyCostPerAreaByBuilding"
                        valueOnTop="largest"
                        viewName="ab-env-energy-top5-barchart-datasource.axvw"
                        abbreviateValues="true"
                        subtitle="Highest 5 Buildings"
                        valueField="bill_archive.costPerArea"
                        recordLimit="5"
                        labelField="bill_archive.name"
                    >
                    </div>
                </div>
            </div>
            <div id="bucket_electricCostPerKwh_h6" class="bucket-process  " data-panelTitle="Electric Cost per kWh" data-panelTitleRaw="Electric Cost per kWh" oncontextmenu="return false;">
                <h2 class="process-title" title="12 month electric cost by building, including taxes and delivery charges">Electric Cost per kWh</h2>
                <div class="bucket-wrapper app-specific-bucket" id="wrapper_electricCostPerKwh_h6">
                    <div class="horizontalBarChart"
                        dataSourceId="env_TopElectricCostPerKwhByBuilding"
                        valueOnTop="largest"
                        viewName="ab-env-energy-top5-barchart-datasource.axvw"
                        abbreviateValues="true"
                        subtitle="Highest 5 Buildings"
                        valueField="bill_archive.costPerKwh"
                        recordLimit="5"
                        labelField="bill_archive.bl_id"
                    >
                    </div>
                </div>
            </div>
	    </div>
        <div class="page-break-banner ui-widget-header bucket-background-medium-green" data-blockTitle="IN DEPTH" data-blockTitleRaw="IN DEPTH">
            <div class="page-break-archibus">
                <div class="page-break-logo"></div><span>IN DEPTH</span>
            </div>
            <a class="page-top-link" onClick="goToTop();"></a>
        </div>
        <br/>
	    <div class="page-row three-quarter-height" >
            <div id="bucket_abriskenergymanagement_bucketEnergy2UtilityMetric_h7" class="bucket-process bucket-background-light-green " data-productId="AbRisk" data-activityId="AbRiskEnergyManagement" data-processId="Bucket Energy 2 - Utility Metric" data-productTitle="Environmental & Risk Management" data-activityTitle="Energy Management" data-processTitle="Utility Metrics" data-productTitleRaw="Environmental & Risk Management" data-activityTitleRaw="Energy Management" data-processTitleRaw="Utility Metrics" data-subfolder="" data-helpLink=""  data-helpSystem="END USER" data-dashboardLayout="" data-dashboardView="" title="" oncontextmenu="return false;">
                <h2 class="process-title" >Utility Metrics</h2>
                <div class="bucket-wrapper process-bucket" id="wrapper_abriskenergymanagement_bucketEnergy2UtilityMetric_h7" onMouseUp="openTask(this, event);">
                    <ol class="ptask-labels">
                        <li></li>
                        <ol class="process-tasks">
                            <li><a href="ab-energy-console.axvw" rel="eTask" data-taskId="Utility Analysis Console" data-taskIcon="ab-icon-task.gif">Utility Analysis Console</a></li>
                        </ol>
                        <li>Reports</li>
                        <ol class="process-tasks">
                            <li><a href="ab-energy-cost-usage.axvw" rel="eTask" data-taskId="Cost and Usage Charts" data-taskIcon="ab-icon-task.gif">Cost and Usage Charts</a></li>
                            <li><a href="ab-energy-thematic-map-masterview.axvw" rel="eTask" data-taskId="Thematic Energy Map" data-taskIcon="ab-icon-task.gif">Thematic Energy Map</a></li>
                            <li><a href="ab-energy-utility-metrics.axvw" rel="eTask" data-taskId="Utility Bill Metrics" data-taskIcon="ab-icon-task.gif">Utility Bill Metrics</a></li>
                            <li><a href="ab-energy-year-to-date-summary.axvw" rel="eTask" data-taskId="Year-to-Date Summary" data-taskIcon="ab-icon-task.gif">Year-to-Date Summary</a></li>
                            <li><a href="ab-energy-annual-summary.axvw" rel="eTask" data-taskId="Annual Summary" data-taskIcon="ab-icon-task.gif">Annual Summary</a></li>
                            <li><a href="ab-energy-cash-flow-rep.axvw" rel="eTask" data-taskId="Cash Flow Report" data-taskIcon="ab-icon-task.gif">Cash Flow Report</a></li>
                            <li><a href="ab-energy-cost-by-year.axvw" rel="eTask" data-taskId="Year-to-Year Cost Comparison" data-taskIcon="ab-icon-task.gif">Year-to-Year Cost Comparison</a></li>
                            <li><a href="ab-energy-consumption-compare-billed.axvw" rel="eTask" data-taskId="Compare Billed Usage: Current vs Previous" data-taskIcon="ab-icon-task.gif">Compare Billed Usage: Current vs Previous</a></li>
                            <li><a href="ab-energy-cost-locations.axvw" rel="eTask" data-taskId="Cost per Area for Multiple Locations" data-taskIcon="ab-icon-task.gif">Cost per Area for Multiple Locations</a></li>
                            <li><a href="ab-energy-consumption-by-person.axvw" rel="eTask" data-taskId="Consumption per Person" data-taskIcon="ab-icon-task.gif">Consumption per Person</a></li>
                            <li><a href="ab-energy-scenarios.axvw" rel="eTask" data-taskId="What-if Scenarios" data-taskIcon="ab-icon-task.gif">What-if Scenarios</a></li>
                        </ol>
                    </ol>                    
                </div>
            </div>
            <div id="bucket_abriskenergymanagement_bucketEnergy3WeatherModel_h8" class="bucket-process bucket-background-light-green " data-productId="AbRisk" data-activityId="AbRiskEnergyManagement" data-processId="Bucket Energy 3 - Weather Model" data-productTitle="Environmental & Risk Management" data-activityTitle="Energy Management" data-processTitle="Weather Model Analysis" data-productTitleRaw="Environmental & Risk Management" data-activityTitleRaw="Energy Management" data-processTitleRaw="Weather Model Analysis" data-subfolder="" data-helpLink=""  data-helpSystem="END USER" data-dashboardLayout="" data-dashboardView="" title="" oncontextmenu="return false;">
                <h2 class="process-title" >Weather Model Analysis</h2>
                <div class="bucket-wrapper process-bucket" id="wrapper_abriskenergymanagement_bucketEnergy3WeatherModel_h8" onMouseUp="openTask(this, event);">
                    <ol class="ptask-labels">
                        <li>Reports</li>
                        <ol class="process-tasks">
                            <li><a href="ab-energy-usage-weather.axvw" rel="eTask" data-taskId="Usage with Weather Model" data-taskIcon="ab-icon-task.gif">Usage with Weather Model</a></li>
                        </ol>
                        <li>Data Management</li>
                        <ol class="process-tasks">
                            <li><a href="ab-energy-define-weather-stations.axvw" rel="eTask" data-taskId="Assign Weather Stations" data-taskIcon="ab-icon-task.gif">Assign Weather Stations</a></li>
                            <li><a href="ab-energy-jobs.axvw" rel="eTask" data-taskId="Update Calculations" data-taskIcon="ab-icon-task.gif">Update Calculations</a></li>
                        </ol>
                    </ol>                    
                </div>
            </div>
            <div id="bucket_abriskenergymanagement_bucketEnergy4MeterAnalytic_h9" class="bucket-process bucket-background-light-green " data-productId="AbRisk" data-activityId="AbRiskEnergyManagement" data-processId="Bucket Energy 4 - Meter Analytic" data-productTitle="Environmental & Risk Management" data-activityTitle="Energy Management" data-processTitle="Meter Analytics" data-productTitleRaw="Environmental & Risk Management" data-activityTitleRaw="Energy Management" data-processTitleRaw="Meter Analytics" data-subfolder="" data-helpLink=""  data-helpSystem="END USER" data-dashboardLayout="" data-dashboardView="" title="" oncontextmenu="return false;">
                <h2 class="process-title" >Meter Analytics</h2>
                <div class="bucket-wrapper process-bucket" id="wrapper_abriskenergymanagement_bucketEnergy4MeterAnalytic_h9" onMouseUp="openTask(this, event);">
                    <ol class="ptask-labels">
                        <li>Reports</li>
                        <ol class="process-tasks">
                            <li><a href="ab-energy-bas-time.axvw" rel="eTask" data-taskId="Meter Analytics Over Time" data-taskIcon="ab-icon-task.gif">Meter Analytics Over Time</a></li>
                            <li><a href="ab-energy-bas-loc.axvw" rel="eTask" data-taskId="Meter Analytics by Location" data-taskIcon="ab-icon-task.gif">Meter Analytics by Location</a></li>
                        </ol>
                        <li>Data Management</li>
                        <ol class="process-tasks">
                            <li><a href="ab-energy-bas-edit.axvw" rel="eTask" data-taskId="Process Meter Readings" data-taskIcon="ab-icon-task.gif">Process Meter Readings</a></li>
                        </ol>
                        <li>Background Data</li>
                        <ol class="process-tasks">
                            <li><a href="ab-energy-bas-def-meters.axvw" rel="eTask" data-taskId="Define Meters" data-taskIcon="ab-icon-task.gif">Define Meters</a></li>
                            <li><a href="ab-energy-def-utility-rates.axvw" rel="eTask" data-taskId="Define Utility Rates" data-taskIcon="ab-icon-task.gif">Define Utility Rates</a></li>
                            <li><a href="ab-energy-bill-prorate.axvw" rel="eTask" data-taskId="Prorate Utility Bills" data-taskIcon="ab-icon-task.gif">Prorate Utility Bills</a></li>
                        </ol>
                    </ol>                    
                </div>
            </div>
            <div id="bucket_abriskenergymanagement_bucketEnergy1BillProcess_h10" class="bucket-process bucket-background-medium-green " data-productId="AbRisk" data-activityId="AbRiskEnergyManagement" data-processId="Bucket Energy 1 - Bill Process" data-productTitle="Environmental & Risk Management" data-activityTitle="Energy Management" data-processTitle="Utility Bill Processing" data-productTitleRaw="Environmental & Risk Management" data-activityTitleRaw="Energy Management" data-processTitleRaw="Utility Bill Processing" data-subfolder="" data-helpLink="\Subsystems\webc\Content\energy\accounting\overview.htm"  data-helpSystem="END USER" data-dashboardLayout="" data-dashboardView="" title="" oncontextmenu="return false;">
                <h2 class="process-title" >Utility Bill Processing</h2>
                <div class="bucket-wrapper process-bucket" id="wrapper_abriskenergymanagement_bucketEnergy1BillProcess_h10" onMouseUp="openTask(this, event);">
                    <ol class="ptask-labels">
                        <li>Reports</li>
                        <ol class="process-tasks">
                            <li><a href="ab-energy-bill-and-line-view.axvw" rel="eTask" data-taskId="View Bills and Line Items" data-taskIcon="ab-icon-task.gif">View Bills and Line Items</a></li>
                            <li><a href="ab-energy-archived-bill-and-line-view.axvw" rel="eTask" data-taskId="View Archived Bills and Line Items" data-taskIcon="ab-icon-task.gif">View Archived Bills and Line Items</a></li>
                            <li><a href="ab-energy-prorated-aggregated-bills.axvw" rel="eTask" data-taskId="View Prorated/Aggregated Bills" data-taskIcon="ab-icon-task.gif">View Prorated/Aggregated Bills</a></li>
                            <li><a href="ab-energy-calendar.axvw" rel="eTask" data-taskId="View Bill Calendar" data-taskIcon="ab-icon-task.gif">View Bill Calendar</a></li>
                        </ol>
                        <li>Data Management</li>
                        <ol class="process-tasks">
                            <li><a href="ab-energy-vn-ac-bill-line-def.axvw" rel="eTask" data-taskId="Enter Bills" data-taskIcon="ab-icon-task.gif">Enter Bills</a></li>
                            <li><a href="ab-energy-enter-bills-groups-bl.axvw" rel="eTask" data-taskId="Enter Bills for Group of Buildings" data-taskIcon="ab-icon-task.gif">Enter Bills for Group of Buildings</a></li>
                            <li><a href="ab-energy-load-bills.axvw" rel="eTask" data-taskId="Load Bills" data-taskIcon="ab-icon-task.gif">Load Bills</a></li>
                            <li><a href="ab-energy-bill-audit-approve-tabs.axvw" rel="eTask" data-taskId="Review and Approve Bills" data-taskIcon="ab-icon-task.gif">Review and Approve Bills</a></li>
                            <li><a href="ab-energy-bill-processing-exceptions.axvw" rel="eTask" data-taskId="Bill Processing Exceptions" data-taskIcon="ab-icon-task.gif">Bill Processing Exceptions</a></li>
                        </ol>
                        <li>Background Data</li>
                        <ol class="process-tasks">
                            <li><a href="ab-vn-edit.axvw" rel="eTask" data-taskId="Define Vendors" data-taskIcon="ab-icon-task.gif">Define Vendors</a></li>
                            <li><a href="ab-energy-vn-ac-edit.axvw" rel="eTask" data-taskId="Define Vendor Accounts" data-taskIcon="ab-icon-task.gif">Define Vendor Accounts</a></li>
                            <li><a href="ab-energy-def-utility-rates.axvw" rel="eTask" data-taskId="Define Utility Rates" data-taskIcon="ab-icon-task.gif">Define Utility Rates</a></li>
                        </ol>
                    </ol>                    
                </div>
            </div>
	    </div>
    </div>
</div>

<script>
    $(document).ready(function() {
        $('#navigationTabs').find('a').click(function() {return false;});
        initDandDFavorites();
        setPageDimensions();
        bindTaskContextMenu();
        localizeDisplayText();
        localizeFavoritesDisplayText();
        pageTallProcessBuckets();
        constructRuntimeBuckets();
    });
</script>