<div class="nav-pages" id="ComplianceManagement">
    <div class="page">
        <div class="page-row full-height" >
            <h3 class="application-title" data-activityId="AbRiskCompliance">Compliance Management</h3>
            <hr class="application-horizontal-rule">
            <div id="appProcFavoritesBucket" class="bucket-application bucket-background-light " data-activityId="" data-processId="" oncontextmenu="return false;">
                <h2 class="applications-process-title" data-processId="" title="Most often used tasks and reports.">My Favorites</h2>
                <div class="bucket-wrapper" id="wrapper_272aa3b9-18e5-4795-aa2f-21581c79fa7b">
                    <div class="favorites-drop-target">
                        <span class="favorites-add-target"></span>
                        <span class="favorites-delete-target">&nbsp;</span>
                    </div>
                    <div class="favorites" onMouseUp="openPtask(this,event);">
                        <ol class="favorites-items">
                        </ol>
                    </div>
                </div>
            </div>
            <div class="bucket-application " data-productId="AbRisk" data-activityId="AbRiskCompliance" data-processId="BPO - Facilities" data-productTitle="Environmental & Risk Management" data-activityTitle="Compliance Management" data-processTitle="Business Process Owner - Facilities" data-subfolder="\ab-products\risk\compliance" data-helpLink="\Subsystems\webc\Content\compliance\background\bpo_facility.htm" data-helpSystem="END USER" data-dashboardLayout="" data-dashboardView="" title="" oncontextmenu="return false;" onMouseUp="openPtask(this,event);">
                <h2 class="applications-process-title" title="">
                    <span class="process-title-text">Business Process Owner - Facilities</span>
                </h2>
                <div class="bucket-wrapper" id="wrapper_abriskcompliance_bpoFacilities">
                        <ol class="ptask-labels">
                            <li></li>
                            <ol class="process-tasks">
                                <li><a href="ab-def-geo-loc.axvw" rel="pTask" data-taskId="Define Geographic Locations" data-taskIcon="ab-icon-task.gif">Define Geographic Locations</a></li>
                                <li><a href="ab-repm-counties-define.axvw" rel="pTask" data-taskId="Define Counties" data-taskIcon="ab-icon-task.gif">Define Counties</a></li>
                                <li><a href="ab-comp-def-property.axvw" rel="pTask" data-taskId="Define Properties" data-taskIcon="ab-icon-task.gif">Define Properties</a></li>
                            </ol>
                            <li class="empty-taskgroup-title">&nbsp;</li>
                            <ol class="process-tasks">
                                <li><a href="ab-sp-def-rmstd.axvw" rel="pTask" data-taskId="Define Room Standards" data-taskIcon="ab-icon-task.gif">Define Room Standards</a></li>
                                <li><a href="ab-sp-def-rmcat-rmtype.axvw" rel="pTask" data-taskId="Define Room Categories and Types" data-taskIcon="ab-icon-task.gif">Define Room Categories and Types</a></li>
                                <li><a href="ab-sp-def-org.axvw" rel="pTask" data-taskId="Define Organizations" data-taskIcon="ab-icon-task.gif">Define Organizations</a></li>
                            </ol>
                            <li class="empty-taskgroup-title">&nbsp;</li>
                            <ol class="process-tasks">
                                <li><a href="ab-sp-def-loc-rm.axvw" rel="pTask" data-taskId="Define Locations" data-taskIcon="ab-icon-task.gif">Define Locations</a></li>
                            </ol>
                            <li class="empty-taskgroup-title">&nbsp;</li>
                            <ol class="process-tasks">
                                <li><a href="ab-ca-def-class.axvw" rel="pTask" data-taskId="Define Construction Classification" data-taskIcon="ab-icon-task.gif">Define Construction Classification</a></li>
                                <li><a href="ab-eqstd-edit.axvw" rel="pTask" data-taskId="Define Equipment Standards" data-taskIcon="ab-icon-task.gif">Define Equipment Standards</a></li>
                            </ol>
                            <li class="empty-taskgroup-title">&nbsp;</li>
                            <ol class="process-tasks">
                                <li><a href="ab-eq-edit.axvw" rel="pTask" data-taskId="Define Equipment" data-taskIcon="ab-icon-task.gif">Define Equipment</a></li>
                            </ol>
                        </ol>
                </div>
            </div>
            <div class="bucket-application " data-productId="AbRisk" data-activityId="AbRiskCompliance" data-processId="BPO - Compliance" data-productTitle="Environmental & Risk Management" data-activityTitle="Compliance Management" data-processTitle="Business Process Owner - Compliance" data-subfolder="\ab-products\risk\compliance" data-helpLink="\Subsystems\webc\Content\compliance\background\bpo_compliance.htm" data-helpSystem="END USER" data-dashboardLayout="" data-dashboardView="" title="" oncontextmenu="return false;" onMouseUp="openPtask(this,event);">
                <h2 class="applications-process-title" title="">
                    <span class="process-title-text">Business Process Owner - Compliance</span>
                </h2>
                <div class="bucket-wrapper" id="wrapper_abriskcompliance_bpoCompliance">
                        <ol class="ptask-labels">
                            <li></li>
                            <ol class="process-tasks">
                                <li><a href="ab-comp-def-complevel.axvw" rel="pTask" data-taskId="Define Compliance Levels" data-taskIcon="ab-icon-task.gif">Define Compliance Levels</a></li>
                            </ol>
                            <li class="empty-taskgroup-title">&nbsp;</li>
                            <ol class="process-tasks">
                                <li><a href="ab-comp-def-regtypecat.axvw" rel="pTask" data-taskId="Define Regulation Categories and Types" data-taskIcon="ab-icon-task.gif">Define Regulation Categories and Types</a></li>
                                <li><a href="ab-comp-def-cont.axvw" rel="pTask" data-taskId="Define Regulation Contacts" data-taskIcon="ab-icon-task.gif">Define Regulation Contacts</a></li>
                                <li><a href="ab-comp-def-progtypecat.axvw" rel="pTask" data-taskId="Define Program Categories and Types" data-taskIcon="ab-icon-task.gif">Define Program Categories and Types</a></li>
                                <li><a href="ab-comp-def-reqcat.axvw" rel="pTask" data-taskId="Define Requirement Categories" data-taskIcon="ab-icon-task.gif">Define Requirement Categories</a></li>
                            </ol>
                            <li class="empty-taskgroup-title">&nbsp;</li>
                            <ol class="process-tasks">
                                <li><a href="ab-comp-def-notifycat.axvw" rel="pTask" data-taskId="Define Notification Categories" data-taskIcon="ab-icon-task.gif">Define Notification Categories</a></li>
                                <li><a href="ab-comp-def-notify-msgs.axvw" rel="pTask" data-taskId="Define Notification Messages" data-taskIcon="ab-icon-task.gif">Define Notification Messages</a></li>
                                <li><a href="ab-comp-def-notify-template.axvw" rel="pTask" data-taskId="Define Notification Templates" data-taskIcon="ab-icon-task.gif">Define Notification Templates</a></li>
                            </ol>
                            <li class="empty-taskgroup-title">&nbsp;</li>
                            <ol class="process-tasks">
                                <li><a href="ab-doc-def-folder.axvw" rel="pTask" data-taskId="Define Document Library Folders" data-taskIcon="ab-icon-task.gif">Define Document Library Folders</a></li>
                                <li><a href="ab-doc-def-cat-type.axvw" rel="pTask" data-taskId="Define Document Categories and Types" data-taskIcon="ab-icon-task.gif">Define Document Categories and Types</a></li>
                            </ol>
                            <li class="empty-taskgroup-title">&nbsp;</li>
                            <ol class="process-tasks">
                                <li><a href="ab-comp-def-violationtyp.axvw" rel="pTask" data-taskId="Define Violation Types" data-taskIcon="ab-icon-task.gif">Define Violation Types</a></li>
                            </ol>
                            <li class="empty-taskgroup-title">&nbsp;</li>
                            <ol class="process-tasks">
                                <li><a href="ab-comp-def-units.axvw" rel="pTask" data-taskId="Define Measurement Units" data-taskIcon="ab-icon-task.gif">Define Measurement Units</a></li>
                                <li><a href="ab-comp-def-act-types.axvw" rel="pTask" data-taskId="Define Activity Types" data-taskIcon="ab-icon-task.gif">Define Activity Types</a></li>
                            </ol>
                        </ol>
                </div>
            </div>
            <div class="bucket-application " data-productId="AbRisk" data-activityId="AbRiskCompliance" data-processId="Business Process Owner Reports" data-productTitle="Environmental & Risk Management" data-activityTitle="Compliance Management" data-processTitle="Business Process Owner Reports" data-subfolder="\ab-products\risk\compliance" data-helpLink="\Subsystems\webc\Content\compliance\background\bpo_compliance.htm" data-helpSystem="END USER" data-dashboardLayout="" data-dashboardView="" title="" oncontextmenu="return false;" onMouseUp="openPtask(this,event);">
                <h2 class="applications-process-title" title="">
                    <span class="process-title-text">Business Process Owner Reports</span>
                </h2>
                <div class="bucket-wrapper" id="wrapper_abriskcompliance_businessProcessOwnerReports">
                        <ol class="ptask-labels">
                            <li></li>
                            <ol class="process-tasks">
                                <li><a href="ab-comp-rpt-regtypecat.axvw" rel="pTask" data-taskId="Regulation Categories and Types" data-taskIcon="ab-icon-task.gif">Regulation Categories and Types</a></li>
                                <li><a href="ab-comp-rpt-cont.axvw" rel="pTask" data-taskId="Regulation Contacts" data-taskIcon="ab-icon-task.gif">Regulation Contacts</a></li>
                            </ol>
                            <li class="empty-taskgroup-title">&nbsp;</li>
                            <ol class="process-tasks">
                                <li><a href="ab-comp-rpt-progtypecat.axvw" rel="pTask" data-taskId="Program Categories and Types" data-taskIcon="ab-icon-task.gif">Program Categories and Types</a></li>
                                <li><a href="ab-comp-rpt-reqcat.axvw" rel="pTask" data-taskId="Requirement Categories" data-taskIcon="ab-icon-task.gif">Requirement Categories</a></li>
                            </ol>
                            <li class="empty-taskgroup-title">&nbsp;</li>
                            <ol class="process-tasks">
                                <li><a href="ab-doc-rpt-folder.axvw" rel="pTask" data-taskId="Document Library Folders" data-taskIcon="ab-icon-task.gif">Document Library Folders</a></li>
                                <li><a href="ab-doc-rpt-cat-type.axvw" rel="pTask" data-taskId="Document Categories and Types" data-taskIcon="ab-icon-task.gif">Document Categories and Types</a></li>
                            </ol>
                            <li class="empty-taskgroup-title">&nbsp;</li>
                            <ol class="process-tasks">
                                <li><a href="ab-comp-rpt-complevel.axvw" rel="pTask" data-taskId="Compliance Levels" data-taskIcon="ab-icon-task.gif">Compliance Levels</a></li>
                                <li><a href="ab-comp-rpt-violationtyp.axvw" rel="pTask" data-taskId="Violation Types" data-taskIcon="ab-icon-task.gif">Violation Types</a></li>
                            </ol>
                            <li class="empty-taskgroup-title">&nbsp;</li>
                            <ol class="process-tasks">
                                <li><a href="ab-comp-rpt-notifycat.axvw" rel="pTask" data-taskId="Notification Categories" data-taskIcon="ab-icon-task.gif">Notification Categories</a></li>
                                <li><a href="ab-comp-rpt-notify-template-bpo.axvw" rel="pTask" data-taskId="Notification Templates" data-taskIcon="ab-icon-task.gif">Notification Templates</a></li>
                            </ol>
                        </ol>
                </div>
            </div>
            <div class="bucket-application " data-productId="AbRisk" data-activityId="AbRiskCompliance" data-processId="Compliance Project Manager" data-productTitle="Environmental & Risk Management" data-activityTitle="Compliance Management" data-processTitle="Compliance Project Manager" data-subfolder="\ab-products\risk\compliance" data-helpLink="\Subsystems\webc\Content\compliance\proj_mgr\overview.htm" data-helpSystem="END USER" data-dashboardLayout="" data-dashboardView="" title="" oncontextmenu="return false;" onMouseUp="openPtask(this,event);">
                <h2 class="applications-process-title" title="">
                    <span class="process-title-text">Compliance Project Manager</span>
                </h2>
                <div class="bucket-wrapper" id="wrapper_abriskcompliance_complianceProjectManager">
                        <ol class="ptask-labels">
                            <li></li>
                            <ol class="process-tasks">
                                <li><a href="ab-ca-def-cont.axvw" rel="pTask" data-taskId="Define Contacts" data-taskIcon="ab-icon-task.gif">Define Contacts</a></li>
                                <li><a href="ab-common-def-em.axvw" rel="pTask" data-taskId="Define Employees" data-taskIcon="ab-icon-task.gif">Define Employees</a></li>
                                <li><a href="ab-vn-edit.axvw" rel="pTask" data-taskId="Define Vendors" data-taskIcon="ab-icon-task.gif">Define Vendors</a></li>
                                <li><a href="ab-rplm-companies-define.axvw" rel="pTask" data-taskId="Define Companies" data-taskIcon="ab-icon-task.gif">Define Companies</a></li>
                                <li><a href="ab-def-comm-types.axvw" rel="pTask" data-taskId="Define Communication Types" data-taskIcon="ab-icon-task.gif">Define Communication Types</a></li>
                            </ol>
                            <li class="empty-taskgroup-title">&nbsp;</li>
                            <ol class="process-tasks">
                                <li><a href="ab-comp-def-prj.axvw" rel="pTask" data-taskId="Define Projects" data-taskIcon="ab-icon-task.gif">Define Projects</a></li>
                            </ol>
                        </ol>
                </div>
            </div>
        </div>
        <div class="page-row full-height" >
            <h3 class="application-title" data-activityId="AbRiskCompliance">Compliance Management</h3>
            <hr class="application-horizontal-rule">
            <div class="bucket-application " data-productId="AbRisk" data-activityId="AbRiskCompliance" data-processId="Compliance  Program Manager" data-productTitle="Environmental & Risk Management" data-activityTitle="Compliance Management" data-processTitle="Compliance  Program Manager" data-subfolder="\ab-products\risk\compliance" data-helpLink="\Subsystems\webc\Content\compliance\program_mgr\overview.htm" data-helpSystem="END USER" data-dashboardLayout="" data-dashboardView="" title="" oncontextmenu="return false;" onMouseUp="openPtask(this,event);">
                <h2 class="applications-process-title" title="">
                    <span class="process-title-text">Compliance  Program Manager</span>
                </h2>
                <div class="bucket-wrapper" id="wrapper_abriskcompliance_complianceProgramManager">
                        <ol class="ptask-labels">
                            <li>Compliance Program Management</li>
                            <ol class="process-tasks">
                                <li><a href="ab-comp-drilldown.axvw" rel="pTask" data-taskId="Manage Compliance Drill-down" data-taskIcon="ab-icon-task.gif">Manage Compliance Drill-down</a></li>
                                <li><a href="ab-comp-regulation.axvw" rel="pTask" data-taskId="Manage Regulations and Initiatives" data-taskIcon="ab-icon-task.gif">Manage Regulations and Initiatives</a></li>
                                <li><a href="ab-comp-program.axvw" rel="pTask" data-taskId="Manage Compliance Programs" data-taskIcon="ab-icon-task.gif">Manage Compliance Programs</a></li>
                                <li><a href="ab-comp-requirement.axvw" rel="pTask" data-taskId="Manage Compliance Requirements" data-taskIcon="ab-icon-task.gif">Manage Compliance Requirements</a></li>
                                <li><a href="ab-comp-location.axvw" rel="pTask" data-taskId="Manage Compliance Locations" data-taskIcon="ab-icon-task.gif">Manage Compliance Locations</a></li>
                            </ol>
                            <li>Compliance Event Management</li>
                            <ol class="process-tasks">
                                <li><a href="ab-comp-event-calendar.axvw" rel="pTask" data-taskId="Show Compliance Events Calendar" data-taskIcon="ab-icon-task.gif">Show Compliance Events Calendar</a></li>
                                <li><a href="ab-comp-event-onetime.axvw" rel="pTask" data-taskId="Manage Non-Recurring Events" data-taskIcon="ab-icon-task.gif">Manage Non-Recurring Events</a></li>
                                <li><a href="ab-comp-event-sched.axvw" rel="pTask" data-taskId="Schedule Compliance Events" data-taskIcon="ab-icon-task.gif">Schedule Compliance Events</a></li>
                                <li><a href="ab-comp-event-status.axvw" rel="pTask" data-taskId="Update Status and Close Events" data-taskIcon="ab-icon-task.gif">Update Status and Close Events</a></li>
                                <li><a href="ab-comp-event-missed.axvw" rel="pTask" data-taskId="Manage Missed & Overdue Events" data-taskIcon="ab-icon-task.gif">Manage Missed & Overdue Events</a></li>
                                <li><a href="ab-comp-event-all.axvw" rel="pTask" data-taskId="Manage All Compliance Events" data-taskIcon="ab-icon-task.gif">Manage All Compliance Events</a></li>
                            </ol>
                            <li class="empty-taskgroup-title">&nbsp;</li>
                            <ol class="process-tasks">
                                <li><a href="ab-comp-unscheduled.axvw" rel="pTask" data-taskId="View Unscheduled Compliance Items" data-taskIcon="ab-icon-task.gif">View Unscheduled Compliance Items</a></li>
                            </ol>
                            <li class="empty-taskgroup-title">&nbsp;</li>
                            <ol class="process-tasks">
                                <li><a href="ab-comp-library.axvw" rel="pTask" data-taskId="Manage Document Library" data-taskIcon="ab-icon-task.gif">Manage Document Library</a></li>
                            </ol>
                            <li class="empty-taskgroup-title">&nbsp;</li>
                            <ol class="process-tasks">
                                <li><a href="ab-comp-notify-template.axvw" rel="pTask" data-taskId="Manage Notification Templates" data-taskIcon="ab-icon-task.gif">Manage Notification Templates</a></li>
                                <li><a href="ab-comp-notifications.axvw" rel="pTask" data-taskId="Manage Compliance Event Notifications" data-taskIcon="ab-icon-task.gif">Manage Compliance Event Notifications</a></li>
                            </ol>
                            <li class="empty-taskgroup-title">&nbsp;</li>
                            <ol class="process-tasks">
                                <li><a href="ab-comp-violation.axvw" rel="pTask" data-taskId="Manage Compliance Violations" data-taskIcon="ab-icon-task.gif">Manage Compliance Violations</a></li>
                            </ol>
                            <li class="empty-taskgroup-title">&nbsp;</li>
                            <ol class="process-tasks">
                                <li><a href="ab-comp-req-quest.axvw" rel="pTask" data-taskId="Define Compliance Questionnaires" data-taskIcon="ab-icon-task.gif">Define Compliance Questionnaires</a></li>
                            </ol>
                        </ol>
                </div>
            </div>
            <div class="bucket-application " data-productId="AbRisk" data-activityId="AbRiskCompliance" data-processId="Compliance Program Coordinator" data-productTitle="Environmental & Risk Management" data-activityTitle="Compliance Management" data-processTitle="Compliance Program Coordinator" data-subfolder="\ab-products\risk\compliance" data-helpLink="\Subsystems\webc\Content\compliance\program_coord\overview.htm" data-helpSystem="END USER" data-dashboardLayout="" data-dashboardView="" title="" oncontextmenu="return false;" onMouseUp="openPtask(this,event);">
                <h2 class="applications-process-title" title="">
                    <span class="process-title-text">Compliance Program Coordinator</span>
                </h2>
                <div class="bucket-wrapper" id="wrapper_abriskcompliance_complianceProgramCoordinator">
                        <ol class="ptask-labels">
                            <li></li>
                            <ol class="process-tasks">
                                <li><a href="ab-comp-my-requirement.axvw" rel="pTask" data-taskId="Manage My Compliance Requirements" data-taskIcon="ab-icon-task.gif">Manage My Compliance Requirements</a></li>
                                <li><a href="ab-comp-my-permit.axvw" rel="pTask" data-taskId="Manage My Permits and Licenses" data-taskIcon="ab-icon-task.gif">Manage My Permits and Licenses</a></li>
                            </ol>
                            <li class="empty-taskgroup-title">&nbsp;</li>
                            <ol class="process-tasks">
                                <li><a href="ab-comp-my-event-calendar.axvw" rel="pTask" data-taskId="View My Events Calendar" data-taskIcon="ab-icon-task.gif">View My Events Calendar</a></li>
                                <li><a href="ab-comp-my-event-missed.axvw" rel="pTask" data-taskId="Manage My Missed & Overdue Events" data-taskIcon="ab-icon-task.gif">Manage My Missed & Overdue Events</a></li>
                                <li><a href="ab-comp-my-event-status.axvw" rel="pTask" data-taskId="Update Status and Close My Events" data-taskIcon="ab-icon-task.gif">Update Status and Close My Events</a></li>
                            </ol>
                            <li class="empty-taskgroup-title">&nbsp;</li>
                            <ol class="process-tasks">
                                <li><a href="ab-comp-rpt-library.axvw" rel="pTask" data-taskId="View Document Library" data-taskIcon="ab-icon-task.gif">View Document Library</a></li>
                            </ol>
                        </ol>
                </div>
            </div>
            <div class="bucket-application " data-productId="AbRisk" data-activityId="AbRiskCompliance" data-processId="Contract Manager" data-productTitle="Environmental & Risk Management" data-activityTitle="Compliance Management" data-processTitle="Contract Manager" data-subfolder="\ab-products\risk\compliance" data-helpLink="" data-helpSystem="END USER" data-dashboardLayout="" data-dashboardView="" title="" oncontextmenu="return false;" onMouseUp="openPtask(this,event);">
                <h2 class="applications-process-title" title="">
                    <span class="process-title-text">Contract Manager</span>
                </h2>
                <div class="bucket-wrapper" id="wrapper_abriskcompliance_contractManager">
                        <ol class="ptask-labels">
                            <li>Contract Management</li>
                            <ol class="process-tasks">
                                <li><a href="ab-comp-contract-drilldown.axvw" rel="pTask" data-taskId="Manage Contracts Drill-down" data-taskIcon="ab-icon-task.gif">Manage Contracts Drill-down</a></li>
                                <li><a href="ab-comp-contract-program.axvw" rel="pTask" data-taskId="Manage Contracts" data-taskIcon="ab-icon-task.gif">Manage Contracts</a></li>
                                <li><a href="ab-comp-contract-requirement.axvw" rel="pTask" data-taskId="Manage Contract Terms" data-taskIcon="ab-icon-task.gif">Manage Contract Terms</a></li>
                                <li><a href="ab-comp-contract-location.axvw" rel="pTask" data-taskId="Manage Contract Locations" data-taskIcon="ab-icon-task.gif">Manage Contract Locations</a></li>
                                <li><a href="ab-comp-contract-violation.axvw" rel="pTask" data-taskId="Manage Contract Violations" data-taskIcon="ab-icon-task.gif">Manage Contract Violations</a></li>
                                <li><a href="ab-comp-req-quest.axvw" rel="pTask" data-taskId="Define Compliance Questionnaires" data-taskIcon="ab-icon-task.gif">Define Compliance Questionnaires</a></li>
                            </ol>
                            <li>Reports</li>
                            <ol class="process-tasks">
                                <li><a href="ab-comp-contract-rpt-drilldown.axvw" rel="pTask" data-taskId="Contracts Drill-down" data-taskIcon="ab-icon-task.gif">Contracts Drill-down</a></li>
                                <li><a href="ab-comp-contract-rpt-requirement-eval.axvw" rel="pTask" data-taskId="Contract Terms Evaluation" data-taskIcon="ab-icon-task.gif">Contract Terms Evaluation</a></li>
                                <li><a href="ab-comp-contract-rpt-cost.axvw" rel="pTask" data-taskId="Contract Cost" data-taskIcon="ab-icon-task.gif">Contract Cost</a></li>
                                <li><a href="ab-comp-rpt-contract-all-wr.axvw" rel="pTask" data-taskId="Contract Work History" data-taskIcon="ab-icon-task.gif">Contract Work History</a></li>
                                <li><a href="ab-comp-contract-rpt-violation.axvw" rel="pTask" data-taskId="Contract Violations" data-taskIcon="ab-icon-task.gif">Contract Violations</a></li>
                            </ol>
                        </ol>
                </div>
            </div>
            <div class="bucket-application " data-productId="AbRisk" data-activityId="AbRiskCompliance" data-processId="Operational Reports" data-productTitle="Environmental & Risk Management" data-activityTitle="Compliance Management" data-processTitle="Operational Reports" data-subfolder="\ab-products\risk\compliance" data-helpLink="\Subsystems\webc\Content\compliance\reports\operational_over.htm" data-helpSystem="END USER" data-dashboardLayout="" data-dashboardView="" title="" oncontextmenu="return false;" onMouseUp="openPtask(this,event);">
                <h2 class="applications-process-title" title="">
                    <span class="process-title-text">Operational Reports</span>
                </h2>
                <div class="bucket-wrapper" id="wrapper_abriskcompliance_operationalReports">
                        <ol class="ptask-labels">
                            <li></li>
                            <ol class="process-tasks">
                                <li><a href="ab-comp-rpt-drilldown.axvw" rel="pTask" data-taskId="Compliance Drill-down" data-taskIcon="ab-icon-task.gif">Compliance Drill-down</a></li>
                                <li><a href="ab-comp-rpt-regulation.axvw" rel="pTask" data-taskId="Regulations and Initiatives" data-taskIcon="ab-icon-task.gif">Regulations and Initiatives</a></li>
                                <li><a href="ab-comp-rpt-program.axvw" rel="pTask" data-taskId="Compliance Programs" data-taskIcon="ab-icon-task.gif">Compliance Programs</a></li>
                                <li><a href="ab-comp-rpt-requirement.axvw" rel="pTask" data-taskId="Compliance Requirements" data-taskIcon="ab-icon-task.gif">Compliance Requirements</a></li>
                                <li><a href="ab-comp-rpt-permit.axvw" rel="pTask" data-taskId="Permits and Licenses" data-taskIcon="ab-icon-task.gif">Permits and Licenses</a></li>
                                <li><a href="ab-comp-rpt-program-cost.axvw" rel="pTask" data-taskId="Compliance Program Costs" data-taskIcon="ab-icon-task.gif">Compliance Program Costs</a></li>
                            </ol>
                            <li class="empty-taskgroup-title">&nbsp;</li>
                            <ol class="process-tasks">
                                <li><a href="ab-comp-rpt-regloc.axvw" rel="pTask" data-taskId="Compliance by Location" data-taskIcon="ab-icon-task.gif">Compliance by Location</a></li>
                                <li><a href="ab-comp-rpt-regloc-drilldown.axvw" rel="pTask" data-taskId="Compliance by Location Drill-down" data-taskIcon="ab-icon-task.gif">Compliance by Location Drill-down</a></li>
                                <li><a href="ab-comp-rpt-loc-check.axvw" rel="pTask" data-taskId="Assets without Compliance Locations" data-taskIcon="ab-icon-task.gif">Assets without Compliance Locations</a></li>
                            </ol>
                            <li class="empty-taskgroup-title">&nbsp;</li>
                            <ol class="process-tasks">
                                <li><a href="ab-comp-rpt-event-missed.axvw" rel="pTask" data-taskId="Missed and Overdue Events" data-taskIcon="ab-icon-task.gif">Missed and Overdue Events</a></li>
                                <li><a href="ab-comp-rpt-event-calendar.axvw" rel="pTask" data-taskId="Compliance Events Calendar" data-taskIcon="ab-icon-task.gif">Compliance Events Calendar</a></li>
                                <li><a href="ab-comp-rpt-event-finder.axvw" rel="pTask" data-taskId="Compliance Event Finder" data-taskIcon="ab-icon-task.gif">Compliance Event Finder</a></li>
                                <li><a href="ab-comp-rpt-notifications.axvw" rel="pTask" data-taskId="Compliance Event Notifications" data-taskIcon="ab-icon-task.gif">Compliance Event Notifications</a></li>
                            </ol>
                            <li class="empty-taskgroup-title">&nbsp;</li>
                            <ol class="process-tasks">
                                <li><a href="ab-comp-req-quest-view.axvw" rel="pTask" data-taskId="Preview Compliance Questionnaires" data-taskIcon="ab-icon-task.gif">Preview Compliance Questionnaires</a></li>
                            </ol>
                            <li class="empty-taskgroup-title">&nbsp;</li>
                            <ol class="process-tasks">
                                <li><a href="ab-comp-rpt-library.axvw" rel="pTask" data-taskId="Document Library" data-taskIcon="ab-icon-task.gif">Document Library</a></li>
                                <li><a href="ab-comp-rpt-commlog.axvw" rel="pTask" data-taskId="Compliance Communications Log" data-taskIcon="ab-icon-task.gif">Compliance Communications Log</a></li>
                                <li><a href="ab-comp-rpt-violation.axvw" rel="pTask" data-taskId="Compliance Violations" data-taskIcon="ab-icon-task.gif">Compliance Violations</a></li>
                                <li><a href="ab-comp-rpt-notify-template.axvw" rel="pTask" data-taskId="Compliance Notification Templates" data-taskIcon="ab-icon-task.gif">Compliance Notification Templates</a></li>
                            </ol>
                            <li>Drawings</li>
                            <ol class="process-tasks">
                                <li><a href="ab-comp-rpt-hl-bl-rm.axvw" rel="pTask" data-taskId="Buildings/Rooms with Compliance Programs" data-taskIcon="ab-icon-task.gif">Buildings/Rooms with Compliance Programs</a></li>
                                <li><a href="ab-comp-rpt-program-map.axvw" rel="pTask" data-taskId="Compliance Programs Map" data-taskIcon="ab-icon-task.gif">Compliance Programs Map</a></li>
                            </ol>
                        </ol>
                </div>
            </div>
            <div class="bucket-application " data-productId="AbRisk" data-activityId="AbRiskCompliance" data-processId="Work Status Reports" data-productTitle="Environmental & Risk Management" data-activityTitle="Compliance Management" data-processTitle="Work Status Reports" data-subfolder="\ab-products\risk\compliance" data-helpLink="\Subsystems\webc\Content\compliance\reports\work_status_rpts.htm" data-helpSystem="END USER" data-dashboardLayout="" data-dashboardView="" title="" oncontextmenu="return false;" onMouseUp="openPtask(this,event);">
                <h2 class="applications-process-title" title="">
                    <span class="process-title-text">Work Status Reports</span>
                </h2>
                <div class="bucket-wrapper" id="wrapper_abriskcompliance_workStatusReports">
                        <ol class="ptask-labels">
                            <li></li>
                            <ol class="process-tasks">
                                <li><a href="ab-comp-rpt-overdue-pm.axvw" rel="pTask" data-taskId="Programs with Overdue PM Schedules" data-taskIcon="ab-icon-task.gif">Programs with Overdue PM Schedules</a></li>
                                <li><a href="ab-comp-rpt-overdue-work.axvw" rel="pTask" data-taskId="Programs with Overdue Work" data-taskIcon="ab-icon-task.gif">Programs with Overdue Work</a></li>
                                <li><a href="ab-comp-rpt-active-work.axvw" rel="pTask" data-taskId="Programs with Active Work" data-taskIcon="ab-icon-task.gif">Programs with Active Work</a></li>
                                <li><a href="ab-comp-rpt-all-wr.axvw" rel="pTask" data-taskId="Compliance Work History" data-taskIcon="ab-icon-task.gif">Compliance Work History</a></li>
                            </ol>
                        </ol>
                </div>
            </div>
        </div>
        <div class="page-row full-height" >
            <h3 class="application-title" data-activityId="AbRiskCompliance">Compliance Management</h3>
            <hr class="application-horizontal-rule">
            <div class="bucket-application " data-productId="AbRisk" data-activityId="AbRiskCompliance" data-processId="Management Reports" data-productTitle="Environmental & Risk Management" data-activityTitle="Compliance Management" data-processTitle="Management Reports" data-subfolder="\ab-products\risk\compliance" data-helpLink="\Subsystems\webc\Content\compliance\reports\management_over.htm" data-helpSystem="END USER" data-dashboardLayout="" data-dashboardView="" title="" oncontextmenu="return false;" onMouseUp="openPtask(this,event);">
                <h2 class="applications-process-title" title="">
                    <span class="process-title-text">Management Reports</span>
                </h2>
                <div class="bucket-wrapper" id="wrapper_abriskcompliance_managementReports">
                        <ol class="ptask-labels">
                            <li>Compliance Program Count by:</li>
                            <ol class="process-tasks">
                                <li><a href="ab-comp-rpt-prg-lvl-priority.axvw" rel="pTask" data-taskId="...Compliance Level and Priority" data-taskIcon="ab-icon-task.gif">...Compliance Level and Priority</a></li>
                                <li><a href="ab-comp-rpt-prg-lvl-rank.axvw" rel="pTask" data-taskId="...Compliance Level and Regulation Rank" data-taskIcon="ab-icon-task.gif">...Compliance Level and Regulation Rank</a></li>
                                <li><a href="ab-comp-rpt-prg-lvl-reg.axvw" rel="pTask" data-taskId="...Compliance Level and Regulation" data-taskIcon="ab-icon-task.gif">...Compliance Level and Regulation</a></li>
                                <li><a href="ab-comp-rpt-prg-lvl-loc.axvw" rel="pTask" data-taskId="...Compliance Level and Location" data-taskIcon="ab-icon-task.gif">...Compliance Level and Location</a></li>
                                <li><a href="ab-comp-rpt-prg-reg-loc.axvw" rel="pTask" data-taskId="...Regulation and Location" data-taskIcon="ab-icon-task.gif">...Regulation and Location</a></li>
                            </ol>
                            <li>Regulation Count by:</li>
                            <ol class="process-tasks">
                                <li><a href="ab-comp-rpt-reg-rank-cat.axvw" rel="pTask" data-taskId="...Regulation Rank and Category" data-taskIcon="ab-icon-task.gif">...Regulation Rank and Category</a></li>
                                <li><a href="ab-comp-rpt-reg-loc-rank.axvw" rel="pTask" data-taskId="...Location and Regulation Rank" data-taskIcon="ab-icon-task.gif">...Location and Regulation Rank</a></li>
                            </ol>
                            <li>Compliance Requirements Count by:</li>
                            <ol class="process-tasks">
                                <li><a href="ab-comp-rpt-req-lvl-priority.axvw" rel="pTask" data-taskId="-Compliance Level and Priority" data-taskIcon="ab-icon-task.gif">-Compliance Level and Priority</a></li>
                                <li><a href="ab-comp-rpt-req-lvl-type.axvw" rel="pTask" data-taskId="-Compliance Level and Requirement Type" data-taskIcon="ab-icon-task.gif">-Compliance Level and Requirement Type</a></li>
                                <li><a href="ab-comp-rpt-req-lvl-prg.axvw" rel="pTask" data-taskId="-Compliance Level and Program" data-taskIcon="ab-icon-task.gif">-Compliance Level and Program</a></li>
                                <li><a href="ab-comp-rpt-req-lvl-reg.axvw" rel="pTask" data-taskId="-Compliance Level and Regulation" data-taskIcon="ab-icon-task.gif">-Compliance Level and Regulation</a></li>
                                <li><a href="ab-comp-rpt-req-lvl-loc.axvw" rel="pTask" data-taskId="-Compliance Level and Location" data-taskIcon="ab-icon-task.gif">-Compliance Level and Location</a></li>
                            </ol>
                            <li class="empty-taskgroup-title">&nbsp;</li>
                            <ol class="process-tasks">
                                <li><a href="ab-comp-rpt-req-expired.axvw" rel="pTask" data-taskId="Expired License/Permit Count" data-taskIcon="ab-icon-task.gif">Expired License/Permit Count</a></li>
                                <li><a href="ab-comp-rpt-event-missed-chart.axvw" rel="pTask" data-taskId="Missed and Overdue Events Count" data-taskIcon="ab-icon-task.gif">Missed and Overdue Events Count</a></li>
                                <li><a href="ab-comp-rpt-violation-chart.axvw" rel="pTask" data-taskId="Compliance Violations Count" data-taskIcon="ab-icon-task.gif">Compliance Violations Count</a></li>
                                <li><a href="ab-comp-rpt-violation-cost-chart.axvw" rel="pTask" data-taskId="Compliance Violation Cost Summary" data-taskIcon="ab-icon-task.gif">Compliance Violation Cost Summary</a></li>
                            </ol>
                            <li>Surveys</li>
                            <ol class="process-tasks">
                                <li><a href="ab-comp-rpt-surv-by-req.axvw" rel="pTask" data-taskId="Review Survey Results Summary by Requirement" data-taskIcon="ab-icon-task.gif">Review Survey Results Summary by Requirement</a></li>
                            </ol>
                            <li class="empty-taskgroup-title">&nbsp;</li>
                            <ol class="process-tasks">
                                <li><a href="ab-comp-rpt-program-map.axvw" rel="pTask" data-taskId="Compliance Programs Map" data-taskIcon="ab-icon-task.gif">Compliance Programs Map</a></li>
                                <li><a href="ab-comp-rpt-violation-map.axvw" rel="pTask" data-taskId="Compliance Violations Map" data-taskIcon="ab-icon-task.gif">Compliance Violations Map</a></li>
                            </ol>
                        </ol>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
$(document).ready(function() {
    $('#navigationTabs').find('a').click(function() {return false;});
    initDandDFavorites();
    setPageDimensions();
    bindTaskContextMenu();
    localizeFavoritesDisplayText();
    loadFavoritesBuckets();
    modifyProcessTitleDisplay();
    pageTallPTaskBuckets();
});
</script>