<div class="nav-pages" id="GreenBuilding">
    <div class="page">
        <div class="page-row full-height" >
            <h3 class="application-title" data-activityId="AbRiskGreenBuilding">Green Building</h3>
            <hr class="application-horizontal-rule">
            <div id="appProcFavoritesBucket" class="bucket-application bucket-background-light " data-activityId="" data-processId="" oncontextmenu="return false;">
                <h2 class="applications-process-title" data-processId="" title="Most often used tasks and reports.">My Favorites</h2>
                <div class="bucket-wrapper" id="wrapper_9178f2d4-5e31-4a4a-bf78-7b0294045bf7">
                    <div class="favorites-drop-target">
                        <span class="favorites-add-target"></span>
                        <span class="favorites-delete-target">&nbsp;</span>
                    </div>
                    <div class="favorites" onMouseUp="openPtask(this,event);">
                        <ol class="favorites-items">
                        </ol>
                    </div>
                </div>
            </div>
            <div class="bucket-application " data-productId="AbRisk" data-activityId="AbRiskGreenBuilding" data-processId="BPO - Facilities" data-productTitle="Environmental & Risk Management" data-activityTitle="Green Building" data-processTitle="Facilities - Background Data" data-subfolder="\ab-products\risk\green" data-helpLink="\Subsystems\webc\Content\green_bldg\bpo\locations.htm" data-helpSystem="END USER" data-dashboardLayout="" data-dashboardView="" title="" oncontextmenu="return false;" onMouseUp="openPtask(this,event);">
                <h2 class="applications-process-title" title="">
                    <span class="process-title-text">Facilities - Background Data</span>
                </h2>
                <div class="bucket-wrapper" id="wrapper_abriskgreenbuilding_bpoFacilities">
                        <ol class="ptask-labels">
                            <li></li>
                            <ol class="process-tasks">
                                <li><a href="ab-def-geo-loc.axvw" rel="pTask" data-taskId="Define Geographic Locations" data-taskIcon="ab-icon-task.gif">Define Geographic Locations</a></li>
                                <li><a href="ab-sp-def-loc.axvw" rel="pTask" data-taskId="Define Locations" data-taskIcon="ab-icon-task.gif">Define Locations</a></li>
                            </ol>
                            <li class="empty-taskgroup-title">&nbsp;</li>
                            <ol class="process-tasks">
                                <li><a href="ab-eqstd-edit.axvw" rel="pTask" data-taskId="Define Equipment Standards" data-taskIcon="ab-icon-task.gif">Define Equipment Standards</a></li>
                                <li><a href="ab-eq-edit.axvw" rel="pTask" data-taskId="Define Equipment" data-taskIcon="ab-icon-task.gif">Define Equipment</a></li>
                            </ol>
                        </ol>
                </div>
            </div>
            <div class="bucket-application " data-productId="AbRisk" data-activityId="AbRiskGreenBuilding" data-processId="BPO - Carbon Footprint Protocols" data-productTitle="Environmental & Risk Management" data-activityTitle="Green Building" data-processTitle="Carbon Footprint - Background Data" data-subfolder="\ab-products\risk\green" data-helpLink="\Subsystems\webc\Content\green_bldg\bpo\carbon_footprint\bpo_carb_foot_over.htm" data-helpSystem="END USER" data-dashboardLayout="" data-dashboardView="" title="" oncontextmenu="return false;" onMouseUp="openPtask(this,event);">
                <h2 class="applications-process-title" title="">
                    <span class="process-title-text">Carbon Footprint - Background Data</span>
                </h2>
                <div class="bucket-wrapper" id="wrapper_abriskgreenbuilding_bpoCarbonFootprintProtocols">
                        <ol class="ptask-labels">
                            <li></li>
                            <ol class="process-tasks">
                                <li><a href="ab-gb-def-fp-egrid.axvw" rel="pTask" data-taskId="Energy Grid Emissions" data-taskIcon="ab-icon-task.gif">Energy Grid Emissions</a></li>
                                <li><a href="ab-gb-def-fp-fuels.axvw" rel="pTask" data-taskId="Fuels" data-taskIcon="ab-icon-task.gif">Fuels</a></li>
                                <li><a href="ab-gb-def-fp-sectors.axvw" rel="pTask" data-taskId="Sectors" data-taskIcon="ab-icon-task.gif">Sectors</a></li>
                                <li><a href="ab-gb-def-fp-fuel-dens.axvw" rel="pTask" data-taskId="Fuel Density" data-taskIcon="ab-icon-task.gif">Fuel Density</a></li>
                                <li><a href="ab-gb-def-fp-heat.axvw" rel="pTask" data-taskId="Heat Content" data-taskIcon="ab-icon-task.gif">Heat Content</a></li>
                                <li><a href="ab-gb-def-fp-oxid.axvw" rel="pTask" data-taskId="Oxidation Factors" data-taskIcon="ab-icon-task.gif">Oxidation Factors</a></li>
                                <li><a href="ab-gb-def-fp-carbon.axvw" rel="pTask" data-taskId="Carbon Content" data-taskIcon="ab-icon-task.gif">Carbon Content</a></li>
                                <li><a href="ab-gb-def-fp-emiss.axvw" rel="pTask" data-taskId="Emission Factors (Non-CO2)" data-taskIcon="ab-icon-task.gif">Emission Factors (Non-CO2)</a></li>
                                <li><a href="ab-gb-def-fp-gwp.axvw" rel="pTask" data-taskId="Global Warming Potential" data-taskIcon="ab-icon-task.gif">Global Warming Potential</a></li>
                                <li><a href="ab-gb-def-fp-mobile.axvw" rel="pTask" data-taskId="Mobile Factors" data-taskIcon="ab-icon-task.gif">Mobile Factors</a></li>
                                <li><a href="ab-gb-def-fp-airc.axvw" rel="pTask" data-taskId="Aircraft Factors" data-taskIcon="ab-icon-task.gif">Aircraft Factors</a></li>
                                <li><a href="ab-gb-def-fp-refrig.axvw" rel="pTask" data-taskId="Refrigeration Factors" data-taskIcon="ab-icon-task.gif">Refrigeration Factors</a></li>
                                <li><a href="ab-gb-def-fp-waste-sol.axvw" rel="pTask" data-taskId="Solid Waste Factors" data-taskIcon="ab-icon-task.gif">Solid Waste Factors</a></li>
                                <li><a href="ab-gb-def-fp-waste-water.axvw" rel="pTask" data-taskId="Wastewater Factors" data-taskIcon="ab-icon-task.gif">Wastewater Factors</a></li>
                                <li><a href="ab-gb-def-fp-comm-airc.axvw" rel="pTask" data-taskId="Commercial Aircraft Factors" data-taskIcon="ab-icon-task.gif">Commercial Aircraft Factors</a></li>
                            </ol>
                            <li class="empty-taskgroup-title">&nbsp;</li>
                            <ol class="process-tasks">
                                <li><a href="ab-gb-fp-def-ver.axvw" rel="pTask" data-taskId="Manage Factors Versions" data-taskIcon="ab-icon-task.gif">Manage Factors Versions</a></li>
                                <li><a href="ab-gb-fp-def-units.axvw" rel="pTask" data-taskId="Define Units" data-taskIcon="ab-icon-task.gif">Define Units</a></li>
                            </ol>
                        </ol>
                </div>
            </div>
            <div class="bucket-application " data-productId="AbRisk" data-activityId="AbRiskGreenBuilding" data-processId="Track Carbon Footprint" data-productTitle="Environmental & Risk Management" data-activityTitle="Green Building" data-processTitle="Carbon Footprint - Track" data-subfolder="\ab-products\risk\green" data-helpLink="\Subsystems\webc\Content\green_bldg\carb_fp_track\carb_track_over.htm" data-helpSystem="END USER" data-dashboardLayout="" data-dashboardView="" title="" oncontextmenu="return false;" onMouseUp="openPtask(this,event);">
                <h2 class="applications-process-title" title="">
                    <span class="process-title-text">Carbon Footprint - Track</span>
                </h2>
                <div class="bucket-wrapper" id="wrapper_abriskgreenbuilding_trackCarbonFootprint">
                        <ol class="ptask-labels">
                            <li></li>
                            <ol class="process-tasks">
                                <li><a href="ab-gb-def-fp-scn.axvw" rel="pTask" data-taskId="Define Footprint Scenarios" data-taskIcon="ab-icon-task.gif">Define Footprint Scenarios</a></li>
                                <li><a href="ab-gb-fp-data.axvw" rel="pTask" data-taskId="Enter Building Footprint Data" data-taskIcon="ab-icon-task.gif">Enter Building Footprint Data</a></li>
                            </ol>
                            <li class="empty-taskgroup-title">&nbsp;</li>
                            <ol class="process-tasks">
                                <li><a href="ab-gb-fp-es-exp.axvw" rel="pTask" data-taskId="Export Energy Star Data" data-taskIcon="ab-icon-task.gif">Export Energy Star Data</a></li>
                            </ol>
                        </ol>
                </div>
            </div>
            <div class="bucket-application " data-productId="AbRisk" data-activityId="AbRiskGreenBuilding" data-processId="Review Carbon Footprint" data-productTitle="Environmental & Risk Management" data-activityTitle="Green Building" data-processTitle="Carbon Footprint - Review" data-subfolder="\ab-products\risk\green" data-helpLink="\Subsystems\webc\Content\green_bldg\carb_fp_review\carb_review_over.htm" data-helpSystem="END USER" data-dashboardLayout="" data-dashboardView="" title="" oncontextmenu="return false;" onMouseUp="openPtask(this,event);">
                <h2 class="applications-process-title" title="">
                    <span class="process-title-text">Carbon Footprint - Review</span>
                </h2>
                <div class="bucket-wrapper" id="wrapper_abriskgreenbuilding_reviewCarbonFootprint">
                        <ol class="ptask-labels">
                            <li></li>
                            <ol class="process-tasks">
                                <li><a href="ab-gb-fp-single-job.axvw?ruleId=AbRiskGreenBuilding-FootprintService-summarizeEmissionsAll" rel="pTask" data-taskId="Summarize Emission Totals" data-taskIcon="ab-icon-task.gif">Summarize Emission Totals</a></li>
                            </ol>
                            <li>Operational Reports</li>
                            <ol class="process-tasks">
                                <li><a href="ab-gb-rpt-fp-summary.axvw" rel="pTask" data-taskId="Footprint Summary" data-taskIcon="ab-icon-task.gif">Footprint Summary</a></li>
                                <li><a href="ab-gb-rpt-fp-chart.axvw" rel="pTask" data-taskId="Footprint Summary Chart" data-taskIcon="ab-icon-task.gif">Footprint Summary Chart</a></li>
                                <li><a href="ab-gb-rpt-fp-src-cat.axvw" rel="pTask" data-taskId="Footprints by Source Category" data-taskIcon="ab-icon-task.gif">Footprints by Source Category</a></li>
                                <li><a href="ab-gb-rpt-fp-src-detail.axvw" rel="pTask" data-taskId="Footprints by Source Detail" data-taskIcon="ab-icon-task.gif">Footprints by Source Detail</a></li>
                                <li><a href="ab-gb-rpt-fp-summary-del-bldg.axvw" rel="pTask" data-taskId="Deleted Buildings Footprint Summary" data-taskIcon="ab-icon-task.gif">Deleted Buildings Footprint Summary</a></li>
                            </ol>
                            <li>Management Reports</li>
                            <ol class="process-tasks">
                                <li><a href="ab-gb-rpt-fp-site-blg.axvw" rel="pTask" data-taskId="Footprints by Sites and Buildings" data-taskIcon="ab-icon-task.gif">Footprints by Sites and Buildings</a></li>
                                <li><a href="ab-gb-rpt-fp-chart-compare.axvw" rel="pTask" data-taskId="Footprints Comparison" data-taskIcon="ab-icon-task.gif">Footprints Comparison</a></li>
                                <li><a href="ab-gb-rpt-fp-by-year.axvw" rel="pTask" data-taskId="Footprint by Year" data-taskIcon="ab-icon-task.gif">Footprint by Year</a></li>
                                <li><a href="ab-gb-rpt-fp-by-year-compare.axvw" rel="pTask" data-taskId="Footprints by Year Comparison" data-taskIcon="ab-icon-task.gif">Footprints by Year Comparison</a></li>
                                <li><a href="ab-gb-rpt-fp-tot-by-year.axvw" rel="pTask" data-taskId="Total Footprint by Year" data-taskIcon="ab-icon-task.gif">Total Footprint by Year</a></li>
                                <li><a href="ab-gb-rpt-fp-site-blg-del-bldg.axvw" rel="pTask" data-taskId="Deleted Buildings Footprints by Building" data-taskIcon="ab-icon-task.gif">Deleted Buildings Footprints by Building</a></li>
                            </ol>
                        </ol>
                </div>
            </div>
        </div>
        <div class="page-row full-height" >
            <h3 class="application-title" data-activityId="AbRiskGreenBuilding">Green Building</h3>
            <hr class="application-horizontal-rule">
            <div class="bucket-application " data-productId="AbRisk" data-activityId="AbRiskGreenBuilding" data-processId="BPO - Scoring" data-productTitle="Environmental & Risk Management" data-activityTitle="Green Building" data-processTitle="Scoring - Background Data" data-subfolder="\ab-products\risk\green" data-helpLink="\Subsystems\webc\Content\green_bldg\bpo\scoring\overview.htm" data-helpSystem="END USER" data-dashboardLayout="" data-dashboardView="" title="" oncontextmenu="return false;" onMouseUp="openPtask(this,event);">
                <h2 class="applications-process-title" title="">
                    <span class="process-title-text">Scoring - Background Data</span>
                </h2>
                <div class="bucket-wrapper" id="wrapper_abriskgreenbuilding_bpoScoring">
                        <ol class="ptask-labels">
                            <li></li>
                            <ol class="process-tasks">
                                <li><a href="ab-gb-def-cert-std.axvw" rel="pTask" data-taskId="Define Certification Standards" data-taskIcon="ab-icon-task.gif">Define Certification Standards</a></li>
                                <li><a href="ab-gb-def-cert-levels.axvw" rel="pTask" data-taskId="Define Certification Levels" data-taskIcon="ab-icon-task.gif">Define Certification Levels</a></li>
                                <li><a href="ab-gb-def-cert-cat.axvw" rel="pTask" data-taskId="Define Credit Categories" data-taskIcon="ab-icon-task.gif">Define Credit Categories</a></li>
                                <li><a href="ab-gb-def-cert-credits.axvw" rel="pTask" data-taskId="Define Credits" data-taskIcon="ab-icon-task.gif">Define Credits</a></li>
                            </ol>
                        </ol>
                </div>
            </div>
            <div class="bucket-application " data-productId="AbRisk" data-activityId="AbRiskGreenBuilding" data-processId="Track Scores" data-productTitle="Environmental & Risk Management" data-activityTitle="Green Building" data-processTitle="Scoring - Track" data-subfolder="\ab-products\risk\green" data-helpLink="\Subsystems\webc\Content\green_bldg\score_track\overview.htm" data-helpSystem="END USER" data-dashboardLayout="" data-dashboardView="" title="" oncontextmenu="return false;" onMouseUp="openPtask(this,event);">
                <h2 class="applications-process-title" title="">
                    <span class="process-title-text">Scoring - Track</span>
                </h2>
                <div class="bucket-wrapper" id="wrapper_abriskgreenbuilding_trackScores">
                        <ol class="ptask-labels">
                            <li></li>
                            <ol class="process-tasks">
                                <li><a href="ab-gb-cert-def-proj.axvw" rel="pTask" data-taskId="Define Rating Project" data-taskIcon="ab-icon-task.gif">Define Rating Project</a></li>
                                <li><a href="ab-gb-cert-score-proj.axvw" rel="pTask" data-taskId="Enter Scores" data-taskIcon="ab-icon-task.gif">Enter Scores</a></li>
                                <li><a href="ab-gb-cert-docs.axvw" rel="pTask" data-taskId="Upload Documents" data-taskIcon="ab-icon-task.gif">Upload Documents</a></li>
                                <li><a href="ab-gb-cert-log.axvw" rel="pTask" data-taskId="Enter Rating Project Notes" data-taskIcon="ab-icon-task.gif">Enter Rating Project Notes</a></li>
                            </ol>
                        </ol>
                </div>
            </div>
            <div class="bucket-application " data-productId="AbRisk" data-activityId="AbRiskGreenBuilding" data-processId="Review Scores & Certifications" data-productTitle="Environmental & Risk Management" data-activityTitle="Green Building" data-processTitle="Scoring - Review" data-subfolder="\ab-products\risk\green" data-helpLink="\Subsystems\webc\Content\green_bldg\score_review\overview.htm" data-helpSystem="END USER" data-dashboardLayout="" data-dashboardView="" title="" oncontextmenu="return false;" onMouseUp="openPtask(this,event);">
                <h2 class="applications-process-title" title="">
                    <span class="process-title-text">Scoring - Review</span>
                </h2>
                <div class="bucket-wrapper" id="wrapper_abriskgreenbuilding_reviewScoresCertifications">
                        <ol class="ptask-labels">
                            <li>Operational Reports</li>
                            <ol class="process-tasks">
                                <li><a href="ab-gb-rpt-cert-bl-score.axvw" rel="pTask" data-taskId="Building Score" data-taskIcon="ab-icon-task.gif">Building Score</a></li>
                                <li><a href="ab-gb-rpt-cert-act-log.axvw" rel="pTask" data-taskId="Rating Project Notes and Documents" data-taskIcon="ab-icon-task.gif">Rating Project Notes and Documents</a></li>
                                <li><a href="ab-gb-rpt-cert-payback.axvw" rel="pTask" data-taskId="Rating Project Payback Period" data-taskIcon="ab-icon-task.gif">Rating Project Payback Period</a></li>
                            </ol>
                            <li class="empty-taskgroup-title">&nbsp;</li>
                            <ol class="process-tasks">
                                <li><a href="ab-gb-rpt-cert-std.axvw" rel="pTask" data-taskId="Certification Standards" data-taskIcon="ab-icon-task.gif">Certification Standards</a></li>
                                <li><a href="ab-gb-rpt-cert-levels.axvw" rel="pTask" data-taskId="Certification Levels" data-taskIcon="ab-icon-task.gif">Certification Levels</a></li>
                                <li><a href="ab-gb-rpt-cert-cats.axvw" rel="pTask" data-taskId="Certification Credit Categories" data-taskIcon="ab-icon-task.gif">Certification Credit Categories</a></li>
                                <li><a href="ab-gb-rpt-cert-credits.axvw" rel="pTask" data-taskId="Certification Credits" data-taskIcon="ab-icon-task.gif">Certification Credits</a></li>
                            </ol>
                            <li>Management Reports</li>
                            <ol class="process-tasks">
                                <li><a href="ab-gb-rpt-cert-scores-proj-cat.axvw" rel="pTask" data-taskId="Scores by Rating Project and Category" data-taskIcon="ab-icon-task.gif">Scores by Rating Project and Category</a></li>
                                <li><a href="ab-gb-rpt-cert-bl-sum-by-std.axvw" rel="pTask" data-taskId="Building Summary by Standard" data-taskIcon="ab-icon-task.gif">Building Summary by Standard</a></li>
                                <li><a href="ab-gb-rpt-cert-status-sum.axvw" rel="pTask" data-taskId="Certification Status Summary" data-taskIcon="ab-icon-task.gif">Certification Status Summary</a></li>
                                <li><a href="ab-gb-rpt-cert-by-year.axvw" rel="pTask" data-taskId="Certifications by Year" data-taskIcon="ab-icon-task.gif">Certifications by Year</a></li>
                            </ol>
                            <li class="empty-taskgroup-title">&nbsp;</li>
                            <ol class="process-tasks">
                                <li><a href="ab-gb-rpt-cert-payback-chart.axvw" rel="pTask" data-taskId="Rating Project Payback Period Chart" data-taskIcon="ab-icon-task.gif">Rating Project Payback Period Chart</a></li>
                                <li><a href="ab-gb-rpt-cert-prj-compare.axvw" rel="pTask" data-taskId="Rating Project Comparison" data-taskIcon="ab-icon-task.gif">Rating Project Comparison</a></li>
                                <li><a href="ab-gb-rpt-cert-score-overview.axvw" rel="pTask" data-taskId="Scoring Dashboard" data-taskIcon="ab-icon-task.gif">Scoring Dashboard</a></li>
                            </ol>
                        </ol>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
$(document).ready(function() {
    $('#navigationTabs').find('a').click(function() {return false;});
    initDandDFavorites();
    setPageDimensions();
    bindTaskContextMenu();
    localizeFavoritesDisplayText();
    loadFavoritesBuckets();
    modifyProcessTitleDisplay();
    pageTallPTaskBuckets();
});
</script>