<div class="nav-pages" id="PortfolioManagement">
    <div class="page">
        <div class="page-row full-height" >
            <h3 class="application-title" data-activityId="AbRPLMPortfolioAdministration">Portfolio Management</h3>
            <hr class="application-horizontal-rule">
            <div id="appProcFavoritesBucket" class="bucket-application bucket-background-light " data-activityId="" data-processId="" oncontextmenu="return false;">
                <h2 class="applications-process-title" data-processId="" title="Most often used tasks and reports.">My Favorites</h2>
                <div class="bucket-wrapper" id="wrapper_ddcba647-245a-4dcf-81cb-3e695667f338">
                    <div class="favorites-drop-target">
                        <span class="favorites-add-target"></span>
                        <span class="favorites-delete-target">&nbsp;</span>
                    </div>
                    <div class="favorites" onMouseUp="openPtask(this,event);">
                        <ol class="favorites-items">
                        </ol>
                    </div>
                </div>
            </div>
            <div class="bucket-application " data-productId="AbRPLM" data-activityId="AbRPLMPortfolioAdministration" data-processId="Background Data" data-productTitle="Real Estate Portfolio Management" data-activityTitle="Portfolio Management" data-processTitle="Background Data" data-subfolder="\ab-products\rplm\pfolio-admin" data-helpLink="\Subsystems\webc\Content\fim\port_admin\background_data_repm.htm" data-helpSystem="END USER" data-dashboardLayout="" data-dashboardView="" title="" oncontextmenu="return false;" onMouseUp="openPtask(this,event);">
                <h2 class="applications-process-title" title="">
                    <span class="process-title-text">Background Data</span>
                </h2>
                <div class="bucket-wrapper" id="wrapper_abrplmportfolioadministration_backgroundData">
                        <ol class="ptask-labels">
                            <li></li>
                            <ol class="process-tasks">
                                <li><a href="ab-def-geo-loc.axvw" rel="pTask" data-taskId="Define Geographical Locations" data-taskIcon="ab-icon-task.gif">Define Geographical Locations</a></li>
                                <li><a href="ab-rplm-properties-define.axvw" rel="pTask" data-taskId="Define Properties" data-taskIcon="ab-icon-task.gif">Define Properties</a></li>
                                <li><a href="ab-sp-def-loc.axvw" rel="pTask" data-taskId="Define Locations" data-taskIcon="ab-icon-task.gif">Define Locations</a></li>
                                <li><a href="ab-repm-counties-define.axvw" rel="pTask" data-taskId="Define Counties" data-taskIcon="ab-icon-task.gif">Define Counties</a></li>
                            </ol>
                            <li class="empty-taskgroup-title">&nbsp;</li>
                            <ol class="process-tasks">
                                <li><a href="ab-rplm-facilitytype-define.axvw" rel="pTask" data-taskId="Define Facility Types" data-taskIcon="ab-icon-task.gif">Define Facility Types</a></li>
                            </ol>
                            <li class="empty-taskgroup-title">&nbsp;</li>
                            <ol class="process-tasks">
                                <li><a href="ab-rplm-companies-define.axvw" rel="pTask" data-taskId="Define Companies" data-taskIcon="ab-icon-task.gif">Define Companies</a></li>
                            </ol>
                            <li class="empty-taskgroup-title">&nbsp;</li>
                            <ol class="process-tasks">
                                <li><a href="ab-common-def-em.axvw" rel="pTask" data-taskId="Define Employees" data-taskIcon="ab-icon-task.gif">Define Employees</a></li>
                            </ol>
                            <li class="empty-taskgroup-title">&nbsp;</li>
                            <ol class="process-tasks">
                                <li><a href="ab-repm-lsadmin-amenities-types.axvw" rel="pTask" data-taskId="Define Amenity Types" data-taskIcon="ab-icon-task.gif">Define Amenity Types</a></li>
                            </ol>
                            <li class="empty-taskgroup-title">&nbsp;</li>
                            <ol class="process-tasks">
                                <li><a href="ab-repm-lsadmin-add-edit-lease-template.axvw" rel="pTask" data-taskId="Define Lease Templates" data-taskIcon="ab-icon-task.gif">Define Lease Templates</a></li>
                            </ol>
                            <li class="empty-taskgroup-title">&nbsp;</li>
                            <ol class="process-tasks">
                                <li><a href="ab-repm-lsadmin-fiscal-year-def.axvw" rel="pTask" data-taskId="Define Fiscal Year" data-taskIcon="ab-icon-task.gif">Define Fiscal Year</a></li>
                            </ol>
                        </ol>
                </div>
            </div>
            <div class="bucket-application " data-productId="AbRPLM" data-activityId="AbRPLMPortfolioAdministration" data-processId="Portfolio Summary" data-productTitle="Real Estate Portfolio Management" data-activityTitle="Portfolio Management" data-processTitle="Portfolio Summary" data-subfolder="\ab-products\rplm\pfolio-admin" data-helpLink="\Subsystems\webc\Content\web_user\port_admin\portfolio_summary.htm" data-helpSystem="END USER" data-dashboardLayout="" data-dashboardView="" title="" oncontextmenu="return false;" onMouseUp="openPtask(this,event);">
                <h2 class="applications-process-title" title="">
                    <span class="process-title-text">Portfolio Summary</span>
                </h2>
                <div class="bucket-wrapper" id="wrapper_abrplmportfolioadministration_portfolioSummary">
                        <ol class="ptask-labels">
                            <li></li>
                            <ol class="process-tasks">
                                <li><a href="ab-rplm-pfadmin-pnav-dashboard-global.axvw" rel="pTask" data-taskId="Global Portfolio Dashboard" data-taskIcon="ab-icon-task.gif">Global Portfolio Dashboard</a></li>
                            </ol>
                            <li class="empty-taskgroup-title">&nbsp;</li>
                            <ol class="process-tasks">
                                <li><a href="ab-rplm-pfadmin-add-item-to-portfolio-wizard.axvw" rel="pTask" data-taskId="Add/Edit Wizard" data-taskIcon="ab-icon-task.gif">Add/Edit Wizard</a></li>
                                <li><a href="ab-repm-lsadmin-bl-amenities.axvw" rel="pTask" data-taskId="Add New Amenity to a Building" data-taskIcon="ab-icon-task.gif">Add New Amenity to a Building</a></li>
                                <li><a href="ab-repm-lsadmin-prop-amenities.axvw" rel="pTask" data-taskId="Add New Amenity to a Property" data-taskIcon="ab-icon-task.gif">Add New Amenity to a Property</a></li>
                            </ol>
                            <li class="empty-taskgroup-title">&nbsp;</li>
                            <ol class="process-tasks">
                                <li><a href="ab-rplm-pfadmin-portfoliosummary-dashboard.axvw" rel="pTask" data-taskId="Portfolio Summary Dashboard" data-taskIcon="ab-icon-task.gif">Portfolio Summary Dashboard</a></li>
                            </ol>
                            <li class="empty-taskgroup-title">&nbsp;</li>
                            <ol class="process-tasks">
                                <li><a href="ab-rplm-pfadmin-investments.axvw" rel="pTask" data-taskId="Portfolio Investments" data-taskIcon="ab-icon-task.gif">Portfolio Investments</a></li>
                                <li><a href="ab-rplm-pfadmin-sales.axvw" rel="pTask" data-taskId="Portfolio Sales" data-taskIcon="ab-icon-task.gif">Portfolio Sales</a></li>
                                <li><a href="ab-rplm-pfadmin-ownership-transactions-report.axvw" rel="pTask" data-taskId="All Ownership Transactions" data-taskIcon="ab-icon-task.gif">All Ownership Transactions</a></li>
                                <li><a href="ab-rplm-pfadmin-props-book-values-report.axvw" rel="pTask" data-taskId="All Properties and their Book Values" data-taskIcon="ab-icon-task.gif">All Properties and their Book Values</a></li>
                                <li><a href="ab-rplm-pfadmin-bldgs-book-values-report.axvw" rel="pTask" data-taskId="All Buildings and their Book Values" data-taskIcon="ab-icon-task.gif">All Buildings and their Book Values</a></li>
                            </ol>
                            <li class="empty-taskgroup-title">&nbsp;</li>
                            <ol class="process-tasks">
                                <li><a href="ab-repm-pfadmin-item-by-location.axvw" rel="pTask" data-taskId="Portfolio Items by Location" data-taskIcon="ab-icon-task.gif">Portfolio Items by Location</a></li>
                                <li><a href="ab-repm-pfadmin-ptsum-monthly-capital-trans-by-chart.axvw" rel="pTask" data-taskId="Portfolio Summary Net Capital Cash Flow by Location" data-taskIcon="ab-icon-task.gif">Portfolio Summary Net Capital Cash Flow by Location</a></li>
                            </ol>
                        </ol>
                </div>
            </div>
            <div class="bucket-application " data-productId="AbRPLM" data-activityId="AbRPLMPortfolioAdministration" data-processId="Buildings" data-productTitle="Real Estate Portfolio Management" data-activityTitle="Portfolio Management" data-processTitle="Buildings" data-subfolder="\ab-products\rplm\pfolio-admin" data-helpLink="\Subsystems\webc\Content\web_user\port_admin\buildings.htm" data-helpSystem="END USER" data-dashboardLayout="" data-dashboardView="" title="" oncontextmenu="return false;" onMouseUp="openPtask(this,event);">
                <h2 class="applications-process-title" title="">
                    <span class="process-title-text">Buildings</span>
                </h2>
                <div class="bucket-wrapper" id="wrapper_abrplmportfolioadministration_buildings">
                        <ol class="ptask-labels">
                            <li></li>
                            <ol class="process-tasks">
                                <li><a href="ab-rplm-pfadmin-add-item-to-portfolio-wizard.axvw" rel="pTask" data-taskId="Add/Edit Wizard" data-taskIcon="ab-icon-task.gif">Add/Edit Wizard</a></li>
                                <li><a href="ab-repm-lsadmin-bl-amenities.axvw" rel="pTask" data-taskId="Add New Amenity to a Building" data-taskIcon="ab-icon-task.gif">Add New Amenity to a Building</a></li>
                            </ol>
                            <li class="empty-taskgroup-title">&nbsp;</li>
                            <ol class="process-tasks">
                                <li><a href="ab-rplm-pfadmin-bldgs-dashboard.axvw" rel="pTask" data-taskId="Buildings Dashboard" data-taskIcon="ab-icon-task.gif">Buildings Dashboard</a></li>
                                <li><a href="ab-rplm-pfadmin-manage-bldgs-by-location-masterview.axvw" rel="pTask" data-taskId="Manage Buildings by Location" data-taskIcon="ab-icon-task.gif">Manage Buildings by Location</a></li>
                            </ol>
                            <li class="empty-taskgroup-title">&nbsp;</li>
                            <ol class="process-tasks">
                                <li><a href="ab-rplm-pfadmin-leases-and-suites-by-building-report.axvw" rel="pTask" data-taskId="Leases and Suites by Building" data-taskIcon="ab-icon-task.gif">Leases and Suites by Building</a></li>
                            </ol>
                            <li class="empty-taskgroup-title">&nbsp;</li>
                            <ol class="process-tasks">
                                <li><a href="ab-repm-pfadmin-item-by-location.axvw" rel="pTask" data-taskId="Buildings by Location" data-taskIcon="ab-icon-task.gif">Buildings by Location</a></li>
                                <li><a href="ab-repm-pfadmin-bldgs-est-area-by-chart.axvw" rel="pTask" data-taskId="Building Area by Location" data-taskIcon="ab-icon-task.gif">Building Area by Location</a></li>
                            </ol>
                            <li>Documents By:</li>
                            <ol class="process-tasks">
                                <li><a href="ab-rplm-pfadmin-documents-by-bldgs-report.axvw" rel="pTask" data-taskId="... Building" data-taskIcon="ab-icon-task.gif">... Building</a></li>
                                <li><a href="ab-rplm-pfadmin-documents-by-bldgs-lease-report.axvw" rel="pTask" data-taskId="... Lease by Building" data-taskIcon="ab-icon-task.gif">... Lease by Building</a></li>
                            </ol>
                            <li>Contacts by:</li>
                            <ol class="process-tasks">
                                <li><a href="ab-rplm-pfadmin-contacts-by-bldgs-report.axvw" rel="pTask" data-taskId="...  Building" data-taskIcon="ab-icon-task.gif">...  Building</a></li>
                                <li><a href="ab-rplm-pfadmin-contacts-by-lease-by-bldgs-report.axvw" rel="pTask" data-taskId="...  Lease by Building" data-taskIcon="ab-icon-task.gif">...  Lease by Building</a></li>
                            </ol>
                            <li>Building Area Availability by:</li>
                            <ol class="process-tasks">
                                <li><a href="ab-repm-pfadmin-bldgs-est-area-by-ownership-stat-by-chart.axvw" rel="pTask" data-taskId="... Location" data-taskIcon="ab-icon-task.gif">... Location</a></li>
                                <li><a href="ab-rplm-pfadmin-bldgs-est-area-by-ownership-stat-by-loc-chart.axvw" rel="pTask" data-taskId="... Location and Time" data-taskIcon="ab-icon-task.gif">... Location and Time</a></li>
                            </ol>
                            <li>Building:</li>
                            <ol class="process-tasks">
                                <li><a href="ab-repm-pfadmin-bldgs-monthly-capital-trans-by-chart.axvw" rel="pTask" data-taskId="... Net Capital Cash Flow by Location" data-taskIcon="ab-icon-task.gif">... Net Capital Cash Flow by Location</a></li>
                                <li><a href="ab-repm-pfadmin-bldgs-book-vs-market-by-chart.axvw" rel="pTask" data-taskId="... Book & Market Value by Location" data-taskIcon="ab-icon-task.gif">... Book & Market Value by Location</a></li>
                            </ol>
                        </ol>
                </div>
            </div>
            <div class="bucket-application " data-productId="AbRPLM" data-activityId="AbRPLMPortfolioAdministration" data-processId="Structures" data-productTitle="Real Estate Portfolio Management" data-activityTitle="Portfolio Management" data-processTitle="Structures" data-subfolder="\ab-products\rplm\pfolio-admin" data-helpLink="\Subsystems\webc\Content\web_user\port_admin\structures.htm" data-helpSystem="END USER" data-dashboardLayout="" data-dashboardView="" title="" oncontextmenu="return false;" onMouseUp="openPtask(this,event);">
                <h2 class="applications-process-title" title="">
                    <span class="process-title-text">Structures</span>
                </h2>
                <div class="bucket-wrapper" id="wrapper_abrplmportfolioadministration_structures">
                        <ol class="ptask-labels">
                            <li></li>
                            <ol class="process-tasks">
                                <li><a href="ab-rplm-pfadmin-add-item-to-portfolio-wizard.axvw" rel="pTask" data-taskId="Add/Edit Wizard" data-taskIcon="ab-icon-task.gif">Add/Edit Wizard</a></li>
                                <li><a href="ab-repm-pfadmin-struct-amenities.axvw" rel="pTask" data-taskId="Add New Amenity to a Structure" data-taskIcon="ab-icon-task.gif">Add New Amenity to a Structure</a></li>
                            </ol>
                            <li class="empty-taskgroup-title">&nbsp;</li>
                            <ol class="process-tasks">
                                <li><a href="ab-rplm-pfadmin-struc-dashboard.axvw" rel="pTask" data-taskId="Structures Dashboard" data-taskIcon="ab-icon-task.gif">Structures Dashboard</a></li>
                                <li><a href="ab-rplm-pfadmin-manage-struc-by-location-masterview.axvw" rel="pTask" data-taskId="Manage Structures by Location" data-taskIcon="ab-icon-task.gif">Manage Structures by Location</a></li>
                            </ol>
                            <li class="empty-taskgroup-title">&nbsp;</li>
                            <ol class="process-tasks">
                                <li><a href="ab-rplm-pfadmin-leases-by-structure-report.axvw" rel="pTask" data-taskId="Leases by Structure" data-taskIcon="ab-icon-task.gif">Leases by Structure</a></li>
                            </ol>
                            <li class="empty-taskgroup-title">&nbsp;</li>
                            <ol class="process-tasks">
                                <li><a href="ab-repm-pfadmin-item-by-location.axvw" rel="pTask" data-taskId="Structures by Location" data-taskIcon="ab-icon-task.gif">Structures by Location</a></li>
                            </ol>
                            <li>Documents by:</li>
                            <ol class="process-tasks">
                                <li><a href="ab-rplm-pfadmin-documents-by-struc-report.axvw" rel="pTask" data-taskId="... Structure" data-taskIcon="ab-icon-task.gif">... Structure</a></li>
                                <li><a href="ab-rplm-pfadmin-documents-by-struc-lease-report.axvw" rel="pTask" data-taskId="... Lease by Structure" data-taskIcon="ab-icon-task.gif">... Lease by Structure</a></li>
                            </ol>
                            <li>Contacts by:</li>
                            <ol class="process-tasks">
                                <li><a href="ab-rplm-pfadmin-contacts-by-struc-report.axvw" rel="pTask" data-taskId="...  Structure" data-taskIcon="ab-icon-task.gif">...  Structure</a></li>
                                <li><a href="ab-rplm-pfadmin-contacts-by-lease-by-struc-report.axvw" rel="pTask" data-taskId="...  Lease by Structure" data-taskIcon="ab-icon-task.gif">...  Lease by Structure</a></li>
                            </ol>
                            <li>Structure:</li>
                            <ol class="process-tasks">
                                <li><a href="ab-repm-pfadmin-struc-monthly-capital-trans-by-chart.axvw" rel="pTask" data-taskId="... Net Capital Cash Flow by Location" data-taskIcon="ab-icon-task.gif">... Net Capital Cash Flow by Location</a></li>
                                <li><a href="ab-repm-pfadmin-struc-book-vs-market-by-chart.axvw" rel="pTask" data-taskId="... Book & Market Value by Location" data-taskIcon="ab-icon-task.gif">... Book & Market Value by Location</a></li>
                            </ol>
                        </ol>
                </div>
            </div>
        </div>
        <div class="page-row full-height" >
            <h3 class="application-title" data-activityId="AbRPLMPortfolioAdministration">Portfolio Management</h3>
            <hr class="application-horizontal-rule">
            <div class="bucket-application " data-productId="AbRPLM" data-activityId="AbRPLMPortfolioAdministration" data-processId="Land" data-productTitle="Real Estate Portfolio Management" data-activityTitle="Portfolio Management" data-processTitle="Land" data-subfolder="\ab-products\rplm\pfolio-admin" data-helpLink="\Subsystems\webc\Content\web_user\port_admin\land.htm" data-helpSystem="END USER" data-dashboardLayout="" data-dashboardView="" title="" oncontextmenu="return false;" onMouseUp="openPtask(this,event);">
                <h2 class="applications-process-title" title="">
                    <span class="process-title-text">Land</span>
                </h2>
                <div class="bucket-wrapper" id="wrapper_abrplmportfolioadministration_land">
                        <ol class="ptask-labels">
                            <li></li>
                            <ol class="process-tasks">
                                <li><a href="ab-rplm-pfadmin-add-item-to-portfolio-wizard.axvw" rel="pTask" data-taskId="Add/Edit Wizard" data-taskIcon="ab-icon-task.gif">Add/Edit Wizard</a></li>
                                <li><a href="ab-repm-pfadmin-land-amenities.axvw" rel="pTask" data-taskId="Add New Amenity to Land" data-taskIcon="ab-icon-task.gif">Add New Amenity to Land</a></li>
                            </ol>
                            <li class="empty-taskgroup-title">&nbsp;</li>
                            <ol class="process-tasks">
                                <li><a href="ab-rplm-pfadmin-land-dashboard.axvw" rel="pTask" data-taskId="Land Dashboard" data-taskIcon="ab-icon-task.gif">Land Dashboard</a></li>
                                <li><a href="ab-rplm-pfadmin-manage-land-by-location-masterview.axvw" rel="pTask" data-taskId="Manage Land by Location" data-taskIcon="ab-icon-task.gif">Manage Land by Location</a></li>
                            </ol>
                            <li class="empty-taskgroup-title">&nbsp;</li>
                            <ol class="process-tasks">
                                <li><a href="ab-rplm-pfadmin-leases-by-land-report.axvw" rel="pTask" data-taskId="Leases by Land" data-taskIcon="ab-icon-task.gif">Leases by Land</a></li>
                            </ol>
                            <li class="empty-taskgroup-title">&nbsp;</li>
                            <ol class="process-tasks">
                                <li><a href="ab-repm-pfadmin-item-by-location.axvw" rel="pTask" data-taskId="Land by Location" data-taskIcon="ab-icon-task.gif">Land by Location</a></li>
                                <li><a href="ab-repm-pfadmin-land-est-area-by-chart.axvw" rel="pTask" data-taskId="Land Area by Location" data-taskIcon="ab-icon-task.gif">Land Area by Location</a></li>
                            </ol>
                            <li>Documents by:</li>
                            <ol class="process-tasks">
                                <li><a href="ab-rplm-pfadmin-documents-by-land-report.axvw" rel="pTask" data-taskId="... Land" data-taskIcon="ab-icon-task.gif">... Land</a></li>
                                <li><a href="ab-rplm-pfadmin-documents-by-land-lease-report.axvw" rel="pTask" data-taskId="... Lease by Land" data-taskIcon="ab-icon-task.gif">... Lease by Land</a></li>
                            </ol>
                            <li>Contacts by:</li>
                            <ol class="process-tasks">
                                <li><a href="ab-rplm-pfadmin-contacts-by-lands-report.axvw" rel="pTask" data-taskId="...  Land" data-taskIcon="ab-icon-task.gif">...  Land</a></li>
                                <li><a href="ab-rplm-pfadmin-contacts-by-lease-by-land-report.axvw" rel="pTask" data-taskId="...  Lease by Land" data-taskIcon="ab-icon-task.gif">...  Lease by Land</a></li>
                            </ol>
                            <li>Land Area Availability by:</li>
                            <ol class="process-tasks">
                                <li><a href="ab-repm-pfadmin-land-est-area-by-ownership-stat-by-chart.axvw" rel="pTask" data-taskId="... Location" data-taskIcon="ab-icon-task.gif">... Location</a></li>
                                <li><a href="ab-rplm-pfadmin-land-est-area-by-ownership-stat-by-location-chart.axvw" rel="pTask" data-taskId="... Location and Time" data-taskIcon="ab-icon-task.gif">... Location and Time</a></li>
                            </ol>
                            <li class="empty-taskgroup-title">&nbsp;</li>
                            <ol class="process-tasks">
                                <li><a href="ab-repm-pfadmin-land-monthly-capital-trans-by-chart.axvw" rel="pTask" data-taskId="Land Net Capital Cash Flow by Location" data-taskIcon="ab-icon-task.gif">Land Net Capital Cash Flow by Location</a></li>
                            </ol>
                        </ol>
                </div>
            </div>
            <div class="bucket-application " data-productId="AbRPLM" data-activityId="AbRPLMPortfolioAdministration" data-processId="Reports" data-productTitle="Real Estate Portfolio Management" data-activityTitle="Portfolio Management" data-processTitle="Reports" data-subfolder="\ab-products\rplm\pfolio-admin" data-helpLink="\Subsystems\webc\Content\web_user\port_admin\reports\reports_port_admin_over.htm" data-helpSystem="END USER" data-dashboardLayout="" data-dashboardView="" title="" oncontextmenu="return false;" onMouseUp="openPtask(this,event);">
                <h2 class="applications-process-title" title="">
                    <span class="process-title-text">Reports</span>
                </h2>
                <div class="bucket-wrapper" id="wrapper_abrplmportfolioadministration_reports">
                        <ol class="ptask-labels">
                            <li>View Buildings by:</li>
                            <ol class="process-tasks">
                                <li><a href="ab-repm-lsadmin-bl-by-bl-contact.axvw" rel="pTask" data-taskId="-... Primary Contact" data-taskIcon="ab-icon-task.gif">-... Primary Contact</a></li>
                                <li><a href="ab-repm-lsadmin-bl-by-ac.axvw" rel="pTask" data-taskId="-... Account" data-taskIcon="ab-icon-task.gif">-... Account</a></li>
                                <li><a href="ab-repm-pfadmin-bl-by-bl-status.axvw" rel="pTask" data-taskId="... Building Status" data-taskIcon="ab-icon-task.gif">... Building Status</a></li>
                            </ol>
                            <li class="empty-taskgroup-title">&nbsp;</li>
                            <ol class="process-tasks">
                                <li><a href="ab-rplm-pfadmin-bldgs-book-values-report.axvw" rel="pTask" data-taskId="All Buildings and their Book Values" data-taskIcon="ab-icon-task.gif">All Buildings and their Book Values</a></li>
                            </ol>
                            <li>View Amenities by</li>
                            <ol class="process-tasks">
                                <li><a href="ab-repm-lsadmin-amenities-by-prop.axvw" rel="pTask" data-taskId="... Property" data-taskIcon="ab-icon-task.gif">... Property</a></li>
                                <li><a href="ab-repm-lsadmin-amenities-by-bl.axvw" rel="pTask" data-taskId="... Building" data-taskIcon="ab-icon-task.gif">... Building</a></li>
                                <li><a href="ab-repm-lsadmin-amenities-by-ls.axvw" rel="pTask" data-taskId="... Lease" data-taskIcon="ab-icon-task.gif">... Lease</a></li>
                            </ol>
                            <li>View Properties by:</li>
                            <ol class="process-tasks">
                                <li><a href="ab-repm-pfadmin-item-by-location.axvw" rel="pTask" data-taskId="... Location" data-taskIcon="ab-icon-task.gif">... Location</a></li>
                                <li><a href="ab-repm-lsadmin-prop-by-prmry-cont.axvw" rel="pTask" data-taskId="... Primary Contact" data-taskIcon="ab-icon-task.gif">... Primary Contact</a></li>
                                <li><a href="ab-repm-lsadmin-prop-by-ac.axvw" rel="pTask" data-taskId="... Account" data-taskIcon="ab-icon-task.gif">... Account</a></li>
                                <li><a href="ab-repm-pfadmin-prop-by-prop-status.axvw" rel="pTask" data-taskId="... Property Status" data-taskIcon="ab-icon-task.gif">... Property Status</a></li>
                            </ol>
                            <li class="empty-taskgroup-title">&nbsp;</li>
                            <ol class="process-tasks">
                                <li><a href="ab-rplm-pfadmin-props-book-values-report.axvw" rel="pTask" data-taskId="All Properties and their Book Values" data-taskIcon="ab-icon-task.gif">All Properties and their Book Values</a></li>
                                <li><a href="ab-repm-lsadmin-prop-summary.axvw" rel="pTask" data-taskId="All Properties Yearly Financial Summary by Country" data-taskIcon="ab-icon-task.gif">All Properties Yearly Financial Summary by Country</a></li>
                                <li><a href="ab-repm-lsadmin-undev-prop.axvw" rel="pTask" data-taskId="Undeveloped Properties" data-taskIcon="ab-icon-task.gif">Undeveloped Properties</a></li>
                            </ol>
                            <li>Portfolio:</li>
                            <ol class="process-tasks">
                                <li><a href="ab-rplm-pfadmin-investments.axvw" rel="pTask" data-taskId="... Investments" data-taskIcon="ab-icon-task.gif">... Investments</a></li>
                                <li><a href="ab-rplm-pfadmin-sales.axvw" rel="pTask" data-taskId="... Sales" data-taskIcon="ab-icon-task.gif">... Sales</a></li>
                            </ol>
                        </ol>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
$(document).ready(function() {
    $('#navigationTabs').find('a').click(function() {return false;});
    initDandDFavorites();
    setPageDimensions();
    bindTaskContextMenu();
    localizeFavoritesDisplayText();
    loadFavoritesBuckets();
    modifyProcessTitleDisplay();
    pageTallPTaskBuckets();
});
</script>