<div class="nav-pages" id="CleanBuilding">
    <div class="page">
        <div class="page-row full-height" >
            <h3 class="application-title" data-activityId="AbRiskCleanBuilding">Clean Building</h3>
            <hr class="application-horizontal-rule">
            <div id="appProcFavoritesBucket" class="bucket-application bucket-background-light " data-activityId="" data-processId="" oncontextmenu="return false;">
                <h2 class="applications-process-title" data-processId="" title="Most often used tasks and reports.">My Favorites</h2>
                <div class="bucket-wrapper" id="wrapper_ffe2c3ae-16e4-42f7-a5bb-27db5cbdbbe8">
                    <div class="favorites-drop-target">
                        <span class="favorites-add-target"></span>
                        <span class="favorites-delete-target">&nbsp;</span>
                    </div>
                    <div class="favorites" onMouseUp="openPtask(this,event);">
                        <ol class="favorites-items">
                        </ol>
                    </div>
                </div>
            </div>
            <div class="bucket-application " data-productId="AbRisk" data-activityId="AbRiskCleanBuilding" data-processId="BPO - Facilities" data-productTitle="Environmental & Risk Management" data-activityTitle="Clean Building" data-processTitle="Business Process Owner - Facilities" data-subfolder="\ab-products\risk\clean" data-helpLink="\Subsystems\webc\Content\clean\bpo\overview.htm" data-helpSystem="END USER" data-dashboardLayout="" data-dashboardView="" title="" oncontextmenu="return false;" onMouseUp="openPtask(this,event);">
                <h2 class="applications-process-title" title="">
                    <span class="process-title-text">Business Process Owner - Facilities</span>
                </h2>
                <div class="bucket-wrapper" id="wrapper_abriskcleanbuilding_bpoFacilities">
                        <ol class="ptask-labels">
                            <li></li>
                            <ol class="process-tasks">
                                <li><a href="ab-def-geo-loc.axvw" rel="pTask" data-taskId="Define Geographic Locations" data-taskIcon="ab-icon-task.gif">Define Geographic Locations</a></li>
                            </ol>
                            <li class="empty-taskgroup-title">&nbsp;</li>
                            <ol class="process-tasks">
                                <li><a href="ab-sp-def-rmstd.axvw" rel="pTask" data-taskId="Define Room Standards" data-taskIcon="ab-icon-task.gif">Define Room Standards</a></li>
                                <li><a href="ab-sp-def-rmcat-rmtype.axvw" rel="pTask" data-taskId="Define Room Categories and Types" data-taskIcon="ab-icon-task.gif">Define Room Categories and Types</a></li>
                                <li><a href="ab-sp-def-org.axvw" rel="pTask" data-taskId="Define Organizations" data-taskIcon="ab-icon-task.gif">Define Organizations</a></li>
                            </ol>
                            <li class="empty-taskgroup-title">&nbsp;</li>
                            <ol class="process-tasks">
                                <li><a href="ab-sp-def-loc-rm.axvw" rel="pTask" data-taskId="Define Room Locations" data-taskIcon="ab-icon-task.gif">Define Room Locations</a></li>
                            </ol>
                        </ol>
                </div>
            </div>
            <div class="bucket-application " data-productId="AbRisk" data-activityId="AbRiskCleanBuilding" data-processId="BPO - Risk" data-productTitle="Environmental & Risk Management" data-activityTitle="Clean Building" data-processTitle="Business Process Owner - Clean Building" data-subfolder="\ab-products\risk\clean" data-helpLink="\Subsystems\webc\Content\clean\bpo_risk\overview.htm" data-helpSystem="END USER" data-dashboardLayout="" data-dashboardView="" title="" oncontextmenu="return false;" onMouseUp="openPtask(this,event);">
                <h2 class="applications-process-title" title="">
                    <span class="process-title-text">Business Process Owner - Clean Building</span>
                </h2>
                <div class="bucket-wrapper" id="wrapper_abriskcleanbuilding_bpoRisk">
                        <ol class="ptask-labels">
                            <li></li>
                            <ol class="process-tasks">
                                <li><a href="ab-cb-def-subs.axvw" rel="pTask" data-taskId="Define Hazardous Substances" data-taskIcon="ab-icon-task.gif">Define Hazardous Substances</a></li>
                                <li><a href="ab-cb-def-hcm.axvw" rel="pTask" data-taskId="Define Hazard-Containing Materials" data-taskIcon="ab-icon-task.gif">Define Hazard-Containing Materials</a></li>
                                <li><a href="ab-cb-def-hcm-loc.axvw" rel="pTask" data-taskId="Define Material Location Types" data-taskIcon="ab-icon-task.gif">Define Material Location Types</a></li>
                                <li><a href="ab-cb-def-hcm-cond.axvw" rel="pTask" data-taskId="Define Material Conditions" data-taskIcon="ab-icon-task.gif">Define Material Conditions</a></li>
                                <li><a href="ab-cb-def-hcm-class.axvw" rel="pTask" data-taskId="Define Material Classifications" data-taskIcon="ab-icon-task.gif">Define Material Classifications</a></li>
                                <li><a href="ab-cb-def-units.axvw" rel="pTask" data-taskId="Define Material Units" data-taskIcon="ab-icon-task.gif">Define Material Units</a></li>
                            </ol>
                            <li class="empty-taskgroup-title">&nbsp;</li>
                            <ol class="process-tasks">
                                <li><a href="ab-cb-def-samp-comp.axvw" rel="pTask" data-taskId="Define Material Sample Composition" data-taskIcon="ab-icon-task.gif">Define Material Sample Composition</a></li>
                                <li><a href="ab-cb-def-samp-lab.axvw" rel="pTask" data-taskId="Define Material Testing Laboratories" data-taskIcon="ab-icon-task.gif">Define Material Testing Laboratories</a></li>
                            </ol>
                            <li class="empty-taskgroup-title">&nbsp;</li>
                            <ol class="process-tasks">
                                <li><a href="ab-cb-def-haz-rank.axvw" rel="pTask" data-taskId="Define Hazard Ranks" data-taskIcon="ab-icon-task.gif">Define Hazard Ranks</a></li>
                                <li><a href="ab-cb-def-haz-rating.axvw" rel="pTask" data-taskId="Define Hazard Ratings" data-taskIcon="ab-icon-task.gif">Define Hazard Ratings</a></li>
                                <li><a href="ab-cb-def-haz-response.axvw" rel="pTask" data-taskId="Define Hazard Responses" data-taskIcon="ab-icon-task.gif">Define Hazard Responses</a></li>
                                <li><a href="ab-cb-def-haz-status.axvw" rel="pTask" data-taskId="Define Hazard Statuses" data-taskIcon="ab-icon-task.gif">Define Hazard Statuses</a></li>
                                <li><a href="ab-cb-def-abate-reason.axvw" rel="pTask" data-taskId="Define Abatement Reasons" data-taskIcon="ab-icon-task.gif">Define Abatement Reasons</a></li>
                            </ol>
                            <li class="empty-taskgroup-title">&nbsp;</li>
                            <ol class="process-tasks">
                                <li><a href="ab-cb-def-accr-type.axvw" rel="pTask" data-taskId="Define Hazard Accreditation Types" data-taskIcon="ab-icon-task.gif">Define Hazard Accreditation Types</a></li>
                                <li><a href="ab-cb-def-accr-src.axvw" rel="pTask" data-taskId="Define Hazard Accreditation Sources" data-taskIcon="ab-icon-task.gif">Define Hazard Accreditation Sources</a></li>
                                <li><a href="ab-cb-def-accr.axvw" rel="pTask" data-taskId="Define Hazard Professionals" data-taskIcon="ab-icon-task.gif">Define Hazard Professionals</a></li>
                            </ol>
                            <li class="empty-taskgroup-title">&nbsp;</li>
                            <ol class="process-tasks">
                                <li><a href="ab-cb-def-activitytype.axvw" rel="pTask" data-taskId="Define Hazard Action Types" data-taskIcon="ab-icon-task.gif">Define Hazard Action Types</a></li>
                                <li><a href="ab-cb-def-probtype.axvw" rel="pTask" data-taskId="Define Hazard Problem Types" data-taskIcon="ab-icon-task.gif">Define Hazard Problem Types</a></li>
                            </ol>
                        </ol>
                </div>
            </div>
            <div class="bucket-application " data-productId="AbRisk" data-activityId="AbRiskCleanBuilding" data-processId="Environmental Project Manager" data-productTitle="Environmental & Risk Management" data-activityTitle="Clean Building" data-processTitle="Environmental Project Manager" data-subfolder="\ab-products\risk\clean" data-helpLink="\Subsystems\webc\Content\clean\proj_manager\overview.htm" data-helpSystem="END USER" data-dashboardLayout="" data-dashboardView="" title="" oncontextmenu="return false;" onMouseUp="openPtask(this,event);">
                <h2 class="applications-process-title" title="">
                    <span class="process-title-text">Environmental Project Manager</span>
                </h2>
                <div class="bucket-wrapper" id="wrapper_abriskcleanbuilding_environmentalProjectManager">
                        <ol class="ptask-labels">
                            <li></li>
                            <ol class="process-tasks">
                                <li><a href="ab-ca-def-cont.axvw" rel="pTask" data-taskId="Define Contacts" data-taskIcon="ab-icon-task.gif">Define Contacts</a></li>
                                <li><a href="ab-common-def-em.axvw" rel="pTask" data-taskId="Define Employees" data-taskIcon="ab-icon-task.gif">Define Employees</a></li>
                                <li><a href="ab-vn-edit.axvw" rel="pTask" data-taskId="Define Vendors" data-taskIcon="ab-icon-task.gif">Define Vendors</a></li>
                                <li><a href="ab-def-comm-types.axvw" rel="pTask" data-taskId="Define Communication Types" data-taskIcon="ab-icon-task.gif">Define Communication Types</a></li>
                            </ol>
                            <li class="empty-taskgroup-title">&nbsp;</li>
                            <ol class="process-tasks">
                                <li><a href="ab-cb-def-prj.axvw" rel="pTask" data-taskId="Define Projects" data-taskIcon="ab-icon-task.gif">Define Projects</a></li>
                            </ol>
                        </ol>
                </div>
            </div>
            <div class="bucket-application " data-productId="AbRisk" data-activityId="AbRiskCleanBuilding" data-processId="Environmental Hazard Manager" data-productTitle="Environmental & Risk Management" data-activityTitle="Clean Building" data-processTitle="Environmental Hazard Manager" data-subfolder="\ab-products\risk\clean" data-helpLink="\Subsystems\webc\Content\clean\haz_manager\overview.htm" data-helpSystem="END USER" data-dashboardLayout="" data-dashboardView="" title="" oncontextmenu="return false;" onMouseUp="openPtask(this,event);">
                <h2 class="applications-process-title" title="">
                    <span class="process-title-text">Environmental Hazard Manager</span>
                </h2>
                <div class="bucket-wrapper" id="wrapper_abriskcleanbuilding_environmentalHazardManager">
                        <ol class="ptask-labels">
                            <li></li>
                            <ol class="process-tasks">
                                <li><a href="ab-cb-activity-items.axvw" rel="pTask" data-taskId="Manage Project Activity Items" data-taskIcon="ab-icon-task.gif">Manage Project Activity Items</a></li>
                                <li><a href="ab-cb-assess-items.axvw" rel="pTask" data-taskId="Manage Hazard Assessment Items" data-taskIcon="ab-icon-task.gif">Manage Hazard Assessment Items</a></li>
                            </ol>
                            <li class="empty-taskgroup-title">&nbsp;</li>
                            <ol class="process-tasks">
                                <li><a href="ab-cb-rpt-loc.axvw" rel="pTask" data-taskId="View Locations" data-taskIcon="ab-icon-task.gif">View Locations</a></li>
                                <li><a href="ab-cb-rpt-locs.axvw" rel="pTask" data-taskId="View Locations Drill-down" data-taskIcon="ab-icon-task.gif">View Locations Drill-down</a></li>
                                <li><a href="ab-cb-rpt-assess-loc.axvw" rel="pTask" data-taskId="View Assessment Items by Location" data-taskIcon="ab-icon-task.gif">View Assessment Items by Location</a></li>
                            </ol>
                        </ol>
                </div>
            </div>
        </div>
        <div class="page-row full-height" >
            <h3 class="application-title" data-activityId="AbRiskCleanBuilding">Clean Building</h3>
            <hr class="application-horizontal-rule">
            <div class="bucket-application " data-productId="AbRisk" data-activityId="AbRiskCleanBuilding" data-processId="Field Assessor" data-productTitle="Environmental & Risk Management" data-activityTitle="Clean Building" data-processTitle="Field Assessor" data-subfolder="\ab-products\risk\clean" data-helpLink="\Subsystems\webc\Content\clean\field\overview.htm" data-helpSystem="END USER" data-dashboardLayout="" data-dashboardView="" title="" oncontextmenu="return false;" onMouseUp="openPtask(this,event);">
                <h2 class="applications-process-title" title="">
                    <span class="process-title-text">Field Assessor</span>
                </h2>
                <div class="bucket-wrapper" id="wrapper_abriskcleanbuilding_fieldAssessor">
                        <ol class="ptask-labels">
                            <li></li>
                            <ol class="process-tasks">
                                <li><a href="ab-cb-my-activity-items.axvw" rel="pTask" data-taskId="Manage My Project Activity Items" data-taskIcon="ab-icon-task.gif">Manage My Project Activity Items</a></li>
                                <li><a href="ab-cb-my-assess-items.axvw" rel="pTask" data-taskId="Manage My Hazard Assessment Items" data-taskIcon="ab-icon-task.gif">Manage My Hazard Assessment Items</a></li>
                            </ol>
                            <li class="empty-taskgroup-title">&nbsp;</li>
                            <ol class="process-tasks">
                                <li><a href="ab-cb-rpt-my-loc.axvw" rel="pTask" data-taskId="View Locations" data-taskIcon="ab-icon-task.gif">View Locations</a></li>
                                <li><a href="ab-cb-rpt-my-locs.axvw" rel="pTask" data-taskId="View Locations Drill-down" data-taskIcon="ab-icon-task.gif">View Locations Drill-down</a></li>
                                <li><a href="ab-cb-rpt-assess-loc.axvw" rel="pTask" data-taskId="View Assessment Items by Location" data-taskIcon="ab-icon-task.gif">View Assessment Items by Location</a></li>
                                <li><a href="ab-cb-rpt-hl-haz.axvw" rel="pTask" data-taskId="Hazard Areas and Assessment Items" data-taskIcon="ab-icon-task.gif">Hazard Areas and Assessment Items</a></li>
                            </ol>
                        </ol>
                </div>
            </div>
            <div class="bucket-application " data-productId="AbRisk" data-activityId="AbRiskCleanBuilding" data-processId="Abatement Worker" data-productTitle="Environmental & Risk Management" data-activityTitle="Clean Building" data-processTitle="Abatement Worker" data-subfolder="\ab-products\risk\clean" data-helpLink="\Subsystems\webc\Content\clean\abatement\overview.htm" data-helpSystem="END USER" data-dashboardLayout="" data-dashboardView="" title="" oncontextmenu="return false;" onMouseUp="openPtask(this,event);">
                <h2 class="applications-process-title" title="">
                    <span class="process-title-text">Abatement Worker</span>
                </h2>
                <div class="bucket-wrapper" id="wrapper_abriskcleanbuilding_abatementWorker">
                        <ol class="ptask-labels">
                            <li></li>
                            <ol class="process-tasks">
                                <li><a href="ab-cb-my-abate-reqs.axvw" rel="pTask" data-taskId="Manage My Abatement Activity Items" data-taskIcon="ab-icon-task.gif">Manage My Abatement Activity Items</a></li>
                                <li><a href="ab-cb-my-abate-items.axvw" rel="pTask" data-taskId="Manage My Hazard Abatement Items" data-taskIcon="ab-icon-task.gif">Manage My Hazard Abatement Items</a></li>
                            </ol>
                            <li class="empty-taskgroup-title">&nbsp;</li>
                            <ol class="process-tasks">
                                <li><a href="ab-cb-rpt-my-loc.axvw" rel="pTask" data-taskId="View Locations" data-taskIcon="ab-icon-task.gif">View Locations</a></li>
                                <li><a href="ab-cb-rpt-my-locs.axvw" rel="pTask" data-taskId="View Locations Drill-down" data-taskIcon="ab-icon-task.gif">View Locations Drill-down</a></li>
                                <li><a href="ab-cb-rpt-assess-loc.axvw" rel="pTask" data-taskId="View Assessment Items by Location" data-taskIcon="ab-icon-task.gif">View Assessment Items by Location</a></li>
                                <li><a href="ab-cb-rpt-hl-haz.axvw" rel="pTask" data-taskId="Hazard Areas and Assessment Items" data-taskIcon="ab-icon-task.gif">Hazard Areas and Assessment Items</a></li>
                            </ol>
                        </ol>
                </div>
            </div>
            <div class="bucket-application " data-productId="AbRisk" data-activityId="AbRiskCleanBuilding" data-processId="Operational Reports" data-productTitle="Environmental & Risk Management" data-activityTitle="Clean Building" data-processTitle="Operational Reports" data-subfolder="\ab-products\risk\clean" data-helpLink="\Subsystems\webc\Content\clean\operational_reports\overview.htm" data-helpSystem="END USER" data-dashboardLayout="" data-dashboardView="" title="" oncontextmenu="return false;" onMouseUp="openPtask(this,event);">
                <h2 class="applications-process-title" title="">
                    <span class="process-title-text">Operational Reports</span>
                </h2>
                <div class="bucket-wrapper" id="wrapper_abriskcleanbuilding_operationalReports">
                        <ol class="ptask-labels">
                            <li></li>
                            <ol class="process-tasks">
                                <li><a href="ab-cb-rpt-summary.axvw" rel="pTask" data-taskId="Hazard Assessment Items Summary" data-taskIcon="ab-icon-task.gif">Hazard Assessment Items Summary</a></li>
                                <li><a href="ab-cb-rpt-scoreboard.axvw" rel="pTask" data-taskId="Hazard Assessment Scoreboard" data-taskIcon="ab-icon-task.gif">Hazard Assessment Scoreboard</a></li>
                                <li><a href="ab-cb-rpt-assess-loc.axvw" rel="pTask" data-taskId="Hazard Assessment Items by Location" data-taskIcon="ab-icon-task.gif">Hazard Assessment Items by Location</a></li>
                                <li><a href="ab-cb-rpt-drilldown.axvw" rel="pTask" data-taskId="Hazard Assessments by Location Drill-down" data-taskIcon="ab-icon-task.gif">Hazard Assessments by Location Drill-down</a></li>
                                <li><a href="ab-cb-rpt-assess-all.axvw" rel="pTask" data-taskId="All Hazard Assessment Items" data-taskIcon="ab-icon-task.gif">All Hazard Assessment Items</a></li>
                                <li><a href="ab-cb-rpt-act-summary.axvw" rel="pTask" data-taskId="Project Activity Summary" data-taskIcon="ab-icon-task.gif">Project Activity Summary</a></li>
                                <li><a href="ab-cb-rpt-comm-log.axvw" rel="pTask" data-taskId="Communications Log" data-taskIcon="ab-icon-task.gif">Communications Log</a></li>
                            </ol>
                            <li>Drawings</li>
                            <ol class="process-tasks">
                                <li><a href="ab-cb-rpt-hl-bl-rm-prj.axvw" rel="pTask" data-taskId="Buildings and Rooms by Project" data-taskIcon="ab-icon-task.gif">Buildings and Rooms by Project</a></li>
                                <li><a href="ab-cb-rpt-hl-bl-rm.axvw" rel="pTask" data-taskId="Buildings and Rooms with Assessments" data-taskIcon="ab-icon-task.gif">Buildings and Rooms with Assessments</a></li>
                                <li><a href="ab-cb-rpt-hl-fl.axvw" rel="pTask" data-taskId="Floor Plans with Hazard Assessments" data-taskIcon="ab-icon-task.gif">Floor Plans with Hazard Assessments</a></li>
                                <li><a href="ab-cb-rpt-hl-haz.axvw" rel="pTask" data-taskId="Hazard Areas and Assessment Items" data-taskIcon="ab-icon-task.gif">Hazard Areas and Assessment Items</a></li>
                                <li><a href="ab-cb-rpt-haz-bl-map.axvw" rel="pTask" data-taskId="Hazard Assessments by Building Map" data-taskIcon="ab-icon-task.gif">Hazard Assessments by Building Map</a></li>
                            </ol>
                        </ol>
                </div>
            </div>
            <div class="bucket-application " data-productId="AbRisk" data-activityId="AbRiskCleanBuilding" data-processId="Management Reports" data-productTitle="Environmental & Risk Management" data-activityTitle="Clean Building" data-processTitle="Management Reports" data-subfolder="\ab-products\risk\clean" data-helpLink="\Subsystems\webc\Content\clean\management_reports\overview.htm" data-helpSystem="END USER" data-dashboardLayout="" data-dashboardView="" title="" oncontextmenu="return false;" onMouseUp="openPtask(this,event);">
                <h2 class="applications-process-title" title="">
                    <span class="process-title-text">Management Reports</span>
                </h2>
                <div class="bucket-wrapper" id="wrapper_abriskcleanbuilding_managementReports">
                        <ol class="ptask-labels">
                            <li></li>
                            <ol class="process-tasks">
                                <li><a href="ab-cb-rpt-summary-chart.axvw" rel="pTask" data-taskId="Hazard Assessment Summary Chart" data-taskIcon="ab-icon-task.gif">Hazard Assessment Summary Chart</a></li>
                                <li><a href="ab-cb-rpt-scoreboard.axvw" rel="pTask" data-taskId="Hazard Assessment Scoreboard" data-taskIcon="ab-icon-task.gif">Hazard Assessment Scoreboard</a></li>
                                <li><a href="ab-cb-rpt-summary.axvw" rel="pTask" data-taskId="Hazard Assessment Items Summary" data-taskIcon="ab-icon-task.gif">Hazard Assessment Items Summary</a></li>
                                <li><a href="ab-cb-rpt-drilldown.axvw" rel="pTask" data-taskId="Hazard Assessments by Location Drill-down" data-taskIcon="ab-icon-task.gif">Hazard Assessments by Location Drill-down</a></li>
                                <li><a href="ab-cb-rpt-tot-compare.axvw" rel="pTask" data-taskId="Hazard Assessment Count by Location" data-taskIcon="ab-icon-task.gif">Hazard Assessment Count by Location</a></li>
                                <li><a href="ab-cb-rpt-tot-by-year.axvw" rel="pTask" data-taskId="Hazard Assessment Count by Year" data-taskIcon="ab-icon-task.gif">Hazard Assessment Count by Year</a></li>
                                <li><a href="ab-cb-rpt-tot-by-year-compare.axvw" rel="pTask" data-taskId="Hazard Assessment Count by Location/Year" data-taskIcon="ab-icon-task.gif">Hazard Assessment Count by Location/Year</a></li>
                                <li><a href="ab-cb-rpt-cost-by-prj.axvw" rel="pTask" data-taskId="Hazard Assessment Costs by Project" data-taskIcon="ab-icon-task.gif">Hazard Assessment Costs by Project</a></li>
                            </ol>
                            <li>Drawings</li>
                            <ol class="process-tasks">
                                <li><a href="ab-cb-rpt-hl-bl-rm-prj.axvw" rel="pTask" data-taskId="Buildings and Rooms by Project" data-taskIcon="ab-icon-task.gif">Buildings and Rooms by Project</a></li>
                                <li><a href="ab-cb-rpt-hl-bl-rm.axvw" rel="pTask" data-taskId="Buildings and Rooms with Assessments" data-taskIcon="ab-icon-task.gif">Buildings and Rooms with Assessments</a></li>
                                <li><a href="ab-cb-rpt-hl-fl.axvw" rel="pTask" data-taskId="Floor Plans with Hazard Assessments" data-taskIcon="ab-icon-task.gif">Floor Plans with Hazard Assessments</a></li>
                                <li><a href="ab-cb-rpt-haz-bl-map.axvw" rel="pTask" data-taskId="Hazard Assessments by Building Map" data-taskIcon="ab-icon-task.gif">Hazard Assessments by Building Map</a></li>
                            </ol>
                        </ol>
                </div>
            </div>
            <div class="bucket-application " data-productId="AbRisk" data-activityId="AbRiskCleanBuilding" data-processId="Business Process Owner Reports" data-productTitle="Environmental & Risk Management" data-activityTitle="Clean Building" data-processTitle="Business Process Owner Reports" data-subfolder="\ab-products\risk\clean" data-helpLink="\Subsystems\webc\Content\clean\bpo_risk\overview.htm" data-helpSystem="END USER" data-dashboardLayout="" data-dashboardView="" title="" oncontextmenu="return false;" onMouseUp="openPtask(this,event);">
                <h2 class="applications-process-title" title="">
                    <span class="process-title-text">Business Process Owner Reports</span>
                </h2>
                <div class="bucket-wrapper" id="wrapper_abriskcleanbuilding_businessProcessOwnerReports">
                        <ol class="ptask-labels">
                            <li></li>
                            <ol class="process-tasks">
                                <li><a href="ab-cb-rpt-subs.axvw" rel="pTask" data-taskId="Hazardous Substances" data-taskIcon="ab-icon-task.gif">Hazardous Substances</a></li>
                                <li><a href="ab-cb-rpt-hcm.axvw" rel="pTask" data-taskId="Hazard-Containing Materials" data-taskIcon="ab-icon-task.gif">Hazard-Containing Materials</a></li>
                                <li><a href="ab-cb-rpt-hcm-loc.axvw" rel="pTask" data-taskId="Material Location Types" data-taskIcon="ab-icon-task.gif">Material Location Types</a></li>
                                <li><a href="ab-cb-rpt-hcm-cond.axvw" rel="pTask" data-taskId="Material Conditions" data-taskIcon="ab-icon-task.gif">Material Conditions</a></li>
                                <li><a href="ab-cb-rpt-hcm-class.axvw" rel="pTask" data-taskId="Material Classifications" data-taskIcon="ab-icon-task.gif">Material Classifications</a></li>
                                <li><a href="ab-cb-rpt-units.axvw" rel="pTask" data-taskId="Material Units" data-taskIcon="ab-icon-task.gif">Material Units</a></li>
                            </ol>
                            <li class="empty-taskgroup-title">&nbsp;</li>
                            <ol class="process-tasks">
                                <li><a href="ab-cb-rpt-samp-comp.axvw" rel="pTask" data-taskId="Material Sample Composition" data-taskIcon="ab-icon-task.gif">Material Sample Composition</a></li>
                                <li><a href="ab-cb-rpt-samp-lab.axvw" rel="pTask" data-taskId="Material Testing Laboratories" data-taskIcon="ab-icon-task.gif">Material Testing Laboratories</a></li>
                            </ol>
                            <li class="empty-taskgroup-title">&nbsp;</li>
                            <ol class="process-tasks">
                                <li><a href="ab-cb-rpt-haz-rank.axvw" rel="pTask" data-taskId="Hazard Ranks" data-taskIcon="ab-icon-task.gif">Hazard Ranks</a></li>
                                <li><a href="ab-cb-rpt-haz-rating.axvw" rel="pTask" data-taskId="Hazard Ratings" data-taskIcon="ab-icon-task.gif">Hazard Ratings</a></li>
                                <li><a href="ab-cb-rpt-haz-response.axvw" rel="pTask" data-taskId="Hazard Responses" data-taskIcon="ab-icon-task.gif">Hazard Responses</a></li>
                                <li><a href="ab-cb-rpt-haz-status.axvw" rel="pTask" data-taskId="Hazard Statuses" data-taskIcon="ab-icon-task.gif">Hazard Statuses</a></li>
                                <li><a href="ab-cb-rpt-abate-reason.axvw" rel="pTask" data-taskId="Abatement Reasons" data-taskIcon="ab-icon-task.gif">Abatement Reasons</a></li>
                            </ol>
                            <li class="empty-taskgroup-title">&nbsp;</li>
                            <ol class="process-tasks">
                                <li><a href="ab-cb-rpt-accr-type.axvw" rel="pTask" data-taskId="Hazard Accreditation Types" data-taskIcon="ab-icon-task.gif">Hazard Accreditation Types</a></li>
                                <li><a href="ab-cb-rpt-accr-src.axvw" rel="pTask" data-taskId="Hazard Accreditation Sources" data-taskIcon="ab-icon-task.gif">Hazard Accreditation Sources</a></li>
                                <li><a href="ab-cb-rpt-accr.axvw" rel="pTask" data-taskId="Hazard Professionals" data-taskIcon="ab-icon-task.gif">Hazard Professionals</a></li>
                            </ol>
                            <li class="empty-taskgroup-title">&nbsp;</li>
                            <ol class="process-tasks">
                                <li><a href="ab-cb-rpt-activitytype.axvw" rel="pTask" data-taskId="Hazard Action Types" data-taskIcon="ab-icon-task.gif">Hazard Action Types</a></li>
                                <li><a href="ab-cb-rpt-probtype.axvw" rel="pTask" data-taskId="Hazard Problem Types" data-taskIcon="ab-icon-task.gif">Hazard Problem Types</a></li>
                            </ol>
                        </ol>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
$(document).ready(function() {
    $('#navigationTabs').find('a').click(function() {return false;});
    initDandDFavorites();
    setPageDimensions();
    bindTaskContextMenu();
    localizeFavoritesDisplayText();
    loadFavoritesBuckets();
    modifyProcessTitleDisplay();
    pageTallPTaskBuckets();
});
</script>