<div class="nav-pages" id="UsFederalPropertyRegistry">
    <div class="page">
        <div class="page-row full-height" >
            <h3 class="application-title" data-activityId="AbRPLMGovPropertyRegistry">US Federal Property Registry</h3>
            <hr class="application-horizontal-rule">
            <div id="appProcFavoritesBucket" class="bucket-application bucket-background-light " data-activityId="" data-processId="" oncontextmenu="return false;">
                <h2 class="applications-process-title" data-processId="" title="Most often used tasks and reports.">My Favorites</h2>
                <div class="bucket-wrapper" id="wrapper_fed4d1fa-9873-4ccf-b48a-7b65ed9be0b4">
                    <div class="favorites-drop-target">
                        <span class="favorites-add-target"></span>
                        <span class="favorites-delete-target">&nbsp;</span>
                    </div>
                    <div class="favorites" onMouseUp="openPtask(this,event);">
                        <ol class="favorites-items">
                        </ol>
                    </div>
                </div>
            </div>
            <div class="bucket-application " data-productId="AbRPLM" data-activityId="AbRPLMGovPropertyRegistry" data-processId="Business Process Owner" data-productTitle="Real Estate Portfolio Management" data-activityTitle="US Federal Property Registry" data-processTitle="Business Process Owner" data-subfolder="\ab-products\rplm\gov-prop-reg" data-helpLink="\Subsystems\webc\Content\fim\gov_prop_reg\bpr_over.htm" data-helpSystem="END USER" data-dashboardLayout="" data-dashboardView="" title="" oncontextmenu="return false;" onMouseUp="openPtask(this,event);">
                <h2 class="applications-process-title" title="">
                    <span class="process-title-text">Business Process Owner</span>
                </h2>
                <div class="bucket-wrapper" id="wrapper_abrplmgovpropertyregistry_businessProcessOwner">
                        <ol class="ptask-labels">
                            <li></li>
                            <ol class="process-tasks">
                                <li><a href="ab-rplm-gvmnt-manage-rp-inventory.axvw" rel="pTask" data-taskId="Manage Real Property Inventory" data-taskIcon="ab-icon-task.gif">Manage Real Property Inventory</a></li>
                                <li><a href="ab-rplm-gvmnt-rp-add-new-prop.axvw" rel="pTask" data-taskId="Add New Property" data-taskIcon="ab-icon-task.gif">Add New Property</a></li>
                                <li><a href="ab-rplm-gvmnt-rp-trans-by-requestor-report.axvw" rel="pTask" data-taskId="Transactions by Requestor" data-taskIcon="ab-icon-task.gif">Transactions by Requestor</a></li>
                                <li><a href="ab-rplm-gvmnt-rp-trans-by-unique-id-report.axvw" rel="pTask" data-taskId="Transactions by Property Asset Unique Identifier" data-taskIcon="ab-icon-task.gif">Transactions by Property Asset Unique Identifier</a></li>
                            </ol>
                            <li class="empty-taskgroup-title">&nbsp;</li>
                            <ol class="process-tasks">
                                <li><a href="ab-rplm-gvmnt-rp-add-prop-use.axvw" rel="pTask" data-taskId="Add Property Use" data-taskIcon="ab-icon-task.gif">Add Property Use</a></li>
                                <li><a href="ab-rplm-gvmnt-rp-add-agency-bureau.axvw" rel="pTask" data-taskId="Add Agency Bureau" data-taskIcon="ab-icon-task.gif">Add Agency Bureau</a></li>
                            </ol>
                        </ol>
                </div>
            </div>
            <div class="bucket-application " data-productId="AbRPLM" data-activityId="AbRPLMGovPropertyRegistry" data-processId="Portfolio Manager" data-productTitle="Real Estate Portfolio Management" data-activityTitle="US Federal Property Registry" data-processTitle="Portfolio Manager" data-subfolder="\ab-products\rplm\gov-prop-reg" data-helpLink="\Subsystems\webc\Content\web_user\gov_prop_reg\port_manager.htm" data-helpSystem="END USER" data-dashboardLayout="" data-dashboardView="" title="" oncontextmenu="return false;" onMouseUp="openPtask(this,event);">
                <h2 class="applications-process-title" title="">
                    <span class="process-title-text">Portfolio Manager</span>
                </h2>
                <div class="bucket-wrapper" id="wrapper_abrplmgovpropertyregistry_portfolioManager">
                        <ol class="ptask-labels">
                            <li></li>
                            <ol class="process-tasks">
                                <li><a href="ab-rplm-gvmnt-manage-rp-inventory.axvw" rel="pTask" data-taskId="Manage Real Property Inventory" data-taskIcon="ab-icon-task.gif">Manage Real Property Inventory</a></li>
                                <li><a href="ab-rplm-gvmnt-rp-add-new-prop.axvw" rel="pTask" data-taskId="Add New Property" data-taskIcon="ab-icon-task.gif">Add New Property</a></li>
                                <li><a href="ab-rplm-gvmnt-rp-trans-by-requestor-report.axvw" rel="pTask" data-taskId="Transactions by Requestor" data-taskIcon="ab-icon-task.gif">Transactions by Requestor</a></li>
                                <li><a href="ab-rplm-gvmnt-rp-trans-by-unique-id-report.axvw" rel="pTask" data-taskId="Transactions by Property Asset Unique Identifier" data-taskIcon="ab-icon-task.gif">Transactions by Property Asset Unique Identifier</a></li>
                            </ol>
                        </ol>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
$(document).ready(function() {
    $('#navigationTabs').find('a').click(function() {return false;});
    initDandDFavorites();
    setPageDimensions();
    bindTaskContextMenu();
    localizeFavoritesDisplayText();
    loadFavoritesBuckets();
    modifyProcessTitleDisplay();
    pageTallPTaskBuckets();
});
</script>