<div class="nav-pages" id="EnvironmentalSustainabilityAssessment">
    <div class="page">
        <div class="page-row full-height" >
            <h3 class="application-title" data-activityId="AbRiskES">Environmental Sustainability Assessment</h3>
            <hr class="application-horizontal-rule">
            <div id="appProcFavoritesBucket" class="bucket-application bucket-background-light " data-activityId="" data-processId="" oncontextmenu="return false;">
                <h2 class="applications-process-title" data-processId="" title="Most often used tasks and reports.">My Favorites</h2>
                <div class="bucket-wrapper" id="wrapper_bf4e2c03-57a9-44fc-adf0-e329d3730c39">
                    <div class="favorites-drop-target">
                        <span class="favorites-add-target"></span>
                        <span class="favorites-delete-target">&nbsp;</span>
                    </div>
                    <div class="favorites" onMouseUp="openPtask(this,event);">
                        <ol class="favorites-items">
                        </ol>
                    </div>
                </div>
            </div>
            <div class="bucket-application " data-productId="AbRisk" data-activityId="AbRiskES" data-processId="Business Process Owner" data-productTitle="Environmental & Risk Management" data-activityTitle="Environmental Sustainability Assessment" data-processTitle="Business Process Owner" data-subfolder="\ab-products\risk\env-sust" data-helpLink="\Subsystems\webc\Content\ca\fim\overview.htm" data-helpSystem="END USER" data-dashboardLayout="" data-dashboardView="" title="" oncontextmenu="return false;" onMouseUp="openPtask(this,event);">
                <h2 class="applications-process-title" title="">
                    <span class="process-title-text">Business Process Owner</span>
                </h2>
                <div class="bucket-wrapper" id="wrapper_abriskes_businessProcessOwner">
                        <ol class="ptask-labels">
                            <li></li>
                            <ol class="process-tasks">
                                <li><a href="ab-ca-def-cont.axvw" rel="pTask" data-taskId="Define Contacts" data-taskIcon="ab-icon-task.gif">Define Contacts</a></li>
                                <li><a href="ab-ca-def-prj.axvw" rel="pTask" data-taskId="Define Projects" data-taskIcon="ab-icon-task.gif">Define Projects</a></li>
                                <li><a href="ab-ca-def-class.axvw" rel="pTask" data-taskId="Define Classifications" data-taskIcon="ab-icon-task.gif">Define Classifications</a></li>
                            </ol>
                            <li class="empty-taskgroup-title">&nbsp;</li>
                            <ol class="process-tasks">
                                <li><a href="ab-sp-def-loc-rm.axvw" rel="pTask" data-taskId="Define Locations" data-taskIcon="ab-icon-task.gif">Define Locations</a></li>
                            </ol>
                            <li class="empty-taskgroup-title">&nbsp;</li>
                            <ol class="process-tasks">
                                <li><a href="ab-eq-edit.axvw" rel="pTask" data-taskId="Define Equipment" data-taskIcon="ab-icon-task.gif">Define Equipment</a></li>
                            </ol>
                            <li class="empty-taskgroup-title">&nbsp;</li>
                            <ol class="process-tasks">
                                <li><a href="ab-sp-def-rmstd.axvw" rel="pTask" data-taskId="Define Room Standards" data-taskIcon="ab-icon-task.gif">Define Room Standards</a></li>
                                <li><a href="ab-eqstd-edit.axvw" rel="pTask" data-taskId="Define Equipment Standards" data-taskIcon="ab-icon-task.gif">Define Equipment Standards</a></li>
                                <li><a href="ab-def-prob-desc-code.axvw" rel="pTask" data-taskId="Define Problem Description Codes" data-taskIcon="ab-icon-task.gif">Define Problem Description Codes</a></li>
                            </ol>
                            <li class="empty-taskgroup-title">&nbsp;</li>
                            <ol class="process-tasks">
                                <li><a href="ab-questionnaire-assessment-edit.axvw" rel="pTask" data-taskId="Define Assessment Questionnaires" data-taskIcon="ab-icon-task.gif">Define Assessment Questionnaires</a></li>
                                <li><a href="ab-questionnaire-map-edit.axvw" rel="pTask" data-taskId="Define Questionnaire Mapping" data-taskIcon="ab-icon-task.gif">Define Questionnaire Mapping</a></li>
                                <li><a href="ab-questionnaire-assessment-environment-edit.axvw" rel="pTask" data-taskId="Define Assessment Environment Questionnaires" data-taskIcon="ab-icon-task.gif">Define Assessment Environment Questionnaires</a></li>
                            </ol>
                        </ol>
                </div>
            </div>
            <div class="bucket-application " data-productId="AbRisk" data-activityId="AbRiskES" data-processId="Assessment Manager" data-productTitle="Environmental & Risk Management" data-activityTitle="Environmental Sustainability Assessment" data-processTitle="Assessment Manager" data-subfolder="\ab-products\risk\env-sust" data-helpLink="\Subsystems\webc\Content\ca\web_user\manager\overview.htm" data-helpSystem="END USER" data-dashboardLayout="" data-dashboardView="" title="" oncontextmenu="return false;" onMouseUp="openPtask(this,event);">
                <h2 class="applications-process-title" title="">
                    <span class="process-title-text">Assessment Manager</span>
                </h2>
                <div class="bucket-wrapper" id="wrapper_abriskes_assessmentManager">
                        <ol class="ptask-labels">
                            <li></li>
                            <ol class="process-tasks">
                                <li><a href="ab-ca-mng-ca-itms.axvw" rel="pTask" data-taskId="Manage Sustainability Assessment Items" data-taskIcon="ab-icon-task.gif">Manage Sustainability Assessment Items</a></li>
                            </ol>
                        </ol>
                </div>
            </div>
            <div class="bucket-application " data-productId="AbRisk" data-activityId="AbRiskES" data-processId="Field Assessor" data-productTitle="Environmental & Risk Management" data-activityTitle="Environmental Sustainability Assessment" data-processTitle="Field Assessor" data-subfolder="\ab-products\risk\env-sust" data-helpLink="\Subsystems\webc\Content\ca\web_user\assessor\enter_condition_of_eq_rooms.htm" data-helpSystem="END USER" data-dashboardLayout="" data-dashboardView="" title="" oncontextmenu="return false;" onMouseUp="openPtask(this,event);">
                <h2 class="applications-process-title" title="">
                    <span class="process-title-text">Field Assessor</span>
                </h2>
                <div class="bucket-wrapper" id="wrapper_abriskes_fieldAssessor">
                        <ol class="ptask-labels">
                            <li></li>
                            <ol class="process-tasks">
                                <li><a href="ab-ca-my-ca-itms.axvw" rel="pTask" data-taskId="Manage My Sustainability Assessment Items" data-taskIcon="ab-icon-task.gif">Manage My Sustainability Assessment Items</a></li>
                            </ol>
                        </ol>
                </div>
            </div>
            <div class="bucket-application " data-productId="AbRisk" data-activityId="AbRiskES" data-processId="Operational Reports (Web)" data-productTitle="Environmental & Risk Management" data-activityTitle="Environmental Sustainability Assessment" data-processTitle="Operational Reports" data-subfolder="\ab-products\risk\env-sust" data-helpLink="\Subsystems\webc\Content\ca\reports\reports.htm" data-helpSystem="END USER" data-dashboardLayout="" data-dashboardView="" title="" oncontextmenu="return false;" onMouseUp="openPtask(this,event);">
                <h2 class="applications-process-title" title="">
                    <span class="process-title-text">Operational Reports</span>
                </h2>
                <div class="bucket-wrapper" id="wrapper_abriskes_operationalReportsWeb">
                        <ol class="ptask-labels">
                            <li></li>
                            <ol class="process-tasks">
                                <li><a href="ab-ca-cont-rep.axvw" rel="pTask" data-taskId="Contacts" data-taskIcon="ab-icon-task.gif">Contacts</a></li>
                                <li><a href="ab-ca-prj-rep.axvw" rel="pTask" data-taskId="Projects" data-taskIcon="ab-icon-task.gif">Projects</a></li>
                                <li><a href="ab-ca-class-rep.axvw" rel="pTask" data-taskId="Classifications" data-taskIcon="ab-icon-task.gif">Classifications</a></li>
                                <li><a href="ab-ca-prb-des-cd-rep.axvw" rel="pTask" data-taskId="Problem Description Codes" data-taskIcon="ab-icon-task.gif">Problem Description Codes</a></li>
                            </ol>
                            <li class="empty-taskgroup-title">&nbsp;</li>
                            <ol class="process-tasks">
                                <li><a href="ab-es-scoreboard.axvw" rel="pTask" data-taskId="Scoreboard" data-taskIcon="ab-icon-task.gif">Scoreboard</a></li>
                                <li><a href="ab-es-prj-stat.axvw" rel="pTask" data-taskId="Assessment Project Statistics by Location" data-taskIcon="ab-icon-task.gif">Assessment Project Statistics by Location</a></li>
                            </ol>
                            <li class="empty-taskgroup-title">&nbsp;</li>
                            <ol class="process-tasks">
                                <li><a href="ab-es-by-prj.axvw" rel="pTask" data-taskId="Assessments by Project" data-taskIcon="ab-icon-task.gif">Assessments by Project</a></li>
                                <li><a href="ab-es-w-sust-rt-hg-25.axvw" rel="pTask" data-taskId="Assessments with Sustainability Ratings Greater than 25" data-taskIcon="ab-icon-task.gif">Assessments with Sustainability Ratings Greater than 25</a></li>
                                <li><a href="ab-es-o-energy-usage.axvw" rel="pTask" data-taskId="Open Energy Usage Issues" data-taskIcon="ab-icon-task.gif">Open Energy Usage Issues</a></li>
                                <li><a href="ab-es-active-wr.axvw" rel="pTask" data-taskId="Work Requests Summary by Active Assessment Items" data-taskIcon="ab-icon-task.gif">Work Requests Summary by Active Assessment Items</a></li>
                                <li><a href="ab-es-wr-stat-by-ca-prj.axvw" rel="pTask" data-taskId="Work Requests Status Statistics by Assessment Project" data-taskIcon="ab-icon-task.gif">Work Requests Status Statistics by Assessment Project</a></li>
                            </ol>
                        </ol>
                </div>
            </div>
        </div>
        <div class="page-row full-height" >
            <h3 class="application-title" data-activityId="AbRiskES">Environmental Sustainability Assessment</h3>
            <hr class="application-horizontal-rule">
            <div class="bucket-application " data-productId="AbRisk" data-activityId="AbRiskES" data-processId="Management Reports (Web)" data-productTitle="Environmental & Risk Management" data-activityTitle="Environmental Sustainability Assessment" data-processTitle="Management Reports" data-subfolder="\ab-products\risk\env-sust" data-helpLink="\Subsystems\webc\Content\ca\reports\summary_reports.htm" data-helpSystem="END USER" data-dashboardLayout="" data-dashboardView="" title="" oncontextmenu="return false;" onMouseUp="openPtask(this,event);">
                <h2 class="applications-process-title" title="">
                    <span class="process-title-text">Management Reports</span>
                </h2>
                <div class="bucket-wrapper" id="wrapper_abriskes_managementReportsWeb">
                        <ol class="ptask-labels">
                            <li></li>
                            <ol class="process-tasks">
                                <li><a href="ab-es-unuse-ca-itm-by-pr.axvw" rel="pTask" data-taskId="Unacceptable Assessment Items by Priority" data-taskIcon="ab-icon-task.gif">Unacceptable Assessment Items by Priority</a></li>
                                <li><a href="ab-es-bl-ca-sum.axvw" rel="pTask" data-taskId="Building Sustainability Summary" data-taskIcon="ab-icon-task.gif">Building Sustainability Summary</a></li>
                            </ol>
                            <li>Costs and Ratings by Classification Level 1 by:</li>
                            <ol class="process-tasks">
                                <li><a href="ab-es-bdg-a-rt-cls1-by-rg.axvw" rel="pTask" data-taskId="... Region" data-taskIcon="ab-icon-task.gif">... Region</a></li>
                                <li><a href="ab-es-bdg-a-rt-cls1-by-st.axvw" rel="pTask" data-taskId="... Site" data-taskIcon="ab-icon-task.gif">... Site</a></li>
                                <li><a href="ab-es-bdg-a-rt-cls1-by-bl.axvw" rel="pTask" data-taskId="... Building" data-taskIcon="ab-icon-task.gif">... Building</a></li>
                            </ol>
                            <li>Costs and Ratings by Classification Level 2 by:</li>
                            <ol class="process-tasks">
                                <li><a href="ab-es-bdg-a-rt-cls2-by-st.axvw" rel="pTask" data-taskId="-... Site" data-taskIcon="ab-icon-task.gif">-... Site</a></li>
                                <li><a href="ab-es-bdg-a-rt-cls2-by-bl.axvw" rel="pTask" data-taskId="-... Building" data-taskIcon="ab-icon-task.gif">-... Building</a></li>
                            </ol>
                            <li>Costs and Ratings by Classification Level 3 by:</li>
                            <ol class="process-tasks">
                                <li><a href="ab-es-bdg-a-rt-cls3-by-st.axvw" rel="pTask" data-taskId="--... Site" data-taskIcon="ab-icon-task.gif">--... Site</a></li>
                                <li><a href="ab-es-bdg-a-rt-cls3-by-bl.axvw" rel="pTask" data-taskId="--... Building" data-taskIcon="ab-icon-task.gif">--... Building</a></li>
                            </ol>
                            <li class="empty-taskgroup-title">&nbsp;</li>
                            <ol class="process-tasks">
                                <li><a href="ab-es-eq-ca-by-cls3.axvw" rel="pTask" data-taskId="Equipment Assessments by Classification Level 3" data-taskIcon="ab-icon-task.gif">Equipment Assessments by Classification Level 3</a></li>
                            </ol>
                        </ol>
                </div>
            </div>
            <div class="bucket-application " data-productId="AbRisk" data-activityId="AbRiskES" data-processId="Operational Reports (Dwgs) (Web)" data-productTitle="Environmental & Risk Management" data-activityTitle="Environmental Sustainability Assessment" data-processTitle="Operational Reports (Drawings)" data-subfolder="\ab-products\risk\env-sust" data-helpLink="\Subsystems\webc\Content\ca\reports\highlight_reports.htm" data-helpSystem="END USER" data-dashboardLayout="" data-dashboardView="" title="" oncontextmenu="return false;" onMouseUp="openPtask(this,event);">
                <h2 class="applications-process-title" title="">
                    <span class="process-title-text">Operational Reports (Drawings)</span>
                </h2>
                <div class="bucket-wrapper" id="wrapper_abriskes_operationalReportsDwgsWeb">
                        <ol class="ptask-labels">
                            <li>Highlight Buildings and Rooms with Issues of:</li>
                            <ol class="process-tasks">
                                <li><a href="ab-es-hl-bl-rm-w-energy.axvw" rel="pTask" data-taskId="... Energy" data-taskIcon="ab-icon-task.gif">... Energy</a></li>
                                <li><a href="ab-es-hl-bl-rm-w-emission.axvw" rel="pTask" data-taskId="... Emissions" data-taskIcon="ab-icon-task.gif">... Emissions</a></li>
                                <li><a href="ab-es-hl-bl-rm-w-solid-waste.axvw" rel="pTask" data-taskId="... Solid Waste" data-taskIcon="ab-icon-task.gif">... Solid Waste</a></li>
                                <li><a href="ab-es-hl-bl-rm-w-haz-wast.axvw" rel="pTask" data-taskId="... Hazardous Waste" data-taskIcon="ab-icon-task.gif">... Hazardous Waste</a></li>
                                <li><a href="ab-es-hl-bl-rm-w-chemical.axvw" rel="pTask" data-taskId="... Chemicals" data-taskIcon="ab-icon-task.gif">... Chemicals</a></li>
                            </ol>
                        </ol>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
$(document).ready(function() {
    $('#navigationTabs').find('a').click(function() {return false;});
    initDandDFavorites();
    setPageDimensions();
    bindTaskContextMenu();
    localizeFavoritesDisplayText();
    loadFavoritesBuckets();
    modifyProcessTitleDisplay();
    pageTallPTaskBuckets();
});
</script>