<div class="nav-pages" id="CostChargebackInvoicing">
    <div class="page">
        <div class="page-row full-height" >
            <h3 class="application-title" data-activityId="AbRPLMChargebackInvoice">Cost Chargeback & Invoicing</h3>
            <hr class="application-horizontal-rule">
            <div id="appProcFavoritesBucket" class="bucket-application bucket-background-light " data-activityId="" data-processId="" oncontextmenu="return false;">
                <h2 class="applications-process-title" data-processId="" title="Most often used tasks and reports.">My Favorites</h2>
                <div class="bucket-wrapper" id="wrapper_f3fea4d8-b670-4311-807a-232215be6059">
                    <div class="favorites-drop-target">
                        <span class="favorites-add-target"></span>
                        <span class="favorites-delete-target">&nbsp;</span>
                    </div>
                    <div class="favorites" onMouseUp="openPtask(this,event);">
                        <ol class="favorites-items">
                        </ol>
                    </div>
                </div>
            </div>
            <div class="bucket-application " data-productId="AbRPLM" data-activityId="AbRPLMChargebackInvoice" data-processId="Business Process Owner" data-productTitle="Real Estate Portfolio Management" data-activityTitle="Cost Chargeback & Invoicing" data-processTitle="Business Process Owner" data-subfolder="\ab-products\rplm\costs" data-helpLink="\Subsystems\webc\Content\fim\cb_and_rec\bpo_cb_and_rec.htm" data-helpSystem="END USER" data-dashboardLayout="" data-dashboardView="" title="" oncontextmenu="return false;" onMouseUp="openPtask(this,event);">
                <h2 class="applications-process-title" title="">
                    <span class="process-title-text">Business Process Owner</span>
                </h2>
                <div class="bucket-wrapper" id="wrapper_abrplmchargebackinvoice_businessProcessOwner">
                        <ol class="ptask-labels">
                            <li></li>
                            <ol class="process-tasks">
                                <li><a href="ab-rplm-cost-mgmt-cost-cat-by-cost-class.axvw" rel="pTask" data-taskId="Define Cost Categories by Cost Class" data-taskIcon="ab-icon-task.gif">Define Cost Categories by Cost Class</a></li>
                                <li><a href="ab-rplm-chrbk-def-ls-chrbk-agree.axvw" rel="pTask" data-taskId="Define Lease Chargeback Agreements" data-taskIcon="ab-icon-task.gif">Define Lease Chargeback Agreements</a></li>
                                <li><a href="ab-rplm-chrbk-prorate-ls-area-method.axvw" rel="pTask" data-taskId="Select Lease Area Method" data-taskIcon="ab-icon-task.gif">Select Lease Area Method</a></li>
                                <li><a href="ab-ca-def-cont.axvw" rel="pTask" data-taskId="Define Contacts" data-taskIcon="ab-icon-task.gif">Define Contacts</a></li>
                            </ol>
                            <li class="empty-taskgroup-title">&nbsp;</li>
                            <ol class="process-tasks">
                                <li><a href="ab-rplm-chrbk-view-ls-chrbk-agree.axvw" rel="pTask" data-taskId="View Lease Chargeback Agreements" data-taskIcon="ab-icon-task.gif">View Lease Chargeback Agreements</a></li>
                            </ol>
                            <li class="empty-taskgroup-title">&nbsp;</li>
                            <ol class="process-tasks">
                                <li><a href="ab-rplm-chrbk-def-gp-by-ls.axvw" rel="pTask" data-taskId="Associate Groups with Leases" data-taskIcon="ab-icon-task.gif">Associate Groups with Leases</a></li>
                                <li><a href="ab-rplm-chrbk-def-rm-by-ls.axvw" rel="pTask" data-taskId="Associate Rooms with Leases" data-taskIcon="ab-icon-task.gif">Associate Rooms with Leases</a></li>
                            </ol>
                            <li class="empty-taskgroup-title">&nbsp;</li>
                            <ol class="process-tasks">
                                <li><a href="ab-rplm-chrbk-edit-gp.axvw" rel="pTask" data-taskId="Associate Leases with Groups" data-taskIcon="ab-icon-task.gif">Associate Leases with Groups</a></li>
                                <li><a href="ab-rplm-chrbk-edit-rm.axvw" rel="pTask" data-taskId="Associate Leases with Rooms" data-taskIcon="ab-icon-task.gif">Associate Leases with Rooms</a></li>
                            </ol>
                        </ol>
                </div>
            </div>
            <div class="bucket-application " data-productId="AbRPLM" data-activityId="AbRPLMChargebackInvoice" data-processId="Chargeback Administrator" data-productTitle="Real Estate Portfolio Management" data-activityTitle="Cost Chargeback & Invoicing" data-processTitle="Chargeback Administrator" data-subfolder="\ab-products\rplm\costs" data-helpLink="\Subsystems\webc\Content\web_user\cb_and_rec\cb_admin.htm" data-helpSystem="END USER" data-dashboardLayout="" data-dashboardView="" title="" oncontextmenu="return false;" onMouseUp="openPtask(this,event);">
                <h2 class="applications-process-title" title="">
                    <span class="process-title-text">Chargeback Administrator</span>
                </h2>
                <div class="bucket-wrapper" id="wrapper_abrplmchargebackinvoice_chargebackAdministrator">
                        <ol class="ptask-labels">
                            <li></li>
                            <ol class="process-tasks">
                                <li><a href="ab-rplm-chrbk-costs-wiz.axvw" rel="pTask" data-taskId="Chargeback Cost Wizard" data-taskIcon="ab-icon-task.gif">Chargeback Cost Wizard</a></li>
                            </ol>
                            <li class="empty-taskgroup-title">&nbsp;</li>
                            <ol class="process-tasks">
                                <li><a href="ab-rplm-chrbk-view-ls-chrbk-agree.axvw" rel="pTask" data-taskId="View Lease Chargeback Agreements" data-taskIcon="ab-icon-task.gif">View Lease Chargeback Agreements</a></li>
                            </ol>
                            <li>View Actual Costs by:</li>
                            <ol class="process-tasks">
                                <li><a href="ab-rplm-cost-mgmt-cost-by-ls.axvw" rel="pTask" data-taskId="... Lease" data-taskIcon="ab-icon-task.gif">... Lease</a></li>
                                <li><a href="ab-rplm-cost-mgmt-cost-by-bl.axvw" rel="pTask" data-taskId="... Building" data-taskIcon="ab-icon-task.gif">... Building</a></li>
                                <li><a href="ab-rplm-cost-mgmt-cost-by-prop.axvw" rel="pTask" data-taskId="... Property" data-taskIcon="ab-icon-task.gif">... Property</a></li>
                                <li><a href="ab-rplm-cost-mgmt-cost-by-ac.axvw" rel="pTask" data-taskId="... Account" data-taskIcon="ab-icon-task.gif">... Account</a></li>
                                <li><a href="ab-rplm-chrbk-cost-by-bu.axvw" rel="pTask" data-taskId="... Business Unit" data-taskIcon="ab-icon-task.gif">... Business Unit</a></li>
                                <li><a href="ab-rplm-chrbk-cost-by-dv.axvw" rel="pTask" data-taskId="... Division" data-taskIcon="ab-icon-task.gif">... Division</a></li>
                                <li><a href="ab-rplm-chrbk-cost-by-dp.axvw" rel="pTask" data-taskId="... Department" data-taskIcon="ab-icon-task.gif">... Department</a></li>
                            </ol>
                        </ol>
                </div>
            </div>
            <div class="bucket-application " data-productId="AbRPLM" data-activityId="AbRPLMChargebackInvoice" data-processId="Invoice Administrator" data-productTitle="Real Estate Portfolio Management" data-activityTitle="Cost Chargeback & Invoicing" data-processTitle="Invoice Administrator" data-subfolder="\ab-products\rplm\costs" data-helpLink="\Subsystems\webc\Content\web_user\cb_and_rec\invoice_admin.htm" data-helpSystem="END USER" data-dashboardLayout="" data-dashboardView="" title="" oncontextmenu="return false;" onMouseUp="openPtask(this,event);">
                <h2 class="applications-process-title" title="">
                    <span class="process-title-text">Invoice Administrator</span>
                </h2>
                <div class="bucket-wrapper" id="wrapper_abrplmchargebackinvoice_invoiceAdministrator">
                        <ol class="ptask-labels">
                            <li></li>
                            <ol class="process-tasks">
                                <li><a href="ab-rplm-rcbl-inv-costs-wiz.axvw" rel="pTask" data-taskId="Invoice Cost Wizard" data-taskIcon="ab-icon-task.gif">Invoice Cost Wizard</a></li>
                            </ol>
                            <li class="empty-taskgroup-title">&nbsp;</li>
                            <ol class="process-tasks">
                                <li><a href="ab-rplm-rcbl-inv-dtls.axvw" rel="pTask" data-taskId="View Invoice Details" data-taskIcon="ab-icon-task.gif">View Invoice Details</a></li>
                                <li><a href="ab-rplm-rcbl-ac-rcbl.axvw" rel="pTask" data-taskId="View Accounts Receivable" data-taskIcon="ab-icon-task.gif">View Accounts Receivable</a></li>
                                <li><a href="ab-rplm-rcbl-mng-prepmt.axvw" rel="pTask" data-taskId="Manage Prepayments" data-taskIcon="ab-icon-task.gif">Manage Prepayments</a></li>
                                <li><a href="ab-rplm-rcbl-inv-aging.axvw" rel="pTask" data-taskId="Lease Invoice Aging" data-taskIcon="ab-icon-task.gif">Lease Invoice Aging</a></li>
                            </ol>
                            <li>View Invoices For:</li>
                            <ol class="process-tasks">
                                <li><a href="ab-rplm-rcbl-inv-for-ls.axvw" rel="pTask" data-taskId="... Leases" data-taskIcon="ab-icon-task.gif">... Leases</a></li>
                                <li><a href="ab-rplm-rcbl-inv-for-bl.axvw" rel="pTask" data-taskId="... Buildings" data-taskIcon="ab-icon-task.gif">... Buildings</a></li>
                                <li><a href="ab-rplm-rcbl-inv-for-prop.axvw" rel="pTask" data-taskId="... Properties" data-taskIcon="ab-icon-task.gif">... Properties</a></li>
                                <li><a href="ab-rplm-rcbl-inv-for-ac.axvw" rel="pTask" data-taskId="... Accounts" data-taskIcon="ab-icon-task.gif">... Accounts</a></li>
                            </ol>
                            <li class="empty-taskgroup-title">&nbsp;</li>
                            <ol class="process-tasks">
                                <li><a href="ab-rplm-rcbl-prepmt.axvw" rel="pTask" data-taskId="View Prepayments" data-taskIcon="ab-icon-task.gif">View Prepayments</a></li>
                            </ol>
                        </ol>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
$(document).ready(function() {
    $('#navigationTabs').find('a').click(function() {return false;});
    initDandDFavorites();
    setPageDimensions();
    bindTaskContextMenu();
    localizeFavoritesDisplayText();
    loadFavoritesBuckets();
    modifyProcessTitleDisplay();
    pageTallPTaskBuckets();
});
</script>