<div class="nav-pages" id="UserInterfaceAdd-ins">
    <div class="page">
        <div class="page-row full-height" >
            <h3 class="application-title" data-activityId="AbSolutionsUIAddIns">User Interface Add-Ins</h3>
            <hr class="application-horizontal-rule">
            <div id="appProcFavoritesBucket" class="bucket-application bucket-background-light " data-activityId="" data-processId="" oncontextmenu="return false;">
                <h2 class="applications-process-title" data-processId="" title="Most often used tasks and reports.">My Favorites</h2>
                <div class="bucket-wrapper" id="wrapper_0ad117ba-dec9-4882-ae99-ce6c7dc67f7e">
                    <div class="favorites-drop-target">
                        <span class="favorites-add-target"></span>
                        <span class="favorites-delete-target">&nbsp;</span>
                    </div>
                    <div class="favorites" onMouseUp="openPtask(this,event);">
                        <ol class="favorites-items">
                        </ol>
                    </div>
                </div>
            </div>
            <div class="bucket-application " data-productId="AbSolutionTemplates" data-activityId="AbSolutionsUIAddIns" data-processId="Parts for Reports" data-productTitle="Technologies" data-activityTitle="User Interface Add-Ins" data-processTitle="Parts for Reports" data-subfolder="\ab-products\solutions" data-helpLink="" data-helpSystem="END USER" data-dashboardLayout="" data-dashboardView="" title="" oncontextmenu="return false;" onMouseUp="openPtask(this,event);">
                <h2 class="applications-process-title" title="">
                    <span class="process-title-text">Parts for Reports</span>
                </h2>
                <div class="bucket-wrapper" id="wrapper_absolutionsuiaddins_partsForReports">
                        <ol class="ptask-labels">
                            <li></li>
                            <ol class="process-tasks">
                                <li><a href="ab-ex-report-grid-baseline.axvw" rel="pTask" data-taskId="Report with Grid Panel" data-taskIcon="ab-icon-task.gif">Report with Grid Panel</a></li>
                                <li><a href="ab-ex-report-grid-custom-column-headers.axvw" rel="pTask" data-taskId="Report with Custom Column Titles" data-taskIcon="ab-icon-task.gif">Report with Custom Column Titles</a></li>
                                <li><a href="ab-ex-report-grid-index.axvw" rel="pTask" data-taskId="Report with Grid Panel and Index Drill-down" data-taskIcon="ab-icon-task.gif">Report with Grid Panel and Index Drill-down</a></li>
                                <li><a href="ab-ex-report-grid-two-tables.axvw" rel="pTask" data-taskId="Report with One Lookup Table" data-taskIcon="ab-icon-task.gif">Report with One Lookup Table</a></li>
                                <li><a href="ab-ex-report-grid-multitable.axvw" rel="pTask" data-taskId="Report with Two Lookup Tables" data-taskIcon="ab-icon-task.gif">Report with Two Lookup Tables</a></li>
                                <li><a href="ab-ex-report-grid-rm-restriction.axvw" rel="pTask" data-taskId="Report with Parsed Restriction" data-taskIcon="ab-icon-task.gif">Report with Parsed Restriction</a></li>
                                <li><a href="ab-ex-prg-grid-restrictions.axvw" rel="pTask" data-taskId="Report with Complex Parsed Restriction" data-taskIcon="ab-icon-task.gif">Report with Complex Parsed Restriction</a></li>
                                <li><a href="ab-ex-report-grid-datetime-restriction.axvw" rel="pTask" data-taskId="Report with Date and Time Restriction" data-taskIcon="ab-icon-task.gif">Report with Date and Time Restriction</a></li>
                                <li><a href="ab-ex-report-grid-export.axvw" rel="pTask" data-taskId="Report with DOC, PDF, Excel, and Data Transfer Actions" data-taskIcon="ab-icon-task.gif">Report with DOC, PDF, Excel, and Data Transfer Actions</a></li>
                                <li><a href="ab-ex-dt-activity-log-with-docs.axvw" rel="pTask" data-taskId="Report with Data Transfer of Documents" data-taskIcon="ab-icon-task.gif">Report with Data Transfer of Documents</a></li>
                                <li><a href="ab-ex-report-grid-totals.axvw" rel="pTask" data-taskId="With Totals on Numeric Fields" data-taskIcon="ab-icon-task.gif">With Totals on Numeric Fields</a></li>
                            </ol>
                            <li class="empty-taskgroup-title">&nbsp;</li>
                            <ol class="process-tasks">
                                <li><a href="ab-ex-report-grid-sql.axvw" rel="pTask" data-taskId="Report Based on a Custom SQL Query" data-taskIcon="ab-icon-task.gif">Report Based on a Custom SQL Query</a></li>
                                <li><a href="ab-ex-report-grid-sql-field.axvw" rel="pTask" data-taskId="Report with a Calculated Field" data-taskIcon="ab-icon-task.gif">Report with a Calculated Field</a></li>
                                <li><a href="ab-ex-report-grid-sql-field-in-panel.axvw" rel="pTask" data-taskId="Report with a Calculated Field as Link" data-taskIcon="ab-icon-task.gif">Report with a Calculated Field as Link</a></li>
                                <li><a href="ab-ex-report-grid-sql-field-in-panel.axvw" rel="pTask" data-taskId="Report with a Calculated Field Customized in Panel" data-taskIcon="ab-icon-task.gif">Report with a Calculated Field Customized in Panel</a></li>
                                <li><a href="ab-ex-report-grid-sql-union.axvw" rel="pTask" data-taskId="Report with Two Tables in One Datasource" data-taskIcon="ab-icon-task.gif">Report with Two Tables in One Datasource</a></li>
                                <li><a href="ab-ex-report-grid-personalized-css.axvw" rel="pTask" data-taskId="Report with Personalized Stylesheet" data-taskIcon="ab-icon-task.gif">Report with Personalized Stylesheet</a></li>
                            </ol>
                            <li class="empty-taskgroup-title">&nbsp;</li>
                            <ol class="process-tasks">
                                <li><a href="ab-ex-report-grid-row-buttons.axvw" rel="pTask" data-taskId="Per-row Action Buttons" data-taskIcon="ab-icon-task.gif">Per-row Action Buttons</a></li>
                                <li><a href="ab-ex-report-grid-row-action.axvw" rel="pTask" data-taskId="Per-row Events" data-taskIcon="ab-icon-task.gif">Per-row Events</a></li>
                                <li><a href="ab-ex-report-grid-row-workflow-rules.axvw" rel="pTask" data-taskId="Per-row Workflow Rule Invocation" data-taskIcon="ab-icon-task.gif">Per-row Workflow Rule Invocation</a></li>
                                <li><a href="ab-ex-report-grid-multiselect-buttons.axvw" rel="pTask" data-taskId="Selecting Multiple Rows" data-taskIcon="ab-icon-task.gif">Selecting Multiple Rows</a></li>
                                <li><a href="ab-ex-report-panel-workflow-rule.axvw" rel="pTask" data-taskId="Running a Workflow Rule from a Panel Action" data-taskIcon="ab-icon-task.gif">Running a Workflow Rule from a Panel Action</a></li>
                                <li><a href="ab-ex-report-grid-multiselect-workflow-rules.axvw" rel="pTask" data-taskId="Running a Workflow Rule on Multiple Rows" data-taskIcon="ab-icon-task.gif">Running a Workflow Rule on Multiple Rows</a></li>
                            </ol>
                            <li class="empty-taskgroup-title">&nbsp;</li>
                            <ol class="process-tasks">
                                <li><a href="ab-ex-report-grid-index-large.axvw" rel="pTask" data-taskId="Report with Large Number of Records" data-taskIcon="ab-icon-task.gif">Report with Large Number of Records</a></li>
                                <li><a href="ab-ex-report-grid-multiple-pkeys.axvw" rel="pTask" data-taskId="Report with Multi-part Primary Keys" data-taskIcon="ab-icon-task.gif">Report with Multi-part Primary Keys</a></li>
                            </ol>
                            <li class="empty-taskgroup-title">&nbsp;</li>
                            <ol class="process-tasks">
                                <li><a href="ab-ex-report-grid-currency.axvw" rel="pTask" data-taskId="Report With Currency Expressions" data-taskIcon="ab-icon-task.gif">Report With Currency Expressions</a></li>
                                <li><a href="ab-ex-report-grid-units.axvw" rel="pTask" data-taskId="Report With Area Fields" data-taskIcon="ab-icon-task.gif">Report With Area Fields</a></li>
                                <li><a href="ab-ex-miniconsole-custom-filter.axvw" rel="pTask" data-taskId="Report with Custom Mini-console Filter" data-taskIcon="ab-icon-task.gif">Report with Custom Mini-console Filter</a></li>
                                <li><a href="ab-ex-report-group-by-categories-multiselect.axvw" rel="pTask" data-taskId="Selecting Multiple Rows with Categories" data-taskIcon="ab-icon-task.gif">Selecting Multiple Rows with Categories</a></li>
                            </ol>
                        </ol>
                </div>
            </div>
            <div class="bucket-application " data-productId="AbSolutionTemplates" data-activityId="AbSolutionsUIAddIns" data-processId="Parts for Forms" data-productTitle="Technologies" data-activityTitle="User Interface Add-Ins" data-processTitle="Parts for Forms" data-subfolder="\ab-products\solutions" data-helpLink="" data-helpSystem="END USER" data-dashboardLayout="" data-dashboardView="" title="" oncontextmenu="return false;" onMouseUp="openPtask(this,event);">
                <h2 class="applications-process-title" title="">
                    <span class="process-title-text">Parts for Forms</span>
                </h2>
                <div class="bucket-wrapper" id="wrapper_absolutionsuiaddins_partsForForms">
                        <ol class="ptask-labels">
                            <li>Essential Form Techniques</li>
                            <ol class="process-tasks">
                                <li><a href="ab-ex-form-panel-1-column.axvw" rel="pTask" data-taskId="With 1-column Field Layout in a Panel" data-taskIcon="ab-icon-task.gif">With 1-column Field Layout in a Panel</a></li>
                                <li><a href="ab-ex-form-panel-3-columns.axvw" rel="pTask" data-taskId="With 3-column Field Layout and Multiple Layout Options" data-taskIcon="ab-icon-task.gif">With 3-column Field Layout and Multiple Layout Options</a></li>
                                <li><a href="ab-ex-form-panel-show-label.axvw" rel="pTask" data-taskId="With a Hidden Field Title" data-taskIcon="ab-icon-task.gif">With a Hidden Field Title</a></li>
                                <li><a href="ab-ex-form-panel-custom-field-titles.axvw" rel="pTask" data-taskId="With Only Specific Fields and with Custom Field Titles" data-taskIcon="ab-icon-task.gif">With Only Specific Fields and with Custom Field Titles</a></li>
                                <li><a href="ab-ex-form-field-groupings.axvw" rel="pTask" data-taskId="With Fields Grouped into Two Panels" data-taskIcon="ab-icon-task.gif">With Fields Grouped into Two Panels</a></li>
                                <li><a href="ab-ex-form-panel-two-panels.axvw" rel="pTask" data-taskId="With Fields Grouped into Two Sections" data-taskIcon="ab-icon-task.gif">With Fields Grouped into Two Sections</a></li>
                                <li><a href="ab-ex-form-panel-multiple-pkeys.axvw" rel="pTask" data-taskId="With a Multi-Part Primary Key" data-taskIcon="ab-icon-task.gif">With a Multi-Part Primary Key</a></li>
                                <li><a href="ab-ex-form-panel-time-fields.axvw" rel="pTask" data-taskId="With Time Fields" data-taskIcon="ab-icon-task.gif">With Time Fields</a></li>
                                <li><a href="ab-ex-form-sql.axvw" rel="pTask" data-taskId="With a Custom SQL Query" data-taskIcon="ab-icon-task.gif">With a Custom SQL Query</a></li>
                                <li><a href="ab-ex-form-panel-currency.axvw" rel="pTask" data-taskId="With Currency Expressions" data-taskIcon="ab-icon-task.gif">With Currency Expressions</a></li>
                            </ol>
                            <li>Advanced Form Techniques</li>
                            <ol class="process-tasks">
                                <li><a href="ab-ex-form-panel-custom-actions.axvw" rel="pTask" data-taskId="Panel-level Save and Cancel Action Buttons" data-taskIcon="ab-icon-task.gif">Panel-level Save and Cancel Action Buttons</a></li>
                                <li><a href="ab-ex-form-panel-custom-actions-delete.axvw" rel="pTask" data-taskId="Panel-level Delete Action Button" data-taskIcon="ab-icon-task.gif">Panel-level Delete Action Button</a></li>
                                <li><a href="ab-ex-form-panel-select-value.axvw" rel="pTask" data-taskId="Custom Select Value Buttons" data-taskIcon="ab-icon-task.gif">Custom Select Value Buttons</a></li>
                                <li><a href="ab-ex-drawing-select-value.axvw" rel="pTask" data-taskId="Select Value from Drawing" data-taskIcon="ab-icon-task.gif">Select Value from Drawing</a></li>
                                <li><a href="ab-ex-console.axvw" rel="pTask" data-taskId="Console with Multiple-value Restrictions" data-taskIcon="ab-icon-task.gif">Console with Multiple-value Restrictions</a></li>
                                <li><a href="ab-ex-form-panel-conditional-elements-1.axvw" rel="pTask" data-taskId="Conditional Elements -- Projects - Status 'Created'" data-taskIcon="ab-icon-task.gif">Conditional Elements -- Projects - Status 'Created'</a></li>
                                <li><a href="ab-ex-form-panel-conditional-elements-2.axvw" rel="pTask" data-taskId="Conditional Elements -- Projects - Status other than 'Created'" data-taskIcon="ab-icon-task.gif">Conditional Elements -- Projects - Status other than 'Created'</a></li>
                                <li><a href="ab-ex-form-panel-doc-fields-3-ways.axvw" rel="pTask" data-taskId="Document Fields -- Direct Check In and Listeners" data-taskIcon="ab-icon-task.gif">Document Fields -- Direct Check In and Listeners</a></li>
                                <li><a href="ab-ex-form-panel-doc-fields.axvw" rel="pTask" data-taskId="Document Fields and Inline Drawing Display" data-taskIcon="ab-icon-task.gif">Document Fields and Inline Drawing Display</a></li>
                                <li><a href="ab-ex-form-panel-instructions.axvw" rel="pTask" data-taskId="Adding Panel Instructions" data-taskIcon="ab-icon-task.gif">Adding Panel Instructions</a></li>
                                <li><a href="ab-ex-form-panel-change.axvw" rel="pTask" data-taskId="Checking for Field Changes" data-taskIcon="ab-icon-task.gif">Checking for Field Changes</a></li>
                                <li><a href="ab-ex-form-panel-input-values.axvw" rel="pTask" data-taskId="Copying Field Values" data-taskIcon="ab-icon-task.gif">Copying Field Values</a></li>
                                <li><a href="ab-ex-form-panel-temp-message.axvw" rel="pTask" data-taskId="Display Temporary Message" data-taskIcon="ab-icon-task.gif">Display Temporary Message</a></li>
                                <li><a href="ab-ex-form-enable-field-actions.axvw" rel="pTask" data-taskId="Enable or Disable Actions of Field" data-taskIcon="ab-icon-task.gif">Enable or Disable Actions of Field</a></li>
                                <li><a href="ab-ex-form-panel-radio-check-combo.axvw" rel="pTask" data-taskId="Drop-down Lists, Radio Buttons, and Check Boxes" data-taskIcon="ab-icon-task.gif">Drop-down Lists, Radio Buttons, and Check Boxes</a></li>
                                <li><a href="ab-ex-form-panel-field-widths-heights.axvw" rel="pTask" data-taskId="Field Width and Height Options" data-taskIcon="ab-icon-task.gif">Field Width and Height Options</a></li>
                                <li><a href="ab-ex-form-layout-options.axvw" rel="pTask" data-taskId="Example of Form Layout Options" data-taskIcon="ab-icon-task.gif">Example of Form Layout Options</a></li>
                            </ol>
                        </ol>
                </div>
            </div>
            <div class="bucket-application " data-productId="AbSolutionTemplates" data-activityId="AbSolutionsUIAddIns" data-processId="Grouping Views" data-productTitle="Technologies" data-activityTitle="User Interface Add-Ins" data-processTitle="Grouping Views" data-subfolder="\ab-products\solutions" data-helpLink="" data-helpSystem="END USER" data-dashboardLayout="" data-dashboardView="" title="" oncontextmenu="return false;" onMouseUp="openPtask(this,event);">
                <h2 class="applications-process-title" title="">
                    <span class="process-title-text">Grouping Views</span>
                </h2>
                <div class="bucket-wrapper" id="wrapper_absolutionsuiaddins_groupingViews">
                        <ol class="ptask-labels">
                            <li></li>
                            <ol class="process-tasks">
                                <li><a href="ab-ex-grouping-ds.axvw" rel="pTask" data-taskId="Grouping DataSource" data-taskIcon="ab-icon-task.gif">Grouping DataSource</a></li>
                                <li><a href="ab-ex-grouping-ds-sql.axvw" rel="pTask" data-taskId="Grouping DataSource by a Calculated Field" data-taskIcon="ab-icon-task.gif">Grouping DataSource by a Calculated Field</a></li>
                                <li><a href="ab-ex-grouping-ds-dates.axvw" rel="pTask" data-taskId="Grouping DataSource using Date Ranges" data-taskIcon="ab-icon-task.gif">Grouping DataSource using Date Ranges</a></li>
                                <li><a href="ab-ex-grouping-ds-restrictions.axvw" rel="pTask" data-taskId="Grouping DataSource with Restriction" data-taskIcon="ab-icon-task.gif">Grouping DataSource with Restriction</a></li>
                            </ol>
                            <li>Cross-Table Views</li>
                            <ol class="process-tasks">
                                <li><a href="ab-prop-view-analysis.axvw" rel="pTask" data-taskId="One-dimensional cross-table view" data-taskIcon="ab-icon-task.gif">One-dimensional cross-table view</a></li>
                                <li><a href="ab-prop-view-analysis-2d.axvw" rel="pTask" data-taskId="Two-dimensional cross-table view" data-taskIcon="ab-icon-task.gif">Two-dimensional cross-table view</a></li>
                                <li><a href="ab-prop-view-analysis-2d-all-values.axvw" rel="pTask" data-taskId="Two-dimensional cross-table with drill-down and custom columns" data-taskIcon="ab-icon-task.gif">Two-dimensional cross-table with drill-down and custom columns</a></li>
                                <li><a href="ab-budget-by-program-crosstab.axvw" rel="pTask" data-taskId="Two-dimensional cross-table with filter and custom column titles" data-taskIcon="ab-icon-task.gif">Two-dimensional cross-table with filter and custom column titles</a></li>
                                <li><a href="ab-ex-crosstable-sql-drilldown.axvw" rel="pTask" data-taskId="Cross-table view with custom SQL query and drill-down action" data-taskIcon="ab-icon-task.gif">Cross-table view with custom SQL query and drill-down action</a></li>
                                <li><a href="ab-ex-crosstable-currency.axvw" rel="pTask" data-taskId="Cross-table View With Currency Expressions" data-taskIcon="ab-icon-task.gif">Cross-table View With Currency Expressions</a></li>
                                <li><a href="ab-ex-crosstable-units.axvw" rel="pTask" data-taskId="Cross-table View With Area Fields" data-taskIcon="ab-icon-task.gif">Cross-table View With Area Fields</a></li>
                            </ol>
                        </ol>
                </div>
            </div>
            <div class="bucket-application " data-productId="AbSolutionTemplates" data-activityId="AbSolutionsUIAddIns" data-processId="HTML5 Chart Views" data-productTitle="Technologies" data-activityTitle="User Interface Add-Ins" data-processTitle="HTML5 Chart Views" data-subfolder="\ab-products\solutions" data-helpLink="" data-helpSystem="END USER" data-dashboardLayout="" data-dashboardView="" title="" oncontextmenu="return false;" onMouseUp="openPtask(this,event);">
                <h2 class="applications-process-title" title="">
                    <span class="process-title-text">HTML5 Chart Views</span>
                </h2>
                <div class="bucket-wrapper" id="wrapper_absolutionsuiaddins_html5ChartViews">
                        <ol class="ptask-labels">
                            <li></li>
                            <ol class="process-tasks">
                                <li><a href="ab-ex-htmlchart-column.axvw" rel="pTask" data-taskId="Column Chart" data-taskIcon="ab-icon-task.gif">Column Chart</a></li>
                                <li><a href="ab-ex-htmlchart-pie.axvw" rel="pTask" data-taskId="Pie Chart" data-taskIcon="ab-icon-task.gif">Pie Chart</a></li>
                                <li><a href="ab-ex-htmlchart-bar.axvw" rel="pTask" data-taskId="Bar Chart" data-taskIcon="ab-icon-task.gif">Bar Chart</a></li>
                                <li><a href="ab-ex-htmlchart-line.axvw" rel="pTask" data-taskId="Line Chart" data-taskIcon="ab-icon-task.gif">Line Chart</a></li>
                                <li><a href="ab-ex-htmlchart-plot.axvw" rel="pTask" data-taskId="Plot Chart" data-taskIcon="ab-icon-task.gif">Plot Chart</a></li>
                                <li><a href="ab-ex-htmlchart-area.axvw" rel="pTask" data-taskId="Area Chart" data-taskIcon="ab-icon-task.gif">Area Chart</a></li>
                                <li><a href="ab-ex-htmlchart-stackedbar.axvw" rel="pTask" data-taskId="Stacked Bar Chart" data-taskIcon="ab-icon-task.gif">Stacked Bar Chart</a></li>
                                <li><a href="ab-ex-htmlchart-stackedcolumn.axvw" rel="pTask" data-taskId="Stacked Column Chart" data-taskIcon="ab-icon-task.gif">Stacked Column Chart</a></li>
                                <li><a href="ab-ex-htmlchart-stackedarea.axvw" rel="pTask" data-taskId="Stacked Area Chart" data-taskIcon="ab-icon-task.gif">Stacked Area Chart</a></li>
                                <li><a href="ab-ex-htmlchart-columnline.axvw" rel="pTask" data-taskId="Mixed Line and Column Chart" data-taskIcon="ab-icon-task.gif">Mixed Line and Column Chart</a></li>
                            </ol>
                            <li class="empty-taskgroup-title">&nbsp;</li>
                            <ol class="process-tasks">
                                <li><a href="ab-ex-htmlchart-by-pkey-column.axvw" rel="pTask" data-taskId="Column Chart Summarized by Primary Key" data-taskIcon="ab-icon-task.gif">Column Chart Summarized by Primary Key</a></li>
                                <li><a href="ab-ex-htmlchart-by-pkey-pie.axvw" rel="pTask" data-taskId="Pie Chart Summarized by Primary Key" data-taskIcon="ab-icon-task.gif">Pie Chart Summarized by Primary Key</a></li>
                                <li><a href="ab-ex-htmlchart-calculated-value-column.axvw" rel="pTask" data-taskId="Column Chart of Calculated Value" data-taskIcon="ab-icon-task.gif">Column Chart of Calculated Value</a></li>
                                <li><a href="ab-ex-htmlchart-calculated-value-pie.axvw" rel="pTask" data-taskId="Pie Chart of Calculated Value" data-taskIcon="ab-icon-task.gif">Pie Chart of Calculated Value</a></li>
                            </ol>
                            <li class="empty-taskgroup-title">&nbsp;</li>
                            <ol class="process-tasks">
                                <li><a href="ab-ex-htmlchart-currency.axvw" rel="pTask" data-taskId="Chart With Currency Expressions" data-taskIcon="ab-icon-task.gif">Chart With Currency Expressions</a></li>
                                <li><a href="ab-ex-htmlchart-units.axvw" rel="pTask" data-taskId="Chart With Area Fields" data-taskIcon="ab-icon-task.gif">Chart With Area Fields</a></li>
                            </ol>
                            <li class="empty-taskgroup-title">&nbsp;</li>
                            <ol class="process-tasks">
                                <li><a href="ab-ex-htmlchart-mult-values-one-group-column.axvw" rel="pTask" data-taskId="Column Chart of Multiple Values Summarized by One Group" data-taskIcon="ab-icon-task.gif">Column Chart of Multiple Values Summarized by One Group</a></li>
                                <li><a href="ab-ex-htmlchart-mult-values-one-group-line.axvw" rel="pTask" data-taskId="Line Chart with Multiple Values Grouped by One Criteria" data-taskIcon="ab-icon-task.gif">Line Chart with Multiple Values Grouped by One Criteria</a></li>
                                <li><a href="ab-ex-htmlchart-one-value-mult-criteria.axvw" rel="pTask" data-taskId="Column Chart with One Value Grouped by Two Criteria" data-taskIcon="ab-icon-task.gif">Column Chart with One Value Grouped by Two Criteria</a></li>
                                <li><a href="ab-ex-htmlchart-mult-values-time-criteria.axvw" rel="pTask" data-taskId="Grouped Column Chart with Values Grouped by Time Criteria" data-taskIcon="ab-icon-task.gif">Grouped Column Chart with Values Grouped by Time Criteria</a></li>
                                <li><a href="ab-ex-htmlchart-multiseries-axesoffset.axvw" rel="pTask" data-taskId="Mixed Chart of Multiple Values with Axes Offset" data-taskIcon="ab-icon-task.gif">Mixed Chart of Multiple Values with Axes Offset</a></li>
                                <li><a href="ab-ex-htmlchart-one-two-datasources.axvw" rel="pTask" data-taskId="Column Chart with Values Grouped by Another Datasource" data-taskIcon="ab-icon-task.gif">Column Chart with Values Grouped by Another Datasource</a></li>
                                <li><a href="ab-ex-htmlchart-one-three-datasources.axvw" rel="pTask" data-taskId="Column Chart with Two Value Datasources, One Grouping Datasource" data-taskIcon="ab-icon-task.gif">Column Chart with Two Value Datasources, One Grouping Datasource</a></li>
                            </ol>
                            <li class="empty-taskgroup-title">&nbsp;</li>
                            <ol class="process-tasks">
                                <li><a href="ab-ex-htmlchart-drill-down.axvw" rel="pTask" data-taskId="Drill-down to a Chart" data-taskIcon="ab-icon-task.gif">Drill-down to a Chart</a></li>
                                <li><a href="ab-ex-htmlchart-drill-down-report-from-2d.axvw" rel="pTask" data-taskId="Drill-down to a Chart with Secondary Grouping" data-taskIcon="ab-icon-task.gif">Drill-down to a Chart with Secondary Grouping</a></li>
                                <li><a href="ab-ex-htmlchart-console.axvw" rel="pTask" data-taskId="Console View with a Chart" data-taskIcon="ab-icon-task.gif">Console View with a Chart</a></li>
                                <li><a href="ab-ex-htmlchart-two-charts.axvw" rel="pTask" data-taskId="Two Charts in One Layout" data-taskIcon="ab-icon-task.gif">Two Charts in One Layout</a></li>
                                <li><a href="ab-ex-htmlchart-zoomable.axvw" rel="pTask" data-taskId="Two Charts to Show Zoomable feature" data-taskIcon="ab-icon-task.gif">Two Charts to Show Zoomable feature</a></li>
                                <li><a href="ab-ex-htmlchart-groupby-year.axvw" rel="pTask" data-taskId="Group by Year" data-taskIcon="ab-icon-task.gif">Group by Year</a></li>
                            </ol>
                        </ol>
                </div>
            </div>
        </div>
        <div class="page-row full-height" >
            <h3 class="application-title" data-activityId="AbSolutionsUIAddIns">User Interface Add-Ins</h3>
            <hr class="application-horizontal-rule">
            <div class="bucket-application " data-productId="AbSolutionTemplates" data-activityId="AbSolutionsUIAddIns" data-processId="HTML5 Chart Views in 3D" data-productTitle="Technologies" data-activityTitle="User Interface Add-Ins" data-processTitle="HTML5 Chart Views in 3D" data-subfolder="\ab-products\solutions" data-helpLink="" data-helpSystem="END USER" data-dashboardLayout="" data-dashboardView="" title="" oncontextmenu="return false;" onMouseUp="openPtask(this,event);">
                <h2 class="applications-process-title" title="">
                    <span class="process-title-text">HTML5 Chart Views in 3D</span>
                </h2>
                <div class="bucket-wrapper" id="wrapper_absolutionsuiaddins_html5ChartViewsIn3d">
                        <ol class="ptask-labels">
                            <li></li>
                            <ol class="process-tasks">
                                <li><a href="ab-ex-htmlchart-column-3d.axvw" rel="pTask" data-taskId="Column 3D Chart" data-taskIcon="ab-icon-task.gif">Column 3D Chart</a></li>
                                <li><a href="ab-ex-htmlchart-pie-3d.axvw" rel="pTask" data-taskId="Pie 3D Chart" data-taskIcon="ab-icon-task.gif">Pie 3D Chart</a></li>
                                <li><a href="ab-ex-htmlchart-bar-3d.axvw" rel="pTask" data-taskId="Bar 3D Chart" data-taskIcon="ab-icon-task.gif">Bar 3D Chart</a></li>
                            </ol>
                        </ol>
                </div>
            </div>
            <div class="bucket-application " data-productId="AbSolutionTemplates" data-activityId="AbSolutionsUIAddIns" data-processId="Assemblies with Multiple Panes" data-productTitle="Technologies" data-activityTitle="User Interface Add-Ins" data-processTitle="Assemblies with Multiple Panes" data-subfolder="\ab-products\solutions" data-helpLink="" data-helpSystem="END USER" data-dashboardLayout="" data-dashboardView="" title="" oncontextmenu="return false;" onMouseUp="openPtask(this,event);">
                <h2 class="applications-process-title" title="">
                    <span class="process-title-text">Assemblies with Multiple Panes</span>
                </h2>
                <div class="bucket-wrapper" id="wrapper_absolutionsuiaddins_assembliesWithMultiplePanes">
                        <ol class="ptask-labels">
                            <li></li>
                            <ol class="process-tasks">
                                <li><a href="ab-ex-wrcf-find-manage.axvw" rel="pTask" data-taskId="Miniconsole in an Edit Form" data-taskIcon="ab-icon-task.gif">Miniconsole in an Edit Form</a></li>
                                <li><a href="ab-ex-wizard-select.axvw" rel="pTask" data-taskId="Find-Manage Wizard" data-taskIcon="ab-icon-task.gif">Find-Manage Wizard</a></li>
                                <li><a href="ab-ex-wr-find-manage.axvw" rel="pTask" data-taskId="Find-Manage with Console" data-taskIcon="ab-icon-task.gif">Find-Manage with Console</a></li>
                                <li><a href="ab-ex-afm-fields-find-manage.axvw" rel="pTask" data-taskId="Find-Manage with Panels" data-taskIcon="ab-icon-task.gif">Find-Manage with Panels</a></li>
                                <li><a href="ab-ex-find-manage-doc.axvw" rel="pTask" data-taskId="Find-Manage with Document Field" data-taskIcon="ab-icon-task.gif">Find-Manage with Document Field</a></li>
                                <li><a href="ab-ex-wr-alltypes-column.axvw" rel="pTask" data-taskId="Find-Manage with Column Report" data-taskIcon="ab-icon-task.gif">Find-Manage with Column Report</a></li>
                                <li><a href="ab-ex-rm-find-manage-multi-report.axvw" rel="pTask" data-taskId="Find-Manage with Multiple Reports" data-taskIcon="ab-icon-task.gif">Find-Manage with Multiple Reports</a></li>
                                <li><a href="ab-ex-rm-find-manage-2panels.axvw" rel="pTask" data-taskId="Drill-down Edit View with Two Panels" data-taskIcon="ab-icon-task.gif">Drill-down Edit View with Two Panels</a></li>
                                <li><a href="ab-ex-rm-find-manage-3panels.axvw" rel="pTask" data-taskId="Drill-down Edit View with Three Panels" data-taskIcon="ab-icon-task.gif">Drill-down Edit View with Three Panels</a></li>
                                <li><a href="ab-ex-editable-abstract.axvw" rel="pTask" data-taskId="Find-Manage with Editable Abstract" data-taskIcon="ab-icon-task.gif">Find-Manage with Editable Abstract</a></li>
                                <li><a href="ab-ex-project-find-manage-sql-parameters.axvw" rel="pTask" data-taskId="Find-Manage with Parameterized Restrictions" data-taskIcon="ab-icon-task.gif">Find-Manage with Parameterized Restrictions</a></li>
                                <li><a href="ab-ex-project-find-manage-conditional.axvw" rel="pTask" data-taskId="Find-Manage with Conditional Expressions" data-taskIcon="ab-icon-task.gif">Find-Manage with Conditional Expressions</a></li>
                                <li><a href="ab-ex-work-wizard.axvw" rel="pTask" data-taskId="Find-Manage with Categories" data-taskIcon="ab-icon-task.gif">Find-Manage with Categories</a></li>
                            </ol>
                        </ol>
                </div>
            </div>
            <div class="bucket-application " data-productId="AbSolutionTemplates" data-activityId="AbSolutionsUIAddIns" data-processId="Assemblies with Tabs" data-productTitle="Technologies" data-activityTitle="User Interface Add-Ins" data-processTitle="Assemblies with Tabs" data-subfolder="\ab-products\solutions" data-helpLink="" data-helpSystem="END USER" data-dashboardLayout="" data-dashboardView="" title="" oncontextmenu="return false;" onMouseUp="openPtask(this,event);">
                <h2 class="applications-process-title" title="">
                    <span class="process-title-text">Assemblies with Tabs</span>
                </h2>
                <div class="bucket-wrapper" id="wrapper_absolutionsuiaddins_assembliesWithTabs">
                        <ol class="ptask-labels">
                            <li></li>
                            <ol class="process-tasks">
                                <li><a href="ab-ex-tabs-free.axvw" rel="pTask" data-taskId="Free Navigation Sequence" data-taskIcon="ab-icon-task.gif">Free Navigation Sequence</a></li>
                                <li><a href="ab-ex-tabs-enforced.axvw" rel="pTask" data-taskId="Enforcing a Navigation Sequence" data-taskIcon="ab-icon-task.gif">Enforcing a Navigation Sequence</a></li>
                                <li><a href="ab-ex-wizard-select.axvw" rel="pTask" data-taskId="Find-Manage Wizard" data-taskIcon="ab-icon-task.gif">Find-Manage Wizard</a></li>
                                <li><a href="ab-ex-wizard-select-many-pages.axvw" rel="pTask" data-taskId="Find-Manage Wizard with Multiple Detail Pages" data-taskIcon="ab-icon-task.gif">Find-Manage Wizard with Multiple Detail Pages</a></li>
                                <li><a href="ab-ex-tabs-wizard-find.axvw" rel="pTask" data-taskId="Find-Manage Wizard with Cross Table" data-taskIcon="ab-icon-task.gif">Find-Manage Wizard with Cross Table</a></li>
                                <li><a href="ab-ex-tabs-wizard-create.axvw" rel="pTask" data-taskId="Work Request Creation Wizard" data-taskIcon="ab-icon-task.gif">Work Request Creation Wizard</a></li>
                            </ol>
                            <li>Additional Tab Techniques</li>
                            <ol class="process-tasks">
                                <li><a href="ab-ex-tabs-enable-disable.axvw" rel="pTask" data-taskId="Conditionally Enabling Wizard Tabs" data-taskIcon="ab-icon-task.gif">Conditionally Enabling Wizard Tabs</a></li>
                                <li><a href="ab-ex-work-request-dynamic-tabs.axvw" rel="pTask" data-taskId="Dynamic Tabs" data-taskIcon="ab-icon-task.gif">Dynamic Tabs</a></li>
                                <li><a href="ab-ex-helpdesk-wizard.axvw" rel="pTask" data-taskId="Nesting Rows of Tabs Within Views" data-taskIcon="ab-icon-task.gif">Nesting Rows of Tabs Within Views</a></li>
                            </ol>
                            <li>Complex Example</li>
                            <ol class="process-tasks">
                                <li><a href="ab-ex-move-group.axvw" rel="pTask" data-taskId="Move Wizard" data-taskIcon="ab-icon-task.gif">Move Wizard</a></li>
                            </ol>
                        </ol>
                </div>
            </div>
            <div class="bucket-application " data-productId="AbSolutionTemplates" data-activityId="AbSolutionsUIAddIns" data-processId="HTML5 Drawing Views" data-productTitle="Technologies" data-activityTitle="User Interface Add-Ins" data-processTitle="HTML5 Drawing Views" data-subfolder="\ab-products\solutions" data-helpLink="" data-helpSystem="END USER" data-dashboardLayout="" data-dashboardView="" title="" oncontextmenu="return false;" onMouseUp="openPtask(this,event);">
                <h2 class="applications-process-title" title="">
                    <span class="process-title-text">HTML5 Drawing Views</span>
                </h2>
                <div class="bucket-wrapper" id="wrapper_absolutionsuiaddins_html5DrawingViews">
                        <ol class="ptask-labels">
                            <li>Drawing Control</li>
                            <ol class="process-tasks">
                                <li><a href="ab-ex-dwg-html-control-multipledrawing-layout.axvw" rel="pTask" data-taskId="Show Multiple Floors" data-taskIcon="ab-icon-task.gif">Show Multiple Floors</a></li>
                                <li><a href="ab-ex-dwg-html-control-highlightselector.axvw" rel="pTask" data-taskId="Highlight Selector" data-taskIcon="ab-icon-task.gif">Highlight Selector</a></li>
                                <li><a href="ab-ex-dwg-html-control-border-highlight.axvw" rel="pTask" data-taskId="Border Highlights and Legends" data-taskIcon="ab-icon-task.gif">Border Highlights and Legends</a></li>
                                <li><a href="ab-ex-dwg-html-control-connect-trace.axvw" rel="pTask" data-taskId="Trace and Connect non-Room Assets" data-taskIcon="ab-icon-task.gif">Trace and Connect non-Room Assets</a></li>
                                <li><a href="ab-ex-dwg-html-control-tooltip.axvw" rel="pTask" data-taskId="Show or Hide Tooltips" data-taskIcon="ab-icon-task.gif">Show or Hide Tooltips</a></li>
                                <li><a href="ab-ex-dwg-html-control-locate-asset.axvw" rel="pTask" data-taskId="Locate Rooms" data-taskIcon="ab-icon-task.gif">Locate Rooms</a></li>
                                <li><a href="ab-ex-dwg-html-control-markup.axvw" rel="pTask" data-taskId="Markup and Redlining" data-taskIcon="ab-icon-task.gif">Markup and Redlining</a></li>
                                <li><a href="ab-ex-dwg-html-control-marker.axvw" rel="pTask" data-taskId="Markers and Clustering" data-taskIcon="ab-icon-task.gif">Markers and Clustering</a></li>
                                <li><a href="ab-ex-dwg-html-control-border-selection-mode1.axvw" rel="pTask" data-taskId="Room Border Selections" data-taskIcon="ab-icon-task.gif">Room Border Selections</a></li>
                                <li><a href="ab-ex-dwg-html-control-asset-panel.axvw" rel="pTask" data-taskId="Drag and Drop Employee to make assignments" data-taskIcon="ab-icon-task.gif">Drag and Drop Employee to make assignments</a></li>
                            </ol>
                            <li>Web Central 3D Navigator</li>
                            <ol class="process-tasks">
                                <li><a href="ab-sp-console-bim.axvw" rel="pTask" data-taskId="3D Navigator - Space Console" data-taskIcon="ab-icon-task.gif">3D Navigator - Space Console</a></li>
                                <li><a href="ab-pm-def-procs-steps-res-bim.axvw" rel="pTask" data-taskId="3D Navigator - Equipment Procedures" data-taskIcon="ab-icon-task.gif">3D Navigator - Equipment Procedures</a></li>
                                <li><a href="ab-ex-bim-3d-simple-example.axvw" rel="pTask" data-taskId="3D Navigator - Building" data-taskIcon="ab-icon-task.gif">3D Navigator - Building</a></li>
                                <li><a href="ab-ex-bim-3d-rm-example.axvw" rel="pTask" data-taskId="3D Navigator - Rooms" data-taskIcon="ab-icon-task.gif">3D Navigator - Rooms</a></li>
                                <li><a href="ab-ex-bim-3d-eq-example.axvw" rel="pTask" data-taskId="3D Navigator - Equipment" data-taskIcon="ab-icon-task.gif">3D Navigator - Equipment</a></li>
                            </ol>
                        </ol>
                </div>
            </div>
            <div class="bucket-application " data-productId="AbSolutionTemplates" data-activityId="AbSolutionsUIAddIns" data-processId="HTML5 Markup Control" data-productTitle="Technologies" data-activityTitle="User Interface Add-Ins" data-processTitle="HTML5 Markup Control" data-subfolder="\ab-products\solutions" data-helpLink="" data-helpSystem="END USER" data-dashboardLayout="" data-dashboardView="" title="" oncontextmenu="return false;" onMouseUp="openPtask(this,event);">
                <h2 class="applications-process-title" title="">
                    <span class="process-title-text">HTML5 Markup Control</span>
                </h2>
                <div class="bucket-wrapper" id="wrapper_absolutionsuiaddins_html5MarkupControl">
                        <ol class="ptask-labels">
                            <li></li>
                            <ol class="process-tasks">
                                <li><a href="ab-ex-svg-dwg-markup-control-dwg.axvw" rel="pTask" data-taskId="Markup Control with Floor Plan" data-taskIcon="ab-icon-task.gif">Markup Control with Floor Plan</a></li>
                                <li><a href="ab-ex-svg-dwg-markup-control-image.axvw" rel="pTask" data-taskId="Markup Control with Uploaded Image" data-taskIcon="ab-icon-task.gif">Markup Control with Uploaded Image</a></li>
                            </ol>
                        </ol>
                </div>
            </div>
        </div>
        <div class="page-row full-height" >
            <h3 class="application-title" data-activityId="AbSolutionsUIAddIns">User Interface Add-Ins</h3>
            <hr class="application-horizontal-rule">
            <div class="bucket-application " data-productId="AbSolutionTemplates" data-activityId="AbSolutionsUIAddIns" data-processId="Dashboard Views" data-productTitle="Technologies" data-activityTitle="User Interface Add-Ins" data-processTitle="Dashboard Views" data-subfolder="\ab-products\solutions" data-helpLink="" data-helpSystem="END USER" data-dashboardLayout="" data-dashboardView="" title="" oncontextmenu="return false;" onMouseUp="openPtask(this,event);">
                <h2 class="applications-process-title" title="">
                    <span class="process-title-text">Dashboard Views</span>
                </h2>
                <div class="bucket-wrapper" id="wrapper_absolutionsuiaddins_dashboardViews">
                        <ol class="ptask-labels">
                            <li></li>
                            <ol class="process-tasks">
                                <li><a href="ab-ex-dashboard-0-1-0.axvw" rel="pTask" data-taskId="Single Panel" data-taskIcon="ab-icon-task.gif">Single Panel</a></li>
                                <li><a href="ab-ex-dashboard-1-1-0.axvw" rel="pTask" data-taskId="Two Panel" data-taskIcon="ab-icon-task.gif">Two Panel</a></li>
                                <li><a href="ab-ex-dashboard-1-2-0-narrow.axvw" rel="pTask" data-taskId="One-Two Panel, Narrow" data-taskIcon="ab-icon-task.gif">One-Two Panel, Narrow</a></li>
                                <li><a href="ab-ex-dashboard-1-2-0.axvw" rel="pTask" data-taskId="One-Two Panel" data-taskIcon="ab-icon-task.gif">One-Two Panel</a></li>
                                <li><a href="ab-ex-dashboard-1-3-0.axvw" rel="pTask" data-taskId="One-Three Panel" data-taskIcon="ab-icon-task.gif">One-Three Panel</a></li>
                                <li><a href="ab-ex-dashboard-1x2.axvw" rel="pTask" data-taskId="One by Two Panel (Vertical Split)" data-taskIcon="ab-icon-task.gif">One by Two Panel (Vertical Split)</a></li>
                            </ol>
                            <li class="empty-taskgroup-title">&nbsp;</li>
                            <ol class="process-tasks">
                                <li><a href="ab-ex-dashboard-2-1-0-even.axvw" rel="pTask" data-taskId="Two-One Panel (Event Split)" data-taskIcon="ab-icon-task.gif">Two-One Panel (Event Split)</a></li>
                                <li><a href="ab-ex-dashboard-2-1-0.axvw" rel="pTask" data-taskId="Two-One-Panel" data-taskIcon="ab-icon-task.gif">Two-One-Panel</a></li>
                                <li><a href="ab-ex-dashboard-2-2-0.axvw" rel="pTask" data-taskId="Two-Two Panel" data-taskIcon="ab-icon-task.gif">Two-Two Panel</a></li>
                                <li><a href="ab-ex-dashboard-2x1.axvw" rel="pTask" data-taskId="Two-by-One Panel" data-taskIcon="ab-icon-task.gif">Two-by-One Panel</a></li>
                                <li><a href="ab-ex-dashboard-2x2.axvw" rel="pTask" data-taskId="Two-by-Two Panel" data-taskIcon="ab-icon-task.gif">Two-by-Two Panel</a></li>
                            </ol>
                            <li class="empty-taskgroup-title">&nbsp;</li>
                            <ol class="process-tasks">
                                <li><a href="ab-ex-dashboard-3-1-0.axvw" rel="pTask" data-taskId="Three-One Panel" data-taskIcon="ab-icon-task.gif">Three-One Panel</a></li>
                                <li><a href="ab-ex-dashboard-3-2-0.axvw" rel="pTask" data-taskId="Three-Two Panel" data-taskIcon="ab-icon-task.gif">Three-Two Panel</a></li>
                                <li><a href="ab-ex-dashboard-3-2-3.axvw" rel="pTask" data-taskId="Three-Two-Three Panel" data-taskIcon="ab-icon-task.gif">Three-Two-Three Panel</a></li>
                                <li><a href="ab-ex-dashboard-3-4-3.axvw" rel="pTask" data-taskId="Three-Four-Three Panel" data-taskIcon="ab-icon-task.gif">Three-Four-Three Panel</a></li>
                                <li><a href="ab-ex-dashboard-3x1.axvw" rel="pTask" data-taskId="Three-by-One Panel" data-taskIcon="ab-icon-task.gif">Three-by-One Panel</a></li>
                                <li><a href="ab-ex-dashboard-3x2.axvw" rel="pTask" data-taskId="Three-by-Two Panel" data-taskIcon="ab-icon-task.gif">Three-by-Two Panel</a></li>
                                <li><a href="ab-ex-dashboard-3x3-large.axvw" rel="pTask" data-taskId="Three-by-Three Panel (Large)" data-taskIcon="ab-icon-task.gif">Three-by-Three Panel (Large)</a></li>
                                <li><a href="ab-ex-dashboard-3x3.axvw" rel="pTask" data-taskId="Three-by-Three Panel" data-taskIcon="ab-icon-task.gif">Three-by-Three Panel</a></li>
                                <li><a href="ab-ex-dashboard-3x4-large.axvw" rel="pTask" data-taskId="Three-by-Four Panel (Large)" data-taskIcon="ab-icon-task.gif">Three-by-Four Panel (Large)</a></li>
                                <li><a href="ab-ex-dashboard-3x4.axvw" rel="pTask" data-taskId="Three-by-Four Panel" data-taskIcon="ab-icon-task.gif">Three-by-Four Panel</a></li>
                                <li><a href="ab-ex-dashboard-5x2.axvw" rel="pTask" data-taskId="Five-by-Two Panel" data-taskIcon="ab-icon-task.gif">Five-by-Two Panel</a></li>
                            </ol>
                            <li class="empty-taskgroup-title">&nbsp;</li>
                            <ol class="process-tasks">
                                <li><a href="ab-ex-dashboard-console-0-1-0.axvw" rel="pTask" data-taskId="Console" data-taskIcon="ab-icon-task.gif">Console</a></li>
                                <li><a href="ab-ex-dashboard-console-1-1-0-large.axvw" rel="pTask" data-taskId="One-One Console (Large)" data-taskIcon="ab-icon-task.gif">One-One Console (Large)</a></li>
                                <li><a href="ab-ex-dashboard-console-1-1-0.axvw" rel="pTask" data-taskId="One-One Console" data-taskIcon="ab-icon-task.gif">One-One Console</a></li>
                                <li><a href="ab-ex-dashboard-console-1-2-0.axvw" rel="pTask" data-taskId="One-Two Console" data-taskIcon="ab-icon-task.gif">One-Two Console</a></li>
                                <li><a href="ab-ex-dashboard-console-1-3-0.axvw" rel="pTask" data-taskId="One-Three Console" data-taskIcon="ab-icon-task.gif">One-Three Console</a></li>
                                <li><a href="ab-ex-dashboard-2-2-0-console.axvw" rel="pTask" data-taskId="Two-Two Console" data-taskIcon="ab-icon-task.gif">Two-Two Console</a></li>
                            </ol>
                        </ol>
                </div>
            </div>
            <div class="bucket-application " data-productId="AbSolutionTemplates" data-activityId="AbSolutionsUIAddIns" data-processId="Tree Views" data-productTitle="Technologies" data-activityTitle="User Interface Add-Ins" data-processTitle="Tree Views" data-subfolder="\ab-products\solutions" data-helpLink="" data-helpSystem="END USER" data-dashboardLayout="" data-dashboardView="" title="" oncontextmenu="return false;" onMouseUp="openPtask(this,event);">
                <h2 class="applications-process-title" title="">
                    <span class="process-title-text">Tree Views</span>
                </h2>
                <div class="bucket-wrapper" id="wrapper_absolutionsuiaddins_treeViews">
                        <ol class="ptask-labels">
                            <li></li>
                            <ol class="process-tasks">
                                <li><a href="ab-ex-simple-tree-dpxdv.axvw" rel="pTask" data-taskId="Simple Tree - Departments by Division" data-taskIcon="ab-icon-task.gif">Simple Tree - Departments by Division</a></li>
                                <li><a href="ab-ex-tree-selval-wr.axvw" rel="pTask" data-taskId="Select Values Tree" data-taskIcon="ab-icon-task.gif">Select Values Tree</a></li>
                                <li><a href="ab-ex-bridged-tree-emxrmxdv.axvw" rel="pTask" data-taskId="Tree with Bridge Table - Emp. by Room by Div." data-taskIcon="ab-icon-task.gif">Tree with Bridge Table - Emp. by Room by Div.</a></li>
                                <li><a href="ab-ex-tree-with-console-wrxem.axvw" rel="pTask" data-taskId="Tree with Console - Work Requests by Emp." data-taskIcon="ab-icon-task.gif">Tree with Console - Work Requests by Emp.</a></li>
                                <li><a href="ab-ex-simple-hierarchy-tree-csi.axvw" rel="pTask" data-taskId="Hierarchical Tree - CSI codes" data-taskIcon="ab-icon-task.gif">Hierarchical Tree - CSI codes</a></li>
                                <li><a href="ab-ex-simple-hierarchy-tree-ac.axvw" rel="pTask" data-taskId="Hierarchical Tree - Accounts" data-taskIcon="ab-icon-task.gif">Hierarchical Tree - Accounts</a></li>
                                <li><a href="ab-ex-loading-test-large-rm-em.axvw" rel="pTask" data-taskId="Tree with Many Leaves - All Rooms Per Every Emp." data-taskIcon="ab-icon-task.gif">Tree with Many Leaves - All Rooms Per Every Emp.</a></li>
                                <li><a href="ab-ex-tree-table.axvw" rel="pTask" data-taskId="Tree Table" data-taskIcon="ab-icon-task.gif">Tree Table</a></li>
                            </ol>
                        </ol>
                </div>
            </div>
            <div class="bucket-application " data-productId="AbSolutionTemplates" data-activityId="AbSolutionsUIAddIns" data-processId="LiveCycle Pdfs" data-productTitle="Technologies" data-activityTitle="User Interface Add-Ins" data-processTitle="LiveCycle Pdfs" data-subfolder="\ab-products\solutions" data-helpLink="" data-helpSystem="END USER" data-dashboardLayout="" data-dashboardView="" title="" oncontextmenu="return false;" onMouseUp="openPtask(this,event);">
                <h2 class="applications-process-title" title="">
                    <span class="process-title-text">LiveCycle Pdfs</span>
                </h2>
                <div class="bucket-wrapper" id="wrapper_absolutionsuiaddins_livecyclePdfs">
                        <ol class="ptask-labels">
                            <li></li>
                            <ol class="process-tasks">
                                <li><a href="ab-ex-pdf-livecycle-wr.axvw" rel="pTask" data-taskId="Single-page Pdf" data-taskIcon="ab-icon-task.gif">Single-page Pdf</a></li>
                                <li><a href="ab-ex-pdf-livecycle-wr-all.axvw" rel="pTask" data-taskId="Multi-page Pdf" data-taskIcon="ab-icon-task.gif">Multi-page Pdf</a></li>
                                <li><a href="ab-ex-pdf-livecycle-groupsmovebyproject.axvw" rel="pTask" data-taskId="Multi-DataSource Pdf" data-taskIcon="ab-icon-task.gif">Multi-DataSource Pdf</a></li>
                            </ol>
                        </ol>
                </div>
            </div>
            <div class="bucket-application " data-productId="AbSolutionTemplates" data-activityId="AbSolutionsUIAddIns" data-processId="Controls" data-productTitle="Technologies" data-activityTitle="User Interface Add-Ins" data-processTitle="Controls" data-subfolder="\ab-products\solutions" data-helpLink="" data-helpSystem="END USER" data-dashboardLayout="" data-dashboardView="" title="" oncontextmenu="return false;" onMouseUp="openPtask(this,event);">
                <h2 class="applications-process-title" title="">
                    <span class="process-title-text">Controls</span>
                </h2>
                <div class="bucket-wrapper" id="wrapper_absolutionsuiaddins_controls">
                        <ol class="ptask-labels">
                            <li></li>
                            <ol class="process-tasks">
                                <li><a href="ab-ex-gantt-activity.axvw" rel="pTask" data-taskId="Gantt Chart" data-taskIcon="ab-icon-task.gif">Gantt Chart</a></li>
                                <li><a href="ab-ex-heatmap-bl-occup.axvw" rel="pTask" data-taskId="Heat Map" data-taskIcon="ab-icon-task.gif">Heat Map</a></li>
                                <li><a href="ab-ex-treemap-bu-dv-dp.axvw" rel="pTask" data-taskId="Tree Map" data-taskIcon="ab-icon-task.gif">Tree Map</a></li>
                                <li><a href="ab-ex-map-area-by-ctry.axvw" rel="pTask" data-taskId="World Map" data-taskIcon="ab-icon-task.gif">World Map</a></li>
                                <li><a href="ab-ex-map-us-bl.axvw" rel="pTask" data-taskId="US Map" data-taskIcon="ab-icon-task.gif">US Map</a></li>
                            </ol>
                            <li class="empty-taskgroup-title">&nbsp;</li>
                            <ol class="process-tasks">
                                <li><a href="ab-ex-calendar-activity.axvw" rel="pTask" data-taskId="Calendar Showing Action Items" data-taskIcon="ab-icon-task.gif">Calendar Showing Action Items</a></li>
                                <li><a href="ab-ex-calendar-multiple-summary-field.axvw" rel="pTask" data-taskId="Calendar with Multiple Summary Fields" data-taskIcon="ab-icon-task.gif">Calendar with Multiple Summary Fields</a></li>
                                <li><a href="ab-ex-calendar-with-time-in-day.axvw" rel="pTask" data-taskId="Calendar with Days Divided by Hour" data-taskIcon="ab-icon-task.gif">Calendar with Days Divided by Hour</a></li>
                                <li><a href="ab-ex-calendar-with-weekend.axvw" rel="pTask" data-taskId="Calendar with Weekend Events" data-taskIcon="ab-icon-task.gif">Calendar with Weekend Events</a></li>
                                <li><a href="ab-ex-calendar-project.axvw" rel="pTask" data-taskId="Calendar Showing Projects" data-taskIcon="ab-icon-task.gif">Calendar Showing Projects</a></li>
                                <li><a href="ab-ex-calendar-wrkpkg.axvw" rel="pTask" data-taskId="Calendar Showing Work Packages" data-taskIcon="ab-icon-task.gif">Calendar Showing Work Packages</a></li>
                            </ol>
                            <li class="empty-taskgroup-title">&nbsp;</li>
                            <ol class="process-tasks">
                                <li><a href="ab-ex-gauge-escalations.axvw" rel="pTask" data-taskId="Circular Gauge" data-taskIcon="ab-icon-task.gif">Circular Gauge</a></li>
                                <li><a href="ab-ex-gauge-em-avg-area-by-bl.axvw" rel="pTask" data-taskId="Linear Gauge" data-taskIcon="ab-icon-task.gif">Linear Gauge</a></li>
                                <li><a href="ab-ex-gauge-knob.axvw" rel="pTask" data-taskId="Knob Gauge" data-taskIcon="ab-icon-task.gif">Knob Gauge</a></li>
                            </ol>
                            <li class="empty-taskgroup-title">&nbsp;</li>
                            <ol class="process-tasks">
                                <li><a href="ab-ex-htmlstack.axvw" rel="pTask" data-taskId="Stack" data-taskIcon="ab-icon-task.gif">Stack</a></li>
                            </ol>
                        </ol>
                </div>
            </div>
            <div class="bucket-application " data-productId="AbSolutionTemplates" data-activityId="AbSolutionsUIAddIns" data-processId="GIS Views" data-productTitle="Technologies" data-activityTitle="User Interface Add-Ins" data-processTitle="Geographic Information System (GIS) Views" data-subfolder="\ab-products\solutions" data-helpLink="" data-helpSystem="END USER" data-dashboardLayout="" data-dashboardView="" title="" oncontextmenu="return false;" onMouseUp="openPtask(this,event);">
                <h2 class="applications-process-title" title="">
                    <span class="process-title-text">Geographic Information System (GIS) Views</span>
                </h2>
                <div class="bucket-wrapper" id="wrapper_absolutionsuiaddins_gisViews">
                        <ol class="ptask-labels">
                            <li>Standard Maps - Esri API</li>
                            <ol class="process-tasks">
                                <li><a href="ab-arcgis-bl-simple-map.axvw" rel="pTask" data-taskId="Simple Map" data-taskIcon="ab-icon-task.gif">Simple Map</a></li>
                                <li><a href="ab-arcgis-property-single-datasource-map.axvw" rel="pTask" data-taskId="Map with Single Datasource" data-taskIcon="ab-icon-task.gif">Map with Single Datasource</a></li>
                                <li><a href="ab-arcgis-bl-pr-multi-datasources-map.axvw" rel="pTask" data-taskId="Map with Multi-Datasource" data-taskIcon="ab-icon-task.gif">Map with Multi-Datasource</a></li>
                                <li><a href="ab-arcgis-bl-marker-action.axvw" rel="pTask" data-taskId="Map with Marker Action" data-taskIcon="ab-icon-task.gif">Map with Marker Action</a></li>
                                <li><a href="ab-arcgis-bl-switch-layers.axvw" rel="pTask" data-taskId="Map with Layers" data-taskIcon="ab-icon-task.gif">Map with Layers</a></li>
                                <li><a href="ab-arcgis-bl-geocode.axvw" rel="pTask" data-taskId="Map with Address Geocoder" data-taskIcon="ab-icon-task.gif">Map with Address Geocoder</a></li>
                                <li><a href="ab-arcgis-locate-asset.axvw" rel="pTask" data-taskId="Map with Asset Locator" data-taskIcon="ab-icon-task.gif">Map with Asset Locator</a></li>
                                <li><a href="ab-arcgis-map-thematic-unique-value-renderer.axvw" rel="pTask" data-taskId="Map with Thematic Markers" data-taskIcon="ab-icon-task.gif">Map with Thematic Markers</a></li>
                                <li><a href="ab-arcgis-map-thematic-graduated-unique-value-renderer.axvw" rel="pTask" data-taskId="Map with Thematic-Graduated Markers" data-taskIcon="ab-icon-task.gif">Map with Thematic-Graduated Markers</a></li>
                                <li><a href="ab-arcgis-map-thematic-proportional-renderer.axvw" rel="pTask" data-taskId="Map with Thematic-Proportional Markers" data-taskIcon="ab-icon-task.gif">Map with Thematic-Proportional Markers</a></li>
                                <li><a href="ab-arcgis-extent-helper.axvw" rel="pTask" data-taskId="Map Extent Helper" data-taskIcon="ab-icon-task.gif">Map Extent Helper</a></li>
                                <li><a href="ab-arcgis-custom-extent.axvw" rel="pTask" data-taskId="Map with Custom Extent" data-taskIcon="ab-icon-task.gif">Map with Custom Extent</a></li>
                            </ol>
                            <li>Enhanced Maps - Extensions for Esri</li>
                            <ol class="process-tasks">
                                <li><a href="ab-arcgis-single-asset-layer.axvw" rel="pTask" data-taskId="Map with Single Asset Layer" data-taskIcon="ab-icon-task.gif">Map with Single Asset Layer</a></li>
                                <li><a href="ab-arcgis-multiple-asset-layers.axvw" rel="pTask" data-taskId="Map with Multiple Asset Layers" data-taskIcon="ab-icon-task.gif">Map with Multiple Asset Layers</a></li>
                                <li><a href="ab-arcgis-geospatial-asset-drilldown.axvw" rel="pTask" data-taskId="Geospatial Asset Drilldown" data-taskIcon="ab-icon-task.gif">Geospatial Asset Drilldown</a></li>
                                <li><a href="ab-arcgis-asset-explorer.axvw" rel="pTask" data-taskId="Campus Asset Explorer" data-taskIcon="ab-icon-task.gif">Campus Asset Explorer</a></li>
                                <li><a href="ab-arcgis-linear-assets.axvw" rel="pTask" data-taskId="Linear Assets" data-taskIcon="ab-icon-task.gif">Linear Assets</a></li>
                                <li><a href="ab-arcgis-request-access-token.axvw" rel="pTask" data-taskId="Token Authentication" data-taskIcon="ab-icon-task.gif">Token Authentication</a></li>
                            </ol>
                            <li>Standard Maps - Leaflet API</li>
                            <ol class="process-tasks">
                                <li><a href="ab-leaflet-esri-map.axvw" rel="pTask" data-taskId="Simple Map - Esri (Leaflet)" data-taskIcon="ab-icon-task.gif">Simple Map - Esri (Leaflet)</a></li>
                                <li><a href="ab-leaflet-google-map.axvw" rel="pTask" data-taskId="Simple Map - Google (Leaflet)" data-taskIcon="ab-icon-task.gif">Simple Map - Google (Leaflet)</a></li>
                                <li><a href="ab-leaflet-single-datasource-map.axvw" rel="pTask" data-taskId="Map with Single Datasource (Leaflet)" data-taskIcon="ab-icon-task.gif">Map with Single Datasource (Leaflet)</a></li>
                                <li><a href="ab-leaflet-multi-datasource-map.axvw" rel="pTask" data-taskId="Map with Multi-Datasource (Leaflet)" data-taskIcon="ab-icon-task.gif">Map with Multi-Datasource (Leaflet)</a></li>
                                <li><a href="ab-leaflet-marker-action.axvw" rel="pTask" data-taskId="Map with Marker Action (Leaflet)" data-taskIcon="ab-icon-task.gif">Map with Marker Action (Leaflet)</a></li>
                                <li><a href="ab-leaflet-esri-switch-layers.axvw" rel="pTask" data-taskId="Map with Layers - Esri (Leaflet)" data-taskIcon="ab-icon-task.gif">Map with Layers - Esri (Leaflet)</a></li>
                                <li><a href="ab-leaflet-google-switch-layers.axvw" rel="pTask" data-taskId="Map with Layers - Google (Leaflet)" data-taskIcon="ab-icon-task.gif">Map with Layers - Google (Leaflet)</a></li>
                                <li><a href="ab-leaflet-esri-geocode.axvw" rel="pTask" data-taskId="Map with Address Geocoder (Leaflet)" data-taskIcon="ab-icon-task.gif">Map with Address Geocoder (Leaflet)</a></li>
                                <li><a href="ab-leaflet-locate-asset.axvw" rel="pTask" data-taskId="Map with Asset Locator (Leaflet)" data-taskIcon="ab-icon-task.gif">Map with Asset Locator (Leaflet)</a></li>
                            </ol>
                            <li class="empty-taskgroup-title">&nbsp;</li>
                            <ol class="process-tasks">
                                <li><a href="ab-leaflet-map-simple-renderer.axvw" rel="pTask" data-taskId="Simple Markers (Leaflet)" data-taskIcon="ab-icon-task.gif">Simple Markers (Leaflet)</a></li>
                                <li><a href="ab-leaflet-map-simple-renderer-clusters.axvw" rel="pTask" data-taskId="Simple Clustered Markers (Leaflet)" data-taskIcon="ab-icon-task.gif">Simple Clustered Markers (Leaflet)</a></li>
                                <li><a href="ab-leaflet-map-thematic-unique-value-renderer.axvw" rel="pTask" data-taskId="Thematic (Unique Value) Markers (Leaflet)" data-taskIcon="ab-icon-task.gif">Thematic (Unique Value) Markers (Leaflet)</a></li>
                                <li><a href="ab-leaflet-map-thematic-class-break-renderer.axvw" rel="pTask" data-taskId="Thematic (Class Break) Markers (Leaflet)" data-taskIcon="ab-icon-task.gif">Thematic (Class Break) Markers (Leaflet)</a></li>
                                <li><a href="ab-leaflet-map-graduated-class-break-renderer.axvw" rel="pTask" data-taskId="Graduated Markers (Leaflet)" data-taskIcon="ab-icon-task.gif">Graduated Markers (Leaflet)</a></li>
                                <li><a href="ab-leaflet-map-thematic-graduated-unique-value-renderer.axvw" rel="pTask" data-taskId="Thematic (Unique Value) Graduated Markers (Leaflet)" data-taskIcon="ab-icon-task.gif">Thematic (Unique Value) Graduated Markers (Leaflet)</a></li>
                                <li><a href="ab-leaflet-map-thematic-graduated-class-break-renderer.axvw" rel="pTask" data-taskId="Thematic (Class Break) Graduated Markers (Leaflet)" data-taskIcon="ab-icon-task.gif">Thematic (Class Break) Graduated Markers (Leaflet)</a></li>
                                <li><a href="ab-leaflet-map-proportional-renderer.axvw" rel="pTask" data-taskId="Proportional Markers (Leaflet)" data-taskIcon="ab-icon-task.gif">Proportional Markers (Leaflet)</a></li>
                                <li><a href="ab-leaflet-map-thematic-proportional-unique-value-renderer.axvw" rel="pTask" data-taskId="Thematic (Unique Value) Proportional Markers (Leaflet)" data-taskIcon="ab-icon-task.gif">Thematic (Unique Value) Proportional Markers (Leaflet)</a></li>
                                <li><a href="ab-leaflet-map-thematic-proportional-class-break-renderer.axvw" rel="pTask" data-taskId="Thematic (Class Break) Proportional Markers (Leaflet)" data-taskIcon="ab-icon-task.gif">Thematic (Class Break) Proportional Markers (Leaflet)</a></li>
                            </ol>
                            <li class="empty-taskgroup-title">&nbsp;</li>
                            <ol class="process-tasks">
                                <li><a href="ab-leaflet-map-geometry-from-json.axvw" rel="pTask" data-taskId="Floor Plan Geometry from JSON (Leaflet)" data-taskIcon="ab-icon-task.gif">Floor Plan Geometry from JSON (Leaflet)</a></li>
                            </ol>
                        </ol>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
$(document).ready(function() {
    $('#navigationTabs').find('a').click(function() {return false;});
    initDandDFavorites();
    setPageDimensions();
    bindTaskContextMenu();
    localizeFavoritesDisplayText();
    loadFavoritesBuckets();
    modifyProcessTitleDisplay();
    pageTallPTaskBuckets();
});
</script>