<div class="nav-pages" id="SpaceInventoryPerformance">
    <div class="page">
        <div class="page-row full-height" >
            <h3 class="application-title" data-activityId="AbSpaceRoomInventoryBAR">Space Inventory & Performance</h3>
            <hr class="application-horizontal-rule">
            <div id="appProcFavoritesBucket" class="bucket-application bucket-background-light " data-activityId="" data-processId="" oncontextmenu="return false;">
                <h2 class="applications-process-title" data-processId="" title="Most often used tasks and reports.">My Favorites</h2>
                <div class="bucket-wrapper" id="wrapper_9e488ecd-0e50-4d6c-9412-74626eb8764c">
                    <div class="favorites-drop-target">
                        <span class="favorites-add-target"></span>
                        <span class="favorites-delete-target">&nbsp;</span>
                    </div>
                    <div class="favorites" onMouseUp="openPtask(this,event);">
                        <ol class="favorites-items">
                        </ol>
                    </div>
                </div>
            </div>
            <div class="bucket-application " data-productId="AbSpace" data-activityId="AbSpaceRoomInventoryBAR" data-processId="Background Data" data-productTitle="Space Planning & Management" data-activityTitle="Space Inventory & Performance" data-processTitle="Background Data" data-subfolder="\ab-products\space\inv" data-helpLink="\Subsystems\webc\Content\web_user\space\inventory\background\background.htm" data-helpSystem="END USER" data-dashboardLayout="" data-dashboardView="" title="" oncontextmenu="return false;" onMouseUp="openPtask(this,event);">
                <h2 class="applications-process-title" title="">
                    <span class="process-title-text">Background Data</span>
                </h2>
                <div class="bucket-wrapper" id="wrapper_abspaceroominventorybar_backgroundData">
                        <ol class="ptask-labels">
                            <li></li>
                            <ol class="process-tasks">
                                <li><a href="ab-def-geo-loc.axvw" rel="pTask" data-taskId="Define Geographical Locations" data-taskIcon="ab-icon-task.gif">Define Geographical Locations</a></li>
                                <li><a href="ab-sp-def-loc.axvw" rel="pTask" data-taskId="Define Locations" data-taskIcon="ab-icon-task.gif">Define Locations</a></li>
                                <li><a href="ab-sp-def-org.axvw" rel="pTask" data-taskId="Define Organizations" data-taskIcon="ab-icon-task.gif">Define Organizations</a></li>
                                <li><a href="ab-sp-create-dp-hatch.axvw" rel="pTask" data-taskId="Define Division and Department Highlight Patterns" data-taskIcon="ab-icon-task.gif">Define Division and Department Highlight Patterns</a></li>
                                <li><a href="ab-edit-std-sp-plan-types.axvw" rel="pTask" data-taskId="Edit Standard Space Plan Types" data-taskIcon="ab-icon-task.gif">Edit Standard Space Plan Types</a></li>
                            </ol>
                            <li>EXPORT</li>
                            <ol class="process-tasks">
                                <li><a href="ab-sp-vw-site.axvw" rel="pTask" data-taskId="View Sites" data-taskIcon="ab-icon-task.gif">View Sites</a></li>
                                <li><a href="ab-sp-vw-bl.axvw" rel="pTask" data-taskId="View Buildings" data-taskIcon="ab-icon-task.gif">View Buildings</a></li>
                                <li><a href="ab-sp-vw-fl.axvw" rel="pTask" data-taskId="View Floors" data-taskIcon="ab-icon-task.gif">View Floors</a></li>
                            </ol>
                            <li class="empty-taskgroup-title">&nbsp;</li>
                            <ol class="process-tasks">
                                <li><a href="ab-sp-vw-bu.axvw" rel="pTask" data-taskId="View Business Units" data-taskIcon="ab-icon-task.gif">View Business Units</a></li>
                                <li><a href="ab-sp-vw-dv.axvw" rel="pTask" data-taskId="View Divisions" data-taskIcon="ab-icon-task.gif">View Divisions</a></li>
                                <li><a href="ab-sp-vw-dp.axvw" rel="pTask" data-taskId="View Departments" data-taskIcon="ab-icon-task.gif">View Departments</a></li>
                            </ol>
                        </ol>
                </div>
            </div>
            <div class="bucket-application " data-productId="AbSpace" data-activityId="AbSpaceRoomInventoryBAR" data-processId="Building Performance" data-productTitle="Space Planning & Management" data-activityTitle="Space Inventory & Performance" data-processTitle="Building Performance" data-subfolder="\ab-products\space\inv" data-helpLink="\Subsystems\webc\Content\web_user\space\inventory\bldg_perform\overview.htm" data-helpSystem="END USER" data-dashboardLayout="" data-dashboardView="" title="" oncontextmenu="return false;" onMouseUp="openPtask(this,event);">
                <h2 class="applications-process-title" title="">
                    <span class="process-title-text">Building Performance</span>
                </h2>
                <div class="bucket-wrapper" id="wrapper_abspaceroominventorybar_buildingPerformance">
                        <ol class="ptask-labels">
                            <li>DATA SETUP</li>
                            <ol class="process-tasks">
                                <li><a href="ab-sp-def-loc.axvw" rel="pTask" data-taskId="Define Locations" data-taskIcon="ab-icon-task.gif">Define Locations</a></li>
                                <li><a href="ab-single-job.axvw?ruleId=AbCommonResources-SpaceService-addStandardRoomCategoriesAndTypes" rel="pTask" data-taskId="Add Vertical Penetration and Service Area Room Categories" data-taskIcon="ab-icon-task.gif">Add Vertical Penetration and Service Area Room Categories</a></li>
                                <li><a href="ab-sp-def-rmcat-rmtype.axvw" rel="pTask" data-taskId="Define Room Categories and Types" data-taskIcon="ab-icon-task.gif">Define Room Categories and Types</a></li>
                                <li><a href="ab-sp-express-imp-cat-type.axvw" rel="pTask" data-taskId="Import Room Categories and Types" data-taskIcon="ab-icon-task.gif">Import Room Categories and Types</a></li>
                            </ol>
                            <li>CALCULATIONS</li>
                            <ol class="process-tasks">
                                <li><a href="ab-single-job.axvw?ruleId=AbCommonResources-SpaceService-updateAreaTotals" rel="pTask" data-taskId="Update Area Totals" data-taskIcon="ab-icon-task.gif">Update Area Totals</a></li>
                            </ol>
                            <li>RESULTS</li>
                            <ol class="process-tasks">
                                <li><a href="ab-sp-vw-bl-perf.axvw" rel="pTask" data-taskId="View Building Performance Analysis" data-taskIcon="ab-icon-task.gif">View Building Performance Analysis</a></li>
                            </ol>
                            <li>View Service Area Summary by:</li>
                            <ol class="process-tasks">
                                <li><a href="ab-sp-vw-serv-by-rmtype.axvw" rel="pTask" data-taskId="... Type" data-taskIcon="ab-icon-task.gif">... Type</a></li>
                                <li><a href="ab-sp-vw-serv-by-bl.axvw" rel="pTask" data-taskId="... Building" data-taskIcon="ab-icon-task.gif">... Building</a></li>
                            </ol>
                            <li>View Vertical Penetration Summary by:</li>
                            <ol class="process-tasks">
                                <li><a href="ab-sp-vw-vert-by-rmtype.axvw" rel="pTask" data-taskId="-... Type" data-taskIcon="ab-icon-task.gif">-... Type</a></li>
                                <li><a href="ab-sp-vw-vert-by-bl.axvw" rel="pTask" data-taskId="-... Building" data-taskIcon="ab-icon-task.gif">-... Building</a></li>
                            </ol>
                            <li class="empty-taskgroup-title">&nbsp;</li>
                            <ol class="process-tasks">
                                <li><a href="ab-sp-hl-rm-by-rmcat-rmtype.axvw" rel="pTask" data-taskId="Highlight Rooms by Category and Type" data-taskIcon="ab-icon-task.gif">Highlight Rooms by Category and Type</a></li>
                            </ol>
                        </ol>
                </div>
            </div>
            <div class="bucket-application " data-productId="AbSpace" data-activityId="AbSpaceRoomInventoryBAR" data-processId="Group Inventory" data-productTitle="Space Planning & Management" data-activityTitle="Space Inventory & Performance" data-processTitle="Group Inventory" data-subfolder="\ab-products\space\inv" data-helpLink="\Subsystems\webc\Content\web_user\space\inventory\group\overview.htm" data-helpSystem="END USER" data-dashboardLayout="" data-dashboardView="" title="" oncontextmenu="return false;" onMouseUp="openPtask(this,event);">
                <h2 class="applications-process-title" title="">
                    <span class="process-title-text">Group Inventory</span>
                </h2>
                <div class="bucket-wrapper" id="wrapper_abspaceroominventorybar_groupInventory">
                        <ol class="ptask-labels">
                            <li>DATA SETUP</li>
                            <ol class="process-tasks">
                                <li><a href="ab-sp-def-gpstd.axvw" rel="pTask" data-taskId="Define Group Standards" data-taskIcon="ab-icon-task.gif">Define Group Standards</a></li>
                                <li><a href="ab-sp-def-gp.axvw" rel="pTask" data-taskId="Define Groups" data-taskIcon="ab-icon-task.gif">Define Groups</a></li>
                            </ol>
                            <li>CALCULATIONS</li>
                            <ol class="process-tasks">
                                <li><a href="ab-single-job.axvw?ruleId=AbCommonResources-SpaceService-updateAreaTotals" rel="pTask" data-taskId="Update Area Totals" data-taskIcon="ab-icon-task.gif">Update Area Totals</a></li>
                            </ol>
                            <li>View Groups by:</li>
                            <ol class="process-tasks">
                                <li><a href="ab-sp-vw-gp-by-bl-fl.axvw" rel="pTask" data-taskId="... Building and Floor" data-taskIcon="ab-icon-task.gif">... Building and Floor</a></li>
                                <li><a href="ab-sp-vw-gp-by-dv-dp.axvw" rel="pTask" data-taskId="... Division and Department" data-taskIcon="ab-icon-task.gif">... Division and Department</a></li>
                                <li><a href="ab-sp-vw-gp-by-gpstd.axvw" rel="pTask" data-taskId="... Standard" data-taskIcon="ab-icon-task.gif">... Standard</a></li>
                            </ol>
                            <li>View Group Standards by:</li>
                            <ol class="process-tasks">
                                <li><a href="ab-sp-vw-gpstd-by-bl.axvw" rel="pTask" data-taskId="... Building" data-taskIcon="ab-icon-task.gif">... Building</a></li>
                                <li><a href="ab-sp-vw-gpstd-by-fl.axvw" rel="pTask" data-taskId="... Floor" data-taskIcon="ab-icon-task.gif">... Floor</a></li>
                                <li><a href="ab-sp-vw-gpstd-by-dp.axvw" rel="pTask" data-taskId="... Department" data-taskIcon="ab-icon-task.gif">... Department</a></li>
                            </ol>
                            <li>View Departments by:</li>
                            <ol class="process-tasks">
                                <li><a href="ab-sp-gp-vw-dp-by-dp.axvw" rel="pTask" data-taskId="... All Departments" data-taskIcon="ab-icon-task.gif">... All Departments</a></li>
                                <li><a href="ab-sp-gp-vw-dp-by-bl.axvw" rel="pTask" data-taskId="-... Building" data-taskIcon="ab-icon-task.gif">-... Building</a></li>
                                <li><a href="ab-sp-gp-vw-dp-by-fl.axvw" rel="pTask" data-taskId="-... Floor" data-taskIcon="ab-icon-task.gif">-... Floor</a></li>
                                <li><a href="ab-sp-gp-vw-dp-per-fl.axvw" rel="pTask" data-taskId="... Departments per Floor" data-taskIcon="ab-icon-task.gif">... Departments per Floor</a></li>
                            </ol>
                            <li>Highlight Groups by:</li>
                            <ol class="process-tasks">
                                <li><a href="ab-sp-hl-gp-by-dp-per-fl.axvw" rel="pTask" data-taskId="... Department per Floor" data-taskIcon="ab-icon-task.gif">... Department per Floor</a></li>
                                <li><a href="ab-sp-hl-gp-by-dp.axvw" rel="pTask" data-taskId="-... Department" data-taskIcon="ab-icon-task.gif">-... Department</a></li>
                                <li><a href="ab-sp-hl-gp-by-gpstd.axvw" rel="pTask" data-taskId="-... Standard" data-taskIcon="ab-icon-task.gif">-... Standard</a></li>
                            </ol>
                        </ol>
                </div>
            </div>
            <div class="bucket-application " data-productId="AbSpace" data-activityId="AbSpaceRoomInventoryBAR" data-processId="Room Inventory" data-productTitle="Space Planning & Management" data-activityTitle="Space Inventory & Performance" data-processTitle="Room Inventory" data-subfolder="\ab-products\space\inv" data-helpLink="\Subsystems\webc\Content\web_user\space\inventory\room\legacy\overview.htm" data-helpSystem="END USER" data-dashboardLayout="" data-dashboardView="" title="" oncontextmenu="return false;" onMouseUp="openPtask(this,event);">
                <h2 class="applications-process-title" title="">
                    <span class="process-title-text">Room Inventory</span>
                </h2>
                <div class="bucket-wrapper" id="wrapper_abspaceroominventorybar_roomInventory">
                        <ol class="ptask-labels">
                            <li>DATA SETUP</li>
                            <ol class="process-tasks">
                                <li><a href="ab-sp-def-rmcat-rmtype.axvw" rel="pTask" data-taskId="Define Room Categories and Types" data-taskIcon="ab-icon-task.gif">Define Room Categories and Types</a></li>
                                <li><a href="ab-sp-create-rmcat-rmtype-hatch.axvw" rel="pTask" data-taskId="Define Room Category and Type Highlight Patterns" data-taskIcon="ab-icon-task.gif">Define Room Category and Type Highlight Patterns</a></li>
                                <li><a href="ab-sp-def-rmstd.axvw" rel="pTask" data-taskId="Define Room Standards" data-taskIcon="ab-icon-task.gif">Define Room Standards</a></li>
                                <li><a href="ab-sp-create-rmstd-hatch.axvw" rel="pTask" data-taskId="Define Room Standard Highlight Patterns" data-taskIcon="ab-icon-task.gif">Define Room Standard Highlight Patterns</a></li>
                                <li><a href="ab-sp-def-loc-rm.axvw" rel="pTask" data-taskId="Define Rooms" data-taskIcon="ab-icon-task.gif">Define Rooms</a></li>
                                <li><a href="ab-sp-asgn-rmcat-rmtype-to-rm.axvw" rel="pTask" data-taskId="Assign Categories and Types to Rooms" data-taskIcon="ab-icon-task.gif">Assign Categories and Types to Rooms</a></li>
                                <li><a href="ab-sp-asgn-rmstd-to-rm.axvw" rel="pTask" data-taskId="Assign Room Standards to Rooms" data-taskIcon="ab-icon-task.gif">Assign Room Standards to Rooms</a></li>
                                <li><a href="ab-sp-asgn-dv-dp-to-rm.axvw" rel="pTask" data-taskId="Assign Divisions and Departments to Rooms" data-taskIcon="ab-icon-task.gif">Assign Divisions and Departments to Rooms</a></li>
                            </ol>
                            <li>CALCULATIONS</li>
                            <ol class="process-tasks">
                                <li><a href="ab-single-job.axvw?ruleId=AbCommonResources-SpaceService-updateRoomAreaFromManualArea" rel="pTask" data-taskId="Update Room Area from Manual Area" data-taskIcon="ab-icon-task.gif">Update Room Area from Manual Area</a></li>
                                <li><a href="ab-single-job.axvw?ruleId=AbCommonResources-SpaceService-updateAreaTotals" rel="pTask" data-taskId="Update Area Totals" data-taskIcon="ab-icon-task.gif">Update Area Totals</a></li>
                            </ol>
                            <li>View Rooms by:</li>
                            <ol class="process-tasks">
                                <li><a href="ab-sp-vw-rm-by-bl-fl.axvw" rel="pTask" data-taskId="... Building and Floor" data-taskIcon="ab-icon-task.gif">... Building and Floor</a></li>
                                <li><a href="ab-sp-vw-rm-by-dv-dp.axvw" rel="pTask" data-taskId="... Division and Department" data-taskIcon="ab-icon-task.gif">... Division and Department</a></li>
                                <li><a href="ab-sp-vw-rm-by-fl-dp.axvw" rel="pTask" data-taskId="... Floor and Department" data-taskIcon="ab-icon-task.gif">... Floor and Department</a></li>
                                <li><a href="ab-sp-vw-rm-by-rmstd.axvw" rel="pTask" data-taskId="... Standard" data-taskIcon="ab-icon-task.gif">... Standard</a></li>
                                <li><a href="ab-sp-vw-rm-by-rmcat-rmtype.axvw" rel="pTask" data-taskId="... Category and Type" data-taskIcon="ab-icon-task.gif">... Category and Type</a></li>
                            </ol>
                            <li>View Room Categories and Types by:</li>
                            <ol class="process-tasks">
                                <li><a href="ab-sp-vw-rmcat-by-bl.axvw" rel="pTask" data-taskId="... Building" data-taskIcon="ab-icon-task.gif">... Building</a></li>
                                <li><a href="ab-sp-vw-rmcat-by-fl.axvw" rel="pTask" data-taskId="... Floor" data-taskIcon="ab-icon-task.gif">... Floor</a></li>
                                <li><a href="ab-sp-vw-rmcat-by-dv.axvw" rel="pTask" data-taskId="... Division" data-taskIcon="ab-icon-task.gif">... Division</a></li>
                                <li><a href="ab-sp-vw-rmcat-by-dp.axvw" rel="pTask" data-taskId="... Department" data-taskIcon="ab-icon-task.gif">... Department</a></li>
                            </ol>
                            <li>View Room Standards by:</li>
                            <ol class="process-tasks">
                                <li><a href="ab-sp-vw-rmstd-by-bl.axvw" rel="pTask" data-taskId="-... Building" data-taskIcon="ab-icon-task.gif">-... Building</a></li>
                                <li><a href="ab-sp-vw-rmstd-by-fl.axvw" rel="pTask" data-taskId="-... Floor" data-taskIcon="ab-icon-task.gif">-... Floor</a></li>
                                <li><a href="ab-sp-vw-rmstd-by-dv.axvw" rel="pTask" data-taskId="-... Division" data-taskIcon="ab-icon-task.gif">-... Division</a></li>
                                <li><a href="ab-sp-vw-rmstd-by-dp.axvw" rel="pTask" data-taskId="-... Department" data-taskIcon="ab-icon-task.gif">-... Department</a></li>
                            </ol>
                            <li>View Departments by:</li>
                            <ol class="process-tasks">
                                <li><a href="ab-sp-rm-vw-dp-by-dp.axvw" rel="pTask" data-taskId="... All Departments" data-taskIcon="ab-icon-task.gif">... All Departments</a></li>
                                <li><a href="ab-sp-rm-vw-dp-by-bl.axvw" rel="pTask" data-taskId="--... Building" data-taskIcon="ab-icon-task.gif">--... Building</a></li>
                                <li><a href="ab-sp-rm-vw-dp-by-fl.axvw" rel="pTask" data-taskId="--... Floor" data-taskIcon="ab-icon-task.gif">--... Floor</a></li>
                                <li><a href="ab-sp-rm-vw-dp-per-fl.axvw" rel="pTask" data-taskId="... Departments per Floor" data-taskIcon="ab-icon-task.gif">... Departments per Floor</a></li>
                            </ol>
                            <li>Highlight Rooms by:</li>
                            <ol class="process-tasks">
                                <li><a href="ab-sp-hl-rm-by-dp-per-fl.axvw" rel="pTask" data-taskId="... Department per Floor" data-taskIcon="ab-icon-task.gif">... Department per Floor</a></li>
                                <li><a href="ab-sp-hl-rm-by-dp.axvw" rel="pTask" data-taskId="--... Department" data-taskIcon="ab-icon-task.gif">--... Department</a></li>
                                <li><a href="ab-sp-hl-rm-by-rmstd.axvw" rel="pTask" data-taskId="-... Standard" data-taskIcon="ab-icon-task.gif">-... Standard</a></li>
                                <li><a href="ab-sp-hl-rm-by-rmcat-rmtype.axvw" rel="pTask" data-taskId="-... Category and Type" data-taskIcon="ab-icon-task.gif">-... Category and Type</a></li>
                            </ol>
                            <li>EXPORT</li>
                            <ol class="process-tasks">
                                <li><a href="ab-sp-vw-rmcat.axvw" rel="pTask" data-taskId="View Room Categories" data-taskIcon="ab-icon-task.gif">View Room Categories</a></li>
                                <li><a href="ab-sp-vw-rmtype.axvw" rel="pTask" data-taskId="View Room Types" data-taskIcon="ab-icon-task.gif">View Room Types</a></li>
                                <li><a href="ab-sp-vw-rmstd.axvw" rel="pTask" data-taskId="View Room Standards" data-taskIcon="ab-icon-task.gif">View Room Standards</a></li>
                            </ol>
                            <li class="empty-taskgroup-title">&nbsp;</li>
                            <ol class="process-tasks">
                                <li><a href="ab-sp-vw-rm.axvw" rel="pTask" data-taskId="View Rooms" data-taskIcon="ab-icon-task.gif">View Rooms</a></li>
                            </ol>
                        </ol>
                </div>
            </div>
        </div>
        <div class="page-row full-height" >
            <h3 class="application-title" data-activityId="AbSpaceRoomInventoryBAR">Space Inventory & Performance</h3>
            <hr class="application-horizontal-rule">
            <div class="bucket-application " data-productId="AbSpace" data-activityId="AbSpaceRoomInventoryBAR" data-processId="Department Manager" data-productTitle="Space Planning & Management" data-activityTitle="Space Inventory & Performance" data-processTitle="Department Manager" data-subfolder="\ab-products\space\inv" data-helpLink="\Subsystems\webc\Content\web_user\space\inventory\dept\dept_mgr.htm" data-helpSystem="END USER" data-dashboardLayout="" data-dashboardView="" title="" oncontextmenu="return false;" onMouseUp="openPtask(this,event);">
                <h2 class="applications-process-title" title="">
                    <span class="process-title-text">Department Manager</span>
                </h2>
                <div class="bucket-wrapper" id="wrapper_abspaceroominventorybar_departmentManager">
                        <ol class="ptask-labels">
                            <li></li>
                            <ol class="process-tasks">
                                <li><a href="ab-sp-hl-dp-rm-per-fl.axvw" rel="pTask" data-taskId="Highlight Department Rooms per Floor" data-taskIcon="ab-icon-task.gif">Highlight Department Rooms per Floor</a></li>
                                <li><a href="ab-sp-hl-dp-gp-per-fl.axvw" rel="pTask" data-taskId="Highlight Department Groups per Floor" data-taskIcon="ab-icon-task.gif">Highlight Department Groups per Floor</a></li>
                                <li><a href="ab-sp-vw-dp-rm.axvw" rel="pTask" data-taskId="View Department Rooms" data-taskIcon="ab-icon-task.gif">View Department Rooms</a></li>
                                <li><a href="ab-sp-vw-dp-gp.axvw" rel="pTask" data-taskId="View Department Groups" data-taskIcon="ab-icon-task.gif">View Department Groups</a></li>
                                <li><a href="ab-sp-asgn-user-dp-to-rm.axvw" rel="pTask" data-taskId="Assign Department to Rooms" data-taskIcon="ab-icon-task.gif">Assign Department to Rooms</a></li>
                            </ol>
                        </ol>
                </div>
            </div>
            <div class="bucket-application " data-productId="AbSpace" data-activityId="AbSpaceRoomInventoryBAR" data-processId="Space Manager" data-productTitle="Space Planning & Management" data-activityTitle="Space Inventory & Performance" data-processTitle="Space Manager" data-subfolder="\ab-products\space\inv" data-helpLink="\Subsystems\webc\Content\web_user\space\inventory\space_mgr\space_mgr_legacy.htm" data-helpSystem="END USER" data-dashboardLayout="" data-dashboardView="" title="" oncontextmenu="return false;" onMouseUp="openPtask(this,event);">
                <h2 class="applications-process-title" title="">
                    <span class="process-title-text">Space Manager</span>
                </h2>
                <div class="bucket-wrapper" id="wrapper_abspaceroominventorybar_spaceManager">
                        <ol class="ptask-labels">
                            <li></li>
                            <ol class="process-tasks">
                                <li><a href="ab-sp-console-trans.axvw" rel="pTask" data-taskId="Space Console" data-taskIcon="ab-icon-task.gif">Space Console</a></li>
                            </ol>
                            <li>View Departments by:</li>
                            <ol class="process-tasks">
                                <li><a href="ab-sp-vw-dp-by-dp.axvw" rel="pTask" data-taskId="... All Departments" data-taskIcon="ab-icon-task.gif">... All Departments</a></li>
                                <li><a href="ab-sp-vw-dp-by-bl.axvw" rel="pTask" data-taskId="... Building" data-taskIcon="ab-icon-task.gif">... Building</a></li>
                                <li><a href="ab-sp-vw-dp-by-fl.axvw" rel="pTask" data-taskId="... Floor" data-taskIcon="ab-icon-task.gif">... Floor</a></li>
                                <li><a href="ab-sp-vw-dp-per-fl.axvw" rel="pTask" data-taskId="... Departments per Floor" data-taskIcon="ab-icon-task.gif">... Departments per Floor</a></li>
                            </ol>
                            <li class="empty-taskgroup-title">&nbsp;</li>
                            <ol class="process-tasks">
                                <li><a href="ab-sp-space-book-rmsurvey-console.axvw" rel="pTask" data-taskId="Manage Space Surveys" data-taskIcon="ab-icon-task.gif">Manage Space Surveys</a></li>
                                <li><a href="ab-sp-alloc-trend-metric.axvw" rel="pTask" data-taskId="Allocation and Benchmarks" data-taskIcon="ab-icon-task.gif">Allocation and Benchmarks</a></li>
                                <li><a href="ab-sp-vw-area-remain.axvw" rel="pTask" data-taskId="View Remaining Area" data-taskIcon="ab-icon-task.gif">View Remaining Area</a></li>
                                <li><a href="ab-sp-show-dp-stack.axvw" rel="pTask" data-taskId="Show Departmental Stack Plan" data-taskIcon="ab-icon-task.gif">Show Departmental Stack Plan</a></li>
                                <li><a href="ab-sp-show-dp-anal.axvw" rel="pTask" data-taskId="Show Departmental Analysis Chart" data-taskIcon="ab-icon-task.gif">Show Departmental Analysis Chart</a></li>
                                <li><a href="ab-sp-express-loc-his.axvw" rel="pTask" data-taskId="Space and Occupancy History" data-taskIcon="ab-icon-task.gif">Space and Occupancy History</a></li>
                            </ol>
                        </ol>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
$(document).ready(function() {
    $('#navigationTabs').find('a').click(function() {return false;});
    initDandDFavorites();
    setPageDimensions();
    bindTaskContextMenu();
    localizeFavoritesDisplayText();
    loadFavoritesBuckets();
    modifyProcessTitleDisplay();
    pageTallPTaskBuckets();
});
</script>