<div class="nav-pages" id="BusinessProcessOwnerViews">
    <div class="page">
        <div class="page-row full-height" >
            <h3 class="application-title" data-activityId="AbSolutionsViewsProcessOwner">Business Process Owner Views</h3>
            <hr class="application-horizontal-rule">
            <div id="appProcFavoritesBucket" class="bucket-application bucket-background-light " data-activityId="" data-processId="" oncontextmenu="return false;">
                <h2 class="applications-process-title" data-processId="" title="Most often used tasks and reports.">My Favorites</h2>
                <div class="bucket-wrapper" id="wrapper_3b5d2624-ce41-4581-b07a-63177046f6f9">
                    <div class="favorites-drop-target">
                        <span class="favorites-add-target"></span>
                        <span class="favorites-delete-target">&nbsp;</span>
                    </div>
                    <div class="favorites" onMouseUp="openPtask(this,event);">
                        <ol class="favorites-items">
                        </ol>
                    </div>
                </div>
            </div>
            <div class="bucket-application " data-productId="AbSolutionTemplates" data-activityId="AbSolutionsViewsProcessOwner" data-processId="View Definition Patterns" data-productTitle="Technologies" data-activityTitle="Business Process Owner Views" data-processTitle="View Definition Patterns" data-subfolder="\ab-products\solutions\view-examples" data-helpLink="" data-helpSystem="END USER" data-dashboardLayout="" data-dashboardView="" title="" oncontextmenu="return false;" onMouseUp="openPtask(this,event);">
                <h2 class="applications-process-title" title="">
                    <span class="process-title-text">View Definition Patterns</span>
                </h2>
                <div class="bucket-wrapper" id="wrapper_absolutionsviewsprocessowner_viewDefinitionPatterns">
                        <ol class="ptask-labels">
                            <li>Wizards</li>
                            <ol class="process-tasks">
                                <li><a href="ab-viewdef-wizard.axvw" rel="pTask" data-taskId="Run View Definition Wizard" data-taskIcon="ab-icon-task.gif">Run View Definition Wizard</a></li>
                                <li><a href="ab-dashdef-wizard.axvw" rel="pTask" data-taskId="Run Dashboard Definition Wizard" data-taskIcon="ab-icon-task.gif">Run Dashboard Definition Wizard</a></li>
                            </ol>
                            <li>Interactive Report View Patterns</li>
                            <ol class="process-tasks">
                                <li><a href="ab-viewdef-report.axvw" rel="pTask" data-taskId="Report" data-taskIcon="ab-icon-task.gif">Report</a></li>
                                <li><a href="ab-viewdef-report-drilldown.axvw" rel="pTask" data-taskId="Drill-down to a Report" data-taskIcon="ab-icon-task.gif">Drill-down to a Report</a></li>
                                <li><a href="ab-viewdef-report-drilldown-two-level.axvw" rel="pTask" data-taskId="Two-level Drill-down to a Report" data-taskIcon="ab-icon-task.gif">Two-level Drill-down to a Report</a></li>
                            </ol>
                            <li>Paginated Report View Patterns</li>
                            <ol class="process-tasks">
                                <li><a href="pagereports/ab-viewdef-paginated.axvw" rel="pTask" data-taskId="A Paginated Report with One Data Band" data-taskIcon="ab-icon-task.gif">A Paginated Report with One Data Band</a></li>
                                <li><a href="pagereports/ab-viewdef-paginated-parent-child.axvw" rel="pTask" data-taskId="A Paginated Report with One Parent Band and One Child Band" data-taskIcon="ab-icon-task.gif">A Paginated Report with One Parent Band and One Child Band</a></li>
                                <li><a href="pagereports/ab-viewdef-paginated-parent-parent-child.axvw" rel="pTask" data-taskId="A Paginated Report with Two Parent Bands and One Child Band" data-taskIcon="ab-icon-task.gif">A Paginated Report with Two Parent Bands and One Child Band</a></li>
                                <li><a href="pagereports/ab-viewdef-paginated-highlight-restriction.axvw" rel="pTask" data-taskId="A Paginated Report with Highlighted Drawings" data-taskIcon="ab-icon-task.gif">A Paginated Report with Highlighted Drawings</a></li>
                                <li><a href="pagereports/ab-viewdef-paginated-highlight-thematic.axvw" rel="pTask" data-taskId="A Paginated Report with Thematically Highlighted Drawings" data-taskIcon="ab-icon-task.gif">A Paginated Report with Thematically Highlighted Drawings</a></li>
                            </ol>
                            <li>Summary Report View Patterns</li>
                            <ol class="process-tasks">
                                <li><a href="ab-viewdef-summary-report.axvw" rel="pTask" data-taskId="A Summary Report" data-taskIcon="ab-icon-task.gif">A Summary Report</a></li>
                                <li><a href="ab-viewdef-summary-report-drilldown.axvw" rel="pTask" data-taskId="A Drill-down to a Summary Report" data-taskIcon="ab-icon-task.gif">A Drill-down to a Summary Report</a></li>
                                <li><a href="ab-viewdef-summary-chart.axvw" rel="pTask" data-taskId="A Summary Chart" data-taskIcon="ab-icon-task.gif">A Summary Chart</a></li>
                                <li><a href="ab-viewdef-summary-chart-drilldown.axvw" rel="pTask" data-taskId="A Drill-down to a Summary Chart" data-taskIcon="ab-icon-task.gif">A Drill-down to a Summary Chart</a></li>
                            </ol>
                            <li>Edit View Patterns</li>
                            <ol class="process-tasks">
                                <li><a href="ab-viewdef-editform-drilldown.axvw" rel="pTask" data-taskId="A Select-Edit Form" data-taskIcon="ab-icon-task.gif">A Select-Edit Form</a></li>
                                <li><a href="ab-viewdef-editform-drilldown-two-level.axvw" rel="pTask" data-taskId="A Drill-down to a Select-Edit Form" data-taskIcon="ab-icon-task.gif">A Drill-down to a Select-Edit Form</a></li>
                                <li><a href="ab-viewdef-editform-drilldown-popup.axvw" rel="pTask" data-taskId="A Two-level Drill-down to a Pop-up Edit Form" data-taskIcon="ab-icon-task.gif">A Two-level Drill-down to a Pop-up Edit Form</a></li>
                                <li><a href="ab-viewdef-editform-drilldown-console.axvw" rel="pTask" data-taskId="A Console Select-Edit Form" data-taskIcon="ab-icon-task.gif">A Console Select-Edit Form</a></li>
                            </ol>
                        </ol>
                </div>
            </div>
            <div class="bucket-application " data-productId="AbSolutionTemplates" data-activityId="AbSolutionsViewsProcessOwner" data-processId="Basic Views" data-productTitle="Technologies" data-activityTitle="Business Process Owner Views" data-processTitle="Basic Views" data-subfolder="\ab-products\solutions\view-examples" data-helpLink="" data-helpSystem="END USER" data-dashboardLayout="" data-dashboardView="" title="Review examples of elementary reports." oncontextmenu="return false;" onMouseUp="openPtask(this,event);">
                <h2 class="applications-process-title" title="Review examples of elementary reports.">
                    <span class="process-title-text">Basic Views</span>
                </h2>
                <div class="bucket-wrapper" id="wrapper_absolutionsviewsprocessowner_basicViews">
                        <ol class="ptask-labels">
                            <li></li>
                            <ol class="process-tasks">
                                <li><a href="ab-ex-view-minimal.axvw" rel="pTask" data-taskId="Minimal Report View" data-taskIcon="ab-icon-task.gif">Minimal Report View</a></li>
                                <li><a href="ab-ex-rm.axvw" rel="pTask" data-taskId="View Rooms" data-taskIcon="ab-icon-task.gif">View Rooms</a></li>
                                <li><a href="ab-ex-rms-and-stds.axvw" rel="pTask" data-taskId="View Rooms and Standards" data-taskIcon="ab-icon-task.gif">View Rooms and Standards</a></li>
                                <li><a href="ab-ex-rm-sort-by-std.axvw" rel="pTask" data-taskId="View Rooms Sorted by Standard" data-taskIcon="ab-icon-task.gif">View Rooms Sorted by Standard</a></li>
                                <li><a href="ab-ex-rm-sort-by-area.axvw" rel="pTask" data-taskId="View Rooms Sorted by Area, Descending" data-taskIcon="ab-icon-task.gif">View Rooms Sorted by Area, Descending</a></li>
                                <li><a href="ab-ex-rm-sort-group-by-std.axvw" rel="pTask" data-taskId="View Rooms Uniquely Grouped by Standard" data-taskIcon="ab-icon-task.gif">View Rooms Uniquely Grouped by Standard</a></li>
                            </ol>
                            <li class="empty-taskgroup-title">&nbsp;</li>
                            <ol class="process-tasks">
                                <li><a href="ab-ex-wr-alltypes.axvw" rel="pTask" data-taskId="View Work Requests (all data types)" data-taskIcon="ab-icon-task.gif">View Work Requests (all data types)</a></li>
                                <li><a href="ab-ex-wr-alltypes-column.axvw" rel="pTask" data-taskId="View Work Requests (all data types, column format)" data-taskIcon="ab-icon-task.gif">View Work Requests (all data types, column format)</a></li>
                                <li><a href="ab-ex-wr-edit.axvw" rel="pTask" data-taskId="Edit Work Requests (all data types)" data-taskIcon="ab-icon-task.gif">Edit Work Requests (all data types)</a></li>
                            </ol>
                            <li class="empty-taskgroup-title">&nbsp;</li>
                            <ol class="process-tasks">
                                <li><a href="ab-ex-eq.axvw" rel="pTask" data-taskId="View Equipment (large number of fields)" data-taskIcon="ab-icon-task.gif">View Equipment (large number of fields)</a></li>
                            </ol>
                        </ol>
                </div>
            </div>
            <div class="bucket-application " data-productId="AbSolutionTemplates" data-activityId="AbSolutionsViewsProcessOwner" data-processId="Analysis Views" data-productTitle="Technologies" data-activityTitle="Business Process Owner Views" data-processTitle="Analysis Views" data-subfolder="\ab-products\solutions\view-examples" data-helpLink="" data-helpSystem="END USER" data-dashboardLayout="" data-dashboardView="" title="" oncontextmenu="return false;" onMouseUp="openPtask(this,event);">
                <h2 class="applications-process-title" title="">
                    <span class="process-title-text">Analysis Views</span>
                </h2>
                <div class="bucket-wrapper" id="wrapper_absolutionsviewsprocessowner_analysisViews">
                        <ol class="ptask-labels">
                            <li></li>
                            <ol class="process-tasks">
                                <li><a href="ab-ex-wr-count-1d.axvw" rel="pTask" data-taskId="Work Requests by Requestor -- 1d Table" data-taskIcon="ab-icon-task.gif">Work Requests by Requestor -- 1d Table</a></li>
                                <li><a href="ab-ex-rm-stdstats-1d-table.axvw" rel="pTask" data-taskId="Room Statistics -- 1d Table" data-taskIcon="ab-icon-task.gif">Room Statistics -- 1d Table</a></li>
                                <li><a href="ab-ex-rm-stdstats-1d-barchart.axvw" rel="pTask" data-taskId="Room Statistics -- 1d Bar Chart" data-taskIcon="ab-icon-task.gif">Room Statistics -- 1d Bar Chart</a></li>
                                <li><a href="ab-ex-rm-dpstats-1d-table.axvw" rel="pTask" data-taskId="Department Statistics -- 1d Table" data-taskIcon="ab-icon-task.gif">Department Statistics -- 1d Table</a></li>
                                <li><a href="ab-ex-rm-dpstats-1d-stackedbarchart.axvw" rel="pTask" data-taskId="Department Statistics -- 1d Stacked Bar Chart" data-taskIcon="ab-icon-task.gif">Department Statistics -- 1d Stacked Bar Chart</a></li>
                                <li><a href="ab-ex-rm-dpstats-1d-linechart.axvw" rel="pTask" data-taskId="Department Statistics -- 1d Line Chart" data-taskIcon="ab-icon-task.gif">Department Statistics -- 1d Line Chart</a></li>
                                <li><a href="ab-ex-rm-dpstats-1d-areachart.axvw" rel="pTask" data-taskId="Department Statistics -- 1d Area Chart" data-taskIcon="ab-icon-task.gif">Department Statistics -- 1d Area Chart</a></li>
                                <li><a href="ab-ex-rm-dpstats-1d-stackedareachart.axvw" rel="pTask" data-taskId="Department Statistics -- 1d Stacked Area Chart" data-taskIcon="ab-icon-task.gif">Department Statistics -- 1d Stacked Area Chart</a></li>
                                <li><a href="ab-ex-rm-dpstats-1d-piechart_row.axvw" rel="pTask" data-taskId="Department Statistics -- 1d Pie Chart" data-taskIcon="ab-icon-task.gif">Department Statistics -- 1d Pie Chart</a></li>
                                <li><a href="ab-ex-rmxstdxbl-2d-table.axvw" rel="pTask" data-taskId="Rooms by Standard and Building -- 2d Table" data-taskIcon="ab-icon-task.gif">Rooms by Standard and Building -- 2d Table</a></li>
                                <li><a href="ab-ex-rmxstdxbl-2d-chart.axvw" rel="pTask" data-taskId="Rooms by Standard and Building -- 2d Chart" data-taskIcon="ab-icon-task.gif">Rooms by Standard and Building -- 2d Chart</a></li>
                            </ol>
                        </ol>
                </div>
            </div>
            <div class="bucket-application " data-productId="AbSolutionTemplates" data-activityId="AbSolutionsViewsProcessOwner" data-processId="Paginated Reports" data-productTitle="Technologies" data-activityTitle="Business Process Owner Views" data-processTitle="Paginated Reports" data-subfolder="\ab-products\solutions\view-examples" data-helpLink="" data-helpSystem="END USER" data-dashboardLayout="" data-dashboardView="" title="" oncontextmenu="return false;" onMouseUp="openPtask(this,event);">
                <h2 class="applications-process-title" title="">
                    <span class="process-title-text">Paginated Reports</span>
                </h2>
                <div class="bucket-wrapper" id="wrapper_absolutionsviewsprocessowner_paginatedReports">
                        <ol class="ptask-labels">
                            <li></li>
                            <ol class="process-tasks">
                                <li><a href="pagereports/ab-ex-rm-rpt.axvw" rel="pTask" data-taskId="Report with Data Band" data-taskIcon="ab-icon-task.gif">Report with Data Band</a></li>
                                <li><a href="pagereports/ab-ex-report-totals.axvw" rel="pTask" data-taskId="Report with Totals" data-taskIcon="ab-icon-task.gif">Report with Totals</a></li>
                                <li><a href="pagereports/ab-ex-rmxfl-rpt.axvw" rel="pTask" data-taskId="Report with One Parent and One Child Data Band" data-taskIcon="ab-icon-task.gif">Report with One Parent and One Child Data Band</a></li>
                                <li><a href="pagereports/ab-ex-rmxflxbl-rpt.axvw" rel="pTask" data-taskId="Report with Two Parent Data Bands" data-taskIcon="ab-icon-task.gif">Report with Two Parent Data Bands</a></li>
                                <li><a href="pagereports/ab-ex-rmxrmstd-sum-rpt.axvw" rel="pTask" data-taskId="Report with Summary Parent Group Band" data-taskIcon="ab-icon-task.gif">Report with Summary Parent Group Band</a></li>
                                <li><a href="pagereports/ab-ex-rmxdpxdv-sum-rpt.axvw" rel="pTask" data-taskId="Report with Two Summary Parent Group Bands" data-taskIcon="ab-icon-task.gif">Report with Two Summary Parent Group Bands</a></li>
                                <li><a href="pagereports/ab-ex-allxrm-rpt.axvw" rel="pTask" data-taskId="Report with Multiple Child Data Bands" data-taskIcon="ab-icon-task.gif">Report with Multiple Child Data Bands</a></li>
                            </ol>
                            <li class="empty-taskgroup-title">&nbsp;</li>
                            <ol class="process-tasks">
                                <li><a href="pagereports/ab-ex-wrxmo-sum-rpt.axvw" rel="pTask" data-taskId="Report with Time-based Parent Band" data-taskIcon="ab-icon-task.gif">Report with Time-based Parent Band</a></li>
                                <li><a href="pagereports/ab-ex-wo-rpt.axvw?wo.wo_id='2008000071'" rel="pTask" data-taskId="Report with URL Restriction" data-taskIcon="ab-icon-task.gif">Report with URL Restriction</a></li>
                                <li><a href="ab-ex-passing-restrictions-parameters-reporting.axvw" rel="pTask" data-taskId="Report with Passed Restrictions & Parameters" data-taskIcon="ab-icon-task.gif">Report with Passed Restrictions & Parameters</a></li>
                                <li><a href="ab-ex-print-out-restriction-reporting.axvw" rel="pTask" data-taskId="Report with Print-out Restriction" data-taskIcon="ab-icon-task.gif">Report with Print-out Restriction</a></li>
                                <li><a href="pagereports/ab-ex-wo-rpt.axvw?wo.wo_id='2008000071'&newtab=true" rel="pTask" data-taskId="Report Loaded in Popup Browser" data-taskIcon="ab-icon-task.gif">Report Loaded in Popup Browser</a></li>
                                <li><a href="pagereports/ab-ex-wo-rpt.axvw?wo.wo_id='2008000071'&newtab=true&showresult=true" rel="pTask" data-taskId="Report Loaded Automatically" data-taskIcon="ab-icon-task.gif">Report Loaded Automatically</a></li>
                                <li><a href="pagereports/ab-ex-wo-colstyle-rpt.axvw" rel="pTask" data-taskId="Report with Columns" data-taskIcon="ab-icon-task.gif">Report with Columns</a></li>
                            </ol>
                            <li class="empty-taskgroup-title">&nbsp;</li>
                            <ol class="process-tasks">
                                <li><a href="pagereports/ab-ex-rmxdp-dwg-rpt.axvw" rel="pTask" data-taskId="Report with Drawing and a Thematic Highlight" data-taskIcon="ab-icon-task.gif">Report with Drawing and a Thematic Highlight</a></li>
                                <li><a href="pagereports/ab-ex-rm-conf-dwg-rpt.axvw" rel="pTask" data-taskId="Report with Drawing and a Restriction Highlight" data-taskIcon="ab-icon-task.gif">Report with Drawing and a Restriction Highlight</a></li>
                                <li><a href="pagereports/ab-ex-dwg-sql.axvw" rel="pTask" data-taskId="Report with Drawing and a Custom SQL Highlight Data Source" data-taskIcon="ab-icon-task.gif">Report with Drawing and a Custom SQL Highlight Data Source</a></li>
                            </ol>
                            <li class="empty-taskgroup-title">&nbsp;</li>
                            <ol class="process-tasks">
                                <li><a href="pagereports/ab-ex-report-units.axvw" rel="pTask" data-taskId="Report with Area Fields" data-taskIcon="ab-icon-task.gif">Report with Area Fields</a></li>
                                <li><a href="pagereports/ab-ex-report-currency.axvw" rel="pTask" data-taskId="Report With Currency Expressions" data-taskIcon="ab-icon-task.gif">Report With Currency Expressions</a></li>
                                <li><a href="pagereports/ab-ex-custom-dwg-rpt.axvw" rel="pTask" data-taskId="Report with Drawings and Title Block" data-taskIcon="ab-icon-task.gif">Report with Drawings and Title Block</a></li>
                            </ol>
                        </ol>
                </div>
            </div>
        </div>
        <div class="page-row full-height" >
            <h3 class="application-title" data-activityId="AbSolutionsViewsProcessOwner">Business Process Owner Views</h3>
            <hr class="application-horizontal-rule">
            <div class="bucket-application " data-productId="AbSolutionTemplates" data-activityId="AbSolutionsViewsProcessOwner" data-processId="BIRT Pick-and-Place Reports" data-productTitle="Technologies" data-activityTitle="Business Process Owner Views" data-processTitle="BIRT Pick-and-Place Reports" data-subfolder="\ab-products\solutions\view-examples" data-helpLink="" data-helpSystem="END USER" data-dashboardLayout="" data-dashboardView="" title="" oncontextmenu="return false;" onMouseUp="openPtask(this,event);">
                <h2 class="applications-process-title" title="">
                    <span class="process-title-text">BIRT Pick-and-Place Reports</span>
                </h2>
                <div class="bucket-wrapper" id="wrapper_absolutionsviewsprocessowner_birtPickAndPlaceReports">
                        <ol class="ptask-labels">
                            <li>JDBC Reports</li>
                            <ol class="process-tasks">
                                <li><a href="ab-open-birt-report.axvw?load=in-frame&outputType=pdf&file=ab-bl-summary-sample.rptdesign" rel="pTask" data-taskId="Open BIRT PDF Report in a Frame" data-taskIcon="ab-icon-task.gif">Open BIRT PDF Report in a Frame</a></li>
                                <li><a href="ab-open-birt-report.axvw?load=in-frame&outputType=html&file=ab-bl-summary-sample.rptdesign" rel="pTask" data-taskId="Open BIRT HTML Report in a Frame" data-taskIcon="ab-icon-task.gif">Open BIRT HTML Report in a Frame</a></li>
                                <li><a href="ab-open-birt-report.axvw?load=in-popup&outputType=docx&file=ab-bl-summary-sample.rptdesign" rel="pTask" data-taskId="Open BIRT DOCX Report in a Pop-up Window" data-taskIcon="ab-icon-task.gif">Open BIRT DOCX Report in a Pop-up Window</a></li>
                                <li><a href="ab-open-birt-report.axvw?load=in-popup&outputType=xlsx&file=ab-bl-summary-sample.rptdesign" rel="pTask" data-taskId="Open BIRT XLSX Report in a Pop-up Window" data-taskIcon="ab-icon-task.gif">Open BIRT XLSX Report in a Pop-up Window</a></li>
                            </ol>
                            <li>Datasource Reports</li>
                            <ol class="process-tasks">
                                <li><a href="ab-open-birt-report.axvw?load=in-frame&outputType=pdf&file=ab-rm-datasource-example.rptdesign" rel="pTask" data-taskId="Open BIRT Report That Uses a View Datasource" data-taskIcon="ab-icon-task.gif">Open BIRT Report That Uses a View Datasource</a></li>
                                <li><a href="ab-open-birt-report-console-example.axvw" rel="pTask" data-taskId="Restrict BIRT Report via JavaScript Datasource Restriction" data-taskIcon="ab-icon-task.gif">Restrict BIRT Report via JavaScript Datasource Restriction</a></li>
                            </ol>
                            <li>BIRT Viewer Reports</li>
                            <ol class="process-tasks">
                                <li><a href="ab-open-birt-report.axvw?load=in-viewer&file=ab-bl-summary-sample.rptdesign" rel="pTask" data-taskId="Open BIRT Report in BIRT Viewer" data-taskIcon="ab-icon-task.gif">Open BIRT Report in BIRT Viewer</a></li>
                                <li><a href="ab-open-birt-report.axvw?load=in-viewer&file=ab-bl-summary-sample.rptdesign&bl_id='HQ'" rel="pTask" data-taskId="Restrict BIRT Report in BIRT Viewer via URL Parameter" data-taskIcon="ab-icon-task.gif">Restrict BIRT Report in BIRT Viewer via URL Parameter</a></li>
                            </ol>
                        </ol>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
$(document).ready(function() {
    $('#navigationTabs').find('a').click(function() {return false;});
    initDandDFavorites();
    setPageDimensions();
    bindTaskContextMenu();
    localizeFavoritesDisplayText();
    loadFavoritesBuckets();
    modifyProcessTitleDisplay();
    pageTallPTaskBuckets();
});
</script>