<div class="nav-pages" id="ArchibusSystemAdministration">
    <div class="page">
        <div class="page-row full-height" >
            <h3 class="application-title" data-activityId="AbSystemAdministration">ARCHIBUS System Administration</h3>
            <hr class="application-horizontal-rule">
            <div id="appProcFavoritesBucket" class="bucket-application bucket-background-light " data-activityId="" data-processId="" oncontextmenu="return false;">
                <h2 class="applications-process-title" data-processId="" title="Most often used tasks and reports.">My Favorites</h2>
                <div class="bucket-wrapper" id="wrapper_4a4437c6-703e-4871-a58d-b954cf4dcd48">
                    <div class="favorites-drop-target">
                        <span class="favorites-add-target"></span>
                        <span class="favorites-delete-target">&nbsp;</span>
                    </div>
                    <div class="favorites" onMouseUp="openPtask(this,event);">
                        <ol class="favorites-items">
                        </ol>
                    </div>
                </div>
            </div>
            <div class="bucket-application " data-productId="AbSystem" data-activityId="AbSystemAdministration" data-processId="ARCHIBUS Administrator - UserSec" data-productTitle="System Administration" data-activityTitle="ARCHIBUS System Administration" data-processTitle="ARCHIBUS Administrator - User and Security" data-subfolder="\ab-products\system-administration" data-helpLink="\Content\arch_admin\overview.htm" data-helpSystem="SYSTEM" data-dashboardLayout="" data-dashboardView="" title="" oncontextmenu="return false;" onMouseUp="openPtask(this,event);">
                <h2 class="applications-process-title" title="">
                    <span class="process-title-text">ARCHIBUS Administrator - User and Security</span>
                </h2>
                <div class="bucket-wrapper" id="wrapper_absystemadministration_archibusAdministratorUsersec">
                        <ol class="ptask-labels">
                            <li>License Management</li>
                            <ol class="process-tasks">
                                <li><a href="ab-about-and-license.axvw" rel="pTask" data-taskId="View Program Information and License Usage" data-taskIcon="ab-icon-task.gif">View Program Information and License Usage</a></li>
                                <li><a href="ab-logged-in-users.axvw" rel="pTask" data-taskId="View Users Logged Into ARCHIBUS" data-taskIcon="ab-icon-task.gif">View Users Logged Into ARCHIBUS</a></li>
                                <li><a href="ab-notifications-log.axvw" rel="pTask" data-taskId="View Notifications Log" data-taskIcon="ab-icon-task.gif">View Notifications Log</a></li>
                                <li><a href="ab-data-events-log.axvw" rel="pTask" data-taskId="View Data Events Log" data-taskIcon="ab-icon-task.gif">View Data Events Log</a></li>
                                <li><a href="ab-db-revision.axvw" rel="pTask" data-taskId="View Database Revision Number" data-taskIcon="ab-icon-task.gif">View Database Revision Number</a></li>
                            </ol>
                            <li>Security Groups and Roles</li>
                            <ol class="process-tasks">
                                <li><a href="ab-edit-groups.axvw" rel="pTask" data-taskId="Add or Edit Security Groups" data-taskIcon="ab-icon-task.gif">Add or Edit Security Groups</a></li>
                                <li><a href="ab-edit-roles.axvw" rel="pTask" data-taskId="Add or Edit User Roles" data-taskIcon="ab-icon-task.gif">Add or Edit User Roles</a></li>
                                <li><a href="ab-edit-groupsforroles.axvw" rel="pTask" data-taskId="Assign Security Groups to Roles" data-taskIcon="ab-icon-task.gif">Assign Security Groups to Roles</a></li>
                                <li><a href="ab-sys-role-user-procs.axvw" rel="pTask" data-taskId="Assign Processes to Roles or Users" data-taskIcon="ab-icon-task.gif">Assign Processes to Roles or Users</a></li>
                            </ol>
                            <li>User Management</li>
                            <ol class="process-tasks">
                                <li><a href="ab-edit-users.axvw" rel="pTask" data-taskId="Add or Edit Users" data-taskIcon="ab-icon-task.gif">Add or Edit Users</a></li>
                                <li><a href="ab-edit-hotlists.axvw" rel="pTask" data-taskId="Edit My Favorites Lists" data-taskIcon="ab-icon-task.gif">Edit My Favorites Lists</a></li>
                            </ol>
                            <li class="empty-taskgroup-title">&nbsp;</li>
                            <ol class="process-tasks">
                                <li><a href="ab-users-and-processes.axvw" rel="pTask" data-taskId="View Users and Processes" data-taskIcon="ab-icon-task.gif">View Users and Processes</a></li>
                                <li><a href="ab-users-by-process.axvw" rel="pTask" data-taskId="View Users by Process" data-taskIcon="ab-icon-task.gif">View Users by Process</a></li>
                            </ol>
                            <li class="empty-taskgroup-title">&nbsp;</li>
                            <ol class="process-tasks">
                                <li><a href="ab-create-user-id-from-em.axvw" rel="pTask" data-taskId="Create User Identities from Employees" data-taskIcon="ab-icon-task.gif">Create User Identities from Employees</a></li>
                                <li><a href="ab-sync-user-em-ids.axvw" rel="pTask" data-taskId="Synchronize User and Employee Identities" data-taskIcon="ab-icon-task.gif">Synchronize User and Employee Identities</a></li>
                                <li><a href="ab-change-password-encoding.axvw" rel="pTask" data-taskId="Change Password Encoding" data-taskIcon="ab-icon-task.gif">Change Password Encoding</a></li>
                                <li><a href="ab-reissue-passwords.axvw" rel="pTask" data-taskId="Reissue Passwords Wizard" data-taskIcon="ab-icon-task.gif">Reissue Passwords Wizard</a></li>
                                <li><a href="ab-sys-encrypt-pwds-in-config.axvw" rel="pTask" data-taskId="Encrypt Passwords in Configuration Files" data-taskIcon="ab-icon-task.gif">Encrypt Passwords in Configuration Files</a></li>
                            </ol>
                        </ol>
                </div>
            </div>
            <div class="bucket-application " data-productId="AbSystem" data-activityId="AbSystemAdministration" data-processId="ARCHIBUS Administrator - Apps" data-productTitle="System Administration" data-activityTitle="ARCHIBUS System Administration" data-processTitle="ARCHIBUS Administrator - Application Configuration" data-subfolder="\ab-products\system-administration" data-helpLink="\Subsystems\webc\Content\sys_admin\arch_admin_application.htm" data-helpSystem="END USER" data-dashboardLayout="" data-dashboardView="" title="" oncontextmenu="return false;" onMouseUp="openPtask(this,event);">
                <h2 class="applications-process-title" title="">
                    <span class="process-title-text">ARCHIBUS Administrator - Application Configuration</span>
                </h2>
                <div class="bucket-wrapper" id="wrapper_absystemadministration_archibusAdministratorApps">
                        <ol class="ptask-labels">
                            <li>Document Management</li>
                            <ol class="process-tasks">
                                <li><a href="afm_docs.axvw" rel="pTask" data-taskId="Documents" data-taskIcon="ab-icon-task.gif">Documents</a></li>
                                <li><a href="afm_docsbyrev.axvw" rel="pTask" data-taskId="Revisions by Document" data-taskIcon="ab-icon-task.gif">Revisions by Document</a></li>
                                <li><a href="afm_docs_deleted.axvw" rel="pTask" data-taskId="Deleted Document Revisions" data-taskIcon="ab-icon-task.gif">Deleted Document Revisions</a></li>
                                <li><a href="afm_docs_by_rev_archived.axvw" rel="pTask" data-taskId="Archived Revisions by Document" data-taskIcon="ab-icon-task.gif">Archived Revisions by Document</a></li>
                            </ol>
                            <li>Utilities</li>
                            <ol class="process-tasks">
                                <li><a href="ab-activity-params-edit.axvw" rel="pTask" data-taskId="Configure Application Parameters" data-taskIcon="ab-icon-task.gif">Configure Application Parameters</a></li>
                                <li><a href="ab-messages-edit.axvw" rel="pTask" data-taskId="Edit Messages" data-taskIcon="ab-icon-task.gif">Edit Messages</a></li>
                                <li><a href="ab-merge-pkey.axvw" rel="pTask" data-taskId="Merge Primary Key" data-taskIcon="ab-icon-task.gif">Merge Primary Key</a></li>
                                <li><a href="ab-preload-views.axvw" rel="pTask" data-taskId="Preload All Views" data-taskIcon="ab-icon-task.gif">Preload All Views</a></li>
                            </ol>
                            <li>Multi-Currency</li>
                            <ol class="process-tasks">
                                <li><a href="ab-rplm-cost-def-curr.axvw" rel="pTask" data-taskId="Define Currencies" data-taskIcon="ab-icon-task.gif">Define Currencies</a></li>
                                <li><a href="ab-rplm-cost-def-conv-rates.axvw" rel="pTask" data-taskId="Define Exchange Rates" data-taskIcon="ab-icon-task.gif">Define Exchange Rates</a></li>
                                <li><a href="ab-rplm-def-vat-mc.axvw" rel="pTask" data-taskId="Enable/Disable VAT and Multicurrency" data-taskIcon="ab-icon-task.gif">Enable/Disable VAT and Multicurrency</a></li>
                                <li><a href="ab-rplm-cost-def-vat.axvw" rel="pTask" data-taskId="Define Default VAT Percent" data-taskIcon="ab-icon-task.gif">Define Default VAT Percent</a></li>
                            </ol>
                            <li>Domain-Specific</li>
                            <ol class="process-tasks">
                                <li><a href="ab-sp-enable-rmtrans.axvw" rel="pTask" data-taskId="Enable or Disable Workspace Transactions" data-taskIcon="ab-icon-task.gif">Enable or Disable Workspace Transactions</a></li>
                                <li><a href="ab-bldgops-express-use-console.axvw" rel="pTask" data-taskId="Use Building Operations Console" data-taskIcon="ab-icon-task.gif">Use Building Operations Console</a></li>
                                <li><a href="ab-bldgops-use-wr-only.axvw" rel="pTask" data-taskId="Group Work Requests into Work Orders" data-taskIcon="ab-icon-task.gif">Group Work Requests into Work Orders</a></li>
                            </ol>
                        </ol>
                </div>
            </div>
            <div class="bucket-application " data-productId="AbSystem" data-activityId="AbSystemAdministration" data-processId="System Administrator" data-productTitle="System Administration" data-activityTitle="ARCHIBUS System Administration" data-processTitle="System Administrator" data-subfolder="\ab-products\system-administration" data-helpLink="\Subsystems\webc\Content\sys_admin\overview.htm" data-helpSystem="END USER" data-dashboardLayout="" data-dashboardView="" title="Define user access profiles and security roles, and define the processes that appear when each user logs in." oncontextmenu="return false;" onMouseUp="openPtask(this,event);">
                <h2 class="applications-process-title" title="Define user access profiles and security roles, and define the processes that appear when each user logs in.">
                    <span class="process-title-text">System Administrator</span>
                </h2>
                <div class="bucket-wrapper" id="wrapper_absystemadministration_systemAdministrator">
                        <ol class="ptask-labels">
                            <li></li>
                            <ol class="process-tasks">
                                <li><a href="ab-about-and-license.axvw" rel="pTask" data-taskId="View Program Information and License Usage" data-taskIcon="ab-icon-task.gif">View Program Information and License Usage</a></li>
                                <li><a href="ab-setup-license-file.axvw" rel="pTask" data-taskId="Set Up License for Clustered Deployment" data-taskIcon="ab-icon-task.gif">Set Up License for Clustered Deployment</a></li>
                            </ol>
                            <li class="empty-taskgroup-title">&nbsp;</li>
                            <ol class="process-tasks">
                                <li><a href="ab-application-update-wizard.axvw" rel="pTask" data-taskId="Package and Deploy Wizard" data-taskIcon="ab-icon-task.gif">Package and Deploy Wizard</a></li>
                                <li><a href="ab-application-update-package-data-action.axvw" rel="pTask" data-taskId="Package Data" data-taskIcon="ab-icon-task.gif">Package Data</a></li>
                                <li><a href="ab-application-update-package-extentions-action.axvw" rel="pTask" data-taskId="Package Extensions" data-taskIcon="ab-icon-task.gif">Package Extensions</a></li>
                                <li><a href="ab-application-update-package-deploy-action.axvw" rel="pTask" data-taskId="Package Deployment File" data-taskIcon="ab-icon-task.gif">Package Deployment File</a></li>
                            </ol>
                            <li class="empty-taskgroup-title">&nbsp;</li>
                            <ol class="process-tasks">
                                <li><a href="ab-records-count.axvw" rel="pTask" data-taskId="Review Record Counts" data-taskIcon="ab-icon-task.gif">Review Record Counts</a></li>
                            </ol>
                            <li>ARCHIBUS Connectors</li>
                            <ol class="process-tasks">
                                <li><a href="afm-connector-define-tabs.axvw" rel="pTask" data-taskId="Configure Connectors" data-taskIcon="ab-icon-task.gif">Configure Connectors</a></li>
                                <li><a href="afm-connector-define-rules.axvw" rel="pTask" data-taskId="Define Connector Rules" data-taskIcon="ab-icon-task.gif">Define Connector Rules</a></li>
                                <li><a href="afm-connector-exec.axvw" rel="pTask" data-taskId="Execute Connectors" data-taskIcon="ab-icon-task.gif">Execute Connectors</a></li>
                                <li><a href="afm-connector-view-log.axvw" rel="pTask" data-taskId="View Connector Logs" data-taskIcon="ab-icon-task.gif">View Connector Logs</a></li>
                            </ol>
                        </ol>
                </div>
            </div>
            <div class="bucket-application " data-productId="AbSystem" data-activityId="AbSystemAdministration" data-processId="CAD and BIM Manager" data-productTitle="System Administration" data-activityTitle="ARCHIBUS System Administration" data-processTitle="CAD and BIM Manager" data-subfolder="\ab-products\system-administration" data-helpLink="\Subsystems\webc\Content\cad_manager\cad_manager_over.htm" data-helpSystem="END USER" data-dashboardLayout="" data-dashboardView="" title="" oncontextmenu="return false;" onMouseUp="openPtask(this,event);">
                <h2 class="applications-process-title" title="">
                    <span class="process-title-text">CAD and BIM Manager</span>
                </h2>
                <div class="bucket-wrapper" id="wrapper_absystemadministration_cadAndBimManager">
                        <ol class="ptask-labels">
                            <li></li>
                            <ol class="process-tasks">
                                <li><a href="ab-cad-set-atxt-visibility.axvw" rel="pTask" data-taskId="Set Asset Text Visibility" data-taskIcon="ab-icon-task.gif">Set Asset Text Visibility</a></li>
                            </ol>
                            <li class="empty-taskgroup-title">&nbsp;</li>
                            <ol class="process-tasks">
                                <li><a href="ab-dwg-changes-by-dwg.axvw" rel="pTask" data-taskId="View Drawing Changes by Drawing" data-taskIcon="ab-icon-task.gif">View Drawing Changes by Drawing</a></li>
                                <li><a href="ab-dwg-changes-by-bl.axvw" rel="pTask" data-taskId="View Drawing Changes by Building Location" data-taskIcon="ab-icon-task.gif">View Drawing Changes by Building Location</a></li>
                                <li><a href="ab-dwg-changes-by-user.axvw" rel="pTask" data-taskId="View Drawing Changes by User" data-taskIcon="ab-icon-task.gif">View Drawing Changes by User</a></li>
                            </ol>
                            <li class="empty-taskgroup-title">&nbsp;</li>
                            <ol class="process-tasks">
                                <li><a href="ab-afm-bim-categories-gd.axvw" rel="pTask" data-taskId="ARCHIBUS BIM Categories" data-taskIcon="ab-icon-task.gif">ARCHIBUS BIM Categories</a></li>
                                <li><a href="ab-afm-bim-families-gd.axvw" rel="pTask" data-taskId="ARCHIBUS BIM Families" data-taskIcon="ab-icon-task.gif">ARCHIBUS BIM Families</a></li>
                                <li><a href="ab-afm-bim-params-gd.axvw" rel="pTask" data-taskId="ARCHIBUS BIM Parameters" data-taskIcon="ab-icon-task.gif">ARCHIBUS BIM Parameters</a></li>
                            </ol>
                        </ol>
                </div>
            </div>
        </div>
        <div class="page-row full-height" >
            <h3 class="application-title" data-activityId="AbSystemAdministration">ARCHIBUS System Administration</h3>
            <hr class="application-horizontal-rule">
            <div class="bucket-application " data-productId="AbSystem" data-activityId="AbSystemAdministration" data-processId="Mobile Apps Manager" data-productTitle="System Administration" data-activityTitle="ARCHIBUS System Administration" data-processTitle="Mobile Apps Manager" data-subfolder="\ab-products\system-administration" data-helpLink="\Subsystems\webc\Content\mobile\mobile_apps_manager.htm" data-helpSystem="END USER" data-dashboardLayout="" data-dashboardView="" title="" oncontextmenu="return false;" onMouseUp="openPtask(this,event);">
                <h2 class="applications-process-title" title="">
                    <span class="process-title-text">Mobile Apps Manager</span>
                </h2>
                <div class="bucket-wrapper" id="wrapper_absystemadministration_mobileAppsManager">
                        <ol class="ptask-labels">
                            <li></li>
                            <ol class="process-tasks">
                                <li><a href="ab-mob-def-activity-parameters.axvw" rel="pTask" data-taskId="Configure Application Parameters for Mobile" data-taskIcon="ab-icon-task.gif">Configure Application Parameters for Mobile</a></li>
                                <li><a href="ab-sp-space-book-plan-types.axvw" rel="pTask" data-taskId="Manage Plan Types" data-taskIcon="ab-icon-task.gif">Manage Plan Types</a></li>
                                <li><a href="ab-sys-afm-dwg-pub-svg-gd.axvw" rel="pTask" data-taskId="Edit SVG Drawing Publishing Rules" data-taskIcon="ab-icon-task.gif">Edit SVG Drawing Publishing Rules</a></li>
                                <li><a href="ab-sp-space-book-rmsurvey-console.axvw" rel="pTask" data-taskId="Manage Space Surveys" data-taskIcon="ab-icon-task.gif">Manage Space Surveys</a></li>
                                <li><a href="ab-eq-survey-console.axvw" rel="pTask" data-taskId="Manage Asset & Equipment Surveys" data-taskIcon="ab-icon-task.gif">Manage Asset & Equipment Surveys</a></li>
                                <li><a href="ab-workplaceportal-mng-mob-menu.axvw" rel="pTask" data-taskId="Manage Mobile Menu" data-taskIcon="ab-icon-task.gif">Manage Mobile Menu</a></li>
                                <li><a href="ab-workplaceportal-mng-act-types.axvw" rel="pTask" data-taskId="Manage Activity Types" data-taskIcon="ab-icon-task.gif">Manage Activity Types</a></li>
                                <li><a href="ab-mobile-log.axvw" rel="pTask" data-taskId="View Mobile Log" data-taskIcon="ab-icon-task.gif">View Mobile Log</a></li>
                                <li><a href="ab-mob-occup-survey-pending.axvw" rel="pTask" data-taskId="Pending Mobile Occupancy Surveys" data-taskIcon="ab-icon-task.gif">Pending Mobile Occupancy Surveys</a></li>
                                <li><a href="ab-mob-report-user-device-history.axvw" rel="pTask" data-taskId="Track Mobile Devices Registration" data-taskIcon="ab-icon-task.gif">Track Mobile Devices Registration</a></li>
                            </ol>
                        </ol>
                </div>
            </div>
            <div class="bucket-application " data-productId="AbSystem" data-activityId="AbSystemAdministration" data-processId="Add-In Manager" data-productTitle="System Administration" data-activityTitle="ARCHIBUS System Administration" data-processTitle="Add-In Manager" data-subfolder="\ab-products\system-administration" data-helpLink="\Content\add_in\overview.htm" data-helpSystem="SYSTEM" data-dashboardLayout="" data-dashboardView="" title="" oncontextmenu="return false;" onMouseUp="openPtask(this,event);">
                <h2 class="applications-process-title" title="">
                    <span class="process-title-text">Add-In Manager</span>
                </h2>
                <div class="bucket-wrapper" id="wrapper_absystemadministration_addInManager">
                        <ol class="ptask-labels">
                            <li>Views and Dashboards</li>
                            <ol class="process-tasks">
                                <li><a href="ab-viewdef-wizard-mini.axvw" rel="pTask" data-taskId="Run Report Only View Definition Wizard" data-taskIcon="ab-icon-task.gif">Run Report Only View Definition Wizard</a></li>
                                <li><a href="ab-viewdef-wizard.axvw" rel="pTask" data-taskId="Run View Definition Wizard" data-taskIcon="ab-icon-task.gif">Run View Definition Wizard</a></li>
                                <li><a href="ab-dashdef-wizard.axvw" rel="pTask" data-taskId="Run Dashboard Definition Wizard" data-taskIcon="ab-icon-task.gif">Run Dashboard Definition Wizard</a></li>
                                <li><a href="ab-ptask-conversion.axvw" rel="pTask" data-taskId="Run V1.0 to V2.0 View Converter" data-taskIcon="ab-icon-task.gif">Run V1.0 to V2.0 View Converter</a></li>
                                <li><a href="ab-pgnav-manage-homepages.axvw" rel="pTask" data-taskId="Manage Home Pages and Processes" data-taskIcon="ab-icon-task.gif">Manage Home Pages and Processes</a></li>
                                <li><a href="ab-publish-navigation-pages.axvw" rel="pTask" data-taskId="Publish Home Pages by Role" data-taskIcon="ab-icon-task.gif">Publish Home Pages by Role</a></li>
                            </ol>
                            <li>Tracking Metrics</li>
                            <ol class="process-tasks">
                                <li><a href="ab-metric-metrics-def.axvw" rel="pTask" data-taskId="Define Tracking Metrics" data-taskIcon="ab-icon-task.gif">Define Tracking Metrics</a></li>
                                <li><a href="ab-metric-gran-def.axvw" rel="pTask" data-taskId="Define Granularities" data-taskIcon="ab-icon-task.gif">Define Granularities</a></li>
                                <li><a href="ab-metric-scorecard-def.axvw" rel="pTask" data-taskId="Define Scorecards" data-taskIcon="ab-icon-task.gif">Define Scorecards</a></li>
                                <li><a href="ab-metric-trend-values.axvw" rel="pTask" data-taskId="View Metrics Trend Values" data-taskIcon="ab-icon-task.gif">View Metrics Trend Values</a></li>
                                <li><a href="ab-def-notify-msgs-metrics.axvw" rel="pTask" data-taskId="Define Notification Messages for Metrics" data-taskIcon="ab-icon-task.gif">Define Notification Messages for Metrics</a></li>
                                <li><a href="ab-def-notifycat-metrics.axvw" rel="pTask" data-taskId="Define Notification Categories for Metrics" data-taskIcon="ab-icon-task.gif">Define Notification Categories for Metrics</a></li>
                                <li><a href="ab-notify-template-metrics.axvw" rel="pTask" data-taskId="Manage Notification Templates for Metrics" data-taskIcon="ab-icon-task.gif">Manage Notification Templates for Metrics</a></li>
                                <li><a href="ab-notifications-log-metrics.axvw" rel="pTask" data-taskId="View Notifications Log for Metrics" data-taskIcon="ab-icon-task.gif">View Notifications Log for Metrics</a></li>
                            </ol>
                            <li>Analysis Metrics</li>
                            <ol class="process-tasks">
                                <li><a href="ab-metric-analysis-metrics-def.axvw" rel="pTask" data-taskId="Define Analysis Metrics" data-taskIcon="ab-icon-task.gif">Define Analysis Metrics</a></li>
                            </ol>
                            <li>Workflow Rules</li>
                            <ol class="process-tasks">
                                <li><a href="ab-wf-rules-by-activity.axvw" rel="pTask" data-taskId="Define Workflow Rules" data-taskIcon="ab-icon-task.gif">Define Workflow Rules</a></li>
                                <li><a href="ab-wf-rules-scheduled.axvw" rel="pTask" data-taskId="Scheduled Workflow Rules" data-taskIcon="ab-icon-task.gif">Scheduled Workflow Rules</a></li>
                                <li><a href="ab-basic-rule-wizard.axvw" rel="pTask" data-taskId="Run Basic Rule Wizard" data-taskIcon="ab-icon-task.gif">Run Basic Rule Wizard</a></li>
                            </ol>
                            <li>Process Navigator</li>
                            <ol class="process-tasks">
                                <li><a href="ab-domains.axvw" rel="pTask" data-taskId="View Domains" data-taskIcon="ab-icon-task.gif">View Domains</a></li>
                                <li><a href="ab-activities.axvw" rel="pTask" data-taskId="View Applications" data-taskIcon="ab-icon-task.gif">View Applications</a></li>
                                <li><a href="ab-activities-by-domain.axvw" rel="pTask" data-taskId="View Application Assignments to Domains" data-taskIcon="ab-icon-task.gif">View Application Assignments to Domains</a></li>
                                <li><a href="ab-tasks-by-process-and-activity.axvw" rel="pTask" data-taskId="View Tasks by Process and Application" data-taskIcon="ab-icon-task.gif">View Tasks by Process and Application</a></li>
                                <li><a href="ab-search-for-duplicate-axvw-files.axvw" rel="pTask" data-taskId="Find Files with Duplicate File Names" data-taskIcon="ab-icon-task.gif">Find Files with Duplicate File Names</a></li>
                            </ol>
                            <li>Data Dictionary</li>
                            <ol class="process-tasks">
                                <li><a href="ab-edit-data-dictionary.axvw" rel="pTask" data-taskId="Edit ARCHIBUS Data Dictionary" data-taskIcon="ab-icon-task.gif">Edit ARCHIBUS Data Dictionary</a></li>
                                <li><a href="ab-data-dictionary-tables.axvw" rel="pTask" data-taskId="Edit ARCHIBUS Tables Dictionary" data-taskIcon="ab-icon-task.gif">Edit ARCHIBUS Tables Dictionary</a></li>
                                <li><a href="ab-data-dictionary-fields.axvw" rel="pTask" data-taskId="Edit ARCHIBUS Field Dictionary" data-taskIcon="ab-icon-task.gif">Edit ARCHIBUS Field Dictionary</a></li>
                                <li><a href="ab-schema-add-field.axvw" rel="pTask" data-taskId="Add Field" data-taskIcon="ab-icon-task.gif">Add Field</a></li>
                                <li><a href="ab-translation-dictionary.axvw" rel="pTask" data-taskId="View ARCHIBUS Translation Dictionary" data-taskIcon="ab-icon-task.gif">View ARCHIBUS Translation Dictionary</a></li>
                                <li><a href="ab-auto-lookups-manage.axvw" rel="pTask" data-taskId="Manage Automatic Lookups" data-taskIcon="ab-icon-task.gif">Manage Automatic Lookups</a></li>
                            </ol>
                            <li class="empty-taskgroup-title">&nbsp;</li>
                            <ol class="process-tasks">
                                <li><a href="ab-database-update-wizard.axvw" rel="pTask" data-taskId="Run Database Update Wizard" data-taskIcon="ab-icon-task.gif">Run Database Update Wizard</a></li>
                                <li><a href="ab-schema-change-wizard.axvw" rel="pTask" data-taskId="Run Schema Change Wizard" data-taskIcon="ab-icon-task.gif">Run Schema Change Wizard</a></li>
                            </ol>
                            <li class="empty-taskgroup-title">&nbsp;</li>
                            <ol class="process-tasks">
                                <li><a href="ab-add-in-license-generator.axvw" rel="pTask" data-taskId="Add-in Application License Generator" data-taskIcon="ab-icon-task.gif">Add-in Application License Generator</a></li>
                            </ol>
                        </ol>
                </div>
            </div>
            <div class="bucket-application " data-productId="AbSystem" data-activityId="AbSystemAdministration" data-processId="Localization" data-productTitle="System Administration" data-activityTitle="ARCHIBUS System Administration" data-processTitle="Localization Manager" data-subfolder="\ab-products\system-administration" data-helpLink="\Content\localization\concepts\local_kit_over.htm" data-helpSystem="SYSTEM" data-dashboardLayout="" data-dashboardView="" title="" oncontextmenu="return false;" onMouseUp="openPtask(this,event);">
                <h2 class="applications-process-title" title="">
                    <span class="process-title-text">Localization Manager</span>
                </h2>
                <div class="bucket-wrapper" id="wrapper_absystemadministration_localization">
                        <ol class="ptask-labels">
                            <li>Consoles</li>
                            <ol class="process-tasks">
                                <li><a href="ab-localization-read-write-tables.axvw" rel="pTask" data-taskId="Read or Write Translatable Tables" data-taskIcon="ab-icon-task.gif">Read or Write Translatable Tables</a></li>
                                <li><a href="ab-localization-read-write-files.axvw" rel="pTask" data-taskId="Read or Write Translatable Files" data-taskIcon="ab-icon-task.gif">Read or Write Translatable Files</a></li>
                                <li><a href="ab-localization-export-import-files.axvw" rel="pTask" data-taskId="Export or Import Localization Extract Files" data-taskIcon="ab-icon-task.gif">Export or Import Localization Extract Files</a></li>
                                <li><a href="ab-localization-export-import-glos.axvw" rel="pTask" data-taskId="Export or Import Glossary Files" data-taskIcon="ab-icon-task.gif">Export or Import Glossary Files</a></li>
                            </ol>
                            <li>Actions</li>
                            <ol class="process-tasks">
                                <li><a href="ab-localization-greek-tables.axvw" rel="pTask" data-taskId="Greek All Localization Tables" data-taskIcon="ab-icon-task.gif">Greek All Localization Tables</a></li>
                                <li><a href="ab-localization-delete-all-loc-tables.axvw" rel="pTask" data-taskId="Delete Contents of All Localization Tables" data-taskIcon="ab-icon-task.gif">Delete Contents of All Localization Tables</a></li>
                            </ol>
                            <li>Edit Views</li>
                            <ol class="process-tasks">
                                <li><a href="ab-localization-edit-lang-lang.axvw" rel="pTask" data-taskId="Edit Language Table (lang_lang)" data-taskIcon="ab-icon-task.gif">Edit Language Table (lang_lang)</a></li>
                                <li><a href="ab-localization-edit-lang-files.axvw" rel="pTask" data-taskId="Edit Language Files Table (lang_files)" data-taskIcon="ab-icon-task.gif">Edit Language Files Table (lang_files)</a></li>
                                <li><a href="ab-localization-edit-lang-enum.axvw" rel="pTask" data-taskId="Edit Language Enum Table (lang_enum)" data-taskIcon="ab-icon-task.gif">Edit Language Enum Table (lang_enum)</a></li>
                                <li><a href="ab-localization-edit-lang-strings.axvw" rel="pTask" data-taskId="Edit Language Strings Table (lang_strings)" data-taskIcon="ab-icon-task.gif">Edit Language Strings Table (lang_strings)</a></li>
                                <li><a href="ab-localization-edit-lang-glos.axvw" rel="pTask" data-taskId="Edit Language Glossary Table (lang_glossary)" data-taskIcon="ab-icon-task.gif">Edit Language Glossary Table (lang_glossary)</a></li>
                            </ol>
                            <li>Analysis</li>
                            <ol class="process-tasks">
                                <li><a href="ab-localization-analysis.axvw" rel="pTask" data-taskId="Localization Analysis" data-taskIcon="ab-icon-task.gif">Localization Analysis</a></li>
                            </ol>
                        </ol>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
$(document).ready(function() {
    $('#navigationTabs').find('a').click(function() {return false;});
    initDandDFavorites();
    setPageDimensions();
    bindTaskContextMenu();
    localizeFavoritesDisplayText();
    loadFavoritesBuckets();
    modifyProcessTitleDisplay();
    pageTallPTaskBuckets();
});
</script>