<div class="nav-pages" id="PersonnelOccupancy">
    <div class="page">
        <div class="page-row full-height" >
            <h3 class="application-title" data-activityId="AbSpacePersonnelInventory">Personnel & Occupancy</h3>
            <hr class="application-horizontal-rule">
            <div id="appProcFavoritesBucket" class="bucket-application bucket-background-light " data-activityId="" data-processId="" oncontextmenu="return false;">
                <h2 class="applications-process-title" data-processId="" title="Most often used tasks and reports.">My Favorites</h2>
                <div class="bucket-wrapper" id="wrapper_fd3314ad-afc1-471f-afe2-804caed01df7">
                    <div class="favorites-drop-target">
                        <span class="favorites-add-target"></span>
                        <span class="favorites-delete-target">&nbsp;</span>
                    </div>
                    <div class="favorites" onMouseUp="openPtask(this,event);">
                        <ol class="favorites-items">
                        </ol>
                    </div>
                </div>
            </div>
            <div class="bucket-application " data-productId="AbSpace" data-activityId="AbSpacePersonnelInventory" data-processId="Background Data" data-productTitle="Space Planning & Management" data-activityTitle="Personnel & Occupancy" data-processTitle="Background Data" data-subfolder="\ab-products\space\pers" data-helpLink="\Subsystems\webc\Content\web_user\space\personnel\background_data.htm" data-helpSystem="END USER" data-dashboardLayout="" data-dashboardView="" title="" oncontextmenu="return false;" onMouseUp="openPtask(this,event);">
                <h2 class="applications-process-title" title="">
                    <span class="process-title-text">Background Data</span>
                </h2>
                <div class="bucket-wrapper" id="wrapper_abspacepersonnelinventory_backgroundData">
                        <ol class="ptask-labels">
                            <li>DATA SETUP</li>
                            <ol class="process-tasks">
                                <li><a href="ab-sp-def-org.axvw" rel="pTask" data-taskId="Define Organizations" data-taskIcon="ab-icon-task.gif">Define Organizations</a></li>
                                <li><a href="ab-sp-def-emstd.axvw" rel="pTask" data-taskId="Define Employee Standards" data-taskIcon="ab-icon-task.gif">Define Employee Standards</a></li>
                                <li><a href="ab-common-def-em.axvw" rel="pTask" data-taskId="Define Employees" data-taskIcon="ab-icon-task.gif">Define Employees</a></li>
                            </ol>
                            <li>CALCULATIONS</li>
                            <ol class="process-tasks">
                                <li><a href="ab-single-job.axvw?ruleId=AbCommonResources-SpaceService-updateEmployeeHeadcounts" rel="pTask" data-taskId="Update Employee Headcounts" data-taskIcon="ab-icon-task.gif">Update Employee Headcounts</a></li>
                                <li><a href="ab-sp-inf-rm-dp-from-em.axvw" rel="pTask" data-taskId="Infer Room Departments from Employees" data-taskIcon="ab-icon-task.gif">Infer Room Departments from Employees</a></li>
                                <li><a href="ab-single-job.axvw?ruleId=AbCommonResources-SpaceService-updateRoomCapacityFromRoomStandard" rel="pTask" data-taskId="Update Employee Capacity from Room Standard" data-taskIcon="ab-icon-task.gif">Update Employee Capacity from Room Standard</a></li>
                                <li><a href="ab-sp-express-set-cap-by-type.axvw" rel="pTask" data-taskId="Update Employee Capacity from Room Type" data-taskIcon="ab-icon-task.gif">Update Employee Capacity from Room Type</a></li>
                            </ol>
                            <li>EXPORT</li>
                            <ol class="process-tasks">
                                <li><a href="ab-sp-vw-bu.axvw" rel="pTask" data-taskId="View Business Units" data-taskIcon="ab-icon-task.gif">View Business Units</a></li>
                                <li><a href="ab-sp-vw-dv.axvw" rel="pTask" data-taskId="View Divisions" data-taskIcon="ab-icon-task.gif">View Divisions</a></li>
                                <li><a href="ab-sp-vw-dp.axvw" rel="pTask" data-taskId="View Departments" data-taskIcon="ab-icon-task.gif">View Departments</a></li>
                            </ol>
                            <li class="empty-taskgroup-title">&nbsp;</li>
                            <ol class="process-tasks">
                                <li><a href="ab-sp-vw-emstd.axvw" rel="pTask" data-taskId="View Employee Standards" data-taskIcon="ab-icon-task.gif">View Employee Standards</a></li>
                                <li><a href="ab-sp-vw-em-exp.axvw" rel="pTask" data-taskId="View Employees" data-taskIcon="ab-icon-task.gif">View Employees</a></li>
                            </ol>
                        </ol>
                </div>
            </div>
            <div class="bucket-application " data-productId="AbSpace" data-activityId="AbSpacePersonnelInventory" data-processId="Client" data-productTitle="Space Planning & Management" data-activityTitle="Personnel & Occupancy" data-processTitle="Client" data-subfolder="\ab-products\space\pers" data-helpLink="\Subsystems\webc\Content\web_user\space\personnel\client_overview.htm" data-helpSystem="END USER" data-dashboardLayout="" data-dashboardView="" title="" oncontextmenu="return false;" onMouseUp="openPtask(this,event);">
                <h2 class="applications-process-title" title="">
                    <span class="process-title-text">Client</span>
                </h2>
                <div class="bucket-wrapper" id="wrapper_abspacepersonnelinventory_client">
                        <ol class="ptask-labels">
                            <li></li>
                            <ol class="process-tasks">
                                <li><a href="ab-sp-loc-em.axvw" rel="pTask" data-taskId="Locate Employee" data-taskIcon="ab-icon-task.gif">Locate Employee</a></li>
                            </ol>
                        </ol>
                </div>
            </div>
            <div class="bucket-application " data-productId="AbSpace" data-activityId="AbSpacePersonnelInventory" data-processId="Manager" data-productTitle="Space Planning & Management" data-activityTitle="Personnel & Occupancy" data-processTitle="Manager" data-subfolder="\ab-products\space\pers" data-helpLink="\Subsystems\webc\Content\web_user\space\personnel\reports.htm" data-helpSystem="END USER" data-dashboardLayout="" data-dashboardView="" title="" oncontextmenu="return false;" onMouseUp="openPtask(this,event);">
                <h2 class="applications-process-title" title="">
                    <span class="process-title-text">Manager</span>
                </h2>
                <div class="bucket-wrapper" id="wrapper_abspacepersonnelinventory_manager">
                        <ol class="ptask-labels">
                            <li></li>
                            <ol class="process-tasks">
                                <li><a href="ab-sp-console-trans.axvw" rel="pTask" data-taskId="Space Console" data-taskIcon="ab-icon-task.gif">Space Console</a></li>
                                <li><a href="ab-eq-system-team-category.axvw" rel="pTask" data-taskId="Define Team Property Categories" data-taskIcon="ab-icon-task.gif">Define Team Property Categories</a></li>
                                <li><a href="ab-sp-def-team.axvw" rel="pTask" data-taskId="Define Teams" data-taskIcon="ab-icon-task.gif">Define Teams</a></li>
                            </ol>
                            <li>View Employees by:</li>
                            <ol class="process-tasks">
                                <li><a href="ab-sp-vw-em.axvw" rel="pTask" data-taskId="... All Employees" data-taskIcon="ab-icon-task.gif">... All Employees</a></li>
                                <li><a href="ab-sp-vw-em-by-loc.axvw" rel="pTask" data-taskId="... Location" data-taskIcon="ab-icon-task.gif">... Location</a></li>
                                <li><a href="ab-sp-vw-em-by-dv-dp.axvw" rel="pTask" data-taskId="... Division and Department" data-taskIcon="ab-icon-task.gif">... Division and Department</a></li>
                                <li><a href="ab-sp-vw-em-by-emstd.axvw" rel="pTask" data-taskId="... Standard" data-taskIcon="ab-icon-task.gif">... Standard</a></li>
                            </ol>
                            <li>View Employee Average Area by:</li>
                            <ol class="process-tasks">
                                <li><a href="ab-sp-vw-em-av-by-rmcat-rmtype.axvw" rel="pTask" data-taskId="... Category and Type" data-taskIcon="ab-icon-task.gif">... Category and Type</a></li>
                                <li><a href="ab-sp-vw-em-av-by-rmstd.axvw" rel="pTask" data-taskId="... Room Standard" data-taskIcon="ab-icon-task.gif">... Room Standard</a></li>
                            </ol>
                            <li>View Employee Departmental Analysis by:</li>
                            <ol class="process-tasks">
                                <li><a href="ab-sp-vw-em-dp-by-dp.axvw" rel="pTask" data-taskId="... All Departments" data-taskIcon="ab-icon-task.gif">... All Departments</a></li>
                                <li><a href="ab-sp-vw-em-dp-by-bl.axvw" rel="pTask" data-taskId="... Building" data-taskIcon="ab-icon-task.gif">... Building</a></li>
                                <li><a href="ab-sp-vw-em-dp-by-fl.axvw" rel="pTask" data-taskId="... Floor" data-taskIcon="ab-icon-task.gif">... Floor</a></li>
                                <li><a href="ab-sp-vw-em-dp-by-loc.axvw" rel="pTask" data-taskId="-... Location" data-taskIcon="ab-icon-task.gif">-... Location</a></li>
                            </ol>
                            <li class="empty-taskgroup-title">&nbsp;</li>
                            <ol class="process-tasks">
                                <li><a href="ab-sp-alloc-trend-metric.axvw" rel="pTask" data-taskId="Allocation and Benchmarks" data-taskIcon="ab-icon-task.gif">Allocation and Benchmarks</a></li>
                                <li><a href="ab-sp-loc-em.axvw" rel="pTask" data-taskId="Locate Employee" data-taskIcon="ab-icon-task.gif">Locate Employee</a></li>
                                <li><a href="ab-sp-express-loc-his.axvw" rel="pTask" data-taskId="Space and Occupancy History" data-taskIcon="ab-icon-task.gif">Space and Occupancy History</a></li>
                            </ol>
                            <li class="empty-taskgroup-title">&nbsp;</li>
                            <ol class="process-tasks">
                                <li><a href="ab-sp-vw-vac-rm.axvw" rel="pTask" data-taskId="View Occupiable Vacant Rooms" data-taskIcon="ab-icon-task.gif">View Occupiable Vacant Rooms</a></li>
                                <li><a href="ab-sp-hl-vac-rm.axvw" rel="pTask" data-taskId="Highlight Occupiable Vacant Rooms" data-taskIcon="ab-icon-task.gif">Highlight Occupiable Vacant Rooms</a></li>
                            </ol>
                            <li class="empty-taskgroup-title">&nbsp;</li>
                            <ol class="process-tasks">
                                <li><a href="ab-sp-vw-avail-rm.axvw" rel="pTask" data-taskId="View Available Rooms" data-taskIcon="ab-icon-task.gif">View Available Rooms</a></li>
                                <li><a href="ab-sp-asgn-em-to-rm.axvw" rel="pTask" data-taskId="Assign Employees to Available Rooms" data-taskIcon="ab-icon-task.gif">Assign Employees to Available Rooms</a></li>
                            </ol>
                            <li class="empty-taskgroup-title">&nbsp;</li>
                            <ol class="process-tasks">
                                <li><a href="ab-sp-hl-occ-plan.axvw" rel="pTask" data-taskId="View Occupancy Plan" data-taskIcon="ab-icon-task.gif">View Occupancy Plan</a></li>
                            </ol>
                        </ol>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
$(document).ready(function() {
    $('#navigationTabs').find('a').click(function() {return false;});
    initDandDFavorites();
    setPageDimensions();
    bindTaskContextMenu();
    localizeFavoritesDisplayText();
    loadFavoritesBuckets();
    modifyProcessTitleDisplay();
    pageTallPTaskBuckets();
});
</script>