<div class="nav-pages" id="Reservations">
    <div class="page">
        <div class="page-row full-height" >
            <h3 class="application-title" data-activityId="AbWorkplaceReservations">Reservations</h3>
            <hr class="application-horizontal-rule">
            <div id="appProcFavoritesBucket" class="bucket-application bucket-background-light " data-activityId="" data-processId="" oncontextmenu="return false;">
                <h2 class="applications-process-title" data-processId="" title="Most often used tasks and reports.">My Favorites</h2>
                <div class="bucket-wrapper" id="wrapper_ecf702c6-2b0f-4a9e-a29f-d8cd3313ae41">
                    <div class="favorites-drop-target">
                        <span class="favorites-add-target"></span>
                        <span class="favorites-delete-target">&nbsp;</span>
                    </div>
                    <div class="favorites" onMouseUp="openPtask(this,event);">
                        <ol class="favorites-items">
                        </ol>
                    </div>
                </div>
            </div>
            <div class="bucket-application " data-productId="AbWorkplaceServices" data-activityId="AbWorkplaceReservations" data-processId="Develop Background Data" data-productTitle="Workplace Services" data-activityTitle="Reservations" data-processTitle="Develop Background Data" data-subfolder="\ab-products\workplace\reservations" data-helpLink="\Subsystems\webc\Content\fim\res\setup_tasks_res.htm" data-helpSystem="END USER" data-dashboardLayout="" data-dashboardView="" title="" oncontextmenu="return false;" onMouseUp="openPtask(this,event);">
                <h2 class="applications-process-title" title="">
                    <span class="process-title-text">Develop Background Data</span>
                </h2>
                <div class="bucket-wrapper" id="wrapper_abworkplacereservations_developBackgroundData">
                        <ol class="ptask-labels">
                            <li></li>
                            <ol class="process-tasks">
                                <li><a href="ab-countries-define.axvw" rel="pTask" data-taskId="Define Countries" data-taskIcon="ab-icon-task.gif">Define Countries</a></li>
                                <li><a href="ab-sp-def-loc-rm.axvw" rel="pTask" data-taskId="Define Locations" data-taskIcon="ab-icon-task.gif">Define Locations</a></li>
                            </ol>
                            <li class="empty-taskgroup-title">&nbsp;</li>
                            <ol class="process-tasks">
                                <li><a href="ab-sp-def-org.axvw" rel="pTask" data-taskId="Define Organizations" data-taskIcon="ab-icon-task.gif">Define Organizations</a></li>
                            </ol>
                            <li class="empty-taskgroup-title">&nbsp;</li>
                            <ol class="process-tasks">
                                <li><a href="ab-rr-rm.axvw" rel="pTask" data-taskId="Define Reservable Rooms" data-taskIcon="ab-icon-task.gif">Define Reservable Rooms</a></li>
                                <li><a href="ab-rr-rm-config.axvw" rel="pTask" data-taskId="Define Room Configurations" data-taskIcon="ab-icon-task.gif">Define Room Configurations</a></li>
                                <li><a href="ab-rr-arrange.axvw" rel="pTask" data-taskId="Define Room Arrangement Types" data-taskIcon="ab-icon-task.gif">Define Room Arrangement Types</a></li>
                                <li><a href="ab-rr-rm-arrange.axvw" rel="pTask" data-taskId="Define Room Arrangements" data-taskIcon="ab-icon-task.gif">Define Room Arrangements</a></li>
                            </ol>
                            <li class="empty-taskgroup-title">&nbsp;</li>
                            <ol class="process-tasks">
                                <li><a href="ab-rr-resource-std.axvw" rel="pTask" data-taskId="Define Resource Standards" data-taskIcon="ab-icon-task.gif">Define Resource Standards</a></li>
                                <li><a href="ab-rr-rm-resource-std.axvw" rel="pTask" data-taskId="Define Fixed Resources" data-taskIcon="ab-icon-task.gif">Define Fixed Resources</a></li>
                                <li><a href="ab-rr-resource.axvw" rel="pTask" data-taskId="Define Resources" data-taskIcon="ab-icon-task.gif">Define Resources</a></li>
                            </ol>
                            <li class="empty-taskgroup-title">&nbsp;</li>
                            <ol class="process-tasks">
                                <li><a href="ab-rr-tr.axvw" rel="pTask" data-taskId="Define Trades" data-taskIcon="ab-icon-task.gif">Define Trades</a></li>
                                <li><a href="ab-rr-vn.axvw" rel="pTask" data-taskId="Define Vendors" data-taskIcon="ab-icon-task.gif">Define Vendors</a></li>
                            </ol>
                            <li class="empty-taskgroup-title">&nbsp;</li>
                            <ol class="process-tasks">
                                <li><a href="ab-common-def-em.axvw" rel="pTask" data-taskId="Define Employees" data-taskIcon="ab-icon-task.gif">Define Employees</a></li>
                                <li><a href="ab-rr-define-visitors.axvw" rel="pTask" data-taskId="Define Visitors" data-taskIcon="ab-icon-task.gif">Define Visitors</a></li>
                            </ol>
                        </ol>
                </div>
            </div>
            <div class="bucket-application " data-productId="AbWorkplaceServices" data-activityId="AbWorkplaceReservations" data-processId="Reservations" data-productTitle="Workplace Services" data-activityTitle="Reservations" data-processTitle="Reserve Rooms and/or Resources" data-subfolder="\ab-products\workplace\reservations" data-helpLink="\Subsystems\webc\Content\web_user\res\reserve\create_rm_resource_res.htm" data-helpSystem="END USER" data-dashboardLayout="" data-dashboardView="" title="" oncontextmenu="return false;" onMouseUp="openPtask(this,event);">
                <h2 class="applications-process-title" title="">
                    <span class="process-title-text">Reserve Rooms and/or Resources</span>
                </h2>
                <div class="bucket-wrapper" id="wrapper_abworkplacereservations_reservations">
                        <ol class="ptask-labels">
                            <li></li>
                            <ol class="process-tasks">
                                <li><a href="ab-rr-add-room-reservation.axvw" rel="pTask" data-taskId="Create New Room Reservation" data-taskIcon="ab-icon-task.gif">Create New Room Reservation</a></li>
                                <li><a href="ab-rr-add-resource-reservation.axvw" rel="pTask" data-taskId="Create New Resource Reservation" data-taskIcon="ab-icon-task.gif">Create New Resource Reservation</a></li>
                                <li><a href="ab-rr-add-confcall-reservation.axvw" rel="pTask" data-taskId="Create New Conference Call Reservation" data-taskIcon="ab-icon-task.gif">Create New Conference Call Reservation</a></li>
                            </ol>
                            <li class="empty-taskgroup-title">&nbsp;</li>
                            <ol class="process-tasks">
                                <li><a href="ab-rr-my-reservations.axvw" rel="pTask" data-taskId="View and/or Edit My Reservations" data-taskIcon="ab-icon-task.gif">View and/or Edit My Reservations</a></li>
                                <li><a href="ab-rr-my-reservations-conflicts.axvw" rel="pTask" data-taskId="Resolve Conflicts" data-taskIcon="ab-icon-task.gif">Resolve Conflicts</a></li>
                            </ol>
                            <li class="empty-taskgroup-title">&nbsp;</li>
                            <ol class="process-tasks">
                                <li><a href="ab-rr-verify-reservation.axvw" rel="pTask" data-taskId="Verify Room Reservation" data-taskIcon="ab-icon-task.gif">Verify Room Reservation</a></li>
                            </ol>
                        </ol>
                </div>
            </div>
            <div class="bucket-application " data-productId="AbWorkplaceServices" data-activityId="AbWorkplaceReservations" data-processId="Approval" data-productTitle="Workplace Services" data-activityTitle="Reservations" data-processTitle="Approve Reservations" data-subfolder="\ab-products\workplace\reservations" data-helpLink="\Subsystems\webc\Content\web_user\res\approve\approve_res.htm" data-helpSystem="END USER" data-dashboardLayout="" data-dashboardView="" title="" oncontextmenu="return false;" onMouseUp="openPtask(this,event);">
                <h2 class="applications-process-title" title="">
                    <span class="process-title-text">Approve Reservations</span>
                </h2>
                <div class="bucket-wrapper" id="wrapper_abworkplacereservations_approval">
                        <ol class="ptask-labels">
                            <li></li>
                            <ol class="process-tasks">
                                <li><a href="ab-rr-approve-reservations.axvw" rel="pTask" data-taskId="Approve Reservation" data-taskIcon="ab-icon-task.gif">Approve Reservation</a></li>
                            </ol>
                        </ol>
                </div>
            </div>
            <div class="bucket-application " data-productId="AbWorkplaceServices" data-activityId="AbWorkplaceReservations" data-processId="Trades" data-productTitle="Workplace Services" data-activityTitle="Reservations" data-processTitle="Manage Trade Work" data-subfolder="\ab-products\workplace\reservations" data-helpLink="\Subsystems\webc\Content\web_user\res\trades\review_trade.htm" data-helpSystem="END USER" data-dashboardLayout="" data-dashboardView="" title="" oncontextmenu="return false;" onMouseUp="openPtask(this,event);">
                <h2 class="applications-process-title" title="">
                    <span class="process-title-text">Manage Trade Work</span>
                </h2>
                <div class="bucket-wrapper" id="wrapper_abworkplacereservations_trades">
                        <ol class="ptask-labels">
                            <li></li>
                            <ol class="process-tasks">
                                <li><a href="ab-rr-trade.axvw" rel="pTask" data-taskId="View Reservations Work by Trade" data-taskIcon="ab-icon-task.gif">View Reservations Work by Trade</a></li>
                            </ol>
                        </ol>
                </div>
            </div>
        </div>
        <div class="page-row full-height" >
            <h3 class="application-title" data-activityId="AbWorkplaceReservations">Reservations</h3>
            <hr class="application-horizontal-rule">
            <div class="bucket-application " data-productId="AbWorkplaceServices" data-activityId="AbWorkplaceReservations" data-processId="Reports" data-productTitle="Workplace Services" data-activityTitle="Reservations" data-processTitle="Reports" data-subfolder="\ab-products\workplace\reservations" data-helpLink="\Subsystems\webc\Content\web_user\res\reports\res_reports.htm" data-helpSystem="END USER" data-dashboardLayout="" data-dashboardView="" title="" oncontextmenu="return false;" onMouseUp="openPtask(this,event);">
                <h2 class="applications-process-title" title="">
                    <span class="process-title-text">Reports</span>
                </h2>
                <div class="bucket-wrapper" id="wrapper_abworkplacereservations_reports">
                        <ol class="ptask-labels">
                            <li>Operational Reports</li>
                            <ol class="process-tasks">
                                <li><a href="ab-rr-rpt-day-roomres.axvw" rel="pTask" data-taskId="Room Reservations" data-taskIcon="ab-icon-task.gif">Room Reservations</a></li>
                                <li><a href="ab-rr-rpt-day-roomres-plus.axvw" rel="pTask" data-taskId="Room Reservations and Resources" data-taskIcon="ab-icon-task.gif">Room Reservations and Resources</a></li>
                                <li><a href="ab-rr-rpt-day-resourceres.axvw" rel="pTask" data-taskId="Resource Reservations" data-taskIcon="ab-icon-task.gif">Resource Reservations</a></li>
                                <li><a href="ab-rr-rpt-day-resourceres-plus.axvw" rel="pTask" data-taskId="Resource Reservations and Rooms" data-taskIcon="ab-icon-task.gif">Resource Reservations and Rooms</a></li>
                                <li><a href="ab-rr-rpt-wr-reservation-trade.axvw" rel="pTask" data-taskId="Reservations - Trades Work Requests" data-taskIcon="ab-icon-task.gif">Reservations - Trades Work Requests</a></li>
                                <li><a href="ab-rr-rpt-wr-reservation-vendor.axvw" rel="pTask" data-taskId="Reservations - Vendor Work Requests" data-taskIcon="ab-icon-task.gif">Reservations - Vendor Work Requests</a></li>
                                <li><a href="ab-rr-rpt-ressheet.axvw" rel="pTask" data-taskId="Confirmation Sheet" data-taskIcon="ab-icon-task.gif">Confirmation Sheet</a></li>
                                <li><a href="ab-rr-rpt-reservations-room-days.axvw" rel="pTask" data-taskId="Daily Room Reservations" data-taskIcon="ab-icon-task.gif">Daily Room Reservations</a></li>
                            </ol>
                            <li>Control Management Reports</li>
                            <ol class="process-tasks">
                                <li><a href="ab-rr-rpt-day-number-roomres.axvw" rel="pTask" data-taskId="Number of Room Reservations per Day" data-taskIcon="ab-icon-task.gif">Number of Room Reservations per Day</a></li>
                                <li><a href="ab-rr-rpt-day-number-resourceres.axvw" rel="pTask" data-taskId="Number of Resource Reservations per Day" data-taskIcon="ab-icon-task.gif">Number of Resource Reservations per Day</a></li>
                                <li><a href="ab-rr-rpt-day-room-occupation.axvw" rel="pTask" data-taskId="Room Occupation per Day" data-taskIcon="ab-icon-task.gif">Room Occupation per Day</a></li>
                                <li><a href="ab-rr-rpt-day-resource-occupation.axvw" rel="pTask" data-taskId="Resource Usage per Day" data-taskIcon="ab-icon-task.gif">Resource Usage per Day</a></li>
                                <li><a href="ab-rr-rpt-cost-detail.axvw" rel="pTask" data-taskId="Costs by Div. and Dept. - Details" data-taskIcon="ab-icon-task.gif">Costs by Div. and Dept. - Details</a></li>
                                <li><a href="ab-rr-rpt-approve-detail.axvw" rel="pTask" data-taskId="Checklist for Late Approvals" data-taskIcon="ab-icon-task.gif">Checklist for Late Approvals</a></li>
                                <li><a href="ab-rr-rpt-cancel-detail.axvw" rel="pTask" data-taskId="Cancelled Reservations - Details" data-taskIcon="ab-icon-task.gif">Cancelled Reservations - Details</a></li>
                                <li><a href="ab-rr-rpt-reject-detail.axvw" rel="pTask" data-taskId="Rejected Reservations - Details" data-taskIcon="ab-icon-task.gif">Rejected Reservations - Details</a></li>
                                <li><a href="ab-rr-rpt-not-verified-detail.axvw" rel="pTask" data-taskId="View Unverified Reservations" data-taskIcon="ab-icon-task.gif">View Unverified Reservations</a></li>
                            </ol>
                            <li>Strategic Management Reports</li>
                            <ol class="process-tasks">
                                <li><a href="ab-rr-rpt-month-number-roomres.axvw" rel="pTask" data-taskId="Number of Room Reservations per Month" data-taskIcon="ab-icon-task.gif">Number of Room Reservations per Month</a></li>
                                <li><a href="ab-rr-rpt-month-number-resourceres.axvw" rel="pTask" data-taskId="Number of Resource Reservations per Month" data-taskIcon="ab-icon-task.gif">Number of Resource Reservations per Month</a></li>
                                <li><a href="ab-rr-rpt-month-room-occupation.axvw" rel="pTask" data-taskId="Room Occupation per Month" data-taskIcon="ab-icon-task.gif">Room Occupation per Month</a></li>
                                <li><a href="ab-rr-rpt-month-resource-occupation.axvw" rel="pTask" data-taskId="Resource Usage per Month" data-taskIcon="ab-icon-task.gif">Resource Usage per Month</a></li>
                                <li><a href="ab-rr-rpt-month-resource-quantity.axvw" rel="pTask" data-taskId="Resource Quantity Usage per Month" data-taskIcon="ab-icon-task.gif">Resource Quantity Usage per Month</a></li>
                                <li><a href="ab-rr-rpt-month-room-capacity.axvw" rel="pTask" data-taskId="Room Capacity Utilization per Month" data-taskIcon="ab-icon-task.gif">Room Capacity Utilization per Month</a></li>
                                <li><a href="ab-rr-rpt-month-cost-division.axvw" rel="pTask" data-taskId="Costs per Division per Month" data-taskIcon="ab-icon-task.gif">Costs per Division per Month</a></li>
                                <li><a href="ab-rr-rpt-month-cost-department.axvw" rel="pTask" data-taskId="Costs per Department per Month" data-taskIcon="ab-icon-task.gif">Costs per Department per Month</a></li>
                                <li><a href="ab-rr-rpt-month-use-arrangement.axvw" rel="pTask" data-taskId="Arrangements Utilization per Month" data-taskIcon="ab-icon-task.gif">Arrangements Utilization per Month</a></li>
                                <li><a href="ab-rr-rpt-month-requestor.axvw" rel="pTask" data-taskId="Requestor Roles per Month" data-taskIcon="ab-icon-task.gif">Requestor Roles per Month</a></li>
                                <li><a href="ab-rr-rpt-month-room-reject.axvw" rel="pTask" data-taskId="Rejections per Room per Month" data-taskIcon="ab-icon-task.gif">Rejections per Room per Month</a></li>
                                <li><a href="ab-rr-rpt-month-resource-reject.axvw" rel="pTask" data-taskId="Rejections per Resource per Month" data-taskIcon="ab-icon-task.gif">Rejections per Resource per Month</a></li>
                                <li><a href="ab-rr-rpt-month-room-cancel.axvw" rel="pTask" data-taskId="Room Cancellations per Month" data-taskIcon="ab-icon-task.gif">Room Cancellations per Month</a></li>
                                <li><a href="ab-rr-rpt-month-resource-cancel.axvw" rel="pTask" data-taskId="Resource Cancellations per Month" data-taskIcon="ab-icon-task.gif">Resource Cancellations per Month</a></li>
                            </ol>
                        </ol>
                </div>
            </div>
            <div class="bucket-application " data-productId="AbWorkplaceServices" data-activityId="AbWorkplaceReservations" data-processId="Reservation Manager" data-productTitle="Workplace Services" data-activityTitle="Reservations" data-processTitle="Manage Reservations" data-subfolder="\ab-products\workplace\reservations" data-helpLink="\Subsystems\webc\Content\fim\res\setup_tasks_res.htm" data-helpSystem="END USER" data-dashboardLayout="" data-dashboardView="" title="" oncontextmenu="return false;" onMouseUp="openPtask(this,event);">
                <h2 class="applications-process-title" title="">
                    <span class="process-title-text">Manage Reservations</span>
                </h2>
                <div class="bucket-wrapper" id="wrapper_abworkplacereservations_reservationManager">
                        <ol class="ptask-labels">
                            <li></li>
                            <ol class="process-tasks">
                                <li><a href="ab-rr-parameters.axvw" rel="pTask" data-taskId="Configure Application Parameters" data-taskIcon="ab-icon-task.gif">Configure Application Parameters</a></li>
                                <li><a href="ab-rr-outlookplugin-config.axvw" rel="pTask" data-taskId="Configure Outlook Plugin" data-taskIcon="ab-icon-task.gif">Configure Outlook Plugin</a></li>
                            </ol>
                            <li>Administrative Tasks</li>
                            <ol class="process-tasks">
                                <li><a href="ab-countries-define.axvw" rel="pTask" data-taskId="Define Countries" data-taskIcon="ab-icon-task.gif">Define Countries</a></li>
                                <li><a href="ab-sp-def-loc-rm.axvw" rel="pTask" data-taskId="Define Locations" data-taskIcon="ab-icon-task.gif">Define Locations</a></li>
                            </ol>
                            <li class="empty-taskgroup-title">&nbsp;</li>
                            <ol class="process-tasks">
                                <li><a href="ab-sp-def-org.axvw" rel="pTask" data-taskId="Define Organizations" data-taskIcon="ab-icon-task.gif">Define Organizations</a></li>
                            </ol>
                            <li class="empty-taskgroup-title">&nbsp;</li>
                            <ol class="process-tasks">
                                <li><a href="ab-rr-rm.axvw" rel="pTask" data-taskId="Define Reservable Rooms" data-taskIcon="ab-icon-task.gif">Define Reservable Rooms</a></li>
                                <li><a href="ab-rr-rm-config.axvw" rel="pTask" data-taskId="Define Room Configurations" data-taskIcon="ab-icon-task.gif">Define Room Configurations</a></li>
                                <li><a href="ab-rr-arrange.axvw" rel="pTask" data-taskId="Define Room Arrangement Types" data-taskIcon="ab-icon-task.gif">Define Room Arrangement Types</a></li>
                                <li><a href="ab-rr-rm-arrange.axvw" rel="pTask" data-taskId="Define Room Arrangements" data-taskIcon="ab-icon-task.gif">Define Room Arrangements</a></li>
                            </ol>
                            <li class="empty-taskgroup-title">&nbsp;</li>
                            <ol class="process-tasks">
                                <li><a href="ab-rr-resource-std.axvw" rel="pTask" data-taskId="Define Resource Standards" data-taskIcon="ab-icon-task.gif">Define Resource Standards</a></li>
                                <li><a href="ab-rr-resource.axvw" rel="pTask" data-taskId="Define Resources" data-taskIcon="ab-icon-task.gif">Define Resources</a></li>
                                <li><a href="ab-rr-rm-resource-std.axvw" rel="pTask" data-taskId="Define Fixed Resources" data-taskIcon="ab-icon-task.gif">Define Fixed Resources</a></li>
                            </ol>
                            <li class="empty-taskgroup-title">&nbsp;</li>
                            <ol class="process-tasks">
                                <li><a href="ab-rr-tr.axvw" rel="pTask" data-taskId="Define Trades" data-taskIcon="ab-icon-task.gif">Define Trades</a></li>
                                <li><a href="ab-rr-vn.axvw" rel="pTask" data-taskId="Define Vendors" data-taskIcon="ab-icon-task.gif">Define Vendors</a></li>
                            </ol>
                            <li class="empty-taskgroup-title">&nbsp;</li>
                            <ol class="process-tasks">
                                <li><a href="ab-common-def-em.axvw" rel="pTask" data-taskId="Define Employees" data-taskIcon="ab-icon-task.gif">Define Employees</a></li>
                                <li><a href="ab-rr-define-visitors.axvw" rel="pTask" data-taskId="Define Visitors" data-taskIcon="ab-icon-task.gif">Define Visitors</a></li>
                            </ol>
                        </ol>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
$(document).ready(function() {
    $('#navigationTabs').find('a').click(function() {return false;});
    initDandDFavorites();
    setPageDimensions();
    bindTaskContextMenu();
    localizeFavoritesDisplayText();
    loadFavoritesBuckets();
    modifyProcessTitleDisplay();
    pageTallPTaskBuckets();
});
</script>