#main {
    padding: 15px;
    overflow: hidden;
}

.flowchart {
    position: relative;
}

.flowchart .svg_window {
    position: absolute;
}

.block_description {
    position: absolute;
    cursor: default;
    margin-top: 4px;
}

.open.block_description {
    border: 1px dotted;
}

.flowchart .drag-hover {
    border-color: rgb(255, 116, 0);
}

.menu_button {
    padding: 5px;
}

.menu_button:hover {
    background-color: #AAAAAA;
    color: black;
}

.button {
    text-align: center;
    border: 1px solid;
    margin: 5px;
}

.button:hover {
    cursor: pointer;
}

.flowchart .aLabel {
    background-color: #ADD8E6;
    border: 1px dotted gray;
    cursor: pointer;
    z-index: 100;
}

.flowchart .aLabelText {
    background-color: white;
    border: 1px dotted gray;
    padding: 0.2em;
    font: 11px sans-serif;
    color: #444;
    z-index: 21;
    opacity: 0.8;
    filter: alpha(opacity=80);
    cursor: pointer;
}

.flowchart .action-description {
    position: absolute;
    max-width: 100px;
    text-align: center;
    background-color: white;
    border: 1px dotted gray;
    padding: 0.2em;
    font: 11px sans-serif;
    color: #444;
    opacity: 0.8;
    filter: alpha(opacity=80);
    z-index: 21;
}

/**
 * palette
 */
.palette {
    display: none;
    height: 314px;
    width: 64px;
    position: absolute;
    top: 40px;
    left: 2px;
    /*margin-left: 15px;*/
    /*margin-top: 15px;*/
    background: rgba(255, 255, 255, 0.65);
    border: solid 1px #ddd;
    border-radius: 10px;
    box-shadow: 0 2px 19px rgba(0, 0, 0, 0.25);
    z-index: 101;
}

.palette .icon {
    background: url(../../images/wf-flow.png) no-repeat;
    display: inline-block;
    height: 20px;
    width: 20px;
    /*vertical-align: middle;*/
    margin-top: 4px;
}

.palette button.close {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: 0 none;
    cursor: pointer;
    padding: 0;
}

.palette .close {
    color: #000000;
    float: right;
    font-size: 21px;
    font-weight: bold;
    line-height: 1;
    opacity: 0.3;
    text-shadow: 0 1px 0 #FFFFFF;
}

.palette .open {
    display: none;
    text-align: center;
    line-height: 26px;
}

.palette .content {
    padding: 5px;
}

.palette .content .entries {
    display: table-cell;
    margin-left: 16px;
    text-align: center;
    vertical-align: middle;
    padding: 0 3px;
}

.palette h2 {
    font-weight: bold;
    margin: 0 0 10px 0;
    font-size: 14px;
    line-height: 24px;
    border-bottom: solid 1px #ddd;
    padding: 0;
}

.palette.collapsed {
    height: 26px;
    width: 26px;
}

.palette.collapsed .open {
    display: block;
}

.palette.collapsed .content {
    display: none;
}

.palette .icon-task-user, .palette .icon-task-service {
    height: 12px;
    width: 12px;
}

.icon-task-user {
    background: url(../../images/wf-user.png) no-repeat;
    background-size: cover;
}

.icon-task-service {
    background: url(../../images/wf-service.png) no-repeat;
    background-size: cover;
}

.icon-gateway-exclusive {
    background: url(../../images/wf-cross.png) no-repeat;
    background-size: cover;
}

.icon-gateway-parallel {
    background: url(../../images/wf-plus.png) no-repeat;
    background-size: cover;
}

.jsPlumb_dragged {
    cursor: grabbing !important;
}

.svg_window .block_id {
    margin-left: 8px;
    position: absolute;
    text-align: center;
    top: 10px;
}

path, ._jsPlumb_endpoint {
    cursor: pointer;
}

._jsPlumb_endpoint {
    z-index: 52
}

.svg_window {
    z-index: 51
}

._jsPlumb_connector {
    z-index: 4;
}

._jsPlumb_connector:hover {
    z-index: 99;
}

._jsPlumb_overlay {
    z-index: 6;
}

._jsPlumb_endpoint_drop_allowed circle {
    /*border: 1px solid red;*/
    shape-rendering: crispedges;
    stroke-dasharray: 3, 3;
    /*visibility: visible;*/
    stroke: red;
    stroke-width: 4px;
}

.drop-hover {
    background: red;
}

.drop-hover2 {
    background: yellow;
}

.jsplumb-drag-selected {
    border: 1px solid orange;
    background-color: gold;
}

.connector-hover {
    /*border: 1px dotted #FF0000;*/

}

.svg_window[data-type='start-event'] .foo, .svg_window[data-type='intermediate-event'] .foo,
.svg_window[data-type='end-event'] .foo {
    top: 2em;
    left: 2.5em;
}

.svg_window[data-type='exclusive-gateway'] .foo, .svg_window[data-type='parallel-gateway'] .foo {
    top: 2.5em;
    left: 3em;
}

.svg_window[data-type='user-task'] .foo, .svg_window[data-type='service-task'] .foo {
    top: 3em;
    left: 4em;
}

.open.svg_window {
    /*border: 1px dotted dodgerblue;*/

}

.outline {
    fill: none;
    visibility: hidden;
}

.flowchart .svg_window .outline {
    shape-rendering: crispedges;
    /*stroke-dasharray: 3, 3;*/
    visibility: visible;
    stroke: #FF8888;
    stroke-width: 1px;
}

.flowchart .svg_window.selected.outline {
    shape-rendering: crispedges;
    /*stroke-dasharray: 3, 3;*/
    visibility: visible;
    stroke: #FF8888;
    stroke-width: 1px;
}

._jsPlumb_endpoint {
    opacity: 1;
}

.open._jsPlumb_endpoint {
    opacity: 1;
}

/*----------------jsPlumb-----------------*/

/** DISABLE TEXT SELECTION (SET ON BODY WHEN DRAGGING IS OCCURRING) **/
._jsPlumb_drag_select * {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

path, ._jsPlumb_endpoint {
    cursor: pointer;
}

/** Z-INDEX **/
._jsPlumb_connector {
    z-index: 18;
}

._jsPlumb_endpoint {
    z-index: 19;
}

._jsPlumb_overlay {
    z-index: 20;
}

/*----------------demo-----------------*/

/*.svg_window {*/
/*background-color: white;*/
/*border: 1px solid #346789;*/
/*box-shadow: 2px 2px 19px #e0e0e0;*/
/*-o-box-shadow: 2px 2px 19px #e0e0e0;*/
/*-webkit-box-shadow: 2px 2px 19px #e0e0e0;*/
/*-moz-box-shadow: 2px 2px 19px #e0e0e0;*/
/*-moz-border-radius: 0.5em;*/
/*border-radius: 0.5em;*/
/*width: 5em;*/
/*height: 5em;*/
/*position: absolute;*/
/*color: black;*/
/*padding: 0.5em;*/
/*width: 80px;*/
/*height: 80px;*/
/*line-height: 80px;*/
/*-webkit-transition: -webkit-box-shadow 0.15s ease-in;*/
/*-moz-transition: -moz-box-shadow 0.15s ease-in;*/
/*-o-transition: -o-box-shadow 0.15s ease-in;*/
/*transition: box-shadow 0.15s ease-in;*/
/*}*/
.svg_window:hover {
    /*border: 1px solid #123456;*/
    /*box-shadow: 2px 2px 19px #444;*/
    /*-o-box-shadow: 2px 2px 19px #444;*/
    /*-webkit-box-shadow: 2px 2px 19px #444;*/
    /*-moz-box-shadow: 2px 2px 19px #fff;*/
    /*opacity: 0.9;*/
    /*filter: alpha(opacity=90);*/

}

.svg_window a {
    font-family: helvetica;
}

/*.flowchart .svg_window {*/
/*border: 1px solid #346789;*/
/*box-shadow: 2px 2px 19px #aaa;*/
/*-o-box-shadow: 2px 2px 19px #aaa;*/
/*-webkit-box-shadow: 2px 2px 19px #aaa;*/
/*-moz-box-shadow: 2px 2px 19px #aaa;*/
/*-moz-border-radius: 0.5em;*/
/*border-radius: 0.5em;*/
/*opacity: 0.8;*/
/*filter: alpha(opacity=80);*/

/*text-align: center;*/
/*z-index: 20;*/
/*position: absolute;*/
/*background-color: #eeeeef;*/
/*color: black;*/
/*font-family: helvetica;*/
/*padding: 0.5em;*/
/*font-size: 0.9em;*/
/*}*/
.flowchart .svg_window:hover {
    /*box-shadow: 2px 2px 19px #444;*/
    /*-o-box-shadow: 2px 2px 19px #444;*/
    /*-webkit-box-shadow: 2px 2px 19px #444;*/
    /*-moz-box-shadow: 2px 2px 19px #444;*/
    /*opacity: 0.6;*/
    /*filter: alpha(opacity=60);*/
    cursor: grab;
}

.flowchart .active {
    /*border: 1px dotted red;*/
    shape-rendering: crispedges;
    stroke-dasharray: 3, 3;
    /*visibility: visible;*/
    stroke: green;
    stroke-width: 4px;
}

.flowchart .hover {
    /*border: 1px dotted red;*/
    shape-rendering: crispedges;
    stroke-dasharray: 3, 3;
    /*visibility: visible;*/
    stroke: red;
    stroke-width: 4px;
}

.flowchart ._jsPlumb_connector {
    z-index: 4;
}

.flowchart ._jsPlumb_endpoint, .endpointTargetLabel,
.endpointSourceLabel {
    z-index: 21;
    cursor: move;
}

._jsPlumb_endpoint_anchor_top._jsPlumb_hover,
._jsPlumb_endpoint_anchor_right._jsPlumb_hover,
._jsPlumb_endpoint_anchor_bottom._jsPlumb_hover,
._jsPlumb_endpoint_anchor_left._jsPlumb_hover {
    cursor: crosshair;
}

.svg_window._jsPlumb_connected {
    /*border: 2px solid green;*/

}

.jsplumb-drag circle, .jsplumb-drag polygon, .jsplumb-drag rect {
    stroke: rgb(255, 116, 0)
}

._jsPlumb_endpoint {
    opacity: 1;
}

._jsPlumb_endpoint._jsPlumb_hover {
    opacity: 1;
}

.open.svg_window {
    opacity: 1;
}

.key {
    display: none;
    height: 460px;
    width: 200px;
    position: absolute;
    top: 40px;
    right: 2px;
    background: rgba(255, 255, 255, 0.65);
    border: solid 1px #ddd;
    border-radius: 10px;
    box-shadow: 0 2px 19px rgba(0, 0, 0, 0.25);
    z-index: 102;
}

.key .icon {
    background: url(../../images/wf-help.png) no-repeat;
    display: inline-block;
    height: 16px;
    width: 16px;
    margin-top: 4px;
}

.key button.close {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: 0 none;
    cursor: pointer;
    padding: 0;
}

.key .close {
    color: #000000;
    float: right;
    font-size: 21px;
    font-weight: bold;
    line-height: 16px;
    opacity: 0.3;
    text-shadow: 0 1px 0 #FFFFFF;
}

.key .help {
    display: none;
    text-align: center;
    line-height: 26px;
}

.key .content {
    padding: 10px;
}

.key h2 {
    font-weight: bold;
    margin: 0 0 10px 0;
    font-size: 14px;
    line-height: 20px;
    border-bottom: solid 1px #ddd;
}

.key p {
    font-size: 11px;
    line-height: 13px;
    margin-bottom: 10px;
}

.key label {
    display: block;
    position: relative;
    height: 20px;
    padding-left: 30px;
    font-size: 11px;
}

.key label svg, .key label img {
    position: absolute;
    top: 50%;
    left: 0px;
    margin-top: -12px;
}

.key.collapsed {
    height: 24px;
    width: 24px;
}

.key.collapsed .help {
    display: block;
}

.key.collapsed .content {
    display: none;
}

.key .icon-task-service, .key .icon-task-user {
    height: 8px;
    width: 8px;
}

.key .icon-gateway-exclusive, .key .icon-gateway-parallel {
    height: 8px;
    width: 8px;
}

.jtk-surface-panning {
    cursor: -moz-grabbing;
    cursor: -webkit-grabbing;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.flow-log {
    display: none;
    width: 600px;
    position: absolute;
    bottom: 2px;
    right: 2px;
    background: rgba(255, 255, 255, 0.65);
    border: solid 1px #ddd;
    border-radius: 10px;
    box-shadow: 0 2px 19px rgba(0, 0, 0, 0.25);
    z-index: 101;
}

.flow-log button.close {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: 0 none;
    cursor: pointer;
    padding: 0;
}

.flow-log .close {
    color: #000000;
    float: right;
    font-size: 21px;
    font-weight: bold;
    line-height: 16px;
    opacity: 0.3;
    text-shadow: 0 1px 0 #FFFFFF;
}

.flow-log .help {
    display: none;
    text-align: center;
    line-height: 26px;
}

.flow-log .content {
    padding: 10px;
}

.flow-log h2 {
    font-weight: bold;
    margin: 0 0 4px 0;
    font-size: 11px;
    border-bottom: solid 1px #ddd;
}

.flow-log p {
    font-size: 11px;
    line-height: 13px;
    margin-bottom: 10px;
}

.flow-log.collapsed {
    height: 24px;
    width: 24px;
}

.flow-log.collapsed .help {
    display: block;
}

.flow-log.collapsed .content {
    display: none;
}

#log-content {
    font-size: 10px;
    height: 150px;
    overflow: scroll;
}

.diagram-block {
    position: absolute;
    border: dotted red;
    margin: -5px;
}

.highlight-block rect {
    fill: yellow;
}
