/*override the tree panel style to make tree icons always visible */
.treeTable td.firstContent {
	overflow: hidden;
}

.treeTable td.firstContent span {
	padding-right: 16px;
}

.x-panel-body-noheader, .x-panel-mc .x-panel-body {
	border-top: 0px solid #99bbe8;
	border-right: 0px solid #99bbe8;
	border-left: 0px solid #99bbe8;
	border-bottom: 0px solid #99bbe8;
}

.panelToolbar.x-toolbar .ytb-text {
	font-size: 13px;
}

.esTree-dragging {
	outline: dashed 1px #0000ff;
}

.esTree-hover {
	/*  background-color: #ffde8e; */
	
}

.esTree-line {
	border-bottom: 4px solid #5B9BD5;
}

.esTree-onNode {
	background-color: #FFFF99;
	outline: dashed 1px #5B9BD5;
}

.separator {
	height: 4px;
	width: 100%;
}

.nodeLabel {
	display: inline-table;
}

.label.color_System {
	color: #214291;
	font-weight: bold;
}

.label.color_Assembly {
	color: #219138;
}

.label.color_Component {
	color: #BA0245;
}
.label.highlight {
    background-color: #F7FAB9;
}