.dx-datagrid-headers .dx-datagrid-table .dx-row>td {
    border-top: 1px solid #ddd;
}
.dx-datagrid-table-fixed .dx-row.dx-group-row td {
    color: black;
    background-color: #f9fbff;
    border: 0;
}
.dx-datagrid-rowsview .dx-row.dx-group-row {
    color: black;
}

/* Start: Toolbar grid */
.toolbar_leftArrow,  .toolbar_rightArrow {
    padding: 5px;
    cursor:pointer;
}
.toolbar_leftArrow:hover, .toolbar_rightArrow:hover {
    background-color: #c8d9f0;
    border-radius: 20px;
}
/* End: Toolbar grid */

/* Start: Header grid */
.header_column_data {
    border-right: 1px solid #ddd !important;
    border-bottom: 0 !important;
    font-style: italic;
    color: black;
    vertical-align: bottom !important;
}
.header_week {
    color: black;
    border-bottom: 0!important;
    border-top: 0 !important;
    height: 20px;
    text-align: center !important;
    vertical-align: bottom !important;
}
.header_month {
    border: 0 !important;
    border-top: 1px solid #ddd !important;
    color: black;
    height: 10px;
    background-color: #ddd;
    font-weight: bold;
}
/* End: Header grid */

/* Start: Grouping Statistic */
.groupStatistics_title {
    margin-top: 3px;
    float: left;
    width: 200px;
}
.groupStatistics_char_bar {
    float: left;
    width: 150px;
    border: 1px solid rgba(195, 195, 195, 0.6);
    cursor: pointer;
}
.groupStatistics_char_bar_missing {
    float: left;
    height: 20px;
    background-color: #AD0000 !important;
}
.groupStatistics_char_bar_expired {
    float: left;
    height: 20px;
    background-color: #fdd16c !important;
}
.groupStatistics_char_bar_check {
    float: right;
    padding-top: 5px;
    padding-right: 3px;
}
.groupStatistics_char_bar_text {
    width: 100px;
    margin-top: 3px;
    float: left;
    padding-left: 10px;
    color: #1e8b3f;
    vertical-align: middle;
}
.groupStatistics_text_missing {
    float: left;
    padding-left: 20px;
    color: #AD0000;
    vertical-align: middle;
}
.groupStatistics_text_future {
    width: 130px;
    margin-top: 3px;
    float: left;
    padding-left: 40px;
    color: #3E6696;
    vertical-align: middle;
}
.groupStatistics_future_statistics {
    margin-top: 3px;
    float: left;
    margin-left: 20px;
    cursor: pointer;
}
.groupStatistics_future_generated_block {
    float: left;
    width: 70%;
    background: #2e4db1;
}
.groupStatistics_future_open_block {
    float: left;
    width: 70%;
    border: 1px solid #80c4ff;
}
.groupStatistics_gap_block {
    float: left;
    width: 30%;
}
/* End: Group Statistic */

/* Start: Tooltip */
.dx-tooltip-wrapper .dx-overlay-content {
    background-color: #fdefb9 !important;
    font-size: 14px;
}
.dx-tooltip-wrapper.dx-popover-wrapper .dx-popover-arrow:after {
    border: 1px solid #ddd;
    background: #fdefb9;
}
/* End: Tooltip*/

/* Start: Grouping Week - Future*/
.groupFutureWeek_square {
    width: 15px;
    height: 15px;
    background: #2e4db1;
    margin-top: 1px;
}
.groupFutureWeek_text {

}
/* End: Grouping Week - Future*/

/* Start: Grouping Week - Past*/
.groupPastWeek_completed {
    float: left;
    padding-left: 5px;
}
.groupPastWeek_completed_imgCheck {
    float: left;
    padding-top: 3px;
}
.groupPastWeek_completed_text {
    padding-left: 15px;
}
.groupPastWeek_missed {
    float: right;
}
.groupPastWeek_missed_triangle {
    color: #faf3ff;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 0 32px 42px;
    border-color: transparent transparent #AD0000 transparent;
    margin-top: 3px;
}
.groupPastWeek_missed_text {
    float: right;
    margin-top: -18px;
    margin-right: 3px;
    color: #fbffff;

}
/* End: Grouping Week - Past*/

/* Start: Block Dates in Past Weeks */
.blockDatesPastWeek_missed {
    background-color: #AD0000;
}
.blockDatesPastWeek_image {
    vertical-align: middle;
    margin-top: 10px;
}
.blockDatesPastWeek_completed_late_completed {
    background-color: #fdd16c;
}
.blockDatesPastWeek_completed_late_circle {
    float: left;
    width: 15px;
    height: 15px;
    background: #fdd16c;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
}
.blockDatesPastWeek_completed_late_rectangle {
    height: 5px;
    background: #fdd16c;

}
/* End: Block Dates in Past Weeks */

/* Start: Block Dates in Future Weeks */
.blockDatesFutureWeek {

}
.blockDatesFutureWeek_work {
    background: #2e4db1;
    cursor: pointer;
}
.blockDatesFutureWeek_open_work {
    border: 3px solid #80c4ff;
    cursor: pointer;
}
.blockDatesFutureWeek_highlight {
    border: 3px solid #FF9526;
}
.blockDatesFutureWeek_arrow_next  {
    position: absolute;
    margin-left: 10px;
    margin-top: 5px;
    cursor: pointer;
}
.blockDatesFutureWeek_arrow_prev {
    position: absolute;
    margin-top: 5px;
    cursor: pointer;
}
/* End: Block Dates in Future Weeks */