.workRequestBox {
    border: 2px solid #CCC;
    margin: 8px 4px;
    padding: 8px;
    height: 80px;
}
.workRequestBox span.description {
    display: block;
    height: 36px;
    width: 250px;
    overflow: hidden;
    color: #E47505;
    font-weight: bold;
}
.workRequestBox span.dates {
    float: right;
    margin-top: -36px;
    width: 135px;
}
.workRequestBox span.dateLabel {
    float: right;
    clear: both;
    width: 60px;
    color: rgb(51, 122, 183);
    font-weight: bold;
    text-align: right;
}
.workRequestBox span.dateValue {
    float: right;
    width: 75px;
    color: rgb(51, 122, 183);
    font-weight: bold;
    text-align: left;
}
.workRequestBox span.handle {
    display: block;
    clear: both;
    float: right;
    margin-right: -10px;
    margin-top: -10px;
    height: 100px;
    width: 16px;
    background-color: rgb(51, 122, 183);
}


.dx-scheduler-header .dx-widget {
    font-family: inherit;
}
.dx-button-text {
    line-height: inherit;
    font-size: 16px;
}
.dx-scheduler-timeline .dx-scheduler-group-header {
    padding: 8px;
    text-align: left;
    vertical-align: top;
}
.dx-scheduler-timeline.dx-scheduler-work-space-grouped .dx-scheduler-group-row .dx-scheduler-group-header {
    border-top: 1px solid #ccc;
}
.dx-scheduler-timeline .dx-scheduler-group-header .dx-scheduler-group-header-content div {
    font-size: 14px;
    font-weight: bold;
    top: 0;
    -webkit-transform: inherit;
    -moz-transform: inherit;
    -ms-transform: inherit;
    transform: inherit;
}
.dx-scheduler-timeline .dx-scheduler-group-header .dx-scheduler-group-header-content div.resource-totals {
    font-weight: normal;
}

.dx-scheduler-header-panel-cell {
    border-right: none;
}
.dx-scheduler-header-row:nth-child(1) .dx-scheduler-header-panel-cell {
    width: 200px!important;
    border-left: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}
.dx-scheduler-header-row:nth-child(2) .dx-scheduler-header-panel-cell {
    vertical-align: bottom;
    padding-bottom: 5px;
    font-size: 12px;
    border-top: 1px solid rgba(221, 221, 221, 0.6);
}
.dx-scheduler-header-row:nth-child(2) .dx-scheduler-header-panel-cell.first-hour {
    border-left: 1px solid #ccc;
}
.dx-scheduler-timeline .dx-scheduler-header-panel-cell, .dx-scheduler-timeline .dx-scheduler-date-table-cell {
    width: 20px;
}
.dx-scheduler-header-panel, .dx-scrollable-both .dx-scheduler-date-table {
    width: 450px!important;
}
#laborBoardContainer .dx-scheduler-header-scrollable {
    height: 87px;
}

.dx-scheduler-date-table-cell {
    border-top: 1px solid #ccc;
}
.dx-scheduler-work-space.dx-scheduler-work-space-grouped .dx-scheduler-date-table-cell.first-hour {
    border-left: 1px solid #ccc;
}
.dx-scheduler-work-space.dx-scheduler-work-space-grouped .dx-scheduler-date-table-cell.unavailable-hours {
    background: repeating-linear-gradient(
            45deg,
            white,
            white 4px,
            #A8C2E8 4px,
            #A8C2E8 14px
    );
    border-left: 1px solid #D3E0F3;
}

.unscheduled-hours-panel {
    height: 25px;
    position: absolute;
    z-index: 1;
}
.unscheduled-hours-label {
    display: inline-block;
    float: right;
    font-weight: bold;
    margin-right: 4px;
    margin-top: 5px;
}
.unscheduled-hours-icon {
    display: inline-block;
    float: right;
    font-weight: bold;
    margin-right: 4px;
    margin-top: 3px;
    padding: 2px 6px;
    width: 20px;
    color: white;
    background-color: black;
    border-radius: 50%;
}
.dx-scheduler-date-table-scrollable .dx-scrollable-scrollbar {
    z-index: 2;
}
