.dx-scheduler-timeline.dx-scheduler-work-space-both-scrollbar .dx-scheduler-sidebar-scrollable .dx-scrollable-content {
    border-top: 0px;
}
.dx-scheduler-header .dx-widget {
    font-family: inherit;
}
.dx-scheduler-header .dx-button-text {
    line-height: inherit;
    font-size: 16px;
}
.dx-scheduler-view-switcher-label, .dx-scheduler-view-switcher.dx-dropdownmenu.dx-button {
    visibility: hidden;    
}
.dx-field-item-label-text {
    font-size: 14px;
}
.dx-texteditor-input {
    font-size: 14px;
}
.dx-widget {
    font-size: 14px;
}

.dx-scheduler-timeline.dx-scheduler-work-space-grouped[dx-group-column-count='1'] .dx-scheduler-group-table,
.dx-scheduler-timeline.dx-scheduler-work-space-grouped[dx-group-column-count='1'] .dx-scheduler-sidebar-scrollable,
.dx-scheduler-timeline.dx-scheduler-work-space-grouped[dx-group-column-count='1'] .dx-scheduler-sidebar-scrollable:before {
    width: 200px;
}
.dx-scheduler-timeline.dx-scheduler-work-space-grouped[dx-group-column-count='1'] .dx-scheduler-date-table-scrollable,
.dx-scheduler-timeline.dx-scheduler-work-space-grouped[dx-group-column-count='1'] .dx-scheduler-header-scrollable {
    margin-left: 200px;
}
.dx-scheduler-work-space-both-scrollbar .dx-scheduler-date-table-cell {
    height: 101px;
}

.dx-scheduler-timeline .dx-scheduler-group-header {
    padding: 0px;
    text-align: left;
    vertical-align: top;
}
.dx-scheduler-timeline.dx-scheduler-work-space-grouped .dx-scheduler-group-row .dx-scheduler-group-header {
    border-top: 1px solid #ccc;
}
.dx-scheduler-timeline .dx-scheduler-group-header .dx-scheduler-group-header-content {
    padding: 0 10px 0 5px;
}
.dx-scheduler-timeline .dx-scheduler-group-header .dx-scheduler-group-header-content div {
    font-size: 14px;
    font-weight: bold;
    top: 0;
    -webkit-transform: inherit;
    -moz-transform: inherit;
    -ms-transform: inherit;
    transform: inherit;
}
.dx-scheduler-timeline .dx-scheduler-group-header .dx-scheduler-group-header-content div.resource-totals {
    font-weight: normal;
}

.dx-scheduler-timeline th.trade {
    background-color: rgba(31, 173, 0, 0.25);
    font-weight: bold;
    padding: 0px 10px 0px 5px;
    height: 24px;
}
.dx-scheduler-timeline th.trade .expanded {
    display: flex;
    padding: 0 0 0 20px;
    background-repeat: no-repeat;
    background-position: 0px 50%;
    background-image: url("/archibus/schema/ab-core/graphics/icons/tri-opened.png");
}
.dx-scheduler-timeline th.trade .collapsed {
    display: flex;
    padding: 0 0 0 20px;
    background-repeat: no-repeat;
    background-position: 0px 50%;
    background-image: url("/archibus/schema/ab-core/graphics/icons/tri-closed.png");
}
.dx-scheduler-timeline .dx-scheduler-group-header div.no-trade {
    height: 24px;
}

.dx-scheduler-header-panel-cell {
    border-right: none;
}
.dx-scheduler-header-row:nth-child(1) .dx-scheduler-header-panel-cell {
    width: 200px!important;
    border-left: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}
.dx-scheduler-header-row:nth-child(2) .dx-scheduler-header-panel-cell {
    vertical-align: bottom;
    padding-bottom: 5px;
    font-size: 12px;
    border-top: 1px solid rgba(221, 221, 221, 0.6);
}
.dx-scheduler-header-row:nth-child(2) .dx-scheduler-header-panel-cell.first-hour {
    border-left: 1px solid #ccc;
}
.dx-scheduler-timeline .dx-scheduler-header-panel-cell, .dx-scheduler-timeline .dx-scheduler-date-table-cell {
    width: 20px;
}
.dx-scheduler-header-panel, .dx-scrollable-both .dx-scheduler-date-table {
    width: 450px!important;
}
#workScheduleContainer .dx-scheduler-header-scrollable {
    height: 87px;
}

.dx-scheduler-date-table-cell {
    border-top: 1px solid #ccc;
}
.dx-scheduler-work-space.dx-scheduler-work-space-grouped .dx-scheduler-date-table-cell.first-hour {
    border-left: 1px solid #ccc;
}
.dx-scheduler-work-space.dx-scheduler-work-space-grouped .dx-scheduler-date-table-cell.unavailable-hours {
    background: repeating-linear-gradient(
            45deg,
            white,
            white 4px,
            #A8C2E8 4px,
            #A8C2E8 14px
    );
    border-left: 1px solid #D3E0F3;
}

.unscheduled-hours-panel {
    height: 25px;
    position: absolute;
    z-index: 1;
}
.unscheduled-hours-label {
    display: inline-block;
    float: right;
    margin-right: 4px;
    margin-top: 5px;
}
.unscheduled-hours-icon {
    display: inline-block;
    float: right;
    font-weight: bold;
    margin-right: 4px;
    margin-top: 3px;
    padding: 1px 6px;
    width: 20px;
    color: white;
    background-color: black;
    border-radius: 50%;
}
.dx-scheduler-date-table-scrollable .dx-scrollable-scrollbar {
    z-index: 2;
}
