<div class="nav-pages">
    <div class="page">
	    <div class="page-row three-quarter-height" >
            <div id="bucket_integratedPortfolioMetrics_h0" class="bucket-process  double-wide" data-panelTitle="Integrated Portfolio Metrics" data-panelTitleRaw="Integrated Portfolio Metrics" oncontextmenu="return false;">
                <h2 class="process-title" title="Performance metrics monitoring the processes under your department's purview.">Integrated Portfolio Metrics</h2>
                <div class="bucket-wrapper app-specific-bucket" id="wrapper_integratedPortfolioMetrics_h0">
                    <div class="processMetrics"
                        columnSpan="2"
                        granularity="all"
                        useStoplightColors="true"
                        granularitytitle="All"
                        scorecard="PORTFOLIO_PROCESSES"
                    >
                    </div>
                </div>
            </div>
            <div id="bucket_portfolioAlerts_h1" class="bucket-process bucket-background-medium " data-panelTitle="Portfolio Alerts" data-panelTitleRaw="Portfolio Alerts" oncontextmenu="return false;">
                <h2 class="process-title" title="Time-sensitive tasks, reports and requests.">Portfolio Alerts</h2>
                <div class="bucket-wrapper app-specific-bucket" id="wrapper_portfolioAlerts_h1">
                    <div class="alertsList"
                        granularity="all"
                        granularitytitle="All"
                        scorecard="PORTFOLIO_ALERTS"
                    >
                    </div>
                </div>
            </div>
            <div id="bucket_facilityAlerts_h2" class="bucket-process bucket-background-light-purple " data-panelTitle="Facility Alerts" data-panelTitleRaw="Facility Alerts" oncontextmenu="return false;">
                <h2 class="process-title" title="Time-sensitive tasks, reports and requests.">Facility Alerts</h2>
                <div class="bucket-wrapper app-specific-bucket" id="wrapper_facilityAlerts_h2">
                    <div class="alertsList"
                        granularity="all"
                        granularitytitle="All"
                        scorecard="FACILITIES_ALERTS"
                    >
                    </div>
                </div>
            </div>
	    </div>
	    <div class="page-row half-height" >
            <div id="bucket_capitalProjectsVariance_h3" class="bucket-process  " data-panelTitle="Capital Projects Variance" data-panelTitleRaw="Capital Projects Variance" oncontextmenu="return false;">
                <h2 class="process-title" title="">Capital Projects Variance</h2>
                <div class="bucket-wrapper app-specific-bucket" id="wrapper_capitalProjectsVariance_h3">
                    <div class="horizontalBarChart"
                        metricName="fin_RealEstateCapEx-BudgetVariance_monthly"
                        granularity="project_id"
                        sortOrder="desc"
                        subtitle="Top 5 by Variance"
                        useStoplightColors="false"
                        granularitytitle="by Project"
                        recordLimit="5"
                    >
                    </div>
                </div>
            </div>
            <div id="bucket_capitalProjects_h4" class="bucket-process  " data-panelTitle="Capital Projects" data-panelTitleRaw="Capital Projects " oncontextmenu="return false;">
                <h2 class="process-title" title="">Capital Projects</h2>
                <div class="bucket-wrapper app-specific-bucket" id="wrapper_capitalProjects_h4">
                    <div class="horizontalBarChart"
                        metricName="proj_CapEx-Project_monthly"
                        granularity="project_type"
                        sortOrder="desc"
                        subtitle="Top 5 by Size of Budget"
                        useStoplightColors="false"
                        granularitytitle="by Project Type"
                        recordLimit="5"
                    >
                    </div>
                </div>
            </div>
            <div id="bucket_marketLessBookValue_h5" class="bucket-process bucket-background-medium " data-panelTitle="Market Less Book Value" data-panelTitleRaw="Market Less Book Value" oncontextmenu="return false;">
                <h2 class="process-title" title="Market value minus book value.">Market Less Book Value</h2>
                <div class="bucket-wrapper app-specific-bucket" id="wrapper_marketLessBookValue_h5">
                    <div class="horizontalBarChart"
                        metricName="repm_MarketToBookValue_annually"
                        granularity="bl_id"
                        sortOrder="desc"
                        subtitle="Top 5 Buildings"
                        useStoplightColors="false"
                        granularitytitle="by Building"
                        recordLimit="5"
                    >
                    </div>
                </div>
            </div>
            <div id="bucket_abrplmportfolioadministration_bucketExec1Portfolio_h6" class="bucket-process  " data-productId="AbRPLM" data-activityId="AbRPLMPortfolioAdministration" data-processId="Bucket Exec 1 - Portfolio" data-productTitle="Real Estate Portfolio Management" data-activityTitle="Portfolio Management" data-processTitle="Executive Reports" data-productTitleRaw="Real Estate Portfolio Management" data-activityTitleRaw="Portfolio Management" data-processTitleRaw="Executive Reports" data-subfolder="" data-helpLink=""  data-helpSystem="END USER" data-dashboardLayout="" data-dashboardView="" title="" oncontextmenu="return false;">
                <h2 class="process-title" >Executive Reports</h2>
                <div class="bucket-wrapper process-bucket" id="wrapper_abrplmportfolioadministration_bucketExec1Portfolio_h6" onMouseUp="openTask(this, event);">
                    <ol class="ptask-labels">
                        <li></li>
                        <ol class="process-tasks">
                            <li><a href="ab-mobile-exec-pagenav-portfolio-summary.axvw" rel="eTask" data-taskId="Portfolio" data-taskIcon="ab-icon-task.gif">Portfolio</a></li>
                            <li><a href="ab-mobile-exec-pagenav-building-summary.axvw" rel="eTask" data-taskId="Buildings" data-taskIcon="ab-icon-task.gif">Buildings</a></li>
                            <li><a href="ab-mobile-exec-pagenav-lease-summary.axvw" rel="eTask" data-taskId="Leases" data-taskIcon="ab-icon-task.gif">Leases</a></li>
                            <li><a href="ab-mobile-exec-pagenav-project-summary.axvw" rel="eTask" data-taskId="Projects" data-taskIcon="ab-icon-task.gif">Projects</a></li>
                            <li><a href="ab-mobile-exec-pagenav-cost-summary.axvw" rel="eTask" data-taskId="Costs" data-taskIcon="ab-icon-task.gif">Costs</a></li>
                        </ol>
                    </ol>                    
                </div>
            </div>
	    </div>
    </div>
</div>

<script>
    $(document).ready(function() {
        $('#navigationTabs').find('a').click(function() {return false;});
        initDandDFavorites();
        setPageDimensions();
        bindTaskContextMenu();
        localizeDisplayText();
        localizeFavoritesDisplayText();
        pageTallProcessBuckets();
        constructRuntimeBuckets();
    });
</script>