.statistics-title {
    font-weight: bold;
    text-align: left;
    white-space: nowrap;
    display: inline-block;
    padding: 2px 4px 0;
}

span.statistics-title {
    padding: 2px 4px 0;
}

th span.statistics-title {
    font-style: italic;
    text-decoration: underline;
}

span.statistic-value {
    color: #777777;
    display: inline-block;
    white-space: normal;
    padding: 2px 4px 0;
    padding-top: 4px;
    padding-left: 11px;
}

.period-label {
    text-align: left;
    font-style: italic;
    display: inline-block;
    padding: 2px 4px 0;
    padding-top: 4px;
    padding-left: 11px;
    white-space: nowrap;
}

.statistics-label {
    text-align: left;
    white-space: nowrap;
    display: inline-block;
    padding-top: 4px;
}