.out {
    width: 300px;
    height: 410px;
    float: left;
    margin-left: 8px;
    margin-top: 8px;
}

.in {
    width: 300px;
    height: 200px;
}

.leftFloat {
    float: left;
}

.dilogtable {
	margin-top: 20px;
    margin-left: 20px;
}

.inputStyle1 {
    width: 60px;
}

.inputStyle2 {
    width: 160px;
}

#colorDiv {
    display: inline-block;
    width: 213px;
    height: 50px;
    border: 1px solid green;
    margin-top: 5px;
    margin-left: 0px;
}

#hatchDiv {
    display: inline-block;
    width: 213px;
    height: 50px;
    border: 1px solid green;
    margin-top: 5px;
    margin-left: 0px;
}

#gradientDiv {
    display: inline-block;
    width: 213px;
    height: 50px;
    border: 1px solid green;
    margin-top: 5px;
    margin-left: 0px;
}

#colorDivType {
    display: inline-block;
    width: 213px;
    height: 50px;
    border: 1px solid green;
    margin-top: 5px;
    margin-left: 0px;
}

#hatchDivType {
    display: inline-block;
    width: 213px;
    height: 50px;
    border: 1px solid green;
    margin-top: 5px;
    margin-left: 0px;
}

#gradientDivType {
    display: inline-block;
    width: 213px;
    height: 50px;
    border: 1px solid green;
    margin-top: 5px;
    margin-left: 0px;
}

#colorDivRS {
    display: inline-block;
    width: 213px;
    height: 50px;
    border: 1px solid green;
    margin-top: 5px;
    margin-left: 0px;
}

#hatchDivRS {
    display: inline-block;
    width: 213px;
    height: 50px;
    border: 1px solid green;
    margin-top: 5px;
    margin-left: 0px;
}

#gradientDivRS {
    display: inline-block;
    width: 213px;
    height: 50px;
    border: 1px solid green;
    margin-top: 5px;
    margin-left: 0px;
}

#colorDivACT {
    display: inline-block;
    width: 213px;
    height: 50px;
    border: 1px solid green;
    margin-top: 5px;
    margin-left: 0px;
}

#hatchDivACT {
    display: inline-block;
    width: 213px;
    height: 50px;
    border: 1px solid green;
    margin-top: 5px;
    margin-left: 0px;
}

#gradientDivACT {
    display: inline-block;
    width: 213px;
    height: 50px;
    border: 1px solid green;
    margin-top: 5px;
    margin-left: 0px;
}

#colorDivSSACT {
    display: inline-block;
    width: 213px;
    height: 50px;
    border: 1px solid green;
    margin-top: 5px;
    margin-left: 0px;
}

#hatchDivSSACT {
    display: inline-block;
    width: 213px;
    height: 50px;
    border: 1px solid green;
    margin-top: 5px;
    margin-left: 0px;
}

#gradientDivSSACT {
    display: inline-block;
    width: 213px;
    height: 50px;
    border: 1px solid green;
    margin-top: 5px;
    margin-left: 0px;
}

#colorDivENS {
    display: inline-block;
    width: 213px;
    height: 50px;
    border: 1px solid green;
    margin-top: 5px;
    margin-left: 0px;
}

#hatchDivENS {
    display: inline-block;
    width: 213px;
    height: 50px;
    border: 1px solid green;
    margin-top: 5px;
    margin-left: 0px;
}

#gradientDivENS {
    display: inline-block;
    width: 213px;
    height: 50px;
    border: 1px solid green;
    margin-top: 5px;
    margin-left: 0px;
}

#colorDivEPIC {
    display: inline-block;
    width: 213px;
    height: 50px;
    border: 1px solid green;
    margin-top: 5px;
    margin-left: 0px;
}

#hatchDivEPIC {
    display: inline-block;
    width: 213px;
    height: 50px;
    border: 1px solid green;
    margin-top: 5px;
    margin-left: 0px;
}

#gradientDivEPIC {
    display: inline-block;
    width: 213px;
    height: 50px;
    border: 1px solid green;
    margin-top: 5px;
    margin-left: 0px;
}

#colorDivBU {
    display: inline-block;
    width: 213px;
    height: 50px;
    border: 1px solid green;
    margin-top: 5px;
    margin-left: 0px;
}

#hatchDivBU {
    display: inline-block;
    width: 213px;
    height: 50px;
    border: 1px solid green;
    margin-top: 5px;
    margin-left: 0px;
}

#gradientDivBU {
    display: inline-block;
    width: 213px;
    height: 50px;
    border: 1px solid green;
    margin-top: 5px;
    margin-left: 0px;
}

#colorDivDP {
    display: inline-block;
    width: 213px;
    height: 50px;
    border: 1px solid green;
    margin-top: 5px;
    margin-left: 0px;
}

#hatchDivDP {
    display: inline-block;
    width: 213px;
    height: 50px;
    border: 1px solid green;
    margin-top: 5px;
    margin-left: 0px;
}

#gradientDivDP {
    display: inline-block;
    width: 213px;
    height: 50px;
    border: 1px solid green;
    margin-top: 5px;
    margin-left: 0px;
}