.panelReport {
    table-layout: fixed;
}

.panelReport th.conjunction, .panelReport td.conjunction {
    width: 10%;
}

.panelReport th.field, .panelReport td.field {
    width: 30%;
}

.panelReport th.operator, .panelReport td.operator {
    width: 10%;
}

.panelReport th.value, .panelReport td.value {
    width: 45%;
}

.panelReport td.value {
    word-wrap: break-word;
}

.panelReport th.action, .panelReport td.action {
    width: 5%;
}

.action .delete {
    background: url(../../images/wf-delete.png) no-repeat;
    cursor: pointer;
    height: 16px;
    width: 16px;
}