/* Template style*/
.panel-define {
    background: #F3F7FA;
    border: 1px solid #99BBE8;
    border-radius: 5px;
    padding: 2px 6px 8px;
    margin-bottom: 4px;
}

.panel-define .delete {
    background: url(../../images/wf-delete.png) no-repeat;
    cursor: pointer;
    float: right;
    display: inline-block;
    padding: 8px 8px;
    cursor: pointer;
}

.table {
    display: table;
    width: 100%;
}

.title {
    display: block;
    font-weight: bold;
    font-size: larger;
}

.title p {
    float: left;
}

.heading {
    display: table-row;
    font-weight: bold;
    /* 	text-align: center; */
}

.row {
    display: table-row;
}

.cell {
    display: table-cell;
    border-width: thin;
    padding-left: 5px;
    padding-right: 5px;
}

/*View panels style*/
.requiredClass {
    color: red
}

.optionalClass {
    color: green
}

.view-define {
    margin: 4px;
    font-weight: normal;
    padding: 1px 2px;
}

.view-define > :first-child {
    padding-bottom: 10px;
}

.cell button{
    background-color: #f5f7fa;
    border: 1px solid #C9D2DF;
    border-radius: 4px;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.1);
    font-size: 14px;
    cursor: pointer;
    font-family: "PT Sans",Verdana,Arial,Helvetica,sans-serif;
    font-size: 14px;
}
.cell button:disabled{
    background-color: #FFFFFF;
    color: #C0C0C0;
    cursor: default;
}

.cell button:hover{
    background-color: #ffffff;
}