p.smallDivider {
	height: 8px;
	padding: 0;
}

p.divider {
	height: 18px;
	padding: 0;
}

.fieldsetFluid td span {
	font-weight: bold;
	margin-left: 4px;
}

.fontGrey {
	color: #777777;
}

#reportConfigHeaderPanel_head, #reportConfigStatisticsPanel_head {
	background: transparent;
}