$include-pictos-font: false;
$include-default-icons: false;

@import 'sencha-touch/boston';
@import 'sencha-touch/boston/all';
@import 'mobileclient/shared';
@import 'mobileclient/component';
@import 'mobileclient/map';
@import 'mobileclient/svg';

.ab-status-missed {
  background-color: red !important;
}

.ab-status-overdue {
  background-color: orange !important;
}

.ab-status-in-progress {
  background-color: lightskyblue !important;
}

.ab-status-completed {
  background-color: lightgreen !important;
}

.ab-child-question-panel {
  padding-left: 2em;
  background: $boston-label-background;
}

.ab-percentage-indicator {
  color: $boston-blue-lighten;
}

