span {
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: blue;
}

.title {
	font-weight: bold;
	padding-left: 15px;
}

.dilogtable {
	margin-left: 20;
}

.inputStyle {
	width: 160;
}

#colorLayout {
	background-color: #f6f5ec;
	height: 210;
	overflow: hidden;
}

#colorDiv {
	display: inline-block;
	width: 140;
	height: 50;
	border: 1px solid green;
	margin-top: 5;
	margin-left: 80;
}