/**
 * SLA edit detail wizard UI style.
 */
.exCalloutFormPanel {
    background: url("img/left-large-triangle.png") no-repeat 120px center;
    overflow: auto;
    overflow-y: hidden;
}
.exCalloutFormPanel > form {
    margin: 20px 20px 0 150px;
    padding-left: 20px;
    background-color: white;
    border-radius: 10px;
}

.slaEmptyBlock {
   height: 35px;
}

.exSummaryPanel {
    background: white;
    height: 1100px;
}
.exSummaryPanel .panelToolbar {
    background: white;
    padding-right: 10px;
}
.exSummaryPanel h3 {
    font-weight: bold;
    padding: 10px 0 10px 20px;
}

.exSummaryBlock {
    float: left;
    padding-left: 10px;
    padding-right: 20px;
}
.exSummaryBlock > div {
    float: left;
    width: 30%;
    padding-left: 10px;
}
.exSummaryBlock h4 {
    background: #d2d2da;
    color: white;
}
.exSummaryBlock h4.exSummaryComplete {
    background: black;
}
.exSummaryBlock .columnReport td {
    border-bottom: none;
}

#workflowOptionsForm {
    height: 120px;
}
#workflowOptionsForm .exWorkflowForm {
    padding-top: 0;
    background-image: none;
}
#workflowOptionsForm a {
    cursor: pointer;
}

.exOptionsBlock {
    clear: left;
    float: left;
    width: 850px;
    padding: 10px 20px;
    margin-top: 10px;
}
.exOptionsBlock span {
    padding-right: 10px;
    font-size: 14px;
    font-weight: bold;
}

.optionLink {
    cursor: pointer;
    color:#537AC0;
}

.exSaveBlock {
    float: right;
    width: 400px;
    padding: 10px 20px;
    margin-right: 20px;
    margin-top: -15px;
    background: white;
    border-radius: 10px;
}
.exSaveBlock span {
    display: block;
    padding-bottom: 4px;
}
.exSaveBlock input {
    font-size: 14px;
}
.exSaveBlock .mainAction {
    font-size: 14px;
    padding: 0px 8px;
}

.inputContainer {
    padding: 8px 8px 8px 20px;
}
.inputContainer span {
    display: inline-block;
    width: 125px;
    padding-right: 4px;
    text-align: right;
}
.required {
    color: #A51818;
    font-family: Helvetica;
}