<div class="nav-pages" id="AssetManagement">
    <div class="page">
        <div class="page-row full-height" >
            <h3 class="application-title" data-activityId="AbAssetAM">Asset Management</h3>
            <hr class="application-horizontal-rule">
            <div id="appProcFavoritesBucket" class="bucket-application bucket-background-light " data-activityId="" data-processId="" oncontextmenu="return false;">
                <h2 class="applications-process-title" data-processId="" title="Most often used tasks and reports.">My Favorites</h2>
                <div class="bucket-wrapper" id="wrapper_12decd42-ef75-435c-bb9c-a359a3fbc1cb">
                    <div class="favorites-drop-target">
                        <span class="favorites-add-target"></span>
                        <span class="favorites-delete-target">&nbsp;</span>
                    </div>
                    <div class="favorites" onMouseUp="openPtask(this,event);">
                        <ol class="favorites-items">
                        </ol>
                    </div>
                </div>
            </div>
            <div class="bucket-application " data-productId="AbAsset" data-activityId="AbAssetAM" data-processId="Business Process Owner FF" data-productTitle="Asset Management" data-activityTitle="Asset Management" data-processTitle="Businesss Process Owner - Facilities and Finance" data-subfolder="\ab-products\asset" data-helpLink="\Subsystems\webc\Content\asset_mngmt\background\bpo_fac_fin.htm" data-helpSystem="END USER" data-dashboardLayout="" data-dashboardView="" title="" oncontextmenu="return false;" onMouseUp="openPtask(this,event);">
                <h2 class="applications-process-title" title="">
                    <span class="process-title-text">Businesss Process Owner - Facilities and Finance</span>
                </h2>
                <div class="bucket-wrapper" id="wrapper_abassetam_businessProcessOwnerFf">
                        <ol class="ptask-labels">
                            <li>Facilities Background</li>
                            <ol class="process-tasks">
                                <li><a href="ab-rplm-properties-define.axvw" rel="pTask" data-taskId="Define Properties" data-taskIcon="ab-icon-task.gif">Define Properties</a></li>
                            </ol>
                            <li>Document Management Background</li>
                            <ol class="process-tasks">
                                <li><a href="ab-document-templates-edit.axvw" rel="pTask" data-taskId="Define Document Templates" data-taskIcon="ab-icon-task.gif">Define Document Templates</a></li>
                                <li><a href="ab-docs-templates-all.axvw" rel="pTask" data-taskId="View Document Templates" data-taskIcon="ab-icon-task.gif">View Document Templates</a></li>
                                <li><a href="ab-common-mng-ref-docs.axvw" rel="pTask" data-taskId="Manage Reference Documents" data-taskIcon="ab-icon-task.gif">Manage Reference Documents</a></li>
                            </ol>
                            <li>Financial Background</li>
                            <ol class="process-tasks">
                                <li><a href="ab-ap-proptype.axvw" rel="pTask" data-taskId="Define Property Types" data-taskIcon="ab-icon-task.gif">Define Property Types</a></li>
                                <li><a href="ab-ap-dep-log.axvw" rel="pTask" data-taskId="Define Depreciation Logs" data-taskIcon="ab-icon-task.gif">Define Depreciation Logs</a></li>
                            </ol>
                        </ol>
                </div>
            </div>
            <div class="bucket-application " data-productId="AbAsset" data-activityId="AbAssetAM" data-processId="Business Process Owner AM" data-productTitle="Asset Management" data-activityTitle="Asset Management" data-processTitle="Business Process Owner - Asset Manager" data-subfolder="\ab-products\asset" data-helpLink="\Subsystems\webc\Content\asset_mngmt\background\bpo_asset.htm" data-helpSystem="END USER" data-dashboardLayout="" data-dashboardView="" title="" oncontextmenu="return false;" onMouseUp="openPtask(this,event);">
                <h2 class="applications-process-title" title="">
                    <span class="process-title-text">Business Process Owner - Asset Manager</span>
                </h2>
                <div class="bucket-wrapper" id="wrapper_abassetam_businessProcessOwnerAm">
                        <ol class="ptask-labels">
                            <li>Asset Background</li>
                            <ol class="process-tasks">
                                <li><a href="ab-eqstd-edit.axvw" rel="pTask" data-taskId="Define Equipment Standards" data-taskIcon="ab-icon-task.gif">Define Equipment Standards</a></li>
                                <li><a href="ab-fnstd-edit.axvw" rel="pTask" data-taskId="Define Furniture Standards" data-taskIcon="ab-icon-task.gif">Define Furniture Standards</a></li>
                                <li><a href="ab-ca-def-class.axvw" rel="pTask" data-taskId="Define Classifications" data-taskIcon="ab-icon-task.gif">Define Classifications</a></li>
                                <li><a href="ab-ca-class-rep.axvw" rel="pTask" data-taskId="View Classifications" data-taskIcon="ab-icon-task.gif">View Classifications</a></li>
                            </ol>
                            <li>Equipment Systems Background</li>
                            <ol class="process-tasks">
                                <li><a href="ab-eq-system-define-system.axvw" rel="pTask" data-taskId="Define Equipment Systems" data-taskIcon="ab-icon-task.gif">Define Equipment Systems</a></li>
                                <li><a href="ab-eq-system-define-space-served.axvw" rel="pTask" data-taskId="Define Spaces Served by Equipment" data-taskIcon="ab-icon-task.gif">Define Spaces Served by Equipment</a></li>
                                <li><a href="ab-eq-system-team-category.axvw" rel="pTask" data-taskId="Define Team Property Categories" data-taskIcon="ab-icon-task.gif">Define Team Property Categories</a></li>
                                <li><a href="ab-eq-system-define-team-property.axvw" rel="pTask" data-taskId="Define Team Properties" data-taskIcon="ab-icon-task.gif">Define Team Properties</a></li>
                                <li><a href="ab-eq-system-define-team-support.axvw" rel="pTask" data-taskId="Assign Team Members to Equipment" data-taskIcon="ab-icon-task.gif">Assign Team Members to Equipment</a></li>
                                <li><a href="ab-ep-def-systems.axvw" rel="pTask" data-taskId="Define Building Systems" data-taskIcon="ab-icon-task.gif">Define Building Systems</a></li>
                            </ol>
                        </ol>
                </div>
            </div>
            <div class="bucket-application " data-productId="AbAsset" data-activityId="AbAssetAM" data-processId="Business Process Owner IT" data-productTitle="Asset Management" data-activityTitle="Asset Management" data-processTitle="Business Process Owner - IT Asset Manager" data-subfolder="\ab-products\asset" data-helpLink="\Subsystems\webc\Content\asset_mngmt\telecom\background_data.htm" data-helpSystem="END USER" data-dashboardLayout="" data-dashboardView="" title="" oncontextmenu="return false;" onMouseUp="openPtask(this,event);">
                <h2 class="applications-process-title" title="">
                    <span class="process-title-text">Business Process Owner - IT Asset Manager</span>
                </h2>
                <div class="bucket-wrapper" id="wrapper_abassetam_businessProcessOwnerIt">
                        <ol class="ptask-labels">
                            <li>Workspace Standards</li>
                            <ol class="process-tasks">
                                <li><a href="ab-fpstd-define.axvw" rel="pTask" data-taskId="Define Faceplate Standards" data-taskIcon="ab-icon-task.gif">Define Faceplate Standards</a></li>
                                <li><a href="ab-jkstd-define.axvw" rel="pTask" data-taskId="Define Jack Standards" data-taskIcon="ab-icon-task.gif">Define Jack Standards</a></li>
                                <li><a href="ab-eam-telecom-bkgd-jk-configuration.axvw" rel="pTask" data-taskId="Define Jack Configuration" data-taskIcon="ab-icon-task.gif">Define Jack Configuration</a></li>
                            </ol>
                            <li>Telecom Closet Standards</li>
                            <ol class="process-tasks">
                                <li><a href="ab-pnstd-define.axvw" rel="pTask" data-taskId="Define Patch Panels Standards" data-taskIcon="ab-icon-task.gif">Define Patch Panels Standards</a></li>
                                <li><a href="ab-eam-telecom-bkgd-portstd-define.axvw" rel="pTask" data-taskId="Define Port Standards" data-taskIcon="ab-icon-task.gif">Define Port Standards</a></li>
                                <li><a href="ab-eam-telecom-bkgd-pnport-configuration.axvw" rel="pTask" data-taskId="Define Patch Panel Port Configuration" data-taskIcon="ab-icon-task.gif">Define Patch Panel Port Configuration</a></li>
                                <li><a href="ab-eqstd-edit.axvw" rel="pTask" data-taskId="Define Equipment Standards" data-taskIcon="ab-icon-task.gif">Define Equipment Standards</a></li>
                                <li><a href="ab-eam-telecom-bkgd-eqport-configuration.axvw" rel="pTask" data-taskId="Define Equipment Port Configuration" data-taskIcon="ab-icon-task.gif">Define Equipment Port Configuration</a></li>
                            </ol>
                            <li>Data Center</li>
                            <ol class="process-tasks">
                                <li><a href="ab-eam-telecom-bkgd-rack-define.axvw" rel="pTask" data-taskId="Define Racks" data-taskIcon="ab-icon-task.gif">Define Racks</a></li>
                            </ol>
                            <li>Software</li>
                            <ol class="process-tasks">
                                <li><a href="ab-softstd-edit.axvw" rel="pTask" data-taskId="Define Software Standards" data-taskIcon="ab-icon-task.gif">Define Software Standards</a></li>
                            </ol>
                        </ol>
                </div>
            </div>
            <div class="bucket-application " data-productId="AbAsset" data-activityId="AbAssetAM" data-processId="Asset Manager" data-productTitle="Asset Management" data-activityTitle="Asset Management" data-processTitle="Asset Manager" data-subfolder="\ab-products\asset" data-helpLink="\Subsystems\webc\Content\asset_mngmt\asset_portal\asset_mgr_over.htm" data-helpSystem="END USER" data-dashboardLayout="" data-dashboardView="" title="" oncontextmenu="return false;" onMouseUp="openPtask(this,event);">
                <h2 class="applications-process-title" title="">
                    <span class="process-title-text">Asset Manager</span>
                </h2>
                <div class="bucket-wrapper" id="wrapper_abassetam_assetManager">
                        <ol class="ptask-labels">
                            <li></li>
                            <ol class="process-tasks">
                                <li><a href="ab-eam-receipt-console.axvw" rel="pTask" data-taskId="Asset Registration Console" data-taskIcon="ab-icon-task.gif">Asset Registration Console</a></li>
                                <li><a href="ab-eq-system-console.axvw" rel="pTask" data-taskId="Equipment Systems Console" data-taskIcon="ab-icon-task.gif">Equipment Systems Console</a></li>
                                <li><a href="ab-eq-survey-console.axvw" rel="pTask" data-taskId="Manage Asset & Equipment Surveys" data-taskIcon="ab-icon-task.gif">Manage Asset & Equipment Surveys</a></li>
                                <li><a href="ab-eam-lifecycle-console.axvw" rel="pTask" data-taskId="Asset Lifecycle Console" data-taskIcon="ab-icon-task.gif">Asset Lifecycle Console</a></li>
                                <li><a href="ab-eam-disposal-console.axvw" rel="pTask" data-taskId="Asset Disposal Console" data-taskIcon="ab-icon-task.gif">Asset Disposal Console</a></li>
                            </ol>
                        </ol>
                </div>
            </div>
        </div>
        <div class="page-row full-height" >
            <h3 class="application-title" data-activityId="AbAssetAM">Asset Management</h3>
            <hr class="application-horizontal-rule">
            <div class="bucket-application " data-productId="AbAsset" data-activityId="AbAssetAM" data-processId="IT Asset Manager" data-productTitle="Asset Management" data-activityTitle="Asset Management" data-processTitle="IT Asset Manager" data-subfolder="\ab-products\asset" data-helpLink="\Subsystems\webc\Content\asset_mngmt\EAM\it_asset_mgr_over.htm" data-helpSystem="END USER" data-dashboardLayout="" data-dashboardView="" title="" oncontextmenu="return false;" onMouseUp="openPtask(this,event);">
                <h2 class="applications-process-title" title="">
                    <span class="process-title-text">IT Asset Manager</span>
                </h2>
                <div class="bucket-wrapper" id="wrapper_abassetam_itAssetManager">
                        <ol class="ptask-labels">
                            <li></li>
                            <ol class="process-tasks">
                                <li><a href="ab-eam-receipt-console.axvw" rel="pTask" data-taskId="Asset Registration Console" data-taskIcon="ab-icon-task.gif">Asset Registration Console</a></li>
                                <li><a href="ab-eq-system-console.axvw" rel="pTask" data-taskId="Equipment Systems Console" data-taskIcon="ab-icon-task.gif">Equipment Systems Console</a></li>
                                <li><a href="ab-eq-survey-console.axvw" rel="pTask" data-taskId="Manage Asset & Equipment Surveys" data-taskIcon="ab-icon-task.gif">Manage Asset & Equipment Surveys</a></li>
                                <li><a href="ab-eam-telecom-console.axvw" rel="pTask" data-taskId="Telecom Console" data-taskIcon="ab-icon-task.gif">Telecom Console</a></li>
                                <li><a href="ab-eam-lifecycle-console.axvw" rel="pTask" data-taskId="Asset Lifecycle Console" data-taskIcon="ab-icon-task.gif">Asset Lifecycle Console</a></li>
                                <li><a href="ab-eam-disposal-console.axvw" rel="pTask" data-taskId="Asset Disposal Console" data-taskIcon="ab-icon-task.gif">Asset Disposal Console</a></li>
                            </ol>
                            <li>Software</li>
                            <ol class="process-tasks">
                                <li><a href="ab-softinv-edit.axvw" rel="pTask" data-taskId="View and Edit Sofware Information" data-taskIcon="ab-icon-task.gif">View and Edit Sofware Information</a></li>
                                <li><a href="ab-softinvxsoftstd.axvw" rel="pTask" data-taskId="View Software by Standards" data-taskIcon="ab-icon-task.gif">View Software by Standards</a></li>
                            </ol>
                        </ol>
                </div>
            </div>
            <div class="bucket-application " data-productId="AbAsset" data-activityId="AbAssetAM" data-processId="Furniture Standards Inventory" data-productTitle="Asset Management" data-activityTitle="Asset Management" data-processTitle="Furniture Standards Inventory" data-subfolder="\ab-products\asset" data-helpLink="\Subsystems\webc\Content\asset_mngmt\furn\furn_over.htm" data-helpSystem="END USER" data-dashboardLayout="" data-dashboardView="" title="" oncontextmenu="return false;" onMouseUp="openPtask(this,event);">
                <h2 class="applications-process-title" title="">
                    <span class="process-title-text">Furniture Standards Inventory</span>
                </h2>
                <div class="bucket-wrapper" id="wrapper_abassetam_furnitureStandardsInventory">
                        <ol class="ptask-labels">
                            <li></li>
                            <ol class="process-tasks">
                                <li><a href="ab-fnstd-book.axvw" rel="pTask" data-taskId="View Furniture Standards Book" data-taskIcon="ab-icon-task.gif">View Furniture Standards Book</a></li>
                                <li><a href="ab-ap-fn-plans.axvw" rel="pTask" data-taskId="View Room Plan with Furniture Standards" data-taskIcon="ab-icon-task.gif">View Room Plan with Furniture Standards</a></li>
                            </ol>
                            <li>View Furniture Standards Inventory Counts by ...</li>
                            <ol class="process-tasks">
                                <li><a href="ab-ap-fnstd-by-std.axvw" rel="pTask" data-taskId="... Standard" data-taskIcon="ab-icon-task.gif">... Standard</a></li>
                                <li><a href="ab-ap-fnstd-by-bl.axvw" rel="pTask" data-taskId="... Building" data-taskIcon="ab-icon-task.gif">... Building</a></li>
                                <li><a href="ab-ap-fnstd-by-fl.axvw" rel="pTask" data-taskId="... Floor" data-taskIcon="ab-icon-task.gif">... Floor</a></li>
                                <li><a href="ab-ap-fnstd-by-rm.axvw" rel="pTask" data-taskId="... Room" data-taskIcon="ab-icon-task.gif">... Room</a></li>
                                <li><a href="ab-ap-fnstd-by-dp.axvw" rel="pTask" data-taskId="... Department" data-taskIcon="ab-icon-task.gif">... Department</a></li>
                                <li><a href="ab-ap-fnstd-by-dpxbl.axvw" rel="pTask" data-taskId="... Department by Building" data-taskIcon="ab-icon-task.gif">... Department by Building</a></li>
                            </ol>
                        </ol>
                </div>
            </div>
            <div class="bucket-application " data-productId="AbAsset" data-activityId="AbAssetAM" data-processId="Depreciation" data-productTitle="Asset Management" data-activityTitle="Asset Management" data-processTitle="Depreciation" data-subfolder="\ab-products\asset" data-helpLink="\Subsystems\webc\Content\asset_mngmt\deprec\depreciation_over.htm" data-helpSystem="END USER" data-dashboardLayout="" data-dashboardView="" title="" oncontextmenu="return false;" onMouseUp="openPtask(this,event);">
                <h2 class="applications-process-title" title="">
                    <span class="process-title-text">Depreciation</span>
                </h2>
                <div class="bucket-wrapper" id="wrapper_abassetam_depreciation">
                        <ol class="ptask-labels">
                            <li>BACKGROUND DATA</li>
                            <ol class="process-tasks">
                                <li><a href="ab-ap-proptype.axvw" rel="pTask" data-taskId="Define Property Types" data-taskIcon="ab-icon-task.gif">Define Property Types</a></li>
                                <li><a href="ab-ap-dep-log.axvw" rel="pTask" data-taskId="Define Depreciation Logs" data-taskIcon="ab-icon-task.gif">Define Depreciation Logs</a></li>
                            </ol>
                            <li>EQUIPMENT</li>
                            <ol class="process-tasks">
                                <li><a href="ab-ap-eq-and-proptype.axvw" rel="pTask" data-taskId="Edit Equipment and Property Types" data-taskIcon="ab-icon-task.gif">Edit Equipment and Property Types</a></li>
                                <li><a href="ab-ap-eq-by-proptype.axvw" rel="pTask" data-taskId="Edit Equipment by Property Type" data-taskIcon="ab-icon-task.gif">Edit Equipment by Property Type</a></li>
                                <li><a href="ab-single-job.axvw?ruleId=AbCommonResources-DepreciationService-updateEquipmentDepreciation" rel="pTask" data-taskId="Recalculate Equipment Depreciation" data-taskIcon="ab-icon-task.gif">Recalculate Equipment Depreciation</a></li>
                                <li><a href="ab-ap-eq-depreciation.axvw" rel="pTask" data-taskId="View Equipment Depreciation Schedules" data-taskIcon="ab-icon-task.gif">View Equipment Depreciation Schedules</a></li>
                                <li><a href="ab-ap-eq-gl-entries.axvw" rel="pTask" data-taskId="View Equipment General Ledger Journal Entries" data-taskIcon="ab-icon-task.gif">View Equipment General Ledger Journal Entries</a></li>
                            </ol>
                            <li>TAGGED FURNITURE</li>
                            <ol class="process-tasks">
                                <li><a href="ab-ap-ft-and-proptype.axvw" rel="pTask" data-taskId="Edit Tagged Furniture and Property Types" data-taskIcon="ab-icon-task.gif">Edit Tagged Furniture and Property Types</a></li>
                                <li><a href="ab-ap-ft-by-proptype.axvw" rel="pTask" data-taskId="Edit Tagged Furniture by Property Type" data-taskIcon="ab-icon-task.gif">Edit Tagged Furniture by Property Type</a></li>
                                <li><a href="ab-single-job.axvw?ruleId=AbCommonResources-DepreciationService-updateFurnitureDepreciation" rel="pTask" data-taskId="Recalculate Tagged Furniture Depreciation" data-taskIcon="ab-icon-task.gif">Recalculate Tagged Furniture Depreciation</a></li>
                                <li><a href="ab-ap-ft-depreciation.axvw" rel="pTask" data-taskId="View Furniture Depreciation Schedules" data-taskIcon="ab-icon-task.gif">View Furniture Depreciation Schedules</a></li>
                                <li><a href="ab-ap-ft-gl-entries.axvw" rel="pTask" data-taskId="View Tagged Furniture General Ledger Journal Entries" data-taskIcon="ab-icon-task.gif">View Tagged Furniture General Ledger Journal Entries</a></li>
                            </ol>
                        </ol>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
$(document).ready(function() {
    $('#navigationTabs').find('a').click(function() {return false;});
    initDandDFavorites();
    setPageDimensions();
    bindTaskContextMenu();
    localizeFavoritesDisplayText();
    loadFavoritesBuckets();
    modifyProcessTitleDisplay();
    pageTallPTaskBuckets();
});
</script>