<div class="nav-pages">
    <div class="page">
	    <div class="page-row half-height" >
            <div id="bucket_abspaceroominventorybar_bucketQsSpaceFavorites_h0" class="bucket-process  " data-productId="AbSpace" data-activityId="AbSpaceRoomInventoryBAR" data-processId="Bucket QS - Space Favorites" data-productTitle="Space Planning & Management" data-activityTitle="Space Inventory & Performance" data-processTitle="Space" data-productTitleRaw="Space Planning & Management" data-activityTitleRaw="Space Inventory & Performance" data-processTitleRaw="Space" data-subfolder="" data-helpLink="/Subsystems/quick_start/Content/space/support/space_bucket.htm"  data-helpSystem="END USER" data-dashboardLayout="" data-dashboardView="" title="Manage your space inventory and occupancy." oncontextmenu="return false;">
                <h2 class="process-title" title="Manage your space inventory and occupancy.">Space</h2>
                <div class="bucket-wrapper process-bucket" id="wrapper_abspaceroominventorybar_bucketQsSpaceFavorites_h0" onMouseUp="openTask(this, event);">
                    <ol class="ptask-labels">
                        <li></li>
                        <ol class="process-tasks">
                            <li><a href="ab-sp-console.axvw" rel="eTask" data-taskId="Space Console" data-taskIcon="ab-icon-task.gif">Space Console</a></li>
                            <li><a href="ab-sp-alloc-trend-metric.axvw" rel="eTask" data-taskId="Allocation and Benchmarks" data-taskIcon="ab-icon-task.gif">Allocation and Benchmarks</a></li>
                            <li><a href="ab-sp-vw-rm-by-bl-fl.axvw" rel="eTask" data-taskId="Rooms by Location" data-taskIcon="ab-icon-task.gif">Rooms by Location</a></li>
                            <li><a href="ab-sp-vw-rm-by-dv-dp.axvw" rel="eTask" data-taskId="Rooms by Organization" data-taskIcon="ab-icon-task.gif">Rooms by Organization</a></li>
                            <li><a href="ab-sp-vw-rmcat-by-fl.axvw" rel="eTask" data-taskId="Room Categories and Types" data-taskIcon="ab-icon-task.gif">Room Categories and Types</a></li>
                            <li><a href="ab-sp-vw-em-by-loc.axvw" rel="eTask" data-taskId="Employees by Location" data-taskIcon="ab-icon-task.gif">Employees by Location</a></li>
                            <li><a href="ab-sp-vw-em-by-dv-dp-quick-start.axvw" rel="eTask" data-taskId="Employees by Organization" data-taskIcon="ab-icon-task.gif">Employees by Organization</a></li>
                        </ol>
                    </ol>                    
                </div>
            </div>
            <div id="bucket_abbldgopsondemandwork_bucketQsBldgopsFavorites_h1" class="bucket-process  " data-productId="AbBldgOps" data-activityId="AbBldgOpsOnDemandWork" data-processId="Bucket QS - BldgOps Favorites" data-productTitle="Building Operations" data-activityTitle="On Demand Work" data-processTitle="Building Operations" data-productTitleRaw="Building Operations" data-activityTitleRaw="On Demand Work" data-processTitleRaw="Building Operations" data-subfolder="" data-helpLink="/Subsystems/quick_start/Content/Ops/bldg_ops_bucket.htm"  data-helpSystem="END USER" data-dashboardLayout="" data-dashboardView="" title="Manage your work requests and maintenance process." oncontextmenu="return false;">
                <h2 class="process-title" title="Manage your work requests and maintenance process.">Building Operations</h2>
                <div class="bucket-wrapper process-bucket" id="wrapper_abbldgopsondemandwork_bucketQsBldgopsFavorites_h1" onMouseUp="openTask(this, event);">
                    <ol class="ptask-labels">
                        <li></li>
                        <ol class="process-tasks">
                            <li><a href="ab-bldgops-console.axvw" rel="eTask" data-taskId="Building Operations Console" data-taskIcon="ab-icon-task.gif">Building Operations Console</a></li>
                            <li><a href="ab-bldgops-console-wr-create.axvw" rel="eTask" data-taskId="Report Problem" data-taskIcon="ab-icon-task.gif">Report Problem</a></li>
                            <li><a href="ab-bldgops-labor-scheduler.axvw" rel="eTask" data-taskId="Labor Scheduler" data-taskIcon="ab-icon-task.gif">Labor Scheduler</a></li>
                            <li><a href="ab-bldg-rpt-dash-cost-analysis-quick-start.axvw" rel="eTask" data-taskId="Cost Analysis" data-taskIcon="ab-icon-task.gif">Cost Analysis</a></li>
                        </ol>
                    </ol>                    
                </div>
            </div>
            <div id="homeFavoritesBucket_h2" class="bucket-process bucket-background-light-lblue " data-panelTitle="Favorites" data-panelTitleRaw="Favorites" oncontextmenu="return false;">
                <h2 class="process-title" title="Drag and drop your favorite tasks into this panel.">Favorites</h2>
                <div class="bucket-wrapper favorites-bucket" id="wrapper_favorites_h2">
                    <div class="favorites-drop-target">
                        <span class="favorites-add-target"></span>
                        <span class="favorites-delete-target">&nbsp;</span>
                    </div>
                    <div class="favorites" onMouseUp="openTask(this,event);">
                        <ol class="favorites-items">
                        </ol>
                    </div>
                </div>
            </div>
            <div id="bucket_abspaceroominventorybar_bucketQsHelp_h3" class="bucket-process  " data-productId="AbSpace" data-activityId="AbSpaceRoomInventoryBAR" data-processId="Bucket QS - Help" data-productTitle="Space Planning & Management" data-activityTitle="Space Inventory & Performance" data-processTitle="Help" data-productTitleRaw="Space Planning & Management" data-activityTitleRaw="Space Inventory & Performance" data-processTitleRaw="Help" data-subfolder="" data-helpLink=""  data-helpSystem="END USER" data-dashboardLayout="" data-dashboardView="" title="Access ARCHIBUS Help" oncontextmenu="return false;">
                <h2 class="process-title" title="Access ARCHIBUS Help">Help</h2>
                <div class="bucket-wrapper process-bucket" id="wrapper_abspaceroominventorybar_bucketQsHelp_h3" onMouseUp="openTask(this, event);">
                    <ol class="ptask-labels">
                        <li></li>
                        <ol class="process-tasks">
                            <li><a href="#../Subsystems/quick_start/Content/quick_start.htm" rel="eTask" data-taskId="What is ARCHIBUS Quick-Start?" data-taskIcon="ab-icon-task.gif">What is ARCHIBUS Quick-Start?</a></li>
                            <li><a href="#../Subsystems/quick_start/Content/quick_start_sp.htm" rel="eTask" data-taskId="Learning Path for Space" data-taskIcon="ab-icon-task.gif">Learning Path for Space</a></li>
                            <li><a href="#../Subsystems/quick_start/Content/quick_start_ops.htm" rel="eTask" data-taskId="Learning Path for Building Operations" data-taskIcon="ab-icon-task.gif">Learning Path for Building Operations</a></li>
                        </ol>
                    </ol>                    
                </div>
            </div>
	    </div>
	    <div class="page-row three-quarter-height" >
            <div id="bucket_spaceAndMaintenanceMetrics_h4" class="bucket-process  double-wide" data-panelTitle="Space and Maintenance Metrics" data-panelTitleRaw="Space and Maintenance Metrics" oncontextmenu="return false;">
                <h2 class="process-title" title="Space and Maintenance Metrics.">Space and Maintenance Metrics</h2>
                <div class="bucket-wrapper app-specific-bucket" id="wrapper_spaceAndMaintenanceMetrics_h4">
                    <div class="processMetrics"
                        columnSpan="2"
                        granularity="all"
                        granularitytitle="All"
                        useStoplightColors="true"
                        scorecard="QUICK_START_METRICS"
                    >
                    </div>
                </div>
            </div>
            <div id="bucket_alerts_h5" class="bucket-process bucket-background-light-lblue " data-panelTitle="Alerts" data-panelTitleRaw="Alerts" oncontextmenu="return false;">
                <h2 class="process-title" title="Time-sensitive requests.">Alerts</h2>
                <div class="bucket-wrapper app-specific-bucket" id="wrapper_alerts_h5">
                    <div class="alertsList"
                        granularity="all"
                        granularitytitle="All"
                        scorecard="QUICK_START_ALERTS"
                    >
                    </div>
                </div>
            </div>
            <div id="bucket_problemTypesLastMonthTop5_h6" class="bucket-process  " data-panelTitle="Problem Types Last Month (Top 5)" data-panelTitleRaw="Problem Types Last Month (Top 5)" oncontextmenu="return false;">
                <h2 class="process-title" title="Most frequently reported problems.">Problem Types Last Month (Top 5)</h2>
                <div class="bucket-wrapper app-specific-bucket" id="wrapper_problemTypesLastMonthTop5_h6">
                    <div class="horizontalBarChart"
                        metricName="ops_WorkRequested_monthly"
                        granularity="prob_type"
                        sortOrder="desc"
                        abbreviateValues="false"
                        granularitytitle="by Problem Type"
                        useStoplightColors="false"
                        recordLimit="5"
                    >
                    </div>
                </div>
            </div>
	    </div>
        <div class="page-break-banner ui-widget-header " data-blockTitle="Additional Tasks" data-blockTitleRaw="Additional Tasks">
            <div class="page-break-archibus">
                <div class="page-break-logo"></div><span>Additional Tasks</span>
            </div>
            <a class="page-top-link" onClick="goToTop();"></a>
        </div>
        <br/>
	    <div class="page-row half-height" >
            <div id="bucket_abspaceroominventorybar_bucketQsSpaceProcess_h7" class="bucket-process  " data-productId="AbSpace" data-activityId="AbSpaceRoomInventoryBAR" data-processId="Bucket QS - Space Process" data-productTitle="Space Planning & Management" data-activityTitle="Space Inventory & Performance" data-processTitle="Space Process" data-productTitleRaw="Space Planning & Management" data-activityTitleRaw="Space Inventory & Performance" data-processTitleRaw="Space Process" data-subfolder="" data-helpLink="/Subsystems/quick_start/Content/space/support/overview.htm"  data-helpSystem="END USER" data-dashboardLayout="" data-dashboardView="" title="Develop and manage your space and occupancy data." oncontextmenu="return false;">
                <h2 class="process-title" title="Develop and manage your space and occupancy data.">Space Process</h2>
                <div class="bucket-wrapper process-bucket" id="wrapper_abspaceroominventorybar_bucketQsSpaceProcess_h7" onMouseUp="openTask(this, event);">
                    <ol class="ptask-labels">
                        <li></li>
                        <ol class="process-tasks">
                            <li><a href="ab-single-job.axvw?ruleId=AbCommonResources-SpaceService-updateAreaTotals" rel="eTask" data-taskId="Update Area Totals" data-taskIcon="ab-icon-task.gif">Update Area Totals</a></li>
                            <li><a href="ab-sp-def-metric-limits-quick-start.axvw" rel="eTask" data-taskId="Define Quick-Start Metric Limits" data-taskIcon="ab-icon-task.gif">Define Quick-Start Metric Limits</a></li>
                        </ol>
                    </ol>                    
                </div>
            </div>
            <div id="bucket_abspaceroominventorybar_bucketQsSpaceReports_h8" class="bucket-process  " data-productId="AbSpace" data-activityId="AbSpaceRoomInventoryBAR" data-processId="Bucket QS - Space Reports" data-productTitle="Space Planning & Management" data-activityTitle="Space Inventory & Performance" data-processTitle="Space Reports" data-productTitleRaw="Space Planning & Management" data-activityTitleRaw="Space Inventory & Performance" data-processTitleRaw="Space Reports" data-subfolder="" data-helpLink="/Subsystems/quick_start/Content/space/support/reports.htm"  data-helpSystem="END USER" data-dashboardLayout="" data-dashboardView="" title="Review operational reports on your space inventory." oncontextmenu="return false;">
                <h2 class="process-title" title="Review operational reports on your space inventory.">Space Reports</h2>
                <div class="bucket-wrapper process-bucket" id="wrapper_abspaceroominventorybar_bucketQsSpaceReports_h8" onMouseUp="openTask(this, event);">
                    <ol class="ptask-labels">
                        <li></li>
                        <ol class="process-tasks">
                            <li><a href="ab-sp-rm-vw-dp-by-fl.axvw" rel="eTask" data-taskId="Departments by Floor" data-taskIcon="ab-icon-task.gif">Departments by Floor</a></li>
                            <li><a href="ab-sp-hl-rm-by-dp-per-fl.axvw" rel="eTask" data-taskId="Rooms by Department per Floor" data-taskIcon="ab-icon-task.gif">Rooms by Department per Floor</a></li>
                            <li><a href="ab-sp-hl-vac-rm.axvw" rel="eTask" data-taskId="Occupiable Vacant Rooms" data-taskIcon="ab-icon-task.gif">Occupiable Vacant Rooms</a></li>
                            <li><a href="ab-sp-hl-occ-plan.axvw" rel="eTask" data-taskId="Occupancy Plan" data-taskIcon="ab-icon-task.gif">Occupancy Plan</a></li>
                            <li><a href="ab-sp-express-loc-his.axvw" rel="eTask" data-taskId="Space and Occupancy History" data-taskIcon="ab-icon-task.gif">Space and Occupancy History</a></li>
                            <li><a href="ab-sp-vw-em-exp.axvw" rel="eTask" data-taskId="Employees" data-taskIcon="ab-icon-task.gif">Employees</a></li>
                        </ol>
                    </ol>                    
                </div>
            </div>
            <div id="bucket_abspaceroominventorybar_bucketQsSpaceBackground_h9" class="bucket-process bucket-background-light-lblue " data-productId="AbSpace" data-activityId="AbSpaceRoomInventoryBAR" data-processId="Bucket QS - Space Background" data-productTitle="Space Planning & Management" data-activityTitle="Space Inventory & Performance" data-processTitle="Space Background" data-productTitleRaw="Space Planning & Management" data-activityTitleRaw="Space Inventory & Performance" data-processTitleRaw="Space Background" data-subfolder="" data-helpLink="/Subsystems/quick_start/Content/space/support/overview.htm"  data-helpSystem="END USER" data-dashboardLayout="" data-dashboardView="" title="Define, update, and merge validating categories for your space inventory." oncontextmenu="return false;">
                <h2 class="process-title" title="Define, update, and merge validating categories for your space inventory.">Space Background</h2>
                <div class="bucket-wrapper process-bucket" id="wrapper_abspaceroominventorybar_bucketQsSpaceBackground_h9" onMouseUp="openTask(this, event);">
                    <ol class="ptask-labels">
                        <li></li>
                        <ol class="process-tasks">
                            <li><a href="ab-sp-def-loc-rm.axvw" rel="eTask" data-taskId="Define Locations" data-taskIcon="ab-icon-task.gif">Define Locations</a></li>
                            <li><a href="ab-sp-def-org.axvw" rel="eTask" data-taskId="Define Organizations" data-taskIcon="ab-icon-task.gif">Define Organizations</a></li>
                            <li><a href="ab-sp-def-rmcat-rmtype.axvw" rel="eTask" data-taskId="Define Room Categories and Types" data-taskIcon="ab-icon-task.gif">Define Room Categories and Types</a></li>
                            <li><a href="ab-sp-def-emstd.axvw" rel="eTask" data-taskId="Define Employee Standards" data-taskIcon="ab-icon-task.gif">Define Employee Standards</a></li>
                            <li><a href="ab-common-def-em.axvw" rel="eTask" data-taskId="Define Employees" data-taskIcon="ab-icon-task.gif">Define Employees</a></li>
                            <li><a href="ab-sp-create-dp-hatch.axvw" rel="eTask" data-taskId="Define Division and Department Highlight Patterns" data-taskIcon="ab-icon-task.gif">Define Division and Department Highlight Patterns</a></li>
                            <li><a href="ab-sp-create-rmcat-rmtype-hatch.axvw" rel="eTask" data-taskId="Define Room Category and Type Highlight Patterns" data-taskIcon="ab-icon-task.gif">Define Room Category and Type Highlight Patterns</a></li>
                            <li><a href="ab-sp-express-set-cap-by-type.axvw" rel="eTask" data-taskId="Update Employee Capacity from Room Type" data-taskIcon="ab-icon-task.gif">Update Employee Capacity from Room Type</a></li>
                            <li><a href="ab-sp-express-imp-cat-type.axvw" rel="eTask" data-taskId="Import Room Categories and Types" data-taskIcon="ab-icon-task.gif">Import Room Categories and Types</a></li>
                            <li><a href="ab-quickstart-del-sample-data.axvw" rel="eTask" data-taskId="Delete Sample Data" data-taskIcon="ab-icon-task.gif">Delete Sample Data</a></li>
                        </ol>
                    </ol>                    
                </div>
            </div>
            <div id="bucket_vacanciesByDepartmentTop5_h10" class="bucket-process  " data-panelTitle="Vacancies by Department (Top 5)" data-panelTitleRaw="Vacancies by Department (Top 5)" oncontextmenu="return false;">
                <h2 class="process-title" title="Departments with the most vacant rooms.">Vacancies by Department (Top 5)</h2>
                <div class="bucket-wrapper app-specific-bucket" id="wrapper_vacanciesByDepartmentTop5_h10">
                    <div class="horizontalBarChart"
                        metricName="spac_VacantRooms_count_monthly"
                        granularity="dv_id;dp_id"
                        sortOrder="desc"
                        abbreviateValues="false"
                        granularitytitle="by Department"
                        useStoplightColors="false"
                        recordLimit="5"
                    >
                    </div>
                </div>
            </div>
	    </div>
	    <div class="page-row half-height" >
            <div id="bucket_abbldgopsondemandwork_bucketQsBldgopsProcess_h11" class="bucket-process  " data-productId="AbBldgOps" data-activityId="AbBldgOpsOnDemandWork" data-processId="Bucket QS - BldgOps Process" data-productTitle="Building Operations" data-activityTitle="On Demand Work" data-processTitle="Building Operations Process" data-productTitleRaw="Building Operations" data-activityTitleRaw="On Demand Work" data-processTitleRaw="Building Operations Process" data-subfolder="" data-helpLink="/Subsystems/quick_start/Content/Ops/bldg_ops_process.htm"  data-helpSystem="END USER" data-dashboardLayout="" data-dashboardView="" title="Develop and manage your maintenance data." oncontextmenu="return false;">
                <h2 class="process-title" title="Develop and manage your maintenance data.">Building Operations Process</h2>
                <div class="bucket-wrapper process-bucket" id="wrapper_abbldgopsondemandwork_bucketQsBldgopsProcess_h11" onMouseUp="openTask(this, event);">
                    <ol class="ptask-labels">
                        <li></li>
                        <ol class="process-tasks">
                            <li><a href="ab-bldgops-adjust-inv-mpsl.axvw" rel="eTask" data-taskId="Adjust Inventory" data-taskIcon="ab-icon-task.gif">Adjust Inventory</a></li>
                            <li><a href="ab-bldgops-part-inv-mpsl.axvw" rel="eTask" data-taskId="Reserve New Part Inventory" data-taskIcon="ab-icon-task.gif">Reserve New Part Inventory</a></li>
                            <li><a href="ab-bldgops-view-it-mpsl.axvw" rel="eTask" data-taskId="Inventory Transactions" data-taskIcon="ab-icon-task.gif">Inventory Transactions</a></li>
                            <li><a href="ab-pm-easy-eq-sche.axvw" rel="eTask" data-taskId="Quick-Start Preventive Maintenance" data-taskIcon="ab-icon-task.gif">Quick-Start Preventive Maintenance</a></li>
                            <li><a href="ab-quickstart-app-params.axvw" rel="eTask" data-taskId="Quick-Start Application Parameters" data-taskIcon="ab-icon-task.gif">Quick-Start Application Parameters</a></li>
                        </ol>
                    </ol>                    
                </div>
            </div>
            <div id="bucket_abbldgopsondemandwork_bucketQsBldgopsReports_h12" class="bucket-process  " data-productId="AbBldgOps" data-activityId="AbBldgOpsOnDemandWork" data-processId="Bucket QS - BldgOps Reports" data-productTitle="Building Operations" data-activityTitle="On Demand Work" data-processTitle="Building Operations Reports" data-productTitleRaw="Building Operations" data-activityTitleRaw="On Demand Work" data-processTitleRaw="Building Operations Reports" data-subfolder="" data-helpLink="/Subsystems/quick_start/Content/Ops/ops_console_rpts.htm"  data-helpSystem="END USER" data-dashboardLayout="" data-dashboardView="" title="Review operational reports on your maintenance." oncontextmenu="return false;">
                <h2 class="process-title" title="Review operational reports on your maintenance.">Building Operations Reports</h2>
                <div class="bucket-wrapper process-bucket" id="wrapper_abbldgopsondemandwork_bucketQsBldgopsReports_h12" onMouseUp="openTask(this, event);">
                    <ol class="ptask-labels">
                        <li></li>
                        <ol class="process-tasks">
                            <li><a href="ab-bldgops-report-open-wr-quick-start.axvw" rel="eTask" data-taskId="Open Work Requests" data-taskIcon="ab-icon-task.gif">Open Work Requests</a></li>
                            <li><a href="ab-ondemand-report-tabs.axvw" rel="eTask" data-taskId="Archived Work Requests" data-taskIcon="ab-icon-task.gif">Archived Work Requests</a></li>
                            <li><a href="ab-bldgops-report-cf-avail.axvw" rel="eTask" data-taskId="Craftsperson Availability" data-taskIcon="ab-icon-task.gif">Craftsperson Availability</a></li>
                            <li><a href="ab-bldgops-report-pt-hist-mpsl.axvw" rel="eTask" data-taskId="Part Usage History" data-taskIcon="ab-icon-task.gif">Part Usage History</a></li>
                            <li><a href="ab-bldgops-report-tl-hist.axvw" rel="eTask" data-taskId="Tool Usage History" data-taskIcon="ab-icon-task.gif">Tool Usage History</a></li>
                        </ol>
                    </ol>                    
                </div>
            </div>
            <div id="bucket_abbldgopsondemandwork_bucketQsBldgopsBackground_h13" class="bucket-process bucket-background-light-lblue " data-productId="AbBldgOps" data-activityId="AbBldgOpsOnDemandWork" data-processId="Bucket QS - BldgOps Background" data-productTitle="Building Operations" data-activityTitle="On Demand Work" data-processTitle="Building Operations Background" data-productTitleRaw="Building Operations" data-activityTitleRaw="On Demand Work" data-processTitleRaw="Building Operations Background" data-subfolder="" data-helpLink="/Subsystems/quick_start/Content/Ops/advanced/background_data_over.htm"  data-helpSystem="END USER" data-dashboardLayout="" data-dashboardView="" title="Define, update, and merge validating categories for your maintenance needs." oncontextmenu="return false;">
                <h2 class="process-title" title="Define, update, and merge validating categories for your maintenance needs.">Building Operations Background</h2>
                <div class="bucket-wrapper process-bucket" id="wrapper_abbldgopsondemandwork_bucketQsBldgopsBackground_h13" onMouseUp="openTask(this, event);">
                    <ol class="ptask-labels">
                        <li>Basic</li>
                        <ol class="process-tasks">
                            <li><a href="ab-sp-def-loc-rm.axvw" rel="eTask" data-taskId="Define Locations" data-taskIcon="ab-icon-task.gif">Define Locations</a></li>
                            <li><a href="ab-sp-def-org.axvw" rel="eTask" data-taskId="Define Organizations" data-taskIcon="ab-icon-task.gif">Define Organizations</a></li>
                            <li><a href="ab-common-def-em.axvw" rel="eTask" data-taskId="Define Employees" data-taskIcon="ab-icon-task.gif">Define Employees</a></li>
                            <li><a href="ab-trades-edit.axvw" rel="eTask" data-taskId="Define Trades" data-taskIcon="ab-icon-task.gif">Define Trades</a></li>
                            <li><a href="ab-workteam-edit.axvw" rel="eTask" data-taskId="Define Work Teams" data-taskIcon="ab-icon-task.gif">Define Work Teams</a></li>
                            <li><a href="ab-cf-edit.axvw" rel="eTask" data-taskId="Define Craftspersons" data-taskIcon="ab-icon-task.gif">Define Craftspersons</a></li>
                            <li><a href="ab-probtype-edit.axvw" rel="eTask" data-taskId="Define Problem Types" data-taskIcon="ab-icon-task.gif">Define Problem Types</a></li>
                        </ol>
                        <li>Advanced</li>
                        <ol class="process-tasks">
                            <li><a href="ab-def-prob-desc-code.axvw" rel="eTask" data-taskId="Define Problem Descriptions" data-taskIcon="ab-icon-task.gif">Define Problem Descriptions</a></li>
                            <li><a href="ab-causetype-edit.axvw" rel="eTask" data-taskId="Define Cause Types" data-taskIcon="ab-icon-task.gif">Define Cause Types</a></li>
                            <li><a href="ab-repairty-edit.axvw" rel="eTask" data-taskId="Define Repair Types" data-taskIcon="ab-icon-task.gif">Define Repair Types</a></li>
                            <li><a href="ab-def-eq-std.axvw" rel="eTask" data-taskId="Define Equipment Standards" data-taskIcon="ab-icon-task.gif">Define Equipment Standards</a></li>
                            <li><a href="ab-warranty-edit.axvw" rel="eTask" data-taskId="Define Warranties" data-taskIcon="ab-icon-task.gif">Define Warranties</a></li>
                            <li><a href="ab-eq-edit.axvw" rel="eTask" data-taskId="Define Equipment" data-taskIcon="ab-icon-task.gif">Define Equipment</a></li>
                            <li><a href="ab-def-pt-mpsl.axvw" rel="eTask" data-taskId="Define Parts" data-taskIcon="ab-icon-task.gif">Define Parts</a></li>
                            <li><a href="ab-def-tl.axvw" rel="eTask" data-taskId="Define Tools" data-taskIcon="ab-icon-task.gif">Define Tools</a></li>
                            <li><a href="ab-def-tt.axvw" rel="eTask" data-taskId="Define Tool Types" data-taskIcon="ab-icon-task.gif">Define Tool Types</a></li>
                            <li><a href="ab-bldgops-other-res-edit.axvw" rel="eTask" data-taskId="Define Other Resource Types" data-taskIcon="ab-icon-task.gif">Define Other Resource Types</a></li>
                            <li><a href="ab-bldgops-cf-schedule-variances.axvw" rel="eTask" data-taskId="Define Craftsperson Schedule Variances" data-taskIcon="ab-icon-task.gif">Define Craftsperson Schedule Variances</a></li>
                            <li><a href="ab-bldgops-cf-shift.axvw" rel="eTask" data-taskId="Manage Craftspersons Shifts" data-taskIcon="ab-icon-task.gif">Manage Craftspersons Shifts</a></li>
                            <li><a href="ab-ac-edit.axvw" rel="eTask" data-taskId="Define Accounts" data-taskIcon="ab-icon-task.gif">Define Accounts</a></li>
                            <li><a href="ab-repm-lsadmin-fiscal-year-def.axvw" rel="eTask" data-taskId="Define Fiscal Year" data-taskIcon="ab-icon-task.gif">Define Fiscal Year</a></li>
                            <li><a href="ab-quickstart-del-sample-data.axvw" rel="eTask" data-taskId="Delete Sample Data" data-taskIcon="ab-icon-task.gif">Delete Sample Data</a></li>
                        </ol>
                    </ol>                    
                </div>
            </div>
	    </div>
    </div>
</div>

<script>
    $(document).ready(function() {
        $('#navigationTabs').find('a').click(function() {return false;});
        initDandDFavorites();
        setPageDimensions();
        bindTaskContextMenu();
        localizeDisplayText();
        localizeFavoritesDisplayText();
        pageTallProcessBuckets();
        constructRuntimeBuckets();
    });
</script>