<div class="nav-pages">
    <div class="page">
	    <div class="page-row half-height" >
            <div id="bucket_abspaceroominventorybar_bucketFm1Space_h0" class="bucket-process  " data-productId="AbSpace" data-activityId="AbSpaceRoomInventoryBAR" data-processId="Bucket FM 1 - Space" data-productTitle="Space Planning & Management" data-activityTitle="Space Inventory & Performance" data-processTitle="Space" data-productTitleRaw="Space Planning & Management" data-activityTitleRaw="Space Inventory & Performance" data-processTitleRaw="Space" data-subfolder="" data-helpLink=""  data-helpSystem="END USER" data-dashboardLayout="" data-dashboardView="" title="" oncontextmenu="return false;">
                <h2 class="process-title" >Space</h2>
                <div class="bucket-wrapper process-bucket" id="wrapper_abspaceroominventorybar_bucketFm1Space_h0" onMouseUp="openTask(this, event);">
                    <ol class="ptask-labels">
                        <li></li>
                        <ol class="process-tasks">
                            <li><a href="ab-sp-console-trans.axvw" rel="eTask" data-taskId="Space Console" data-taskIcon="">Space Console</a></li>
                            <li><a href="ab-sp-mgm-occup-dash.axvw" rel="eTask" data-taskId="Location Metrics" data-taskIcon="">Location Metrics</a></li>
                            <li><a href="ab-sp-alloc-trend-metric.axvw" rel="eTask" data-taskId="Allocation and Benchmarks" data-taskIcon="">Allocation and Benchmarks</a></li>
                            <li><a href="ab-sp-hl-rm-by-attribute.axvw" rel="eTask" data-taskId="Time-based Space Planning" data-taskIcon="">Time-based Space Planning</a></li>
                        </ol>
                        <li></li>
                        <ol class="process-tasks">
                            <li><a href="ab-alloc-gap-chart-monthly.axvw" rel="eTask" data-taskId="Space Gap Analysis" data-taskIcon="">Space Gap Analysis</a></li>
                            <li><a href="ab-alloc-headcount.axvw" rel="eTask" data-taskId="Headcount Projection" data-taskIcon="">Headcount Projection</a></li>
                        </ol>
                        <li></li>
                        <ol class="process-tasks">
                            <li><a href="ab-sp-vw-rmpct-fin-stmnt-trans.axvw" rel="eTask" data-taskId="Financial Statement by Division" data-taskIcon="">Financial Statement by Division</a></li>
                            <li><a href="ab-sp-vw-rmpct-chrgbk-anal-trans.axvw" rel="eTask" data-taskId="Detailed Chargeback Analysis" data-taskIcon="">Detailed Chargeback Analysis</a></li>
                        </ol>
                    </ol>                    
                </div>
            </div>
            <div id="bucket_abbldgopsondemandwork_bucketFm1BuildingOps_h1" class="bucket-process  " data-productId="AbBldgOps" data-activityId="AbBldgOpsOnDemandWork" data-processId="Bucket FM 1 - Building Ops" data-productTitle="Building Operations" data-activityTitle="On Demand Work" data-processTitle="Building Operations" data-productTitleRaw="Building Operations" data-activityTitleRaw="On Demand Work" data-processTitleRaw="Building Operations" data-subfolder="" data-helpLink=""  data-helpSystem="END USER" data-dashboardLayout="" data-dashboardView="" title="" oncontextmenu="return false;">
                <h2 class="process-title" >Building Operations</h2>
                <div class="bucket-wrapper process-bucket" id="wrapper_abbldgopsondemandwork_bucketFm1BuildingOps_h1" onMouseUp="openTask(this, event);">
                    <ol class="ptask-labels">
                        <li></li>
                        <ol class="process-tasks">
                            <li><a href="ab-bldgops-console.axvw" rel="eTask" data-taskId="Building Operations Console" data-taskIcon="">Building Operations Console</a></li>
                            <li><a href="ab-bldgops-labor-scheduler.axvw" rel="eTask" data-taskId="Labor Scheduler" data-taskIcon="ab-icon-task.gif">Labor Scheduler</a></li>
                            <li><a href="ab-bldgops-sla.axvw" rel="eTask" data-taskId="Service Level Agreements" data-taskIcon="">Service Level Agreements</a></li>
                        </ol>
                        <li></li>
                        <ol class="process-tasks">
                            <li><a href="ab-bldgops-rpt-dash-cost-analysis.axvw" rel="eTask" data-taskId="Cost Analysis" data-taskIcon="">Cost Analysis</a></li>
                            <li><a href="ab-bldgops-rpt-dash-labor-analysis.axvw" rel="eTask" data-taskId="Labor Analysis" data-taskIcon="">Labor Analysis</a></li>
                            <li><a href="ab-bldgops-rpt-dash-budget-analysis.axvw" rel="eTask" data-taskId="Budget Analysis" data-taskIcon="">Budget Analysis</a></li>
                        </ol>
                    </ol>                    
                </div>
            </div>
            <div id="bucket_abassetmanagement_bucketFm1Assets_h2" class="bucket-process bucket-background-light-purple " data-productId="AbAsset" data-activityId="AbAssetManagement" data-processId="Bucket FM 1 - Assets" data-productTitle="Asset Management" data-activityTitle="Asset Portal" data-processTitle="Assets" data-productTitleRaw="Asset Management" data-activityTitleRaw="Asset Portal" data-processTitleRaw="Assets" data-subfolder="" data-helpLink=""  data-helpSystem="" data-dashboardLayout="" data-dashboardView="" title="" oncontextmenu="return false;">
                <h2 class="process-title" >Assets</h2>
                <div class="bucket-wrapper process-bucket" id="wrapper_abassetmanagement_bucketFm1Assets_h2" onMouseUp="openTask(this, event);">
                    <ol class="ptask-labels">
                    </ol>                    
                </div>
            </div>
            <div id="bucket_abworkplacereservations_bucketFm1WorkplaceServices_h3" class="bucket-process  " data-productId="AbWorkplaceServices" data-activityId="AbWorkplaceReservations" data-processId="Bucket FM 1 - Workplace Services" data-productTitle="Workplace Services" data-activityTitle="Reservations" data-processTitle="Workplace Services" data-productTitleRaw="Workplace Services" data-activityTitleRaw="Reservations" data-processTitleRaw="Workplace Services" data-subfolder="" data-helpLink=""  data-helpSystem="END USER" data-dashboardLayout="" data-dashboardView="" title="" oncontextmenu="return false;">
                <h2 class="process-title" >Workplace Services</h2>
                <div class="bucket-wrapper process-bucket" id="wrapper_abworkplacereservations_bucketFm1WorkplaceServices_h3" onMouseUp="openTask(this, event);">
                    <ol class="ptask-labels">
                        <li>Request</li>
                        <ol class="process-tasks">
                            <li><a href="ab-rr-add-room-reservation.axvw" rel="eTask" data-taskId="Conference Room Reservation" data-taskIcon="">Conference Room Reservation</a></li>
                            <li><a href="ab-rr-add-resource-reservation.axvw" rel="eTask" data-taskId="Resource Reservations" data-taskIcon="">Resource Reservations</a></li>
                            <li><a href="ab-ht-booking-create.axvw" rel="eTask" data-taskId="Hotelled Workspace Booking" data-taskIcon="">Hotelled Workspace Booking</a></li>
                            <li><a href="ab-helpdesk-request-create.axvw" rel="eTask" data-taskId="Service" data-taskIcon="">Service</a></li>
                            <li><a href="ab-floorsonly-drawing-redlines.axvw" rel="eTask" data-taskId="Service (by Location)" data-taskIcon="">Service (by Location)</a></li>
                            <li><a href="ab-mo-request-em-move.axvw" rel="eTask" data-taskId="Individual Move" data-taskIcon="">Individual Move</a></li>
                            <li><a href="ab-mo-gp-request-group-move.axvw" rel="eTask" data-taskId="Group Move" data-taskIcon="">Group Move</a></li>
                            <li><a href="ab-helpdesk-request-create-dp-sp.axvw" rel="eTask" data-taskId="Department Space" data-taskIcon="">Department Space</a></li>
                            <li><a href="ab-bldgops-console-wr-create.axvw" rel="eTask" data-taskId="Maintenance" data-taskIcon="">Maintenance</a></li>
                        </ol>
                        <li>Manage</li>
                        <ol class="process-tasks">
                            <li><a href="ab-helpdesk-report-requesttypes.axvw" rel="eTask" data-taskId="Open Service Requests by Request Type and Status" data-taskIcon="">Open Service Requests by Request Type and Status</a></li>
                            <li><a href="ab-review-redlines-architect.axvw" rel="eTask" data-taskId="Review Redlines by Location" data-taskIcon="">Review Redlines by Location</a></li>
                        </ol>
                    </ol>                    
                </div>
            </div>
	    </div>
	    <div class="page-row three-quarter-height" >
            <div id="bucket_integratedFacilityManagementMetrics_h4" class="bucket-process  double-wide" data-panelTitle="Integrated Facility-Management Metrics" data-panelTitleRaw="Integrated Facility-Management Metrics" oncontextmenu="return false;">
                <h2 class="process-title" title="Performance metrics monitoring the processes under your department's purview.">Integrated Facility-Management Metrics</h2>
                <div class="bucket-wrapper app-specific-bucket" id="wrapper_integratedFacilityManagementMetrics_h4">
                    <div class="processMetrics"
                        columnSpan="2"
                        granularity="all"
                        useStoplightColors="true"
                        scorecard="FACILITIES_PROCESSES"
                    >
                    </div>
                </div>
            </div>
            <div id="bucket_alerts_h5" class="bucket-process bucket-background-light-purple " data-panelTitle="Alerts" data-panelTitleRaw="Alerts" oncontextmenu="return false;">
                <h2 class="process-title" title="Time-sensitive tasks, reports and requests.">Alerts</h2>
                <div class="bucket-wrapper app-specific-bucket" id="wrapper_alerts_h5">
                    <div class="alertsList"
                        granularity="all"
                        scorecard="FACILITIES_ALERTS"
                    >
                    </div>
                </div>
            </div>
            <div id="homeFavoritesBucket_h6" class="bucket-process  " data-panelTitle="Favorites" data-panelTitleRaw="Favorites" oncontextmenu="return false;">
                <h2 class="process-title" title="Drag and drop your favorite tasks into this panel.">Favorites</h2>
                <div class="bucket-wrapper favorites-bucket" id="wrapper_favorites_h6">
                    <div class="favorites-drop-target">
                        <span class="favorites-add-target"></span>
                        <span class="favorites-delete-target">&nbsp;</span>
                    </div>
                    <div class="favorites" onMouseUp="openTask(this,event);">
                        <ol class="favorites-items">
                        </ol>
                    </div>
                </div>
            </div>
	    </div>
        <div class="page-break-banner ui-widget-header bucket-background-medium-purple" data-blockTitle="IN DEPTH" data-blockTitleRaw="IN DEPTH">
            <div class="page-break-archibus">
                <div class="page-break-logo"></div><span>IN DEPTH</span>
            </div>
            <a class="page-top-link" onClick="goToTop();"></a>
        </div>
        <br/>
	    <div class="page-row half-height" >
            <div id="bucket_indirectCostRecovery_h7" class="bucket-process  " data-panelTitle="Indirect Cost Recovery" data-panelTitleRaw="Indirect Cost Recovery" oncontextmenu="return false;">
                <h2 class="process-title" title="">Indirect Cost Recovery</h2>
                <div class="bucket-wrapper app-specific-bucket" id="wrapper_indirectCostRecovery_h7">
                    <div class="horizontalBarChart"
                        metricName="fin_imp_IndirectCostsRecovered_monthly"
                        granularity="dv_id"
                        subtitle="Top 5 by Division"
                        sortOrder="desc"
                        abbreviateValues="false"
                        useStoplightColors="false"
                        recordLimit="5"
                    >
                    </div>
                </div>
            </div>
            <div id="bucket_slaCompliance_h8" class="bucket-process  " data-panelTitle="SLA Compliance" data-panelTitleRaw="SLA Compliance" oncontextmenu="return false;">
                <h2 class="process-title" title="SLA Compliance">SLA Compliance</h2>
                <div class="bucket-wrapper app-specific-bucket" id="wrapper_slaCompliance_h8">
                    <div class="horizontalBarChart"
                        metricName="ops_SLACompliance_percent_weekly"
                        granularity="eq_std"
                        sortOrder="desc"
                        abbreviateValues="false"
                        useStoplightColors="false"
                        recordLimit="5"
                    >
                    </div>
                </div>
            </div>
            <div id="bucket_vacancy_h9" class="bucket-process  " data-panelTitle="Vacancy" data-panelTitleRaw="Vacancy " oncontextmenu="return false;">
                <h2 class="process-title" title="">Vacancy</h2>
                <div class="bucket-wrapper app-specific-bucket" id="wrapper_vacancy_h9">
                    <div class="horizontalBarChart"
                        metricName="spac_Vacancy_percent_monthly"
                        granularity="bl_id"
                        subtitle="Top 5 by Building"
                        sortOrder="desc"
                        abbreviateValues="false"
                        useStoplightColors="false"
                        recordLimit="5"
                    >
                    </div>
                </div>
            </div>
            <div id="bucket_facilityConditionIndex_h10" class="bucket-process  " data-panelTitle="Facility Condition Index" data-panelTitleRaw="Facility Condition Index" oncontextmenu="return false;">
                <h2 class="process-title" title="">Facility Condition Index</h2>
                <div class="bucket-wrapper app-specific-bucket" id="wrapper_facilityConditionIndex_h10">
                    <div class="horizontalBarChart"
                        metricName="ops_FacilityConditionIndex_percent_monthly"
                        granularity="bl_id"
                        subtitle="Bottom 5 by Building"
                        sortOrder="desc"
                        abbreviateValues="false"
                        useStoplightColors="false"
                        recordLimit="5"
                    >
                    </div>
                </div>
            </div>
	    </div>
	    <div class="page-row three-quarter-height" >
            <div id="bucket_abspaceroominventorybar_bucketFm2Space_h11" class="bucket-process  " data-productId="AbSpace" data-activityId="AbSpaceRoomInventoryBAR" data-processId="Bucket FM 2 - Space" data-productTitle="Space Planning & Management" data-activityTitle="Space Inventory & Performance" data-processTitle="Space " data-productTitleRaw="Space Planning & Management" data-activityTitleRaw="Space Inventory & Performance" data-processTitleRaw="Space " data-subfolder="" data-helpLink=""  data-helpSystem="END USER" data-dashboardLayout="" data-dashboardView="" title="" oncontextmenu="return false;">
                <h2 class="process-title" >Space </h2>
                <div class="bucket-wrapper process-bucket" id="wrapper_abspaceroominventorybar_bucketFm2Space_h11" onMouseUp="openTask(this, event);">
                    <ol class="ptask-labels">
                        <li>Reports</li>
                        <ol class="process-tasks">
                            <li><a href="ab-sp-hl-occ-plan-trans.axvw" rel="eTask" data-taskId="Occupancy Plan" data-taskIcon="">Occupancy Plan</a></li>
                            <li><a href="ab-sp-loc-em-trans.axvw" rel="eTask" data-taskId="Employee Locator" data-taskIcon="">Employee Locator</a></li>
                            <li><a href="ab-sp-hl-vac-rm-trans.axvw" rel="eTask" data-taskId="Occupiable Vacant Room Highlights" data-taskIcon="">Occupiable Vacant Room Highlights</a></li>
                        </ol>
                        <li></li>
                        <ol class="process-tasks">
                            <li><a href="ab-sp-vw-rm-by-bl-fl-trans.axvw" rel="eTask" data-taskId="Rooms by Building and Floor" data-taskIcon="">Rooms by Building and Floor</a></li>
                            <li><a href="ab-sp-vw-rm-by-dv-dp-trans.axvw" rel="eTask" data-taskId="Rooms by Division and Department" data-taskIcon="">Rooms by Division and Department</a></li>
                            <li><a href="ab-sp-hl-rm-by-dp-per-fl-trans.axvw" rel="eTask" data-taskId="Rooms by Department per Floor" data-taskIcon="">Rooms by Department per Floor</a></li>
                            <li><a href="ab-sp-hl-rm-by-rmcat-rmtype-trans.axvw" rel="eTask" data-taskId="Rooms by Category and Type" data-taskIcon="">Rooms by Category and Type</a></li>
                        </ol>
                        <li>Actions</li>
                        <ol class="process-tasks">
                            <li><a href="ab-sp-asgn-rm-attributes.axvw" rel="eTask" data-taskId="Assign Room Attributes and Occupancy" data-taskIcon="">Assign Room Attributes and Occupancy</a></li>
                            <li><a href="ab-helpdesk-request-approve.axvw" rel="eTask" data-taskId="Approve Space Requests" data-taskIcon="">Approve Space Requests</a></li>
                            <li><a href="ab-helpdesk-request-update-tabs.axvw" rel="eTask" data-taskId="Issue Space Requests" data-taskIcon="">Issue Space Requests</a></li>
                        </ol>
                    </ol>                    
                </div>
            </div>
            <div id="bucket_abbldgopsondemandwork_bucketFm2BuildingOps_h12" class="bucket-process  " data-productId="AbBldgOps" data-activityId="AbBldgOpsOnDemandWork" data-processId="Bucket FM 2 - Building Ops" data-productTitle="Building Operations" data-activityTitle="On Demand Work" data-processTitle="Building-Operations  " data-productTitleRaw="Building Operations" data-activityTitleRaw="On Demand Work" data-processTitleRaw="Building-Operations  " data-subfolder="" data-helpLink=""  data-helpSystem="END USER" data-dashboardLayout="" data-dashboardView="" title="" oncontextmenu="return false;">
                <h2 class="process-title" >Building-Operations  </h2>
                <div class="bucket-wrapper process-bucket" id="wrapper_abbldgopsondemandwork_bucketFm2BuildingOps_h12" onMouseUp="openTask(this, event);">
                    <ol class="ptask-labels">
                        <li>Operations</li>
                        <ol class="process-tasks">
                            <li><a href="ab-bldgops-report-wr-loc.axvw" rel="eTask" data-taskId="Location of Work Requests" data-taskIcon="">Location of Work Requests</a></li>
                            <li><a href="ab-bldgops-report-workload.axvw" rel="eTask" data-taskId="Trade and Craftsperson Workload" data-taskIcon="">Trade and Craftsperson Workload</a></li>
                        </ol>
                        <li></li>
                        <ol class="process-tasks">
                            <li><a href="ab-bldgops-report-inv-info.axvw" rel="eTask" data-taskId="Current Parts Inventory" data-taskIcon="">Current Parts Inventory</a></li>
                            <li><a href="ab-bldgops-report-inv-variance.axvw" rel="eTask" data-taskId="Physical Inventory Variance" data-taskIcon="">Physical Inventory Variance</a></li>
                        </ol>
                        <li>Equipment</li>
                        <ol class="process-tasks">
                            <li><a href="ab-pm-rpt-eq-maint-hist.axvw" rel="eTask" data-taskId="Maintenance History" data-taskIcon="">Maintenance History</a></li>
                            <li><a href="ab-pm-rpt-eq-fail-anls.axvw" rel="eTask" data-taskId="Failure Analysis" data-taskIcon="">Failure Analysis</a></li>
                            <li><a href="ab-pm-rpt-eq-repl-anls.axvw" rel="eTask" data-taskId="Replacement Analysis" data-taskIcon="">Replacement Analysis</a></li>
                        </ol>
                        <li>Performance</li>
                        <ol class="process-tasks">
                            <li><a href="ab-helpdesk-report-satisfaction-tabs.axvw" rel="eTask" data-taskId="Satisfaction" data-taskIcon="">Satisfaction</a></li>
                            <li><a href="ab-pm-rpt-cf-pfm.axvw" rel="eTask" data-taskId="Craftspersons" data-taskIcon="">Craftspersons</a></li>
                            <li><a href="ab-pm-rpt-tr-pfm.axvw" rel="eTask" data-taskId="Trades" data-taskIcon="">Trades</a></li>
                            <li><a href="ab-bldgops-report-bl-cost-by-area-occ.axvw" rel="eTask" data-taskId="Costs" data-taskIcon="">Costs</a></li>
                        </ol>
                    </ol>                    
                </div>
            </div>
            <div id="bucket_abbldgopspm_bucketFm2Pm_h13" class="bucket-process bucket-background-light-purple " data-productId="AbBldgOps" data-activityId="AbBldgOpsPM" data-processId="Bucket FM 2 - PM" data-productTitle="Building Operations" data-activityTitle="Preventive Maintenance" data-processTitle="Preventive Maintenance " data-productTitleRaw="Building Operations" data-activityTitleRaw="Preventive Maintenance" data-processTitleRaw="Preventive Maintenance " data-subfolder="" data-helpLink=""  data-helpSystem="END USER" data-dashboardLayout="" data-dashboardView="" title="" oncontextmenu="return false;">
                <h2 class="process-title" >Preventive Maintenance </h2>
                <div class="bucket-wrapper process-bucket" id="wrapper_abbldgopspm_bucketFm2Pm_h13" onMouseUp="openTask(this, event);">
                    <ol class="ptask-labels">
                        <li>Reports</li>
                        <ol class="process-tasks">
                            <li><a href="ab-pm-rpt-overdue-sched.axvw" rel="eTask" data-taskId="Overdue PM Schedules" data-taskIcon="">Overdue PM Schedules</a></li>
                        </ol>
                        <li>Planning Consoles</li>
                        <ol class="process-tasks">
                            <li><a href="ab-pm-def-procs-steps-res.axvw" rel="eTask" data-taskId="Define Procedures, Steps, and Resources" data-taskIcon="">Define Procedures, Steps, and Resources</a></li>
                            <li><a href="ab-pm-asgn-procs-to-eq-hk.axvw" rel="eTask" data-taskId="Assign Procedures to Equipment or Location" data-taskIcon="">Assign Procedures to Equipment or Location</a></li>
                            <li><a href="ab-pm-def-sched.axvw" rel="eTask" data-taskId="Define PM Schedules" data-taskIcon="">Define PM Schedules</a></li>
                            <li><a href="ab-pm-gen-rule-tabs.axvw" rel="eTask" data-taskId="Manage Work Order Generation Rules" data-taskIcon="">Manage Work Order Generation Rules</a></li>
                            <li><a href="ab-pm-planner.axvw" rel="eTask" data-taskId="PM Planner" data-taskIcon="ab-icon-task.gif">PM Planner</a></li>
                        </ol>
                    </ol>                    
                </div>
            </div>
            <div id="bucket_abmovemanagement_bucketFm2Mac_h14" class="bucket-process  " data-productId="AbMove" data-activityId="AbMoveManagement" data-processId="Bucket FM 2 - MAC" data-productTitle="Move Management" data-activityTitle="Enterprise Move Management" data-processTitle="Moves, Adds, and Changes" data-productTitleRaw="Move Management" data-activityTitleRaw="Enterprise Move Management" data-processTitleRaw="Moves, Adds, and Changes" data-subfolder="" data-helpLink=""  data-helpSystem="END USER" data-dashboardLayout="" data-dashboardView="" title="" oncontextmenu="return false;">
                <h2 class="process-title" >Moves, Adds, and Changes</h2>
                <div class="bucket-wrapper process-bucket" id="wrapper_abmovemanagement_bucketFm2Mac_h14" onMouseUp="openTask(this, event);">
                    <ol class="ptask-labels">
                        <li>Operations</li>
                        <ol class="process-tasks">
                            <li><a href="ab-mo-statistics-chart-loc.axvw" rel="eTask" data-taskId="Moves by Location" data-taskIcon="">Moves by Location</a></li>
                            <li><a href="ab-mo-statistics-chart-org.axvw" rel="eTask" data-taskId="Moves by Organization" data-taskIcon="">Moves by Organization</a></li>
                        </ol>
                        <li>Actions</li>
                        <ol class="process-tasks">
                            <li><a href="ab-mo-gp-approve.axvw" rel="eTask" data-taskId="Approve Moves" data-taskIcon="">Approve Moves</a></li>
                            <li><a href="ab-mo-gp-complete.axvw" rel="eTask" data-taskId="Complete Moves" data-taskIcon="">Complete Moves</a></li>
                        </ol>
                        <li>Planning Consoles</li>
                        <ol class="process-tasks">
                            <li><a href="ab-sp-hl-rm-by-attribute.axvw" rel="eTask" data-taskId="Review Pending Moves Requests" data-taskIcon="">Review Pending Moves Requests</a></li>
                            <li><a href="ab-proj-projects-moves-calendar.axvw" rel="eTask" data-taskId="Examine Move Calendar" data-taskIcon="">Examine Move Calendar</a></li>
                            <li><a href="ab-mo-gp-develop-move-scenarios.axvw" rel="eTask" data-taskId="Define Move Scenarios" data-taskIcon="">Define Move Scenarios</a></li>
                        </ol>
                        <li>Performance</li>
                        <ol class="process-tasks">
                            <li><a href="ab-mo-history.axvw" rel="eTask" data-taskId="Move History" data-taskIcon="">Move History</a></li>
                            <li><a href="ab-mo-statistics-org.axvw" rel="eTask" data-taskId="Moves Statistics Chart by Organization" data-taskIcon="">Moves Statistics Chart by Organization</a></li>
                        </ol>
                    </ol>                    
                </div>
            </div>
	    </div>
	    <div class="page-row half-height" >
            <div id="bucket_abassetmanagement_bucketFm2Telecommunications_h15" class="bucket-process  " data-productId="AbAsset" data-activityId="AbAssetManagement" data-processId="Bucket FM 2 - Telecommunications" data-productTitle="Asset Management" data-activityTitle="Asset Portal" data-processTitle="Telecommunications" data-productTitleRaw="Asset Management" data-activityTitleRaw="Asset Portal" data-processTitleRaw="Telecommunications" data-subfolder="" data-helpLink=""  data-helpSystem="" data-dashboardLayout="" data-dashboardView="" title="" oncontextmenu="return false;">
                <h2 class="process-title" >Telecommunications</h2>
                <div class="bucket-wrapper process-bucket" id="wrapper_abassetmanagement_bucketFm2Telecommunications_h15" onMouseUp="openTask(this, event);">
                    <ol class="ptask-labels">
                    </ol>                    
                </div>
            </div>
            <div id="bucket_abprojectmanagement_bucketFm2ExpensedProjects_h16" class="bucket-process  " data-productId="AbProject" data-activityId="AbProjectManagement" data-processId="Bucket FM 2 - Expensed Projects" data-productTitle="Capital Project Management" data-activityTitle="Project Management" data-processTitle="Expensed Projects" data-productTitleRaw="Capital Project Management" data-activityTitleRaw="Project Management" data-processTitleRaw="Expensed Projects" data-subfolder="" data-helpLink=""  data-helpSystem="END USER" data-dashboardLayout="" data-dashboardView="" title="" oncontextmenu="return false;">
                <h2 class="process-title" >Expensed Projects</h2>
                <div class="bucket-wrapper process-bucket" id="wrapper_abprojectmanagement_bucketFm2ExpensedProjects_h16" onMouseUp="openTask(this, event);">
                    <ol class="ptask-labels">
                        <li></li>
                        <ol class="process-tasks">
                            <li><a href="ab-proj-projects-scorecard.axvw" rel="eTask" data-taskId="Projects Scorecard" data-taskIcon="">Projects Scorecard</a></li>
                            <li><a href="ab-proj-projects-calendar.axvw" rel="eTask" data-taskId="Projects Calendar" data-taskIcon="">Projects Calendar</a></li>
                            <li><a href="ab-proj-projects-map.axvw" rel="eTask" data-taskId="Projects Map" data-taskIcon="">Projects Map</a></li>
                            <li><a href="ab-proj-active-projects-timeline.axvw" rel="eTask" data-taskId="Active Projects Timeline" data-taskIcon="">Active Projects Timeline</a></li>
                        </ol>
                        <li></li>
                        <ol class="process-tasks">
                            <li><a href="ab-proj-projects-behind-schedule.axvw" rel="eTask" data-taskId="Projects Behind Schedule" data-taskIcon="">Projects Behind Schedule</a></li>
                            <li><a href="ab-proj-projects-over-budget.axvw" rel="eTask" data-taskId="Projects Over Budget" data-taskIcon="">Projects Over Budget</a></li>
                            <li><a href="ab-proj-projects-compare-to-budget.axvw" rel="eTask" data-taskId="Project Costs vs. Budget" data-taskIcon="">Project Costs vs. Budget</a></li>
                        </ol>
                    </ol>                    
                </div>
            </div>
            <div id="bucket_abworkplacereservations_bucketFm2Reservations_h17" class="bucket-process bucket-background-light-purple " data-productId="AbWorkplaceServices" data-activityId="AbWorkplaceReservations" data-processId="Bucket FM 2 - Reservations" data-productTitle="Workplace Services" data-activityTitle="Reservations" data-processTitle="Reservations" data-productTitleRaw="Workplace Services" data-activityTitleRaw="Reservations" data-processTitleRaw="Reservations" data-subfolder="" data-helpLink=""  data-helpSystem="END USER" data-dashboardLayout="" data-dashboardView="" title="" oncontextmenu="return false;">
                <h2 class="process-title" >Reservations</h2>
                <div class="bucket-wrapper process-bucket" id="wrapper_abworkplacereservations_bucketFm2Reservations_h17" onMouseUp="openTask(this, event);">
                    <ol class="ptask-labels">
                        <li>Reports</li>
                        <ol class="process-tasks">
                            <li><a href="ab-rr-rpt-day-number-roomres.axvw" rel="eTask" data-taskId="Number of Room Reservations per Day" data-taskIcon="">Number of Room Reservations per Day</a></li>
                            <li><a href="ab-rr-rpt-day-room-occupation.axvw" rel="eTask" data-taskId="Room Occupation per Day" data-taskIcon="">Room Occupation per Day</a></li>
                            <li><a href="ab-rr-rpt-month-cost-department.axvw" rel="eTask" data-taskId="Costs per Department per Month" data-taskIcon="">Costs per Department per Month</a></li>
                            <li><a href="ab-rr-rpt-month-room-capacity.axvw" rel="eTask" data-taskId="Room Capacity Utilization per Month" data-taskIcon="">Room Capacity Utilization per Month</a></li>
                        </ol>
                        <li>Actions</li>
                        <ol class="process-tasks">
                            <li><a href="ab-rr-rm.axvw" rel="eTask" data-taskId="Define Reservable Rooms" data-taskIcon="">Define Reservable Rooms</a></li>
                            <li><a href="ab-rr-rm-arrange.axvw" rel="eTask" data-taskId="Define Room Arrangements" data-taskIcon="">Define Room Arrangements</a></li>
                        </ol>
                    </ol>                    
                </div>
            </div>
            <div id="bucket_abspacehotelling_bucketFm2Hoteling_h18" class="bucket-process  " data-productId="AbWorkplaceServices" data-activityId="AbSpaceHotelling" data-processId="Bucket FM 2 - Hoteling" data-productTitle="Workplace Services" data-activityTitle="Hoteling" data-processTitle="Hoteling" data-productTitleRaw="Workplace Services" data-activityTitleRaw="Hoteling" data-processTitleRaw="Hoteling" data-subfolder="" data-helpLink=""  data-helpSystem="END USER" data-dashboardLayout="" data-dashboardView="" title="" oncontextmenu="return false;">
                <h2 class="process-title" >Hoteling</h2>
                <div class="bucket-wrapper process-bucket" id="wrapper_abspacehotelling_bucketFm2Hoteling_h18" onMouseUp="openTask(this, event);">
                    <ol class="ptask-labels">
                        <li></li>
                        <ol class="process-tasks">
                            <li><a href="ab-ht-rpt-ovrall-util-by-bl.axvw" rel="eTask" data-taskId="Utilization by Building" data-taskIcon="">Utilization by Building</a></li>
                            <li><a href="ab-ht-rpt-ht-util-by-rm.axvw" rel="eTask" data-taskId="Utilization by Room" data-taskIcon="">Utilization by Room</a></li>
                            <li><a href="ab-ht-rpt-vw-chargeable-cost-by-dv.axvw" rel="eTask" data-taskId="Chargeable Costs by Division" data-taskIcon="">Chargeable Costs by Division</a></li>
                            <li><a href="ab-ht-rpt-booking-em.axvw" rel="eTask" data-taskId="Bookings by Employee" data-taskIcon="">Bookings by Employee</a></li>
                            <li><a href="ab-ht-rpt-hl-rm-booking.axvw" rel="eTask" data-taskId="Plan of Hotelable Rooms" data-taskIcon="">Plan of Hotelable Rooms</a></li>
                        </ol>
                    </ol>                    
                </div>
            </div>
	    </div>
    </div>
</div>

<script>
    $(document).ready(function() {
        $('#navigationTabs').find('a').click(function() {return false;});
        initDandDFavorites();
        setPageDimensions();
        bindTaskContextMenu();
        localizeDisplayText();
        localizeFavoritesDisplayText();
        pageTallProcessBuckets();
        constructRuntimeBuckets();
    });
</script>