<div class="nav-pages" id="Commissioning">
    <div class="page">
        <div class="page-row full-height" >
            <h3 class="application-title" data-activityId="AbProjCommissioning">Commissioning</h3>
            <hr class="application-horizontal-rule">
            <div id="appProcFavoritesBucket" class="bucket-application bucket-background-light " data-activityId="" data-processId="" oncontextmenu="return false;">
                <h2 class="applications-process-title" data-processId="" title="Most often used tasks and reports.">My Favorites</h2>
                <div class="bucket-wrapper" id="wrapper_c6a6ecb3-755a-426c-81d6-b9703e3e7a24">
                    <div class="favorites-drop-target">
                        <span class="favorites-add-target"></span>
                        <span class="favorites-delete-target">&nbsp;</span>
                    </div>
                    <div class="favorites" onMouseUp="openPtask(this,event);">
                        <ol class="favorites-items">
                        </ol>
                    </div>
                </div>
            </div>
            <div class="bucket-application " data-productId="AbProject" data-activityId="AbProjCommissioning" data-processId="Set Up" data-productTitle="Capital Project Management" data-activityTitle="Commissioning" data-processTitle="Set Up" data-subfolder="\ab-products\project\commissioning" data-helpLink="\Subsystems\webc\Content\fim\projects\background_data_pm.htm" data-helpSystem="END USER" data-dashboardLayout="" data-dashboardView="" title="" oncontextmenu="return false;" onMouseUp="openPtask(this,event);">
                <h2 class="applications-process-title" title="">
                    <span class="process-title-text">Set Up</span>
                </h2>
                <div class="bucket-wrapper" id="wrapper_abprojcommissioning_setUp">
                        <ol class="ptask-labels">
                            <li></li>
                            <ol class="process-tasks">
                                <li><a href="ab-def-geo-loc.axvw" rel="pTask" data-taskId="Define Geographical Locations" data-taskIcon="ab-icon-task.gif">Define Geographical Locations</a></li>
                                <li><a href="ab-sp-def-loc-rm.axvw" rel="pTask" data-taskId="Define Locations" data-taskIcon="ab-icon-task.gif">Define Locations</a></li>
                            </ol>
                            <li class="empty-taskgroup-title">&nbsp;</li>
                            <ol class="process-tasks">
                                <li><a href="ab-programtype-edit.axvw" rel="pTask" data-taskId="Define Program Types" data-taskIcon="ab-icon-task.gif">Define Program Types</a></li>
                                <li><a href="ab-projecttype-edit.axvw" rel="pTask" data-taskId="Define Project Types" data-taskIcon="ab-icon-task.gif">Define Project Types</a></li>
                                <li><a href="ab-questionnaire-project-edit.axvw" rel="pTask" data-taskId="Define Project Questionnaires" data-taskIcon="ab-icon-task.gif">Define Project Questionnaires</a></li>
                                <li><a href="ab-projphase-edit.axvw" rel="pTask" data-taskId="Define Project Phases" data-taskIcon="ab-icon-task.gif">Define Project Phases</a></li>
                                <li><a href="ab-activitytype-edit.axvw" rel="pTask" data-taskId="Define Action Types" data-taskIcon="ab-icon-task.gif">Define Action Types</a></li>
                                <li><a href="ab-project-templates-edit.axvw" rel="pTask" data-taskId="Define Template Projects" data-taskIcon="ab-icon-task.gif">Define Template Projects</a></li>
                            </ol>
                            <li class="empty-taskgroup-title">&nbsp;</li>
                            <ol class="process-tasks">
                                <li><a href="ab-document-templates-edit.axvw" rel="pTask" data-taskId="Define Document Templates" data-taskIcon="ab-icon-task.gif">Define Document Templates</a></li>
                                <li><a href="ab-docs-templates-all.axvw" rel="pTask" data-taskId="View Document Templates" data-taskIcon="ab-icon-task.gif">View Document Templates</a></li>
                            </ol>
                            <li class="empty-taskgroup-title">&nbsp;</li>
                            <ol class="process-tasks">
                                <li><a href="ab-common-def-em.axvw" rel="pTask" data-taskId="Define Employees" data-taskIcon="ab-icon-task.gif">Define Employees</a></li>
                            </ol>
                            <li class="empty-taskgroup-title">&nbsp;</li>
                            <ol class="process-tasks">
                                <li><a href="ab-def-comm-types.axvw" rel="pTask" data-taskId="Define Communication Types" data-taskIcon="ab-icon-task.gif">Define Communication Types</a></li>
                            </ol>
                            <li class="empty-taskgroup-title">&nbsp;</li>
                            <ol class="process-tasks">
                                <li><a href="ab-questionnaire-assessment-edit.axvw" rel="pTask" data-taskId="Define Assessment Questionnaires" data-taskIcon="ab-icon-task.gif">Define Assessment Questionnaires</a></li>
                                <li><a href="ab-questionnaire-map-edit.axvw" rel="pTask" data-taskId="Define Questionnaire Mapping" data-taskIcon="ab-icon-task.gif">Define Questionnaire Mapping</a></li>
                                <li><a href="ab-questionnaire-commissioning-edit.axvw" rel="pTask" data-taskId="Define Commissioning Questionnaires" data-taskIcon="ab-icon-task.gif">Define Commissioning Questionnaires</a></li>
                            </ol>
                        </ol>
                </div>
            </div>
            <div class="bucket-application " data-productId="AbProject" data-activityId="AbProjCommissioning" data-processId="Cx Planning" data-productTitle="Capital Project Management" data-activityTitle="Commissioning" data-processTitle="Planning" data-subfolder="\ab-products\project\commissioning" data-helpLink="\Subsystems\webc\Content\commissioning\planning\overview.htm" data-helpSystem="END USER" data-dashboardLayout="" data-dashboardView="" title="" oncontextmenu="return false;" onMouseUp="openPtask(this,event);">
                <h2 class="applications-process-title" title="">
                    <span class="process-title-text">Planning</span>
                </h2>
                <div class="bucket-wrapper" id="wrapper_abprojcommissioning_cxPlanning">
                        <ol class="ptask-labels">
                            <li>Identify Project with Potential Commissioning Needs:</li>
                            <ol class="process-tasks">
                                <li><a href="ab-project-request-edit-submit.axvw" rel="pTask" data-taskId="Manage Active Projects" data-taskIcon="ab-icon-task.gif">Manage Active Projects</a></li>
                                <li><a href="ab-project-request-edit.axvw" rel="pTask" data-taskId="Request Projects" data-taskIcon="ab-icon-task.gif">Request Projects</a></li>
                                <li><a href="ab-project-view.axvw" rel="pTask" data-taskId="View My Projects" data-taskIcon="ab-icon-task.gif">View My Projects</a></li>
                                <li><a href="ab-project-edit.axvw" rel="pTask" data-taskId="Edit My Projects" data-taskIcon="ab-icon-task.gif">Edit My Projects</a></li>
                            </ol>
                            <li>Define Owner's Requirements with Building Occupant:</li>
                            <ol class="process-tasks">
                                <li><a href="ab-proj-create-work-pkgs.axvw" rel="pTask" data-taskId="Add or Edit Work Packages" data-taskIcon="ab-icon-task.gif">Add or Edit Work Packages</a></li>
                                <li><a href="ab-project-actions-edit.axvw" rel="pTask" data-taskId="Add or Edit Actions" data-taskIcon="ab-icon-task.gif">Add or Edit Actions</a></li>
                                <li><a href="ab-condassess-copy-to-project.axvw" rel="pTask" data-taskId="Copy Assessment Items to Projects" data-taskIcon="ab-icon-task.gif">Copy Assessment Items to Projects</a></li>
                            </ol>
                            <li class="empty-taskgroup-title">&nbsp;</li>
                            <ol class="process-tasks">
                                <li><a href="ab-project-actions-est-base-sched-edit.axvw" rel="pTask" data-taskId="Develop Preliminary Commissioning Plan" data-taskIcon="ab-icon-task.gif">Develop Preliminary Commissioning Plan</a></li>
                                <li><a href="ab-project-actions-est-base-costs-edit.axvw" rel="pTask" data-taskId="Estimate Initial Budget (ROM) for Commissioning" data-taskIcon="ab-icon-task.gif">Estimate Initial Budget (ROM) for Commissioning</a></li>
                                <li><a href="ab-project-route-for-approval.axvw" rel="pTask" data-taskId="Route Projects for Funding Approval" data-taskIcon="ab-icon-task.gif">Route Projects for Funding Approval</a></li>
                            </ol>
                            <li class="empty-taskgroup-title">&nbsp;</li>
                            <ol class="process-tasks">
                                <li><a href="ab-project-prioritize-edit.axvw" rel="pTask" data-taskId="Prioritize Commissioning Projects" data-taskIcon="ab-icon-task.gif">Prioritize Commissioning Projects</a></li>
                                <li><a href="ab-project-approve.axvw" rel="pTask" data-taskId="Approve Project Funding Requests" data-taskIcon="ab-icon-task.gif">Approve Project Funding Requests</a></li>
                            </ol>
                        </ol>
                </div>
            </div>
            <div class="bucket-application " data-productId="AbProject" data-activityId="AbProjCommissioning" data-processId="Cx Design" data-productTitle="Capital Project Management" data-activityTitle="Commissioning" data-processTitle="Design" data-subfolder="\ab-products\project\commissioning" data-helpLink="\Subsystems\webc\Content\commissioning\design\overview.htm" data-helpSystem="END USER" data-dashboardLayout="" data-dashboardView="" title="" oncontextmenu="return false;" onMouseUp="openPtask(this,event);">
                <h2 class="applications-process-title" title="">
                    <span class="process-title-text">Design</span>
                </h2>
                <div class="bucket-wrapper" id="wrapper_abprojcommissioning_cxDesign">
                        <ol class="ptask-labels">
                            <li></li>
                            <ol class="process-tasks">
                                <li><a href="ab-proj-assign-team.axvw" rel="pTask" data-taskId="Assign Commissioning Team" data-taskIcon="ab-icon-task.gif">Assign Commissioning Team</a></li>
                                <li><a href="ab-comm-create-work-pkgs.axvw" rel="pTask" data-taskId="Manage Design Submissions and Requirements" data-taskIcon="ab-icon-task.gif">Manage Design Submissions and Requirements</a></li>
                                <li><a href="ab-comm-actions-with-docs-contract-docs.axvw" rel="pTask" data-taskId="Review Owner's Project Requirements" data-taskIcon="ab-icon-task.gif">Review Owner's Project Requirements</a></li>
                                <li><a href="ab-comm-actions-with-docs-contracts-awarded.axvw" rel="pTask" data-taskId="Review Contracts Awarded to Commissioning Agents" data-taskIcon="ab-icon-task.gif">Review Contracts Awarded to Commissioning Agents</a></li>
                                <li><a href="ab-comm-actions-with-docs-design-submissions.axvw" rel="pTask" data-taskId="Review Design Submissions" data-taskIcon="ab-icon-task.gif">Review Design Submissions</a></li>
                                <li><a href="ab-comm-actions-with-docs-approved.axvw" rel="pTask" data-taskId="Review Approved Commissioning Specifications" data-taskIcon="ab-icon-task.gif">Review Approved Commissioning Specifications</a></li>
                            </ol>
                            <li class="empty-taskgroup-title">&nbsp;</li>
                            <ol class="process-tasks">
                                <li><a href="ab-proj-estimate-actions-sched-design.axvw" rel="pTask" data-taskId="Update Commissioning Plan" data-taskIcon="ab-icon-task.gif">Update Commissioning Plan</a></li>
                                <li><a href="ab-proj-console-planning-comm.axvw" rel="pTask" data-taskId="Commissioning Console: Design Phase" data-taskIcon="ab-icon-task.gif">Commissioning Console: Design Phase</a></li>
                            </ol>
                        </ol>
                </div>
            </div>
            <div class="bucket-application " data-productId="AbProject" data-activityId="AbProjCommissioning" data-processId="Cx Construction" data-productTitle="Capital Project Management" data-activityTitle="Commissioning" data-processTitle="Construction" data-subfolder="\ab-products\project\commissioning" data-helpLink="\Subsystems\webc\Content\commissioning\construction\overview.htm" data-helpSystem="END USER" data-dashboardLayout="" data-dashboardView="" title="" oncontextmenu="return false;" onMouseUp="openPtask(this,event);">
                <h2 class="applications-process-title" title="">
                    <span class="process-title-text">Construction</span>
                </h2>
                <div class="bucket-wrapper" id="wrapper_abprojcommissioning_cxConstruction">
                        <ol class="ptask-labels">
                            <li></li>
                            <ol class="process-tasks">
                                <li><a href="ab-ca-mng-ca-itms.axvw" rel="pTask" data-taskId="Manage Construction Checklists" data-taskIcon="ab-icon-task.gif">Manage Construction Checklists</a></li>
                                <li><a href="ab-ca-my-ca-itms.axvw" rel="pTask" data-taskId="Assigned Commissioning Agents Checklists" data-taskIcon="ab-icon-task.gif">Assigned Commissioning Agents Checklists</a></li>
                                <li><a href="ab-ca-scoreboard.axvw" rel="pTask" data-taskId="Scoreboard Commissioning Projects" data-taskIcon="ab-icon-task.gif">Scoreboard Commissioning Projects</a></li>
                                <li><a href="ab-ca-eq-ca-by-cls3.axvw" rel="pTask" data-taskId="View Equipment Assessments" data-taskIcon="ab-icon-task.gif">View Equipment Assessments</a></li>
                                <li><a href="ab-ca-hl-bl-rm-w-safety.axvw" rel="pTask" data-taskId="Highlight Locations with Commissioning Issues" data-taskIcon="ab-icon-task.gif">Highlight Locations with Commissioning Issues</a></li>
                                <li><a href="ab-comm-project-close-out.axvw" rel="pTask" data-taskId="Close Out Commissioning Projects" data-taskIcon="ab-icon-task.gif">Close Out Commissioning Projects</a></li>
                            </ol>
                        </ol>
                </div>
            </div>
        </div>
        <div class="page-row full-height" >
            <h3 class="application-title" data-activityId="AbProjCommissioning">Commissioning</h3>
            <hr class="application-horizontal-rule">
            <div class="bucket-application " data-productId="AbProject" data-activityId="AbProjCommissioning" data-processId="Cx Post Construction" data-productTitle="Capital Project Management" data-activityTitle="Commissioning" data-processTitle="Post-Construction" data-subfolder="\ab-products\project\commissioning" data-helpLink="\Subsystems\webc\Content\commissioning\post_construction\overview.htm" data-helpSystem="END USER" data-dashboardLayout="" data-dashboardView="" title="" oncontextmenu="return false;" onMouseUp="openPtask(this,event);">
                <h2 class="applications-process-title" title="">
                    <span class="process-title-text">Post-Construction</span>
                </h2>
                <div class="bucket-wrapper" id="wrapper_abprojcommissioning_cxPostConstruction">
                        <ol class="ptask-labels">
                            <li></li>
                            <ol class="process-tasks">
                                <li><a href="ab-comm-eq-details.axvw" rel="pTask" data-taskId="Commission Equipment" data-taskIcon="ab-icon-task.gif">Commission Equipment</a></li>
                                <li><a href="ab-comm-eqstd-book.axvw" rel="pTask" data-taskId="View Equipment Standards Book" data-taskIcon="ab-icon-task.gif">View Equipment Standards Book</a></li>
                                <li><a href="ab-comm-eq-plans.axvw" rel="pTask" data-taskId="View Equipment Plan" data-taskIcon="ab-icon-task.gif">View Equipment Plan</a></li>
                                <li><a href="ab-comm-eq-edit.axvw" rel="pTask" data-taskId="View and Edit Equipment Information" data-taskIcon="ab-icon-task.gif">View and Edit Equipment Information</a></li>
                            </ol>
                            <li class="empty-taskgroup-title">&nbsp;</li>
                            <ol class="process-tasks">
                                <li><a href="ab-comm-eq-by-dp.axvw" rel="pTask" data-taskId="View Equipment by Department" data-taskIcon="ab-icon-task.gif">View Equipment by Department</a></li>
                                <li><a href="ab-comm-eq-by-fl.axvw" rel="pTask" data-taskId="View Equipment by Floor" data-taskIcon="ab-icon-task.gif">View Equipment by Floor</a></li>
                            </ol>
                            <li class="empty-taskgroup-title">&nbsp;</li>
                            <ol class="process-tasks">
                                <li><a href="ab-warranty-edit.axvw" rel="pTask" data-taskId="View and Edit Warranties" data-taskIcon="ab-icon-task.gif">View and Edit Warranties</a></li>
                                <li><a href="ab-eqxwarranty.axvw" rel="pTask" data-taskId="View Equipment by Warranty" data-taskIcon="ab-icon-task.gif">View Equipment by Warranty</a></li>
                            </ol>
                            <li class="empty-taskgroup-title">&nbsp;</li>
                            <ol class="process-tasks">
                                <li><a href="ab-insurer-edit.axvw" rel="pTask" data-taskId="View and Edit Insurers" data-taskIcon="ab-icon-task.gif">View and Edit Insurers</a></li>
                                <li><a href="ab-policy-edit.axvw" rel="pTask" data-taskId="View and Edit Insurance Policies" data-taskIcon="ab-icon-task.gif">View and Edit Insurance Policies</a></li>
                                <li><a href="ab-eqxpolicy.axvw" rel="pTask" data-taskId="View Equipment by Insurance Policy" data-taskIcon="ab-icon-task.gif">View Equipment by Insurance Policy</a></li>
                            </ol>
                        </ol>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
$(document).ready(function() {
    $('#navigationTabs').find('a').click(function() {return false;});
    initDandDFavorites();
    setPageDimensions();
    bindTaskContextMenu();
    localizeFavoritesDisplayText();
    loadFavoritesBuckets();
    modifyProcessTitleDisplay();
    pageTallPTaskBuckets();
});
</script>