<div class="nav-pages" id="ProjectManagement">
    <div class="page">
        <div class="page-row full-height" >
            <h3 class="application-title" data-activityId="AbProjectManagement">Project Management</h3>
            <hr class="application-horizontal-rule">
            <div id="appProcFavoritesBucket" class="bucket-application bucket-background-light " data-activityId="" data-processId="" oncontextmenu="return false;">
                <h2 class="applications-process-title" data-processId="" title="Most often used tasks and reports.">My Favorites</h2>
                <div class="bucket-wrapper" id="wrapper_ca83246b-6b63-4377-a93c-b9a400f6bc79">
                    <div class="favorites-drop-target">
                        <span class="favorites-add-target"></span>
                        <span class="favorites-delete-target">&nbsp;</span>
                    </div>
                    <div class="favorites" onMouseUp="openPtask(this,event);">
                        <ol class="favorites-items">
                        </ol>
                    </div>
                </div>
            </div>
            <div class="bucket-application " data-productId="AbProject" data-activityId="AbProjectManagement" data-processId="Set Up" data-productTitle="Capital Project Management" data-activityTitle="Project Management" data-processTitle="Set Up" data-subfolder="\ab-products\project\management" data-helpLink="\Subsystems\webc\Content\fim\projects\background_data_pm.htm" data-helpSystem="END USER" data-dashboardLayout="" data-dashboardView="" title="Define geographical hierarchy. Define project type classifications. Define questionnaires to collect standard request information. Define template projects so projects use similar task checklists. Upload standard document templates like invoices, RFI's, and daily site logs to ensure consistent project documentation." oncontextmenu="return false;" onMouseUp="openPtask(this,event);">
                <h2 class="applications-process-title" title="Define geographical hierarchy. Define project type classifications. Define questionnaires to collect standard request information. Define template projects so projects use similar task checklists. Upload standard document templates like invoices, RFI's, and daily site logs to ensure consistent project documentation.">
                    <span class="process-title-text">Set Up</span>
                </h2>
                <div class="bucket-wrapper" id="wrapper_abprojectmanagement_setUp">
                        <ol class="ptask-labels">
                            <li></li>
                            <ol class="process-tasks">
                                <li><a href="ab-def-geo-loc.axvw" rel="pTask" data-taskId="Define Geographical Locations" data-taskIcon="ab-icon-task.gif">Define Geographical Locations</a></li>
                                <li><a href="ab-sp-def-loc-rm.axvw" rel="pTask" data-taskId="Define Locations" data-taskIcon="ab-icon-task.gif">Define Locations</a></li>
                            </ol>
                            <li class="empty-taskgroup-title">&nbsp;</li>
                            <ol class="process-tasks">
                                <li><a href="ab-programtype-edit.axvw" rel="pTask" data-taskId="Define Program Types" data-taskIcon="ab-icon-task.gif">Define Program Types</a></li>
                                <li><a href="ab-projecttype-edit.axvw" rel="pTask" data-taskId="Define Project Types" data-taskIcon="ab-icon-task.gif">Define Project Types</a></li>
                                <li><a href="ab-questionnaire-project-edit.axvw" rel="pTask" data-taskId="Define Project Questionnaires" data-taskIcon="ab-icon-task.gif">Define Project Questionnaires</a></li>
                                <li><a href="ab-projphase-edit.axvw" rel="pTask" data-taskId="Define Project Phases" data-taskIcon="ab-icon-task.gif">Define Project Phases</a></li>
                                <li><a href="ab-activitytype-edit.axvw" rel="pTask" data-taskId="Define Action Types" data-taskIcon="ab-icon-task.gif">Define Action Types</a></li>
                                <li><a href="ab-project-templates-edit.axvw" rel="pTask" data-taskId="Define Template Projects" data-taskIcon="ab-icon-task.gif">Define Template Projects</a></li>
                            </ol>
                            <li class="empty-taskgroup-title">&nbsp;</li>
                            <ol class="process-tasks">
                                <li><a href="ab-document-templates-edit.axvw" rel="pTask" data-taskId="Define Document Templates" data-taskIcon="ab-icon-task.gif">Define Document Templates</a></li>
                                <li><a href="ab-docs-templates-all.axvw" rel="pTask" data-taskId="View Document Templates" data-taskIcon="ab-icon-task.gif">View Document Templates</a></li>
                            </ol>
                            <li class="empty-taskgroup-title">&nbsp;</li>
                            <ol class="process-tasks">
                                <li><a href="ab-common-def-em.axvw" rel="pTask" data-taskId="Define Employees" data-taskIcon="ab-icon-task.gif">Define Employees</a></li>
                                <li><a href="ab-ca-def-cont.axvw" rel="pTask" data-taskId="Define Contacts" data-taskIcon="ab-icon-task.gif">Define Contacts</a></li>
                                <li><a href="ab-vn-def.axvw" rel="pTask" data-taskId="Define Vendors" data-taskIcon="ab-icon-task.gif">Define Vendors</a></li>
                            </ol>
                            <li class="empty-taskgroup-title">&nbsp;</li>
                            <ol class="process-tasks">
                                <li><a href="ab-def-comm-types.axvw" rel="pTask" data-taskId="Define Communication Types" data-taskIcon="ab-icon-task.gif">Define Communication Types</a></li>
                            </ol>
                        </ol>
                </div>
            </div>
            <div class="bucket-application " data-productId="AbProject" data-activityId="AbProjectManagement" data-processId="Request" data-productTitle="Capital Project Management" data-activityTitle="Project Management" data-processTitle="Request" data-subfolder="\ab-products\project\management" data-helpLink="\Subsystems\webc\Content\web_user\cap_budget\work_proj_fund\request_proj\requesting_proj.htm" data-helpSystem="END USER" data-dashboardLayout="" data-dashboardView="" title="Submit a new project request.  View your existing requests and their approval status, or add more detail to a request.  Organize requests by capital program.   Import items in-bulk into project task list from the results of your condition assessment program." oncontextmenu="return false;" onMouseUp="openPtask(this,event);">
                <h2 class="applications-process-title" title="Submit a new project request.  View your existing requests and their approval status, or add more detail to a request.  Organize requests by capital program.   Import items in-bulk into project task list from the results of your condition assessment program.">
                    <span class="process-title-text">Request</span>
                </h2>
                <div class="bucket-wrapper" id="wrapper_abprojectmanagement_request">
                        <ol class="ptask-labels">
                            <li></li>
                            <ol class="process-tasks">
                                <li><a href="ab-project-request-edit.axvw" rel="pTask" data-taskId="Request Project" data-taskIcon="ab-icon-task.gif">Request Project</a></li>
                                <li><a href="ab-project-view.axvw" rel="pTask" data-taskId="View My Projects" data-taskIcon="ab-icon-task.gif">View My Projects</a></li>
                                <li><a href="ab-project-edit.axvw" rel="pTask" data-taskId="Edit My Projects" data-taskIcon="ab-icon-task.gif">Edit My Projects</a></li>
                                <li><a href="ab-programs-edit.axvw" rel="pTask" data-taskId="Add or Edit Programs" data-taskIcon="ab-icon-task.gif">Add or Edit Programs</a></li>
                                <li><a href="ab-programs-edit-by-type.axvw" rel="pTask" data-taskId="Add or Edit Programs by Type" data-taskIcon="ab-icon-task.gif">Add or Edit Programs by Type</a></li>
                                <li><a href="ab-condassess-copy-to-project.axvw" rel="pTask" data-taskId="Copy Assessment Items to Projects" data-taskIcon="ab-icon-task.gif">Copy Assessment Items to Projects</a></li>
                                <li><a href="ab-project-actions-edit.axvw" rel="pTask" data-taskId="Add or Edit Actions" data-taskIcon="ab-icon-task.gif">Add or Edit Actions</a></li>
                            </ol>
                        </ol>
                </div>
            </div>
            <div class="bucket-application " data-productId="AbProject" data-activityId="AbProjectManagement" data-processId="Prioritize & Estimate" data-productTitle="Capital Project Management" data-activityTitle="Project Management" data-processTitle="Prioritize & Estimate" data-subfolder="\ab-products\project\management" data-helpLink="\Subsystems\webc\Content\web_user\cap_budget\anal_proj_fund\prior_project_requests.htm" data-helpSystem="END USER" data-dashboardLayout="" data-dashboardView="" title="Record project priorities.  Estimate baseline schedules and durations.  Review approved project funding by year." oncontextmenu="return false;" onMouseUp="openPtask(this,event);">
                <h2 class="applications-process-title" title="Record project priorities.  Estimate baseline schedules and durations.  Review approved project funding by year.">
                    <span class="process-title-text">Prioritize & Estimate</span>
                </h2>
                <div class="bucket-wrapper" id="wrapper_abprojectmanagement_prioritizeEstimate">
                        <ol class="ptask-labels">
                            <li></li>
                            <ol class="process-tasks">
                                <li><a href="ab-project-prioritize-edit.axvw" rel="pTask" data-taskId="Prioritize Projects" data-taskIcon="ab-icon-task.gif">Prioritize Projects</a></li>
                                <li><a href="ab-proj-project-profiles.axvw" rel="pTask" data-taskId="Review Project Profiles" data-taskIcon="ab-icon-task.gif">Review Project Profiles</a></li>
                                <li><a href="ab-project-actions-edit.axvw" rel="pTask" data-taskId="Add or Edit Actions" data-taskIcon="ab-icon-task.gif">Add or Edit Actions</a></li>
                                <li><a href="ab-project-actions-est-base-sched-edit.axvw" rel="pTask" data-taskId="Estimate Baseline Schedule and Durations" data-taskIcon="ab-icon-task.gif">Estimate Baseline Schedule and Durations</a></li>
                                <li><a href="ab-project-actions-est-base-costs-edit.axvw" rel="pTask" data-taskId="Estimate Baseline Costs" data-taskIcon="ab-icon-task.gif">Estimate Baseline Costs</a></li>
                                <li><a href="ab-projects-approved-by-year-report.axvw" rel="pTask" data-taskId="View Approved Projects by Year" data-taskIcon="ab-icon-task.gif">View Approved Projects by Year</a></li>
                            </ol>
                        </ol>
                </div>
            </div>
            <div class="bucket-application " data-productId="AbProject" data-activityId="AbProjectManagement" data-processId="Approve" data-productTitle="Capital Project Management" data-activityTitle="Project Management" data-processTitle="Approve" data-subfolder="\ab-products\project\management" data-helpLink="\Subsystems\webc\Content\web_user\cap_budget\work_proj_fund\approve_proj\approve_proj_request.htm" data-helpSystem="END USER" data-dashboardLayout="" data-dashboardView="" title="Route projects for notification and approval or approve specific projects that are within your purview.  Compare proposed projects against the approved funding for each year." oncontextmenu="return false;" onMouseUp="openPtask(this,event);">
                <h2 class="applications-process-title" title="Route projects for notification and approval or approve specific projects that are within your purview.  Compare proposed projects against the approved funding for each year.">
                    <span class="process-title-text">Approve</span>
                </h2>
                <div class="bucket-wrapper" id="wrapper_abprojectmanagement_approve">
                        <ol class="ptask-labels">
                            <li></li>
                            <ol class="process-tasks">
                                <li><a href="ab-project-route-for-approval.axvw" rel="pTask" data-taskId="Route Projects for Approval" data-taskIcon="ab-icon-task.gif">Route Projects for Approval</a></li>
                                <li><a href="ab-project-approve.axvw" rel="pTask" data-taskId="Approve Project Requests" data-taskIcon="ab-icon-task.gif">Approve Project Requests</a></li>
                                <li><a href="ab-projects-approved-by-year-report.axvw" rel="pTask" data-taskId="View Approved Projects Funding by Year" data-taskIcon="ab-icon-task.gif">View Approved Projects Funding by Year</a></li>
                            </ol>
                        </ol>
                </div>
            </div>
        </div>
        <div class="page-row full-height" >
            <h3 class="application-title" data-activityId="AbProjectManagement">Project Management</h3>
            <hr class="application-horizontal-rule">
            <div class="bucket-application " data-productId="AbProject" data-activityId="AbProjectManagement" data-processId="Plan" data-productTitle="Capital Project Management" data-activityTitle="Project Management" data-processTitle="Plan" data-subfolder="\ab-products\project\management" data-helpLink="\Subsystems\webc\Content\web_user\projects\planning\add_proj_actions.htm" data-helpSystem="END USER" data-dashboardLayout="" data-dashboardView="" title="Get the top-level summary and performance statistics for all active projects throughout all of your sites.  Spot lagging projects and budget variances." oncontextmenu="return false;" onMouseUp="openPtask(this,event);">
                <h2 class="applications-process-title" title="Get the top-level summary and performance statistics for all active projects throughout all of your sites.  Spot lagging projects and budget variances.">
                    <span class="process-title-text">Plan</span>
                </h2>
                <div class="bucket-wrapper" id="wrapper_abprojectmanagement_plan">
                        <ol class="ptask-labels">
                            <li></li>
                            <ol class="process-tasks">
                                <li><a href="ab-proj-project-profiles.axvw" rel="pTask" data-taskId="Review Project Profiles" data-taskIcon="ab-icon-task.gif">Review Project Profiles</a></li>
                                <li><a href="ab-proj-add-or-edit-actions.axvw" rel="pTask" data-taskId="Add or Edit Actions" data-taskIcon="ab-icon-task.gif">Add or Edit Actions</a></li>
                                <li><a href="ab-proj-actions-with-docs.axvw" rel="pTask" data-taskId="View Actions with Documents and Drawings" data-taskIcon="ab-icon-task.gif">View Actions with Documents and Drawings</a></li>
                                <li><a href="ab-proj-assign-team.axvw" rel="pTask" data-taskId="Assign Team" data-taskIcon="ab-icon-task.gif">Assign Team</a></li>
                                <li><a href="ab-proj-estimate-actions-sched-design.axvw" rel="pTask" data-taskId="Estimate Design Schedule and Durations" data-taskIcon="ab-icon-task.gif">Estimate Design Schedule and Durations</a></li>
                                <li><a href="ab-proj-estimate-actions-costs-design.axvw" rel="pTask" data-taskId="Estimate Design Costs" data-taskIcon="ab-icon-task.gif">Estimate Design Costs</a></li>
                                <li><a href="ab-proj-create-work-pkgs.axvw" rel="pTask" data-taskId="Add or Edit Work Packages" data-taskIcon="ab-icon-task.gif">Add or Edit Work Packages</a></li>
                                <li><a href="ab-proj-variances-design-to-baseline.axvw" rel="pTask" data-taskId="Review Variances - Design to Baseline" data-taskIcon="ab-icon-task.gif">Review Variances - Design to Baseline</a></li>
                                <li><a href="ab-proj-console-planning.axvw" rel="pTask" data-taskId="Management Console: Plan" data-taskIcon="ab-icon-task.gif">Management Console: Plan</a></li>
                            </ol>
                        </ol>
                </div>
            </div>
            <div class="bucket-application " data-productId="AbProject" data-activityId="AbProjectManagement" data-processId="Procure" data-productTitle="Capital Project Management" data-activityTitle="Project Management" data-processTitle="Procure" data-subfolder="\ab-products\project\management" data-helpLink="\Subsystems\webc\Content\web_user\projects\procurement\add_edit_vendors.htm" data-helpSystem="END USER" data-dashboardLayout="" data-dashboardView="" title="Track vendors and vendor performance.  Record bids from vendors.  Approve winning bids.  Record and publish contracts as part of the central project documentation." oncontextmenu="return false;" onMouseUp="openPtask(this,event);">
                <h2 class="applications-process-title" title="Track vendors and vendor performance.  Record bids from vendors.  Approve winning bids.  Record and publish contracts as part of the central project documentation.">
                    <span class="process-title-text">Procure</span>
                </h2>
                <div class="bucket-wrapper" id="wrapper_abprojectmanagement_procure">
                        <ol class="ptask-labels">
                            <li></li>
                            <ol class="process-tasks">
                                <li><a href="ab-proj-add-and-edit-vendors.axvw" rel="pTask" data-taskId="Add and Edit Vendors" data-taskIcon="ab-icon-task.gif">Add and Edit Vendors</a></li>
                                <li><a href="ab-proj-update-work-pkgs.axvw" rel="pTask" data-taskId="Update Work Package" data-taskIcon="ab-icon-task.gif">Update Work Package</a></li>
                                <li><a href="ab-proj-review-actions-by-work-pkg.axvw" rel="pTask" data-taskId="Review Actions by Work Package" data-taskIcon="ab-icon-task.gif">Review Actions by Work Package</a></li>
                                <li><a href="ab-proj-enter-bids.axvw" rel="pTask" data-taskId="Enter Bids" data-taskIcon="ab-icon-task.gif">Enter Bids</a></li>
                                <li><a href="ab-proj-review-variances-bids-to-baseline-and-design.axvw" rel="pTask" data-taskId="Review Variances - Bids to Baseline and Design" data-taskIcon="ab-icon-task.gif">Review Variances - Bids to Baseline and Design</a></li>
                                <li><a href="ab-proj-review-vendors-invoices-and-payments.axvw" rel="pTask" data-taskId="Review Vendors Invoices and Payments" data-taskIcon="ab-icon-task.gif">Review Vendors Invoices and Payments</a></li>
                                <li><a href="ab-proj-report-vendors-performance.axvw" rel="pTask" data-taskId="Report Vendors Performance" data-taskIcon="ab-icon-task.gif">Report Vendors Performance</a></li>
                                <li><a href="ab-proj-approve-bids.axvw" rel="pTask" data-taskId="Approve Bids" data-taskIcon="ab-icon-task.gif">Approve Bids</a></li>
                                <li><a href="ab-proj-record-and-publish-contracts.axvw" rel="pTask" data-taskId="Record and Publish Contracts" data-taskIcon="ab-icon-task.gif">Record and Publish Contracts</a></li>
                                <li><a href="ab-proj-console-procurement.axvw" rel="pTask" data-taskId="Management Console: Procure" data-taskIcon="ab-icon-task.gif">Management Console: Procure</a></li>
                            </ol>
                        </ol>
                </div>
            </div>
            <div class="bucket-application " data-productId="AbProject" data-activityId="AbProjectManagement" data-processId="Contract" data-productTitle="Capital Project Management" data-activityTitle="Project Management" data-processTitle="Contract" data-subfolder="\ab-products\project\management" data-helpLink="\Subsystems\webc\Content\web_user\projects\vendor\bidding_on_work_packages.htm" data-helpSystem="END USER" data-dashboardLayout="" data-dashboardView="" title="Contractors use this process to review work that is out for bid, review posted contracts, request change orders, update task status, create invoices, and review your payment history for your projects." oncontextmenu="return false;" onMouseUp="openPtask(this,event);">
                <h2 class="applications-process-title" title="Contractors use this process to review work that is out for bid, review posted contracts, request change orders, update task status, create invoices, and review your payment history for your projects.">
                    <span class="process-title-text">Contract</span>
                </h2>
                <div class="bucket-wrapper" id="wrapper_abprojectmanagement_contract">
                        <ol class="ptask-labels">
                            <li></li>
                            <ol class="process-tasks">
                                <li><a href="ab-proj-review-work-packages-out-for-bid.axvw" rel="pTask" data-taskId="Review Work Packages Out for Bid" data-taskIcon="ab-icon-task.gif">Review Work Packages Out for Bid</a></li>
                                <li><a href="ab-proj-view-contracts.axvw" rel="pTask" data-taskId="View Contracts" data-taskIcon="ab-icon-task.gif">View Contracts</a></li>
                                <li><a href="ab-proj-review-actions-by-date-and-time.axvw" rel="pTask" data-taskId="Review Actions by Date and Time" data-taskIcon="ab-icon-task.gif">Review Actions by Date and Time</a></li>
                                <li><a href="ab-proj-request-change-order.axvw" rel="pTask" data-taskId="Request Change Order" data-taskIcon="ab-icon-task.gif">Request Change Order</a></li>
                                <li><a href="ab-proj-view-change-orders.axvw" rel="pTask" data-taskId="View Change Orders" data-taskIcon="ab-icon-task.gif">View Change Orders</a></li>
                                <li><a href="ab-proj-update-actions.axvw" rel="pTask" data-taskId="Update Actions" data-taskIcon="ab-icon-task.gif">Update Actions</a></li>
                                <li><a href="ab-proj-create-invoices.axvw" rel="pTask" data-taskId="Create Invoices" data-taskIcon="ab-icon-task.gif">Create Invoices</a></li>
                                <li><a href="ab-proj-review-my-invoices-and-payments.axvw" rel="pTask" data-taskId="Review My Invoices and Payments" data-taskIcon="ab-icon-task.gif">Review My Invoices and Payments</a></li>
                            </ol>
                        </ol>
                </div>
            </div>
            <div class="bucket-application " data-productId="AbProject" data-activityId="AbProjectManagement" data-processId="Execute" data-productTitle="Capital Project Management" data-activityTitle="Project Management" data-processTitle="Execute" data-subfolder="\ab-products\project\management" data-helpLink="\Subsystems\webc\Content\web_user\projects\use_management_console.htm" data-helpSystem="END USER" data-dashboardLayout="" data-dashboardView="" title="Manage all aspects of planning, procurement, communcation, scheduling, changes, and costs using this centralized console into all sites, projects, actions, and schedules.  Use benchmark reports to find at-risk projects needing the most urgent attention.  Access project documents and contracts." oncontextmenu="return false;" onMouseUp="openPtask(this,event);">
                <h2 class="applications-process-title" title="Manage all aspects of planning, procurement, communcation, scheduling, changes, and costs using this centralized console into all sites, projects, actions, and schedules.  Use benchmark reports to find at-risk projects needing the most urgent attention.  Access project documents and contracts.">
                    <span class="process-title-text">Execute</span>
                </h2>
                <div class="bucket-wrapper" id="wrapper_abprojectmanagement_execute">
                        <ol class="ptask-labels">
                            <li></li>
                            <ol class="process-tasks">
                                <li><a href="ab-proj-project-profiles.axvw" rel="pTask" data-taskId="Review Project Profiles" data-taskIcon="ab-icon-task.gif">Review Project Profiles</a></li>
                            </ol>
                            <li class="empty-taskgroup-title">&nbsp;</li>
                            <ol class="process-tasks">
                                <li><a href="ab-proj-mng.axvw" rel="pTask" data-taskId="Management Console" data-taskIcon="ab-icon-task.gif">Management Console</a></li>
                            </ol>
                            <li class="empty-taskgroup-title">&nbsp;</li>
                            <ol class="process-tasks">
                                <li><a href="ab-proj-project-update-status.axvw" rel="pTask" data-taskId="Update Project Status / Close Project" data-taskIcon="ab-icon-task.gif">Update Project Status / Close Project</a></li>
                            </ol>
                        </ol>
                </div>
            </div>
            <div class="bucket-application " data-productId="AbProject" data-activityId="AbProjectManagement" data-processId="Monitor" data-productTitle="Capital Project Management" data-activityTitle="Project Management" data-processTitle="Monitor" data-subfolder="\ab-products\project\management" data-helpLink="\Subsystems\webc\Content\web_user\projects\reports\monitor\monitor_reports_over.htm" data-helpSystem="END USER" data-dashboardLayout="" data-dashboardView="" title="Review project benchmark metrics and scorecards that weight risk to the schedule and budget.  Review milestones and projects behind schedule or over budget.  Use the projects calendar to check on time dependencies.  Use spatial and organizational maps to review impact on locations, divisions, or departments." oncontextmenu="return false;" onMouseUp="openPtask(this,event);">
                <h2 class="applications-process-title" title="Review project benchmark metrics and scorecards that weight risk to the schedule and budget.  Review milestones and projects behind schedule or over budget.  Use the projects calendar to check on time dependencies.  Use spatial and organizational maps to review impact on locations, divisions, or departments.">
                    <span class="process-title-text">Monitor</span>
                </h2>
                <div class="bucket-wrapper" id="wrapper_abprojectmanagement_monitor">
                        <ol class="ptask-labels">
                            <li></li>
                            <ol class="process-tasks">
                                <li><a href="ab-proj-projects-scorecard.axvw" rel="pTask" data-taskId="View Projects Scorecard" data-taskIcon="ab-icon-task.gif">View Projects Scorecard</a></li>
                                <li><a href="ab-proj-work-packages-scorecard.axvw" rel="pTask" data-taskId="View Work Packages Scorecard" data-taskIcon="ab-icon-task.gif">View Work Packages Scorecard</a></li>
                                <li><a href="ab-proj-project-statuses.axvw" rel="pTask" data-taskId="View Project Statuses" data-taskIcon="ab-icon-task.gif">View Project Statuses</a></li>
                                <li><a href="ab-proj-work-packages-statuses.axvw" rel="pTask" data-taskId="View Work Packages Statuses" data-taskIcon="ab-icon-task.gif">View Work Packages Statuses</a></li>
                                <li><a href="ab-proj-milestone-statuses-by-project.axvw" rel="pTask" data-taskId="View Milestone Statuses by Project" data-taskIcon="ab-icon-task.gif">View Milestone Statuses by Project</a></li>
                                <li><a href="ab-proj-projects-behind-schedule.axvw" rel="pTask" data-taskId="Calculate and View Projects Behind Schedule" data-taskIcon="ab-icon-task.gif">Calculate and View Projects Behind Schedule</a></li>
                                <li><a href="ab-proj-projects-over-budget.axvw" rel="pTask" data-taskId="View Projects Over Budget" data-taskIcon="ab-icon-task.gif">View Projects Over Budget</a></li>
                            </ol>
                            <li class="empty-taskgroup-title">&nbsp;</li>
                            <ol class="process-tasks">
                                <li><a href="ab-proj-projects-calendar.axvw" rel="pTask" data-taskId="View Projects Calendar" data-taskIcon="ab-icon-task.gif">View Projects Calendar</a></li>
                                <li><a href="ab-proj-projects-map.axvw" rel="pTask" data-taskId="View Projects Map" data-taskIcon="ab-icon-task.gif">View Projects Map</a></li>
                                <li><a href="ab-proj-active-projects-timeline.axvw" rel="pTask" data-taskId="View Active Projects Timeline" data-taskIcon="ab-icon-task.gif">View Active Projects Timeline</a></li>
                                <li><a href="ab-proj-projects-org-impact-by-building.axvw" rel="pTask" data-taskId="View Projects Org. Impact by Building" data-taskIcon="ab-icon-task.gif">View Projects Org. Impact by Building</a></li>
                                <li><a href="ab-proj-projects-org-impact-by-room.axvw" rel="pTask" data-taskId="View Projects Org. Impact by Room" data-taskIcon="ab-icon-task.gif">View Projects Org. Impact by Room</a></li>
                                <li><a href="ab-proj-projects-metrics.axvw" rel="pTask" data-taskId="View Projects Metrics" data-taskIcon="ab-icon-task.gif">View Projects Metrics</a></li>
                                <li><a href="ab-proj-projects-analysis.axvw" rel="pTask" data-taskId="View Projects Analysis" data-taskIcon="ab-icon-task.gif">View Projects Analysis</a></li>
                                <li><a href="ab-proj-s-curve.axvw" rel="pTask" data-taskId="View S-Curve Analysis" data-taskIcon="ab-icon-task.gif">View S-Curve Analysis</a></li>
                            </ol>
                            <li class="empty-taskgroup-title">&nbsp;</li>
                            <ol class="process-tasks">
                                <li><a href="ab-proj-projects-compare-to-budget.axvw" rel="pTask" data-taskId="Compare Project Costs to Budget" data-taskIcon="ab-icon-task.gif">Compare Project Costs to Budget</a></li>
                                <li><a href="ab-proj-projects-compare-to-budget-2d.axvw" rel="pTask" data-taskId="Compare Annual Project Costs to Budget" data-taskIcon="ab-icon-task.gif">Compare Annual Project Costs to Budget</a></li>
                            </ol>
                        </ol>
                </div>
            </div>
        </div>
        <div class="page-row full-height" >
            <h3 class="application-title" data-activityId="AbProjectManagement">Project Management</h3>
            <hr class="application-horizontal-rule">
            <div class="bucket-application " data-productId="AbProject" data-activityId="AbProjectManagement" data-processId="Manage" data-productTitle="Capital Project Management" data-activityTitle="Project Management" data-processTitle="Manage" data-subfolder="\ab-products\project\management" data-helpLink="\Subsystems\webc\Content\web_user\projects\console\console_overview.htm" data-helpSystem="END USER" data-dashboardLayout="" data-dashboardView="" title="" oncontextmenu="return false;" onMouseUp="openPtask(this,event);">
                <h2 class="applications-process-title" title="">
                    <span class="process-title-text">Manage</span>
                </h2>
                <div class="bucket-wrapper" id="wrapper_abprojectmanagement_manage">
                        <ol class="ptask-labels">
                            <li></li>
                            <ol class="process-tasks">
                                <li><a href="ab-proj-mng.axvw" rel="pTask" data-taskId="Management Console" data-taskIcon="ab-icon-task.gif">Management Console</a></li>
                            </ol>
                        </ol>
                </div>
            </div>
            <div class="bucket-application " data-productId="AbProject" data-activityId="AbProjectManagement" data-processId="Review History" data-productTitle="Capital Project Management" data-activityTitle="Project Management" data-processTitle="Review History" data-subfolder="\ab-products\project\management" data-helpLink="\Subsystems\webc\Content\web_user\projects\reports\review_history_reports.htm" data-helpSystem="END USER" data-dashboardLayout="" data-dashboardView="" title="Review historical project data including vendor payments, costs by activity and work package, schedule variances, vendor project participation and vendor performance history." oncontextmenu="return false;" onMouseUp="openPtask(this,event);">
                <h2 class="applications-process-title" title="Review historical project data including vendor payments, costs by activity and work package, schedule variances, vendor project participation and vendor performance history.">
                    <span class="process-title-text">Review History</span>
                </h2>
                <div class="bucket-wrapper" id="wrapper_abprojectmanagement_reviewHistory">
                        <ol class="ptask-labels">
                            <li></li>
                            <ol class="process-tasks">
                                <li><a href="ab-proj-review-payments.axvw" rel="pTask" data-taskId="Review Payments" data-taskIcon="ab-icon-task.gif">Review Payments</a></li>
                                <li><a href="ab-proj-review-costs-by-activity-type.axvw" rel="pTask" data-taskId="Review Costs by Action Type" data-taskIcon="ab-icon-task.gif">Review Costs by Action Type</a></li>
                                <li><a href="ab-proj-review-costs-by-work-package.axvw" rel="pTask" data-taskId="Review Costs by Work Package" data-taskIcon="ab-icon-task.gif">Review Costs by Work Package</a></li>
                                <li><a href="ab-proj-review-work-package-schedule-variances.axvw" rel="pTask" data-taskId="Review Work Package Schedule Variances" data-taskIcon="ab-icon-task.gif">Review Work Package Schedule Variances</a></li>
                                <li><a href="ab-proj-review-actions-schedule-variances.axvw" rel="pTask" data-taskId="Review Actions Schedule Variances" data-taskIcon="ab-icon-task.gif">Review Actions Schedule Variances</a></li>
                                <li><a href="ab-proj-review-costs-by-project.axvw" rel="pTask" data-taskId="Review Costs by Project" data-taskIcon="ab-icon-task.gif">Review Costs by Project</a></li>
                                <li><a href="ab-proj-review-vendor-performance-history.axvw" rel="pTask" data-taskId="Review Vendor Performance History" data-taskIcon="ab-icon-task.gif">Review Vendor Performance History</a></li>
                                <li><a href="ab-proj-review-vendors-invoices-and-payments.axvw" rel="pTask" data-taskId="Review Vendors Invoices and Payments" data-taskIcon="ab-icon-task.gif">Review Vendors Invoices and Payments</a></li>
                                <li><a href="ab-proj-review-vendors-used-by-project-type.axvw" rel="pTask" data-taskId="Review Vendors used by Project Type" data-taskIcon="ab-icon-task.gif">Review Vendors used by Project Type</a></li>
                            </ol>
                        </ol>
                </div>
            </div>
            <div class="bucket-application " data-productId="AbProject" data-activityId="AbProjectManagement" data-processId="FCPM" data-productTitle="Capital Project Management" data-activityTitle="Project Management" data-processTitle="Facility Construction Project Manager" data-subfolder="\ab-products\project\management" data-helpLink="\Subsystems\webc\Content\web_user\projects\fcpm\fcpm_over.htm" data-helpSystem="END USER" data-dashboardLayout="" data-dashboardView="" title="" oncontextmenu="return false;" onMouseUp="openPtask(this,event);">
                <h2 class="applications-process-title" title="">
                    <span class="process-title-text">Facility Construction Project Manager</span>
                </h2>
                <div class="bucket-wrapper" id="wrapper_abprojectmanagement_fcpm">
                        <ol class="ptask-labels">
                            <li></li>
                            <ol class="process-tasks">
                                <li><a href="ab-proj-fcpm-dash-qc.axvw" rel="pTask" data-taskId="View Project Quality Control Dashboard" data-taskIcon="ab-icon-task.gif">View Project Quality Control Dashboard</a></li>
                                <li><a href="ab-proj-fcpm-cps.axvw" rel="pTask" data-taskId="View Commitment Progress Status (CPS)" data-taskIcon="ab-icon-task.gif">View Commitment Progress Status (CPS)</a></li>
                                <li><a href="ab-proj-fcpm-wip.axvw" rel="pTask" data-taskId="View Work-In-Place (WIP) Projections" data-taskIcon="ab-icon-task.gif">View Work-In-Place (WIP) Projections</a></li>
                            </ol>
                            <li>Invoices and Holdbacks:</li>
                            <ol class="process-tasks">
                                <li><a href="ab-proj-fcpm-invs-rcd.axvw" rel="pTask" data-taskId="Record Invoices by Vendor" data-taskIcon="ab-icon-task.gif">Record Invoices by Vendor</a></li>
                                <li><a href="ab-proj-fcpm-invs.axvw" rel="pTask" data-taskId="Edit and Approve Invoices" data-taskIcon="ab-icon-task.gif">Edit and Approve Invoices</a></li>
                                <li><a href="ab-proj-fcpm-chg-edit.axvw" rel="pTask" data-taskId="Manage Change Orders" data-taskIcon="ab-icon-task.gif">Manage Change Orders</a></li>
                            </ol>
                        </ol>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
$(document).ready(function() {
    $('#navigationTabs').find('a').click(function() {return false;});
    initDandDFavorites();
    setPageDimensions();
    bindTaskContextMenu();
    localizeFavoritesDisplayText();
    loadFavoritesBuckets();
    modifyProcessTitleDisplay();
    pageTallPTaskBuckets();
});
</script>