<div class="nav-pages" id="StrategicFinancialAnalysis">
    <div class="page">
        <div class="page-row full-height" >
            <h3 class="application-title" data-activityId="AbRPLMStrategicFinancialAnalysis">Strategic Financial Analysis</h3>
            <hr class="application-horizontal-rule">
            <div id="appProcFavoritesBucket" class="bucket-application bucket-background-light " data-activityId="" data-processId="" oncontextmenu="return false;">
                <h2 class="applications-process-title" data-processId="" title="Most often used tasks and reports.">My Favorites</h2>
                <div class="bucket-wrapper" id="wrapper_b2036952-72ac-40ca-9505-485cb6e9d2f0">
                    <div class="favorites-drop-target">
                        <span class="favorites-add-target"></span>
                        <span class="favorites-delete-target">&nbsp;</span>
                    </div>
                    <div class="favorites" onMouseUp="openPtask(this,event);">
                        <ol class="favorites-items">
                        </ol>
                    </div>
                </div>
            </div>
            <div class="bucket-application " data-productId="AbRPLM" data-activityId="AbRPLMStrategicFinancialAnalysis" data-processId="Background Data" data-productTitle="Real Estate Portfolio Management" data-activityTitle="Strategic Financial Analysis" data-processTitle="Background Data" data-subfolder="\ab-products\rplm\finanal\console" data-helpLink="/Subsystems/webc/Content/sfa/background/overview.htm" data-helpSystem="END USER" data-dashboardLayout="" data-dashboardView="" title="" oncontextmenu="return false;" onMouseUp="openPtask(this,event);">
                <h2 class="applications-process-title" title="">
                    <span class="process-title-text">Background Data</span>
                </h2>
                <div class="bucket-wrapper" id="wrapper_abrplmstrategicfinancialanalysis_backgroundData">
                        <ol class="ptask-labels">
                            <li></li>
                            <ol class="process-tasks">
                                <li><a href="ab-coa-sources-and-cost-groupings-edit.axvw" rel="pTask" data-taskId="Define Chart of Account Sources" data-taskIcon="ab-icon-task.gif">Define Chart of Account Sources</a></li>
                                <li><a href="ab-ac-edit.axvw" rel="pTask" data-taskId="Define Accounts Hierarchy" data-taskIcon="ab-icon-task.gif">Define Accounts Hierarchy</a></li>
                                <li><a href="ab-ac-edit-gd-dflt.axvw" rel="pTask" data-taskId="Define Accounts" data-taskIcon="ab-icon-task.gif">Define Accounts</a></li>
                                <li><a href="ab-repm-lsadmin-fiscal-year-def.axvw" rel="pTask" data-taskId="Define Fiscal Year" data-taskIcon="ab-icon-task.gif">Define Fiscal Year</a></li>
                            </ol>
                            <li class="empty-taskgroup-title">&nbsp;</li>
                            <ol class="process-tasks">
                                <li><a href="ab-rplm-cost-mgmt-cost-class.axvw" rel="pTask" data-taskId="Define Cost Classes" data-taskIcon="ab-icon-task.gif">Define Cost Classes</a></li>
                                <li><a href="ab-rplm-cost-categories-define.axvw" rel="pTask" data-taskId="Define Cost Categories" data-taskIcon="ab-icon-task.gif">Define Cost Categories</a></li>
                                <li><a href="ab-rplm-cost-mgmt-cost-cat-by-cost-class.axvw" rel="pTask" data-taskId="Define Cost Categories by Cost Class" data-taskIcon="ab-icon-task.gif">Define Cost Categories by Cost Class</a></li>
                            </ol>
                            <li class="empty-taskgroup-title">&nbsp;</li>
                            <ol class="process-tasks">
                                <li><a href="ab-probtype-edit.axvw" rel="pTask" data-taskId="Define Problem Types" data-taskIcon="ab-icon-task.gif">Define Problem Types</a></li>
                                <li><a href="ab-finanal-activitype-edit.axvw" rel="pTask" data-taskId="Define Action Types" data-taskIcon="ab-icon-task.gif">Define Action Types</a></li>
                                <li><a href="ab-def-geo-loc.axvw" rel="pTask" data-taskId="Define Geographical Locations" data-taskIcon="ab-icon-task.gif">Define Geographical Locations</a></li>
                            </ol>
                            <li class="empty-taskgroup-title">&nbsp;</li>
                            <ol class="process-tasks">
                                <li><a href="ab-eam-reconcile-console.axvw" rel="pTask" data-taskId="Reconcile Enterprise Assets " data-taskIcon="ab-icon-task.gif">Reconcile Enterprise Assets </a></li>
                            </ol>
                        </ol>
                </div>
            </div>
            <div class="bucket-application " data-productId="AbRPLM" data-activityId="AbRPLMStrategicFinancialAnalysis" data-processId="Financial Analysis" data-productTitle="Real Estate Portfolio Management" data-activityTitle="Strategic Financial Analysis" data-processTitle="Financial Analysis" data-subfolder="\ab-products\rplm\finanal\console" data-helpLink="/Subsystems/webc/Content/sfa/financial_anal/overview.htm" data-helpSystem="END USER" data-dashboardLayout="" data-dashboardView="" title="" oncontextmenu="return false;" onMouseUp="openPtask(this,event);">
                <h2 class="applications-process-title" title="">
                    <span class="process-title-text">Financial Analysis</span>
                </h2>
                <div class="bucket-wrapper" id="wrapper_abrplmstrategicfinancialanalysis_financialAnalysis">
                        <ol class="ptask-labels">
                            <li></li>
                            <ol class="process-tasks">
                                <li><a href="ab-finanal-console.axvw" rel="pTask" data-taskId="Financial Analysis Console" data-taskIcon="ab-icon-task.gif">Financial Analysis Console</a></li>
                            </ol>
                            <li class="empty-taskgroup-title">&nbsp;</li>
                            <ol class="process-tasks">
                                <li><a href="ab-rplm-cost-mgmt-cash-flow-rep.axvw" rel="pTask" data-taskId="Cash Flow Report" data-taskIcon="ab-icon-task.gif">Cash Flow Report</a></li>
                            </ol>
                            <li>Aggregate and Forecast Costs for…</li>
                            <ol class="process-tasks">
                                <li><a href="ab-finanal-aggregate-forecast-costs-bl.axvw" rel="pTask" data-taskId="… Buildings" data-taskIcon="ab-icon-task.gif">… Buildings</a></li>
                                <li><a href="ab-finanal-aggregate-forecast-costs-pr.axvw" rel="pTask" data-taskId="… Properties" data-taskIcon="ab-icon-task.gif">… Properties</a></li>
                                <li><a href="ab-finanal-aggregate-forecast-costs-proj.axvw" rel="pTask" data-taskId="… Projects" data-taskIcon="ab-icon-task.gif">… Projects</a></li>
                                <li><a href="ab-finanal-aggregate-forecast-costs-eq.axvw" rel="pTask" data-taskId="… Equipment" data-taskIcon="ab-icon-task.gif">… Equipment</a></li>
                            </ol>
                            <li>Cost Wizard for …</li>
                            <ol class="process-tasks">
                                <li><a href="ab-rplm-cost-mgmt-costs-wiz-ls-bl-pr.axvw" rel="pTask" data-taskId="... Leases, Buildings and Properties" data-taskIcon="ab-icon-task.gif">... Leases, Buildings and Properties</a></li>
                                <li><a href="ab-rplm-cost-mgmt-costs-wiz-ac.axvw" rel="pTask" data-taskId="...Accounts" data-taskIcon="ab-icon-task.gif">...Accounts</a></li>
                            </ol>
                        </ol>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
$(document).ready(function() {
    $('#navigationTabs').find('a').click(function() {return false;});
    initDandDFavorites();
    setPageDimensions();
    bindTaskContextMenu();
    localizeFavoritesDisplayText();
    loadFavoritesBuckets();
    modifyProcessTitleDisplay();
    pageTallPTaskBuckets();
});
</script>