<div class="nav-pages" id="CostAdministration">
    <div class="page">
        <div class="page-row full-height" >
            <h3 class="application-title" data-activityId="AbRPLMCosts">Cost Administration</h3>
            <hr class="application-horizontal-rule">
            <div id="appProcFavoritesBucket" class="bucket-application bucket-background-light " data-activityId="" data-processId="" oncontextmenu="return false;">
                <h2 class="applications-process-title" data-processId="" title="Most often used tasks and reports.">My Favorites</h2>
                <div class="bucket-wrapper" id="wrapper_bb3faed8-af0e-45bd-9c6e-5c65eaf829bf">
                    <div class="favorites-drop-target">
                        <span class="favorites-add-target"></span>
                        <span class="favorites-delete-target">&nbsp;</span>
                    </div>
                    <div class="favorites" onMouseUp="openPtask(this,event);">
                        <ol class="favorites-items">
                        </ol>
                    </div>
                </div>
            </div>
            <div class="bucket-application " data-productId="AbRPLM" data-activityId="AbRPLMCosts" data-processId="Business Process Owner" data-productTitle="Real Estate Portfolio Management" data-activityTitle="Cost Administration" data-processTitle="Business Process Owner" data-subfolder="\ab-products\rplm\costs" data-helpLink="\Subsystems\webc\Content\fim\cost_admin\bpo_cost_admin.htm" data-helpSystem="END USER" data-dashboardLayout="" data-dashboardView="" title="" oncontextmenu="return false;" onMouseUp="openPtask(this,event);">
                <h2 class="applications-process-title" title="">
                    <span class="process-title-text">Business Process Owner</span>
                </h2>
                <div class="bucket-wrapper" id="wrapper_abrplmcosts_businessProcessOwner">
                        <ol class="ptask-labels">
                            <li></li>
                            <ol class="process-tasks">
                                <li><a href="ab-coa-sources-and-cost-groupings-edit.axvw" rel="pTask" data-taskId="Define Chart of Account Sources" data-taskIcon="ab-icon-task.gif">Define Chart of Account Sources</a></li>
                                <li><a href="ab-coa-cost_tran-by-ac-cost-groupings.axvw" rel="pTask" data-taskId="Cost Transactions by COA Cost Groupings" data-taskIcon="ab-icon-task.gif">Cost Transactions by COA Cost Groupings</a></li>
                                <li><a href="ab-ac-edit.axvw" rel="pTask" data-taskId="Define Accounts" data-taskIcon="ab-icon-task.gif">Define Accounts</a></li>
                            </ol>
                            <li class="empty-taskgroup-title">&nbsp;</li>
                            <ol class="process-tasks">
                                <li><a href="ab-repm-cost-def-idx.axvw" rel="pTask" data-taskId="Define Indexes" data-taskIcon="ab-icon-task.gif">Define Indexes</a></li>
                                <li><a href="ab-rplm-cost-mgmt-cost-class.axvw" rel="pTask" data-taskId="Define Cost Classes" data-taskIcon="ab-icon-task.gif">Define Cost Classes</a></li>
                                <li><a href="ab-rplm-cost-mgmt-cost-cat-by-cost-class.axvw" rel="pTask" data-taskId="Define Cost Categories by Cost Class" data-taskIcon="ab-icon-task.gif">Define Cost Categories by Cost Class</a></li>
                                <li><a href="ab-repm-lsadmin-fiscal-year-def.axvw" rel="pTask" data-taskId="Define Fiscal Year" data-taskIcon="ab-icon-task.gif">Define Fiscal Year</a></li>
                            </ol>
                            <li class="empty-taskgroup-title">&nbsp;</li>
                            <ol class="process-tasks">
                                <li><a href="ab-rplm-chrbk-prorate-ls-area-method.axvw" rel="pTask" data-taskId="Select Lease Area Method" data-taskIcon="ab-icon-task.gif">Select Lease Area Method</a></li>
                            </ol>
                            <li class="empty-taskgroup-title">&nbsp;</li>
                            <ol class="process-tasks">
                                <li><a href="ab-rplm-manage-parcels-tax.axvw" rel="pTask" data-taskId="Manage Parcels" data-taskIcon="ab-icon-task.gif">Manage Parcels</a></li>
                                <li><a href="ab-ca-def-cont.axvw" rel="pTask" data-taskId="Define Contacts" data-taskIcon="ab-icon-task.gif">Define Contacts</a></li>
                                <li><a href="ab-rplm-tax-activitytype-edit.axvw" rel="pTask" data-taskId="Define Action Types for Taxes" data-taskIcon="ab-icon-task.gif">Define Action Types for Taxes</a></li>
                            </ol>
                        </ol>
                </div>
            </div>
            <div class="bucket-application " data-productId="AbRPLM" data-activityId="AbRPLMCosts" data-processId="Cost Administrator" data-productTitle="Real Estate Portfolio Management" data-activityTitle="Cost Administration" data-processTitle="Cost Administrator" data-subfolder="\ab-products\rplm\costs" data-helpLink="\Subsystems\webc\Content\web_user\cost_admin\cost_admin.htm" data-helpSystem="END USER" data-dashboardLayout="" data-dashboardView="" title="" oncontextmenu="return false;" onMouseUp="openPtask(this,event);">
                <h2 class="applications-process-title" title="">
                    <span class="process-title-text">Cost Administrator</span>
                </h2>
                <div class="bucket-wrapper" id="wrapper_abrplmcosts_costAdministrator">
                        <ol class="ptask-labels">
                            <li>Cost Wizard for:</li>
                            <ol class="process-tasks">
                                <li><a href="ab-rplm-cost-mgmt-costs-wiz-ls-bl-pr.axvw" rel="pTask" data-taskId="... Leases, Buildings and Properties" data-taskIcon="ab-icon-task.gif">... Leases, Buildings and Properties</a></li>
                                <li><a href="ab-rplm-cost-mgmt-costs-wiz-ac.axvw" rel="pTask" data-taskId="... Accounts" data-taskIcon="ab-icon-task.gif">... Accounts</a></li>
                            </ol>
                            <li class="empty-taskgroup-title">&nbsp;</li>
                            <ol class="process-tasks">
                                <li><a href="ab-repm-cost-ls-profile.axvw" rel="pTask" data-taskId="Lease Cost Profile" data-taskIcon="ab-icon-task.gif">Lease Cost Profile</a></li>
                                <li><a href="ab-repm-cost-straight-line-rent.axvw" rel="pTask" data-taskId="Straight Line Rent" data-taskIcon="ab-icon-task.gif">Straight Line Rent</a></li>
                            </ol>
                            <li class="empty-taskgroup-title">&nbsp;</li>
                            <ol class="process-tasks">
                                <li><a href="ab-rplm-cost-mgmt-cash-flow-rep.axvw" rel="pTask" data-taskId="Cash Flow Report" data-taskIcon="ab-icon-task.gif">Cash Flow Report</a></li>
                                <li><a href="ab-rplm-cost-mgmt-vat-bal.axvw" rel="pTask" data-taskId="VAT Amount Balance" data-taskIcon="ab-icon-task.gif">VAT Amount Balance</a></li>
                                <li><a href="ab-rplm-cost-mgmt-cost-rep.axvw" rel="pTask" data-taskId="Costs Report" data-taskIcon="ab-icon-task.gif">Costs Report</a></li>
                                <li><a href="ab-repm-ls-cam-report.axvw" rel="pTask" data-taskId="Lease CAM Reconciliation Report" data-taskIcon="ab-icon-task.gif">Lease CAM Reconciliation Report</a></li>
                                <li><a href="ab-repm-cost-mgmt-cam-cash-flow-rep.axvw" rel="pTask" data-taskId="CAM Cash Flow Report" data-taskIcon="ab-icon-task.gif">CAM Cash Flow Report</a></li>
                            </ol>
                            <li class="empty-taskgroup-title">&nbsp;</li>
                            <ol class="process-tasks">
                                <li><a href="ab-rplm-tax-activity-items.axvw" rel="pTask" data-taskId="Manage Tax Action Items" data-taskIcon="ab-icon-task.gif">Manage Tax Action Items</a></li>
                                <li><a href="ab-rplm-cost-mgmt-cost-rep-tax.axvw" rel="pTask" data-taskId="View Tax Costs" data-taskIcon="ab-icon-task.gif">View Tax Costs</a></li>
                                <li><a href="ab-ca-cont-rep.axvw" rel="pTask" data-taskId="Contacts" data-taskIcon="ab-icon-task.gif">Contacts</a></li>
                            </ol>
                            <li>View Recurring Costs by:</li>
                            <ol class="process-tasks">
                                <li><a href="ab-rplm-cost-mgmt-rec-cost-by-ls.axvw" rel="pTask" data-taskId="... Lease" data-taskIcon="ab-icon-task.gif">... Lease</a></li>
                                <li><a href="ab-rplm-cost-mgmt-rec-cost-by-bl.axvw" rel="pTask" data-taskId="... Building" data-taskIcon="ab-icon-task.gif">... Building</a></li>
                                <li><a href="ab-rplm-cost-mgmt-rec-cost-by-prop.axvw" rel="pTask" data-taskId="... Property" data-taskIcon="ab-icon-task.gif">... Property</a></li>
                                <li><a href="ab-rplm-cost-mgmt-rec-cost-by-ac.axvw" rel="pTask" data-taskId="... Account" data-taskIcon="ab-icon-task.gif">... Account</a></li>
                            </ol>
                            <li>View Scheduled Costs by:</li>
                            <ol class="process-tasks">
                                <li><a href="ab-rplm-cost-mgmt-sched-cost-by-ls.axvw" rel="pTask" data-taskId="-... Lease" data-taskIcon="ab-icon-task.gif">-... Lease</a></li>
                                <li><a href="ab-rplm-cost-mgmt-sched-cost-by-bl.axvw" rel="pTask" data-taskId="-... Building" data-taskIcon="ab-icon-task.gif">-... Building</a></li>
                                <li><a href="ab-rplm-cost-mgmt-sched-cost-by-prop.axvw" rel="pTask" data-taskId="-... Property" data-taskIcon="ab-icon-task.gif">-... Property</a></li>
                                <li><a href="ab-rplm-cost-mgmt-sched-cost-by-ac.axvw" rel="pTask" data-taskId="-... Account" data-taskIcon="ab-icon-task.gif">-... Account</a></li>
                            </ol>
                            <li>View Actual Costs by:</li>
                            <ol class="process-tasks">
                                <li><a href="ab-rplm-cost-mgmt-cost-by-ls.axvw" rel="pTask" data-taskId="--... Lease" data-taskIcon="ab-icon-task.gif">--... Lease</a></li>
                                <li><a href="ab-rplm-cost-mgmt-cost-by-bl.axvw" rel="pTask" data-taskId="--... Building" data-taskIcon="ab-icon-task.gif">--... Building</a></li>
                                <li><a href="ab-rplm-cost-mgmt-cost-by-prop.axvw" rel="pTask" data-taskId="--... Property" data-taskIcon="ab-icon-task.gif">--... Property</a></li>
                                <li><a href="ab-rplm-cost-mgmt-cost-by-ac.axvw" rel="pTask" data-taskId="--... Account" data-taskIcon="ab-icon-task.gif">--... Account</a></li>
                            </ol>
                            <li class="empty-taskgroup-title">&nbsp;</li>
                            <ol class="process-tasks">
                                <li><a href="ab-rplm-cost-mgmt-base-rent-by-ls.axvw" rel="pTask" data-taskId="View Base Rent Costs by Lease" data-taskIcon="ab-icon-task.gif">View Base Rent Costs by Lease</a></li>
                                <li><a href="ab-rplm-cost-mgmt-rent-exp-by-ls.axvw" rel="pTask" data-taskId="View Rent Expenses by Lease" data-taskIcon="ab-icon-task.gif">View Rent Expenses by Lease</a></li>
                                <li><a href="ab-rplm-cost-mgmt-rent-inc-by-ls.axvw" rel="pTask" data-taskId="View Rent Income by Lease" data-taskIcon="ab-icon-task.gif">View Rent Income by Lease</a></li>
                            </ol>
                            <li class="empty-taskgroup-title">&nbsp;</li>
                            <ol class="process-tasks">
                                <li><a href="ab-repm-lsadmin-prop-and-bl-bench.axvw" rel="pTask" data-taskId="Property and Building Benchmarks" data-taskIcon="ab-icon-task.gif">Property and Building Benchmarks</a></li>
                                <li><a href="ab-repm-lsadmin-ls-benchmark.axvw" rel="pTask" data-taskId="Lease Benchmarks" data-taskIcon="ab-icon-task.gif">Lease Benchmarks</a></li>
                            </ol>
                            <li class="empty-taskgroup-title">&nbsp;</li>
                            <ol class="process-tasks">
                                <li><a href="ab-repm-pfadmin-prop-finance-sum.axvw" rel="pTask" data-taskId="Property Financial Summary" data-taskIcon="ab-icon-task.gif">Property Financial Summary</a></li>
                                <li><a href="ab-repm-pfadmin-ls-financial-sum.axvw" rel="pTask" data-taskId="Lease Financial Summary" data-taskIcon="ab-icon-task.gif">Lease Financial Summary</a></li>
                            </ol>
                        </ol>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
$(document).ready(function() {
    $('#navigationTabs').find('a').click(function() {return false;});
    initDandDFavorites();
    setPageDimensions();
    bindTaskContextMenu();
    localizeFavoritesDisplayText();
    loadFavoritesBuckets();
    modifyProcessTitleDisplay();
    pageTallPTaskBuckets();
});
</script>