<div class="nav-pages" id="WasteManagement">
    <div class="page">
        <div class="page-row full-height" >
            <h3 class="application-title" data-activityId="AbRiskWasteMgmt">Waste Management</h3>
            <hr class="application-horizontal-rule">
            <div id="appProcFavoritesBucket" class="bucket-application bucket-background-light " data-activityId="" data-processId="" oncontextmenu="return false;">
                <h2 class="applications-process-title" data-processId="" title="Most often used tasks and reports.">My Favorites</h2>
                <div class="bucket-wrapper" id="wrapper_e3a2b3e9-0db7-4471-899c-cff12c6f6ce8">
                    <div class="favorites-drop-target">
                        <span class="favorites-add-target"></span>
                        <span class="favorites-delete-target">&nbsp;</span>
                    </div>
                    <div class="favorites" onMouseUp="openPtask(this,event);">
                        <ol class="favorites-items">
                        </ol>
                    </div>
                </div>
            </div>
            <div class="bucket-application " data-productId="AbRisk" data-activityId="AbRiskWasteMgmt" data-processId="Facilities - Background Data" data-productTitle="Environmental & Risk Management" data-activityTitle="Waste Management" data-processTitle="Facilities - Background Data" data-subfolder="\ab-products\risk\waste" data-helpLink="\Subsystems\webc\Content\waste\background\facility_data.htm" data-helpSystem="END USER" data-dashboardLayout="" data-dashboardView="" title="" oncontextmenu="return false;" onMouseUp="openPtask(this,event);">
                <h2 class="applications-process-title" title="">
                    <span class="process-title-text">Facilities - Background Data</span>
                </h2>
                <div class="bucket-wrapper" id="wrapper_abriskwastemgmt_facilitiesBackgroundData">
                        <ol class="ptask-labels">
                            <li></li>
                            <ol class="process-tasks">
                                <li><a href="ab-def-geo-loc.axvw" rel="pTask" data-taskId="Define Geographical Locations" data-taskIcon="ab-icon-task.gif">Define Geographical Locations</a></li>
                                <li><a href="ab-waste-def-properties.axvw" rel="pTask" data-taskId="Define Properties" data-taskIcon="ab-icon-task.gif">Define Properties</a></li>
                                <li><a href="ab-sp-def-loc.axvw" rel="pTask" data-taskId="Define Locations" data-taskIcon="ab-icon-task.gif">Define Locations</a></li>
                            </ol>
                            <li class="empty-taskgroup-title">&nbsp;</li>
                            <ol class="process-tasks">
                                <li><a href="ab-common-def-em.axvw" rel="pTask" data-taskId="Define Employees" data-taskIcon="ab-icon-task.gif">Define Employees</a></li>
                                <li><a href="ab-ca-def-cont.axvw" rel="pTask" data-taskId="Define Contacts" data-taskIcon="ab-icon-task.gif">Define Contacts</a></li>
                                <li><a href="ab-vn-edit.axvw" rel="pTask" data-taskId="Define Vendors" data-taskIcon="ab-icon-task.gif">Define Vendors</a></li>
                            </ol>
                        </ol>
                </div>
            </div>
            <div class="bucket-application " data-productId="AbRisk" data-activityId="AbRiskWasteMgmt" data-processId="Waste - Background Data" data-productTitle="Environmental & Risk Management" data-activityTitle="Waste Management" data-processTitle="Waste - Background Data" data-subfolder="\ab-products\risk\waste" data-helpLink="\Subsystems\webc\Content\waste\background\waste_background_overview.htm" data-helpSystem="END USER" data-dashboardLayout="" data-dashboardView="" title="" oncontextmenu="return false;" onMouseUp="openPtask(this,event);">
                <h2 class="applications-process-title" title="">
                    <span class="process-title-text">Waste - Background Data</span>
                </h2>
                <div class="bucket-wrapper" id="wrapper_abriskwastemgmt_wasteBackgroundData">
                        <ol class="ptask-labels">
                            <li></li>
                            <ol class="process-tasks">
                                <li><a href="ab-waste-def-container-types.axvw" rel="pTask" data-taskId="Define Waste Container Categories" data-taskIcon="ab-icon-task.gif">Define Waste Container Categories</a></li>
                                <li><a href="ab-waste-def-mgmt-methods.axvw" rel="pTask" data-taskId="Define Waste Management Methods" data-taskIcon="ab-icon-task.gif">Define Waste Management Methods</a></li>
                                <li><a href="ab-waste-def-regulated-codes.axvw" rel="pTask" data-taskId="Define Regulated Waste Codes" data-taskIcon="ab-icon-task.gif">Define Regulated Waste Codes</a></li>
                            </ol>
                            <li class="empty-taskgroup-title">&nbsp;</li>
                            <ol class="process-tasks">
                                <li><a href="ab-waste-def-transporters.axvw" rel="pTask" data-taskId="Define Waste Transporters" data-taskIcon="ab-icon-task.gif">Define Waste Transporters</a></li>
                                <li><a href="ab-waste-def-facilities.axvw" rel="pTask" data-taskId="Define Waste Processing Facilities" data-taskIcon="ab-icon-task.gif">Define Waste Processing Facilities</a></li>
                                <li><a href="ab-waste-def-generators.axvw" rel="pTask" data-taskId="Define Waste Generators" data-taskIcon="ab-icon-task.gif">Define Waste Generators</a></li>
                            </ol>
                            <li class="empty-taskgroup-title">&nbsp;</li>
                            <ol class="process-tasks">
                                <li><a href="ab-waste-def-categories-profiles.axvw" rel="pTask" data-taskId="Define Waste Categories and Profiles" data-taskIcon="ab-icon-task.gif">Define Waste Categories and Profiles</a></li>
                                <li><a href="ab-waste-assign-regulated-codes-profiles.axvw" rel="pTask" data-taskId="Assign Regulated Waste Codes to Profiles" data-taskIcon="ab-icon-task.gif">Assign Regulated Waste Codes to Profiles</a></li>
                                <li><a href="ab-waste-def-storage-tank.axvw" rel="pTask" data-taskId="Define Satellite Accumulation, Storage and Tank Areas" data-taskIcon="ab-icon-task.gif">Define Satellite Accumulation, Storage and Tank Areas</a></li>
                                <li><a href="ab-waste-def-dispositions.axvw" rel="pTask" data-taskId="Define Waste Dispositions" data-taskIcon="ab-icon-task.gif">Define Waste Dispositions</a></li>
                            </ol>
                            <li class="empty-taskgroup-title">&nbsp;</li>
                            <ol class="process-tasks">
                                <li><a href="ab-waste-def-units.axvw" rel="pTask" data-taskId="Define Units" data-taskIcon="ab-icon-task.gif">Define Units</a></li>
                                <li><a href="ab-waste-def-report-units.axvw" rel="pTask" data-taskId="Define Report Units" data-taskIcon="ab-icon-task.gif">Define Report Units</a></li>
                            </ol>
                            <li class="empty-taskgroup-title">&nbsp;</li>
                            <ol class="process-tasks">
                                <li><a href="ab-waste-def-parameters.axvw" rel="pTask" data-taskId="Configure Application Parameters" data-taskIcon="ab-icon-task.gif">Configure Application Parameters</a></li>
                            </ol>
                        </ol>
                </div>
            </div>
            <div class="bucket-application " data-productId="AbRisk" data-activityId="AbRiskWasteMgmt" data-processId="Waste - Track" data-productTitle="Environmental & Risk Management" data-activityTitle="Waste Management" data-processTitle="Track" data-subfolder="\ab-products\risk\waste" data-helpLink="\Subsystems\webc\Content\waste\track\overview.htm" data-helpSystem="END USER" data-dashboardLayout="" data-dashboardView="" title="" oncontextmenu="return false;" onMouseUp="openPtask(this,event);">
                <h2 class="applications-process-title" title="">
                    <span class="process-title-text">Track</span>
                </h2>
                <div class="bucket-wrapper" id="wrapper_abriskwastemgmt_wasteTrack">
                        <ol class="ptask-labels">
                            <li></li>
                            <ol class="process-tasks">
                                <li><a href="ab-waste-track-generation.axvw" rel="pTask" data-taskId="Track Waste Generation" data-taskIcon="ab-icon-task.gif">Track Waste Generation</a></li>
                                <li><a href="ab-waste-track-accumulation.axvw" rel="pTask" data-taskId="Track Waste Accumulation" data-taskIcon="ab-icon-task.gif">Track Waste Accumulation</a></li>
                                <li><a href="ab-waste-track-storage.axvw" rel="pTask" data-taskId="Track Waste Storage" data-taskIcon="ab-icon-task.gif">Track Waste Storage</a></li>
                                <li><a href="ab-waste-track-shipments.axvw" rel="pTask" data-taskId="Track Waste Shipments" data-taskIcon="ab-icon-task.gif">Track Waste Shipments</a></li>
                                <li><a href="ab-waste-track-discharges.axvw" rel="pTask" data-taskId="Track Waste Discharges" data-taskIcon="ab-icon-task.gif">Track Waste Discharges</a></li>
                            </ol>
                            <li class="empty-taskgroup-title">&nbsp;</li>
                            <ol class="process-tasks">
                                <li><a href="ab-waste-def-manifests.axvw" rel="pTask" data-taskId="Define Waste Manifests" data-taskIcon="ab-icon-task.gif">Define Waste Manifests</a></li>
                                <li><a href="ab-waste-track-manifests.axvw" rel="pTask" data-taskId="Track Waste Manifests" data-taskIcon="ab-icon-task.gif">Track Waste Manifests</a></li>
                            </ol>
                        </ol>
                </div>
            </div>
            <div class="bucket-application " data-productId="AbRisk" data-activityId="AbRiskWasteMgmt" data-processId="Waste - Review" data-productTitle="Environmental & Risk Management" data-activityTitle="Waste Management" data-processTitle="Review" data-subfolder="\ab-products\risk\waste" data-helpLink="\Subsystems\webc\Content\waste\review\overview.htm" data-helpSystem="END USER" data-dashboardLayout="" data-dashboardView="" title="" oncontextmenu="return false;" onMouseUp="openPtask(this,event);">
                <h2 class="applications-process-title" title="">
                    <span class="process-title-text">Review</span>
                </h2>
                <div class="bucket-wrapper" id="wrapper_abriskwastemgmt_wasteReview">
                        <ol class="ptask-labels">
                            <li>Waste Accumulation</li>
                            <ol class="process-tasks">
                                <li><a href="ab-waste-rpt-accumulation-summary.axvw" rel="pTask" data-taskId="Waste Accumulation Summary" data-taskIcon="ab-icon-task.gif">Waste Accumulation Summary</a></li>
                                <li><a href="ab-waste-rpt-haz-accumulation.axvw" rel="pTask" data-taskId="Hazardous Waste Accumulation" data-taskIcon="ab-icon-task.gif">Hazardous Waste Accumulation</a></li>
                            </ol>
                            <li>Waste Storage</li>
                            <ol class="process-tasks">
                                <li><a href="ab-waste-rpt-storage-summary.axvw" rel="pTask" data-taskId="Waste Storage Summary" data-taskIcon="ab-icon-task.gif">Waste Storage Summary</a></li>
                                <li><a href="ab-waste-rpt-haz-storage.axvw" rel="pTask" data-taskId="Hazardous Waste Storage" data-taskIcon="ab-icon-task.gif">Hazardous Waste Storage</a></li>
                            </ol>
                            <li>Waste Dispositions</li>
                            <ol class="process-tasks">
                                <li><a href="ab-waste-rpt-shipments.axvw" rel="pTask" data-taskId="Waste Shipments" data-taskIcon="ab-icon-task.gif">Waste Shipments</a></li>
                                <li><a href="ab-waste-rpt-discharges.axvw" rel="pTask" data-taskId="Waste Discharges" data-taskIcon="ab-icon-task.gif">Waste Discharges</a></li>
                                <li><a href="ab-waste-rpt-recent-dispositions.axvw" rel="pTask" data-taskId="Recently Shipped/Discharged Waste" data-taskIcon="ab-icon-task.gif">Recently Shipped/Discharged Waste</a></li>
                                <li><a href="ab-waste-rpt-shipment-finder.axvw" rel="pTask" data-taskId="Waste Shipment Finder" data-taskIcon="ab-icon-task.gif">Waste Shipment Finder</a></li>
                            </ol>
                            <li>Waste Details</li>
                            <ol class="process-tasks">
                                <li><a href="ab-waste-rpt-profile-by-cat.axvw" rel="pTask" data-taskId="Waste Profiles by Category" data-taskIcon="ab-icon-task.gif">Waste Profiles by Category</a></li>
                                <li><a href="ab-waste-rpt-profile-by-regulated-code.axvw" rel="pTask" data-taskId="Waste Profiles by Regulated Code" data-taskIcon="ab-icon-task.gif">Waste Profiles by Regulated Code</a></li>
                                <li><a href="ab-waste-rpt-container-labels.axvw" rel="pTask" data-taskId="Waste Container Labels" data-taskIcon="ab-icon-task.gif">Waste Container Labels</a></li>
                            </ol>
                            <li>Waste Manifests</li>
                            <ol class="process-tasks">
                                <li><a href="ab-waste-rpt-manifests.axvw" rel="pTask" data-taskId="Waste Manifest" data-taskIcon="ab-icon-task.gif">Waste Manifest</a></li>
                            </ol>
                            <li>Management Reports</li>
                            <ol class="process-tasks">
                                <li><a href="ab-waste-rpt-amounts.axvw" rel="pTask" data-taskId="Waste Amounts in Date Range" data-taskIcon="ab-icon-task.gif">Waste Amounts in Date Range</a></li>
                                <li><a href="ab-waste-rpt-amounts-by-cat.axvw" rel="pTask" data-taskId="Waste Amounts by Category" data-taskIcon="ab-icon-task.gif">Waste Amounts by Category</a></li>
                                <li><a href="ab-waste-rpt-summary.axvw" rel="pTask" data-taskId="Waste Summary" data-taskIcon="ab-icon-task.gif">Waste Summary</a></li>
                                <li><a href="ab-waste-rpt-totals-by-cat.axvw" rel="pTask" data-taskId="Waste Totals by Category" data-taskIcon="ab-icon-task.gif">Waste Totals by Category</a></li>
                                <li><a href="ab-waste-rpt-totals-by-cat-handler.axvw" rel="pTask" data-taskId="Waste Totals by Category and Handler" data-taskIcon="ab-icon-task.gif">Waste Totals by Category and Handler</a></li>
                                <li><a href="ab-waste-rpt-map.axvw" rel="pTask" data-taskId="Waste Management Map" data-taskIcon="ab-icon-task.gif">Waste Management Map</a></li>
                            </ol>
                        </ol>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
$(document).ready(function() {
    $('#navigationTabs').find('a').click(function() {return false;});
    initDandDFavorites();
    setPageDimensions();
    bindTaskContextMenu();
    localizeFavoritesDisplayText();
    loadFavoritesBuckets();
    modifyProcessTitleDisplay();
    pageTallPTaskBuckets();
});
</script>