<div class="nav-pages" id="PortfolioForecasting">
    <div class="page">
        <div class="page-row full-height" >
            <h3 class="application-title" data-activityId="AbRPLMGroupSpaceAllocation">Portfolio Forecasting</h3>
            <hr class="application-horizontal-rule">
            <div id="appProcFavoritesBucket" class="bucket-application bucket-background-light " data-activityId="" data-processId="" oncontextmenu="return false;">
                <h2 class="applications-process-title" data-processId="" title="Most often used tasks and reports.">My Favorites</h2>
                <div class="bucket-wrapper" id="wrapper_dc7cde2e-9914-4aae-8ebd-83727dfb4ed7">
                    <div class="favorites-drop-target">
                        <span class="favorites-add-target"></span>
                        <span class="favorites-delete-target">&nbsp;</span>
                    </div>
                    <div class="favorites" onMouseUp="openPtask(this,event);">
                        <ol class="favorites-items">
                        </ol>
                    </div>
                </div>
            </div>
            <div class="bucket-application " data-productId="AbRPLM" data-activityId="AbRPLMGroupSpaceAllocation" data-processId="Background Data" data-productTitle="Real Estate Portfolio Management" data-activityTitle="Portfolio Forecasting" data-processTitle="Background Data" data-subfolder="\ab-products\rplm\gp-space-alloc" data-helpLink="\Subsystems\webc\Content\fim\port_forecasting_trad\develop_backgrd_data.htm" data-helpSystem="END USER" data-dashboardLayout="" data-dashboardView="" title="" oncontextmenu="return false;" onMouseUp="openPtask(this,event);">
                <h2 class="applications-process-title" title="">
                    <span class="process-title-text">Background Data</span>
                </h2>
                <div class="bucket-wrapper" id="wrapper_abrplmgroupspaceallocation_backgroundData">
                        <ol class="ptask-labels">
                            <li></li>
                            <ol class="process-tasks">
                                <li><a href="ab-def-geo-loc.axvw" rel="pTask" data-taskId="Define Geographical Locations" data-taskIcon="ab-icon-task.gif">Define Geographical Locations</a></li>
                                <li><a href="ab-sp-def-loc.axvw" rel="pTask" data-taskId="Define Locations" data-taskIcon="ab-icon-task.gif">Define Locations</a></li>
                                <li><a href="ab-sp-def-org.axvw" rel="pTask" data-taskId="Define Organizations" data-taskIcon="ab-icon-task.gif">Define Organizations</a></li>
                                <li><a href="ab-sp-create-dp-hatch.axvw" rel="pTask" data-taskId="Define Organization Highlight Patterns" data-taskIcon="ab-icon-task.gif">Define Organization Highlight Patterns</a></li>
                                <li><a href="ab-sp-def-emstd.axvw" rel="pTask" data-taskId="Define Employee Standards" data-taskIcon="ab-icon-task.gif">Define Employee Standards</a></li>
                                <li><a href="ab-common-def-em.axvw" rel="pTask" data-taskId="Define Employees" data-taskIcon="ab-icon-task.gif">Define Employees</a></li>
                                <li><a href="ab-sp-def-rmstd.axvw" rel="pTask" data-taskId="Define Room Standards" data-taskIcon="ab-icon-task.gif">Define Room Standards</a></li>
                                <li><a href="ab-rplm-cost-categories-define.axvw" rel="pTask" data-taskId="Define Cost Categories" data-taskIcon="ab-icon-task.gif">Define Cost Categories</a></li>
                            </ol>
                        </ol>
                </div>
            </div>
            <div class="bucket-application " data-productId="AbRPLM" data-activityId="AbRPLMGroupSpaceAllocation" data-processId="Portfolio Forecasting" data-productTitle="Real Estate Portfolio Management" data-activityTitle="Portfolio Forecasting" data-processTitle="Portfolio Forecasting" data-subfolder="\ab-products\rplm\gp-space-alloc" data-helpLink="\Subsystems\webc\Content\web_user\port_forecasting_trad\port_forecast_over.htm" data-helpSystem="END USER" data-dashboardLayout="" data-dashboardView="" title="" oncontextmenu="return false;" onMouseUp="openPtask(this,event);">
                <h2 class="applications-process-title" title="">
                    <span class="process-title-text">Portfolio Forecasting</span>
                </h2>
                <div class="bucket-wrapper" id="wrapper_abrplmgroupspaceallocation_portfolioForecasting">
                        <ol class="ptask-labels">
                            <li></li>
                            <ol class="process-tasks">
                                <li><a href="ab-alloc-wiz-pf.axvw" rel="pTask" data-taskId="Portfolio Forecast Wizard" data-taskIcon="ab-icon-task.gif">Portfolio Forecast Wizard</a></li>
                            </ol>
                            <li class="empty-taskgroup-title">&nbsp;</li>
                            <ol class="process-tasks">
                                <li><a href="ab-alloc-report-dpdv-all.axvw" rel="pTask" data-taskId="Portfolio Forecast Department Analysis" data-taskIcon="ab-icon-task.gif">Portfolio Forecast Department Analysis</a></li>
                                <li><a href="ab-alloc-report-bldv-all.axvw" rel="pTask" data-taskId="Portfolio Forecast Building Analysis" data-taskIcon="ab-icon-task.gif">Portfolio Forecast Building Analysis</a></li>
                            </ol>
                            <li class="empty-taskgroup-title">&nbsp;</li>
                            <ol class="process-tasks">
                                <li><a href="ab-alloc-gap-chart-monthly.axvw" rel="pTask" data-taskId="Space Gap Analysis Chart" data-taskIcon="ab-icon-task.gif">Space Gap Analysis Chart</a></li>
                                <li><a href="ab-alloc-headcount.axvw" rel="pTask" data-taskId="Headcount Projection Chart" data-taskIcon="ab-icon-task.gif">Headcount Projection Chart</a></li>
                            </ol>
                            <li>Dashboards</li>
                            <ol class="process-tasks">
                                <li><a href="ab-alloc-group-analysis-dashboard.axvw" rel="pTask" data-taskId="Portfolio Forecast Analysis" data-taskIcon="ab-icon-task.gif">Portfolio Forecast Analysis</a></li>
                                <li><a href="ab-alloc-group-chart-dashboard.axvw" rel="pTask" data-taskId="Portfolio Forecast Charts" data-taskIcon="ab-icon-task.gif">Portfolio Forecast Charts</a></li>
                            </ol>
                        </ol>
                </div>
            </div>
            <div class="bucket-application " data-productId="AbRPLM" data-activityId="AbRPLMGroupSpaceAllocation" data-processId="Cost Forecasting" data-productTitle="Real Estate Portfolio Management" data-activityTitle="Portfolio Forecasting" data-processTitle="Cost Forecasting" data-subfolder="\ab-products\rplm\gp-space-alloc" data-helpLink="\Subsystems\webc\Content\web_user\port_forecasting_trad\cost_forecast_over.htm" data-helpSystem="END USER" data-dashboardLayout="" data-dashboardView="" title="" oncontextmenu="return false;" onMouseUp="openPtask(this,event);">
                <h2 class="applications-process-title" title="">
                    <span class="process-title-text">Cost Forecasting</span>
                </h2>
                <div class="bucket-wrapper" id="wrapper_abrplmgroupspaceallocation_costForecasting">
                        <ol class="ptask-labels">
                            <li></li>
                            <ol class="process-tasks">
                                <li><a href="ab-alloc-cost.axvw" rel="pTask" data-taskId="Cost Forecast Wizard" data-taskIcon="ab-icon-task.gif">Cost Forecast Wizard</a></li>
                            </ol>
                            <li class="empty-taskgroup-title">&nbsp;</li>
                            <ol class="process-tasks">
                                <li><a href="ab-alloc-report-dpdv-cost-all.axvw" rel="pTask" data-taskId="Cost Forecast Department Analysis" data-taskIcon="ab-icon-task.gif">Cost Forecast Department Analysis</a></li>
                                <li><a href="ab-alloc-report-bldv-cost-all.axvw" rel="pTask" data-taskId="Cost Forecast Building Analysis" data-taskIcon="ab-icon-task.gif">Cost Forecast Building Analysis</a></li>
                            </ol>
                        </ol>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
$(document).ready(function() {
    $('#navigationTabs').find('a').click(function() {return false;});
    initDandDFavorites();
    setPageDimensions();
    bindTaskContextMenu();
    localizeFavoritesDisplayText();
    loadFavoritesBuckets();
    modifyProcessTitleDisplay();
    pageTallPTaskBuckets();
});
</script>