<div class="nav-pages" id="EnergyManagement">
    <div class="page">
        <div class="page-row three-quarter-height" >
            <h3 class="application-title" data-activityId="AbRiskEnergyManagement">Energy Management</h3>
            <hr class="application-horizontal-rule">
            <div id="appProcFavoritesBucket" class="bucket-application bucket-background-light " data-activityId="" data-processId="" oncontextmenu="return false;">
                <h2 class="applications-process-title" data-processId="" title="Most often used tasks and reports.">My Favorites</h2>
                <div class="bucket-wrapper" id="wrapper_89d9989f-8272-4b13-b1cd-5c6391ea473d">
                    <div class="favorites-drop-target">
                        <span class="favorites-add-target"></span>
                        <span class="favorites-delete-target">&nbsp;</span>
                    </div>
                    <div class="favorites" onMouseUp="openPtask(this,event);">
                        <ol class="favorites-items">
                        </ol>
                    </div>
                </div>
            </div>
            <div class="bucket-application " data-productId="AbRisk" data-activityId="AbRiskEnergyManagement" data-processId="BPO - Facilities" data-productTitle="Environmental & Risk Management" data-activityTitle="Energy Management" data-processTitle="Business Process Owner - Facilities" data-subfolder="\ab-products\risk\energy" data-helpLink="\Subsystems\webc\Content\energy\bpo\facility.htm" data-helpSystem="END USER" data-dashboardLayout="" data-dashboardView="" title="" oncontextmenu="return false;" onMouseUp="openPtask(this,event);">
                <h2 class="applications-process-title" title="">
                    <span class="process-title-text">Business Process Owner - Facilities</span>
                </h2>
                <div class="bucket-wrapper" id="wrapper_abriskenergymanagement_bpoFacilities">
                        <ol class="ptask-labels">
                            <li></li>
                            <ol class="process-tasks">
                                <li><a href="ab-def-geo-loc.axvw" rel="pTask" data-taskId="Define Geographic Locations" data-taskIcon="ab-icon-task.gif">Define Geographic Locations</a></li>
                                <li><a href="ab-energy-def-loc.axvw" rel="pTask" data-taskId="Define Locations" data-taskIcon="ab-icon-task.gif">Define Locations</a></li>
                                <li><a href="ab-energy-define-weather-stations.axvw" rel="pTask" data-taskId="Assign Weather Stations" data-taskIcon="ab-icon-task.gif">Assign Weather Stations</a></li>
                                <li><a href="ab-sp-def-org.axvw" rel="pTask" data-taskId="Define Organizations" data-taskIcon="ab-icon-task.gif">Define Organizations</a></li>
                            </ol>
                            <li class="empty-taskgroup-title">&nbsp;</li>
                            <ol class="process-tasks">
                                <li><a href="ab-eqstd-edit.axvw" rel="pTask" data-taskId="Define Equipment Standards" data-taskIcon="ab-icon-task.gif">Define Equipment Standards</a></li>
                                <li><a href="ab-eq-edit.axvw" rel="pTask" data-taskId="Define Equipment" data-taskIcon="ab-icon-task.gif">Define Equipment</a></li>
                            </ol>
                        </ol>
                </div>
            </div>
            <div class="bucket-application " data-productId="AbRisk" data-activityId="AbRiskEnergyManagement" data-processId="BPO - Accounting" data-productTitle="Environmental & Risk Management" data-activityTitle="Energy Management" data-processTitle="Business Process Owner - Accounting" data-subfolder="\ab-products\risk\energy" data-helpLink="\Subsystems\webc\Content\energy\bpo\accounting.htm" data-helpSystem="END USER" data-dashboardLayout="" data-dashboardView="" title="" oncontextmenu="return false;" onMouseUp="openPtask(this,event);">
                <h2 class="applications-process-title" title="">
                    <span class="process-title-text">Business Process Owner - Accounting</span>
                </h2>
                <div class="bucket-wrapper" id="wrapper_abriskenergymanagement_bpoAccounting">
                        <ol class="ptask-labels">
                            <li></li>
                            <ol class="process-tasks">
                                <li><a href="ab-rplm-cost-mgmt-cost-class.axvw" rel="pTask" data-taskId="Define Cost Classes" data-taskIcon="ab-icon-task.gif">Define Cost Classes</a></li>
                                <li><a href="ab-rplm-cost-mgmt-cost-cat-by-cost-class.axvw" rel="pTask" data-taskId="Define Cost Categories by Cost Class" data-taskIcon="ab-icon-task.gif">Define Cost Categories by Cost Class</a></li>
                            </ol>
                            <li class="empty-taskgroup-title">&nbsp;</li>
                            <ol class="process-tasks">
                                <li><a href="ab-ac-edit.axvw" rel="pTask" data-taskId="Define Accounts" data-taskIcon="ab-icon-task.gif">Define Accounts</a></li>
                                <li><a href="ab-vn-edit.axvw" rel="pTask" data-taskId="Define Vendors" data-taskIcon="ab-icon-task.gif">Define Vendors</a></li>
                                <li><a href="ab-energy-vn-ac-edit.axvw" rel="pTask" data-taskId="Define Vendor Accounts" data-taskIcon="ab-icon-task.gif">Define Vendor Accounts</a></li>
                                <li><a href="ab-energy-def-utility-rates.axvw" rel="pTask" data-taskId="Define Utility Rates" data-taskIcon="ab-icon-task.gif">Define Utility Rates</a></li>
                            </ol>
                        </ol>
                </div>
            </div>
            <div class="bucket-application " data-productId="AbRisk" data-activityId="AbRiskEnergyManagement" data-processId="BPO - Utilities" data-productTitle="Environmental & Risk Management" data-activityTitle="Energy Management" data-processTitle="Business Process Owner - Utilities" data-subfolder="\ab-products\risk\energy" data-helpLink="\Subsystems\webc\Content\energy\bpo\utility.htm" data-helpSystem="END USER" data-dashboardLayout="" data-dashboardView="" title="" oncontextmenu="return false;" onMouseUp="openPtask(this,event);">
                <h2 class="applications-process-title" title="">
                    <span class="process-title-text">Business Process Owner - Utilities</span>
                </h2>
                <div class="bucket-wrapper" id="wrapper_abriskenergymanagement_bpoUtilities">
                        <ol class="ptask-labels">
                            <li></li>
                            <ol class="process-tasks">
                                <li><a href="ab-energy-bill-type-define.axvw" rel="pTask" data-taskId="Define Bill Types" data-taskIcon="ab-icon-task.gif">Define Bill Types</a></li>
                                <li><a href="ab-energy-bill-unit-define.axvw" rel="pTask" data-taskId="Define Bill Units" data-taskIcon="ab-icon-task.gif">Define Bill Units</a></li>
                            </ol>
                            <li class="empty-taskgroup-title">&nbsp;</li>
                            <ol class="process-tasks">
                                <li><a href="ab-energy-bas-def-meters.axvw" rel="pTask" data-taskId="Define Meters" data-taskIcon="ab-icon-task.gif">Define Meters</a></li>
                                <li><a href="ab-energy-bas-edit.axvw" rel="pTask" data-taskId="Process Meter Readings" data-taskIcon="ab-icon-task.gif">Process Meter Readings</a></li>
                            </ol>
                            <li class="empty-taskgroup-title">&nbsp;</li>
                            <ol class="process-tasks">
                                <li><a href="ab-energy-configure-bill-processing.axvw" rel="pTask" data-taskId="Configure Bill Processing" data-taskIcon="ab-icon-task.gif">Configure Bill Processing</a></li>
                            </ol>
                            <li class="empty-taskgroup-title">&nbsp;</li>
                            <ol class="process-tasks">
                                <li><a href="ab-energy-define-bill-connector.axvw" rel="pTask" data-taskId="Define Bill Connector Associations" data-taskIcon="ab-icon-task.gif">Define Bill Connector Associations</a></li>
                            </ol>
                            <li class="empty-taskgroup-title">&nbsp;</li>
                            <ol class="process-tasks">
                                <li><a href="ab-energy-define-proration-group.axvw" rel="pTask" data-taskId="Define Building Groups for Proration" data-taskIcon="ab-icon-task.gif">Define Building Groups for Proration</a></li>
                            </ol>
                            <li class="empty-taskgroup-title">&nbsp;</li>
                            <ol class="process-tasks">
                                <li><a href="ab-energy-bill-archive-edit-tabs.axvw" rel="pTask" data-taskId="Edit Archived Bills" data-taskIcon="ab-icon-task.gif">Edit Archived Bills</a></li>
                            </ol>
                        </ol>
                </div>
            </div>
            <div class="bucket-application " data-productId="AbRisk" data-activityId="AbRiskEnergyManagement" data-processId="Cost Administrator" data-productTitle="Environmental & Risk Management" data-activityTitle="Energy Management" data-processTitle="Cost Administrator" data-subfolder="\ab-products\risk\energy" data-helpLink="\Subsystems\webc\Content\energy\cost_admin\overview.htm" data-helpSystem="END USER" data-dashboardLayout="" data-dashboardView="" title="" oncontextmenu="return false;" onMouseUp="openPtask(this,event);">
                <h2 class="applications-process-title" title="">
                    <span class="process-title-text">Cost Administrator</span>
                </h2>
                <div class="bucket-wrapper" id="wrapper_abriskenergymanagement_costAdministrator">
                        <ol class="ptask-labels">
                            <li>Background Data</li>
                            <ol class="process-tasks">
                                <li><a href="ab-vn-edit.axvw" rel="pTask" data-taskId="Define Vendors" data-taskIcon="ab-icon-task.gif">Define Vendors</a></li>
                                <li><a href="ab-energy-vn-ac-edit.axvw" rel="pTask" data-taskId="Define Vendor Accounts" data-taskIcon="ab-icon-task.gif">Define Vendor Accounts</a></li>
                            </ol>
                            <li>Forms</li>
                            <ol class="process-tasks">
                                <li><a href="ab-energy-vn-ac-bill-line-def.axvw" rel="pTask" data-taskId="Enter Bills" data-taskIcon="ab-icon-task.gif">Enter Bills</a></li>
                                <li><a href="ab-energy-load-bills.axvw" rel="pTask" data-taskId="Load Bills" data-taskIcon="ab-icon-task.gif">Load Bills</a></li>
                                <li><a href="ab-energy-enter-bills-groups-bl.axvw" rel="pTask" data-taskId="Enter Bills for Group of Buildings" data-taskIcon="ab-icon-task.gif">Enter Bills for Group of Buildings</a></li>
                            </ol>
                        </ol>
                </div>
            </div>
        </div>
        <div class="page-row full-height" >
            <h3 class="application-title" data-activityId="AbRiskEnergyManagement">Energy Management</h3>
            <hr class="application-horizontal-rule">
            <div class="bucket-application " data-productId="AbRisk" data-activityId="AbRiskEnergyManagement" data-processId="Accounting Supervisor" data-productTitle="Environmental & Risk Management" data-activityTitle="Energy Management" data-processTitle="Accounting Supervisor" data-subfolder="\ab-products\risk\energy" data-helpLink="\Subsystems\webc\Content\energy\accounting\overview.htm" data-helpSystem="END USER" data-dashboardLayout="" data-dashboardView="" title="" oncontextmenu="return false;" onMouseUp="openPtask(this,event);">
                <h2 class="applications-process-title" title="">
                    <span class="process-title-text">Accounting Supervisor</span>
                </h2>
                <div class="bucket-wrapper" id="wrapper_abriskenergymanagement_accountingSupervisor">
                        <ol class="ptask-labels">
                            <li>Background Data</li>
                            <ol class="process-tasks">
                                <li><a href="ab-vn-edit.axvw" rel="pTask" data-taskId="Define Vendors" data-taskIcon="ab-icon-task.gif">Define Vendors</a></li>
                                <li><a href="ab-energy-vn-ac-edit.axvw" rel="pTask" data-taskId="Define Vendor Accounts" data-taskIcon="ab-icon-task.gif">Define Vendor Accounts</a></li>
                                <li><a href="ab-energy-def-utility-rates.axvw" rel="pTask" data-taskId="Define Utility Rates" data-taskIcon="ab-icon-task.gif">Define Utility Rates</a></li>
                            </ol>
                            <li>Forms</li>
                            <ol class="process-tasks">
                                <li><a href="ab-energy-vn-ac-bill-line-def.axvw" rel="pTask" data-taskId="Enter Bills" data-taskIcon="ab-icon-task.gif">Enter Bills</a></li>
                                <li><a href="ab-energy-load-bills.axvw" rel="pTask" data-taskId="Load Bills" data-taskIcon="ab-icon-task.gif">Load Bills</a></li>
                                <li><a href="ab-energy-bill-audit-approve-tabs.axvw" rel="pTask" data-taskId="Review and Approve Bills" data-taskIcon="ab-icon-task.gif">Review and Approve Bills</a></li>
                                <li><a href="ab-energy-enter-bills-groups-bl.axvw" rel="pTask" data-taskId="Enter Bills for Group of Buildings" data-taskIcon="ab-icon-task.gif">Enter Bills for Group of Buildings</a></li>
                            </ol>
                            <li>Reports</li>
                            <ol class="process-tasks">
                                <li><a href="ab-energy-bill-and-line-view.axvw" rel="pTask" data-taskId="View Bills and Line Items" data-taskIcon="ab-icon-task.gif">View Bills and Line Items</a></li>
                                <li><a href="ab-energy-archived-bill-and-line-view.axvw" rel="pTask" data-taskId="View Archived Bills and Line Items" data-taskIcon="ab-icon-task.gif">View Archived Bills and Line Items</a></li>
                                <li><a href="ab-energy-calendar.axvw" rel="pTask" data-taskId="View Bill Calendar" data-taskIcon="ab-icon-task.gif">View Bill Calendar</a></li>
                                <li><a href="ab-energy-prorated-aggregated-bills.axvw" rel="pTask" data-taskId="View Prorated/Aggregated Bills" data-taskIcon="ab-icon-task.gif">View Prorated/Aggregated Bills</a></li>
                            </ol>
                        </ol>
                </div>
            </div>
            <div class="bucket-application " data-productId="AbRisk" data-activityId="AbRiskEnergyManagement" data-processId="Energy Manager" data-productTitle="Environmental & Risk Management" data-activityTitle="Energy Management" data-processTitle="Energy Manager / Facilities Director" data-subfolder="\ab-products\risk\energy" data-helpLink="\Subsystems\webc\Content\energy\energy_mgr\overview.htm" data-helpSystem="END USER" data-dashboardLayout="" data-dashboardView="" title="" oncontextmenu="return false;" onMouseUp="openPtask(this,event);">
                <h2 class="applications-process-title" title="">
                    <span class="process-title-text">Energy Manager / Facilities Director</span>
                </h2>
                <div class="bucket-wrapper" id="wrapper_abriskenergymanagement_energyManager">
                        <ol class="ptask-labels">
                            <li></li>
                            <ol class="process-tasks">
                                <li><a href="ab-energy-console.axvw" rel="pTask" data-taskId="Utility Analysis Console" data-taskIcon="ab-icon-task.gif">Utility Analysis Console</a></li>
                            </ol>
                            <li>Utility Reports</li>
                            <ol class="process-tasks">
                                <li><a href="ab-energy-bill-and-line-view.axvw" rel="pTask" data-taskId="View Bills and Line Items" data-taskIcon="ab-icon-task.gif">View Bills and Line Items</a></li>
                                <li><a href="ab-energy-archived-bill-and-line-view.axvw" rel="pTask" data-taskId="View Archived Bills and Line Items" data-taskIcon="ab-icon-task.gif">View Archived Bills and Line Items</a></li>
                                <li><a href="ab-energy-prorated-aggregated-bills.axvw" rel="pTask" data-taskId="View Prorated/Aggregated Bills" data-taskIcon="ab-icon-task.gif">View Prorated/Aggregated Bills</a></li>
                                <li><a href="ab-energy-utility-metrics.axvw" rel="pTask" data-taskId="Utility Bill Metrics" data-taskIcon="ab-icon-task.gif">Utility Bill Metrics</a></li>
                                <li><a href="ab-energy-cash-flow-rep.axvw" rel="pTask" data-taskId="Cash Flow Report" data-taskIcon="ab-icon-task.gif">Cash Flow Report</a></li>
                                <li><a href="ab-energy-cost-by-year.axvw" rel="pTask" data-taskId="Year-to-Year Cost Comparison" data-taskIcon="ab-icon-task.gif">Year-to-Year Cost Comparison</a></li>
                                <li><a href="ab-energy-cost-locations.axvw" rel="pTask" data-taskId="Cost per Area for Multiple Locations" data-taskIcon="ab-icon-task.gif">Cost per Area for Multiple Locations</a></li>
                                <li><a href="ab-energy-consumption-by-person.axvw" rel="pTask" data-taskId="Consumption per Person" data-taskIcon="ab-icon-task.gif">Consumption per Person</a></li>
                                <li><a href="ab-energy-consumption-compare-billed.axvw" rel="pTask" data-taskId="Compare Billed Usage: Current vs Previous" data-taskIcon="ab-icon-task.gif">Compare Billed Usage: Current vs Previous</a></li>
                                <li><a href="ab-energy-year-to-date-summary.axvw" rel="pTask" data-taskId="Year-to-Date Summary" data-taskIcon="ab-icon-task.gif">Year-to-Date Summary</a></li>
                                <li><a href="ab-energy-annual-summary.axvw" rel="pTask" data-taskId="Electric Annual Summary" data-taskIcon="ab-icon-task.gif">Electric Annual Summary</a></li>
                            </ol>
                            <li>Utility Analytics</li>
                            <ol class="process-tasks">
                                <li><a href="ab-energy-cost-usage.axvw" rel="pTask" data-taskId="Cost and Usage" data-taskIcon="ab-icon-task.gif">Cost and Usage</a></li>
                                <li><a href="ab-energy-bill-prorate.axvw" rel="pTask" data-taskId="Prorate Utility Bills" data-taskIcon="ab-icon-task.gif">Prorate Utility Bills</a></li>
                                <li><a href="ab-energy-scenarios.axvw" rel="pTask" data-taskId="What-if Scenarios" data-taskIcon="ab-icon-task.gif">What-if Scenarios</a></li>
                            </ol>
                            <li>Meter Analytics</li>
                            <ol class="process-tasks">
                                <li><a href="ab-energy-bas-time.axvw" rel="pTask" data-taskId="Meter Analytics Over Time" data-taskIcon="ab-icon-task.gif">Meter Analytics Over Time</a></li>
                                <li><a href="ab-energy-bas-loc.axvw" rel="pTask" data-taskId="Meter Analytics by Location" data-taskIcon="ab-icon-task.gif">Meter Analytics by Location</a></li>
                            </ol>
                            <li>Maps</li>
                            <ol class="process-tasks">
                                <li><a href="ab-energy-thematic-map-masterview.axvw" rel="pTask" data-taskId="Thematic Energy Map" data-taskIcon="ab-icon-task.gif">Thematic Energy Map</a></li>
                            </ol>
                            <li>Weather Model Regression Analysis</li>
                            <ol class="process-tasks">
                                <li><a href="ab-energy-jobs.axvw" rel="pTask" data-taskId="Update Calculations" data-taskIcon="ab-icon-task.gif">Update Calculations</a></li>
                                <li><a href="ab-energy-usage-weather.axvw" rel="pTask" data-taskId="Usage with Weather Model" data-taskIcon="ab-icon-task.gif">Usage with Weather Model</a></li>
                                <li><a href="ab-energy-bill-processing-exceptions.axvw" rel="pTask" data-taskId="Bill Processing Exceptions" data-taskIcon="ab-icon-task.gif">Bill Processing Exceptions</a></li>
                            </ol>
                        </ol>
                </div>
            </div>
            <div class="bucket-application " data-productId="AbRisk" data-activityId="AbRiskEnergyManagement" data-processId="Operations Manager" data-productTitle="Environmental & Risk Management" data-activityTitle="Energy Management" data-processTitle="Operations / Contracts Manager" data-subfolder="\ab-products\risk\energy" data-helpLink="\Subsystems\webc\Content\energy\operations\overview.htm" data-helpSystem="END USER" data-dashboardLayout="" data-dashboardView="" title="" oncontextmenu="return false;" onMouseUp="openPtask(this,event);">
                <h2 class="applications-process-title" title="">
                    <span class="process-title-text">Operations / Contracts Manager</span>
                </h2>
                <div class="bucket-wrapper" id="wrapper_abriskenergymanagement_operationsManager">
                        <ol class="ptask-labels">
                            <li>Portfolio Analytics</li>
                            <ol class="process-tasks">
                                <li><a href="ab-energy-utility-metrics.axvw" rel="pTask" data-taskId="Utility Metrics" data-taskIcon="ab-icon-task.gif">Utility Metrics</a></li>
                            </ol>
                        </ol>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
$(document).ready(function() {
    $('#navigationTabs').find('a').click(function() {return false;});
    initDandDFavorites();
    setPageDimensions();
    bindTaskContextMenu();
    localizeFavoritesDisplayText();
    loadFavoritesBuckets();
    modifyProcessTitleDisplay();
    pageTallPTaskBuckets();
});
</script>