<div class="nav-pages" id="AdvancedPortfolioForecasting">
    <div class="page">
        <div class="page-row full-height" >
            <h3 class="application-title" data-activityId="AbRPLMPortfolioForecasting">Advanced Portfolio Forecasting</h3>
            <hr class="application-horizontal-rule">
            <div id="appProcFavoritesBucket" class="bucket-application bucket-background-light " data-activityId="" data-processId="" oncontextmenu="return false;">
                <h2 class="applications-process-title" data-processId="" title="Most often used tasks and reports.">My Favorites</h2>
                <div class="bucket-wrapper" id="wrapper_6118c4a3-b26a-4952-84dd-379c6aa14095">
                    <div class="favorites-drop-target">
                        <span class="favorites-add-target"></span>
                        <span class="favorites-delete-target">&nbsp;</span>
                    </div>
                    <div class="favorites" onMouseUp="openPtask(this,event);">
                        <ol class="favorites-items">
                        </ol>
                    </div>
                </div>
            </div>
            <div class="bucket-application " data-productId="AbRPLM" data-activityId="AbRPLMPortfolioForecasting" data-processId="Background Data" data-productTitle="Real Estate Portfolio Management" data-activityTitle="Advanced Portfolio Forecasting" data-processTitle="Background Data" data-subfolder="\ab-products\rplm\gp-space-alloc" data-helpLink="\Subsystems\webc\Content\fim\port_forecasting\develop_backgrd_data.htm" data-helpSystem="END USER" data-dashboardLayout="" data-dashboardView="" title="" oncontextmenu="return false;" onMouseUp="openPtask(this,event);">
                <h2 class="applications-process-title" title="">
                    <span class="process-title-text">Background Data</span>
                </h2>
                <div class="bucket-wrapper" id="wrapper_abrplmportfolioforecasting_backgroundData">
                        <ol class="ptask-labels">
                            <li></li>
                            <ol class="process-tasks">
                                <li><a href="ab-def-geo-loc.axvw" rel="pTask" data-taskId="Define Geographical Locations" data-taskIcon="ab-icon-task.gif">Define Geographical Locations</a></li>
                                <li><a href="ab-sp-def-loc.axvw" rel="pTask" data-taskId="Define Locations" data-taskIcon="ab-icon-task.gif">Define Locations</a></li>
                                <li><a href="ab-sp-def-org.axvw" rel="pTask" data-taskId="Define Organizations" data-taskIcon="ab-icon-task.gif">Define Organizations</a></li>
                                <li><a href="ab-sp-create-dp-hatch.axvw" rel="pTask" data-taskId="Define Organization Highlight Patterns" data-taskIcon="ab-icon-task.gif">Define Organization Highlight Patterns</a></li>
                                <li><a href="ab-sp-def-emstd.axvw" rel="pTask" data-taskId="Define Employee Standards" data-taskIcon="ab-icon-task.gif">Define Employee Standards</a></li>
                                <li><a href="ab-common-def-em.axvw" rel="pTask" data-taskId="Define Employees" data-taskIcon="ab-icon-task.gif">Define Employees</a></li>
                                <li><a href="ab-sp-def-rmstd.axvw" rel="pTask" data-taskId="Define Room Standards" data-taskIcon="ab-icon-task.gif">Define Room Standards</a></li>
                                <li><a href="ab-rplm-cost-categories-define.axvw" rel="pTask" data-taskId="Define Cost Categories" data-taskIcon="ab-icon-task.gif">Define Cost Categories</a></li>
                            </ol>
                        </ol>
                </div>
            </div>
            <div class="bucket-application " data-productId="AbRPLM" data-activityId="AbRPLMPortfolioForecasting" data-processId="Advanced Portfolio Forecasting" data-productTitle="Real Estate Portfolio Management" data-activityTitle="Advanced Portfolio Forecasting" data-processTitle="Advanced Portfolio Forecasting" data-subfolder="\ab-products\rplm\gp-space-alloc" data-helpLink="\Subsystems\webc\Content\web_user\port_forecasting\port_forecast_over.htm" data-helpSystem="END USER" data-dashboardLayout="" data-dashboardView="" title="" oncontextmenu="return false;" onMouseUp="openPtask(this,event);">
                <h2 class="applications-process-title" title="">
                    <span class="process-title-text">Advanced Portfolio Forecasting</span>
                </h2>
                <div class="bucket-wrapper" id="wrapper_abrplmportfolioforecasting_advancedPortfolioForecasting">
                        <ol class="ptask-labels">
                            <li></li>
                            <ol class="process-tasks">
                                <li><a href="ab-alloc-wiz.axvw" rel="pTask" data-taskId="Space & Portfolio Planning Console" data-taskIcon="ab-icon-task.gif">Space & Portfolio Planning Console</a></li>
                                <li><a href="ab-alloc-def-sp-req.axvw" rel="pTask" data-taskId="Define Space Requirements" data-taskIcon="ab-icon-task.gif">Define Space Requirements</a></li>
                            </ol>
                            <li class="empty-taskgroup-title">&nbsp;</li>
                            <ol class="process-tasks">
                                <li><a href="ab-sp-compare-scenarios.axvw" rel="pTask" data-taskId="Portfolio Scenario Comparison" data-taskIcon="ab-icon-task.gif">Portfolio Scenario Comparison</a></li>
                                <li><a href="ab-sp-proposed-moves.axvw" rel="pTask" data-taskId="Proposed Moves" data-taskIcon="ab-icon-task.gif">Proposed Moves</a></li>
                                <li><a href="ab-sp-req-details.axvw" rel="pTask" data-taskId="Space Requirement Details" data-taskIcon="ab-icon-task.gif">Space Requirement Details</a></li>
                            </ol>
                            <li class="empty-taskgroup-title">&nbsp;</li>
                            <ol class="process-tasks">
                            </ol>
                        </ol>
                </div>
            </div>
            <div class="bucket-application " data-productId="AbRPLM" data-activityId="AbRPLMPortfolioForecasting" data-processId="Cost Forecasting" data-productTitle="Real Estate Portfolio Management" data-activityTitle="Advanced Portfolio Forecasting" data-processTitle="Cost Forecasting" data-subfolder="\ab-products\rplm\gp-space-alloc" data-helpLink="\Subsystems\webc\Content\web_user\port_forecasting\cost_forecast_over.htm" data-helpSystem="END USER" data-dashboardLayout="" data-dashboardView="" title="" oncontextmenu="return false;" onMouseUp="openPtask(this,event);">
                <h2 class="applications-process-title" title="">
                    <span class="process-title-text">Cost Forecasting</span>
                </h2>
                <div class="bucket-wrapper" id="wrapper_abrplmportfolioforecasting_costForecasting">
                        <ol class="ptask-labels">
                            <li></li>
                            <ol class="process-tasks">
                                <li><a href="ab-alloc-cost.axvw" rel="pTask" data-taskId="Cost Forecast Wizard" data-taskIcon="ab-icon-task.gif">Cost Forecast Wizard</a></li>
                            </ol>
                            <li class="empty-taskgroup-title">&nbsp;</li>
                            <ol class="process-tasks">
                                <li><a href="ab-alloc-report-dpdv-cost-all.axvw" rel="pTask" data-taskId="Cost Forecast Department Analysis" data-taskIcon="ab-icon-task.gif">Cost Forecast Department Analysis</a></li>
                                <li><a href="ab-alloc-report-bldv-cost-all.axvw" rel="pTask" data-taskId="Cost Forecast Building Analysis" data-taskIcon="ab-icon-task.gif">Cost Forecast Building Analysis</a></li>
                            </ol>
                        </ol>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
$(document).ready(function() {
    $('#navigationTabs').find('a').click(function() {return false;});
    initDandDFavorites();
    setPageDimensions();
    bindTaskContextMenu();
    localizeFavoritesDisplayText();
    loadFavoritesBuckets();
    modifyProcessTitleDisplay();
    pageTallPTaskBuckets();
});
</script>