<div class="nav-pages" id="SpaceChargeback">
    <div class="page">
        <div class="page-row full-height" >
            <h3 class="application-title" data-activityId="AbSpaceRoomChargebackAR">Space Chargeback</h3>
            <hr class="application-horizontal-rule">
            <div id="appProcFavoritesBucket" class="bucket-application bucket-background-light " data-activityId="" data-processId="" oncontextmenu="return false;">
                <h2 class="applications-process-title" data-processId="" title="Most often used tasks and reports.">My Favorites</h2>
                <div class="bucket-wrapper" id="wrapper_c7dcf446-cadd-4bf5-b857-300307d1808e">
                    <div class="favorites-drop-target">
                        <span class="favorites-add-target"></span>
                        <span class="favorites-delete-target">&nbsp;</span>
                    </div>
                    <div class="favorites" onMouseUp="openPtask(this,event);">
                        <ol class="favorites-items">
                        </ol>
                    </div>
                </div>
            </div>
            <div class="bucket-application " data-productId="AbSpace" data-activityId="AbSpaceRoomChargebackAR" data-processId="Standard Space Chargeback" data-productTitle="Space Planning & Management" data-activityTitle="Space Chargeback" data-processTitle="Standard Space Chargeback" data-subfolder="\ab-products\space\chgbck" data-helpLink="\Subsystems\webc\Content\web_user\space\chargeback\chargeback.htm" data-helpSystem="END USER" data-dashboardLayout="" data-dashboardView="" title="" oncontextmenu="return false;" onMouseUp="openPtask(this,event);">
                <h2 class="applications-process-title" title="">
                    <span class="process-title-text">Standard Space Chargeback</span>
                </h2>
                <div class="bucket-wrapper" id="wrapper_abspaceroomchargebackar_standardSpaceChargeback">
                        <ol class="ptask-labels">
                            <li>Define Cost Per Area</li>
                            <ol class="process-tasks">
                                <li><a href="ab-sp-def-cost-per-area-bl-fl.axvw" rel="pTask" data-taskId="... For Building and Floor" data-taskIcon="ab-icon-task.gif">... For Building and Floor</a></li>
                                <li><a href="ab-sp-def-cost-per-area-rmcat-rm.axvw" rel="pTask" data-taskId="... For Room Category and Room" data-taskIcon="ab-icon-task.gif">... For Room Category and Room</a></li>
                            </ol>
                            <li>Designate Common Area:</li>
                            <ol class="process-tasks">
                                <li><a href="ab-sp-def-comn-rm.axvw" rel="pTask" data-taskId="... Rooms" data-taskIcon="ab-icon-task.gif">... Rooms</a></li>
                                <li><a href="ab-sp-def-comn-gp.axvw" rel="pTask" data-taskId="... Groups" data-taskIcon="ab-icon-task.gif">... Groups</a></li>
                            </ol>
                            <li>EXCEPTION REPORTS</li>
                            <ol class="process-tasks">
                                <li><a href="ab-sp-vw-rm-both-dp-prorate.axvw" rel="pTask" data-taskId="View Rooms with Department and Prorate" data-taskIcon="ab-icon-task.gif">View Rooms with Department and Prorate</a></li>
                                <li><a href="ab-sp-vw-rm-no-dp-prorate.axvw" rel="pTask" data-taskId="View Rooms with neither Department nor Prorate" data-taskIcon="ab-icon-task.gif">View Rooms with neither Department nor Prorate</a></li>
                                <li><a href="ab-sp-vw-vert-pen-dp-prorate.axvw" rel="pTask" data-taskId="View Vertical Penetrations with Department or Prorate" data-taskIcon="ab-icon-task.gif">View Vertical Penetrations with Department or Prorate</a></li>
                                <li><a href="ab-sp-vw-gp-both-dp-prorate.axvw" rel="pTask" data-taskId="View Groups with Department and Prorate" data-taskIcon="ab-icon-task.gif">View Groups with Department and Prorate</a></li>
                                <li><a href="ab-sp-vw-gp-no-dp-prorate.axvw" rel="pTask" data-taskId="View Groups with neither Department nor Prorate" data-taskIcon="ab-icon-task.gif">View Groups with neither Department nor Prorate</a></li>
                                <li><a href="ab-sp-vw-rm-gp-prorate.axvw" rel="pTask" data-taskId="View Mixed Inventory in Prorate Area" data-taskIcon="ab-icon-task.gif">View Mixed Inventory in Prorate Area</a></li>
                            </ol>
                            <li>CALCULATIONS</li>
                            <ol class="process-tasks">
                                <li><a href="ab-single-job.axvw?ruleId=AbCommonResources-SpaceService-updateAreaTotals" rel="pTask" data-taskId="Update Area Totals" data-taskIcon="ab-icon-task.gif">Update Area Totals</a></li>
                                <li><a href="ab-single-job.axvw?ruleId=AbCommonResources-SpaceService-performChargebackAllRoom" rel="pTask" data-taskId="Perform Chargeback" data-taskIcon="ab-icon-task.gif">Perform Chargeback</a></li>
                            </ol>
                            <li>RESULTS</li>
                            <ol class="process-tasks">
                                <li><a href="ab-sp-vw-chrgbk-anal.axvw" rel="pTask" data-taskId="View Detailed Chargeback Analysis" data-taskIcon="ab-icon-task.gif">View Detailed Chargeback Analysis</a></li>
                                <li><a href="ab-sp-vw-fin-stmnt.axvw" rel="pTask" data-taskId="View Financial Statement by Division" data-taskIcon="ab-icon-task.gif">View Financial Statement by Division</a></li>
                                <li><a href="ab-sp-vw-pro.axvw" rel="pTask" data-taskId="View Prorate Report" data-taskIcon="ab-icon-task.gif">View Prorate Report</a></li>
                                <li><a href="ab-sp-vw-area-remain.axvw" rel="pTask" data-taskId="View Remaining Area" data-taskIcon="ab-icon-task.gif">View Remaining Area</a></li>
                                <li><a href="ab-sp-hl-comn-rm.axvw" rel="pTask" data-taskId="Highlight Common Area Rooms" data-taskIcon="ab-icon-task.gif">Highlight Common Area Rooms</a></li>
                                <li><a href="ab-sp-hl-comn-gp.axvw" rel="pTask" data-taskId="Highlight Common Area Groups" data-taskIcon="ab-icon-task.gif">Highlight Common Area Groups</a></li>
                            </ol>
                        </ol>
                </div>
            </div>
            <div class="bucket-application " data-productId="AbSpace" data-activityId="AbSpaceRoomChargebackAR" data-processId="Shared Workplace Chargeback" data-productTitle="Space Planning & Management" data-activityTitle="Space Chargeback" data-processTitle="Shared Workplace Chargeback" data-subfolder="\ab-products\space\chgbck" data-helpLink="\Subsystems\webc\Content\web_user\space\shared_cb\shared.htm" data-helpSystem="END USER" data-dashboardLayout="" data-dashboardView="" title="" oncontextmenu="return false;" onMouseUp="openPtask(this,event);">
                <h2 class="applications-process-title" title="">
                    <span class="process-title-text">Shared Workplace Chargeback</span>
                </h2>
                <div class="bucket-wrapper" id="wrapper_abspaceroomchargebackar_sharedWorkplaceChargeback">
                        <ol class="ptask-labels">
                            <li>Define Cost Per Area</li>
                            <ol class="process-tasks">
                                <li><a href="ab-sp-def-cost-per-area-bl-fl.axvw" rel="pTask" data-taskId="... For Building and Floor" data-taskIcon="ab-icon-task.gif">... For Building and Floor</a></li>
                                <li><a href="ab-sp-def-cost-per-area-rmcat-rm.axvw" rel="pTask" data-taskId="... For Room Category and Room" data-taskIcon="ab-icon-task.gif">... For Room Category and Room</a></li>
                            </ol>
                            <li>CALCULATIONS</li>
                            <ol class="process-tasks">
                                <li><a href="ab-single-job.axvw?ruleId=AbCommonResources-SpaceService-synchronizeSharedRooms" rel="pTask" data-taskId="Synchronize Shared Rooms" data-taskIcon="ab-icon-task.gif">Synchronize Shared Rooms</a></li>
                                <li><a href="ab-sp-alloc-pct.axvw" rel="pTask" data-taskId="Allocate Percentages" data-taskIcon="ab-icon-task.gif">Allocate Percentages</a></li>
                                <li><a href="ab-single-job.axvw?ruleId=AbCommonResources-SpaceService-updateAreaTotalsSpace" rel="pTask" data-taskId="Update Area Totals - Space" data-taskIcon="ab-icon-task.gif">Update Area Totals - Space</a></li>
                                <li><a href="ab-sp-upd-area-tots-space-time.axvw" rel="pTask" data-taskId="Update Area Totals - Space, Time" data-taskIcon="ab-icon-task.gif">Update Area Totals - Space, Time</a></li>
                                <li><a href="ab-single-job.axvw?ruleId=AbCommonResources-SpaceService-performChargebackSharedWorkspace" rel="pTask" data-taskId="Perform Chargeback" data-taskIcon="ab-icon-task.gif">Perform Chargeback</a></li>
                            </ol>
                            <li>RESULTS</li>
                            <ol class="process-tasks">
                                <li><a href="ab-sp-vw-overalloc-underalloc-rm.axvw" rel="pTask" data-taskId="View Over-allocated and Under-allocated Rooms" data-taskIcon="ab-icon-task.gif">View Over-allocated and Under-allocated Rooms</a></li>
                                <li><a href="ab-ht-rpt-ovrall-util-by-dp.axvw" rel="pTask" data-taskId="View Overall Utilization by Department" data-taskIcon="ab-icon-task.gif">View Overall Utilization by Department</a></li>
                                <li><a href="ab-ht-rpt-ovrall-util-by-rm.axvw" rel="pTask" data-taskId="View Overall Utilization by Room" data-taskIcon="ab-icon-task.gif">View Overall Utilization by Room</a></li>
                                <li><a href="ab-ht-rpt-ovrall-util-by-bl.axvw" rel="pTask" data-taskId="View Overall Utilization by Building" data-taskIcon="ab-icon-task.gif">View Overall Utilization by Building</a></li>
                            </ol>
                            <li>View Room Prorations by:</li>
                            <ol class="process-tasks">
                                <li><a href="ab-sp-vw-rmpct-by-bl-fl.axvw" rel="pTask" data-taskId="... Building and Floor" data-taskIcon="ab-icon-task.gif">... Building and Floor</a></li>
                                <li><a href="ab-sp-vw-rmpct-by-dv-dp.axvw" rel="pTask" data-taskId="... Division and Department" data-taskIcon="ab-icon-task.gif">... Division and Department</a></li>
                                <li><a href="ab-sp-vw-rmpct-by-fl-dp.axvw" rel="pTask" data-taskId="... Floor and Department" data-taskIcon="ab-icon-task.gif">... Floor and Department</a></li>
                                <li><a href="ab-sp-vw-rmpct-by-rmcat-rmtype.axvw" rel="pTask" data-taskId="... Category and Type" data-taskIcon="ab-icon-task.gif">... Category and Type</a></li>
                            </ol>
                            <li class="empty-taskgroup-title">&nbsp;</li>
                            <ol class="process-tasks">
                                <li><a href="ab-sp-vw-rmpct-chrgbk-anal.axvw" rel="pTask" data-taskId="View Detailed Chargeback Analysis" data-taskIcon="ab-icon-task.gif">View Detailed Chargeback Analysis</a></li>
                                <li><a href="ab-sp-vw-rmpct-fin-stmnt.axvw" rel="pTask" data-taskId="View Financial Statement by Division" data-taskIcon="ab-icon-task.gif">View Financial Statement by Division</a></li>
                                <li><a href="ab-sp-vw-rmpct-pro.axvw" rel="pTask" data-taskId="View Prorate Report" data-taskIcon="ab-icon-task.gif">View Prorate Report</a></li>
                                <li><a href="ab-sp-vw-area-remain.axvw" rel="pTask" data-taskId="View Remaining Area" data-taskIcon="ab-icon-task.gif">View Remaining Area</a></li>
                                <li><a href="ab-sp-hl-comn-rm.axvw" rel="pTask" data-taskId="Highlight Common Area Rooms" data-taskIcon="ab-icon-task.gif">Highlight Common Area Rooms</a></li>
                            </ol>
                        </ol>
                </div>
            </div>
            <div class="bucket-application " data-productId="AbSpace" data-activityId="AbSpaceRoomChargebackAR" data-processId="Department Manager" data-productTitle="Space Planning & Management" data-activityTitle="Space Chargeback" data-processTitle="Department Manager" data-subfolder="\ab-products\space\chgbck" data-helpLink="\Subsystems\webc\Content\web_user\space\chargeback\dept_mgr.htm" data-helpSystem="END USER" data-dashboardLayout="" data-dashboardView="" title="" oncontextmenu="return false;" onMouseUp="openPtask(this,event);">
                <h2 class="applications-process-title" title="">
                    <span class="process-title-text">Department Manager</span>
                </h2>
                <div class="bucket-wrapper" id="wrapper_abspaceroomchargebackar_departmentManager">
                        <ol class="ptask-labels">
                            <li></li>
                            <ol class="process-tasks">
                                <li><a href="ab-sp-vw-dp-fin-stmnt.axvw" rel="pTask" data-taskId="View Department Financial Statement" data-taskIcon="ab-icon-task.gif">View Department Financial Statement</a></li>
                                <li><a href="ab-sp-vw-dp-rmpct-fin-stmnt.axvw" rel="pTask" data-taskId="View Department Shared Workplace Financial Statement" data-taskIcon="ab-icon-task.gif">View Department Shared Workplace Financial Statement</a></li>
                            </ol>
                        </ol>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
$(document).ready(function() {
    $('#navigationTabs').find('a').click(function() {return false;});
    initDandDFavorites();
    setPageDimensions();
    bindTaskContextMenu();
    localizeFavoritesDisplayText();
    loadFavoritesBuckets();
    modifyProcessTitleDisplay();
    pageTallPTaskBuckets();
});
</script>