<div class="nav-pages" id="BusinessLogicAdd-ins">
    <div class="page">
        <div class="page-row full-height" >
            <h3 class="application-title" data-activityId="AbSolutionsLogicAddIns">Business Logic Add-Ins</h3>
            <hr class="application-horizontal-rule">
            <div id="appProcFavoritesBucket" class="bucket-application bucket-background-light " data-activityId="" data-processId="" oncontextmenu="return false;">
                <h2 class="applications-process-title" data-processId="" title="Most often used tasks and reports.">My Favorites</h2>
                <div class="bucket-wrapper" id="wrapper_5983e0f4-6a8c-4205-b475-93bb02998de1">
                    <div class="favorites-drop-target">
                        <span class="favorites-add-target"></span>
                        <span class="favorites-delete-target">&nbsp;</span>
                    </div>
                    <div class="favorites" onMouseUp="openPtask(this,event);">
                        <ol class="favorites-items">
                        </ol>
                    </div>
                </div>
            </div>
            <div class="bucket-application " data-productId="AbSolutionTemplates" data-activityId="AbSolutionsLogicAddIns" data-processId="Workflow" data-productTitle="Technologies" data-activityTitle="Business Logic Add-Ins" data-processTitle="Workflow" data-subfolder="\ab-products\solutions" data-helpLink="" data-helpSystem="END USER" data-dashboardLayout="" data-dashboardView="" title="" oncontextmenu="return false;" onMouseUp="openPtask(this,event);">
                <h2 class="applications-process-title" title="">
                    <span class="process-title-text">Workflow</span>
                </h2>
                <div class="bucket-wrapper" id="wrapper_absolutionslogicaddins_workflow">
                        <ol class="ptask-labels">
                            <li>Workflow Rule Definitions</li>
                            <ol class="process-tasks">
                                <li><a href="ab-wf-rules-by-activity.axvw" rel="pTask" data-taskId="Workflow Rules" data-taskIcon="ab-icon-task.gif">Workflow Rules</a></li>
                                <li><a href="ab-basic-rule-wizard.axvw" rel="pTask" data-taskId="Basic Rule Wizard" data-taskIcon="ab-icon-task.gif">Basic Rule Wizard</a></li>
                                <li><a href="ab-wf-rules-scheduled.axvw" rel="pTask" data-taskId="Scheduled Workflow Rules" data-taskIcon="ab-icon-task.gif">Scheduled Workflow Rules</a></li>
                            </ol>
                            <li>Workflow Rule Invocations</li>
                            <ol class="process-tasks">
                                <li><a href="ab-ex-report-panel-workflow-rule.axvw" rel="pTask" data-taskId="Invoking a Rule from a Panel Button" data-taskIcon="ab-icon-task.gif">Invoking a Rule from a Panel Button</a></li>
                                <li><a href="ab-ex-report-grid-row-workflow-rules.axvw" rel="pTask" data-taskId="Invoking Rules from Per-Row Buttons" data-taskIcon="ab-icon-task.gif">Invoking Rules from Per-Row Buttons</a></li>
                                <li><a href="ab-ex-report-grid-multiselect-workflow-rules.axvw" rel="pTask" data-taskId="Invoking Rules on Multiply-Selected Rows" data-taskIcon="ab-icon-task.gif">Invoking Rules on Multiply-Selected Rows</a></li>
                            </ol>
                            <li class="empty-taskgroup-title">&nbsp;</li>
                            <ol class="process-tasks">
                                <li><a href="ab-ex-hello-world.axvw" rel="pTask" data-taskId="Hello World Workflow Rule" data-taskIcon="ab-icon-task.gif">Hello World Workflow Rule</a></li>
                                <li><a href="ab-ex-logic-cookbook.axvw" rel="pTask" data-taskId="Logic Cookbook Examples" data-taskIcon="ab-icon-task.gif">Logic Cookbook Examples</a></li>
                                <li><a href="ab-bl-job.axvw" rel="pTask" data-taskId="Long-Running Job Example" data-taskIcon="ab-icon-task.gif">Long-Running Job Example</a></li>
                            </ol>
                        </ol>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
$(document).ready(function() {
    $('#navigationTabs').find('a').click(function() {return false;});
    initDandDFavorites();
    setPageDimensions();
    bindTaskContextMenu();
    localizeFavoritesDisplayText();
    loadFavoritesBuckets();
    modifyProcessTitleDisplay();
    pageTallPTaskBuckets();
});
</script>