<div class="nav-pages" id="MyWorkflowActivity">
    <div class="page">
        <div class="page-row full-height" >
            <h3 class="application-title" data-activityId="AbSolutionsWorkflow">My Workflow Activity</h3>
            <hr class="application-horizontal-rule">
            <div id="appProcFavoritesBucket" class="bucket-application bucket-background-light " data-activityId="" data-processId="" oncontextmenu="return false;">
                <h2 class="applications-process-title" data-processId="" title="Most often used tasks and reports.">My Favorites</h2>
                <div class="bucket-wrapper" id="wrapper_c952b3f9-ada5-44ef-a1fe-799f2b8a64e0">
                    <div class="favorites-drop-target">
                        <span class="favorites-add-target"></span>
                        <span class="favorites-delete-target">&nbsp;</span>
                    </div>
                    <div class="favorites" onMouseUp="openPtask(this,event);">
                        <ol class="favorites-items">
                        </ol>
                    </div>
                </div>
            </div>
            <div class="bucket-application " data-productId="AbSolutionTemplates" data-activityId="AbSolutionsWorkflow" data-processId="Workflow" data-productTitle="Technologies" data-activityTitle="My Workflow Activity" data-processTitle="Workflow" data-subfolder="\adn-products\solutions\workflow" data-helpLink="" data-helpSystem="END USER" data-dashboardLayout="" data-dashboardView="" title="" oncontextmenu="return false;" onMouseUp="openPtask(this,event);">
                <h2 class="applications-process-title" title="">
                    <span class="process-title-text">Workflow</span>
                </h2>
                <div class="bucket-wrapper" id="wrapper_absolutionsworkflow_workflow">
                        <ol class="ptask-labels">
                            <li>Restricted Views</li>
                            <ol class="process-tasks">
                                <li><a href="ab-ex-helpdesk-request-wizard-twin.axvw" rel="pTask" data-taskId="Requestor -- Create New Request Wizard" data-taskIcon="ab-icon-task.gif">Requestor -- Create New Request Wizard</a></li>
                                <li><a href="ab-ex-helpdesk-review-twin.axvw" rel="pTask" data-taskId="Requestor -- Review Your  Requests" data-taskIcon="ab-icon-task.gif">Requestor -- Review Your  Requests</a></li>
                                <li><a href="ab-ex-helpdesk-approve-twin.axvw" rel="pTask" data-taskId="Approver -- Approve Requests" data-taskIcon="ab-icon-task.gif">Approver -- Approve Requests</a></li>
                                <li><a href="ab-ex-helpdesk-complete-twin.axvw" rel="pTask" data-taskId="Craftsperson -- Complete Your Assigned Requests" data-taskIcon="ab-icon-task.gif">Craftsperson -- Complete Your Assigned Requests</a></li>
                            </ol>
                            <li>Process Owner Views</li>
                            <ol class="process-tasks">
                                <li><a href="ab-ex-helpdesk-wizard.axvw" rel="pTask" data-taskId="Supervisor -- Help Desk Process Wizard" data-taskIcon="ab-icon-task.gif">Supervisor -- Help Desk Process Wizard</a></li>
                                <li><a href="ab-helpdesk-activity-parameters.axvw" rel="pTask" data-taskId="Process Owner - Help Desk Process Parameters" data-taskIcon="ab-icon-task.gif">Process Owner - Help Desk Process Parameters</a></li>
                            </ol>
                        </ol>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
$(document).ready(function() {
    $('#navigationTabs').find('a').click(function() {return false;});
    initDandDFavorites();
    setPageDimensions();
    bindTaskContextMenu();
    localizeFavoritesDisplayText();
    loadFavoritesBuckets();
    modifyProcessTitleDisplay();
    pageTallPTaskBuckets();
});
</script>