.dx-scheduler-work-space.dx-scheduler-timeline-work-week.dx-scheduler-work-space-grouped .dx-scheduler-sidebar-scrollable,
.dx-scheduler-work-space.dx-scheduler-timeline-week.dx-scheduler-work-space-grouped .dx-scheduler-sidebar-scrollable,
.dx-scheduler-work-space.dx-scheduler-timeline-day.dx-scheduler-work-space-grouped .dx-scheduler-sidebar-scrollable,
.dx-scheduler-work-space.dx-scheduler-timeline-month.dx-scheduler-work-space-grouped .dx-scheduler-sidebar-scrollable {
    padding-bottom: 87px;
    margin-bottom: -87px;
}
.dx-scheduler-timeline.dx-scheduler-work-space-both-scrollbar .dx-scheduler-sidebar-scrollable .dx-scrollable-content {
    border-top: 0px;
}
.dx-scheduler-header .dx-widget {
    font-family: inherit;
}
.dx-scheduler-header .dx-button-text {
    line-height: inherit;
    font-size: 16px;
}
.dx-scheduler-view-switcher-label, .dx-scheduler-view-switcher.dx-dropdownmenu.dx-button {
    visibility: hidden;    
}
.dx-field-item-label-text {
    font-size: 14px;
}
.dx-texteditor-input {
    font-size: 14px;
}
.dx-widget {
    font-size: 14px;
}

.dx-scheduler-timeline.dx-scheduler-work-space-grouped[dx-group-column-count='1'] .dx-scheduler-group-table,
.dx-scheduler-timeline.dx-scheduler-work-space-grouped[dx-group-column-count='1'] .dx-scheduler-sidebar-scrollable,
.dx-scheduler-timeline.dx-scheduler-work-space-grouped[dx-group-column-count='1'] .dx-scheduler-sidebar-scrollable:before {
    width: 200px;
}
.dx-scheduler-timeline.dx-scheduler-work-space-grouped[dx-group-column-count='1'] .dx-scheduler-date-table-scrollable,
.dx-scheduler-timeline.dx-scheduler-work-space-grouped[dx-group-column-count='1'] .dx-scheduler-header-scrollable {
    margin-left: 200px;
}

.dx-scheduler-header-row:nth-child(1) .dx-scheduler-header-panel-cell {
    border-left: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}

.dx-scheduler-header-row:nth-child(2) .dx-scheduler-header-panel-cell {
    vertical-align: bottom;
    padding-bottom: 5px;
    font-size: 12px;
    border-top: 1px solid rgba(221, 221, 221, 0.6);
}

.dx-scheduler-timeline .dx-scheduler-group-header .dx-scheduler-group-header-content div {
    font-size: 14px;
    font-weight: bold;
    top: 0;
    -webkit-transform: inherit;
    -moz-transform: inherit;
    -ms-transform: inherit;
    transform: inherit;
}

.dx-scheduler-header-panel-cell {
    border-right: none;
}

.dx-scheduler-date-table-cell {
    border-right: solid
}

.dx-scheduler-work-space-grouped.dx-scheduler-work-space.dx-scheduler-timeline-week.dx-scheduler-timeline .dx-scheduler-header-panel-cell,
.dx-scheduler-work-space-grouped.dx-scheduler-work-space.dx-scheduler-timeline-week.dx-scheduler-timeline .dx-scheduler-date-table-cell,
.dx-scheduler-work-space-grouped.dx-scheduler-work-space.dx-scheduler-timeline-work-week.dx-scheduler-timeline .dx-scheduler-header-panel-cell,
.dx-scheduler-work-space-grouped.dx-scheduler-work-space.dx-scheduler-timeline-work-week.dx-scheduler-timeline .dx-scheduler-date-table-cell  {
    width:20px;
}

.dx-scheduler-work-space-grouped.dx-scheduler-work-space.dx-scheduler-timeline-month.dx-scheduler-timeline .dx-scheduler-header-panel-cell,
.dx-scheduler-work-space-grouped.dx-scheduler-work-space.dx-scheduler-timeline-month.dx-scheduler-timeline .dx-scheduler-date-table-cell {
    width:10px;
}

.dx-scheduler-work-space-grouped.dx-scheduler-work-space.dx-scheduler-timeline-day.dx-scheduler-timeline .dx-scheduler-header-panel-cell,
.dx-scheduler-work-space-grouped.dx-scheduler-work-space.dx-scheduler-timeline-day.dx-scheduler-timeline .dx-scheduler-date-table-cell {
    width:10px!important;
}

.dx-scheduler-work-space-grouped.dx-scheduler-work-space.dx-scheduler-timeline-work-week.dx-scheduler-timeline .dx-scheduler-header-panel,
.dx-scheduler-work-space-grouped.dx-scheduler-work-space.dx-scheduler-timeline-work-week.dx-scheduler-timeline .dx-scrollable-both .dx-scheduler-date-table,
.dx-scheduler-work-space-grouped.dx-scheduler-work-space.dx-scheduler-timeline-week.dx-scheduler-timeline .dx-scheduler-header-panel,
.dx-scheduler-work-space-grouped.dx-scheduler-work-space.dx-scheduler-timeline-week.dx-scheduler-timeline .dx-scrollable-both .dx-scheduler-date-table {
    width: 450px!important;
}

.dx-scheduler-work-space-grouped.dx-scheduler-work-space.dx-scheduler-timeline-week.dx-scheduler-timeline .dx-scheduler-header-row:nth-child(1) .dx-scheduler-header-panel-cell, 
.dx-scheduler-work-space-grouped.dx-scheduler-work-space.dx-scheduler-timeline-work-week.dx-scheduler-timeline .dx-scheduler-header-row:nth-child(1) .dx-scheduler-header-panel-cell {
    width: 240px!important;
}

.dx-scheduler-work-space-both-scrollbar .dx-scheduler-date-table-cell {
    height: 111px;
}

.dx-scheduler-work-space.dx-scheduler-timeline-week .dx-scheduler-header-scrollable, 
.dx-scheduler-work-space.dx-scheduler-timeline-work-week .dx-scheduler-header-scrollable {
	height:87px;
}

.dx-scheduler-work-space.dx-scheduler-timeline-day .dx-scheduler-header-scrollable{
	height:57px;
}

.dx-scheduler-date-table-scrollable .dx-scrollable-scrollbar {
    z-index: 2000;
}