.problemTypeBox {
    display: flex;
    margin: 8px 4px;
    padding: 0 0 0 20px;
    background-repeat: no-repeat;
    background-position: 4px 50%;
}
.problemTypeCheckBox {
    vertical-align: middle;
}
.problemTypeBox.collapsed {
    background-image: url("/archibus/schema/ab-core/graphics/icons/tri-closed.png");
}
.problemTypeBox.expanded {
    background-image: url("/archibus/schema/ab-core/graphics/icons/tri-opened.png");
}

.workRequestBox {
    display: flex;
    border: 1px solid #CCC;
    background-color: rgba(51, 122, 183, 0.1);
    margin: 8px 4px 0px 8px;
    padding: 4px 0 4px 4px;
}
.workRequestData {
    order: 1;
    width: 92%;
}
.workRequestHandle {
    order: 2;
    flex: 1;
    margin-right: -3px;
    margin-top: -5px;
    margin-bottom: -5px;
    background-color: rgb(51, 122, 183);
    cursor: move;
}
.workRequestDragImage {
    position: absolute;
    margin-left: -125px;
    width: 112px;
    background-color: rgb(51, 122, 183);
    color: white;
    padding: 8px;
}

.workRequestData span {
    padding-right: 4px;
}
.workRequestData span.description {
    display: block;
    height: 36px;
    overflow: hidden;
    color: #E47505;
    font-weight: bold;
    cursor: pointer;
}
.workRequestData td.dateLabel {
    width: 60px;
    color: rgb(51, 122, 183);
    font-weight: bold;
    text-align: right;
    padding-right: 4px;
}
.workRequestData td.dateValue {
    width: 75px;
    color: rgb(51, 122, 183);
    font-weight: bold;
    text-align: left;
}
.workRequestData td.code {
    color: rgb(51, 122, 183);
    cursor: pointer;
}
.workRequestData td.priority {
    color: #E47505;
    font-weight: bold;
    text-align:right;
}

.workRequestsTotals {
    padding-top: 5px;
    width: 100%;
}
.workRequestsTotals td.totalsLabel {
    text-align: right;
}
.workRequestsTotals td.totalsValue {
    width: 50px;
}