
.dx-scheduler-work-space .dx-scheduler-date-table-cell {
    height:20px;
}
.dx-scheduler-work-space .dx-scheduler-all-day-panel,
.dx-scheduler-work-space .dx-scheduler-header-panel {
	width:950px!important;
}

.dx-scheduler-work-space-month.dx-scrollable {
    width: 1050px!important;
}

.dx-scheduler-date-table {
    width: 950px;
}

.dx-scrollable-content {
	width:1050px;
}

.dx-scheduler-work-space-month .dx-scrollable .dx-scrollable-content {
	width:950px;
}
.dx-scheduler-time-panel-cell {
    height: 40px;
}

.unscheduleListItemDragImage {
    position: absolute;
    margin-left: 0px;
    width: 112px;
    background-color: rgb(51, 122, 183);
    color: white;
    padding: 8px;
}

.statisticsTitle {
    font-weight:bold;
}
        
.statisticsComponent {
    height:100%;
    width: 50%;
    float:left;
}

div.standard-hours {
    background-color: #00CC00;
}
div.overtime-hours {
    background-color: #CC0000;
}
div.doubletime-hours {
    background-color: #9900CC;
}

div.sitevisit-hours {
    background-color: #eefa14;
    color:black;
}

div.unavailable-hours {
    background: repeating-linear-gradient(
            45deg,
            white,
            white 2px,
            rgb(51, 122, 183) 0px,
            rgb(51, 122, 183) 6px
    );
}