/* 2014-01 ARE FK */

/************** REPLACE - SIGNS IN FULLY  EXPANDED TREE ***************/

/* first or middle sibling, collapsable */
.ygtvtm {
    width: 16px;
    height: 22px;
    cursor: pointer;
    background: url(/archibus/schema/ar-products/ar-utils/ar-tree-utils/tm_hidden.gif) 0 0 no-repeat;
}
/* first or middle sibling, collapsable, hover */
.ygtvtmh {
    width: 16px;
    height: 22px;
    cursor: pointer;
    background: url(/archibus/schema/ar-products/ar-utils/ar-tree-utils/tm_hidden.gif) 0 0 no-repeat;
}

/* last sibling, collapsable */
.ygtvlm {
    width: 16px;
    height: 22px;
    cursor: pointer;
    background: url(/archibus/schema/ar-products/ar-utils/ar-tree-utils/lm_hidden.gif) 0 0 no-repeat;
}
/* last sibling, collapsable, hover */
.ygtvlmh {
    width: 16px;
    height: 22px;
    cursor: pointer;
    background: url(/archibus/schema/ar-products/ar-utils/ar-tree-utils/lm_hidden.gif) 0 0 no-repeat;
}
