.enumPanel {
    list-style-type: none;
    padding: 0;
    margin: auto;
    text-align: center;
}

.enumPanel li{
    margin: 4px 4px 2px 0;
    text-align: center;
}

.enumPanel table {
    width: 100%;
}

.enumPanel th {
    text-align: center;
    font-style: italic;
    font-size: 14px;
}

.enumPanel .drag {
    background: url(../images/wf-drag.png) no-repeat;
    height: 16px;
    width: 22px;
    margin: auto;
    cursor: pointer;
}

.placeholder {
    height: 1.8em;
    background-color: #F3F7FB;
    border: thin dashed #036899;
    padding: 8px;
}