.panelReport {
    table-layout: fixed;
}

.panelReport th.convert, .panelReport td.convert {
    width: 30%;
}

.panelReport th.file, .panelReport td.file {
    width: 60%;
}

.panelReport td.file {
    word-wrap: break-word;
}
.panelReport td.convert, .panelReport td.file {
    color: #ff0000;
}

.panelReport th.action, .panelReport td.action {
    width: 5%;
}

.action .edit {
    background: url(../../images/wf-edit.png) no-repeat;
    cursor: pointer;
    height: 16px;
    width: 16px;
}
.action .display {
    background: url(../../images/wf-display.png) no-repeat;
    cursor: pointer;
    height: 16px;
    width: 16px;
}